@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@using Znode.Engine.MvcDemo;
@model ProductViewModel

@{
    foreach (var att in Model.ProductAttributes.Attributes)
    {
        <div class="attibute-section">
            <div class="form-group">
                <label>@att.Name</label>
                <div class="form-field">
                    @(Model.IsCallForPricing ? Html.AttributeDropDownList("AttributeId", att.DropdownAttributes, att.ToBeFiltered, new { @class = "attribute", rel = att.AttributeTypeId, disabled = "disabled" }) : Html.AttributeDropDownList("AttributeId", att.DropdownAttributes, att.ToBeFiltered, new { @class = "attribute", rel = att.AttributeTypeId }))
                </div>
            </div>
        </div>
    }
}

@*@{
        if (Model.ShowQuantity)
        {
            <div class="col-sm-6 nopadding">
                <div class="form-group">
                    <div class="col-sm-12 nopadding">
                        <label for="Quantity">@Resources.ZnodeResource.ColumnTitleQuantity</label>
                    </div>
                    <div class="col-sm-12 nopadding">
                        <select name="Quantity" id="Quantity" class="quantity" @(Model.IsCallForPricing ? "disabled" : "")>
                            @for (int quantity = @Model.MinQuantity; quantity <= @Model.MaxQuantity; quantity++)
                            {
                                <option value="@quantity" @(Model.MinQuantity == quantity ? "selected" : "")>@quantity</option>
                            }
                        </select>
                        @if (Model.ShowAddToCart)
                        {
                            <div id="dynamic-inventory" class="status-outofstock hvr-pulse"></div>
                        }
                        else
                        {
                            <div id="dynamic-inventory" class="status-outofstock hvr-pulse">@Model.InventoryMessage</div>
                        }
                    </div>
                </div>
            </div>
        }
    }*@
@Scripts.Render("~/bundles/QuantityJS")