﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@using Resources
@model ProductViewModel

@{
    bool enableCompare = ViewBag.IsEnableCompare;
    string compareType = Convert.ToString(ViewBag.CompareType);
}
<div class="item">
    <div class="product-item">
        <div class="view-item">
            <div class="product-img">
                <a href="@Url.GetProductUrl(Model.SeoPageName, Model.ProductId.ToString())">
                    @if (Model.IsFeatured)
                    {
                        <span class="product-highlight"><span class="product-highlight-text">Sale</span></span>
                    }
                    <div class="image">
                        <img id="@Model.ProductId" src="/Images/t.gif" class="img-responsive" data-src="@Model.ImageMediumPath" alt="@Model.ImageAltTag" />
                    </div>
                </a>
            </div>
            @if (Model.SwatchImages != null && Model.SwatchImages.Any())
            {
                <div class="swatch-img-label">
                    <span>@Resources.ZnodeResource.TextSwatchOnCategoryPage</span>
                </div>
                <div class="swatch-img-container">
                    <ul id="alt-images" class="swatch-img">
                        @foreach (var image in Model.SwatchImages)
                        {
                            <li>
                                <img src="@image.ImageSmallThumbnailPath" class="SwatchImage" alt="@image.ImageAltTag" data-imgid="@Model.ProductId" title="@image.ImageAltTag" data-mediumsrc="@image.ImageMediumPath" />
                            </li>
                        }
                    </ul>
                </div>
            }
            <div class="product-details">
                <a href="@Url.GetProductUrl(Model.SeoPageName, Model.ProductId.ToString())">
                    <h4 class="title">@WebUtility.HtmlDecode(Model.Name)</h4>
                </a>
                <div class="product-rating">
                    #@Model.Sku
                </div>
                @*@if (Model.IsCallForPricing)
                {
                    <h4 class="product-price">@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "ProductCallForPricing" }); }</h4>
                }
                else
                {
                    <h4 class="product-price">
                        @HelperMethods.FormatPriceWithCurrency(Model.ProductPrice)
                        @if (Model.Price != @Model.ProductPrice)
                        {
                            <span class="cut-price">@HelperMethods.FormatPriceWithCurrency(Model.Price)</span>
                        }
                    </h4>
                }*@
                <div class="text-center">
                    <div class="link-text">
                        <a href="@Url.GetProductUrl(Model.SeoPageName, Model.ProductId.ToString())">@Resources.ZnodeResource.ViewDetailsText</a>
                    </div>
                    
                    @using (Html.BeginForm("AddToCart", "Product", FormMethod.Post))
                    {
                        @Html.Hidden("ProductId", Model.ProductId)
                        @Html.Hidden("Sku", Model.Sku)
                        @Html.Hidden("Quantity", 1)
                        @Html.Hidden("bundleItemsIds", Model.BundleItemsIds)

                        if (Model.AddOns != null && Model.AddOns.Any())
                        {
                            @Html.Hidden("AddOnValueIds", string.Join(",", Model.AddOns.Where(x => x.SelectedAddOnValue != null).SelectMany(x => x.SelectedAddOnValue)))
                        }
                    }
                </div>
            </div>

        </div>
    </div>
</div>
