﻿@using System.Collections.ObjectModel
@using Znode.Engine.MvcDemo.ViewModels

@model Collection<ProductViewModel>

@{
    foreach (var p in Model)
    {
        <div id="view-option">
            @Html.Partial("../Product/_ProductTitleHome", p)
        </div>
    }
}
