﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@model ProductViewModel

<div class="view-item">
    @if (Model.IsNewProduct)
    {
        <img src="~/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag" />
    }
    <div class="product-img">
        <a href="@Url.GetProductUrl(Model.SeoPageName, Model.ProductId.ToString())">
            @if (Model.IsFeatured)
            {
                <span class="product-highlight"><span class="product-highlight-text">Sale</span></span>
            }
            <div class="image">
                <img id="@Model.ProductId" src="@Model.ImageMediumPath" data-src="@Model.ImageMediumPath" alt="@Model.ImageAltTag" class="img-responsive" />
            </div>
        </a>
    </div>
    <div class="product-details">
        <a href="@Url.GetProductUrl(Model.SeoPageName, Model.ProductId.ToString())">
            <h4 class="title">@WebUtility.HtmlDecode(Model.Name)</h4>
        </a>
        @*PRFT Custom HTML: Start*@
        @if (!Model.Sku.IsEmpty())
        {
            <div class="product-rating product-id">#@Model.Sku</div>
        }
        @*PRFT Custom HTML: End*@
        @*@if (Model.IsCallForPricing)
        {
            <h4 class="product-price">@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "ProductCallForPricing" }); }</h4>
        }
        else
        {
            <h4 class="product-price">
                @HelperMethods.FormatPriceWithCurrency(Model.ProductPrice)
                @if (Model.Price != @Model.ProductPrice)
                {
                    <span class="cut-price">@HelperMethods.FormatPriceWithCurrency(Model.Price)</span>
                }
            </h4>
        }*@
        @*PRFT Custom HTML: Start*@
        <div class="link-text"><a class="view-detail" href="@Url.GetProductUrl(Model.SeoPageName, Model.ProductId.ToString())" title="@Resources.ZnodeResource.ViewDetailsText">@Resources.ZnodeResource.ViewDetailsText</a></div>
        @*PRFT Custom HTML: End*@
    </div>
</div>
