﻿@using System.Collections.ObjectModel
@using Znode.Engine.MvcDemo.ViewModels
@model Collection<ProductViewModel>

@if (Model != null && Model.Any())
{
    var _productCount = ViewBag.ProductCount;
    <div class="home-product-view">
        <div class="product-grid recent-view-products_relProduct" id="recent-view-products">
            @{
                foreach (var p in Model)
                {
                    <div class="item">
                        <div class="product-item">
                            @Html.Partial("../Product/_ProductList", p)
                        </div>
                    </div>
                }
            }
        </div>

    </div>
                }
<script type="text/javascript">
    $('.recent-view-products_relProduct').each(function () {
        $(this).owlCarousel(
        {
            autoPlay: false,
            navigation: true,
            items: 5,
            itemsDesktop: [1200, 4],
            itemsDesktopSmall: [979, 4],
            itemsTablet: [996, 3],
            itemsMobile: [600, 1],
            navigationText: [
              "<i class='glyphicon glyphicon-chevron-left'></i>",
              "<i class='glyphicon glyphicon-chevron-right'></i>"
            ]
        });
    })
</script>