﻿
@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@model BundleDetailsViewModel

<div id="layout-bundlesettings" class="main-wrapper product-meta" data-id="@Model.SelectedProductId">

    <div class="container">
        <div class="row bundle-setting">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Resources.ZnodeResource.TextIncludeWithPurchase</h1>
            </div>

            <div class="col-xs-12 nopadding">
                <h3 class="sub-title">@WebUtility.HtmlDecode(@Model.ProductName)</h3>
                <p>@Resources.ZnodeResource.TextBundleSetting</p>

                <form class="form" id="bundleform" method="post" action="/product/continuetocart">
                    <input type="hidden" id="dynamic-productId" name="SelectedProductId" value="@Model.SelectedProductId" />
                    <input type="hidden" id="dynamic-sku" name="SelectedSku" value="@Model.SelectedSku" />
                    <input type="hidden" id="dynamic-quanity" name="SelectedQuantity" value="@Model.SelectedQuantity" />
                    <input type="hidden" id="dynamic-attributes" name="SelectedAttributesIds" value="@Model.SelectedAttributesIds" />
                    <input type="hidden" id="dynamic-addons" name="SelectedAddOnValueIds" value="@Model.SelectedAddOnValueIds" />
                    <input type="hidden" id="dynamic-productName" name="ProductName" value="@Model.ProductName" />
                    <input type="hidden" id="dynamic-seopagename" name="SeoPageName" value="@Model.SeoPageName" />
                    <input type="hidden" id="dynamic-addonvaluecustomtext" name="AddOnValuesCustomText" value="@Model.AddOnValuesCustomText" />

                    <div class="col-xs-12 nopadding">
                        @Html.EditorFor(bundle => Model.Bundles)
                    </div>                    
                    <div class="col-xs-12 nopadding">
                        <div class="pull-right">
                            <button type="submit" class="btn-text red" @(Model.Bundles.Any(x => x.ShowAddToCart == false) ? "disabled=disabled" : "")>@Resources.ZnodeResource.ButtonContinueToCart</button>
                            <a href="@Url.GetProductUrl(Model.SeoPageName, Convert.ToString(Model.SelectedProductId))" class="btn-text grey">@Resources.ZnodeResource.ButtonBackToProduct</a>
                        </div>                        
                    </div>
                    <input type="hidden" id="dynamic-bundle-attributeId" name="SelectedBundleAttributeId" />
                    <input type="hidden" id="dynamic-bundle-ProductId" name="SelectedBundleProductId" />
                </form>
            </div>

        </div>
    </div>  
</div>
