﻿@using System.Web.UI.WebControls
@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@using Resources;
@using System.Configuration;
@model ProductViewModel

@{
    ViewBag.Description = Model.SeoDescription;
    ViewBag.Keywords = Model.SeoKeywords;
    var technicalDocumentUrl = Znode.Engine.MvcDemo.Helpers.HelperMethods.GetTechnicalDocumentsFilePath();

    PRFTHelper prfthelper = new PRFTHelper();
    var isB2BCustomer = prfthelper.IsB2BUser();
}
@{
    var kvpDownloadLink = new List<KeyValuePair<string, string>>();
    var downloadLinks = Model.DownloadLink;
    if (!string.IsNullOrEmpty(downloadLinks))
    {
        string[] links = downloadLinks.Split(',');
        foreach (var link in links)
        {
            if (!string.IsNullOrEmpty(link) && link.Contains('#'))
            {
                string[] nameValuePair = link.Split('#');
                if (nameValuePair.Length >= 1 && nameValuePair[1].Trim().StartsWith("http"))
                {
                    kvpDownloadLink.Add(new KeyValuePair<string, string>(nameValuePair[0], nameValuePair[1].Trim()));
                }
                else
                {
                    bool flag = Znode.Engine.MvcDemo.Helpers.HelperMethods.CheckFileExists(nameValuePair[1].Trim());
                    if (flag)
                    {
                        kvpDownloadLink.Add(new KeyValuePair<string, string>(nameValuePair[0], technicalDocumentUrl + nameValuePair[1].Trim()));
                    }
                }
            }
            else if (link.Trim().Equals("Please contact us for MSDS Sheet.", StringComparison.InvariantCultureIgnoreCase))
            {
                kvpDownloadLink.Add(new KeyValuePair<string, string>("Please contact us for MSDS Sheet.", ViewBag.CustomerServicePhoneNumber));
            }
        }
    }
}

<div id="layout-product" class="main-wrapper product-meta" data-id="@Model.ProductId">
    <div class="container" itemscope itemtype="http://schema.org/Product">

        <div class="row product-view-details">
            @*PRFT Custom HTML : Start*@
            <div class="social-share">
                <span id="email-a-friend">
                    <a href=""><i class="zf-envelope" title="Email a Friend"></i></a>
                </span>
                <span title="Print" onclick="window.print();" class="print-icon">&nbsp;</span>
                @*<button type="button" class="btn-wishlist" onclick="window.print();"><i class="zf-printer"></i>Print</button>*@
            </div>

            @*<div class="social-share">
                    <span title="Email Friend" id="emailFriend" class="email-icon">&nbsp;</span>
                    <span title="Print" onclick="window.print();" class="print-icon">&nbsp;</span>
                </div>*@


            @*PRFT Custom HTML : End*@
            <div class="product-top-container clearfix">
                <div class="product-images">

                    <div class="col-xs-12 nopadding image-view">
                        @if (Model.IsNewProduct)
                        {
                            <img src="~/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag" />
                        }
                        @*PRFT Custom HTML for Is on Sale: Start*@
                        @if (Model.IsFeatured)
                        {
                            <span class="product-highlight"><span class="product-highlight-text">Sale</span></span>
                        }
                        @*PRFT Custom HTML for Is on Sale: End*@
                        <div class="simpleLens-gallery-container" id="demo-1">
                            <div class="simpleLens-container">
                                <div class="simpleLens-big-image-container">
                                    @*PRFT Custom Code : Start*@
                                    @*<a id="product-lens-image" class="simpleLens-lens-image" data-lens-image="@Model.ImageLargePath">
                                        <img id="product-image" src="/Images/t.gif" data-src="@Model.ImageLargePath" alt="@Model.ImageAltTag" class="simpleLens-big-image" />*@

                                    <a id="product-lens-image" class="simpleLens-lens-image" data-lens-image="@prfthelper.CheckImageExists(string.Format(System.Configuration.ConfigurationManager.AppSettings["OriginalImagePath"], System.Configuration.ConfigurationManager.AppSettings["ZnodeApiRootUri"]), @Model.ImageLargePath)">
                                        <img id="product-image" itemprop="image" src="/Images/t.gif" data-src="@Model.ImageLargePath" alt="@Model.ImageAltTag" class="simpleLens-big-image" />

                                        @*PRFT Custom Code : End*@
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>
                    @*PRFT Custom HTML: Start*@
                    @if (Model.SwatchImages != null && Model.SwatchImages.Any())
                    {
                        <div class="swatch-img-container">
                            @*<label>@Resources.ZnodeResource.TextSwatchOnDetailPage</label>*@
                            <ul class="swatch-img">
                                @foreach (var image in Model.SwatchImages)
                                {
                                    <li>
                                        <img src="@image.ImageSmallThumbnailPath" class="SwatchImage img-responsive" alt="@image.ImageAltTag" title="@image.ImageAltTag" data-largesrc="@image.ImageLargePath" data-mediumsrc="@image.ImageMediumPath" />
                                    </li>
                                }
                            </ul>
                        </div>
                    }

                    @*@if (Model.Images != null && Model.Images.Any())
                        {

                            <div class="col-xs-12 nopadding product-altimages">
                                <div id="alt-images" class="owl-carousel alternate-img">
                                    @foreach (var image in Model.Images)
                                    {
                                        <div class="item">
                                            <a href="@image.ImageLargePath" data-lightbox="enlarge" title="@image.Name">
                                                <img src="/Images/t.gif" class="img-responsive" data-src="@image.ImageSmallPath" alt="@image.ImageAltTag" />
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        }*@
                    @*PRFT Custom HTML: End*@
                </div>
                <div class="product-overview" >
                    <h1 class="product-name" itemprop="name">@WebUtility.HtmlDecode(Model.Name)</h1>
                    @*PRFT Commented HTML: Start*@
                    <div class="product-rating">
                        @*@Html.Partial("_StarRating", Model.Rating)*@
                        @{
                            int totalreviews = 0;

                            if (Model.ProductReviews != null && Model.ProductReviews.Items.Any())
                            {
                                totalreviews = Model.ProductReviews.Items.Count();
                            }
                        }
                        @*(@totalreviews) <a href="#scrollReview" id="jumpto-readreviews">@Resources.ZnodeResource.LinkTextReadReviews</a>*@
                    </div>
                    @*PRFT Commented HTML : End*@

                    <div class="product-number-details">
                        <div class="product-number">
                            @*PRFT  Custom HTML : start*@
                            <label>SKU:</label>
                            @*@Html.Raw(Model.ProductNumber)*@
                            <span itemprop="sku">@Html.Raw(Model.Sku)</span>
                            @*PRFT  Custom HTML : end*@
                        </div>
                        @*PRFT Commented HTML: Start*@
                        <div class="product-brand" itemprop="brand" itemscope itemtype="http://schema.org/Organization">
                            @if (!string.IsNullOrEmpty(Model.Manufacturer))
                            {
                                <span>@Resources.ZnodeResource.LabelProductBrand</span>
                                <span itemprop="name">
                                    @Html.Raw(Model.Manufacturer)</span>
                            }
                        </div>
                        @*PRFT Commented HTML: Start*@
                        <div class="product-vendor">
                            @if (!string.IsNullOrEmpty(Model.VendorName))
                            {
                                <span>@Resources.ZnodeResource.TextVendorName</span>
                                <a href="mailto:@Model.VendorEmail">@Html.DisplayFor(x => x.VendorName)</a>
                            }
                        </div>
                    </div>


                    <div class="product-short-description">
                        @Html.Raw(Model.ShortDescription)
                    </div>
                    @*<div class="col-xs-12 nopadding product-description">@Html.Raw(Model.Description)</div>*@

                    <div class="highlight-container">
                        @* PRFT Commented HTML sTART - NOT TO DELETE *@
                        @*<div class="col-xs-12 product-highlight nopadding">
                                @{
                                    if (!Equals(Model.ProductId, null))
                                    {
                                        Html.RenderAction("GetAssociatedProductHighlights", "Product", new { productId = Model.ProductId });
                                    }
                                }
                            </div>*@
                        @* PRFT Commented HTML END - NOT TO DELETE *@
                        <div class="product-status">
                            <ul>
                                @*<li><span>@Html.Raw(Model.InventoryMessage)</span></li>*@
                                @if (Model.MaxQuantity <= 0)
                                {
                                <li class="out-of-stock"><span>@Resources.ZnodeResource.TextOutofStock</span></li>
                                }
                                else
                                {
                                    <li><span>@Resources.ZnodeResource.TextInstock</span></li>
                                }
                                <li><span>@Resources.ZnodeResource.TextShipsWithIn24hours</span></li>
                                @if (!isB2BCustomer)
                                {
                                    <li><span>$@ConfigurationManager.AppSettings["minimumOrderValue"] Minimum Order Value</span></li>
                                }
                            </ul>
                            <div></div>
                        </div>
                    </div>
                    @*<div class="product-price">
                            @if (!Model.IsCallForPricing)
                            {
                                <h2>
                                    @HelperMethods.FormatPriceWithCurrency(Model.ProductPrice)
                                    @if (Model.Price != @Model.ProductPrice)
                                    {
                                        <span class="cut-price">@HelperMethods.FormatPriceWithCurrency(Model.Price)</span>
                                    }
                                </h2>
                            }
                        </div>*@
                    @*PRFT Custom Html: Start*@
                    <div class="addrons-attributs">
                        <div id="dynamic-product-variations">
                            @{ Html.RenderPartial("_attributes"); }
                        </div>
                        <div id="dynamic-product-addons">
                            @Html.Partial("_Addons")
                        </div>
                    </div>
                    @*PRFT Custom Html : End*@
                    <div class="col-xs-12 nopadding">
                        @{
                            if (!string.IsNullOrEmpty(Model.BundleItemsIds))
                            {
                                Html.RenderAction("GetBundleDisplay", "Product", new { ids = Model.BundleItemsIds });
                            }
                        }
                    </div>
                    <div class="product-variations" id="scrollReview">
                        <form id="addtocart-form" method="post" action="/product/addtocart">
                            <input type="hidden" id="dynamic-productId" name="productId" value="@Model.ProductId" />
                            <input type="hidden" id="dynamic-productName" name="ProductName" value="@Model.Name" />
                            <input type="hidden" id="dynamic-sku" name="sku" value="@Model.Sku" />
                            <input type="hidden" id="dynamic-price" value="@Model.Price" />
                            <input type="hidden" id="dynamic-bundleItemsIds" name="bundleItemsIds" value="@Model.BundleItemsIds" />
                            <input type="hidden" id="dynamic-seoPageName" name="SeoPageName" value="@Model.SeoPageName" />
                            @if (Model.AddOns != null && Model.AddOns.Any())
                            {
                                <input type="hidden" id="dynamic-addons" name="AddOnValueIds" value="@string.Join(",", Model.AddOns.Where(x => x.SelectedAddOnValue != null).SelectMany(x => x.SelectedAddOnValue))" />
                                <input type="hidden" id="dynamic-addonvaluecustomtext" name="AddOnValuesCustomText" />
                            }


                            @*@PRFT Custom HTML : Start*@
                            <div class="add-cart-section">
                                @{
                                    if (Model.ShowQuantity)
                                    {
                                        <div class="quantity-options-section clearfix">
                                            <label for="Quantity">@Resources.ZnodeResource.ColumnTitleQuantity</label>

                                            <div class="quantity-options">
                                                <!--PRFT Custom HTML:Start-->
                                                <!--Old HTML: Start-->
                                                @*<select  name="Quantity" id="Quantity" class="quantity"  @(Model.IsCallForPricing ? "disabled" : "") >
                                                        @for (int quantity = @Model.MinQuantity; quantity <= @Model.MaxQuantity; quantity++)
                                                        {
                                                            <option value="@quantity">@quantity</option>
                                                        }
                                                    </select>*@
                                                <!--Old HTML: End-->
                                                @Html.TextBoxFor(m => m.MinQuantity, new { @id = "Quantity", @class = "quantity", @name = "Quantity", @maxlength = "5" })
                                                @*<span id="qtyErrorMessage" class="error-msg"></span>*@
                                                
                                                <!--PRFT Custom HTML:End-->
                                                @*@if (Model.ShowAddToCart)
                                                    {
                                                    @*<div id="dynamic-inventory" class="status-outofstock hide"></div>
                                                    }
                                                    else
                                                    {
                                                    @*<div id="dynamic-inventory" class="status-outofstock">@Model.InventoryMessage</div>
                                                    }*@
                                            </div>
                                            <p class="form-error"> @Html.ValidationMessageFor(m => m.MinQuantity)</p>
                                        </div>
                                    }
                                }
                                <div class="btn-section"><button type="submit" class="btn-text-full red" id="button-addtocart" @(!Model.ShowAddToCart ? "disabled=disabled" : "")> @Resources.ZnodeResource.ButtonAddToCart</button></div>
                                <p id="dynamic-inventory" class="error-msg"></p>                                                                
                            </div>

                            @*@PRFT Custom HTML : End*@
                            <div class="your-pricing">
                                @*PRFT Commented HTML : Start*@
                                <div class="product-wishlist link-text">
                                    @*<a data-id="@Model.ProductId">@Resources.ZnodeResource.ButtonAddToWishlist</a>*@
                                    <button type="button" data-id="@Model.ProductId" class="btn-wishlist button-wishlist">@Resources.ZnodeResource.ButtonAddToWishlist</button>
                                    @*<button type="button" class="btn-wishlist" onclick="window.print();"><i class="zf-printer"></i>Print</button>
                                        <a href="/search?category=@WebUtility.UrlEncode(Model.CategoryName)" class="btn-wishlist" id="categoryLink"><i class="zf-small-arrow"></i>@Resources.ZnodeResource.LinkSeeMore <span id="categoryName"></span></a>*@

                                    @*<div class="col-xs-12 col-sm-6 col-md-4 nopadding">
                                            <div class="pull-right">
                                                <div id="product-socialsharing">
                                                    @Html.Partial("_socialsharing")
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                                @*PRFT Commented HTML : End*@

                                @if (Model.IsCallForPricing)
                                {
                                    <h4 class="product-price">@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "ProductCallForPricing" }); }</h4>
                                }
                                        else
                                        {

                                            <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                <label>@Resources.ZnodeResource.ColumnYourPrice</label>
                                                @if (Model.Price == Model.OriginalPrice)
                                                {
                                                    <span class="dynamic-product-price-currency" itemprop="priceCurrency" content="USD">$</span><span class="dynamic-product-price" itemprop="price">@HelperMethods.FormatPriceWithCurrency(Model.ProductPrice).Replace("$",string.Empty)</span>
                                                }
                                                else
                                                {
                                                    <span class="dynamic-product-price-currency" itemprop="priceCurrency" content="USD">$</span><span class="dynamic-product-price" itemprop="price">@HelperMethods.FormatPriceWithCurrency(Model.OriginalPrice).Replace("$", string.Empty)</span>
                                                }
                                            </div>
                                        }
                            </div>
                            @*PRFT Commented HTML: Start*@
                            @*<div class="col-xs-12 product-customize nopadding">
                                @if (Model.SwatchImages != null && Model.SwatchImages.Any())
                                {
                                    <div class="col-xs-12 swatch-img-container">
                                        <label>@Resources.ZnodeResource.TextSwatchOnDetailPage</label>
                                        <ul class="swatch-img">
                                            @foreach (var image in Model.SwatchImages)
                                            {
                                                <li>
                                                    <img src="@image.ImageSmallThumbnailPath" class="SwatchImage img-responsive" alt="@image.ImageAltTag" title="@image.ImageAltTag" data-largesrc="@image.ImageLargePath" data-mediumsrc="@image.ImageMediumPath" />
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }


                                <div class="col-xs-12 addrons-attributs">
                                    <div class="col-xs-12 nopadding" id="dynamic-product-variations">
                                        @{ Html.RenderPartial("_attributes"); }
                                    </div>
                                    <div class="col-xs-12 nopadding" id="dynamic-product-addons">
                                        @Html.Partial("_Addons")
                                    </div>
                                </div>*@
                            @*PRFT Commented HTML: Start*@
                        </form>
                    </div>
                    @if (Model.ProductAttributes.Attributes.Count > 0)
                    {
                        <div class="viewall-btn-container">
                            <a href="#groupProductList" class="btn-text-full red">View All Product Options</a>
                        </div>
                    }
                </div>
            </div>
            <div class="product-bottom-container" id="product-content">
                <div class="product-details-tab">
                    @*PRFT Custom HTML: Start*@
                    <div id="product-longdetail-container" class="product-desc">
                        @*<h2>@Resources.ZnodeResource.TextProductDescription</h2>*@
                        <h2>Product Description</h2>
                        <div class="product-description" itemprop="description">@Html.Raw(@WebUtility.HtmlDecode(Model.Description))</div>
                    </div>
                    <div id="product-longdetail-container" class="product-feature-desc">
                        <h2>Features Description</h2>
                        <div class="product-description">@Html.Raw(@WebUtility.HtmlDecode(Model.FeaturesDescription))</div>
                    </div>
                    <div id="product-specification-container" class="product-specification">
                        <h2>@Resources.ZnodeResource.TextProductSpecifications</h2>
                        <div class="product-specification-list">
                            @Html.Raw(@WebUtility.HtmlDecode(Model.ProductSpecification))
                        </div>
                    </div>
                </div>
                @if (kvpDownloadLink != null && kvpDownloadLink.Count > 0)
                {
                    <div class="product-document-section">
                        <div>
                            <h2>Documents</h2>
                            <div class="document-list-section">
                                @foreach (var link in kvpDownloadLink)
                                {
                                    if (link.Value.Trim().StartsWith("http"))
                                    {
                                        <a href="@link.Value" name="@link.Key" target="_blank">@link.Key</a>
                                    }
                                    else
                                    {
                                        <span title="@ViewBag.CustomerServicePhoneNumber">@link.Key</span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
                @*PRFT Custom HTML: Start*@
                                        @*PRFT Commented HTML: Start*@
                                        @*<ul id="myTab" class="nav nav-tabs">
                                                <li class="active"><a href="#panel-1" data-toggle="tab" class="tabs">@Resources.ZnodeResource.TextProductDetails</a></li>
                                                <li><a href="#panel-2" data-toggle="tab" class="tabs">@Resources.ZnodeResource.TextProductSpecifications</a></li>
                                                <li><a href="#panel-3" data-toggle="tab" id="tab-reviews" class="tabs">@Resources.ZnodeResource.TextCustomerReviews</a></li>
                                            </ul>
                                            <div id="myTabContent" class="tab-content scroll-default">
                                                <!--Panels 1-->
                                                <div class="tab-pane fade in active" id="panel-1">
                                                    <div id="product-longdetail-container">
                                                        @Html.Raw(@WebUtility.HtmlDecode(@Model.FeaturesDescription))
                                                    </div>
                                                </div>
                                                <!--Panels 2-->
                                                <div class="tab-pane fade" id="panel-2">
                                                    <div id="product-specification-container">
                                                        @Html.Raw(@WebUtility.HtmlDecode(@Model.ProductSpecification))
                                                    </div>
                                                </div>
                                                <!--Panels 3-->
                                                <div class="tab-pane fade" id="panel-3">
                                                    <div class="col-xs-12 nopadding">
                                                        <a href="/Product/writereview?id=@Model.ProductId&name=@Model.Name" id="button-writeReview" class="btn-text red pull-right">@Resources.ZnodeResource.LinkTextWriteReview</a>
                                                    </div>
                                                    <div class="col-xs-12 nopadding">
                                                        <div id="product-review-container">

                                                            @{
                                                                int reviewsCount = 0;
                                                                if (Model.ProductReviews != null)
                                                                {
                                                                    reviewsCount = totalreviews > MvcDemoConstants.ProductReviewCount ? MvcDemoConstants.ProductReviewCount : totalreviews;

                                                                    for (int iReviewCount = 0; iReviewCount < reviewsCount; iReviewCount++)
                                                                    {
                                                                        @Html.Partial("_ReviewRow", Model.ProductReviews.Items[iReviewCount])
                                                                    }
                                                                    if (Model.ProductReviews.Items.Count > MvcDemoConstants.ProductReviewCount)
                                                                    {
                                                                        <p class="text-center">
                                                                            @Html.ActionLink(string.Format(Resources.ZnodeResource.LinkTextMoreReview, Model.ProductReviews.Items.Count - MvcDemoConstants.ProductReviewCount), "Allreviews", "Product", new { id = @Model.ProductId }, new { @class = "underline" })
                                                                        </p>
                                                                    }
                                                                }
                                                            }
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>*@
                                        @*PRFT Commented HTML: Start*@
                                    </div>

                                    @*PRFT Custom HTML : Start*@
                                    @if (Model.ProductAttributes.Attributes.Count > 0)
                                    {
                                        <div id="groupProductList" class="productdetail-grid-container">
                                            @{ Html.RenderAction("Index", "GroupProduct", new { id = Model.ProductId }); }
                                        </div>
                                                }
                                                @*PRFT Custom HTML : End*@




                                            </div>

                                            <div class="row slider-section">
                                                <div class="product-extras">
                                                    <div class="yml-section">
                                                        @* Bought togther, max 2 items *@
                                                        @{
                                                            if (!string.IsNullOrEmpty(Model.FBTProductsIds))
                                                            {
                                                                <div id="fbt-products" class="lazycontent" data-params='{"ids":"@Model.FBTProductsIds","accountid":@ViewBag.AccountId}' data-append="#fbt-products">
                                                                    <h4>@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "FrequentlyBoughtTitle" }); }</h4>
                                                                </div>
                                                                        }
                                                        }

                                                        @* You might like, any number (display max 5) *@
                                                        @{
                                                            if (!string.IsNullOrEmpty(Model.YMALProductsIds))
                                                            {
                                                                <div id="yml-products" class="lazycontent" data-params='{"ids":"@Model.YMALProductsIds","accountid":@ViewBag.AccountId}' data-append="#yml-products">
                                                                    <h4>@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "ProductRelatedProductsTitle" }); }</h4>
                                                                </div>
                                                                        }
                                                        }
                                                    </div>
                                                    <div id="recently-viewed-header" style="display:none;">
                                                        @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "RecentlyViewedTitle" }); }
                                                    </div>
                                                    <div id="recent-view-products" class="recommended-product-section">
                                                        <span class="recent-view-items"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @Html.HiddenFor(model => model.IsQuickView, new { @id = "hdnQuickView" })
                                        <div id="successMessageDiv" style="display:none">
                                        </div>
                                        <div id="divSendMail" style="display:none">
                                        </div>
                                    </div>
                                    <script id="tmpl-wishliststatus" type="text/template">
                                        <div class="col-xs-12 nopadding wishlist-status"><a href="{{link}}" class="{{style}}">{{message}}</a></div>
                                    </script>
                                    <script>
                                        $(document).ready(function () {
                                            $("#alt-images, #yml-products").owlCarousel({
                                                autoPlay: false,
                                                items: 5, //PRFT Custom code
                                                navigation: true,
                                                itemsCustom: [
                                                  [0, 2],
                                                  [320, 2],
                                                  [600, 3],
                                                  [768, 4],
                                                  [992, 3],
                                                  [1200, 4]
                                                ],
                                                navigationText: [
                                                  "<i class='glyphicon glyphicon-chevron-left'></i>",
                                                  "<i class='glyphicon glyphicon-chevron-right'></i>"
                                                ]
                                            });
                                        });
                                    </script>