﻿@model Znode.Engine.MvcAdmin.Models.ReportModel

@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
    string SelectedCreditApprovedOption = Convert.ToString(TempData["SelectedCreditApprovedOption"]);
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">
                @ZnodeResources.CreditApplicationHeading
            </h1>
        </div>
        <div class="col-sm-12 search-container">
            <p class="left">@ZnodeResources.CreditApplicationsDescription</p>
        </div>
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("List", "Stores", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        <!--PRFT Custom Code: Start-->
                        @if (!Equals(Model, null))
                        {
                            <div class="col-lg-3 col-md-4 col-sm-12 product-group">
                                <div class="form-group">
                                    <div class="col-sm-12 col-md-10 nopadding">
                                        <label>@ZnodeResources.IsCreditApprovedSearchText</label>
                                    </div>
                                    <div class="col-sm-12 col-md-10 nopadding">
                                        <select id="iscreditApprovedFlag" name="IsCreditApproved">
                                            <option value="-1" title="All" @(SelectedCreditApprovedOption == "-1" ? "selected" : "") >All</option>
                                            <option value="0" title="No" @(SelectedCreditApprovedOption == "0" ? "selected" : "")>No</option>
                                            <option value="1" title="Yes" @(SelectedCreditApprovedOption == "1" ? "selected" : "")>Yes</option>
                                        </select>
                                        <span class="lbl padding-8"></span>
                                    </div>
                                </div>
                            </div>
                        }
                        <!--PRFT Custom Code: End-->
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.FilterColumn)
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-12 list-container">
            <div class="col-sm-12 nopadding">
                @{
                    if (!Equals(Model, null))
                    {
                        Model.IsAdvanceSearchHide = true;
                    }
                }
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
            </div>
        </div>
    </div>
</div>