﻿@model Znode.Engine.MvcAdmin.ViewModels.PRFTCreditApplicationViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var certificateFile = Model.TaxExemptCertificate;
    var creditApplicationPdfUrl = Znode.Engine.MvcAdmin.Helpers.HelperMethods.GetCreditApplicationPDFFile(certificateFile);
    bool isCreditApprovedOption = (Model.IsCreditApproved != null) ? (bool)Model.IsCreditApproved : false;
}

<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@Resources.ZnodeResources.ManageCreditApplicationText : @Html.Label(Model.CreditApplicationID.ToString())</h1>
        </div>

        @using (Html.BeginForm("Edit", controllerName, FormMethod.Post))
        {
            <div class="pull-right">
                @Html.HiddenFor(model => model.CreditApplicationID)
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest"> @ZnodeResources.ButtonSubmitRequest</button>
                @*@Html.ActionLink(ZnodeResources.ButtonCancel, "List", controllerName, new { @Class = "btn-text grey", @title = @ZnodeResources.ButtonCancel })*@
                @Html.ActionLinkAuthorized("<i class='z-arrow-left'></i>" + ZnodeResources.ButtonBack, "List", controllerName, null, new { @id = "redirect-back", @Class = "btn-text-icon grey pull-right", @title = @ZnodeResources.ButtonBack })
            </div>
            <div class="col-sm-12 add-new-item">
                <div class="col-sm-12 col-md-12 col-lg-12 item-group">
                    <h4>@Resources.ZnodeResources.StatusHead</h4>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                    <div class="col-sm-12 col-md-12 col-lg-11 nopadding">
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.IsApprovedLabel
                            </div>
                            <div class="col-sm-8">
                                <select id="IsCreditApproved" name="IsCreditApproved">
                                    <option value="false" title="No" @(isCreditApprovedOption == false ? "selected" : "")>No</option>
                                    <option value="true" title="Yes" @(isCreditApprovedOption == true ? "selected" : "")>Yes</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.CreditDaysLabel
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.CreditDays, new { @maxlength = 4, @id = "CreditDays" })
                                <input id="CreditApplicationID" name="CreditApplicationID" value="@Model.CreditApplicationID" type="hidden">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 col-md-12 col-lg-12 item-group">
                    <h4>@Resources.ZnodeResources.BussinessInfoHead</h4>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                    <div class="col-sm-12 col-md-12 col-lg-11 nopadding">
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.BussinessNameLabel
                            </div>
                            <div class="col-sm-8 label-background nopadding update-order-status">
                                @Html.Label(!Equals(Model.BusinessName, null) ? Model.BusinessName : string.Empty)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.BussinessAddrLine1Label
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BusinessStreet, null) ? Model.BusinessStreet : string.Empty)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.BussinessAddrLine2Label
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BusinessStreet1, null) ? Model.BusinessStreet1 : string.Empty)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.LabelCountryDropdown
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BusinessCountryCode, null) ? Model.BusinessCountryCode : string.Empty)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.StateLabel
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BusinessStateCode, null) ? Model.BusinessStateCode : string.Empty)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.PlaceHolderCity
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BusinessCity, null) ? Model.BusinessCity : string.Empty)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.PostalCodeLabel
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BusinessPostalCode, null) ? Model.BusinessPostalCode : string.Empty)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                    <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1 ">
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.PlaceHolderPhoneNo
                            </div>
                            <div class="col-sm-8 label-background nopadding update-order-status">
                                @Html.Label(!Equals(Model.BusinessPhoneNumber, null) ? Model.BusinessPhoneNumber : string.Empty)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.PlaceHolderFaxNo
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BusinessFaxNumber, null) ? Model.BusinessFaxNumber : string.Empty)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.LabelEmail
                            </div>
                            <div class="col-sm-8 label-background">
                                <label>@Html.Raw(!Equals(Model.BusinessEmail, null) ? Model.BusinessEmail : string.Empty)</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.YearEstablishedLabel
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BusinessYearEstablished, null) ? Model.BusinessYearEstablished.ToString() : string.Empty)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.BusinessTypeLabel
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BusinessType, null) ? Model.BusinessType : string.Empty)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.TaxExemptLabel
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.IsTaxExempt, null) && bool.Parse(Model.IsTaxExempt.ToString()) == true ? "Yes" : "No")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.TaxExemptCertificateLabel
                            </div>
                            <div class="col-sm-8 label-background">
                                @{
                                    if (creditApplicationPdfUrl != "")
                                    {
                                <a href="@creditApplicationPdfUrl" target="_blank">@Model.TaxExemptCertificate</a>
                                    }
                                    else
                                    {
                                @Html.Label(string.Empty)
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12 item-group">
                    <h4>@Resources.ZnodeResources.BillingInformationHead</h4>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                    <div class="col-sm-12 col-md-12 col-lg-11 nopadding">
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.BussinessAddrLine1Label
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BillingStreet, null) ? Model.BillingStreet : string.Empty)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.BussinessAddrLine2Label
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BillingStreet1, null) ? Model.BillingStreet1 : string.Empty)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.LabelCountryDropdown
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BillingCountryCode, null) ? Model.BillingCountryCode : string.Empty)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                    <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1 ">
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.StateLabel
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BillingStateCode, null) ? Model.BillingStateCode : string.Empty)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.PlaceHolderCity
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BillingCity, null) ? Model.BillingCity : string.Empty)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.PostalCodeLabel
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BillingPostalCode, null) ? Model.BillingPostalCode : string.Empty)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12 item-group">
                    <h4>@Resources.ZnodeResources.BankingInformationHead</h4>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                    <div class="col-sm-12 col-md-12 col-lg-11 nopadding">
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.BankNameLabel
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BankName, null) ? Model.BankName : string.Empty)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.BankPhoneLabel
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BankPhoneNumber, null) ? Model.BankPhoneNumber : string.Empty)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                    <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1 ">
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.BankAddressLabel
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BankAddress, null) ? Model.BankAddress : string.Empty)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Resources.ZnodeResources.AccountNumberLabel
                            </div>
                            <div class="col-sm-8 label-background">
                                @Html.Label(!Equals(Model.BankAccountNumber, null) ? Model.BankAccountNumber : string.Empty)
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 col-md-12 col-lg-12 item-group">
                    <h4>@Resources.ZnodeResources.TradeReferencesHead</h4>
                </div>

                @{
            if (Model.TradeReferences != null && Model.TradeReferences.Count > 0)
            {
                foreach (var tradeReference in Model.TradeReferences)
                {
                    <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                        <div class="col-sm-12 col-md-12 col-lg-11 nopadding">
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Resources.ZnodeResources.TradeReferencesNameLabel
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Label(!Equals(tradeReference.ReferenceName, null) ? tradeReference.ReferenceName : string.Empty)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Resources.ZnodeResources.BussinessAddrLine1Label
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Label(!Equals(tradeReference.Street, null) ? tradeReference.Street : string.Empty)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Resources.ZnodeResources.PlaceHolderCity
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Label(!Equals(tradeReference.City, null) ? tradeReference.City : string.Empty)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Resources.ZnodeResources.PostalCodeLabel
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Label(!Equals(tradeReference.PostalCode, null) ? tradeReference.PostalCode : string.Empty)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Resources.ZnodeResources.PlaceHolderFaxNo
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Label(!Equals(tradeReference.FaxNumber, null) ? tradeReference.FaxNumber : string.Empty)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                        <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1 ">
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Resources.ZnodeResources.BussinessNameLabel
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Label(!Equals(tradeReference.BusinessName, null) ? tradeReference.BusinessName : string.Empty)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Resources.ZnodeResources.BussinessAddrLine2Label
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Label(!Equals(tradeReference.Street1, null) ? tradeReference.Street1 : string.Empty)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Resources.ZnodeResources.StateLabel
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Label(!Equals(tradeReference.StateCode, null) ? tradeReference.StateCode : string.Empty)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Resources.ZnodeResources.PlaceHolderPhoneNo
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Label(!Equals(tradeReference.PhoneNumber, null) ? tradeReference.PhoneNumber : string.Empty)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:20px;"></div>
                }
            }
                }
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    $(function () {
        // Handler for .ready() called.
        $("#CreditDays").keydown(function (event) {
            var currentKeyCode = (event.keyCode ? event.keyCode : event.which);
            try {
                if (currentKeyCode != 13 && currentKeyCode != 9 && currentKeyCode != 8 && !event.shiftKey && currentKeyCode != 46 && currentKeyCode != 35 && currentKeyCode != 36 && currentKeyCode != 37 && currentKeyCode != 39 && currentKeyCode != 46) {
                    var valStatus = (currentKeyCode >= 48 && currentKeyCode <= 57) || (currentKeyCode >= 96 && currentKeyCode <= 105);
                    if (valStatus === false) {
                        event.preventDefault();
                        return false;
                    }
                }
            }
            catch (err) {
                //Error while parsing year established
            }
        });
    });
</script>