﻿@using System.Collections.ObjectModel
@using Znode.Engine.MvcDemo.ViewModels
@using Znode.Engine.MvcDemo.Helpers
@using Resources
@model Collection<ProductViewModel>

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div id="compareProductBox" style="display:none" class="col-xs-12 nopadding compare-product-box">
    @if (!Equals(Model, null))
    {
        <div class="col-xs-12 nopadding">
            <h4>Compare Product</h4>
            @foreach (ProductViewModel product in Model)
            {
                <div class="col-xs-12 compare-product">     
                    <div class="compare-product-list">
                        <div class="col-xs-4 col-md-3 nopadding">
                            <img src="@product.ImageSmallThumbnailPath" alt="@product.ImageAltTag" class="img-responsive" />
                        </div>
                        <div class="col-xs-8 col-md-9 nopadding">
                            <a href="#" class="remove-compare" data-productid="@product.ProductId" title="Remove"><i class="zf-close"></i></a>
                            <p>@product.Name</p>
                            <p>@HelperMethods.FormatPriceWithCurrency(product.ProductPrice)</p>
                        </div>
                    </div>               
                </div>
            }
        </div>
    }

    @if (!Equals(Model, null) && Model.Count > 1)
    {
        <div class="col-xs-12 compare-list-btn">
            @Html.ActionLink(ZnodeResource.LabelCompareLink, "ViewComparison", controllerName, new { @class = "btn-text-full red margin-top-bottom" })
        </div>
    }
</div>



