﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@model ProductViewModel

<div class="view-item">
    @if (Model.IsNewProduct)
    {
        <img src="~/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag" />
    }
    <div class="product-img">        
        <a href="@Url.GetProductUrl(Model.SeoPageName, Model.ProductId.ToString())">
            <div class="image">                
                <img id="@Model.ProductId" src="@Model.ImageMediumPath" data-src="@Model.ImageMediumPath" alt="@Model.ImageAltTag" class="img-responsive" />
            </div>
        </a>
    </div>
    <div class="product-details">
        <a href="@Url.GetProductUrl(Model.SeoPageName, Model.ProductId.ToString())">
            <h4 class="title">@WebUtility.HtmlDecode(Model.Name)</h4>
        </a>
        @if (Model.IsCallForPricing)
        {
            <h4>@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "ProductCallForPricing" }); }</h4>
        }
        else
        {
            <h4>
                @if (Model.Price != @Model.ProductPrice)
                {
                    <span class="cut-price">@HelperMethods.FormatPriceWithCurrency(Model.Price)</span>
                }
                @HelperMethods.FormatPriceWithCurrency(Model.ProductPrice)
            </h4>
        }
    </div>
</div>
