﻿@using Znode.Engine.MvcDemo.ViewModels
@using Resources
@model HighlightListViewModel
@{
    Layout = null;
}
<div id="product-highlights">
    <ul>
        @if (!Equals(Model, null))
        {
            foreach (HighlightViewModel highlight in Model.Highlights)
            {
                <li>
                    @if (highlight.ShowPopup)
                    {
                        <a href="../Product/GetHighlightInfo?highLight=@highlight.HighlightId&productId=@highlight.ProductId" id="highlightInfo">
                            <img title="@highlight.Name" src="@highlight.ImageSmallThumbnailPath" onclick="javascript:void(0)" class="img-responsive" />
                        </a>
                    }
                    else
                    {
                        <a href="@highlight.Hyperlink" target="_blank">
                            <img title="@highlight.Name" src="@highlight.ImageSmallThumbnailPath" class="img-responsive" />
                        </a>
                    }
                </li>
            }
        }
    </ul>
</div>





