﻿@using System.Collections.ObjectModel
@using Znode.Engine.MvcDemo.ViewModels
@model Collection<ProductViewModel>

@if (Model != null && Model.Any())
{
    var _productCount = ViewBag.ProductCount;
    <div class="home-product-view">
        <div class="product-grid recent-view-products_relProduct" id="recent-view-products">
            @{
    foreach (var p in Model)
    {
        <div class="item">
            <div class="product-item">
                @Html.Partial("../Product/_ProductList", p)
            </div>
        </div>
    }
            }
        </div>

    </div>
}
<script>
    $(".recent-view-products_relProduct").owlCarousel({
        autoPlay: false,
        navigation: true,        
        items: @ViewBag.ProductCount,
        itemsDesktop: [1200, 3],
        itemsDesktopSmall: [979, 3],
        itemsTablet: [996,2], 
        itemsMobile : [600,1],
        navigationText: [
          "<i class='glyphicon glyphicon-chevron-left'></i>",
          "<i class='glyphicon glyphicon-chevron-right'></i>"
        ]
    });
</script>