﻿@using System.Web.UI.WebControls
@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@using Resources;
@model ProductViewModel

@{
    ViewBag.Description = Model.SeoDescription;
    ViewBag.Keywords = Model.SeoKeywords;
    bool? mailSend = ViewBag.sendMail;
}

<div id="layout-product" class="main-wrapper product-meta" data-id="@Model.ProductId">
    <div class="container">
        <div class="row product-view-details">
            <div class="col-xs-12 col-md-6 product-images">
                <div class="col-xs-12 nopadding image-view">
                    @if (Model.IsNewProduct)
                    {
                        <img src="~/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag" />
                    }

                    <div class="simpleLens-gallery-container" id="demo-1">
                        <div class="simpleLens-container">
                            <div class="simpleLens-big-image-container">
                                <a id="product-lens-image" class="simpleLens-lens-image" data-lens-image="@Model.ImageLargePath">
                                    <img id="product-image" src="/Images/t.gif" data-src="@Model.ImageMediumPath" alt="@Model.ImageAltTag" class="simpleLens-big-image" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model.Images != null && Model.Images.Any())
                {

                    <div class="col-xs-12 nopadding product-altimages">
                        <div id="alt-images" class="owl-carousel alternate-img">
                            @foreach (var image in Model.Images)
                            {
                                <div class="item">
                                    <a href="@image.ImageLargePath" data-lightbox="enlarge" title="@image.Name">
                                        <img src="/Images/t.gif" class="img-responsive" data-src="@image.ImageSmallPath" alt="@image.ImageAltTag" />
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }

            </div>
            <div class="col-xs-12 col-md-6 product-overview">
                <h1 class="product-name">@WebUtility.HtmlDecode(Model.Name)</h1>
                <div class="product-rating">
                    @Html.Partial("_StarRating", Model.Rating)
                    @{
                        int totalreviews = 0;

                        if (Model.ProductReviews != null && Model.ProductReviews.Items.Any())
                        {
                            totalreviews = Model.ProductReviews.Items.Count();
                        }
                    }
                    (@totalreviews) <a href="#scrollReview" id="jumpto-readreviews">@Resources.ZnodeResource.LinkTextReadReviews</a>
                </div>
                <div class="col-xs-12 nopadding">
                    <div class="product-number-details">
                        <div class="product-number">
                            <span>@Resources.ZnodeResource.LabelProductItem</span>
                            @Html.Raw(Model.ProductNumber)
                        </div>
                        <div class="product-brand">
                            @if (!string.IsNullOrEmpty(Model.Manufacturer))
                            {
                                <span>@Resources.ZnodeResource.LabelProductBrand</span>
                                @Html.Raw(Model.Manufacturer)
                            }
                        </div>
                        <div class="col-xs-12 product-vendor nopadding">
                            @if (!string.IsNullOrEmpty(Model.VendorName))
                            {
                                <span>@Resources.ZnodeResource.TextVendorName</span>
                                <a href="mailto:@Model.VendorEmail">@Html.DisplayFor(x => x.VendorName)</a>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 nopadding product-short-description">@Html.Raw(Model.ShortDescription)</div>
                <div class="col-xs-12 nopadding product-description">@Html.Raw(Model.Description)</div>

                <div class="col-xs-12 highlight-container nopadding">
                    <div class="col-xs-12 product-highlight nopadding">
                        @{
                            if (!Equals(Model.ProductId, null))
                            {
                                Html.RenderAction("GetAssociatedProductHighlights", "Product", new { productId = Model.ProductId });
                            }
                        }
                    </div>
                    <div class="col-xs-12 product-status nopadding">
                        <div class="col-xs-2 nopadding">
                            <i class="zf-checkbox-checked"></i>
                        </div>
                        <div class="col-xs-10 nopadding">
                            <p>@Html.Raw(Model.InventoryMessage)</p>
                            <p>@Resources.ZnodeResource.TextShipsWithIn24hours</p>
                            <p>@Resources.ZnodeResource.TextQualifyFreeShipping</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 product-price nopadding">
                    @if (!Model.IsCallForPricing)
                    {
                        <h2>
                            @HelperMethods.FormatPriceWithCurrency(Model.ProductPrice)
                            @if (Model.Price != @Model.ProductPrice)
                            {
                                <span class="cut-price">@HelperMethods.FormatPriceWithCurrency(Model.Price)</span>
                            }
                        </h2>
                    }
                </div>
                <div class="col-xs-12 nopadding">
                    @{
                        if (!string.IsNullOrEmpty(Model.BundleItemsIds))
                        {
                            Html.RenderAction("GetBundleDisplay", "Product", new { ids = Model.BundleItemsIds });
                        }
                    }
                </div>
                <div class="col-xs-12 product-variations nopadding" id="scrollReview">
                    <form id="addtocart-form" method="post" action="/Product/AddToCart">
                        <input type="hidden" id="dynamic-productId" name="productId" value="@Model.ProductId" />
                        <input type="hidden" id="dynamic-productName" name="ProductName" value="@Model.Name" />
                        <input type="hidden" id="dynamic-sku" name="sku" value="@Model.Sku" />
                        <input type="hidden" id="dynamic-price" value="@Model.Price" />
                        <input type="hidden" id="dynamic-bundleItemsIds" name="bundleItemsIds" value="@Model.BundleItemsIds" />
                        <input type="hidden" id="dynamic-seoPageName" name="SeoPageName" value="@Model.SeoPageName" />
                        @if (Model.AddOns != null && Model.AddOns.Any())
                        {
                            <input type="hidden" id="dynamic-addons" name="AddOnValueIds" value="@string.Join(",", Model.AddOns.Where(x => x.SelectedAddOnValue != null).SelectMany(x => x.SelectedAddOnValue))" />
                            <input type="hidden" id="dynamic-addonvaluecustomtext" name="AddOnValuesCustomText" />
                        }
                        <div class="col-xs-12 nopadding your-pricing">
                            <div class="col-sm-6 nopadding">
                                @if (!Model.IsCallForPricing)
                                {
                                    <div class="price">
                                        <span>@Resources.ZnodeResource.ColumnYourPrice</span>
                                        @if (Model.Price == Model.OriginalPrice)
                                        {
                                            <h3 class="dynamic-product-price">@HelperMethods.FormatPriceWithCurrency(Model.ProductPrice)</h3>
                                        }
                                        else
                                        {
                                            <h3 class="dynamic-product-price">@HelperMethods.FormatPriceWithCurrency(Model.OriginalPrice)</h3>
                                        }
                                    </div>
                                }
                            </div>
                            <div class="col-sm-6 nopadding">
                                <button type="submit" class="btn-text-full red" id="button-addtocart" @(!Model.ShowAddToCart ? "disabled=disabled" : "")> <i class="f-size zf-cart header-toolbar-cart"></i> @Resources.ZnodeResource.ButtonAddToCart</button>
                            </div>
                        </div>

                        <div class="col-xs-12 product-customize nopadding">
                            @if (Model.SwatchImages != null && Model.SwatchImages.Any())
                            {
                                <div class="col-xs-12 swatch-img-container">
                                    <label>@Resources.ZnodeResource.TextSwatchOnDetailPage</label>
                                    <ul class="swatch-img">
                                        @foreach (var image in Model.SwatchImages)
                                        {
                                            <li>
                                                <img src="@image.ImageSmallThumbnailPath" class="SwatchImage img-responsive" alt="@image.ImageAltTag" title="@image.ImageAltTag" data-largesrc="@image.ImageLargePath" data-mediumsrc="@image.ImageMediumPath" />
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }

                            <div class="col-xs-12 addrons-attributs">
                                <div class="col-xs-12 nopadding" id="dynamic-product-variations">
                                    @{ Html.RenderPartial("_attributes"); }
                                </div>
                                <div class="col-xs-12 nopadding" id="dynamic-product-addons">
                                    @Html.Partial("_Addons")
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 product-wishlist nopadding">
                            <div class="col-xs-12 col-sm-6 col-md-8 nopadding">
                                <button type="button" data-id="@Model.ProductId" class="btn-wishlist button-wishlist"><i class="zf-heart"></i>@Resources.ZnodeResource.ButtonAddToWishlist</button>
                                <button type="button" class="btn-wishlist" onclick="window.print();"><i class="zf-printer"></i>Print</button>
                                <a href="/search?category=@WebUtility.UrlEncode(Model.CategoryName)" class="btn-wishlist" id="categoryLink"><i class="zf-small-arrow"></i>@Resources.ZnodeResource.LinkSeeMore <span id="categoryName"></span></a>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 nopadding">
                                <div class="pull-right">
                                    <div id="product-socialsharing">
                                        @Html.Partial("_SocialSharing")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
        <div class="col-xs-12 nopadding" id="product-content">
            <div class="product-details-tab">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#panel-1" data-toggle="tab" class="tabs">@Resources.ZnodeResource.TextProductDetails</a></li>
                    <li><a href="#panel-2" data-toggle="tab" class="tabs">@Resources.ZnodeResource.TextProductSpecifications</a></li>
                    <li><a href="#panel-3" data-toggle="tab" id="tab-reviews" class="tabs">@Resources.ZnodeResource.TextCustomerReviews</a></li>
                </ul>
                <div id="myTabContent" class="tab-content scroll-default">
                    <!--Panels 1-->
                    <div class="tab-pane fade in active" id="panel-1">
                        <div id="product-longdetail-container">
                            @Html.Raw(@WebUtility.HtmlDecode(@Model.FeaturesDescription))
                        </div>
                    </div>
                    <!--Panels 2-->
                    <div class="tab-pane fade" id="panel-2">
                        <div id="product-specification-container">
                            @Html.Raw(@WebUtility.HtmlDecode(@Model.ProductSpecification))
                        </div>
                    </div>
                    <!--Panels 3-->
                    <div class="tab-pane fade" id="panel-3">
                        <div class="col-xs-12 nopadding">
                            <a href="/Product/writereview?id=@Model.ProductId&name=@Model.Name" id="button-writeReview" class="btn-text red pull-right">@Resources.ZnodeResource.LinkTextWriteReview</a>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <div id="product-review-container">

                                @{
                                    int reviewsCount = 0;
                                    if (Model.ProductReviews != null)
                                    {
                                        reviewsCount = totalreviews > MvcDemoConstants.ProductReviewCount ? MvcDemoConstants.ProductReviewCount : totalreviews;

                                        for (int iReviewCount = 0; iReviewCount < reviewsCount; iReviewCount++)
                                        {
                                            @Html.Partial("_ReviewRow", Model.ProductReviews.Items[iReviewCount])
                                        }
                                        if (Model.ProductReviews.Items.Count > MvcDemoConstants.ProductReviewCount)
                                        {
                                            <p class="text-center">
                                                @Html.ActionLink(string.Format(Resources.ZnodeResource.LinkTextMoreReview, Model.ProductReviews.Items.Count - MvcDemoConstants.ProductReviewCount), "Allreviews", "Product", new { id = @Model.ProductId }, new { @class = "underline" })
                                            </p>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        
                     </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 nopadding">
            <div class="product-extras">
                <div class="col-xs-12 margin-top nopadding">

                    @* Bought togther, max 2 items *@
                    @{
                        if (!string.IsNullOrEmpty(Model.FBTProductsIds))
                        {
                            <div id="fbt-products" class="lazycontent" data-params='{"ids":"@Model.FBTProductsIds","accountid":@ViewBag.AccountId}' data-append="#fbt-products">
                                <h4>@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "FrequentlyBoughtTitle" }); }</h4>
                            </div>
                        }
                    }

                    @* You might like, any number (display max 5) *@
                    @{
                        if (!string.IsNullOrEmpty(Model.YMALProductsIds))
                        {
                            <div id="yml-products" class="lazycontent" data-params='{"ids":"@Model.YMALProductsIds","accountid":@ViewBag.AccountId}' data-append="#yml-products">
                                <h4>@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "ProductRelatedProductsTitle" }); }</h4>
                            </div>
                        }
                    }

                    <div id="recently-viewed-header" style="display:none;">
                        @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "RecentlyViewedTitle" }); }
                    </div>
                    <div id="recent-view-products" class="col-xs-12 nopadding">
                        <span class="recent-view-items"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="dynamic-mailStatus" name="MailStatus" value="@mailSend" />
    @Html.HiddenFor(model => model.IsQuickView, new { @id = "hdnQuickView" })
    <div id="successMessageDiv" style="display:none">
    </div>
    <div id="divSendMail" style="display:none">
    </div>
</div>
<script id="tmpl-wishliststatus" type="text/template">
    <div class="col-xs-12 nopadding wishlist-status"><a href="{{link}}" class="{{style}}">{{message}}</a></div>
</script>
<script>
    $(document).ready(function () {
        $("#alt-images").owlCarousel({
            autoPlay: false,
            navigation: true,
            itemsCustom: [
              [0, 2],
              [320, 2],
              [600, 3],
              [768, 4],
              [992, 3],
              [1200, 4]
            ],
            navigationText: [
              "<i class='glyphicon glyphicon-chevron-left'></i>",
              "<i class='glyphicon glyphicon-chevron-right'></i>"
            ]
        });
    });
</script>