﻿
<div class="col-sm-12">
    <div id="reportGraphcontainer" style="display:none" class="clearfix"></div>
    <div id="sliders" style="display:none;" class="clearfix">
        <div class="col-sm-6 col-md-4 col-sm-offset-6 col-md-offset-8">
            <table class="table">
                <tr>
                    <td>@ZnodeResources.LableAlphaAngle</td>
                    <td>
                        <input id="R0" type="range" min="0" max="45" value="45" />
                        <span class="lbl padding-8"></span>
                        <span id="R0-value" class="value"></span>
                    </td>
                </tr>
                <tr>
                    <td>@ZnodeResources.LableBetaAngle</td>
                    <td>
                        <input id="R1" type="range" min="0" max="45" value="0" />
                        <span class="lbl padding-8"></span>
                        <span id="R1-value" class="value"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>



