﻿@{
    ViewBag.Title = @ZnodeResources.TitleReports + " | " + @ZnodeResources.TitleMultifront;
}

<div class="dashboard-page-container">
    <div class="col-sm-12">
        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
            <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                <h4>@ZnodeResources.TitleSales</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-orders2"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/MyReports/Report?reportno=98">@ZnodeResources.LabelOrder</a>
                        <p>@ZnodeResources.DescriptionOrder</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-recurring-billing"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/MyReports/Report?reportno=99">@ZnodeResources.TitleRecurringBilling</a>
                        <p>@ZnodeResources.DescriptionRecurringBilling</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-coupon-usage"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/MyReports/Report?reportno=110">@ZnodeResources.TitleCouponUsage</a>
                        <p>@ZnodeResources.DescriptionCouponUsage</p>
                    </div>
                </div> 
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-sales-tax"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/MyReports/Report?reportno=111">@ZnodeResources.TitleSalesTax</a>
                        <p>@ZnodeResources.DescriptionSalesTax</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-affiliate-orders"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/MyReports/Report?reportno=112">@ZnodeResources.TitleAffiliateOrders</a>
                        <p>@ZnodeResources.DescriptionAffiliateOrders</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-order-pick-list"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/MyReports/Report?reportno=108">@ZnodeResources.TitleOrderPickList</a>
                        <p>@ZnodeResources.DescriptionOrderPickList</p>
                    </div>
                </div>

                <h4>@ZnodeResources.ProductTitle</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-best-sellers"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/MyReports/Report?reportno=101">@ZnodeResources.TitleBestSellers</a>
                        <p>@ZnodeResources.DescriptionBestSellers</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-inventory-re-order"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/MyReports/Report?reportno=104">@ZnodeResources.TitleInventoryReOrder</a>
                        <p>@ZnodeResources.DescriptionInventoryReOrder</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-top-earning-products"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/MyReports/Report?reportno=107">@ZnodeResources.TitleTopEarningProducts</a>
                        <p>@ZnodeResources.DescriptionTopEarningProducts</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-popular-search"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/MyReports/Report?reportno=117">@ZnodeResources.TitlePopularSearch</a>
                        <p>@ZnodeResources.DescriptionPopularSearch</p>
                    </div>
                </div>                
                <h4>@ZnodeResources.TitleReviews</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-service-requests"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/MyReports/Report?reportno=102">@ZnodeResources.TitleServiceRequests</a>
                        <p>@ZnodeResources.DescriptionServiceRequests</p>
                    </div>
                </div>                 
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
            <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">   
                <h4>@ZnodeResources.HeaderCustomers</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-accounts"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/MyReports/Report?reportno=100">@ZnodeResources.TitleAccounts</a>
                        <p>@ZnodeResources.DescriptionAccounts</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-email-opt-in-customers"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/MyReports/Report?reportno=103">@ZnodeResources.TitleEmailOpt</a>
                        <p>@ZnodeResources.DescriptionEmailOpt</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-most-frequent-customers"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/MyReports/Report?reportno=105">@ZnodeResources.TitleMostFrequentCustomers</a>
                        <p>@ZnodeResources.DescriptionMostFrequentCustomers</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-top-spending-customers"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/MyReports/Report?reportno=106">@ZnodeResources.TitleTopSpendingCustomers</a>
                        <p>@ZnodeResources.DescriptionTopSpendingCustomers</p>
                    </div>
                </div>             
                <h4>@ZnodeResources.SubHeaderTaxGeneral</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-activity-log"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/MyReports/Report?reportno=109">@ZnodeResources.TitleActivityLog</a>
                        <p>@ZnodeResources.DescriptionActivityLog</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-supplier-list"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/MyReports/Report?reportno=113">@ZnodeResources.TitleSupplierList</a>
                        <p>@ZnodeResources.DescriptionSupplierList</p>
                    </div>
                </div>          
            </div>
        </div>
    </div>
</div>


