﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@{
    string _title = ViewBag.Title;
    ViewBag.Title = @ZnodeResources.ReportTitle + " | " + @ZnodeResources.TitleMultifront;
}
@{

    int reportno = Convert.ToInt32(Request.QueryString["reportno"]);
}

<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 id="report-title" class="left">@_title</h1>
        </div>
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("Report", "MyReports", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.FilterColumn)
                    </div>
                }
            </div>
        </div>

        @if (!Equals(Model.XAxisFields, null) && Model.XAxisFields.Count > 0)
        {
            <div class="col-sm-12 report-chart">
                <div class="col-sm-12 nopadding text-graph" id="graphCheckboxContainer">
                    <div class="form-group">
                        <input id="reportGraphCheckBox" type="checkbox" name="ReportGrid" onclick="graphReport.ShowReportView(this, '@Znode.Libraries.Helpers.UserTypes.Admin.ToString()');" title="@ZnodeResources.LableGraphCheckbox" />
                        <span class="lbl padding-8"></span>
                        <label for="reportGraphCheckBox" title="Show Graph Report" class="css-label-chackbox">@ZnodeResources.LableGraphCheckbox</label>
                    </div>
                </div>

                <div id="ReportGraph" class="col-sm-12 nopadding" style="display: none;">
                    <div class="col-sm-12 col-md-3 nopadding">
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                <label>@ZnodeResources.LableXAxis</label>
                            </div>
                            <div class="col-sm-12 nopadding">
                                @Html.DropDownList("xAxisFields", Model.XAxisFields)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                <label>@ZnodeResources.LableYAxis</label>
                            </div>
                            <div class="col-sm-12 nopadding">
                                @Html.DropDownList("yAxisFields", Model.YAxisFields)
                            </div>
                        </div>
                        @Html.Hidden("hdnReportNo", Request.QueryString["reportno"])

                        <div class="col-sm-12 nopadding">
                            <div class="col-sm-12 nopadding">
                                <div class="form-group">
                                    <label>@ZnodeResources.ChartType</label>
                                    @Html.DropDownList("charttype", new List<SelectListItem>
                                    {
                                    new SelectListItem{ Text=ZnodeResources.LablePieChart, Value ="Pie" },
                                    new SelectListItem{ Text=ZnodeResources.LableBarChart, Value ="3DBar" }

                                    }, new { @id = "charttype" })
                                </div>
                            </div>
                            <div class="col-sm-12 nopadding" id="reportGraphLeftSection">
                                <div class="report-legend clearfix">
                                    <div id="GraphTypeContainer">
                                        <div id="GraphSetting" class="form-group">
                                            <div class="col-sm-6 nopadding">
                                                <label>
                                                    <input type="checkbox" name="ReportGrid" id="Legend" onclick="graphReport.ShowGraphDetails(this)" /><span class="lbl padding-8" for="ReportGrid">@ZnodeResources.LableLegend</span>
                                                </label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>
                                                    <input type="checkbox" name="ReportGrid" id="DataLabel" onclick="graphReport.ShowGraphDetails(this)" /><span class="lbl padding-8" for="ReportGrid">@ZnodeResources.LableDataLabel</span>
                                                </label>
                                            </div>
                                            <div class="col-sm-6 nopadding">
                                                <label>
                                                    <input type="checkbox" name="ReportGrid" id="AllowSelection" onclick="graphReport.ShowGraphDetails(this)" /><span class="lbl padding-8" for="ReportGrid">@ZnodeResources.LableAllowSelect</span>
                                                </label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>
                                                    <input type="checkbox" name="ReportGrid" id="options3d" onclick="graphReport.ShowGraphDetails(this)" /><span class="lbl padding-8" for="ReportGrid">@ZnodeResources.Lable3DView</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9 nopadding">
                        @Html.Partial("~/Views/Reports/_ReportChart.cshtml", Model)
                    </div>
                </div>
            </div>
        }

        @using (Html.BeginForm("ExportReports", "MyReports", FormMethod.Post))
        {
            if (!Model.DataTableToList.Count.Equals(0))
            {
                <div class="col-sm-12 product-search">
                    <h3>@ZnodeResources.TitleExportDetails</h3>
                </div>
                <div class="col-sm-12 col-md-6 report-chart nopadding">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label>@ZnodeResources.TextExportFileType</label>
                        </div>
                        <div class="col-sm-6" id="ExportReport">
                            @Html.DropDownListFor(model => model.ExportFileTypeId, new SelectList(Model.ExportFileType, "Value", "Text"))
                        </div>
                        <div class="col-sm-3 nopadding" id="exportReportContainer">
                            @Html.Hidden("reportId", reportno)
                            <button type="submit" class="btn-text red">@ZnodeResources.TextExportToExcel</button>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="col-sm-12">
            <a href="#" id="hide-grid-link" onclick="DynamicGrid.ShowHideGrid()" class="pull-right" title="Hide Grid">Hide Grid</a>
        </div>
        <div class="col-sm-12 list-container" id="grid-list-content">
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" language="javascript">
        $("#btnsearch").on("click", function () {
            return CommonHelper.PreventSearchSubmit();
        });

        $(document).on("change", '.datepicker', function () {
            CommonHelper.VadidateDate($("input[name='StartDate']"), $("input[name='EndDate']"))
        })

        $(document).ready(function () {
            isReport = true;
            DynamicGrid.CreateNestedGridNode();
            $("#reportGraphCheckBox").click();
            if ($("#report-title").text() === "Service Requests") {
                $("#grid-list-content table tbody tr").find('td:eq(8)').each(function () { var txt = $(this).text(); $(this).html(txt); })
            }
        });
    </script>
}
