﻿@model Znode.Engine.MvcAdmin.ViewModels.ImportViewModel
@using System.Data;
@using System.Dynamic;
@if (Model.DataTableList != null)
{
    if (Model.DataTableList.Count > 0)
    {
        WebGrid grid = new WebGrid(ajaxUpdateContainerId: "importGrid", canPage: false, canSort: false, ajaxUpdateCallback: "UpdateImportGrid");
        grid.Bind(source: Model.DataTableList, autoSortAndPage: false);
        <div id="importDataGridList" class="import-preview scroll-default">
            <div id="importsGrid">
                <div>
                    @grid.Table(htmlAttributes: new {},
                        tableStyle: "table table-striped",                               
                                alternatingRowStyle: "",
                                selectedRowStyle: "",
                                rowStyle: "",
                                columns: Model.WebGridColumn
                                )
                </div>


            </div>
        </div>
    }
    else
    {
        <div id="struggleSDiv">
            <ul>
                <li class="common-infoMessage no-data">@ZnodeResources.LabelHighlightNoRecordFound</li>
            </ul>
        </div>
    }
}
else
{
    <div id="struggleSDiv">
        <ul>
            <li class="common-infoMessage no-data">@ZnodeResources.LabelHighlightNoRecordFound</li>
        </ul>
    </div>
}