﻿@model Znode.Engine.MvcAdmin.ViewModels.ExportViewModel
@using Znode.Engine.MvcAdmin.Helpers
@using Znode.Libraries.Helpers.Constants
@using Resources

@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();

}

<div class="col-sm-12 dashboard-page-container">

    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmProduct" }))
    {
        <div class="col-sm-12 title-container">
            @if (Equals(Model.Type, Constant.ExportInventory))
            {
                <h1>@ZnodeResources.HeaderExportInventory</h1>
            }
            else if (Equals(Model.Type, Constant.ExportPricing))
            {
                <h1>@ZnodeResources.HeaderExportPricing</h1>
            }
            else if (Equals(Model.Type, Constant.ExportProduct))
            {
                <h1>@ZnodeResources.HeaderExportProducts</h1>
            }
            else if (Equals(Model.Type, Constant.ExportAttribute))
            {
                <h1>@ZnodeResources.HeaderExportAttributes</h1>
            }
            else if (Equals(Model.Type, Constant.ExportFacet))
            {
                <h1>@ZnodeResources.HeaderExportFacets</h1>
            }
            else if (Equals(Model.Type, Constant.ExportShipping))
            {
                <h1>@ZnodeResources.HeaderExportShippingStatus</h1>
            }
            else if (Equals(Model.Type, Constant.ExportSku))
            {
                <h1>@ZnodeResources.HeaderExportSKUs</h1>
            }
            else if (Equals(Model.Type, Constant.ExportCustomerPricing))
            {
                <h1>@ZnodeResources.HeaderExportCustomerPricing</h1>
            }
            else if (Equals(Model.Type, Constant.ExportCustomer))
            {
                <h1>@ZnodeResources.HeaderExportCustomer</h1>
            }
            else if (Equals(Model.Type, Constant.ExportState))
            {
                <h1>@ZnodeResources.HeaderExportState</h1>
            }
        </div>
        <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
            <h4>@ZnodeResources.TitleExportDetails</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.FileType)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.FileType, Model.FileTypes, new { @id = "ddlFileTypes" })
                </div>
            </div>
            @if (!Equals(Model, null) && !string.IsNullOrEmpty(Model.Type) && Equals(Model.Type, Constant.ExportProduct))
            {
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.SelectedCatalogId)
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.SelectedCatalogId, Model.Catalogs, new { @id = "ddlCatalog" })
                    </div>
                </div>
            }
            @if (!Equals(Model, null) && !string.IsNullOrEmpty(Model.Type) && Equals(Model.Type, Constant.ExportAttribute))
            {
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.SelectedCatalogId)
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.SelectedCatalogId, Model.Catalogs, new { @id = "ddlCatalog", @OnChange = "ImportExport.BindAttributeTypes()" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(m => m.SelectedAttributeTypeId)
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.SelectedAttributeTypeId, Model.AttributeTypes, new { @id = "ddlAttributeType" })
                    </div>
                </div>
            }
            @if (!Equals(Model, null) && !string.IsNullOrEmpty(Model.Type) && Equals(Model.Type, Constant.ExportFacet))
            {
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.SelectedCatalogId)
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.SelectedCatalogId, Model.Catalogs, new { @id = "ddlCatalog", @OnChange = "ImportExport.BindCategories()" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.SelectedCategoryId)
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.SelectedCategoryId, Model.Categories, new { @id = "ddlCategory" })
                    </div>
                </div>
            }
            @if (!Equals(Model, null) && !string.IsNullOrEmpty(Model.Type) && Equals(Model.Type, Constant.ExportShipping))
            {
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.StartDate)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.StartDate, new { @id = "txtBeginDate", @class = "datepicker", data_date_format = Model.DatePickDateFormat })
                        @Html.ValidationMessageFor(m => m.StartDate)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.EndDate)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.EndDate, new { @id = "txtEndDate", @class = "datepicker", data_date_format = Model.DatePickDateFormat })
                        @Html.ValidationMessageFor(m => m.EndDate)
                    </div>
                </div>
            }
            @if (!Equals(Model, null) && !string.IsNullOrEmpty(Model.Type) && Equals(Model.Type, Constant.ExportSku))
            {
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.SelectedCatalogId)
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.SelectedCatalogId, Model.Catalogs, new { @id = "ddlCatalog", @OnChange = "ImportExport.ClearSelection()" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.ProductName)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.ProductName, new { @id = "txtProductName", data_ProductId = "0" })
                    </div>
                </div>

                <div class="form-group" id="exportskuattribute" style="display:none">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.ProductAttributes)
                        <p class="sub">@ZnodeResources.TestProductAttributes</p>
                    </div>
                    <div class="col-sm-8">
                        <div id="productattributes">
                        </div>
                    </div>
                </div>

                @Html.HiddenFor(x => x.ProductAttributes, new { @id = "ProductAttributes" })
                @Html.HiddenFor(x => x.ProductId, new { @id = "ProductId" })
            }
            @if (!Equals(Model, null) && !string.IsNullOrEmpty(Model.Type) && Equals(Model.Type, Constant.ExportState))
            {
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.SelectedCountryCode)
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.SelectedCountryCode, Model.Countries, new { @id = "ddlCountries" })
                    </div>
                </div>
            }
            @Html.HiddenFor(x => x.Type)
            <div class="col-sm-8 col-sm-offset-4">
                <div class="pull-right">
                    <button type="submit" id="btnExport" onclick="return ImportExport.OnSubmit('@Model.Type');" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                    @Html.ActionLink(ZnodeResources.ButtonCancel, "List", "ImportExport", null, new { @class = "btn-text grey", @title = ZnodeResources.ButtonCancel })
                </div>
            </div>
        </div>
    }
</div>
@Scripts.Render("~/bundles/ImportExport")
