﻿@model Znode.Engine.MvcAdmin.ViewModels.ImportViewModel
@using Znode.Engine.MvcAdmin.Helpers
@using Znode.Libraries.Helpers.Constants
@using Resources

@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();

}

<div class="col-sm-12 dashboard-page-container">

    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmimport" }))
    {
        <div class="col-sm-12 title-container">
            @if (Equals(Model.Type, Constant.ExportInventory))
            {
                <h1>@ZnodeResources.HeaderImportInventory</h1>
            }
            else if (Equals(Model.Type, Constant.ExportPricing))
            {
                <h1>@ZnodeResources.HeaderImportPricing </h1>
            }
            else if (Equals(Model.Type, Constant.ExportProduct))
            {
                <h1>@ZnodeResources.HeaderImportProducts</h1>
            }
            else if (Equals(Model.Type, Constant.ExportAttribute))
            {
                <h1>@ZnodeResources.HeaderImportAttributes</h1>
            }
            else if (Equals(Model.Type, Constant.ExportFacet))
            {
                <h1>@ZnodeResources.HeaderImportFacets</h1>
            }
            else if (Equals(Model.Type, Constant.ExportShipping))
            {
                <h1>@ZnodeResources.HeaderImportShippingStatus</h1>
            }
            else if (Equals(Model.Type, Constant.ExportSku))
            {
                <h1>@ZnodeResources.HeaderImportSKUs</h1>
            }
            else if (Equals(Model.Type, Constant.ExportCustomerPricing))
            {
                <h1>@ZnodeResources.HeaderImportCustomerPricing</h1>
            }
            else if (Equals(Model.Type, Constant.ExportZipCode))
            {
                <h1>@ZnodeResources.HeaderImportZipCode</h1>
            }
            else if (Equals(Model.Type, Constant.ExportCustomer))
            {
                <h1>@ZnodeResources.HeaderImportCustomer</h1>
            }
            else if (Equals(Model.Type, Constant.ExportState))
            {
                <h1>@ZnodeResources.HeaderImportState</h1>
            }
        </div>
        <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
            <h4>@ZnodeResources.TitleDownload</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    <label>@ZnodeResources.BtnDownloadSampleExcelLink</label>
                </div>
                <div class="col-sm-8">
                    <label>
                        @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-download-alt red-color f-ico'></i>", "DownloadSampleExcel", "ImportExport", new { @type = Model.Type }, new { @title = "Click Here For Download" })
                    </label>
                </div>
            </div>
            <h4>@ZnodeResources.TitleImportFile</h4>
            @if (!Equals(Model, null) && !Equals(Model.ImportConfigData, null) && !string.IsNullOrEmpty(Model.ImportConfigData.Description))
            {
                <div class="col-sm-12 nopadding left-sm-shift">
                    <p>@Model.ImportConfigData.Description</p>
                </div>
            }
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.ImportFile, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.ImportFile)
                </div>
            </div>    
            
            @Html.HiddenFor(x => x.Type)
            <div class="pull-right">
                <button type="button" id="btnExportPreview" class="btn-text red" onclick="return ImportExport.PreviewImportData('@Model.Type');" title="@ZnodeResources.BtnImportPreview">@ZnodeResources.BtnImportPreview</button>
                <button type="submit" id="btnExport" class="btn-text red" onclick="return ImportExport.OnImportSubmit()" title="@ZnodeResources.ButtonSave">@ZnodeResources.ButtonSave</button>
                @Html.ActionLink(ZnodeResources.ButtonCancel, "List", "ImportExport", null, new { @class = "btn-text grey", @title = ZnodeResources.ButtonCancel })
            </div>
        </div>

        <div class="col-sm-12 list-container" id="importPreviewOrErrorDiv">
            <div class="">
                @if (!Equals(Model, null) && !Equals(Model.DataTableList, null) && Model.DataTableList.Count > 0 && !Equals(Model.WebGridColumn) && Model.WebGridColumn.Count > 0 && !Model.ImportStatus)
                {
                    @Html.Partial("_ImportError", Model)
                }
            </div>
        </div>

    }
</div>
<script type="text/javascript">
    var uploadFileExtension = '@(!string.IsNullOrEmpty(MvcAdminConstants.ImportFileType) ? MvcAdminConstants.ImportFileType : "/.xlsx|.xls|.csv/")';
    var uploadFileExtensionError = '@ZnodeResources.ImportFileTypeErrorMessage';
</script>
@Scripts.Render("~/bundles/ImportExport")
