﻿@using Znode.Libraries.Helpers.Constants
@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12">
        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
            <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                <h4>@ZnodeResources.HeaderExport</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-export-inventory"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.LabelExportInventory, "Export", "ImportExport", new { @filter = Constant.ExportInventory }, null)
                        <p>@ZnodeResources.TextExportInventory</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-export-pricing"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.LabelExportPricing, "Export", "ImportExport", new { @filter = Constant.ExportPricing }, null)
                        <p>@ZnodeResources.TextExportPricing</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-export-products"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.LabelExportProducts, "Export", "ImportExport", new { @filter = Constant.ExportProduct }, null)
                        <p>@ZnodeResources.TextExportProducts</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-export-attributes"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.LabelExportAttributes, "Export", "ImportExport", new { @filter = Constant.ExportAttribute }, null)
                        <p>@ZnodeResources.TextExportAttributes</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-export-SKUs"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.LabelExportSKUs, "Export", "ImportExport", new { @filter = Constant.ExportSku }, null)
                        <p>@ZnodeResources.TextExportSKUs</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-export-facets"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.LabelExportFacets, "Export", "ImportExport", new { @filter = Constant.ExportFacet }, null)
                        <p>@ZnodeResources.TextExportFacets</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-export-shipping-status"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.LabelExportShippingStatus, "Export", "ImportExport", new { @filter = Constant.ExportShipping }, null)
                        <p>@ZnodeResources.TextExportShippingStatus</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-export-customer-pricing"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.LabelExportCustomerPricing, "Export", "ImportExport", new { @filter = Constant.ExportCustomerPricing }, null)
                        <p>@ZnodeResources.TextExportCustomerPricing</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-export-customers"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.HeaderExportCustomer, "Export", "ImportExport", new { @filter = Constant.ExportCustomer }, null)
                        <p>@ZnodeResources.ExportCustomerText</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-export-state"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.HeaderExportState, "Export", "ImportExport", new { @filter = Constant.ExportState }, null)
                        <p>@ZnodeResources.ExportStateText</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
            <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                <h4>@ZnodeResources.HeaderImport</h4>
                <p class="left-sm-shift bottom-shift">@ZnodeResources.ImportDescription </p>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-import-inventory"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.LabelImportInventory, "Import", "ImportExport", new { @filter = Constant.ExportInventory }, null)
                        <p>@ZnodeResources.TextImportInventory</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-import-pricing"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.LabelImportPricing, "Import", "ImportExport", new { @filter = Constant.ExportPricing }, null)
                        <p>@ZnodeResources.TextImportPricing</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-import-products"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.LabelImportProducts, "Import", "ImportExport", new { @filter = Constant.ExportProduct }, null)
                        <p>@ZnodeResources.TextImportProducts</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-import-attributes"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.LabelImportAttributes, "Import", "ImportExport", new { @filter = Constant.ExportAttribute }, null)
                        <p>@ZnodeResources.TextImportAttributes</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-import-SKUs"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.LabelImportSKUs, "Import", "ImportExport", new { @filter = Constant.ExportSku }, null)
                        <p>@ZnodeResources.TextImportSKUs</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-import-facets"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.LabelImportFacets, "Import", "ImportExport", new { @filter = Constant.ExportFacet }, null)
                        <p>@ZnodeResources.TextImportFacets</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-import-shipping-status"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.LabelImportShippingStatus, "Import", "ImportExport", new { @filter = Constant.ExportShipping }, null)
                        <p>@ZnodeResources.TextImportShippingStatus</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-import-zip-code-data"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.LabelImportZipCode, "Import", "ImportExport", new { @filter = Constant.ExportZipCode }, null)
                        <p>@ZnodeResources.TextImportZipCode</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-import-customer-pricing"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.LabelImportCustomerPricing, "Import", "ImportExport", new { @filter = Constant.ExportCustomerPricing }, null)
                        <p>@ZnodeResources.TextImportCustomerPricing</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-import-customers"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.HeaderImportCustomer, "Import", "ImportExport", new { @filter = Constant.ExportCustomer }, null)
                        <p>@ZnodeResources.ImportCustomerText</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-import-state"></i>
                    </div>
                    <div class="col-sm-11 ">
                        @Html.ActionLink(ZnodeResources.HeaderImportState, "Import", "ImportExport", new { @filter = Constant.ExportState }, null)
                        <p>@ZnodeResources.ImportStateText</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
