﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@{
    ViewBag.HideEmail = true;
    ViewBag.IsAddAddress = true;
}
@model AddressViewModel

<div id="layout-checkout-addaddress" class="main-wrapper">

    <div class="container">
        <div class="row multiple-checkout">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Resources.ZnodeResource.TitleAddAddress</h1>
            </div>

            <div class="col-xs-12 nopadding checkout-step">
                <h3>@(ViewBag.IsShipping ? Resources.ZnodeResource.SubTitleCheckout1of4 : Resources.ZnodeResource.SubTitleCheckout3of4)</h3>
            </div>

            <div class="col-xs-12 col-sm-7 col-lg-5 nopadding add-new-address nopadding">
                @*<a href="#backtocheckout" class="account-gohome">@Resources.ZnodeResource.ButtonCancel</a>*@
                <form class="form" method="POST" action="">
                    @Html.Partial("_EditAddress", Model)

                    <div class="col-xs-12 nopadding styled-input">
                        <input type="checkbox" id="asdefault_shipping" name="IsDefaultShipping" value="true" @(Model.IsDefaultShipping ? "checked='checked'" : "") /><label for="asdefault_shipping">@Resources.ZnodeResource.CheckBoxTextShippingAddress</label>
                    </div>
                    <div class="col-xs-12 nopadding styled-input">
                        <input type="checkbox" id="asdefault_billing" name="IsDefaultBilling" value="true" @(Model.IsDefaultBilling ? "checked='checked'" : "") /><label for="asdefault_billing">@Resources.ZnodeResource.CheckBoxTextBillingAddress</label>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div class="pull-right">
                            <button type="submit" class="btn-text red">@Resources.ZnodeResource.ButtonSaveChanges</button>

                            @{
                                string returnurl = Request.QueryString["returnURL"].ToString();
                                if (returnurl.ToLower().Equals(MvcDemoConstants.RouteMultipleShipto.ToLower()) || returnurl.ToLower().Equals("/checkout/viewmultipleshipto"))
                                {
                                    <a href="@(MvcDemoConstants.RouteMultipleShipto)" class="btn-text grey">@Resources.ZnodeResource.ButtonCancel</a>
                                }
                                else
                                {
                                    <a href="@((ViewBag.IsShipping != null && ViewBag.IsShipping) ? MvcDemoConstants.RouteGuestCheckoutShipping : MvcDemoConstants.RouteBillingAddress)" class="btn-text grey">@Resources.ZnodeResource.ButtonCancel</a>
                                }
                            }
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

