﻿@model  Znode.Engine.MvcDemo.ViewModels.ShippingBillingAddressViewModel


<div id="layout-checkout-newshipping" class="main-wrapper">
    <div class="container">
        <div class="row multiple-checkout">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Resources.ZnodeResource.TitleAddresses</h1>
            </div>
            <div class="col-xs-12 nopadding checkout-step">
                <h3>@Resources.ZnodeResource.SubTitleCheckout1of4</h3>
            </div>

            <div class="col-xs-12 nopadding shipping-address">
                <form class="form" method="POST" action="/Checkout/Shipping">

                    <div class="col-xs-12 col-sm-6 margin-top nopadding">
                        <div class="col-xs-12 col-sm-11 nopadding">
                            <h3>@Resources.ZnodeResource.TitleShippingAddress</h3>
                            @Html.EditorFor(ob => ob.ShippingAddressModel, "_ShippingBillingAddress")
                            <div class="form-group edit-address-email">
                                <div class="col-xs-12 nopadding">
                                    <label for="address_email" class="required">@Resources.ZnodeResource.ColumnEmailAddress</label>
                                    <p class="sub">@Resources.ZnodeResource.RequiredBillingAddressEmail</p>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    @Html.TextBoxFor(m => m.EmailAddress, new { @type = "email", @id = "address_email", @class = "form-input-long" })</dd>
                                    <p class="error-msg">@Html.ValidationMessageFor(m => m.EmailAddress)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <label for="address_email" class="required">@Resources.ZnodeResource.ColumnPhoneNo</label>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    @Html.TextBoxFor(m => m.ShippingAddressModel.PhoneNumber, new {@class = "form-input-long" })
                                    <p class="error-msg">@Html.ValidationMessageFor(m => m.ShippingAddressModel.PhoneNumber)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <div class="styled-input">
                                        <input id="billingSameAsShippingAddress" name="BillingAddressModel.UseSameAsShippingAddress" type="checkbox" value="true" @(Model.BillingAddressModel.UseSameAsShippingAddress ? "checked=checked" : "")>
                                        <label for="billingSameAsShippingAddress">@Resources.ZnodeResource.CheckBoxTextBillingShippingSame</label>
                                        <input name="BillingAddressModel.UseSameAsShippingAddress" type="hidden" value="false">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <button type="submit" class="btn-text red">@Resources.ZnodeResource.ButtonNextStep</button>
                                    <a href="/Cart" class="btn-text grey">@Resources.ZnodeResource.ButtonCancel</a>
                                </div>
                                @Html.HiddenFor(model => model.BillingAddressId)
                                @Html.HiddenFor(model => model.ShippingAddressId)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 margin-top nopadding">
                        <div class="col-sm-offset-1">
                            <div id="billingaddressform">
                                <h3 class="section-header">@Resources.ZnodeResource.TitleBillingAddress</h3>
                                @Html.EditorFor(ob => ob.BillingAddressModel, "_ShippingBillingAddress")
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.IsAddressChange)
                    

                    


                </form>
            </div>

        </div>
    </div>

    <div class="container-narrow">
        

    </div>
    
</div>
