﻿@using Znode.Engine.MvcDemo.ViewModels
@model CartViewModel
<div class="main-wrapper">
    <div class="container">
        <div class="row multiple-checkout">
            <div class="col-xs-12 margin-bottom nopadding">
                <div class="col-xs-12 col-sm-8 nopadding">
                    <h1 class="page-title">@Resources.ZnodeResource.TitleMultipleAddressCart</h1>
                </div>
                <div class="col-xs-12 col-sm-4 margin-top nopadding">
                    <a href="/checkout/AddNewAddress?returnURL=@(WebUtility.UrlEncode(Request.Url.PathAndQuery))" class="pull-right btn-text red">@Resources.ZnodeResource.LinkAddNewAddress</a>
                </div>
            </div>
            <div id="layout-cart" class="col-xs-12 nopadding multiple-shipping">
                @if (Model.Items.Any())
                {
                    <div class="cart-products cart-table container-narrow">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Item(s)</th>
                                    <th>Quantity</th>
                                    <th>Ship To</th>
                                </tr>
                            </thead>
                            @foreach (var cartItem in Model.Items)
                            {
                                for (int i = 0; i < cartItem.Quantity; i++)
                                {
                                    cartItem.Addresses = Model.Addresses.ToList();
                                    @Html.Partial("_MultipleAddressCartRow", cartItem)
                                }

                            }
                        </table>
                    </div>

                }
                else
                {
                    <div class="col-xs-12 nopadding cart-summary container">
                        <p class="text-center button-action">@Resources.ZnodeResource.ErrorNoCartItemsFound</p>
                    </div>

                }
                <div class="col-xs-12 nopadding margin-top-bottom cart-products container-narrow">
                    <button type="submit" id="submitMultipleShipping" value="Continue" class="btn-text-icon red pull-right cart-total-btn"><i class="zf-checkout"></i> @Resources.ZnodeResource.ButtonContinue</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        Cart.init();
        Cart.multiShippingCart();
    })
</script>
