﻿@model Znode.Engine.MvcAdmin.ViewModels.VendorProductViewModel
@{
    var childNodes = Model.CategoryNode.CategoryNodeList.FindAll(x => x.ParentCategoryNodeId == Model.CategoryNode.SelectedCategoryNodeId);
    if (!Equals(childNodes, null) && childNodes.Count > 0)
    {
        <ul>
            @foreach (var childItem in childNodes)
            {
                string nodeDisable = (Model.CategoryNode.IsCategoryNodeDisable) ? "disabled='disabled'" : string.Empty;
                Model.CategoryNode.SelectedCategoryNodeId = childItem.CategoryNodeId;
                <li>
                    <label>
                        <input type="checkbox" @nodeDisable data-categoryid="@childItem.CategoryId" id="AddOn-@childItem.CategoryNodeId" name="AddOnValueId_@childItem.CategoryNodeId" value="@childItem.CategoryNodeId" class="AddOn" @((!Equals(Model.AssociateProductCategories, null) && Model.AssociateProductCategories.Count > 0 && Model.AssociateProductCategories.FindAll(x => x.CategoryId == childItem.CategoryId).Count > 0) ? "checked=checked" : "") />
                        <span class="lbl padding-8" for="AddOn-@childItem.CategoryNodeId">@childItem.Name</span>
                    </label>
                    @Html.Partial("_ChildCategoryNode", Model)
                </li>
            }
        </ul>
    }
}

