﻿@model Znode.Engine.MvcAdmin.ViewModels.PermissionViewModel
@using Resources;

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>@String.Format(ZnodeResources.EditPermissions, Model.UserName)</h1>
    </div>

    <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">

        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
        {
            @Html.HiddenFor(model => model.AccountId)
            <h4>@ZnodeResources.EditStorePermissionsHeader</h4>
            {
                int totalCount = Model.Stores.PortalList.Count;
                int rowCount = Model.Stores.PortalList.Where(store => store.Item3.Equals(false)).Select(store => new Tuple<string, int, bool>(store.Item1, store.Item2, store.Item3)).ToList().Count;
                string display = "";
                bool isChecked = false;
                <div class="chkAllStores">
                    @if (totalCount.Equals(rowCount))
                    {
                        display = "display:none;";
                        isChecked = true;
                    }

                    <div class="col-sm-12 nopadding bottom-shift">
                        <label>
                            <input id="@ZnodeResources.DefaultAllStores" name="StoreList" value="0" type="checkbox" checked="@isChecked" onchange="CommonHelper.ShowHideStoreList(this);">
                            <span class="lbl padding-8">@ZnodeResources.DefaultAllStores</span>
                            <input name="0" value="false" type="hidden" />
                        </label>
                    </div>
                </div>

                <div class="chkStoresList" style="@display">
                    @for (int iLength = 0; iLength < Model.Stores.PortalList.Count; iLength++)
                    {
                        <div class="col-sm-4 nopadding">
                            <label>
                                <input id="@Model.Stores.PortalList[iLength].Item1" name="StoreList" value="@Model.Stores.PortalList[iLength].Item2" type="checkbox" checked="@Model.Stores.PortalList[iLength].Item3">
                                <span class="lbl padding-8">@Model.Stores.PortalList[iLength].Item1</span>
                                <input name="@Model.Stores.PortalList[iLength].Item2" value="false" type="hidden" />
                            </label>
                        </div>
                    }
                </div>
            }

            <h4> @ZnodeResources.RolesHeader</h4>
            for (int iLength = 0; iLength < Model.Roles.RolesList.Count; iLength++)
            {
                <div class="col-sm-4 nopadding">
                    <label>
                        <input id="@Model.Roles.RolesList[iLength].Item1" name="Roles" value="@Model.Roles.RolesList[iLength].Item2" type="checkbox" checked="@Model.Roles.RolesList[iLength].Item3">
                        <span class="lbl padding-8">@Model.Roles.RolesList[iLength].Item1</span>
                        <input name="@Model.Roles.RolesList[iLength].Item2" value="false" type="hidden" />
                    </label>
                </div>
            }
            <div class="form-group">
                <div class="pull-right">
                    <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest" onclick="return CommonHelper.ValidatePerminssionsAndRoles('@ZnodeResources.RolesAndPermissionSelectErrorMessage', '@ZnodeResources.RolesSelectErrorMessage', '@ZnodeResources.StoresSelectErrorMessage');"> @ZnodeResources.ButtonSubmitRequest</button>
                    @if (string.Equals(controllerName.ToLower(), "franchise"))
                    {
                        <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = '/Franchise/Manage?id=@Model.AccountId&tabMode=Permissions';">@ZnodeResources.ButtonCancel</button>
                    }
                    else if (string.Equals(controllerName.ToLower(), "vendoraccount"))
                    {
                        <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = '/VendorAccount/Manage?id=@Model.AccountId&tabMode=Permissions';">@ZnodeResources.ButtonCancel</button>
                    }
                    else
                    {
                        <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = '/StoreAdmin/Manage?id=@Model.AccountId&tabMode=Permissions';">@ZnodeResources.ButtonCancel</button>
                    }
                </div>
            </div>
        }
    </div>
</div>