﻿@using Znode.Engine.MvcAdmin.Extensions
@{
    if (!String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = ViewBag.Title;
    }
    else
    {
        ViewBag.Title = Resources.ZnodeResources.TitleMultifront;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/themes/base/images/favicon.png" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>

<body id="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" class="@ViewContext.RouteData.Values["Action"]" data-controller="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" data-view="@ViewContext.RouteData.Values["Action"].ToString().FirstCharToUpper()" onload="CommonHelper.LoadLayout(); ">

    <section class="wrapper">
        <!--Header-->
        <header>
            <div class="container-fluid header">
                <div class="left">
                    <a href="/FranchiseAdmin/FranchiseDashboard/Dashboard" class="home-link"><img src="~/Content/themes/base/images/multifront_logo.png" alt="Multifront Dashboard" class="img-responsive logo" /></a>
                </div>
                <div class="nav-container">
                    <nav class="navbar navbar-default nav-bar nav-menu" role="navigation">
                        <!--NavBar Heading Logo & Name & Tongal Button -->
                        <div class="navbar-header nav-bar-toggle">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!--NavBar Menu -->
                        <div class="collapse navbar-collapse" id="example-navbar-collapse">
                            <ul id="nav-menu" class="nav navbar-nav">
                                <li><a href="/FranchiseAdmin/FranchiseDashboard/Dashboard" title="Dashboard" class="sub-menu"><i class="f-ico-m z-dashboard"></i><span>@ZnodeResources.DashboardTitle</span></a></li>
                                <li>
                                    <a href="/FranchiseAdmin/FranchiseStores/Index" title="Setup" class="sub-menu"><i class="f-ico-m z-setup"></i><span>@ZnodeResources.TitleSetup</span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/FranchiseAdmin/FranchiseStores/Store" title="@ZnodeResources.LabelStore"><i class="z-store"></i>@ZnodeResources.LabelStore</a></li>
                                        <li><a href="/FranchiseAdmin/FranchiseCatalog/List" title="@ZnodeResources.LabelCatalog"><i class="z-catalog"></i>@ZnodeResources.LabelCatalog</a></li>
                                        <li><a href="/FranchiseAdmin/FranchiseCategory/List" title="@ZnodeResources.TabSEOCategory"><i class="z-category"></i>@ZnodeResources.TabSEOCategory</a></li>
                                        <li><a href="/FranchiseAdmin/FranchisePayment/List" title="@ZnodeResources.PaymentsLink"><i class="glyphicon glyphicon-credit-card"></i>@ZnodeResources.PaymentsLink</a></li>
                                        <li><a href="/FranchiseAdmin/FranchiseShipping/List" title="@ZnodeResources.HeaderShipping"><i class="z-truck"></i>@ZnodeResources.HeaderShipping</a></li>
                                        <li><a href="/FranchiseAdmin/FranchiseTax/List" title="@ZnodeResources.TaxesLink"><i class="glyphicon glyphicon-usd"></i>@ZnodeResources.TaxesLink</a></li>
                                        <li><a href="/FranchiseAdmin/FranchiseManageMessage/List" title="@ZnodeResources.HeaderManageMessages"><i class="z-managemessages"></i>@ZnodeResources.HeaderManageMessages</a></li>
                                        <li><a href="/FranchiseAdmin/FranchiseContentPage/List" title="@ZnodeResources.ManageContentPagesLink"><i class="z-managecontent"></i>@ZnodeResources.ManageContentPagesLink</a></li>
                                       
                                    </ul>
                                </li>
                                <li>
                                    <a href="/FranchiseAdmin/FranchiseProduct/Index" title="Inventory" class="sub-menu"><i class="f-ico-m z-inventory"></i><span>@ZnodeResources.LabelInventory</span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/FranchiseAdmin/FranchiseProduct/List" title="@ZnodeResources.ProductTitle"><i class="z-product"></i>@ZnodeResources.ProductTitle</a></li>
                                        <li><a href="/FranchiseAdmin/FranchiseAddOn/List" title="@ZnodeResources.LabelAddOnsTypes"><i class="z-add-on-type"></i>@ZnodeResources.LabelAddOnsTypes</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/FranchiseAdmin/FranchisePromotion/Index" title="Marketing" class="sub-menu"><i class="f-ico-m z-marketing"></i><span>@ZnodeResources.TitleMarketing</span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/FranchiseAdmin/FranchisePromotion/List" title="@ZnodeResources.HeaderPromotionList"><i class="z-promotinons-and-coupons"></i>@ZnodeResources.HeaderPromotionList</a></li>
                                        <li><a href="/FranchiseAdmin/FranchiseReview/List" title="@ZnodeResources.CustomerReviewHeader"><i class="z-customer-reviews"></i>@ZnodeResources.CustomerReviewHeader</a></li>
                                        <li><a href="/FranchiseAdmin/FranchisePersonalization/Personalization" title="@ZnodeResources.HeaderPersonalisation"><i class="z-personalization"></i>@ZnodeResources.HeaderPersonalisation</a></li>
                                        <li><a href="/FranchiseAdmin/FranchiseStoreLocator/List" title="@ZnodeResources.StoreLocatorHeading"><i class="z-store-locator"></i>@ZnodeResources.StoreLocatorHeading</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/FranchiseAdmin/FranchiseOrders/Index" title="Orders" class="sub-menu"><i class="f-ico-m z-orders"></i><span>@ZnodeResources.TitleOrders</span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/FranchiseAdmin/FranchiseOrders/List" title="@ZnodeResources.HeaderOrderList"><i class="z-view-orders"></i>@ZnodeResources.HeaderOrderList</a></li>
                                        <li><a href="/FranchiseAdmin/FranchiseOrders/Create" title="@ZnodeResources.HeaderCreateAnOrder"><i class="z-create-order"></i>@ZnodeResources.HeaderCreateAnOrder</a></li>
                                        <li><a href="/FranchiseAdmin/FranchiseCustomer/List" title="@ZnodeResources.HeaderCustomers"><i class="z-customers"></i>@ZnodeResources.HeaderCustomers</a></li>
                                        <li><a href="/FranchiseAdmin/FranchiseServiceRequest/List" title="@ZnodeResources.ServiceRequestsHeading"><i class="z-service-request"></i>@ZnodeResources.ServiceRequestsHeading</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/FranchiseAdmin/FranchiseReports/Index" title="Reports" class="sub-menu"><i class="f-ico-m z-reports"></i><span>@ZnodeResources.TitleReports</span></a>                                    
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>

            </div>
        </header>
        <!--End Of Header-->
        <!--Main Wrapper-->
        <div class="col-sm-12 main-wrapper" id="body">
            <div class="MessageBoxContainer" id="MessageBoxContainerId" data-message="@TempData[MvcAdminConstants.Notifications]"></div>
            @{
                TempData.Remove(MvcAdminConstants.Notifications);
            }
            <div class="row">
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
        </div>

        <!--End Of Main Wrapper-->
    </section>
    <!--Footer-->
    <footer>
        <div class="container-fluid">
            <div class="row footer">
                <div class="col-sm-12">
                    <div class="col-sm-5 col-md-6">
                        <a target="_blank" href="http://www.znode.com/">
                            <img src="~/Content/themes/base/images/znode-logo-white.png" alt="Znode" class="img-responsive footer-logo left" />
                        </a>
                    </div>
                    <div class="col-sm-7 col-md-6">
                        <p class="right copyright">@ZnodeResources.Copyright</p>
                    </div>
                </div>                
            </div>
        </div>
    </footer>
    <!--End Of Footer-->
    @Html.Partial("_Overlay")
    @Scripts.Render("~/bundles/bootstrap")
 
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/CustomJs")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/dynamicgridJs")
    @Scripts.Render("~/bundles/Nicescroll")
    @Scripts.Render("~/bundles/ChartJs")
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.nav-tabs li', CommonHelper.DisplayTabHandler);
        });
    </script>
  
    @Scripts.Render("~/bundles/tinymceJs")
</body>
</html>
