﻿
@{
    if (!String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = ViewBag.Title;
    }
    else
    {
        ViewBag.Title = Resources.ZnodeResources.TitleMultifront;
    }
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/themes/base/images/favicon.png" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>

<body id="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" class="@ViewContext.RouteData.Values["Action"]" data-controller="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" data-view="@ViewContext.RouteData.Values["Action"].ToString().FirstCharToUpper()" onload="CommonHelper.LoadLayout(); ">

    <section class="wrapper">
        <!--Header-->
        <header>
            <div class="container-fluid header">
                <div class="left">
                    <a href="/Dashboard/dashboard" class="home-link"><img src="~/Content/themes/base/images/multifront_logo.png" alt="Multifront Dashboard" class="img-responsive logo" /></a>
                </div>
                <div class="nav-container">
                    <nav class="navbar navbar-default nav-bar nav-menu" role="navigation">
                        <!--NavBar Heading Logo & Name & Tongal Button -->
                        <div class="navbar-header nav-bar-toggle">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!--NavBar Menu -->
                     @Html.Partial("_Menu")
                    </nav>
                </div>
                <div class="right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>

            </div>
        </header>
        <!--End Of Header-->
        <!--Main Wrapper-->
        <div class="col-sm-12 main-wrapper" id="body">            
                <div class="MessageBoxContainer" id="MessageBoxContainerId" data-message="@TempData[MvcAdminConstants.Notifications]"></div>
                @{
                    TempData.Remove(MvcAdminConstants.Notifications);
                }
                <div class="row">
                    @RenderSection("featured", required: false)
                    @RenderBody()
                </div>            
        </div>

        <!--End Of Main Wrapper-->
    </section>
    <!--Footer-->
    <footer>
        <div class="container-fluid">
            <div class="row footer">
                <div class="col-sm-12">
                    <div class="col-sm-5 col-md-6">
                        <a href="http://www.znode.com/" target="_blank"><img src="~/Content/themes/base/images/znode-logo-white.png" alt="Znode" class="img-responsive footer-logo left" /></a>
                    </div>
                    <div class="col-sm-7 col-md-6">
                        <p class="right copyright">@ZnodeResources.Copyright</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--End Of Footer-->

    @Html.Partial("_Overlay")    
    @Scripts.Render("~/bundles/bootstrap")    
    
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")    
    @Scripts.Render("~/bundles/CustomJs")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/dynamicgridJs")
    @Scripts.Render("~/bundles/Nicescroll")
    @Scripts.Render("~/bundles/ChartJs")
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.nav-tabs li', CommonHelper.DisplayTabHandler);
        });
    </script>    
    @Scripts.Render("~/bundles/tinymceJs")
</body>
</html>
