﻿@using Microsoft.AspNet.Identity
@using Znode.Engine.MvcAdmin.Helpers
@if (Request.IsAuthenticated)
{
    string userName = User.Identity.GetUserName();
    string truncatedUserName = string.Empty;
    try
    {
        truncatedUserName = (userName.Length) > 25 ? userName.Truncate(25) + "..." : userName;
    }
    catch
    {
        truncatedUserName = userName;
    }
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <ul class="header-top-nav">
        <li><i class="glyphicon glyphicon-user"></i><span title="@userName!">Hello @truncatedUserName!</span></li>        
        <li><i class="glyphicon glyphicon-cog"></i>@Html.ActionLink("Account", "ChangePassword", "Account", routeValues: null, htmlAttributes: new { id = "userAccount", @title = "Account" })</li>
        <li><i class="glyphicon glyphicon-headphones"></i><a href="http://www.znode.com/support/submit-a-ticket/" target="_blank" title=@ZnodeResources.LabelSupport>@ZnodeResources.LabelSupport</a></li>
        <li><i class="glyphicon glyphicon-question-sign"></i>@Html.ActionLink(ZnodeResources.LabelHelp, "HelpPage", "Account", routeValues: null, htmlAttributes: new { @title = ZnodeResources.LabelHelp })</li>
        <li><i class="glyphicon glyphicon-log-out"></i><a href="javascript:document.getElementById('logoutForm').submit()" title="Log off" class="log-out">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="header-top-nav">
        <li><i class="glyphicon glyphicon-log-out"></i>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
