﻿@model Znode.Engine.MvcAdmin.ViewModels.LoginViewModel
@using Resources
@{
    string routeName = (Equals(HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"], null)) ? string.Empty : Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"]);
    string forgotUrl = (string.IsNullOrEmpty(routeName)) ? "/account/forgotpassword" : "/" + routeName + "/account/forgotpassword";
    string titleResourceKey = (string.IsNullOrEmpty(routeName)) ? "TitleAdminLogin" : string.Format("Title{0}", routeName);
    string subTitleResourceKey = (string.IsNullOrEmpty(routeName)) ? "SubTitleAdminLogin" : string.Format("SubTitle{0}", routeName);
    string requestAccessUrl = (string.IsNullOrEmpty(routeName)) ? string.Empty : (Equals(routeName, MvcAdminConstants.FranchiseAdminArea)) ? "/FranchiseAdmin/FranchiseRequestAccess/RequestFranchiseAccess" : (Equals(routeName, MvcAdminConstants.MallAdminArea)) ? "/MallAdmin/MallRequestAccess/RequestVendorAccess" : string.Empty;
    string requestAccessUrlText = (string.IsNullOrEmpty(routeName)) ? string.Empty : (Equals(routeName, MvcAdminConstants.FranchiseAdminArea)) ? ZnodeResources.LinkTextRequestFranchiseAccess : (Equals(routeName, MvcAdminConstants.MallAdminArea)) ? ZnodeResources.LinkTextRequestVendorAccess : string.Empty;
}

@using (Html.BeginForm())
{
    string rememberMeStatus = (!Equals(Model, null) && Model.RememberMe) ? "checked='checked'" : string.Empty;
    <h3 class="login-title">@ZnodeResources.ResourceManager.GetString(titleResourceKey)</h3>
    <h5>@ZnodeResources.ResourceManager.GetString(subTitleResourceKey)</h5>
    <div class="form-group login-field left-inner-icon">
        <i class="glyphicon glyphicon-user unit"></i>
        @Html.TextBoxFor(model => model.Username, new { @id = "login_username", @placeholder = ZnodeResources.ColumnUsername })
        <span class="login-error">@Html.ValidationMessageFor(m => m.Username)</span>
    </div>
    <div class="form-group login-field left-inner-icon">
        <i class="z-key unit"></i>
        @Html.PasswordFor(model => model.Password, new { @id = "login_password", @placeholder = ZnodeResources.ColumnPassword, @autocomplete = "off" })
        <span class="login-error">@Html.ValidationMessageFor(m => m.Password)</span>
    </div>
    <button type="submit" class="btn-text-full red" title="@ZnodeResources.ButtonLogin">@ZnodeResources.ButtonLogin</button>
    <div class="col-sm-12 nopadding login-remember">
        <div class="left">
            <label>
                <input @rememberMeStatus data-val="true" data-val-required="The RememberMe field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true">
                <span class="lbl padding-8">@ZnodeResources.CheckBoxTextLoginRemember</span>
                <input name="RememberMe" type="hidden" value="false">
            </label>
        </div>
        
        @if (!string.IsNullOrEmpty(requestAccessUrl))
        {
            <a href="@forgotUrl" class="login-form-forgotpassword right" title="@ZnodeResources.LinkTextForgetPassword">@ZnodeResources.LinkTextForgetPassword</a>
            <a href="@requestAccessUrl" class="login-form-forgotpassword right" title="@requestAccessUrlText">@requestAccessUrlText</a>
        }
        else
        {
            <a href="@forgotUrl" class="login-form-forgotpassword right" title="@ZnodeResources.LinkTextForgetPassword">@ZnodeResources.LinkTextForgetPassword</a>
        }
    </div>
}
