﻿@using Znode.Engine.MvcAdmin.Extensions
@using Znode.Plugin
@using Znode.Plugin.Framework
@{
    if (!String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = ViewBag.Title;
    }
    else
    {
        ViewBag.Title = Resources.ZnodeResources.TitleMultifront;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/themes/base/images/favicon.png" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-1.10.2.js"></script>

</head>

<body id="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" class="@ViewContext.RouteData.Values["Action"]" data-controller="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" data-view="@ViewContext.RouteData.Values["Action"].ToString().FirstCharToUpper()" onload="CommonHelper.LoadLayout(); ">

    <section class="wrapper">
        <!--Header-->
        <header>
            <div class="container-fluid header">
                <div class="left">
                    <a href="/MallAdmin/MallDashboard/Dashboard" class="home-link"><img src="~/Content/themes/base/images/multifront_logo.png" alt="Multifront Dashboard" class="img-responsive logo" /></a>
                </div>
                <div class="nav-container">
                    <nav class="navbar navbar-default nav-bar nav-menu" role="navigation">
                        <!--NavBar Heading Logo & Name & Tongal Button -->
                        <div class="navbar-header nav-bar-toggle">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!--NavBar Menu -->
                        <div class="collapse navbar-collapse" id="example-navbar-collapse">
                            <ul id="nav-menu" class="nav navbar-nav">
                                <li><a href="/MallAdmin/MallDashboard/Dashboard" title="@ZnodeResources.DashboardTitle" class="sub-menu"><i class="f-ico-m z-dashboard"></i><span>@ZnodeResources.DashboardTitle</span></a></li>
                                <li><a href="/MallAdmin/MallProduct/List" title="@ZnodeResources.ProductTitle" class="sub-menu"><i class="f-ico-m z-product"></i><span>@ZnodeResources.ProductTitle</span></a></li>
                                <li><a href="/MallAdmin/MallOrders/List" title="@ZnodeResources.TitleOrders" class="sub-menu"><i class="f-ico-m z-orders"></i><span>@ZnodeResources.TitleOrders</span></a></li>                               
                                <li>
                                    <a href="/MallAdmin/MallReports/Index" title="@ZnodeResources.TitleReports" class="sub-menu"><i class="f-ico-m z-reports"></i><span>@ZnodeResources.TitleReports</span></a>                                    
                                </li>
                                <li><a href="/MallAdmin/Account/Edit" title="@ZnodeResources.TitleMyAccount" class="sub-menu"><i class="f-ico-m z-accounts"></i><span>@ZnodeResources.TitleMyAccount</span></a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>

            </div>
        </header>
        <!--End Of Header-->
        <!--Main Wrapper-->
        <div class="col-sm-12 main-wrapper" id="body">
            <div class="MessageBoxContainer" id="MessageBoxContainerId" data-message="@TempData[MvcAdminConstants.Notifications]"></div>
            @{
                TempData.Remove(MvcAdminConstants.Notifications);
            }
            <div class="row">
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
        </div>

        <!--End Of Main Wrapper-->
    </section>
    <!--Footer-->
    <footer>
        <div class="container-fluid">
            <div class="row footer">
                <div class="col-sm-5 col-md-6">
                    <a target="_blank" href="http://www.znode.com/">
                        <img src="~/Content/themes/base/images/znode-logo-white.png" alt="Znode" class="img-responsive footer-logo left" />
                    </a>
                </div>
                <div class="col-sm-7 col-md-6">
                    <p class="right copyright">@ZnodeResources.Copyright</p>
                </div>
            </div>
        </div>
    </footer>
    <!--End Of Footer-->
    @Html.Partial("_Overlay")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/CustomJs")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/dynamicgridJs")
    @Scripts.Render("~/bundles/tinymceJs")

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.nav-tabs li', CommonHelper.DisplayTabHandler);
        });
    </script>
    <script src="~/Content/bootstrap-3.3.1/js/nicescroll.js"></script>
</body>
</html>
