﻿@model Znode.Engine.MvcAdmin.ViewModels.VendorAccountListViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
}

@{
    var selectedTabMode = TempData[MvcAdminConstants.SetTabMode];
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container bottom-shift">
        <h1 class="left">@ZnodeResources.HeaderVendorAccount</h1>
    </div>
    <div class="col-sm-12 nopadding">
        <div class="manage-stores-container">
            <div class="tab-container">
                <ul id="tabManageProduct" class="nav nav-tabs">
                    <li class="active"><a href="#panel-1" data-toggle="tab" class="tabs">Genaral</a></li>
                    <li><a href="/VendorAccount/Manage" id="productlist" data-targetitemid="panelSEO" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabSEOProducts</a></li>
                </ul>

                <div id="tabContents" class="tab-content">
                    <!--Panels 1-->
                    <div id="SEOtabContents" class="tab-content">
                        <div class="tab-pane fade in active" id="panel-1">
                            
                        </div>
                        <div class="tab-pane fade" id="panel-2">
                        </div>
                        <!--Important Div, Do not delete/modify-->
                        <div class="tab-pane fade" id="panelSEO">
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("selectedTabMode", selectedTabMode)
@Scripts.Render("~/bundles/manageseo")
<script>
    $(window).load(function () {
        ManageSEO.Load();
    });
</script>
