﻿@using Znode.Engine.MvcAdmin.Extensions
@using Znode.Plugin
@using Znode.Plugin.Framework
@using Znode.Engine.MvcAdmin.ViewModels
@{
   
    SessionProxyHelper objHelper = new SessionProxyHelper();
    RoleMenuListViewModel roleMenuList = objHelper.GetMenuListByUserName();
}
@if (!Equals(roleMenuList, null) && !Equals(roleMenuList.RoleMenuList, null) && roleMenuList.RoleMenuList.Count > 0)
{
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul id="nav-menu" class="nav navbar-nav">
            @try
            {
                List<RoleMenuViewModel> lstParentMenus = roleMenuList.RoleMenuList.FindAll(x => Equals(x.ParentMenuId, null)).ToList();
                foreach (RoleMenuViewModel item in lstParentMenus)
                {
                    string url = string.IsNullOrEmpty(item.AreaName) ? string.Format("/{0}/{1}", item.ControllerName, item.ActionName) : string.Format("/{0}/{1}/{2}", item.AreaName, item.ControllerName, item.ActionName);
                    string menuName = ZnodeResources.ResourceManager.GetString(item.MenuName);
                    List<RoleMenuViewModel> lstChildMenus = roleMenuList.RoleMenuList.FindAll(y => Equals(y.ParentMenuId, item.MenuId)).ToList();
                    <li>
                        <a href="@url" title="@menuName" class="sub-menu"><i class="@item.CSSClassName"></i><span>@menuName</span></a>
                        @if ((!Equals(lstChildMenus, null) && lstChildMenus.Count > 0))
                        {
                            <ul class="dropdown-menu">
                                @foreach (RoleMenuViewModel childItem in lstChildMenus)
                                {
                                    string childMenuUrl = string.IsNullOrEmpty(childItem.AreaName) ? string.Format("/{0}/{1}", childItem.ControllerName, childItem.ActionName) : string.Format("/{0}/{1}/{2}", childItem.AreaName, childItem.ControllerName, childItem.ActionName);
                                    string childMenuName = ZnodeResources.ResourceManager.GetString(childItem.MenuName);
                                    <li><a href="@childMenuUrl" title="@childMenuName"><i class="@childItem.CSSClassName"></i>@childMenuName</a></li>
                                }
                            </ul>
                        }
                    </li>
                }
            }
            catch (Exception) { }
        </ul>
    </div>
}
   