﻿@{
    ViewBag.Title = @ZnodeResources.LabelMerchantLogin + " | " + @ZnodeResources.TitleMultifront;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/themes/base/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="login-wrapper" onload="CommonHelper.LoadOuterLayout();">
    <section class=" login-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="MessageBoxContainer" id="MessageBoxContainerId" data-message="@TempData[MvcAdminConstants.Notifications]"></div>
                </div>
                @{
                    TempData.Remove(MvcAdminConstants.Notifications);
                }
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
        </div>
    </section>
    <!--Footer-->
    <footer>
        <div class="login-footer">
            <div class="container">
                <p>@ZnodeResources.Copyright</p>
            </div>
        </div>
    </footer>
    <!--End Of Footer-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/CommonHelper")
    @RenderSection("scripts", required: false)
</body>

</html>
