﻿<div class="ui-widget-overlay" style="display: none;" id="backgroundddiv">

</div>

<div class="ui-widget-overlay" style="display: block;" id="backgroundddivWait">
    <img style="margin-left: 45%;margin-top: 25%;" src="~/Content/themes/base/images/Loader_1.gif" />
</div>


