﻿@model Znode.Engine.MvcAdmin.ViewModels.VendorProductViewModel

@foreach (var nodeItem in Model.CategoryNode.CategoryNodeList)
{
    if (Equals(nodeItem.ParentCategoryNodeId, null) || Equals(nodeItem.ParentCategoryNodeId, 0))
    {
        string nodeDisable = (Model.CategoryNode.IsCategoryNodeDisable) ? "disabled='disabled'" : string.Empty;
        Model.CategoryNode.SelectedCategoryNodeId = nodeItem.CategoryNodeId;       
        <li>
            <label>
                <input type="checkbox" @nodeDisable data-categoryid="@nodeItem.CategoryId" id="AddOn-@nodeItem.CategoryNodeId" name="AddOnValueId_@nodeItem.CategoryNodeId" value="@nodeItem.CategoryNodeId" class="AddOn" @((!Equals(Model.AssociateProductCategories, null) && Model.AssociateProductCategories.Count > 0 && Model.AssociateProductCategories.FindAll(x => x.CategoryId == nodeItem.CategoryId).Count > 0) ? "checked=checked" : "") />
                <span class="lbl padding-8" for="AddOn-@nodeItem.CategoryNodeId">@nodeItem.Name</span>
            </label>
            @Html.Partial("_ChildCategoryNode", Model)
        </li>
    }
}
