﻿@model Znode.Engine.MvcAdmin.ViewModels.PortalSelectListViewModel

@{
    Layout = null;
}

@if (!Equals(Model, null))
{
    <div class="col-sm-12 col-md-6 order-details nopadding"> 
        <div class="col-sm-12 col-md-11 nopadding">
            @Html.DropDownListFor(model => model.SelectedPortalId, Model.PortalSelectList ?? new List<SelectListItem>(), "Select Store")
        </div>
    </div>
}

