﻿@model  Znode.Engine.MvcAdmin.ViewModels.ActionModel

@if (string.IsNullOrEmpty(Model.Callback))
{
    <button class="btn-text red" title="@Model.SaveHeader" onclick="CommonHelper.SubmitForm('@Model.FormId');"> @Model.SaveHeader</button>
}
else
{
    <button class="btn-text red" title="@Model.SaveHeader" onclick="CommonHelper.SubmitForm('@Model.FormId',@Model.Callback);"> @Model.SaveHeader</button>
}
@{
    string returnurl = string.IsNullOrEmpty(Model.CancelUrl) ? HttpUtility.UrlDecode(Model.ReturnUrl) : Model.CancelUrl;    
}

@if (!string.IsNullOrEmpty(returnurl))
{
    
    <a href="@returnurl" class="btn-text grey" title="@Model.CancelHeader">@Model.CancelHeader</a>
}
else
{
    <a href="/Dashboard/Dashboard" class="btn-text grey" title="@Model.CancelHeader">@Model.CancelHeader</a>
}


