﻿@model  Znode.Engine.MvcAdmin.ViewModels.ActionModel

@if (string.IsNullOrEmpty(Model.Callback))
{
    <button class="btn-text red" title="@Model.SaveHeader" id="@Model.SaveId"> @Model.SaveHeader</button>
}
else
{
    <button class="btn-text red" title="@Model.SaveHeader" id="@Model.SaveId"> @Model.SaveHeader</button>
}

@if (!Equals(Model.ReturnUrl, null))
{
    string url = HttpUtility.UrlDecode(Model.ReturnUrl);
    <button class="btn-text grey" title="@Model.CancelHeader" id="@Model.CancelId" > @Model.CancelHeader</button>
}
else
{
    <button class="btn-text grey" title="@Model.CancelHeader" id="@Model.CancelId" onclick="window.location.href = '/Dashboard/Dashboard'"> @Model.CancelHeader</button>
}

