﻿@model Znode.Engine.MvcAdmin.ViewModels.PermissionViewModel
@using Resources;
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

    <div class="col-sm-12 nopadding">
        @if (string.Equals(controllerName.ToLower(), "franchise"))
        {
        <button class="btn-text-icon red pull-right" title="@ZnodeResources.ButtonEdit" onclick="javascript: location.href = '/Franchise/editrolesandpermissions?id=@Model.AccountId'"><i class="glyphicon glyphicon-pencil"></i>@ZnodeResources.ButtonEdit</button>
        }
        else if (string.Equals(controllerName.ToLower(), "vendoraccount"))
        {
            <button class="btn-text-icon red pull-right" title="@ZnodeResources.ButtonEdit" onclick="javascript: location.href = '/VendorAccount/editrolesandpermissions?id=@Model.AccountId'"><i class="glyphicon glyphicon-pencil"></i>@ZnodeResources.ButtonEdit</button>
        }
        else
        {
        <button class="btn-text-icon red pull-right" title="@ZnodeResources.ButtonEdit" onclick="javascript: location.href = '/storeadmin/editrolesandpermissions?id=@Model.AccountId'"><i class="glyphicon glyphicon-pencil"></i>@ZnodeResources.ButtonEdit</button>
        }

    </div>
<div class="col-sm-12 col-md-6 col-lg-6 item-list">
    <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
            <h4>@ZnodeResources.StoresHeader</h4>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @ZnodeResources.StoresLink
                </div>
                <div class="col-sm-8 label-background">
                    @{
                        string storesList = string.Empty;
                        for (int iLength = 0; iLength < Model.Stores.PortalList.Count; iLength++)
                         {
                            if (@Model.Stores.PortalList[iLength].Item3)
                            {                                
                                if(storesList.Length.Equals(0))
                                {
                                    storesList = @Model.Stores.PortalList[iLength].Item1;
                                }
                                else
                                {
                                    storesList = string.Concat(storesList, ", ", @Model.Stores.PortalList[iLength].Item1);
                                }
                            }
                        }

                        if (storesList.Length.Equals(0))
                        {
                            <label>@ZnodeResources.DefaultAllStores</label>
                        }
                        else
                        {
                            <label>@storesList</label>
                        }
}
                </div>
            </div>
            <h4>@ZnodeResources.RolesHeader</h4>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @ZnodeResources.RolesSubHeader
                </div>
                <div class="col-sm-8 label-background">
                    @{
                        string roleList = string.Empty;
                        for (int iLength = 0; iLength < Model.Roles.RolesList.Count; iLength++)
                        {
                            if (@Model.Roles.RolesList[iLength].Item3)
                            {
                                if (roleList.Length.Equals(0))
                                {
                                    roleList = @Model.Roles.RolesList[iLength].Item1;
                                }
                                else
                                {
                                    roleList = string.Concat(roleList, ", ", @Model.Roles.RolesList[iLength].Item1);
                                }
                            }
                        }
                            <label>@roleList</label>
                    }
                </div>
            </div>
        </div>
    </div>

