﻿@model Znode.Engine.MvcAdmin.ViewModels.VendorContactViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
                <h4>@ZnodeResources.SubHeaderContactInformation</h4>
                @Html.ValidationSummary(true)
@if (string.Equals(actionName.ToLower(), "edit"))
{
    if (string.Equals(controllerName.ToLower(), "vendoraccount"))
    {
                <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.LabelFor(model => model.ExternalAccountNum)
                <p class="sub">Your internal ERP account number.</p>
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.ExternalAccountNum)
                @Html.ValidationMessageFor(m => m.ExternalAccountNum)
            </div>
        </div>
    }
}
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.FirstName, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.FirstName)
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.LastName, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.LastName)
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                </div>
@if (string.Equals(controllerName.ToLower(), "vendoraccount"))
    {
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.CompanyName)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.CompanyName)
                        @Html.ValidationMessageFor(m => m.CompanyName)
                    </div>
                </div>
    }
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.Email, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.PhoneNumber, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.PhoneNumber)
                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.Street1, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Street1)
                        @Html.ValidationMessageFor(m => m.Street1)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.Street2)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Street2)
                        @Html.ValidationMessageFor(m => m.Street2)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.City, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.City)
                        @Html.ValidationMessageFor(m => m.City)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @if(actionName.ToLower().Equals("create"))
                        { 
                        @Html.LabelFor(model => model.State, new { @class = "required" })
                        }
                        else
                        {
                           @Html.Label(ZnodeResources.LabelStateProvinceRegion, new { @class = "required" })
                        }
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.State, new { maxlength = "2" })
                        @Html.ValidationMessageFor(m => m.State)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.PostalCode, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.PostalCode)
                        @Html.ValidationMessageFor(m => m.PostalCode)
                    </div>
                </div>

