﻿@model Znode.Engine.MvcAdmin.ViewModels.AddressViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    int accountId = Equals(Model, null) ? 0 : Model.AccountId;
    ViewBag.Title = string.Format("{0} | {1}", Equals(controllerName, "Customers") ? @ZnodeResources.TitleOrders : ZnodeResources.TitleVendors, ZnodeResources.TitleMultifront);
}
@{
    string url = string.Empty;
    if (Equals(controllerName,"VendorAccount"))
    {
        url = "/VendorAccount/manage/";
    }
    else if (Equals(controllerName, "Franchise"))
    {
        url = "/Franchise/manage/";
    }
    else if (Equals(controllerName, "Customers"))
    {
        url = "/Customers/manage/";
    }
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmAddress", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, CancelUrl = url + accountId };
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (Equals(actionName.ToLower(), "createaddress"))
            {
                <h1 class="left">@ZnodeResources.HeaderCreateAddress</h1>
            }
            else
            {
                <h1 class="left">@ZnodeResources.HeaderEditAddress</h1>
            }
        }
    </div>
    <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmAddress" }))
        {


            string isDefaultBilling = string.Empty;
            string isDefaultShipping = "checked='checked'";
            if (Model != null)
            {
                if (Model.Name != null)
                {
                    isDefaultBilling = (!Equals(Model, null) && Model.IsDefaultBilling) ? "checked='checked'" : string.Empty;
                    isDefaultShipping = (!Equals(Model, null) && Model.IsDefaultShipping) ? "checked='checked'" : string.Empty;
                }
            }

            @Html.ValidationSummary(true)
            <h4>@ZnodeResources.LabelAddressDetails</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Name, new { @class = "required" })
                    <p class="sub">@ZnodeResources.TextHomeAddress</p>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.FirstName, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.FirstName)
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.LastName, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.LastName)
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CompanyName)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.CompanyName)
                    @Html.ValidationMessageFor(m => m.CompanyName)
                </div>
            </div>
            <div class="form-group">
                @{ Html.EnableClientValidation(false); }
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.StreetAddress1)
                </div>

                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.StreetAddress1)
                    @Html.ValidationMessageFor(m => m.StreetAddress1)
                </div>
                @{ Html.EnableClientValidation(true); }
            </div>
            <div class="form-group">
                @{ Html.EnableClientValidation(false); }
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.StreetAddress2)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.StreetAddress2)
                    @Html.ValidationMessageFor(m => m.StreetAddress2)
                </div>
                @{ Html.EnableClientValidation(true); }
            </div>
            <div class="form-group">
                @{ Html.EnableClientValidation(false); }
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.City)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.City)
                    @Html.ValidationMessageFor(m => m.City)
                </div>
                @{ Html.EnableClientValidation(true); }
            </div>
            <div class="form-group">
                @{ Html.EnableClientValidation(false); }
                <div class="col-sm-4 nopadding">
                    @Html.Label(ZnodeResources.LabelStateProvinceRegion)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.StateCode, new { maxlength = "2" })
                    @Html.ValidationMessageFor(m => m.StateCode)
                </div>
                @{ Html.EnableClientValidation(true); }
            </div>
            <div class="form-group">
                @{ Html.EnableClientValidation(false); }
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.PostalCode)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.PostalCode)
                    @Html.ValidationMessageFor(m => m.PostalCode)
                </div>
                @{ Html.EnableClientValidation(true); }
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label(ZnodeResources.LabelCountryDropdown)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.CountryCode, new SelectList(Model.Countries, ZnodeResources.TextCode, ZnodeResources.LabelName))
                    @Html.HiddenFor(model => Model.CountryCode)
                </div>
            </div>
            <div class="form-group">
                @{ Html.EnableClientValidation(false); }
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.PhoneNumber)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.PhoneNumber)
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                </div>
                @{ Html.EnableClientValidation(true); }
            </div>

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <label>
                        <input @isDefaultBilling id="IsDefaultBilling" name="IsDefaultBilling" type="checkbox" value="true">
                        <span class="lbl padding-8">@ZnodeResources.LabelDefaultBillingAddress</span>
                        <input name="IsDefaultBilling" type="hidden" value="false">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">

                </div>
                <div class="col-sm-8">
                    <label>
                        <input @isDefaultShipping id="IsDefaultShipping" name="IsDefaultShipping" type="checkbox" value="true">
                        <span class="lbl padding-8">@ZnodeResources.LabelDefaultShippingAddress</span>
                        <input name="IsDefaultShipping" type="hidden" value="false">
                    </label>
                </div>
            </div>


            @Html.HiddenFor(model => model.AccountId)

            if (actionName.ToLower().Equals("editaddress"))
            {
                @Html.HiddenFor(model => model.AccountId)
                @Html.HiddenFor(model => model.AddressId)
            }
        }

        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
</div>

