﻿@{
    ViewBag.Title = "Error";
    Layout = null;
}


@if (ViewBag.ErrorMessage != null)
{
    <h2 style="color:red">@ViewBag.ErrorMessage</h2>

    <h3> <br /><a href='javascript:history.go(-1)'>Go Back to Previous Page</a></h3>
    
    <br/>
    
    if (HelperMethods.IsDebugMode)
    {
        string elmahUrl = HelperMethods.GetDomainUrl() + "/elmah.axd";
       
        <iframe src=@elmahUrl height="100%" width="100%"></iframe>
    }
}
else
{
    <h2>Page Not Found</h2>
}




