﻿@{
    ViewBag.Title = "InstallerConfiguration";
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>InstallerConfiguration</h1>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
        <h4>SQL Serve Details</h4>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                <label>SQL Server Name</label>
            </div>
            <div class="col-sm-8">
                <input type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                <label>SQL User Name</label>
            </div>
            <div class="col-sm-8">
                <input type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                <label>SQL User Password</label>
            </div>
            <div class="col-sm-8">
                <input type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                <label>Desired Marketplace DBName</label>
            </div>
            <div class="col-sm-8">
                <input type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                <label>Desired Payment DBName</label>
            </div>
            <div class="col-sm-8">
                <input type="text" />
            </div>
        </div>
        <h4>Background Service Details</h4>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                <label>Path To Znode Folder</label>
            </div>
            <div class="col-sm-8">
                <input type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                <label>Desired Znode Service Path</label>
            </div>
            <div class="col-sm-8">
                <input type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                <label>Desired Background Service Name</label>
            </div>
            <div class="col-sm-8">
                <input type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                <label>Server Name</label>
            </div>
            <div class="col-sm-8">
                <input type="text" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                <label>Admin Site URL</label>
            </div>
            <div class="col-sm-8">
                <input type="text" />
            </div>
        </div>
        <div class="col-sm-12 nopadding">
            <div class="form-group ">
                <div class="pull-right">
                    <button class="btn-text red" title="Submit">Submit</button>
                    <button class="btn-text grey" title="Cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

