﻿@using Znode.Engine.MvcAdmin.ViewModels
@using Resources;
@model ChangePasswordViewModel

@{
    ViewBag.Title = @ZnodeResources.DashboardTitle + " | " + @ZnodeResources.TitleMultifront;
    string returnUrl = string.IsNullOrEmpty(HttpUtility.UrlDecode(Model.ReturnUrl).ToLower()) ? "/dashboard/dashboard" : HttpUtility.UrlDecode(Model.ReturnUrl).ToLower();
    string routeName = (Equals(HttpContext.Current.Request.RequestContext.RouteData.DataTokens[MvcAdminConstants.AreaKey], null)) ? string.Empty : Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.DataTokens[MvcAdminConstants.AreaKey]);
    string layoutName = (string.IsNullOrEmpty(routeName)) ? string.Empty : (Equals(routeName, MvcAdminConstants.FranchiseAdminArea)) ? "~/Views/Shared/_FranchiseAdminLayout.cshtml" : (Equals(routeName, MvcAdminConstants.MallAdminArea)) ? "~/Views/Shared/_MallAdminLayout.cshtml" : string.Empty;
}
@if (!string.IsNullOrEmpty(layoutName))
{
    Layout = layoutName;
}
<div class="col-sm-12 dashboard-page-container">
    <div id="layout-account-changepassword">
        <div class="col-sm-12 title-container">
            <h1>@ZnodeResources.TitleChangePassword</h1>
            <p>@ZnodeResources.SubTextChangePassword</p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-5 add-new-container">
            @using (Html.BeginForm())
            {
                <h4>@ZnodeResources.TitlePasswordDetails</h4>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        <label for="reset_oldpassword" class="required">@ZnodeResources.ColumnCurrentPassword</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.PasswordFor(m => m.OldPassword, new { @type = "password", @id = "reset_oldpassword", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        <label for="reset_password" class="required">@ZnodeResources.ColumnNewPassword</label>
                        <p class="sub">@ZnodeResources.ValidPassword</p>
                    </div>
                    <div class="col-sm-8">
                        @Html.PasswordFor(m => m.NewPassword, new { @type = "password", @id = "reset_password", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        <label for="reset_verify" class="required">@ZnodeResources.ColumnReTypeNewPassword</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.PasswordFor(m => m.ReTypeNewPassword, new { @type = "password", @id = "reset_verify", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.ReTypeNewPassword)
                    </div>
                    @Html.HiddenFor(x => x.UserName)
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonResetPassword">@ZnodeResources.ButtonResetPassword</button>
                    <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href ='@returnUrl';">@ZnodeResources.ButtonCancel</button>
                </div>
            }

        </div>
    </div>
</div>