﻿@using Znode.Engine.MvcAdmin.ViewModels
@using Resources;
@model AccountViewModel
@{
    Layout = "~/Views/Shared/_OuterPageLayout.cshtml";
}

<div id="layout-forgotpassword" class="login-layout">
    <div class="login-container">
        <div class="col-sm-12 login-container-header">
            <img src="~/Content/themes/base/images/multifront_logo.png" class="img-responsive" />
        </div>
        <div class="col-sm-12 login-main">
            <div class="col-sm-8 col-sm-offset-2">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)

                    <h3 class="login-title">@ZnodeResources.TextResetPassword</h3>
                    <p class="login-form-forgotpassword">@ZnodeResources.SubTextResetPassword</p>
                    <div class="form-group login-field left-inner-icon">
                        <i class="glyphicon glyphicon-user unit"></i>
                        @Html.TextBoxFor(m => m.UserName, new { @type = "text", @id = "forgot_username", @class = "form-input", @placeholder = @ZnodeResources.ColumnUsername })
                        <span class="login-error">@Html.ValidationMessageFor(m => m.UserName)</span>
                    </div>
                    <div class="form-group login-field left-inner-icon">
                        <i class="glyphicon glyphicon-envelope unit"></i>
                        @Html.TextBoxFor(m => m.EmailAddress, new { @type = "email", @id = "forgot_email", @class = "form-input-long", @placeholder = @ZnodeResources.ColumnEmailAddress })
                        <span class="login-error">@Html.ValidationMessageFor(m => m.EmailAddress)</span>
                    </div>
                    <input type="hidden" id="dynamic-userid" name="userid" value="" />
                    <div class="pull-right">
                        <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                        <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = 'Login';">@ZnodeResources.ButtonCancel</button>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-12 login-container-footer">
            <img src="~/Content/themes/base/images/znode-logo-white.png" class="img-responsive" />
        </div>
    </div>
</div>