﻿@using Resources;
@{
    ViewBag.Title = @ZnodeResources.DashboardTitle + " | " + @ZnodeResources.TitleMultifront;
    string routeName = (Equals(HttpContext.Current.Request.RequestContext.RouteData.DataTokens[MvcAdminConstants.AreaKey], null)) ? string.Empty : Convert.ToString(HttpContext.Current.Request.RequestContext.RouteData.DataTokens[MvcAdminConstants.AreaKey]);
    string layoutName = (string.IsNullOrEmpty(routeName)) ? string.Empty : (Equals(routeName, MvcAdminConstants.FranchiseAdminArea)) ? "~/Views/Shared/_FranchiseAdminLayout.cshtml" : (Equals(routeName, MvcAdminConstants.MallAdminArea)) ? "~/Views/Shared/_MallAdminLayout.cshtml" : string.Empty;
}
@if (!string.IsNullOrEmpty(layoutName))
{
    Layout = layoutName;
}
<div class="col-sm-12 dashboard-page-container">    
        <div class="col-sm-12 title-container">
            <h1>@ZnodeResources.LabelHelp</h1>
        </div>
    <div class="col-sm-12 add-new-item nopadding">
        <div class="col-sm-12 col-md-6 col-lg-6 item-group">
            <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                <div class="col-sm-12 product-search tax-rule-ul">
                    <h3>@ZnodeResources.LabelMerchants</h3>
                    <ul class="help-ul">
                        <li><a href="http://www.znode.com/downloads/8.1.0/Znode_multifront_merchant_guide.pdf" title="@ZnodeResources.LabelQuickStart" target="_blank" class="left-sm-shift">@ZnodeResources.LabelQuickStart</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 product-search tax-rule-ul">
                    <h3>@ZnodeResources.TitleUserManual</h3>
                    <ul class="help-ul">
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Setup_Manual.pdf" title="@ZnodeResources.LabelSetupManual" target="_blank" class="left-sm-shift">@ZnodeResources.LabelSetupManual</a></li>
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Inventory_Manual.pdf" title="@ZnodeResources.LabelInventoryManual" target="_blank" class="left-sm-shift">@ZnodeResources.LabelInventoryManual</a></li>
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Marketing_Manual.pdf" title="@ZnodeResources.LabelMarketingManual" target="_blank" class="left-sm-shift">@ZnodeResources.LabelMarketingManual</a></li>
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Orders_Manual.pdf" title="@ZnodeResources.LabelOrdersManual" target="_blank" class="left-sm-shift">@ZnodeResources.LabelOrdersManual</a></li>
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Vendors_Manual.pdf" title="@ZnodeResources.LabelVendorsManual" target="_blank" class="left-sm-shift">@ZnodeResources.LabelVendorsManual</a></li>
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Reports_Manual.pdf" title="@ZnodeResources.LabelReportsManual" target="_blank" class="left-sm-shift">@ZnodeResources.LabelReportsManual</a></li>
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Advanced_Manual.pdf" title="@ZnodeResources.LabelAdvancedManual" target="_blank" class="left-sm-shift">@ZnodeResources.LabelAdvancedManual</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 product-search tax-rule-ul">
                    <h3>Bussiness User Guide</h3>
                    <ul class="help-ul">
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Customer Based Pricing User Guide.pdf" title="Customer Based Pricing User Guide" target="_blank" class="left-sm-shift">Customer Based Pricing User Guide</a></li>
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Personalization User Guide.pdf" title="Personalization User Guide" target="_blank" class="left-sm-shift">Personalization User Guide</a></li>
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Reset Password User Guide.pdf" title="Reset Password User Guide" target="_blank" class="left-sm-shift">Reset Password User Guide</a></li>
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Search User Guide.pdf" title="Search User Guide" target="_blank" class="left-sm-shift">Search User Guide</a></li>
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Znode_Multifront_Merchant_Quickstart_Guide.pdf" title="Znode Multifront Merchant Quickstart Guide" target="_blank" class="left-sm-shift">ZnodeMultifront Merchant Quickstart Guide</a></li>
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Gift_Card_User_Guide.pdf" title="Gift Card User Guide" target="_blank" class="left-sm-shift">Gift Card User Guide</a></li>
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Import_Export_User_Guide.pdf" title="Import Export User Guide" target="_blank" class="left-sm-shift">Import Export User Guide</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 product-search tax-rule-ul">
                    <h3>Developer Guide</h3>
                    <ul class="help-ul">
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Znode_Multifront_Developer_Guide.zip" title="Znode Multifront Developer Guide" target="_blank" class="left-sm-shift">Znode Multifront Developer Guide</a></li>                        
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/ZNODE_Nettiers_Generation.pdf" title="Nettiers Generation" target="_blank" class="left-sm-shift">Nettiers Generation</a></li>                        
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Znode_SASS_User_Guide.pdf" title="SASS User Guide" target="_blank" class="left-sm-shift">SASS User Guide</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 product-search tax-rule-ul">
                    <h3>Scribe and Omniture Guide</h3>
                    <ul class="help-ul">
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Znode_Multifront_ConnectForScribe.pdf" title="Znode Multifront Connect For Scribe" target="_blank" class="left-sm-shift">Znode Multifront Connect For Scribe</a></li>
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Znode_Multifront_Omniture_Guide.pdf" title="Znode Multifront Omniture Guide" target="_blank" class="left-sm-shift">Znode Multifront Omniture Guide</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 product-search tax-rule-ul">
                    <h3>SiteCore Guide</h3>
                    <ul class="help-ul">
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Sitecore_Multistore_Incremental Import_User_Guide.pdf" title="Sitecore Multistore Incremental Import User Guide" target="_blank" class="left-sm-shift">Sitecore Multistore Incremental Import User Guide</a></li>
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Znode_Sitecore_Connector_Implementation_Guide.pdf" title="Znode Sitecore Connector Implementation Guide" target="_blank" class="left-sm-shift">Znode Sitecore Connector Implementation Guide</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 product-search tax-rule-ul">
                    <h3>Release Note</h3>
                    <ul class="help-ul">
                        <li><a href="http://www.znode.com/downloads/8.1.0/Documentation/Znode_Multifront_Release_Notes.zip" title="Release Notes" target="_blank" class="left-sm-shift">Znode Multifront Release Notes</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 item-group">            
                <div class="col-sm-12 product-search tax-rule-ul">
                    <h3>@ZnodeResources.LablePluginDeveloperGuide</h3>
                    <ul class="help-ul">
                        <li><a href="http://www.znode.com/Downloads/8.1.0/Documentation/Znode_Plugin_Developer_Guide.pdf" title="@ZnodeResources.labelZnodePluginDeveloperGuide" target="_blank" class="left-sm-shift">@ZnodeResources.labelZnodePluginDeveloperGuide</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 product-search tax-rule-ul">
                    <h3>Installation In Third Party Environment</h3>
                    <ul class="help-ul">
                        <li><a href="http://www.znode.com/Downloads/8.1.0/Documentation/Znode_Multifront_Installation_on_AWS_Guide.pdf" title="Znode Multifront Installation on AWS Guide" target="_blank" class="left-sm-shift">Znode Multifront Installation on AWS Guide</a></li>
                        <li><a href="http://www.znode.com/Downloads/8.1.0/Documentation/Znode_Multifront_Installation_on_Azure_Guide.pdf" title="Znode Multifront Installation on Azure Guide" target="_blank" class="left-sm-shift">Znode Multifront Installation on Azure Guide</a></li>
                    </ul>
                </div>
        </div>
    </div>




        
</div>

