﻿@{

    Layout = "~/Views/Shared/_OuterPageLayout.cshtml";
}

<div id="layout-account-login" class="login-layout">
    <div class="login-container">
        <div class="col-sm-12 login-container-header">
            <img src="~/Content/themes/base/images/multifront_logo.png" class="img-responsive" />
        </div>
        <div class="col-sm-12 login-main">
            <div class="col-sm-8 col-sm-offset-2">
                @Html.Partial("_LoginForm")
            </div>
        </div>
        <div class="col-sm-12 login-container-footer">
            <img src="~/Content/themes/base/images/znode-logo-white.png" class="img-responsive" />
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    // Prevent auto-execution of scripts when no explicit dataType was provided (See gh-2432)
    jQuery.ajaxPrefilter(function (s) {
        if (s.crossDomain) {
            s.contents.script = false;
        }
    });

    $(document).ready(function(){
        var isiPhone = navigator.userAgent.toLowerCase().indexOf("iphone");
        var isiPad = navigator.userAgent.toLowerCase().indexOf("ipad");
        var isiPod = navigator.userAgent.toLowerCase().indexOf("ipod");
        var deviceName = '';
        if(isiPhone > -1)
        {
            //Redirect to iPhone Version of the website.
            deviceName ="iPhone";
        }
        if(isiPad > -1)
        {
            //Redirect to iPad Version of the website.
            deviceName ="iPad";
        }
        if(isiPod > -1)
        {
            //Redirect to iPod Version of the website.
            deviceName ="iPod";
        }

        var testKey = 'qeTest', storage = window.sessionStorage;
        try {
            // Try and catch quota exceeded errors
            storage.setItem(testKey, '1');
            storage.removeItem(testKey);
        }
        catch (error) {
            if (error.code === DOMException.QUOTA_EXCEEDED_ERR && storage.length === 0)
                alert('You are using '+ deviceName +' private browser. For better view set private browsing off.\n\n To set private browsing off:\n 1) Open new tab \n 2) Click on bottom left corner "private" button\n3) Click on "Keep All".');
            else
                throw error;
        }
    });
</script>