﻿@using Resources;
@model Znode.Engine.MvcAdmin.ViewModels.ResetPasswordModel
@{
    Layout = "~/Views/Shared/_OuterPageLayout.cshtml";
}

<div id="layout-account-login" class="login-layout">
    <div class="login-container">
        <div class="col-sm-12 login-container-header">
            <img src="~/Content/themes/base/images/multifront_logo.png" class="img-responsive" />
        </div>
        <div class="col-sm-12 login-main">
            <div class="col-sm-8 col-sm-offset-2">
                @using (Html.BeginForm())
                {
                    <h3 class="login-title">@ZnodeResources.TitleResetAdminDetails</h3>
                    <div class="form-group login-field left-inner-icon">
                        <i class="glyphicon glyphicon-user unit"></i>
                        @Html.TextBoxFor(model => model.Username, new { @id = "admin_username", maxlength = "256", @placeholder = @ZnodeResources.ColumnUsername })
                        <span class="login-error">@Html.ValidationMessageFor(m => m.Username)</span>
                    </div>
                    <div class="form-group login-field left-inner-icon">
                        <i class="z-key unit"></i>
                        @Html.PasswordFor(model => model.Password, new { @id = "admin_password", @placeholder = @ZnodeResources.ColumnPassword })
                        <span class="login-error">@Html.ValidationMessageFor(m => m.Password)</span>
                    </div>
                    <div class="form-group login-field left-inner-icon">
                        <i class="z-key unit"></i>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @id = "admin_confirmpassword", @placeholder = @ZnodeResources.ColumnReTypeNewPassword })
                        <span class="login-error">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                    </div>
                    <div class="form-group login-field left-inner-icon">
                        <i class="glyphicon glyphicon-envelope unit"></i>
                        @Html.TextBoxFor(model => model.Email, new { @id = "admin_email", @placeholder = @ZnodeResources.ColumnEmailAddress })
                        <span class="login-error">@Html.ValidationMessageFor(m => m.Email)</span>
                    </div>
                    <div class="col-sm-12 nopadding">
                        <div class="pull-right">
                            <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                            <button type="button" class="btn-text grey" onclick="javascript: location.href = 'Login';" title="@ZnodeResources.ButtonCancel">@ZnodeResources.ButtonCancel</button>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="col-sm-12 login-container-footer">
            <img src="~/Content/themes/base/images/znode-logo-white.png" class="img-responsive" />
        </div>
    </div>
</div>

