﻿@using Znode.Engine.MvcAdmin.ViewModels
@model ChangePasswordViewModel
@using Resources;

@{
    Layout = "~/Views/Shared/_OuterPageLayout.cshtml";
}

<div id="layout-account-login" class="login-layout">
    <div class="login-container">
        <div class="col-sm-12 login-container-header">
            <img src="~/Content/themes/base/images/multifront_logo.png" class="img-responsive" />
        </div>
        <div class="col-sm-12 login-main">
            <div class="col-sm-8 col-sm-offset-2">
                @using (Html.BeginForm())
                {
                    <div class="col-sm-12">
                        <h3 class="login-title">@ZnodeResources.TextResetPassword</h3>
                        <p class="login-form-forgotpassword">@ZnodeResources.TextResetChangePassword</p>
                        <div class="form-group login-field left-inner-icon">
                            <i class="z-key unit"></i>
                            @Html.ValidationSummary(true)
                            @Html.PasswordFor(m => m.NewPassword, new { @type = "password", @id = "reset_password", @placeholder = @ZnodeResources.ColumnNewPassword })
                            <span class="login-error">@Html.ValidationMessageFor(m => m.NewPassword)</span>
                        </div>
                        <div class="form-group login-field left-inner-icon">
                            <i class="z-key unit"></i>
                            @Html.PasswordFor(m => m.ReTypeNewPassword, new { @type = "password", @id = "reset_verify", @placeholder = @ZnodeResources.ColumnReTypeNewPassword })
                            <span class="login-error">@Html.ValidationMessageFor(m => m.ReTypeNewPassword)</span>
                        </div>
                        @Html.HiddenFor(x => x.PasswordToken)
                        @Html.HiddenFor(x => x.UserName)
                    </div>
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonResetPassword">@ZnodeResources.ButtonResetPassword</button>
                            <button type="button" class="btn-text grey" onclick="javascript: location.href = 'Login';" title="@ZnodeResources.ButtonCancel">@ZnodeResources.ButtonCancel</button>
                        </div>                        
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-12 login-container-footer">
            <img src="~/Content/themes/base/images/znode-logo-white.png" class="img-responsive" />
        </div>
    </div>
</div>