﻿<script id="tmpl-typeahead-results" type="text/template">
<a href="#" class="close"><i class="zf-close close"></i></a>
<ul>
    {{#matches}}
    <li><a href="/Search?searchTerm={{term}}&category={{category}}"><strong>{{product}}</strong> {{suffix}}</a></li>
    {{/matches}}  
</ul>    
</script>
<script id="tmpl-alertmessage" type="text/template">
    <div id="status-message" class="{{style}} alert alert-info text-center">{{message}}</div>
</script>