﻿<div class="list-group">
    <h3 class="list-group-title">_LIST_TITLE_</h3>
    <ul>
        <!-- LOOP -->
        <li><a href="_ITEM_LINK_">_ITEM_TITLE_</a></li>
        <!-- END:LOOP -->
    </ul>
</div>