﻿@using Znode.Engine.MvcDemo.Helpers
@using Resources
<div class="main-wrapper">
    <div class="container quick-order-pad">
        <div class="col-xs-12 nopadding">
            <h1 class="page-title">@ZnodeResource.HeaderQuickOrderPad</h1>
        </div>
        <div class="col-xs-12 quick-order-page margin-top-bottom nopadding">
            <div class="col-xs-12 col-sm-7 col-md-6 nopadding">
                <label id="lblNotificationMessage"></label>
                @if (!Equals(MvcDemoConstants.QuickOrderPadRows, null) && MvcDemoConstants.QuickOrderPadRows > 0)
                {
                    for (int index = 1; index < MvcDemoConstants.QuickOrderPadRows; index++)
                    {
                        <div class="form-group">
                            <div class="col-xs-9 nopadding">
                                @Html.TextBox("txtQuickOrderPadSku_" + index, null, new { @placeholder = @Resources.ZnodeResource.TextEnterSku, @class = "quick-order-pad-autocomplete", @data_qo_sku = "", @data_qo_product_id = "", data_qo_product_name = "", data_qo_addon_value_ids = "", data_qo_bundle_item_ids = "", data_qo_cart_quantity = "", data_qo_quantity_on_hand = "", data_qo_in_stock_message = "", data_qo_out_stock_message = "", data_qo_min_quantity = "", data_qo_max_quantity = "", data_qo_call_for_pricing = "", data_is_first = "true", data_qo_add_on_quantity_on_hand = "", data_qo_bundle_quantity_on_hand = "", data_qo_allow_back_order = "", data_qo_track_inventory_ind = "", data_qo_bundle_allow_back_order = "", data_qo_bundle_track_inventory_ind = "" })
                            </div>
                            <div class="col-xs-2">
                                @Html.TextBox("txtQuickOrderPadQuantity_" + index, null, new { @placeholder = @ZnodeResource.ColumnTitleQty, @maxlength = MvcDemoConstants.QuickOrderQuantityLength, @class = "quantity quick-order-pad-quantity" })
                            </div>
                            <div class="col-xs-1 nopadding">
                                <div id="removeRow_@index" class="remove_row remove-item" title="@Resources.ZnodeResource.ButtonClear"><i class="zf-close"></i></div>
                            </div>
                            <p id="inventoryMessage_@index" class="col-xs-12 nopadding error-msg"></p>
                        </div>

                    }
                }
                <div class="col-xs-11">
                    <div class="pull-right">
                        <button type="button" title="@Resources.ZnodeResource.ButtonAddToCart" id="btnQuickOrderPad" class="btn-card red"><i class="zf-cart"></i>@Resources.ZnodeResource.ButtonAddToCart</button>
                        @*<input type="button" value="@Resources.ZnodeResource.ButtonAddToCart" title="@Resources.ZnodeResource.ButtonAddToCart" id="btnQuickOrderPad" class="btn-card btn-add-cart red" />*@
                        <input type="button" value="@Resources.ZnodeResource.ButtonClear" title="@Resources.ZnodeResource.ButtonClear" class="btn-text grey" id="btnQuickOrderClearAll" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-6 col-sm-offset-1 nopadding">
                <h3>@ZnodeResource.LabelSaveTimewithQuickOrder</h3>
                <p>@ZnodeResource.QuickOrderDescription</p>
                <p>@Html.Raw(ZnodeResource.QuickOrderStepOne)</p>
                <p>@Html.Raw(ZnodeResource.QuickOrderStepTwo)</p>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-ui-1.10.3.js"></script>
<script src="~/Scripts/quickOrderPad.js"></script>
