﻿@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = "Error";
}
<div id="layout-error" class="container-narrow">
    <h1>@Resources.ZnodeResource.TitleError</h1>
    <p>@Resources.ZnodeResource.ErrorProcessingRequest</p>
</div>