﻿@model Znode.Engine.MvcAdmin.ViewModels.AddOnValueViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

}
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmAddOnValue", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, Callback = "AddOn.ValidateAddOnValueAttributes" };
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (actionName.ToLower() == "CreateAddOnValue".ToLower())
            {
                ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
                <h1 class="left">@ZnodeResources.HeaderAddAddOnValue</h1>
            }
            else
            {
                ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;

                <h1 class="left">@ZnodeResources.HeaderEditAddOnValue<text> @Html.ValueFor(model => model.Name)</text></h1>
            }
        }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
    <div class="col-sm-12 add-new-item">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmAddOnValue" }))
        {


            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                    <h4>@ZnodeResources.SubHeaderHighlightGeneralSettings</h4>
                    @Html.HiddenFor(model => model.AddOnId)
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Name, new { @class = "required" })
                            <span class="sub">@ZnodeResources.TextName</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.RetailPrice, new { @class = "required" })
                            <span class="sub">@ZnodeResources.TextRetailPrice</span>
                        </div>
                        <div class="col-sm-8 left-inner-icon">
                            <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
                            @Html.TextBoxFor(model => model.RetailPrice, new { @maxlength = 9 })
                            @Html.ValidationMessageFor(model => model.RetailPrice)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.SalePrice)
                            <span class="sub">@ZnodeResources.TextSalesPrice</span>
                        </div>
                        <div class="col-sm-8 left-inner-icon">
                            <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
                            @Html.TextBoxFor(model => model.SalePrice, new { @maxlength = 9 })
                            @Html.ValidationMessageFor(model => model.SalePrice)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.WholesalePrice)
                            <span class="sub">@ZnodeResources.TextWholeSalePrice</span>
                        </div>
                        <div class="col-sm-8 left-inner-icon">
                            <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
                            @Html.TextBoxFor(model => model.WholesalePrice, new { @maxlength = 9 })
                            @Html.ValidationMessageFor(model => model.WholesalePrice)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.SupplierId)
                            <span class="sub">@ZnodeResources.TextSupplierId</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.SupplierId, Model.SupplierList)
                            @Html.ValidationMessageFor(model => model.SupplierId)
                        </div>
                    </div>
                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.TaxClassId)
                            <span class="sub">@ZnodeResources.TextTaxClassId</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.TaxClassId, Model.TaxClassList)
                            @Html.ValidationMessageFor(model => model.TaxClassId)
                        </div>
                    </div>
                    <h4>@ZnodeResources.LabelDisplaySetting</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.DisplayOrder, new { @class = "required" })
                            <span class="sub">@ZnodeResources.TextDisplayOrder</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.DisplayOrder, new { @maxlength = 9 })
                            @Html.ValidationMessageFor(model => model.DisplayOrder)
                        </div>
                    </div>
                    <div class="form-group border-bottom">

                        <div class="col-sm-8 col-sm-offset-4">
                            <label>
                                <input id="IsDefault" name="IsDefault" checked="@Model.IsDefault" type="checkbox" value="true">
                                <span class="lbl padding-8">@ZnodeResources.TextIsDefault</span>
                                <input name="IsActive" type="hidden" value="false">
                            </label>
                        </div>
                    </div>
                    <h4>@ZnodeResources.LabelInventorySettings</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.SKU, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.SKU)
                            @Html.ValidationMessageFor(model => model.SKU)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.QuantityOnHand, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @if (actionName.ToLower().Equals("createaddonvalue"))
                        {
                        @Html.TextBoxFor(model => model.QuantityOnHand, new { @Value = 9999 })
                        }
                        else
                        {
                        @Html.TextBoxFor(model => model.QuantityOnHand)
                        }
                            @Html.ValidationMessageFor(model => model.QuantityOnHand)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ReOrderLevel)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.ReOrderLevel)
                            @Html.ValidationMessageFor(model => model.ReOrderLevel)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    <h4>@ZnodeResources.LabelShippingSetting</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.EnableFreeShipping)
                            <span class="sub">@ZnodeResources.TextShippingOption</span>
                        </div>
                        <div class="col-sm-8">
                            <label>
                                <input id="EnableFreeShipping" name="EnableFreeShipping" checked="@Model.EnableFreeShipping" type="checkbox" value="true">
                                <span class="lbl padding-8">@ZnodeResources.TextEnableFreeShipping</span>
                                <input name="IsActive" type="hidden" value="false">
                            </label>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ShippingRuleTypeId, new { @class = "required" })
                            <span class="sub">@ZnodeResources.TextShippingRuleId</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.ShippingRuleTypeId, Model.ShippingRuleTypeList)
                            @Html.ValidationMessageFor(model => model.ShippingRuleTypeId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Weight)
                            <span class="sub">@ZnodeResources.TextWeight</span>
                        </div>
                        <div class="col-sm-8 right-inner-icon">
                            <i class="unit-text">@MvcAdminUnits.WeightUnit</i>
                            @Html.TextBoxFor(model => model.Weight)
                            @Html.ValidationMessageFor(model => model.Weight, null, new { id = "valWeight" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Height)
                            <span class="sub">@ZnodeResources.TextHeight</span>
                        </div>
                        <div class="col-sm-8 right-inner-icon">
                            <i class="unit-text">@MvcAdminUnits.DimensionUnit</i>
                            @Html.TextBoxFor(model => model.Height)
                            @Html.ValidationMessageFor(model => model.Height)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Width)
                            <span class="sub">@ZnodeResources.TextWidth</span>
                        </div>
                        <div class="col-sm-8 right-inner-icon">
                            <i class="unit-text">@MvcAdminUnits.DimensionUnit</i>
                            @Html.TextBoxFor(model => model.Width)
                            @Html.ValidationMessageFor(model => model.Width)
                        </div>
                    </div>
                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Length)
                            <span class="sub">@ZnodeResources.TextLength</span>
                        </div>
                        <div class="col-sm-8 right-inner-icon">
                            <i class="unit-text">@MvcAdminUnits.DimensionUnit</i>
                            @Html.TextBoxFor(model => model.Length)
                            @Html.ValidationMessageFor(model => model.Length)
                        </div>
                    </div>
                    <h4>@ZnodeResources.LabelRecurringBillingSettings</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.EnableRecurringBilling)
                        </div>
                        <div class="col-sm-8">
                            <label>
                                <input id="EnableRecurringBilling" name="EnableRecurringBilling" checked="@Model.EnableRecurringBilling" type="checkbox" value="true" onchange="AddOn.CheckAddOnRecurringBillingCheckBox();">
                                <span class="lbl padding-8">@ZnodeResources.TextEnableRecurringBilling</span>
                                <input name="IsActive" type="hidden" value="false">
                            </label>
                        </div>
                    </div>
                    <div id="ShowBillingOptions" class="hidden">
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.BillingAmount, new { @class = "required" })
                                <span class="sub">@ZnodeResources.TextBillingAmount</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.BillingAmount, new { @maxlength = 9 })
                                @Html.ValidationMessageFor(model => model.BillingAmount, null, new { id = "valBillingAmount" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.BillingPeriod)
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.BillingPeriod, new List<SelectListItem>{
                                new SelectListItem{Text = ZnodeResources.LabelWeekly,Value = ZnodeResources.LabelWeek},
                                new SelectListItem{Text = ZnodeResources.labelMonthly,Value = ZnodeResources.LabelMonth},
                                new SelectListItem{Text = ZnodeResources.LabelYearly,Value = ZnodeResources.LabelYear}           })
                                @Html.ValidationMessageFor(model => model.BillingPeriod)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 nopadding">
                <div class="pull-right">
                    @if (actionName.ToLower() == "EditAddOnValue".ToLower())
                {
                @Html.HiddenFor(model => model.AddOnValueId)
                }
                </div>
            </div>
        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/AddOn")