﻿@model Znode.Engine.MvcAdmin.ViewModels.AddOnViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmAddOn", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}
@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (actionName.ToLower() == "create")
            {
                ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
                <h1 class="left">@ZnodeResources.HeaderAddProductAddOn</h1>
            }
            else
            {
                ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;

                <h1 class="left">@ZnodeResources.HeaderEditAddOn <text> @Html.ValueFor(model => model.Name)</text></h1>
            }
        }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
    <div class="col-sm-12 add-new-item">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmAddOn" }))
        {
            @Html.ValidationSummary(true)
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                    <h4>@ZnodeResources.SubHeaderHighlightGeneralSettings</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Name, new { @class = "required" })
                            <span class="sub">@ZnodeResources.TextAddOnName</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Title, new { @class = "required" })
                            <span class="sub">@ZnodeResources.TextAddOnTitle</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Title)
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.LabelFor(model => model.Description)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.EditorFor(model => model.Description)
                            <span class="sub">@ZnodeResources.TextAddOnDiscription</span>
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.DisplayOrder, new { @class = "required" })
                            <span class="sub">@ZnodeResources.TextDisplayOrder</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.DisplayOrder, new { @maxlength = 9 })
                            @Html.ValidationMessageFor(model => model.DisplayOrder)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.DisplayType)
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.DisplayType, new List<SelectListItem>
            {
                new SelectListItem{Text = ZnodeResources.LabelDropDownList,Value = MvcAdminConstants.AddonDisplayTypeDropDown},
                new SelectListItem{Text = ZnodeResources.LabelRadioButtons,Value = MvcAdminConstants.AddonDisplayTypeRadioButton},
                new SelectListItem{Text = ZnodeResources.LabelCheckBox,Value = MvcAdminConstants.AddonDisplayTypeCheckBox},
                new SelectListItem{Text = ZnodeResources.LabelTextBox,Value = MvcAdminConstants.AddonDisplayTypeTextBox}
            })
                            @Html.ValidationMessageFor(model => model.DisplayType)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <label>
                                <input id="IsOptional" name="IsOptional" checked="@Model.IsOptional" type="checkbox" value="true">
                                <span class="lbl padding-8">@ZnodeResources.TextAddOnIsOptional</span>
                                <input name="IsActive" type="hidden" value="false">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    <h4>Inventory Settings</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.Label(@ZnodeResources.LabelOutOfStockOption)
                        </div>
                        <div class="col-sm-8">
                            <label class="add-on-lable">
                                @if (Equals(actionName.ToLower(),"create"))
                                {
                                    <input type="radio" name="OutOfStockOptions" id=@Model.OutofStockOptions value="@InventoryOptionsState.DisablePurchasingForOutOfStockProducts" checked="checked" />
                                }
                                else
                                {
                                    @Html.RadioButtonFor(m => m.OutofStockOptions, InventoryOptionsState.DisablePurchasingForOutOfStockProducts, Model.OutofStockOptions)
                                }
                                <span class="lbl padding-8">@ZnodeResources.TextOutOfStockProduct</span>
                            </label>
                            <label class="add-on-lable">
                                @Html.RadioButtonFor(m => m.OutofStockOptions, InventoryOptionsState.AllowBackOrderingOfProducts, Model.OutofStockOptions)
                                <span class="lbl padding-8">@ZnodeResources.TextAllowBackOdering</span>
                            </label>
                            <label class="add-on-lable">
                                @Html.RadioButtonFor(m => m.OutofStockOptions, InventoryOptionsState.DontTrackInventory, Model.OutofStockOptions)
                                <span class="lbl padding-8">@ZnodeResources.TextTrackInventory</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.InStockMessage)
                            <span class="sub">@ZnodeResources.TextInStockMessage</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.InStockMessage)
                            @Html.ValidationMessageFor(model => model.InStockMessage)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.OutOfStockMessage)
                            <span class="sub">@ZnodeResources.TextOutOfStockMessage</span>
                        </div>
                        <div class="col-sm-8">
                            @if (actionName.ToLower().Equals("create"))
                            {
                                @Html.TextBoxFor(model => model.OutOfStockMessage, new { @Value = "Out of Stock" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.OutOfStockMessage)
                            }
                            @Html.ValidationMessageFor(model => model.OutOfStockMessage)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.BackOrderMessage)
                            <span class="sub">@ZnodeResources.TextBackOrderMessage</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.BackOrderMessage)
                            @Html.ValidationMessageFor(model => model.BackOrderMessage)
                        </div>
                    </div>

                    @if (Equals(actionName.ToLower(),"edit"))
                    {
                        @Html.HiddenFor(model => model.AddOnId)
                        @Html.HiddenFor(model => model.AccountId)
                    }

                </div>
            </div>
        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
</div>
