﻿@model Znode.Engine.MvcAdmin.ViewModels.AddOnViewModel
@using Znode.Engine.MvcAdmin.ViewModels

@using Resources;
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            @{
                ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
                <h1 class="left">@ZnodeResources.HeaderAddOnManage<text> @Html.ValueFor(model => model.Name)</text></h1>
                var id = Model.AddOnId;
                <div class="pull-right">
                    @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-pencil'></i>" + ZnodeResources.ButtonEdit, "Edit", null, new { @addOnId = Model.AddOnId }, new { @Title = ZnodeResources.ButtonEdit, @Class = "btn-text-icon red " })
                    <button type="button" class="btn-text-icon grey " title="@ZnodeResources.ButtonBack" onclick="javascript: location.href = '/AddOn/list' ;"><i class="z-arrow-left"></i>@ZnodeResources.ButtonBack</button>
                </div>
            }
        </div>
        <div class="col-sm-12 manage-stores-container">
            <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                    <h4>@ZnodeResources.LabelGeneralInformation</h4>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.Name)
                        </div>
                        <div class="col-sm-8 label-background">
                            <label>@Model.Name</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.Title)
                        </div>
                        <div class="col-sm-8 label-background">
                            <label>@Model.Title</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.DisplayOrder)
                        </div>
                        <div class="col-sm-8 label-background">
                            <label>@Model.DisplayOrder</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.DisplayType)
                        </div>
                        <div class="col-sm-8 label-background">
                            <label>@Model.DisplayType</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.IsOptional)
                        </div>
                        <div class="col-sm-8 label-background red-color">
                            <i class="@HelperMethods.GetCheckMark(Model.IsOptional)"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    <h4>@ZnodeResources.LabelInventorySettings</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            <label>@ZnodeResources.LabelInventoryEnable</label>
                        </div>
                        <div class="col-sm-8 label-background">
                            <i class="@HelperMethods.GetCheckMark(@Model.InventoryEnabled)"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            <label>@ZnodeResources.LabelAllowBackOrded</label>
                        </div>
                        <div class="col-sm-8 label-background">
                            <i class="@HelperMethods.GetCheckMark(Model.AllowBackOrder)"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            <label>@ZnodeResources.LabelTrackInvontory</label>
                        </div>
                        <div class="col-sm-8 label-background">
                            <i class="@HelperMethods.GetCheckMark(Model.TrackInventory)"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.InStockMessage)
                        </div>
                        <div class="col-sm-8 label-background">
                            <label>@Model.InStockMessage</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.OutOfStockMessage)
                        </div>
                        <div class="col-sm-8 label-background">
                            <label>@Model.OutOfStockMessage</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.BackOrderMessage)
                        </div>
                        <div class="col-sm-8 label-background">
                            <label>@Model.BackOrderMessage</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 list-container">
            <h4>@ZnodeResources.SubHeaderAddOnValue</h4>
            <div class="pull-right">
                <button type="button" class="btn-text-icon red pull-right bottom-shift" title="@ZnodeResources.ButtonAdd" onclick="javascript: location.href = '/AddOn/CreateAddOnValue/@Model.AddOnId' ;"><i class="glyphicon glyphicon-plus"></i>@ZnodeResources.ButtonAdd</button>
            </div>
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.ReportModel)
            </div>
        </div>
    </div>
</div>