﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@using Resources
@model CategoryViewModel
<div class="view-item category-item">
    <div class="category-img">
        <a href="@Url.GetCategoryUrl(Model.SeoUrl, Model.Name, Model.CategoryId)">
            <div class="image">
                <img id="@Model.CategoryId" src="@Model.ImageMediumPath" class="img-responsive" data-src="@Model.ImageMediumPath" alt="@Model.ImageAltTag" />
            </div>
        </a>
    </div>

    <div class="category-details">
        <a href="@Url.GetCategoryUrl(Model.SeoUrl, Model.Name, Model.CategoryId)" class="title">@WebUtility.HtmlDecode(Model.Name)</a>
            @*<div class="short-description"><p>@Model.ShortDescription</p></div>*@
            @*<a class="btn-card btn-quick-view grey hvr-shadow" href="@Url.GetCategoryUrl(Model.SeoUrl, Model.Name, Model.CategoryId)">View All</a>*@
</div>
</div>

