﻿@using System.Collections.ObjectModel
@using Znode.Engine.Api.Models
@model Collection<CategoryModel>

    <div>
        @{
	        foreach (var c in Model)
	        {
		        <p>@c.ToJson()</p>
	        }
        }
    </div>
