﻿@model Znode.Engine.MvcAdmin.ViewModels.AffiliateTrackingViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

}
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmAffiliateTracking", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, CancelUrl = "/Marketing/Index" };
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>@ZnodeResources.HeaderAffiliateTracking</h1>
        <p>@ZnodeResources.SubHeaderAffiliateTracking</p>
    </div>
    <div class="col-lg-5 col-md-8 col-sm-12 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmAffiliateTracking" }))
        {
            <h4>@ZnodeResources.HeaderAffiliateTracking</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.StartDate)
                </div>
                <div class="col-sm-8 right-inner-icon">
                    @Html.TextBoxFor(model => model.StartDate, new { @class = "datepicker", data_date_format = Model.DatePickDateFormat })
                    @Html.ValidationMessageFor(model => model.StartDate)
                    <i class="glyphicon glyphicon-calendar"></i>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.EndDate)
                </div>
                <div class="col-sm-8 right-inner-icon">
                    @Html.TextBoxFor(model => model.EndDate, new { @class = "datepicker", data_date_format = Model.DatePickDateFormat })
                    @Html.ValidationMessageFor(model => model.EndDate)
                    <i class="glyphicon glyphicon-calendar"></i>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.FileTypeId)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.FileTypeId, Model.FileTypes)
                </div>
            </div>
        }
        <div class="form-group">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
</div>
