﻿@model Znode.Engine.MvcAdmin.ViewModels.StoreAdminViewModel
@using Resources
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string Title = string.Format(@ZnodeResources.TitleStoreAdmin, actionName.ToLower().Equals("editadmindetails") ? "Edit" : actionName);
    ViewBag.Title = @ZnodeResources.TitleAdvanced + " | " + @ZnodeResources.TitleMultifront;
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>@Title</h1>
    </div>
    <div class="col-sm-12 search-container">
        @if (string.Equals(actionName.ToLower(), "create"))
        {
        <p class="sub red-color">@ZnodeResources.SubTitleStoreAdmin</p>
        }
        else
        {
        <p class="sub red-color">@ZnodeResources.NoteStoreAdminEdit</p>
        }
    </div>
    @Html.ValidationSummary(true)

    <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
        {
            <h4>@ZnodeResources.SubHeaderLoginInformation</h4>
            
            if (actionName.ToLower().Equals("editadmindetails"))
            {
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.UserID)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.UserID,new { @readonly = "readonly", @class = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        <label>@ZnodeResources.ButtonResetPassword</label>
                    </div>
                    <div class="col-sm-8">
                        @*below code is temperory*@
                        <text>@Html.Raw("<span  class='btn-text red stored-btn' style='cursor:pointer' title='" + ZnodeResources.ButtonResetPassword + "' onclick='CommonHelper.ResetAccountPassword(\" " + ZnodeResources.TitleConfirmResetPassword + "\", \" " + ZnodeResources.TextConformResetPassword + "\", \"/" + controllerName + "/" + "ResetPassword" + "?id=" + @Model.AccountId + "\");'>" + ZnodeResources.ButtonResetPassword + "</span>")</text>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.UserID)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.UserID)
                        @Html.ValidationMessageFor(model => model.UserID)
                    </div>
                </div>
            }

            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                    @Html.HiddenFor(model => model.AccountId)
                </div>
            </div>
            //PRFT Custom Code: Start
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.FirstName)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)                    
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.LastName)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                   @Html.Label(string.Empty, ZnodeResources.LabelLocation)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.MiddleName)
                    @Html.ValidationMessageFor(model => model.MiddleName)
                </div>
            </div>
            //PRFT Custom Code: Start
            <div class="form-group">
                <div class="pull-right">
                    <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                    @if (actionName.ToLower().Equals("editadmindetails"))
                    {
                        <button type="reset" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript:location.href='/StoreAdmin/Manage?id=@Model.AccountId&tabMode=General'">@ZnodeResources.ButtonCancel</button>
                    }
                    else
                    {
                        <button type="reset" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript:location.href='/StoreAdmin/List';">@ZnodeResources.ButtonCancel</button>
                    }
                </div>
            </div>
        }
    </div>

</div>