﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleAdvanced + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@ZnodeResources.StoreAdminHeader</h1>
            <button class="btn-text-icon red pull-right" title="@ZnodeResources.ButtonAdd" onclick="javascript:location.href='@Url.Content("Create")'"><i class="glyphicon glyphicon-plus"></i>@ZnodeResources.ButtonAdd</button>
        </div>
        <div class="col-sm-12 search-container">
            <p class="left">@ZnodeResources.StoreAdminSubHeader</p>
        </div>
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("List", "Stores", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.FilterColumn)
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-12 list-container">
            @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
        </div>
        @using (Html.BeginForm("Download", "StoreAdmin"))
        {
            <div class="col-lg-12 bottom-shift">
                <button type="submit" class="btn-text red pull-right" title="@ZnodeResources.ButtonDownloadToExcel">@ZnodeResources.ButtonDownloadToExcel</button>
            </div>
        }
    </div>
</div>
@Scripts.Render("~/bundles/CommonHelper")
@Scripts.Render("~/bundles/FranchiseAdmin")
<script type="text/javascript" language="javascript">

    $("#btnsearch").on("click", function () {
        return CommonHelper.PreventSearchSubmit();
    });

    $(".datepicker").on("change", function () {
        return CommonHelper.StartDateEndDateValidation();
    });

    $(document).ready(function () {
        var val = $("#ProfileId").val(); FranchiseAdmin.BindProfile(function (res) { if (res) $("#ProfileId").val(val); val = null; }); FranchiseAdmin.PreventSearchButton(function (res) { if (res) $("#ProfileId").val(val); val = null; });
    })
</script>

