﻿@model Znode.Engine.MvcAdmin.ViewModels.StoreAdminViewModel
@using Resources;
@{  
    ViewBag.Title = @ZnodeResources.TitleAdvanced+ " | " + @ZnodeResources.TitleMultifront;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container bottom-shift">
        <h1 class="left">@String.Format(ZnodeResources.StoreAdminMainHeader, Model.AccountId)</h1>
        @Html.ActionLinkAuthorized("<i class='z-arrow-left'></i>" + ZnodeResources.ButtonBack, "List", controllerName, null, new { @id="redirect-back", @Class = "btn-text-icon grey pull-right", @title = ZnodeResources.ButtonBack })
    </div>
    <div class="manage-stores-container">
        <div class="tab-container">
            <ul id="tabManageProduct" class="nav nav-tabs">
                <li><a href="#panelGeneral" id="storeadmin-general" data-toggle="tab" class="tabs">@ZnodeResources.TabStoreAdminGeneral</a></li>
                <li><a href="/StoreAdmin/Permissions" id="storeadmin-permissions" data-queryparam="id=@Model.AccountId" data-targetitemid="panelPermissions" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabStoreAdminPermissions</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="panelGeneral">
                    <div class="col-sm-12 nopadding">
                        <button class="btn-text-icon red pull-right" title="@ZnodeResources.ButtonEdit"
                                onclick="javascript: location.href = '/storeadmin/editadmindetails?id=@Model.AccountId'">
                            <i class="glyphicon glyphicon-pencil"></i>@ZnodeResources.ButtonEdit
                        </button>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                        <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                            <h4>@ZnodeResources.ManageStoreGeneralInformation</h4>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(model => model.LoginName)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(Model.LoginName)
                                </div>
                            </div>
                           
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(model => model.AccountNumber)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(Model.AccountId)
                                </div>
                            </div>
                            @*PRFT Custom Code: Start*@
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(model => model.FirstName)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(Model.FirstName)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(model => model.LastName)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(Model.LastName)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.Label("Location")
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(Model.MiddleName)
                                </div>
                            </div>
                            @*PRFT Custom Code: End*@
                            <h4>@ZnodeResources.ManageStoreContactInformation</h4>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.Label("",ZnodeResources.ColumnEmailAddress)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(Model.Email)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(model => model.EmailOptIn)
                                </div>
                                <div class="col-sm-8 red-color label-background">
                                    <i class="@HelperMethods.GetCheckMark(@Model.EmailOptIn)"></i>
                                </div>
                            </div>

                            <h4>@ZnodeResources.ManageStoreAdditionalInformation</h4>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(model => model.StartDate)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(Model.StartDate)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(model => model.CreateUser)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(Model.CreateUser)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(model => model.EndDate)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(Model.EndDate)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(model => model.UpdateUser)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(Model.UpdateUser)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               <!--Important Div, Do not delete/modify-->
                <div class="tab-pane fade" id="panelPermissions">
                </div>
            </div>
        </div>
    </div>    
</div>

