﻿@using Znode.Engine.MvcDemo.Helpers
@using Resources
<div class="quick-order-pad">

    <h2>Quick Order</h2>
    <div class="quick-order-page">
        <div class="quick-order-heading">
            <div class="col-xs-10 col-sm-10">Part#</div>
            <div class="col-xs-2 col-sm-2">Qty</div>
        </div>
        <label id="lblNotificationMessage"></label>
        <div class="form-group-outer">
            @for (int index = 1; index < 4; index++)
            {

                <div class="form-group">

                    <div class="col-xs-10 col-sm-10">
                        @Html.TextBox("txtQuickOrderPadSku_" + index, null, new { @placeholder = @Resources.ZnodeResource.TextEnterSku, @class = "quick-order-pad-autocomplete home-quickorderpad", @data_qo_sku = "", @data_qo_product_id = "", data_qo_product_name = "", data_qo_addon_value_ids = "", data_qo_bundle_item_ids = "", data_qo_cart_quantity = "", data_qo_quantity_on_hand = "", data_qo_in_stock_message = "", data_qo_out_stock_message = "", data_qo_min_quantity = "", data_qo_max_quantity = "", data_qo_call_for_pricing = "", data_is_first = "true", data_qo_add_on_quantity_on_hand = "", data_qo_bundle_quantity_on_hand = "", data_qo_allow_back_order = "", data_qo_track_inventory_ind = "", data_qo_bundle_allow_back_order = "", data_qo_bundle_track_inventory_ind = "" })
                    </div>
                    <div class="col-xs-2 col-sm-2 quantity-box">
                        @Html.TextBox("txtQuickOrderPadQuantity_" + index, null, new { @placeholder = @ZnodeResource.ColumnTitleQty, @maxlength = MvcDemoConstants.QuickOrderQuantityLength, @class = "quantity quick-order-pad-quantity home-quickorderpad-qty" })
                    </div>
                    <div class="col-xs-1 nopadding">
                        <div id="removeRow_@index" class="remove_row remove-item" title="@Resources.ZnodeResource.ButtonClear"><i class="zf-close"></i></div>
                    </div>
                    <p id="inventoryMessage_@index" class="col-xs-12 nopadding error-msg"></p>
                </div>


            }
        </div>
        <div class="quick-order-bottom">
            <div class="show-entry-text">
                @Html.ActionLink("show more entry fields", "QuickOrderPad", "Product", null, new { @class = "multiple-sku", @onclick = "GetSeletedSkuData(this)" })
            </div>

            <div class="addtocart-button">
                <button type="button" title="@Resources.ZnodeResource.ButtonAddToCart" id="btnQuickOrderPad"><i class="zf-cart"></i>@Resources.ZnodeResource.ButtonAddToCart</button>
            </div>
        </div>
    </div>
</div>
<script>
    function GetSeletedSkuData(elem) {
        var skuqty = ""; var count = 0;
        var txtQtyArr = $('.home-quickorderpad-qty');
        $('.home-quickorderpad').each(function () {
            var txtSku = $(this);
            if (txtSku.val() != "") {
                skuqty = skuqty + txtSku.val() + "-" + $(txtQtyArr[count]).val() + "|";
            }
            count++;
        });
        $(elem).attr('href', $(elem).attr('href') + '?strskuqty=' + skuqty);
    }
</script>

@*<script src="~/scripts/jquery-ui-1.10.3.js"></script>*@
<script src="~/scripts/quickOrderPad.js"></script>


