﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.Agents

@{    
    ViewBag.Description = "S&S Sales is your trusted source for commercial construction supplies. We're an authorized distributor providing fast and reliable delivery since 1956.";

    ViewBag.Title = "Construction Supplies Authorized Distributor | S & S Sales";
}

<div id="layout-home">
    <div>
        <div>
            <div class="banner-section">
                <div class="banner-slide-box">
                    @{Html.RenderAction("GetMessage", "MessageConfig", new { key = "HomePageTopRotatingBanner" });}
                    <div class="banner-quick-order-section">
                        <div class="quick-order-block">
                            @Html.Partial("_HomeQuickOrderPad")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="product-category-section">
                @{ Html.RenderAction("GetHomePageCategoryList", "Category"); }
            </div>
        </div>
    </div>

    <div class="brands-section">
        <div class="container">
            <div class="row">
                @*<div class="row">
                        @{ Html.RenderAction("GetHomePageManufacturerList", "Manufacturer"); }
                    </div>*@
                <h3>OUR BRANDS</h3>
                <div id="brand-list-slider" class="owl-carousel">
                    @{ Html.RenderAction("GetHomePageManufacturerList", "Manufacturer"); }
                </div>
                <div class="link-text"><a href="/manufacturer">View All Brands</a></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="home-product-view">
                <h3>@Resources.ZnodeResource.FeaturedProductsText</h3>
                <div id="best-product-item-slider" class="owl-carousel">
                    @{ Html.RenderAction("GetHomePageSpecialsNewTheme", "Product", new { isNewProduct = false }); }
                </div>
            </div>


        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="promo-banner-section">
                @Html.Raw(string.Format(Html.Action("GetMessage", "MessageConfig", new { key = "HomePageContactUs" }).ToString(), PortalAgent.CurrentPortal.CustomerServiceEmail, PortalAgent.CurrentPortal.CustomerServicePhoneNumber))
                @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "HomePageRegistration" });}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="content-box about-sns">
                <h1>About S&S Sales (Commercial Construction Supplies)</h1>
                @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "HomePageAboutUs" });}
                <div class="link-text"><a href="/contentpage/aboutus">Read More</a></div>
            </div>
        </div>
    </div>
</div>
<script>
    /*---Multiple Image Sider---*/
    $(document).ready(function () {
        $("#promo-product-slider").owlCarousel({
            autoPlay: 3000,
            items: 3,
            itemsCustom: [
              [0, 1],
              [320, 1],
              [600, 2],
              [768, 2],
              [992, 3],
              [1200, 3]
            ]
        });

        $("#new-product-item-slider, #best-product-item-slider").owlCarousel({
            autoPlay: false,
            navigation: true,
            items: 5, //PRFT Custom code
            itemsCustom: [
              [0, 1],
              [320, 2],//PRFT Custom code
              [480, 3],//PRFT Custom code
              [600, 3],
              [768, 4],
              [992, 4],//PRFT Custom code
              [1200, 5]//PRFT Custom code
            ],
            navigationText: [
              "<i class='glyphicon glyphicon-chevron-left'></i>",
              "<i class='glyphicon glyphicon-chevron-right'></i>"
            ]
        });
        $("#brand-list-slider").owlCarousel({
            autoPlay: false,
            navigation: true,
            items: 5,
            //itemsDesktop: [1199, 3],
            //itemsDesktopSmall: [979, 3],
            itemsCustom: [
              [0, 1],
              [320, 2],//PRFT Custom code
              [480, 3],//PRFT Custom code
              [600, 3],
              [768, 4],
              [992, 4],//PRFT Custom code
              [1200, 5]//PRFT Custom code
            ],
            navigationText: [
              "<i class='glyphicon glyphicon-chevron-left'></i>",
              "<i class='glyphicon glyphicon-chevron-right'></i>"
            ]
        });
        $('.carousel').carousel({
            interval: 3000
        })

        if ($.trim($("#new-product-item-slider").html()) === "") {
            $("#new-product-item-slider").prev("h3").hide();
        }
    });
</script>