﻿@import "_base.scss";

/*****-------Footer SASS CSS-------*****/

footer{position: relative;clear:both;}
.footer-container{  
    background: $footer-bg-color;
}
.footer-container .footer-information{
    padding:15px 0;
    font-size:13px; 
    color:$footer-default-text-color;
}
.footer-container .footer-information .nav-home{display:none;}
.footer-container .header-footer{
    border-bottom: 1px solid $footer-default-text-color;
    margin-bottom: 10px;
}
.footer-container .header-footer h3{
    margin: 10px 0;
    text-transform: uppercase;
    color: #fff;
    font:{
        family: 'PTSans', sans-serif;
        size:18px;
    }        
    padding-left:5px;
}
.footer-container .footer-information a{
    color:$footer-default-text-color;
    text-decoration: none;
    line-height: 26px;
}
.footer-container .footer-information a:hover{color:$white-color;}
.footer-container .footer-information li i{color:#959595; padding:5px;}
.footer-container .footer-contact p,.footer-container .footer-contact a{padding-left:5px;}
.footer-container .footer-shop ul li .sub-menu{display:none;}
.footer-container .footer-shop ul li{width:100%;display:inline-block;list-style:none;background-color:transparent;}
.footer-container .footer-shop ul li a{padding:0;float:left;text-transform: capitalize;}
.footer-container .footer-shop ul li a:hover{background-color:transparent;}
.footer-container .footer-shop ul li i{float:left;}
.footer-container .footer-copyright{
    background-color:#252525;
    border-top:1px solid $footer-default-text-color;
}
.footer-container .footer-copyright p{
    color:$footer-default-text-color;
    margin-bottom:0;
    text-align:center;
}
.footer-container .footer-copyright ul {text-align:center; padding-left:0;margin-bottom:0;margin-top:10px;}
.footer-container .footer-copyright ul li{list-style:none;display:inline-block;padding:0 4px;}
.footer-container .footer-copyright ul li i{
    font-size:26px;
    color:$footer-payment-icon;
}
.footer-container .footer-copyright ul li i:hover{color:$white-color;}

.footer-container .news-letter{
    background-color:$footer-news-letter-bg;
    padding:20px 0;
    border-bottom:1px solid $base-color-primary;
}
.footer-container .news-letter label{float:left;color:#fff;padding-right:10px;line-height:34px;margin-bottom:0;}
.footer-container .news-letter input[type="text"],.footer-container .news-letter button{background-color:transparent;color:$white-color;}
.footer-container .news-letter ul {float:right;padding-left:0;margin-bottom:0;}
.footer-container .news-letter ul li{list-style:none;display:inline-block;}
.footer-container .news-letter ul li i{font-size:34px;color:#828282;}
.footer-container .news-letter ul li i:hover{color:$white-color;}
.footer-container .footer-shop ul li .dropdown-menu{display:none;}