﻿@import "_base.scss";
/*****-------Header SASS CSS-------*****/

.header{
    width:100%;
    position:relative;
    top:0;left:0; 
    border:1px solid $border-default-color;
    height:146px;
    transition: height 500ms, background 500ms;
    z-index:999;
    background-color:$header-bg-color;
}
.header-logo{float:left; width:100%;min-height:95px;} 
.header-main .header-logo img{width:210px;max-height:95px; display: block;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.shrink {
    height:88px;
    position:fixed;
    background-color:$header-shrink-bg-color;
}
.shrink .header-logo{min-height:30px;}
.shrink .header-logo img{width:140px;max-height:58px; -webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.hide-show{display:none;}
.header-link-contain{margin-top:28px;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.shrink .header-link-contain{margin-top:14px;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.header-link ul li{
    display:inline;
    list-style:none;
    border-right:1px solid $border-default-color; 
    padding:0 5px;
    line-height:34px;
    position:relative;
}
.header-link ul li:hover{
    color:$base-color-primary;
}
.header-link ul li:last-child{border:none;}
.header-link ul li a{padding-left:5px;}
.header-link ul li .header-toolbar-cart{
    color:$base-color-primary;font-size:24px;
}
.header-link ul li .cartcount{
    position:absolute;
    top:-14px; 
    background-color:$base-color-secondary;
    height:16px;
    width:16px;
    border-radius:50px;
    color:$white-color;
    line-height:16px;
    text-align:center;
}
.header-link ul li form{display:inline;}
.header-link ul li a.user-icon,.header-link ul li a.user-icon:hover{padding-left:0;color:$base-color-primary;}
.header-nav-container{background-color:$headre-nav-bg-color;height:50px;}
.navbar-collapse{background-color:$headre-nav-bg-color;}

/*****-------Header Nav SASS CSS-------*****/

.nav-home{padding:8px 4px 8px 0;}
.nav-home a{
    background-color:$base-color-primary;
    border-radius:50px;
    padding:6px 8px!important;
}
.nav-home i{font-size:18px;}
.navbar-nav > li > a{
    padding:15px;
    font-size:14px; 
    color:$white-color;
    text-transform:uppercase;
}
.navbar-nav > li > a:hover,.navbar-nav > li > a:active,.navbar-nav > li > a:focus,.navbar-nav > li:hover{background-color:$nav-link-hover-bg;}
.navbar-nav li .dropdown-menu{border-top:5px solid $nav-link-hover-bg}
.dropdown:hover .dropdown-menu {display: block;}
.dropdown-menu ul{padding: 0 0 10px 15px;}
.dropdown-menu li{line-height: 40px;min-height: 24px;}
.yamm .nav,.yamm .collapse,.yamm .dropup,.yamm .dropdown {position: static;}
.yamm .container {position: relative;}
.yamm .dropdown-menu {left: auto;}
.yamm .nav.navbar-right .dropdown-menu {left: auto;right: 0;}
.yamm .yamm-content {padding: 20px;}
.yamm .dropdown.yamm-fw .dropdown-menu {left: 15px;right: 15px;min-height:250px;}
.yamm .dropdown ul li{width:19%;background-color:transparent;display:inline-block;vertical-align:top;line-height:24px;}
.yamm .dropdown ul li a{font-weight:bold;background-color:transparent;color:#333;}
.yamm .dropdown ul li a:hover,.yamm .dropdown ul li .sub-menu-child li a:hover{
    color:$nav-link-hover-bg;
}
.yamm .dropdown ul li .sub-menu-child{padding-left:20px;}
.yamm .dropdown ul li .sub-menu-child li{width:100%;list-style:none;}
.yamm .dropdown ul li i{
    padding-right:10px;
    color:$nav-link-hover-bg;
}
.yamm .dropdown ul li .sub-menu-child li a{color:#999;background-color:transparent;}
.yamm .dropdown ul li .sub-menu-child li ul li a{font-weight:normal;}