﻿
/*****-------Base SASS Veriable-------*****/
/*--font variable--*/
$base-font-family: Arial;
$base-font-size:14px;

/*--color variable--*/
$base-color-primary:#218fff;
$base-color-secondary:#343434;

$heading-text-color:#343434;
$white-color:#fff;
$blue-color: #429cff;
$success-msg:#5cb85c;
$error-msg:#cc0000;
$required-star:#cc0000;

$input-text-color:#343434;
$color-select-shark:#292a2a;
$button-wishlist-color:#343434;

$button-bg-primary:#218fff;
$button-bg-secondary:#717171;
$button-bg-boulder-wishlist:#787878;

$border-default-color:#c3c3c3;

$checkbox-radio-color:#218fff;
$checkbox-radio-label:#666;

/*****-------Header SASS Veriable-------*****/
$header-bg-color:#fff;
$header-shrink-bg-color:rgba(255,255,255,0.9);
$headre-nav-bg-color:#343434;

/*****-------Header Nav SASS Veriable-------*****/
$nav-link-hover-bg:#218fff;

/*****-------Footer SASS Veriable-------*****/
$footer-bg-color:#252525;
$footer-news-letter-bg:#2e2e2e;
$footer-default-text-color:#626262;
$footer-payment-icon:#828282;


/*--mixin--*/
@mixin -webkit-text-size-adjust{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;  
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@mixin btn-text{
  display:inline-block;min-width:70px;
  text-align:center;
  font:{
    family:$base-font-family;
  }
  border:0;
  color:$white-color;
  text-transform:capitalize;
  border-radius:4px;
}

@mixin input-field{
  color:$input-text-color; 
  padding:0 5px;
  font:{
    family: $base-font-family;
    size:$base-font-size;   
  }
  width:100%; 
  border:1px solid $border-default-color; 
  box-shadow:none;  
}
