﻿@using Znode.Engine.MvcDemo.ViewModels
@model AddressViewModel

<div class="col-xs-12 nopadding margin-top-bottom edit-address-form">
    @Html.ValidationSummary(true)
    @if (ViewBag.HideDisplayName == null || ViewBag.HideDisplayName == false)
    {
        @* The display name input should be toggled via a parameter per view as needed *@
        <div class="form-group">
            <div class="col-xs-12 nopadding">
                <label for="address_name">@Resources.ZnodeResource.ColumnDisplayName</label>
                <p class="sub">@Resources.ZnodeResource.HintTextDisplayName</p>
            </div>
            <div class="col-xs-12 nopadding">
                @Html.TextBoxFor(m => m.Name, new { @id = "address_name" })
                <p class="error-msg">@Html.ValidationMessageFor(m => m.Name)</p>
            </div>
        </div>
    }
    else
    {
        @* Set default value for model validation *@
        <div class="col-xs-12 nopadding"><input id="address_name" name="Name" type="hidden" value="Default Address"></div>
    }
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_firstname" class="required">@Resources.ZnodeResource.ColumnFirstName</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.TextBoxFor(m => m.FirstName, new { @id = "address_firstname" })
            <p class="error-msg">@Html.ValidationMessageFor(m => m.FirstName)</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_lastname" class="required">@Resources.ZnodeResource.ColumnLastName</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.TextBoxFor(m => m.LastName, new { @id = "address_lastname" })
            <p class="form-error">@Html.ValidationMessageFor(m => m.LastName)</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_company">@Resources.ZnodeResource.ColumnCompanyName</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.TextBoxFor(m => m.CompanyName, new { @id = "address_company" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_street1" class="required">@Resources.ZnodeResource.ColumnStreetAddress</label>
        </div>
        <div class="col-xs-12 nopadding">@Html.TextBoxFor(m => m.StreetAddress1, new { @id = "address_street1", @class = "form-input-long" })</div>
        <div class="col-xs-12 nopadding margin-top">@Html.TextBoxFor(m => m.StreetAddress2, new { @id = "address_street2", @class = "form-input-long" })</div>
        <p class="error-msg">@Html.ValidationMessageFor(m => m.StreetAddress1)</p>
    </div>

    @*country dropdown list*@
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_country" class="required">@Resources.ZnodeResource.ColumnCountry</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.DropDownList("CountryCode", new SelectList(Model.Countries, "Code", "Name"), new { @id = "ShippingAddressModel_CountryCode", @class = "address_country" })
            <p class="error-msg">@Html.ValidationMessageFor(m => m.CountryCode)</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_state" class="required">@Resources.ZnodeResource.ColumnState</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.DropDownList("StateCode", new SelectList(Model.States, "Code", "Name"), new { @id = "ShippingAddressModel_StateCode", @class = "address_state" })
            <p class="error-msg">@Html.ValidationMessageFor(m => m.StateCode)</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_city" class="required">@Resources.ZnodeResource.ColumnCity</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.TextBoxFor(m => m.City, new { @id = "address_city" })
            <p class="error-msg">@Html.ValidationMessageFor(m => m.City)</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_zipcode" class="required">
                @Resources.ZnodeResource.ColumnZipCode
            </label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.TextBoxFor(m => m.PostalCode, new { @id = "address_zipcode", @class = "form-input-short" })
            <p class="error-msg">@Html.ValidationMessageFor(m => m.PostalCode)</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_zipcode" class="required">
                @Resources.ZnodeResource.ColumnPhoneNo
            </label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @id = "address_phoneno", @class = "form-input-short" })
            <p class="error-msg">@Html.ValidationMessageFor(m => m.PhoneNumber)</p>
        </div>
    </div>
</div>
@Html.HiddenFor(ob => ob.StateCode, new { @id = "hdn_StateCode" })

@Html.HiddenFor(ob => ob.CountryCode, new { @Value = "US" })

@if (ViewBag.HideEmail == null || ViewBag.HideEmail == false)
{
    <div class="form-group edit-address-email">
        <div class="col-xs-12 nopadding">
            <label for="address_email" class="required">@Resources.ZnodeResource.ColumnEmailAddress</label>
            <p class="sub">@Resources.ZnodeResource.RequiredBillingAddressEmail</p>
        </div>

        <div class="col-xs-12 nopadding">
            @Html.TextBoxFor(m => m.Email, new { @type = "email", @id = "address_email", @class = "form-input-long" })
            <p class="error-msg">@Html.ValidationMessageFor(m => m.Email)</p>
        </div>

    </div>
}


@if (Model.AddressId > 0)
{
    @Html.HiddenFor(m => m.AddressId)
}
@if (Model.AccountId > 0)
{
    @Html.HiddenFor(m => m.AccountId)
}


@if (ViewBag.IsAddAddress == null || ViewBag.IsAddAddress == false)
{
    if (Model.IsDefaultShipping)
    {
        @Html.HiddenFor(m => m.IsDefaultShipping)
    }
    if (Model.IsDefaultBilling)
    {
        @Html.HiddenFor(m => m.IsDefaultBilling)
    }
}
