﻿<a href="#" class="image-promo">
    <h2 class="image-promo-title">
        Promotion Title
        <small class="image-promo-summary">Description Of Promotion</small>
    </h2>
    <img src="/Images/build/bg_flowers.jpg" alt="" />
</a>