﻿@using Znode.Engine.MvcDemo.Extensions
@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.Agents

@using Resources

@{
    string cssName = string.IsNullOrEmpty(ViewBag.CSS) ? "Default" : ViewBag.CSS;
    if (String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = Resources.ZnodeResource.TextStoreName;
    }
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords">
    <link href="~/Content/bootstrap-3.3.5/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.5/css/animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Styles/@ViewBag.Theme/@cssName/css/base.css">
    <link rel="stylesheet" href="/Styles/@ViewBag.Theme/@cssName/css/site.css">

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap-3.3.5/js/bootstrap.js"></script>
    <script src="~/Scripts/lib/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>

</head>
<body id="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" class="@ViewContext.RouteData.Values["Action"]" data-controller="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" data-view="@ViewContext.RouteData.Values["Action"].ToString().FirstCharToUpper()">
    <div id="layout" class="wrapper">
        <header>
            <div class="container-fluid header">
                <div class="row header-main">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-4 col-sm-3 nopadding">
                                <a href="/" class="header-logo">
                                    <img src="@ViewBag.StoreLogo" alt="" class="img-responsive" />
                                </a>
                            </div>
                            <div class="header-link-contain nopadding">
                                <div class="col-xs-8 col-sm-7 col-sm-offset-2 col-md-offset-1 col-md-4 top-search-control nopadding">
                                    <form action="/search" method="GET">
                                        <div class="left-inner-icon input-group">
                                            <i class="glyphicon glyphicon-search"></i>
                                            <input type="text" autocomplete="off" id="header-search-input" name="searchterm" class="form-input" data-large="Find a product" data-medium="Search..." data-small="" placeholder="Search..." />
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn-text red">GO</button>
                                            </span>
                                        </div>
                                        <div id="typeahead-results" class="ui-autocomplete-home"></div>
                                    </form>
                                </div>
                                <div class="col-xs-8 col-sm-9 col-md-4 header-link nopadding pull-right">
                                    <ul>
                                        <li><a href="/Account/Dashboard" class="user-icon"><i class="f-size zf-login-user"></i></a>@Html.Action("LoginStatus", "Account", true)</li>
                                        <li class="quick-order-li">
                                            <div class="quick-order-container quickordercontainer">
                                                <i class="f-size zf-quick-order order-link"></i><a title="Quick Order" data-hover="dropdown" class="quickOrder dropdown-toggle" href="/Product/QuickOrderPad">Quick Order</a>
                                                <form id="addtocart-form" method="post" action="/Product/AddToCart">
                                                    <input type="hidden" id="hdnQuickOrderProductId" name="ProductId" />
                                                    <input type="hidden" id="hdnQuickOrderProductName" name="ProductName" />
                                                    <input type="hidden" id="hdnQuickOrderSku" name="Sku" />
                                                    <input type="hidden" id="hdnQuickOrderPrice" />
                                                    <input type="hidden" id="hdnQuickOrderAddOnValueIds" name="AddOnValueIds">
                                                    <input type="hidden" id="hdnQuickOrderBundleItemsIds" name="BundleItemsIds" />
                                                    <input type="hidden" id="hdnQuickOrderCartQuantity" name="CartQuantity" />
                                                    <input type="hidden" id="hdnQuickOrderQuantityOnHand" name="QuantityOnHand" />
                                                    <input type="hidden" id="hdnQuickOrderInStockMessage" name="InStockMessage" />
                                                    <input type="hidden" id="hdnQuickOrderOutOfStockMessage" name="OutOfStockMessage" />
                                                    <input type="hidden" id="hdnQuickOrderInventoryMessage" name="InventoryMessage" />
                                                    <input type="hidden" id="hdnQuickOrderMinQty" name="MinQty" />
                                                    <input type="hidden" id="hdnQuickOrderMaxQty" name="MinQty" />
                                                    <input type="hidden" id="hdnQuickOrderCallForPricing" name="CallForPricing" />
                                                    <input type="hidden" id="hdnQuickOrderBundleQuantityOnHand" name="BundleQuantityOnHand" />
                                                    <input type="hidden" id="hdnQuickOrderAddOnQuantityOnHand" name="AddOnQuantityOnHand" />
                                                    <input type="hidden" id="hdnQuickOrderAllowBackOrder" name="AllowBackOrder" />
                                                    <input type="hidden" id="hdnQuickOrderTrackInventoryInd" name="TrackInventoryInd" />
                                                    <input type="hidden" id="hdnQuickOrderBundleAllowBackOrder" name="BundleAllowBackOrder" />
                                                    <input type="hidden" id="hdnQuickOrderBundleTrackInventoryInd" name="BundleTrackInventoryInd" />
                                                    <input type="hidden" id="hdnQuickOrderSeoPageName" name="SeoPageName" />
                                                    <div class="dropdown-menu quick-order divQuickOrder">
                                                        <div class="close-quick-order-popup close"><i class="zf-close"></i></div>
                                                        <div class="col-sm-12">
                                                            <div class="col-xs-10 col-sm-10 nopadding">
                                                                @Html.TextBox("txtQuickOrderSku", null, new { @placeholder = @Resources.ZnodeResource.TextEnterSku, @class = "txtQuickOrderSku" })
                                                            </div>
                                                            <div class="col-xs-2 col-sm-2 nopadding">
                                                                @Html.TextBox("Quantity", null, new { @id = "txtQuickOrderQuantity", @class = "quantity txtQuickOrderQuantity", @placeholder = @ZnodeResource.ColumnTitleQty, @maxlength = MvcDemoConstants.QuickOrderQuantityLength })
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12">
                                                            <div class="col-xs-6 col-sm-6 nopadding">
                                                                @Html.ActionLink(@Resources.ZnodeResource.LabelQuickOrderMultiplePartSku, "QuickOrderPad", "Product", null, new { @class = "multiple-sku" })
                                                            </div>
                                                            <div class="col-xs-6 col-sm-6 nopadding">
                                                                <button class="btn-card btn-add-cart red pull-right quickOrderAddToCart" title="@ZnodeResource.ButtonAddToCart" disabled="disabled"><i class="zf-cart"></i>@ZnodeResource.ButtonAddToCart</button>
                                                            </div>
                                                            <p id="inventorymsg" class="error-msg"></p>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="/cart">@{ Html.RenderAction("GetMessage", "MessageConfig"); }<i class="f-size zf-cart header-toolbar-cart"></i><span class="cartcount"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row header-nav-container">
                    <div class="container">
                        <div class="row">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-nav">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <nav class="header-nav yamm" role="navigation">
                                <div class="container">
                                    <div class="row navbar-collapse collapse" id="navbar-collapse-nav">
                                        @{ Html.RenderAction("TopLevelList", "Category"); }
                                        <a href="#" class="control_next nav-drop pull-right"><i class="zf-text-view nav-drop-icon"></i></a>
                                    </div>
                                </div>
                                <div class="container nav-drop-container">
                                    <ul id="others-menu" class="dropdown-menu dropdown-inner" style="display:none"></ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
        </header>

        <div id="layout-content">
            <div class="container-fluid" id="SuccessMessage">
                <div class="row">@Html.Partial("_StatusMessage")</div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="container">
                        <div id="breadcrumb-content" class="row breadcrumb-container">
                            @Html.GetSiteMapByRequest(Request)
                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer id="layout-footer">
            <div class="container-fluid">
                <div class="row footer-container">
                    <div class="news-letter">
                        <div class="container">
                            <div class="row news-letter-container">
                                <div class="col-xs-12 col-sm-6 nopadding newsletter-container">
                                    <div class="col-xs-12 col-sm-2 nopadding">
                                        @Html.Label(@Resources.ZnodeResource.LabelSignUpNewsletter)
                                    </div>
                                    <div class="col-xs-12 col-sm-10 input-field">
                                        <div class="input-group">
                                            @Html.TextBox("txtNewsLetterSignUp", "", new { placeholder = Resources.ZnodeResource.LabelSenderMailId })
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" id="btnNewsLetterSignUp" type="button">Newsletter ></button>
                                            </span>
                                        </div>
                                        <p id="newslettererrormessage" style="display:none"></p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 nopadding follow-us">
                                    <div class="pull-right">
                                        @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = MvcDemoConstants.FooterShareUsText }); }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-information">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3 footer-shop">
                                    <div class="header-footer">
                                        <h3>SHOP</h3>
                                    </div>
                                    @{ Html.RenderAction("TopLevelList", "Category"); }
                                </div>
                                <div class="col-sm-3 footer-shop">
                                    <div class="header-footer">
                                        <h3>HELP</h3>
                                    </div>
                                    <ul class="list-unstyled">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li><i class="zf-caret-right"></i><a href="/Account/dashboard">@Resources.ZnodeResource.LinkTextYourAccount</a></li>
                                            <li><i class="zf-caret-right"></i><a href="/Cart">@Resources.ZnodeResource.LinkTextYourCart</a></li>
                                            <li><i class="zf-caret-right"></i><a href="/Account/wishlist">@Resources.ZnodeResource.LinkTextYourWishlist</a></li>
                                            <li><i class="zf-caret-right"></i><a href="#" class="account-logout">@Resources.ZnodeResource.LinkTextLogOff</a></li>
                                        }
                                        else
                                        {
                                            <li><i class="zf-caret-right"></i><a href="/Account/Login">@Resources.ZnodeResource.LinkTextLogin</a></li>
                                            <li><i class="zf-caret-right"></i><a href="/Account/Signup">@Resources.ZnodeResource.LinkTextRegister</a></li>
                                        }
                                        <li><i class="zf-caret-right"></i><a href="/CaseRequest/contactus">@Resources.ZnodeResource.LinkTextContactus</a></li>

                                        <li><i class="zf-caret-right"></i>@Html.ActionLink(@Resources.ZnodeResource.LinkTextFAQ, "contentPage", "Home", new { @contentPageName = @Resources.ZnodeResource.FaqContentPage }, null)</li>
                                        <li><i class="zf-caret-right"></i>@Html.ActionLink(@Resources.ZnodeResource.LinkTextReturns, "contentPage", "Home", new { @contentPageName = @Resources.ZnodeResource.ReturnsContentPage }, null)</li>
                                        <li><i class="zf-caret-right"></i>@Html.ActionLink(@Resources.ZnodeResource.LinkTextShippingInfo, "contentPage", "Home", new { @contentPageName = @Resources.ZnodeResource.ShippingContentPage }, null)</li>
                                        <li><i class="zf-caret-right"></i>@Html.ActionLink(@Resources.ZnodeResource.LinkSiteMap, "", "SiteMap")</li>
                                        <li class="to-top"><i class="zf-caret-right"></i><a href="#layout">@Resources.ZnodeResource.LinkTextToTop</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 footer-shop">
                                    <div class="header-footer">
                                        <h3>@Resources.ZnodeResource.TitleStoreInfo</h3>
                                    </div>
                                    <ul class="list-unstyled">
                                        <li><i class="zf-caret-right"></i>@Html.ActionLink(@Resources.ZnodeResource.LinkTextOurCompany, "contentPage", "Home", new { @contentPageName = @Resources.ZnodeResource.OurCompanyContentPage }, null)</li>
                                        <li><i class="zf-caret-right"></i>@Html.ActionLink(@Resources.ZnodeResource.LinkTextFindaStore, "storeLocator", "Home")</li>
                                        <li><i class="zf-caret-right"></i>@Html.ActionLink(@Resources.ZnodeResource.LinkTextCareers, "contentPage", "Home", new { @contentPageName = @Resources.ZnodeResource.CareersContentPage }, null)</li>
                                        <li><i class="zf-caret-right"></i>@Html.ActionLink(@Resources.ZnodeResource.LinkTextPress, "contentPage", "Home", new { @contentPageName = @Resources.ZnodeResource.PressContentPage }, null)</li>
                                        <li><i class="zf-caret-right"></i><a href="/home/giftcard">@Resources.ZnodeResource.LinkTextGiftcards</a></li>
                                        <li class="to-top"><i class="zf-caret-right"></i><a href="#layout">@Resources.ZnodeResource.LinkTextToTop</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 footer-shop">
                                    <div class="footer-contact">
                                        <div class="header-footer">
                                            <h3 class="footer-header">@Resources.ZnodeResource.TextCustomerSupport</h3>
                                        </div>
                                        @{
                                            string customerServiceEmailValue = ViewBag.CustomerServiceEmail;
                                            if (!string.IsNullOrEmpty(customerServiceEmailValue))
                                            {
                                                char[] seperator = new char[] { ',' };
                                                string[] customerServiceEmails = customerServiceEmailValue.Split(seperator, StringSplitOptions.RemoveEmptyEntries);
                                                foreach (string email in customerServiceEmails)
                                                {
                                                    <div><a href="@("mailto:" + email)">@email</a></div>
                                                }
                                            }
                                        }
                                        <p>@ViewBag.CustomerServicePhoneNumber</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer-copyright">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 nopadding">
                                    <img src="/Images/logo-footer.png" alt="" class="img-responsive" />
                                </div>
                                <div class="col-xs-12 col-sm-10 col-md-5">
                                    <p>@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = MvcDemoConstants.FooterCopyrightText }); }</p>
                                </div>
                                <div class="col-xs-12 col-md-5 nopadding">
                                    @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = MvcDemoConstants.FooterWeAcceptCardsText }); }
                                    @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = MvcDemoConstants.FooterShippingText }); }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </footer>
    </div>
    @*---Quick View PopUp----*@
    <div class="modal fade quick-view-popup" id="quick-view-popup-ipad" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="popup-container modal-dialog">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="close-quick-view-popup-ipad" aria-hidden="true"><i class="zf-close"></i></span></button>
            <div class="" id="quick-view-content">

            </div>
        </div>
    </div>
    @Html.Partial("_Overlay")
    @Html.Partial("_InlineTemplates")
    @Scripts.Render("~/bundles/Animation-Slider")
    @Scripts.Render("~/bundles/Nicescroll")
    @Scripts.Render("~/bundles/customJs")

</body>
</html>

<script type="text/javascript">
    if ((/Android|webOS|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
        $(window).load(function () {
            QuickOrder.Initialization();
        });
    }
    else {
        $(document).ready(function () {
            QuickOrder.Initialization();
        });
    }

    $(window).on("scroll touchmove", function () {
        $('.header').toggleClass('shrink', $(document).scrollTop() > 0);
    });
</script>