﻿@model Znode.Engine.MvcDemo.ViewModels.LoginViewModel
<div class="col-xs-12 nopadding login-container">
    <div class="col-xs-12 nopadding">
        <h2>@Resources.ZnodeResource.TitleCustomerLogin</h2>
        <div class="col-xs-12 nopadding inner-container">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <form method="POST" class="login-form form">
                    <div class="col-xs-12 col-sm-11 col-md-8">
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                <label for="login_username">@Resources.ZnodeResource.ColumnUsername</label>
                            </div>
                            <div class="col-sm-12 left-inner-icon nopadding">
                                <i class="zf-login-user login-icon"></i>
                                @Html.TextBoxFor(model => model.Username, new { @id = "login_username" })
                                <p class="error-msg">@Html.ValidationMessageFor(m => m.Username)</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                <label for="login_password">@Resources.ZnodeResource.ColumnPassword</label>
                            </div>
                            <div class="col-sm-12 left-inner-icon nopadding">
                                <i class="zf-key login-icon"></i>
                                @Html.PasswordFor(model => model.Password, new { @id = "login_password", @autocomplete = "off" })
                                <p class="error-msg">@Html.ValidationMessageFor(m => m.Password)</p>
                            </div>
                        </div>
                        <div class="col-sm-12 nopadding">
                            <button type="submit" class="btn-text-login red">@Resources.ZnodeResource.ButtonLogin</button>
                        </div>
                        <div class="col-sm-12 margin-top-bottom nopadding">
                            <div class="col-sm-6 nopadding styled-input remember-me">
                                <input type="checkbox" id="RememberMe" name="RememberMe" value="true" />&nbsp;<label for="RememberMe" title="@Resources.ZnodeResource.CheckBoxTextLoginRemember">@Resources.ZnodeResource.CheckBoxTextLoginRemember</label>
                            </div>
                            <div class="col-sm-6 nopadding">
                                @if (ViewBag.CheckoutLogin != null)
                                {
                                    @Html.Hidden("returnUrl", "~/Checkout")
                                }
                                <a href="/account/forgotpassword" class="login-form-forgotpassword pull-right" title="@Resources.ZnodeResource.LinkTextForgetPassword">@Resources.ZnodeResource.LinkTextForgetPassword</a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 account-signup-container">
                <div id="layout-account-login">
                    <div class="user-icon img-circle">
                        <i class="zf-login-user"></i>
                    </div>
                    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                        <h3>@Resources.ZnodeResource.TitleNewCustomer</h3>
                        <p>
                            @Resources.ZnodeResource.TextNewCustomer
                        </p>
                        <a href="/account/Signup/@(!string.IsNullOrEmpty(Request.QueryString["returnUrl"]) ? "?returnUrl=" + Request.QueryString["returnUrl"] : "")" class="btn-text-full grey account-signup-link"><i class="zf-checkout"></i> @Resources.ZnodeResource.LinkTextGetAnAccount</a>                        
                    </div>

                    <div class="col-xs-12 col-sm-offset-1 col-sm-10 checkout-guest-container">
                        <h3>@Resources.ZnodeResource.LinkTextGuestCheckout</h3>
                        <p>@Resources.ZnodeResource.TextCheckoutAsGuest</p>                        
                        <a href="/Checkout/Shipping" class="btn-text-full grey checkout-login-asguest"><i class="zf-checkout"></i>@Resources.ZnodeResource.LinkTextGuestCheckout</a>
                    </div>

                </div>               
            </div>

            <div class="col-xs-12 margin-top-bottom" id="socialLoginForm">
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <div class="col-xs-12 col-md-8 social">
                        <div class="oval-seprator img-circle">OR</div>
                        <h4 class="top-bottom-space text-center">Login with social media</h4>
                    </div>
                    @*<h2>@Resources.ZnodeResource.TitleSocialLogin</h2>*@
                    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>

        </div>
    </div>    
</div>