﻿@model Znode.Engine.MvcAdmin.ViewModels.GiftCardViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmGiftCard", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, Callback = "GiftCard.ValidateGiftCardAttributes" };
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (actionName.ToLower() == "Create".ToLower())
            {
                <h1>@ZnodeResources.HeaderAddNewGiftCard</h1>
            }
            else
            {
                string Expired = (Convert.ToDateTime(Model.ExpirationDate) < DateTime.Now) ? "(Card Expired)" : " ";
                <h1>@ZnodeResources.HeaderEditGiftCard <text> - @Html.ValueFor(model => model.Name) @Expired</text></h1>
            }
        }
    </div>
    <div class="col-sm-12 col-md-7 col-lg-6 add-new-container">
        <h4>@ZnodeResources.SubHeaderGeneralInformation</h4>
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmGiftCard" }))
        {

            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CardNumber)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.CardNumber, new { @readonly = "readonly", @class = "readonly" })
                    @Html.ValidationMessageFor(model => model.CardNumber)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Name, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.PortalId)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.PortalId, Model.PortalList)
                    @Html.ValidationMessageFor(model => model.PortalId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Amount, new { @class = "required" })
                </div>
                <div class="col-sm-8 left-inner-icon">
                    <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
                    @Html.TextBoxFor(m => m.Amount, new { @maxlength = 9 })
                    @Html.ValidationMessageFor(model => model.Amount)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.ExpirationDate, new { @class = "required" })
                </div>
                <div class="col-sm-8 right-inner-icon">
                    @Html.TextBoxFor(model => model.ExpirationDate, new { @class = "datepicker", data_date_format = @Model.DatePickDateFormat })
                    <i class="glyphicon glyphicon-calendar"></i>
                    @Html.ValidationMessageFor(model => model.ExpirationDate, null, new { id = "valExpirationDate" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <label>
                        <input id="EnableToCustomerAccount" name="EnableToCustomerAccount" checked="@Model.EnableToCustomerAccount" type="checkbox" value="true" onchange="GiftCard.ShowTextBox()">
                        <span class="lbl padding-8">@ZnodeResources.TextEnableCustomerAccount</span>
                        <input name="IsActive" type="hidden" value="false">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div id="ShowAccountId" class="hidden">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.AccountId, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.AccountId, new { @maxlength = 8 })
                        @Html.ValidationMessageFor(model => model.AccountId, null, new { id = "valAccountId" })
                    </div>
                </div>
            </div>



            <div class="form-group">
                @if ( !Equals(@Model.Mode,null) && @Model.Mode.ToLower().Equals("rma"))
                {
                    <div class="col-sm-8 col-sm-offset-4">
                        <label>
                            <input id="SendMail" name="SendMail" checked="@Model.SendMail" type="checkbox" value="true">
                            <span class="lbl padding-8">Would you like to email customer?</span>
                            <input name="IsActive" type="hidden" value="false">
                        </label>
                    </div>
                }
            </div>


            <div class="form-group">
                @if (actionName.ToLower().Equals("Edit".ToLower()))
                {
                    @Html.HiddenFor(model => model.GiftCardId)
                }
            </div>

            @Html.HiddenFor(m => m.Mode)
            @Html.HiddenFor(m => m.RMARequestId)
            @Html.HiddenFor(m => m.OrderLineItems)
            @Html.HiddenFor(m => m.QuantityList)
            @Html.HiddenFor(m=>m.OrderId)
            @Html.HiddenFor(m => m.PortalId)
        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>

</div>
@Scripts.Render("~/bundles/GiftCard")
<script>
    $(document).ready(function () {
        if ($("#Mode").val() === "RMA") {
            $("#PortalId").attr("disabled", "disabled");
        }
    });
</script>