﻿@model Znode.Engine.MvcAdmin.ViewModels.NotesViewModel
@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string caseId = ViewContext.RouteData.Values["id"].ToString();
    var caseName = Equals(Model, null) ? string.Empty : Model.Title;
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1 class="left">@ZnodeResources.HeaderAddNote - @caseName</h1>
    </div>
    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
            <h4>@ZnodeResources.ButtonAddNote</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.NoteTitle, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.NoteTitle)
                    @Html.ValidationMessageFor(model => model.NoteTitle)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    @Html.LabelFor(model => model.NoteBody, new { @class = "required" })
                </div>
                <div class="col-sm-12 nopadding">
                    @Html.EditorFor(model => model.NoteBody)
                    @Html.ValidationMessageFor(model => model.NoteBody)
                </div>
            </div>

            <div class="form-group ">
                <div class="pull-right">
                    @Html.HiddenFor(model => model.CaseId)
                    <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest"> @ZnodeResources.ButtonSubmitRequest</button>
                    @Html.ActionLink(ZnodeResources.ButtonCancel, "Manage", "ServiceRequest", new { @id = caseId }, new { @Class = "btn-text grey", @title = @ZnodeResources.ButtonCancel })

                </div>
            </div>
        </div>
    }
</div>
