﻿@model Znode.Engine.MvcAdmin.ViewModels.CaseRequestViewModel

@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}


<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (actionName.ToLower().Equals("create"))
            {
                <h1 class="left">@ZnodeResources.HeaderCreateServiceRequest</h1>
            }
            else
            {
                <h1 class="left">@ZnodeResources.HeaderEditServiceRequest</h1>
            }
        }
    </div>

    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
    {
        <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
            @Html.ValidationSummary(true)

            <h4>@ZnodeResources.SubHeaderContactInformation</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.FirstName, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100 })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.LastName, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100 })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CompanyName)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.CompanyName, new { @maxlength = 100 })
                    @Html.ValidationMessageFor(model => model.CompanyName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.EmailId, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.EmailId, new { @maxlength = 200 })
                    @Html.ValidationMessageFor(model => model.EmailId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.PhoneNumber)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = 20 })
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>
            </div>
            <h4>@ZnodeResources.LabelServiceRequestInformation</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CreatedDate)
                </div>
                <div class="col-sm-8">
                    @Html.Raw(DateTime.Now.ToShortDateString())
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CaseOrigin)
                </div>
                <div class="col-sm-8">
                    @Html.Raw(Model.CaseOrigin)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.PortalId)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.PortalId, Model.PortalList)
                    @Html.ValidationMessageFor(model => model.PortalId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CaseStatusId)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.CaseStatusId, Model.CaseStatusList, new { @onchange = "CommonHelper.SetNewCaseName();" })
                    @Html.ValidationMessageFor(model => model.CaseStatusId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CasePriorityId)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.CasePriorityId, Model.CasePriorityList)
                    @Html.ValidationMessageFor(model => model.CasePriorityId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Title, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Title, new { @maxlength = 255 })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Description, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.Description, new { @maxlength = 8000 })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
            <div class="pull-right">
                @Html.HiddenFor(model => model.CaseRequestId)
                @Html.HiddenFor(model => model.AccountId)
                @Html.HiddenFor(model => model.CaseOrigin)               
                @Html.HiddenFor(model=>model.CaseOldStatusName)
                @Html.HiddenFor(model => model.CaseNewStatusName)
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest"> @ZnodeResources.ButtonSubmitRequest</button>
                @Html.ActionLink(ZnodeResources.ButtonCancel, "List", "ServiceRequest", new { @Class = "btn-text grey", @title = @ZnodeResources.ButtonCancel })
            </div>
        </div>
    }
</div>