﻿@model Znode.Engine.MvcAdmin.ViewModels.CaseRequestViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.LabelOrder + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            var caseName = Equals(Model, null) ? string.Empty : Model.Title;
            <h1 class="left">@ZnodeResources.ServiceRequestsHeading - @caseName</h1>
        }
        @{
            var caseId = Equals(Model, null) ? 0 : Model.CaseRequestId;
        }
    </div>
    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
    {
        <div class="col-sm-12 nopadding manage-stores-container">
            <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                <div class="col-sm-12 col-md-12 col-lg-11 nopadding">
                    <div class="col-sm-12 nopadding">
                        @Html.ActionLinkAuthorized("<i class='z-arrow-left'></i>" + ZnodeResources.ButtonBack, "List", "ServiceRequest", null, new { @id = "redirect-back", @Class = "btn-text-icon grey pull-right", @title = @ZnodeResources.ButtonBack })
                        @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-pencil'></i>" + ZnodeResources.ButtonEdit, "Edit", "ServiceRequest", new { @id = caseId }, new { @Class = "btn-text-icon red pull-right", @title = @ZnodeResources.ButtonEdit })
                        @Html.ActionLink(ZnodeResources.ButtonReplyToCustomer, "ReplyCustomer", "ServiceRequest", new { @id = caseId }, new { @Class = "btn-text red pull-right", @title = @ZnodeResources.ButtonReplyToCustomer })
                    </div>
                    <h4>@ZnodeResources.LabelGeneralInformation</h4>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.Title)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.Title)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.CaseStatusId)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.CaseStatusName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.CasePriorityId)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.CasePriorityName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.Message)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.Message)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.CreatedDate)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Convert.ToDateTime(Model.CreatedDate).ToShortDateString())
                        </div>
                    </div>
                    <h4>@ZnodeResources.InfoCustomer_Manage</h4>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.FirstName)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.FirstName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.LastName)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.LastName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.CompanyName)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.CompanyName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.EmailId)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.EmailId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.PhoneNumber)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.PhoneNumber)
                        </div>
                    </div>
                    <h4>@ZnodeResources.LabelServiceRequestNotes</h4>
                    @Html.ActionLink(ZnodeResources.ButtonAddNote, "AddNote", "ServiceRequest", new { @id = caseId }, new { @Class = "btn-text red pull-right bottom-shift", @title = @ZnodeResources.ButtonAddNote })
                    @if (!Equals(Model, null) && !Equals(Model, Model.CaseNoteList))
                    {
                        var list = Model.CaseNoteList.Notes;
                        for (int count = 0; count < list.Count; count++)
                        {
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.Raw(list[count].NoteTitle)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(list[count].NoteBody)
                                </div>
                            </div>
                        }
                    }
                </div>
                @Html.HiddenFor(model => model.CaseStatusName)
                @Html.HiddenFor(model => model.PortalId)
            </div>
        </div>
    }
</div>
