﻿@model Znode.Engine.MvcAdmin.ViewModels.CaseRequestViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.LabelOrder + " | " + @ZnodeResources.TitleMultifront;
    var caseId = ViewContext.RouteData.Values["id"].ToString();   
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container bottom-shift">
        @{
           <h1 class="left">@ZnodeResources.HeaderReplytoCustomer</h1>
        }
    </div>
    <div class="col-sm-12 nopadding manage-stores-container">
        @using (Html.BeginForm("ReplyCustomer", "ServiceRequest", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmReplyCustomer" }))
        {
            <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                <div class="col-sm-12 col-md-12 col-lg-11 nopadding">
                    <h4>@ZnodeResources.InfoCustomer_Manage</h4>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.Label("", @ZnodeResources.LabelServiceRequestFullName)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.FirstName + ' ' + Model.LastName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.CompanyName)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.CompanyName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.EmailId)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.EmailId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.PhoneNumber)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.PhoneNumber)
                        </div>
                    </div>
                    <h4>@ZnodeResources.LabelServiceRequestInformation</h4>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.Title)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.Title)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.CaseStatusId)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.CaseStatusName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.CasePriorityId)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.CasePriorityName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.Message)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.Description)
                        </div>
                    </div>
                    <h4>@ZnodeResources.LabelComposeEmail</h4>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.EmailSubject, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.EmailSubject, new { @Value = Model.Title })
                            @Html.ValidationMessageFor(model => model.EmailSubject)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.EmailMessage, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.EmailMessage)
                            @Html.ValidationMessageFor(model => model.EmailMessage)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.Label("", ZnodeResources.LabelAttachment)
                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Attachments)
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="pull-right">
                            @Html.HiddenFor(model => model.CaseRequestId)
                            @Html.HiddenFor(model => model.EmailId)
                            @Html.HiddenFor(model=>model.PortalId)
                            <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest"> @ZnodeResources.ButtonSubmitRequest</button>
                            @Html.ActionLink(ZnodeResources.ButtonCancel, "Manage", "ServiceRequest", new { @id = caseId }, new { @Class = "btn-text grey", @title = @ZnodeResources.ButtonCancel })
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
