﻿@model Znode.Engine.MvcAdmin.ViewModels.ManageMessageListViewModel
@using Resources
<div>
    @{
        ViewBag.Title = ZnodeResources.HeaderManageMessages;
        string controllerName = ViewContext.RouteData.Values["controller"].ToString();
       

        WebGrid grid = new WebGrid(rowsPerPage: Model.RecordPerPage, ajaxUpdateContainerId: "grid-container");
        grid.Bind(source: Model.ManageMessage, rowCount: Model.TotalResults, autoSortAndPage: false);
    }

    @if (!Equals(Model, null) && !Equals(Model.ManageMessage, null))
    {
        <div id="grid">
            @grid.GetHtml(
                        htmlAttributes: new { id = "grid", @class = "table" },
                        fillEmptyRows: false,
                        mode: WebGridPagerModes.All,
                        firstText: "<< First",
                        previousText: "< Prev",
                        nextText: "Next >",
                        lastText: "Last >>",
                        columns: new[] {
                                            grid.Column(header:@ZnodeResources.TitleMessageConfigID,format: @<span> <span id="spanName_@item.messageConfigId">@item.messageConfigId</span></span>),
                        grid.Column(header:@ZnodeResources.LabelMessage,format: @<span> <span id="spanName_@item.Description">@item.Description</span></span>),
                        grid.Column(header:@ZnodeResources.TitleLocation,format: @<span> <span id="spanName_@item.MessageKey">@item.MessageKey</span></span>),
                        grid.Column(header:@ZnodeResources.LabelStoreName,format: @<span> <span id="spanName_@item.PortalName">@item.PortalName</span></span>),
                                            grid.Column(header:@ZnodeResources.LabelAction,format:@<text>  @Html.ActionLink(ZnodeResources.LabelEdit, ZnodeResources.LabelEdit, new { MessageConfigId = item.messageConfigId }, new { @title = ZnodeResources.LabelEdit }) |</text>),                                           
                                            grid.Column(header: "",format:@<text>@Html.Raw("<span class='delete-link' title = '" + ZnodeResources.LabelDelete + "' onclick='CommonHelper.BindDeleteConfirmDialog(\" " + ZnodeResources.ConfirmDeleteTitle + "\", \" " + ZnodeResources.ConfirmDeleteMessage + "\", \"/" + controllerName + "/" + ZnodeResources.LabelDelete + "/" + @item.messageConfigId + "\");'>" + ZnodeResources.LabelDelete + "</span>")</text>)
                    })
            @grid.CustomPager(Html)
            @Html.Hidden("dir", grid.SortDirection) @Html.Hidden("col", grid.SortColumn)
        </div>
    }
    else
    {
        <span>No Records Found.</span>
    }
</div>
