﻿@model Znode.Engine.MvcAdmin.ViewModels.ManageMessageViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}

@{    
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmManageMessage", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (actionName.ToLower() == "Create".ToLower())
            {
                <h1>@ZnodeResources.HeaderAddMessage</h1>
            }
            else
            {
                <h1>@ZnodeResources.HeaderEditMessage - @Model.Description</h1>
            }          
        }
    </div>
    <div class="col-lg-5 col-md-7 col-sm-12 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmManageMessage" }))
        {
            <h4>@ZnodeResources.LabelMessageDetails</h4>
            <div class="form-group">
                @if (actionName.ToLower() == "Create".ToLower())
                {
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.MessageKey, new { @class="required" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.MessageKey)
                        @Html.ValidationMessageFor(m => m.MessageKey)
                    </div>
                }
                else
                {
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.MessageKey)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.MessageKey, new { @readonly = true, @class="readonly" })
                        @Html.ValidationMessageFor(m => m.MessageKey)
                    </div>
                }

            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Description)
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>
            <div class="form-group">
                @if (actionName.ToLower() == "Create".ToLower())
                {
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.StoreName)
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.PortalId, new SelectList(Model.Portal, "PortalId", "StoreName"), new { @id = "ddlPortalList" })
                        @Html.ValidationMessageFor(m => m.StoreName)
                    </div>
                }
                else
                {
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.StoreName)
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.PortalId, new SelectList(Model.Portal, "PortalId", "StoreName"), new { @id = "ddlPortalList", disabled = "disabled" })
                        @Html.ValidationMessageFor(m => m.StoreName)
                    </div>
                }
            </div>
            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    @Html.EditorFor(model => model.Value)
                    @Html.ValidationMessageFor(m => m.Value)
                </div>
            </div>

            @Html.Hidden("configid", Model.MessageConfigId)
            @Html.Hidden("localeid", Model.LocaleId)
            @Html.Hidden("messageTypeId", Model.MessageTypeId)
            @Html.Hidden("EditportalId", Model.PortalId)

        }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
</div>