﻿@model Znode.Engine.MvcAdmin.ViewModels.ShippingRuleViewModel
@using Resources;

<h4>@ZnodeResources.SubHeaderSetPricing</h4>
<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(model => model.BaseCost)
        <span class="sub">@ZnodeResources.LabelShippingBaseCost</span>
    </div>
    <div class="col-sm-8 left-inner-icon">
        <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
        @{string formatedBaseCost = String.Format("{0:0.00}", Model.BaseCost);}
        @Html.TextBoxFor(model => model.BaseCost, formatedBaseCost, new { @id = "valBaseCost", required = "required", @onkeydown = "javascript:Shipping.checkvalues(event,this)" })
        @Html.ValidationMessageFor(m => Model.BaseCost, @ZnodeResources.RequiredBaseCostErrorMessage)
        @Html.HiddenFor(model => model.BaseCost)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(model => model.PerItemCost)
        <span class="sub">@ZnodeResources.LabelShippingPerItemCost</span>
    </div>
    <div class="col-sm-8 left-inner-icon">
        <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
        @{string formatedPerItemCost = String.Format("{0:0.00}", Model.PerItemCost);}
        @Html.TextBoxFor(model => model.PerItemCost, formatedPerItemCost, new { @id = "valPerItemCost", required = "required", @onkeydown = "javascript:Shipping.checkvalues(event,this)" })
        @Html.ValidationMessageFor(m => Model.PerItemCost, @ZnodeResources.RequiredPerItemCostErrorMessage)
        @Html.HiddenFor(model => model.PerItemCost)
    </div>
</div>
<h4>@ZnodeResources.SubHeaderTieredPricing</h4>
<p class="sub left-sm-shift">@ZnodeResources.TextTieredPricing</p>
<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(model => model.LowerLimit)
        <span class="sub">(#items)</span>
    </div>
    <div class="col-sm-8 nopadding">
        @{string _lowerlimit = String.Format("{0:0.00}", Model.LowerLimit == null ? 0 : Model.LowerLimit);}
        @Html.TextBox("LowerLimit", _lowerlimit, new { @id = "valLowerLimit", required = "required", @onkeydown = "javascript:Shipping.checkvalues(event,this)" })
        @Html.ValidationMessageFor(m => Model.LowerLimit, @ZnodeResources.RequiredLowerLimitErrorMessage)
        @Html.HiddenFor(model => model.LowerLimit)
    </div>
</div>
<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(model => model.UpperLimit)
        <span class="sub">(#items)</span>
    </div>
    <div class="col-sm-8 ">
        @Html.TextBoxFor(model => Model.UpperLimit, null, new { @id = "valUpperLimit", required = "required", @onkeydown = "javascript:Shipping.checkvalues(event,this)" })
        @Html.ValidationMessageFor(m => Model.UpperLimit, @ZnodeResources.RequiredUpperLimitErrorMessage)
        @Html.HiddenFor(model => model.UpperLimit)
    </div>
</div>
