﻿@model Znode.Engine.MvcAdmin.ViewModels.ShippingRuleListViewModel
@using Resources;

@{
    ViewBag.Title = @Resources.ZnodeResources.HeaderShipping;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

    WebGrid grid = new WebGrid(rowsPerPage: 5, ajaxUpdateContainerId: "grid-container");
    grid.Bind(source: Model.ShippingRule, rowCount: Model.TotalResults, autoSortAndPage: false);
}
<div>
    @grid.GetHtml(
                htmlAttributes: new { id = "grid", @class = "table" },
                headerStyle: "grid-header",
                columns: grid.Columns(
                grid.Column("ShippingRuleId", header: "ID", format: @<span> <span id="spanName_@item.ShippingRuleId">@item.ShippingRuleId</span></span>),
                grid.Column(header: "Rule Type", format: @<span> <span id="spanName_@item.ShippingRuleType.Name">@item.ShippingRuleType.Name</span></span>),
                grid.Column(header: "Base Cost", format: @<span> <span id="spanName_@item.BaseCost">@item.BaseCost</span></span>),
                grid.Column(header: "Per Unit Cost", format: @<span> <span id="spanName_@item.perItemCost">@item.perItemCost</span></span>),
                grid.Column(header: "Lower Limit", format: @<span> <span id="spanName_@item.LowerLimit">@item.LowerLimit</span></span>),
                grid.Column(header: "Upper Limit", format: @<span> <span id="spanName_@item.UpperLimit">@item.UpperLimit</span></span>),
                grid.Column(header:@ZnodeResources.LabelAction,format:@<text>@Html.ActionLink(ZnodeResources.LabelEdit, ZnodeResources.LabelEdit, new { ShippingRuleId = item.shippingRuleId, ShippingId = Model.shippingOptionId }) |</text>),
                grid.Column(header: "",format:@<text>@Html.Raw("<span onclick='CommonHelper.BindDeleteConfirmDialog(\" " + ZnodeResources.ConfirmDeleteTitle + "\", \" " + ZnodeResources.ConfirmDeleteMessage + "\", \"/" + controllerName + "/" + "DeleteRule" + "/" + @item.shippingRuleId + "\");'>" + ZnodeResources.LabelDelete + "</span>")</text>)
                                                         ))
    @grid.CustomPager(Html)
    @Html.Hidden("dir", grid.SortDirection) @Html.Hidden("col", grid.SortColumn)
</div>
