﻿@model Znode.Engine.MvcAdmin.ViewModels.ShippingOptionViewModel
@using Znode.Engine.MvcAdmin.Helpers
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
 
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmShippingOption", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, Callback = "Shipping.ValidationAttributesForShippingOption" };
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @if (actionName.ToLower() == "CreateShippingOption".ToLower())
        {
            <h1 class="left">@ZnodeResources.HeaderAddShippingOption</h1>
        }
        else
        {
            <h1 class="left">@ZnodeResources.HeaderEditShippingOption</h1>
        }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
    <div class="col-sm-12 add-new-item">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmShippingOption" }))
        {
            if (actionName.ToLower() == "EditShippingOption".ToLower())
            {
                var data = Model.ClassName;
                @Html.HiddenFor(model=>model.ClassName,data)
            }
            string isActiveStatus = (!Equals(Model, null) && Model.IsActive) ? "checked='checked'" : string.Empty;

            <div class="col-sm-12 col-md-6 col-lg-6 item-group" id="generalSettings">
                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                    <h4>@ZnodeResources.SubHeaderShippingGeneralSettings</h4>
                    @if (actionName.ToLower() == "CreateShippingOption".ToLower())
                    {
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.ShippingTypes, new { @class = "required" })
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.ShippingType.ClassName, Model.ShippingTypeList, new { @id = "ddlShippingTypeList", @onchange = "Shipping.BindServiceList(\"ddlShippingServiceCodeList\",this); " })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <div class="col-sm-4 nopadding ">
                                @Html.LabelFor(model => model.ShippingTypes, new { @class = "required" })
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.ShippingType.ClassName, Model.ShippingTypeList, new { @id = "ddlShippingTypeList", disabled = "disabled", @onchange = "Shipping.BindServiceList(\"ddlShippingServiceCodeList\",this); " })
                                @Html.HiddenFor(model => model.ShippingTypeId)
                            </div>
                        </div>
                    }
                    <div class="form-group" id="profile-content">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Profiles, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.ProfileId, Model.ProfileList, new { @id = "ddlProfileList" })
                        </div>
                    </div>
                    <div class="form-group" id="displayname-content">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Description, new { @class = "required" })
                            <span class="sub">@ZnodeResources.TextExampleDisplayName</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Description, null, new { @id = "valDisplayName" })
                            <span id="valDisplayNameErr" class="field-validation-error"></span>
                        </div>
                    </div>
                    <div class="form-group" id="internalcode-content">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ShippingCode, new { @class = "required" })
                            <span class="sub">@ZnodeResources.TextExapmleInternalCode</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.ShippingCode, null, new { @id = "valInternalCode" })
                            <span id="valInternalCodeErr" class="field-validation-error"></span>
                        </div>
                    </div>
                    <div class="form-group" id="service-content" style="display:none;">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ShippingServiceCode)
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.ShippingServiceCodeId, Model.ShippingServiceCodeList, new { @id = "ddlShippingServiceCodeList" })
                        </div>
                    </div>
                    <div class="form-group" id="handlingcharge-content">
                        <div class="col-sm-4 nopadding ">
                            @Html.LabelFor(model => model.HandlingCharge)
                        </div>
                        <div class="col-sm-8 left-inner-icon">
                            <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
                            @if (actionName.ToLower() == "CreateShippingOption".ToLower())
                            {
                                @Html.TextBoxFor(model => model.HandlingCharge, new { @Value = "0.00" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.HandlingCharge)
                            }
                            @Html.ValidationMessageFor(model => model.HandlingCharge)
                        </div>
                    </div>
                    <div class="form-group" id="countries-content">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Countries)
                            <span class="sub">@ZnodeResources.TextCountries</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.CountryCode, Model.CountryList, new { @id = "ddlCountryList" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    <h4>@ZnodeResources.SubHeaderShippingDisplaySettings</h4>
                    <div class="form-group" id="isactive-content">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.IsActive)
                        </div>
                        <div class="col-sm-8">
                            <label>
                                <input @isActiveStatus id="IsActive" name="IsActive" type="checkbox" value="true">
                                <span class="lbl padding-8">@ZnodeResources.LabelShippingEnable</span>
                                <input name="IsActive" type="hidden" value="false">
                            </label>
                        </div>
                    </div>
                    <div class="form-group" id="displayorder-content">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.DisplayOrder, new { @class = "required" })
                            <span class="sub">@ZnodeResources.LabelShippingDispalyOrder</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.DisplayOrder, new { @maxlength = "9" })
                            @Html.ValidationMessageFor(model => model.DisplayOrder)
                        </div>
                    </div>
                </div>
            </div>

            @Html.HiddenFor(model => model.ShippingOptionId)
            @Html.HiddenFor(model => model.ProfileId)
            @Html.HiddenFor(model => model.ShippingServiceCodeId)
            @Html.HiddenFor(model => model.ShippingTypeId, new { id = "hiddenShippingTypeId" })
            @Html.HiddenFor(model => model.ShippingTypeName)
           
        }

     
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
        @Scripts.Render("~/bundles/Shipping")
    </div>
</div>
