﻿@model Znode.Engine.MvcAdmin.ViewModels.ShippingRuleViewModel
@using Znode.Engine.MvcAdmin.Helpers
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmShippingRule", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, CancelUrl = "/Shipping/view/" + Model.shippingId, Callback = "Shipping.CheckRangeValue" };
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @if (actionName.ToLower() == "Create".ToLower())
        {
            <h1>@ZnodeResources.HeaderAddShippingRule @Model.ShippingOption.Description</h1>
        }
        else
        {
            <h1>@ZnodeResources.HeaderEditShippingRule @Model.ShippingOption.Description</h1>
        }
        <p>@ZnodeResources.TextAddEditShippingRule</p>

    </div>

    <div class="col-lg-5 col-md-7 col-sm-12 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmShippingRule" }))
        {
            <div id="generalSettings">
                <h4>@ZnodeResources.SubHeaderShippingRuleType</h4>
                <div class="form-group top-shift border-bottom">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.ShippingRuleType)
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.ShippingRuleTypeId, Model.ShippingRuleTypeList, new { @id = "ddlShippingRuleList" })
                    </div>
                </div>
            </div>
            <div id="shipping-type-container">
                @Html.Partial("_flatRatePerItemShippingType", Model)
            </div>
            @Html.HiddenFor(model => model.ShippingRuleType)
            @Html.HiddenFor(model => model.ShippingRuleId)
            @Html.HiddenFor(model => model.shippingId)
            @Html.HiddenFor(model => model.customErrorMessage)
            @Html.HiddenFor(model => model.ShippingOption.Description)
            @Html.HiddenFor(model=>model.ShippingOption.ShippingType)
        }

        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/Shipping")
</div>
