﻿@model Znode.Engine.MvcAdmin.ViewModels.ShippingOptionViewModel
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@ZnodeResources.HeaderViewShippingOption - @Html.Raw(Model.Description)  </h1>
            <div class="pull-right">
                <button type="button" class="btn-text-icon red" title=@ZnodeResources.ButtonEdit onclick="javascript: location.href = '/Shipping/EditShippingOption/@Model.ShippingOptionId' ;"><i class='glyphicon glyphicon-pencil'></i>@ZnodeResources.ButtonEdit</button>
                @Html.ActionLinkAuthorized("<i class='z-arrow-left'></i>" + ZnodeResources.ButtonBack, "List", new { @shippingOptionId = Model.ShippingOptionId }, new { @class = "btn-text-icon grey", @title = ZnodeResources.ButtonBack })
            </div>
        </div>
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
        {
            <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
                <h4>@ZnodeResources.SubHeaderShippingOptionGenerealInformation</h4>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.ProfileName)
                    </div>
                    <div class="col-sm-8 label-background">
                        <span>@Model.ProfileName</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.ShippingCode)
                    </div>
                    <div class="col-sm-8 label-background">
                        <span>@Model.ShippingCode</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.ShippingType)
                    </div>
                    <div class="col-sm-8 label-background">
                        <span>@Model.ShippingType.Name</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.CountryCode)
                    </div>
                    @if (string.IsNullOrEmpty(Model.CountryCode))
                    {
                        <div class="col-sm-8 label-background">
                            <span>@ZnodeResources.LabelAllCountries</span>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-8 label-background">
                            <span>@Model.CountryCode</span>
                        </div>
                    }
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.HandlingCharge)
                    </div>
                    <div class="col-sm-8 label-background">
                        <span>@MvcAdminUnits.CurrencySymbol@Model.HandlingCharge</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.DisplayOrder)
                    </div>
                    <div class="col-sm-8 label-background">
                        <span>@Model.DisplayOrder</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.IsActive)
                    </div>
                    <div class="col-sm-8 label-background">
                        <span><i class="@HelperMethods.GetCheckMark(@Model.IsActive )"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 add-new-container">

                @if (Model.ShippingType.Name == "Custom")
                {
                    <h4>@ZnodeResources.SubHeaderShippingRules</h4>
                    <div class="col-sm-12 nopadding">
                        <p class="left left-sm-shift">@ZnodeResources.TextShippingRules</p>
                        <button type="button" class="btn-text red pull-right" title=@ZnodeResources.LinkAddRule onclick="javascript: location.href = '/Shipping/Create/@Model.ShippingOptionId' ;">@ZnodeResources.LinkAddRule</button>
                    </div>

                    <div class="col-sm-12 list-container nopadding">
                        @Html.Partial("/Views/Filter/_DynamicGrid.cshtml", Model.ReportModel)
                    </div>
                }
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        WebgridPagerHelper.SetPagingInput();
    });

</script>