﻿@using System.Web.UI.WebControls
@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels

<div id="BindAlphabetical" class="bind-alphabetical-section">
    <ul id="BrandList" class="clearfix">
        <li><a title="A">A</a></li>
        <li><a title="B">B</a></li>
        <li><a title="C">C</a></li>
        <li><a title="D">D</a></li>
        <li><a title="E">E</a></li>
        <li><a title="F">F</a></li>
        <li><a title="G">G</a></li>
        <li><a title="H">H</a></li>
        <li><a title="I">I</a></li>
        <li><a title="J">J</a></li>
        <li><a title="K">K</a></li>
        <li><a title="L">L</a></li>
        <li><a title="M">M</a></li>
        <li><a title="N">N</a></li>
        <li><a title="O">O</a></li>
        <li><a title="P">P</a></li>
        <li><a title="Q">Q</a></li>
        <li><a title="R">R</a></li>
        <li><a title="S">S</a></li>
        <li><a title="T">T</a></li>
        <li><a title="U">U</a></li>
        <li><a title="V">V</a></li>
        <li><a title="W">W</a></li>
        <li><a title="X">X</a></li>
        <li><a title="Y">Y</a></li>
        <li><a title="Z">Z</a></li>
        <li><a title="All">All</a></li>
    </ul>
</div>
<div id="bindBrandList" class="brand-list-section clearfix"></div>

@Html.Hidden("ViewBy")
@Scripts.Render("~/bundles/ShopByBrandsJS")

<script src="~/Scripts/flexslider.js"></script>
<script src="~/Scripts/PRFTSlideProducts.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($(window).width() < 767) {
            var slideBrandAlphaList = new PRFTSlideProducts({
                sliderID: "BindAlphabetical",
                MaxItemCount: 4,
                MobPortraitItemCount: 4,
                MobLandItemCount: 4,
                TabletItemCount: 4,
                MinimumItemsShown: 3,
            });
            slideBrandAlphaList.Init();
        }
    });
</script>