﻿@using System.Web.UI.WebControls
@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels

@{
    ViewBag.Title = "Manufacturer";
}
<div class="container">
    
    <div class="brand-details-section row" id="dvBrandDetails">        
        <div class="container-content">
            <h1 class="page-title">Manufacturer</h1>
            @Html.Partial("_ShopByBrandAlphaList")
        </div>
    </div>
</div>