﻿@model Znode.Engine.MvcAdmin.ViewModels.CatalogAssociatedCategoriesListViewModel
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="col-sm-12 nopadding" id="grid-container">
    <div class="col-sm-12 search-container nopadding">
        <p>@Resources.ZnodeResources.SubHeaderCatalogAssociatedCategoryList</p>
        <p class="sub red-color">@Resources.ZnodeResources.NoteCatalogAssociatedCategoryList</p>
    </div>
    <button type="submit" class="btn-text red pull-right" title="@Resources.ZnodeResources.AssociateCategory" onclick="javascript: location.href = '/Catalog/AssociateCategories?catalogId=@Model.CatalogId'">@Resources.ZnodeResources.AssociateCategory</button>
    <div class="col-sm-12 product-search">
        <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
        <div id="collapseOne" class="panel-collapse collapse in">
            @using (Ajax.BeginForm("CatalogAssociatedCategoriesList", controllerName, new { catalogId = @Model.CatalogId }, new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent" class="panel-body">
                    @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.Grid.FilterColumn)
                </div>
            }
        </div>
    </div>
    <div class="col-sm-12 list-container">
        <div class="col-sm-12 nopadding">
            @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.Grid)
        </div>
    </div>
</div>
