﻿@model Znode.Engine.MvcAdmin.ViewModels.CategoryProfileViewModel
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    actionName = actionName.ToLower().Equals("getcatgoryprofilesdata") ? "managecategoryprofiles" : actionName;
}
@using (Html.BeginForm(actionName, controllerName))
{
    <div class="col-sm-12 add-new-container nopadding">
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.LabelFor(model => model.ProfileID)
                <span class="sub">@Resources.ZnodeResources.DescriptionSkuProfile</span>
            </div>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.ProfileID, Model.CategoryProfile)
                @Html.ValidationMessageFor(model => model.ProfileID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.LabelFor(model => model.EffectiveDate)
                <span class="sub">@Resources.ZnodeResources.DescriptionSkuProfileEffectiveDate</span>
            </div>
            <div class="col-sm-8 right-inner-icon">
                @Html.TextBoxFor(model => model.EffectiveDate, new { @class = "datepicker", data_date_format = Model.DatePickDateFormat })
                <i class="glyphicon glyphicon-calendar"></i>
                @Html.ValidationMessageFor(model => model.EffectiveDate)
            </div>
        </div>
        @Html.HiddenFor(model => model.CategoryID)
        @Html.HiddenFor(model => model.CategoryNodeId)
        @Html.HiddenFor(model => model.CategoryProfileID)
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="AssociateCategory.HideManageCategoryProfile();">@ZnodeResources.ButtonCancel</button>
            </div>
        </div>

    </div>
}
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryui")


<script>
    $(document).ready(function () {
        WebgridPagerHelper.Init();
    });
    
</script>