﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using Resources;
<div id="grid-container">
    <div class="col-sm-12 nopadding">
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("SearchCategory", "Catalog", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.FilterColumn)
                    </div>
                }
            </div>
        </div>

        <div class="col-sm-12 list-container">
            <div id="d-grid" class="col-sm-12 nopadding">
                @{
                    if (!Equals(Model, null))
                    {
                        Model.IsAdvanceSearchHide = true;
                    }
                }
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
            </div>
        </div>
    </div>
</div>

<script>
    $("#grid > tbody > tr > td > a").click(function (e) {
        var id = parseInt($(this).attr('href').replace('/', ''));
        var name = $(this).html();
        $("#txtCategoryName").val(name);
        $('#txtCategoryName').attr('data-CategoryId', id);
        $("#hdnCategoryId").val(id);
        $("#dvSearchCategory").dialog('close');
        return false;
    });
    WebgridPagerHelper.Init();
</script>