﻿@model Znode.Engine.MvcAdmin.ViewModels.CategoryNodeViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Znode.Libraries.Helpers;
@{ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;}
@{

    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "formAssociateCategory", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, CancelUrl = "/Catalog/Manage/" + Model.CatalogId, Callback = "AssociateCategory.ValidateDisplayOrderAndCategoryName" };
}
<div class="col-sm-12 dashboard-page-container">

    <div class="col-sm-12 title-container">
        <h1>@Resources.ZnodeResources.AssociateCategoryHeader @Model.CatalogName</h1>
    </div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "formAssociateCategory" }))
        {
            @Html.AntiForgeryToken()
            <h4>@ZnodeResources.LabelGeneralInformation</h4>
            <div class="form-group border-bottom">
                <div class="col-sm-4 nopadding">
                    @Html.HiddenFor(model => model.CategoryId, new { @id = "hdnCategoryId" })
                    @Html.LabelFor(model => model.CategoryId, Resources.ZnodeResources.LabelSearchAndSelectCategory, new { @class = "required" })
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.Category.Name, new { @id = "txtCategoryName", onchange = "AssociateCategory.AutoComplete(this)", required = "required" })
                    @Html.ValidationMessageFor(model => model.Category.Name, ZnodeResources.rfvSelectCategory, new { @id = "valCategoryName" })
                </div>
                @if (actionName.ToLower().Equals("associatecategories"))
                {
                    <i class="glyphicon glyphicon-search category-search" onclick="AssociateCategory.ShowCategoriesListPopUp('txtCategoryName', 'hdnCategoryId')" data-original-title="Click Here For Categories List" data-placement="top" data-toggle="tooltip"></i>
                }
            </div>
            <h4>@Resources.ZnodeResources.SectionTitleCategorySettings</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.ParentCategoryNodeId)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.ParentCategoryNodeId, Model.ParentCategoryNodes, Resources.ZnodeResources.DdlDefaultAssociateCategory)
                    @Html.ValidationMessageFor(model => model.ParentCategoryNodeId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.IsActive)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input @(Convert.ToBoolean(Model.IsActive) ? "checked='checked'" : "") id="IsActive" name="IsActive" type="checkbox" value="true">
                        <span class="lbl padding-8">@Resources.ZnodeResources.LabelEnableCategoryDescription</span>
                    </label>
                    @Html.ValidationMessageFor(model => model.IsActive)
                </div>
            </div>

            <div class="form-group border-bottom">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.DisplayOrder, new { @class = "required" })
                    <span class="sub">@Resources.ZnodeResources.LabelDisplayOrderDescription</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.DisplayOrder, new { @id = "displayOrder", @maxlength = 5, onchange = "AssociateCategory.ValidateDisplayOrderToAcceptOnlyNumbers()" })
                    @Html.ValidationMessageFor(model => model.DisplayOrder, ZnodeResources.rfvDisplayOrder, new { @id = "valDisplayOrder" })
                </div>
            </div>
            <h4>@Resources.ZnodeResources.SectionTitleAdvancedSettings</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.ThemeId)
                    <span class="sub">@Resources.ZnodeResources.LabelCategoryPageThemeHintText</span>
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.ThemeId, Model.ThemeList, Resources.ZnodeResources.DropdownThemeDefault, new { @onchange = "AssociateCategory.BindCssList(cssList,this);" })
                    @Html.ValidationMessageFor(model => model.ThemeId)
                </div>
            </div>          
            <div class="form-group border-bottom">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CssId)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.CssId, Model.CssList, Resources.ZnodeResources.DropdownThemeDefault, new { @id = "cssList" })
                    @Html.ValidationMessageFor(model => model.CssId)
                </div>
            </div>
            if (actionName.ToLower().Equals("edit"))
            {
                <h4>@Resources.ZnodeResources.SectionTitleProfileCategoryAvailableDate</h4>
                <div id="dvAssociatePage">
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <button @Html.Raw(@Model.IsSuccess ? "disabled=\"disabled\"" : "") type="button" class="btn-text red pull-right" title="@Resources.ZnodeResources.ButtonProfileCategoryAvailableDate" onclick="AssociateCategory.HideShowManageCategoryProfilePartialView('@Model.CategoryId','@Model.CategoryNodeId')">@Resources.ZnodeResources.ButtonProfileCategoryAvailableDate</button>
                        </div>
                    </div>
                    <div class="col-sm-12 nopadding list-container" id="grid-dynamic">
                        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.AssociatedCategoryProfiles)
                    </div>
                </div>
            }


            @Html.HiddenFor(model => model.CatalogId, new { @id = "hdnCatalogId" })
            @Html.HiddenFor(model => model.CatalogName)
            @Html.HiddenFor(model => model.CategoryNodeId)
            @Html.Hidden("UserType", UserTypes.Admin.ToString())

            @*This div is imp don't delete it*@
            <div id="dvSearchCategory" style="display:none" class="scroll-default">
            </div>
        }
        <div class="form-group" id="dvBtnSubmitCancel" style="display:block">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
        @*Do not remove this div.*@
        <div id="dvHideShowPartialView" style="display:none">
        </div>
    </div>

</div>
@Scripts.Render("~/bundles/AssociateCategory")
<script>
    $(document).ready(
        function () {
            WebgridPagerHelper.SetPagingInput();
            RefreshLocationOndelete = true;
            $(".pagination").parent().hide();
            var height = $('#grid-dynamic').height();
            if (height >= "330") { $('.list-container').addClass("grid-dynamic scroll-default"); }
            $("#Dynamic_Grid").find("#dvAdvancedSearch").css("display", "none");
        });
    AssociateCategory.Init();
</script>
