﻿@model Znode.Engine.MvcAdmin.ViewModels.CatalogViewModel

@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>@Resources.ZnodeResources.CopyCatalogHeader</h1>
    </div>
    <div class="col-lg-5 col-md-8 col-sm-12 add-new-container">
        @using (Html.BeginForm(new { @class = "form" }))
        {
            @Html.ValidationSummary(true)
            <h4>@ZnodeResources.LabelCatalogDetails</h4>
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    @Html.LabelFor(model => model.Name, Resources.ZnodeResources.CatalogName)
                </div>
                <div class="col-sm-8 col-lg-9">
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            @Html.HiddenFor(model => model.CatalogId)
            @Html.HiddenFor(model => model.IsActive)
            <div class="pull-right">
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest"> @ZnodeResources.ButtonSubmitRequest </button>
                <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = '/Catalog/List';">@ZnodeResources.ButtonCancel</button>
            </div>
        }
    </div>
</div>
