﻿@model Znode.Engine.MvcAdmin.ViewModels.CatalogViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@{

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "formCreateEditCatalog", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}
<div class="col-sm-12 dashboard-page-container" id="grid-container">
    <div class="col-sm-12 title-container">
        <h1 class="left">@Resources.ZnodeResources.CreateEditCatalogHeader</h1>
        <button type="button" class="btn-text-icon grey pull-right" title="@ZnodeResources.ButtonBack" onclick="javascript: location.href = '/Catalog/List';"><i class="z-arrow-left"></i>@ZnodeResources.ButtonBack</button>
    </div>
    <div class="col-sm-12 nopadding top-shift">
        <div class="manage-stores-container">
            <div class="tab-container">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#panel-1" data-toggle="tab" class="tabs">@ZnodeResources.TabSettingsText</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="panel-1">
                        <div class="col-sm-6 col-md-4 nopadding">
                            @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "formCreateEditCatalog" }))
                            {
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, new { @class = "required" })
                                    @Html.TextBoxFor(model => model.Name)
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                                @Html.HiddenFor(model => model.CatalogId)

                            }
                            <div class="pull-right">
                                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
                            </div>
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.CategoryProfileId)
                    @Html.HiddenFor(model => model.PortalId)

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

