﻿@model Znode.Engine.MvcAdmin.ViewModels.CatalogViewModel
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1 class="left">@Resources.ZnodeResources.DeleteCatalogHeader</h1>
    </div>
    <div class="col-sm-12 search-container">
        <p>@Resources.ZnodeResources.SubHeaderCatalogDelete <b>@Model.Name</b>.</p>
        <p class="red-color">@Resources.ZnodeResources.WarningCatalogDelete</p>
    </div>
    <div class="col-lg-5 col-md-8 col-sm-12 add-new-container">
        @using (Html.BeginForm(new { @class = "form" }))
        {

            <h4>@Resources.ZnodeResources.SelectOption</h4>
            <div class="col-sm-12 nopadding">
                <label>
                    @Html.RadioButtonFor(model => model.PreserveCategories, true, new { id = "PreserveCategories_true" })
                    <span for="PreserveCategories_true" class="lbl padding-8">@Resources.ZnodeResources.RadioDeleteCatalogOption1</span>
                </label>
            </div>
            <div class="col-sm-12 nopadding">
                <label>
                    @Html.RadioButtonFor(model => model.PreserveCategories, false, new { id = "PreserveCategories_false" })
                    <span for="PreserveCategories_false" class="lbl padding-8">@Resources.ZnodeResources.RadioDeleteCatalogOption2</span>
                </label>
            </div>
            @Html.ValidationMessageFor(model => model.PreserveCategories)
            @Html.HiddenFor(model => model.CatalogId)
            @Html.HiddenFor(model => model.IsDefault)

            <div class="pull-right">
                <button type="submit" class="btn-text red" title="@Resources.ZnodeResources.DeleteText">@Resources.ZnodeResources.DeleteText</button>
                <button type="button" class="btn-text grey" title="@Resources.ZnodeResources.ButtonCancel" onclick="javascript: location.href = '/Catalog/List';">@Resources.ZnodeResources.ButtonCancel</button>
            </div>
        }
    </div>
</div>

