﻿@model Znode.Engine.MvcAdmin.Models.ReportModel

@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@Resources.ZnodeResources.HeaderCatalogList</h1>
            <button id="btnAddNewCatalog" class="btn-text-icon red pull-right" title="@ZnodeResources.ButtonAdd" onclick="javascript:location.href='@Url.Content("~/Catalog/Create")'"><i class="glyphicon glyphicon-plus"></i>@ZnodeResources.ButtonAdd</button>
        </div>
        <div class="col-sm-12 search-container">
            <p class="left">@Resources.ZnodeResources.CatalogDescription</p>

        </div>
        <div class="col-sm-12 list-container">
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Catalog")
<script>
    $(document).ready(function () {
        Catalog.CatalogDeleteRedirect();
    });
</script>