﻿@model Znode.Engine.MvcAdmin.ViewModels.CatalogViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources;
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();

    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "formCategoryManage", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, CancelUrl = "/Catalog/List" };
}

@{
    var selectedTabMode = TempData[MvcAdminConstants.SetTabMode];
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container bottom-shift">
        <h1 class="left">@Resources.ZnodeResources.HeaderEditCatalog @Model.Name</h1>
        @Html.ActionLinkAuthorized("<i class='z-arrow-left'></i>" + ZnodeResources.ButtonBack, "List", controllerName, null, new { @id = "redirect-back", @Class = "btn-text-icon grey pull-right", @title = ZnodeResources.ButtonBack })
    </div>

    <div class="col-sm-12 nopadding">
        <div class="manage-stores-container">
            <div class="tab-container">
                <ul id="myTab" class="nav nav-tabs">
                    <li><a href="#panel-1" data-toggle="tab" class="tabs" id="catalog-settings">@ZnodeResources.TabSettingsText</a></li>
                    <li><a href="/Catalog/CatalogAssociatedCategoriesList" id="catalog-categories" data-queryparam="catalogId=@Model.CatalogId" data-targetitemid="panel2" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabProductCategory</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="panel-1">
                        <div class="col-sm-12 col-md-6 col-lg-5 item-list">
                            <div class="col-sm-12 col-md-11 col-lg-10 nopadding">
                                @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "formCategoryManage" }))
                                {
                                    @Html.ValidationSummary(true)
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name, new { @class = "required" })
                                        @Html.TextBoxFor(model => model.Name)
                                        @Html.ValidationMessageFor(model => model.Name)
                                    </div>
                                    @Html.HiddenFor(model => model.CatalogId)
                                    @Html.HiddenFor(model => model.PortalId)
                                }
                                <div class="pull-right">
                                    @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="panel2">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/AssociateCategory")

@Html.Hidden("tab-select", selectedTabMode)

<script>
    $(document).ready(function () {
        if ($.trim($("#tab-select").val()) === "Categories") {
            $("#catalog-categories").click();
        }
    });
</script>

