﻿@using Znode.Engine.MvcAdmin.Helpers
@model Znode.Engine.MvcAdmin.ViewModels.ProductViewModel

@if (Model.AddOns != null && Model.AddOns.Any())
{
    <div class="product-addons">
        <div class="col-sm-12 nopadding">
            @* Dropdown options *@
            @foreach (var addon in Model.AddOns)
            {
                if (Equals(addon.DisplayType, MvcAdminConstants.AddonDisplayTypeDropDown) || Equals(addon.DisplayType, MvcAdminConstants.DropDownDisplayType))
                {
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            <label for="AddOn-@addon.AddOnId">@addon.Title</label>
                        </div>
                        <div class="col-sm-8">
                            @(addon.OptionalIndicator ? Html.DropDownList("AddonId_" + addon.AddOnId, new SelectList(addon.AddOnValues, "AddOnValueId", "AddOnValueText"), "Select " + addon.Title, new { @id = "AddOn-" + addon.AddOnId, @class = "AddOn", @name = "AddonValueId" }) : Html.DropDownList("AddonId_" + addon.AddOnId, new SelectList(addon.AddOnValues, "AddOnValueId", "AddOnValueText", addon.SelectedAddOnValue[0]), new { @id = "AddOn-" + addon.AddOnId, @class = "AddOn", @name = "AddonValueId" }))
                            <div id="dynamic-addOninventory_@addon.AddOnId" style="display:none" class="status-outofstock field-validation-error"></div>
                        </div>
                    </div>
                }

                @* RadioButtons options *@
                if (Equals(addon.DisplayType, MvcAdminConstants.AddonDisplayTypeRadioButton))
                {
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">@addon.Title</div>
                        <div class="col-sm-8">
                            @foreach (var addonValues in addon.AddOnValues)
                            {
                                <label>
                                    <input type="radio" id="AddOnValue-@addonValues.AddOnValueId" name="AddOnValue_@addon.Name" value="@addonValues.AddOnValueId" class="AddOn" @((!addon.OptionalIndicator && addon.SelectedAddOnValue.Contains(addonValues.AddOnValueId)) ? "checked=checked" : "") />
                                    <span for="AddOnValue-@addonValues.AddOnValueId" class="lbl padding-8">@addonValues.Name (+@addonValues.AddOnFinalPrice.ToString("C"))</span>
                                </label>
                            }
                            <div id="dynamic-addOninventory_@addon.AddOnId" style="display:none" class="status-outofstock field-validation-error"></div>
                        </div>
                    </div>
                }

                @* CheckBox options *@
                if (Equals(addon.DisplayType, MvcAdminConstants.AddonDisplayTypeCheckBox))
                {
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">@addon.Title</div>
                        <div class="col-sm-8">
                            <div class="chk-product-addons" id="chk-@addon.AddOnId" data-isoptional="@addon.IsOptional" data-addonid="@addon.AddOnId">
                                @foreach (var addonValues in addon.AddOnValues)
                                {
                                    <label>
                                        <input type="checkbox" id="AddOn-@addonValues.AddOnValueId" name="AddOnValueId_@addon.AddOnId" value="@addonValues.AddOnValueId" class="AddOn" @((!addon.OptionalIndicator && addon.SelectedAddOnValue.Contains(addonValues.AddOnValueId)) ? "checked=checked" : "") />
                                        <span for="AddOn-@addonValues.AddOnValueId" class="lbl padding-8">@addonValues.Name (+@addonValues.AddOnFinalPrice.ToString("C"))</span>
                                    </label>
                                }
                            </div>
                            <p id="paraComment-@addon.AddOnId" style="display:none" class="status-outofstock field-validation-error">Please select atleast one @addon.Name</p>
                            <div id="dynamic-addOninventory_@addon.AddOnId" style="display:none" class="status-outofstock field-validation-error"></div>
                        </div>
                    </div>

                }

                @* TextBox options *@
                if (Equals(addon.DisplayType, MvcAdminConstants.AddonDisplayTypeTextBox))
                {
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">@addon.Title</div>
                        <div class="col-sm-8">
                            @foreach (var addonValues in addon.AddOnValues)
                            {
                                <label for="AddOn-@addonValues.AddOnValueId">@addonValues.Name</label>
                                @Html.TextBox("CustomText", addonValues.CustomText, new { @id = "txtAddOnValue" + "-" + addonValues.AddOnValueId, @class = "AddOnValues", @data_addOnValueId = "" + @addonValues.AddOnValueId + "", @data_addOnDisplayType = "" + @addon.DisplayType + "", @data_isOptional = "" + @addon.IsOptional + "" })
                                <p id="paraComment-@addonValues.AddOnValueId" style="display:none" class="red-color">It is required</p>
                            }
                            <div id="dynamic-addOninventory_@addon.AddOnId" style="display:none" class="status-outofstock field-validation-error"></div>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
    if (Model.AddOns != null && Model.AddOns.Any())
    {
        <input type="hidden" id="dynamic-addonvalueid" name="AddOnValueIds" value="@string.Join(",", Model.AddOns.Where(x => x.SelectedAddOnValue != null).SelectMany(x => x.SelectedAddOnValue))" />
        <input type="hidden" id="dynamic-addonvaluecustomtext" name="AddOnValuesCustomText" />
    }
}
<script>
    $(document).on("change", ".AddOn", function () {
        var len =   @(Model != null && !Equals(Model.AddOns,null) ? Model.AddOns.Count() : 0);
        Orders.SetAddonsValues(len,"AddOn","dynamic-addonvalueid","dynamic-addonvaluecustomtext");
    })
</script>