@using Znode.Engine.MvcAdmin.Helpers
@using Znode.Engine.MvcAdmin.ViewModels
@using Znode.Engine.MvcAdmin;
@using Resources
@model ProductViewModel
<div class="attribute-options">
    <dl>
        @{
            foreach (var att in Model.ProductsAttributes.Attributes)
            {
                <dt>
                    <label>@att.Name</label>
                </dt>
                <dd>
                    @(Model.IsCallForPricing ? Html.AttributeDropDownList("AttributeId", att.DropdownAttributes, att.ToBeFiltered, new { @class = "attribute", rel = att.AttributeTypeId, disabled = "disabled" }) : Html.AttributeDropDownList("AttributeId", att.DropdownAttributes, att.ToBeFiltered, new { @class = "attribute", rel = att.AttributeTypeId }))
                </dd>

            }
        }

        @{
            if (Model.ShowQuantity)
            {
                <dt>
                    <label for="Quantity">Quantity</label>
                </dt>
                <dd class="quantity-options">
                    <select name="Quantity" id="Quantity" class="quantity" @(Model.IsCallForPricing ? "disabled" : "")>
                        @for (int quantity = @Model.MinQuantity.Value; quantity <= @Model.MaxQuantity; quantity++)
                        {
                            <option value="@quantity">@quantity</option>
                        }
                    </select>
                    @if (Model.ShowAddToCart)
                    {
                        <div id="dynamic-inventory" class="status-outofstock hide"></div>
                    }
                    else
                    {
                        <div id="dynamic-inventory" class="status-outofstock">@Model.InventoryMessage</div>
                    }
                </dd>
            }

        }

    </dl>
</div>
