﻿@using System.Collections.ObjectModel
@using Znode.Engine.MvcAdmin.ViewModels
@model List<BundleDisplayViewModel>

<div class="product-bundles">
    <div class="notice">@Resources.ZnodeResources.LabelBundleFreeWithProduct</div>

    @{
        foreach (var p in Model)
        {
            <div class="bundle-item">
                <div class="bundle-item-image"><img src="@p.ImageSmallPath" alt="@p.Name" /></div>
                <b>  @Html.Raw(p.Name)</b>
            </div>
        }
    }

</div>