﻿@model Znode.Engine.MvcAdmin.ViewModels.CartItemViewModel

@{
    int maxQuantity = Equals(Model.MaxQuantity, null) ? MvcAdminConstants.ProductMaxSelectionQuantity : Model.MaxQuantity.Value;
}
<div class="" id="UpdateContainer">
    <tbody>
        <tr>
            <td>
                @using (Ajax.BeginForm("UpdateQuantity", "Orders", new AjaxOptions() { UpdateTargetId = "UpdateContainer", HttpMethod = "POST" }, new { @id = "searchform" }))
                {
                    <select name="Quantity" id="Quantity" class="quantity">
                        @for (int quantity = @Model.Product.MinQuantity.Value; quantity <= @Model.Product.MaxQuantity; quantity++)
                        {
                            <option value="@quantity" @(Model.Quantity == quantity ? "selected" : "")>@quantity</option>
                        }
                    </select>
                    <input type="hidden" id="guid" name="guid" value="@Model.ExternalId" />

                }

                @using (Ajax.BeginForm("RemoveItem", "Orders", new AjaxOptions() { UpdateTargetId = "UpdateContainer", HttpMethod = "POST" }, new { @id = "searchform" }))
                {
                    <input type="hidden" id="guid" name="guid" value="@Model.ExternalId" />
                    <a href="javascript:void(0);" id="RemoveCartItem" class="cart-item-remove" style="width:150px;">@Resources.ZnodeResources.LinkTextRemoveItem</a>
                }

            </td>
            <td>
                @if (!string.IsNullOrEmpty(Model.ImageMediumPath))
                {
                    <div class="col-sm-3">
                        <img src="@Url.Content(Model.ImageMediumPath)" alt="@WebUtility.HtmlDecode(@Model.ProductName)" class="img-responsive" />
                    </div>
                }
            </td>
            <td>
                <b>@Model.ProductName</b>
                <p>@ZnodeResources.LabelItem @Model.Sku</p>
                <p>@Html.Raw(Model.Description)</p>
            </td>
            <td>
                @Html.Raw(MvcAdminUnits.GetCurrencyValue(Convert.ToDecimal(Model.UnitPrice)))
            </td>
            <td class="cart-item-total">
                @Html.Raw(MvcAdminUnits.GetCurrencyValue(Convert.ToDecimal(Model.ExtendedPrice)))
            </td>
        </tr>
    </tbody>
    @Html.Hidden("RecurringBillingFrequency", Model.Product.RecurringBillingFrequency)
    @Html.Hidden("RecurringBillingInd", Model.Product.RecurringBillingInd)
    @Html.Hidden("RecurringBillingInitialAmount", Model.Product.RecurringBillingInitialAmount)
    @Html.Hidden("RecurringProfileName", Model.Product.Name)

    @Html.Hidden("PaypalProductName", Model.Product.Name, new { @class = "paypalproductname" })
    @Html.Hidden("PaypalProductNumber", Model.Product.ProductCode, new { @class = "paypalproductnumber" })
    @Html.Hidden("PaypalProductDescription", Model.Product.ShortDescription, new { @class = "paypalproductdescription" })
    @Html.Hidden("PaypalProductQuantity", Model.Quantity, new { @class = "paypalproductquantity" })
    @Html.Hidden("PaypalProductAmount", Model.UnitPrice, new { @class = "paypalproductamount" })
</div>

