﻿@model Znode.Engine.MvcAdmin.ViewModels.AddressViewModel

<div id="addrFullName" class="col-sm-12 nopadding">@Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)</div>
<div id="addrCompanyName" class="col-sm-12 nopadding">@Html.DisplayFor(m => m.CompanyName)</div>
<div id="addrStreet1" class="col-sm-12 nopadding">@Html.DisplayFor(m => m.StreetAddress1)</div>
<div id="addrStreet2" class="col-sm-12 nopadding">@Html.DisplayFor(m => m.StreetAddress2)</div>
<div class="col-sm-12 nopadding">
    <div id="addrCity">@Html.DisplayFor(m => m.City)</div>
    <div id="addrStateCode">@Html.DisplayFor(m => m.StateCode)</div>
    <div id="addrPostalCode">@Html.DisplayFor(m => m.PostalCode)</div>
</div>
<div id="addrCountryCode" class="col-sm-12 nopadding">@Html.DisplayFor(m => m.CountryCode)</div>
<div id="addrPhoneNumber" class="col-sm-12 nopadding">@Html.DisplayFor(m => m.PhoneNumber)</div>
<div id="addrEmailAddress" class="col-sm-12 nopadding" style="display:none;">@Html.DisplayFor(m => m.Email)</div>

<div class="col-sm-12 nopadding">
    @Ajax.ActionLink(Resources.ZnodeResources.LinkTextChange, "ChangeAddress", "Orders", new { @accountId = Model.AccountId }, new AjaxOptions()
{
    HttpMethod = "Get",
    OnSuccess = "Orders.ChangeAddressDialog",
    UpdateTargetId = "addNewCustomerContainer"
},
    new { id = "changeCustomerLink" })
</div>