﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductListViewModel
@{
    if (!Equals(Model, null) && !Equals(Model.GridModel, null))
    {
        Model.GridModel.IsAdvanceSearchHide = true;
    }
}
<div id="grid-container">
    <div class="col-sm-12 product-search">
        <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
        <div id="collapseOne" class="panel-collapse collapse in">
            @using (Ajax.BeginForm("ProductList", "Orders", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent" class="panel-body">
                    @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
        </div>
    </div>
    @if (!Equals(Model.GridModel.DataTableToList, null))
    {
        <div class="DynamicGrid col-sm-12 list-container nopadding">
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
            </div>
        </div>
    }
    <div class="ProductDetailsContainer" style="display:none;"></div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        WebgridPagerHelper.Init();
        WebgridPagerHelper.SetPagingInput();
        Orders.ProductDetails("ProductDetailsContainer", "grid > tbody > tr");
    });
</script>