﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductViewModel
<div class="add-new-container">
    @using (Html.BeginForm("AddToCart", "Orders", FormMethod.Post, new { @id = "addtocart-form" }))
    {

        <div class="col-sm-12 cost-container nopadding">
            <div class="col-sm-1 total nopadding">
                <h4>@ZnodeResources.GridHeaderQuantity</h4>
                <div class="addons-popup-div">
                    <select name="Quantity" id="ProductDetailsQuantity" class="quantity" @(Model.IsCallForPricing ? "disabled" : "")>
                        @for (int quantity = @Model.MinQuantity.Value; quantity <= @Model.MaxQuantity; quantity++)
                        {
                            <option value="@quantity">@quantity</option>
                        }
                    </select>
                    <div id="dynamic-inventory" class="red-color status-outofstock" style="display:none;">@Model.InventoryMessage</div>
                </div>
            </div>
            <div class="col-sm-5 nopadding">
                <h4>@ZnodeResources.SubHeaderOptions</h4>
                <div class="product-variations addons-popup-div">
                    <b>  @Html.Raw(Model.Name)</b>
                </div>
                <div class="product-variations addons-popup-div">
                    <span id="dynamic-product-variations">
                        @{ Html.RenderPartial("_attributes"); }
                    </span>
                    <span id="dynamic-product-addons">
                        @Html.Partial("_Addons")
                    </span>
                    <span id="dynamic-product-bundles">
                        @{if (!string.IsNullOrEmpty(Model.BundleItemsIds))
                        {
                            Html.RenderAction("GetBundleDisplay", "Orders", new { ids = Model.BundleItemsIds });
                        }
                        }
                    </span>
                </div>
            </div>
            <div class="col-sm-3 nopadding">
                <h4>@ZnodeResources.LabelUnitPrice</h4>
                <div class="addons-popup-div" id="RetailPrice">@Html.Raw(MvcAdminUnits.GetCurrencyValue(Convert.ToDecimal(Model.UnitPrice)))</div>
            </div>
            <div class="col-sm-3 nopadding">
                <h4>@ZnodeResources.GridHeaderTotal</h4>
                <div class="addons-popup-div" id="Total">@Html.Raw(MvcAdminUnits.GetCurrencyValue(Convert.ToDecimal(Model.ProductPrice)))</div>
            </div>
        </div>
        @Html.HiddenFor(model => model.ProductId)
        @Html.HiddenFor(model => model.ShowAddToCart, new { @id = "isShowAddToCart" })
        <div class="col-sm-12 nopadding">
            <h4>@ZnodeResources.SubHeaderManageProduct</h4>
            <div class="col-sm-4 nopadding">
                <img src="@Url.Content(@Model.ImageLargePath)" alt="@Model.Name" class="img-responsive" id="product-image" />
            </div>
            <div class="col-sm-8 nopadding">
                <div class="col-sm-12">
                    @Html.Raw(Model.LongDescription)
                </div>
            </div>
        </div>

        <div class="product-options">
            <input type="hidden" id="dynamic-productId" name="productId" value="@Model.ProductId" />
            <input type="hidden" id="dynamic-productName" name="ProductName" value="@Model.Name" />
            <input type="hidden" id="dynamic-sku" name="sku" value="@Model.Sku" />
            <input type="hidden" id="dynamic-price" value="@Model.UnitPrice" />
            <input type="hidden" id="dynamic-bundleItemsIds" name="bundleItemsIds" value="@Model.BundleItemsIds" />

            <div class="col-sm-12 nopadding">
                <div class="product-tocart pull-right top-shift">
                    <button type="submit" class="btn-text red" id="button-addAnotherProduct" title="Add Another Product">Add Another Product</button>
                    <button type="submit" class="btn-text red" id="button-addtocart" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>

                    <button type="button" class="btn-text grey" id="button-popupCancel" title="@ZnodeResources.ButtonCancel">@ZnodeResources.ButtonCancel</button>
                </div>
            </div>
        </div>

    }
</div>
<script>
    $('#button-addtocart').on("click", function (e) {
        e.preventDefault();
        Orders.AddToCart("addtocart-form");
    })
    $('#button-popupCancel').on("click", function (e) {
        $("#searchProductsContainer").dialog("close");
        return false;
    })
    $('#button-addAnotherProduct').on("click", function (e) {
        e.preventDefault();
        Orders.AddAnotherProduct("addtocart-form");
    })
</script>