﻿@using Znode.Engine.MvcAdmin.ViewModels
@model CartViewModel
          
<div class="col-sm-12 cost-container nopadding">
    <div class="form-group">
        <div class="col-sm-3 nopadding">
            @Html.LabelFor(model => model.SubTotal)
        </div>
        <div class="col-sm-9 label-background">
            @Html.Raw(MvcAdminUnits.GetCurrencyValue(Convert.ToDecimal(Model.SubTotal)))
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 nopadding">
            @Html.LabelFor(model => model.Discount)
        </div>
        <div class="col-sm-9 label-background">
            <div id="dynamic-discount-amount" class="left-sm-shift">@Html.Raw(MvcAdminUnits.GetCurrencyValue(Convert.ToDecimal(Model.Discount)))</div>
        </div>
    </div>
    @if (Model.TaxCost > 0)
    {
    <div class="form-group">
        <div class="col-sm-3 nopadding">
            @Html.LabelFor(model => model.TaxCost)
        </div>
        <div class="col-sm-9 label-background">
            @Html.Raw(MvcAdminUnits.GetCurrencyValue(Convert.ToDecimal(Model.TaxCost)))
        </div>
    </div>
    }
    @if (Model.ShippingCost > 0)
    {
    <div class="form-group">
        <div class="col-sm-3 nopadding">
            @Html.LabelFor(model => model.ShippingCost)
        </div>
        <div class="col-sm-9 label-background">
            <div id="dynamic-discount-amount" class="left-sm-shift">@Html.Raw(MvcAdminUnits.GetCurrencyValue(Convert.ToDecimal(Model.ShippingCost)))</div>
        </div>
    </div>
    }
    @if (Model.GiftCardApplied)
    { 
        <div class="form-group" id="dynamic-giftcard">
        <div class="col-sm-3 nopadding">
            @Html.LabelFor(model => model.GiftCardAmount)
        </div>
        <div class="col-sm-9 label-background">
            <div id="dynamic-giftcard-amount" class="left-sm-shift">@Html.Raw(MvcAdminUnits.GetCurrencyValue(Convert.ToDecimal(Model.GiftCardAmount)))</div>
        </div>
    </div>
    }
    <div class="form-group">
        <div class="col-sm-3 nopadding">
            @Html.LabelFor(model => model.Total)
        </div>
        <div class="col-sm-9 label-background">
            <div id="dynamic-order-total" class="left-sm-shift">@Html.Raw(MvcAdminUnits.GetCurrencyValue(Convert.ToDecimal(Model.Total)))</div>
        </div>
    </div>
</div>
@Html.HiddenFor(model => model.GiftCardApplied, new { @id = "hdnGiftCardApplied" })
@Html.HiddenFor(model => model.GiftCardMessage, new { @id = "hdnGiftCardMessage" })
@Html.HiddenFor(model => model.ErrorMessage, new { @id = "hdnCouponErrorMessage" })

@Html.HiddenFor(model => model.SubTotal, new { @id = "hdnSubTotal" })
@Html.HiddenFor(model => model.TaxCost, new { @id = "hdnTaxCostAmt" })
@Html.HiddenFor(model => model.Discount, new { @id = "hdnDiscountAmt" })
@Html.HiddenFor(model => model.GiftCardAmount, new { @id = "hdnGiftCardAmt" })
@Html.HiddenFor(model => model.ShippingCost, new { @id = "hdnShippingAmt" })
@Html.HiddenFor(model => model.Total, new { @id = "hdnTotalAmt" })
<script>
    $(document).ready(function () {
        Orders.SetFinalOrderTotal();
    })
</script>