﻿@model Znode.Engine.MvcAdmin.ViewModels.ShippingBillingAddressViewModel

@{
    Layout = null;
}

@Html.ValidationSummary(true)

@using (Ajax.BeginForm("AddNewCustomer", "Orders", new AjaxOptions() { HttpMethod = "post", OnSuccess = "Orders.AddCustomerSuccessCallback" }))
{
    <div class="popup-content">
        <div class="col-sm-12 add-new-container">
            <h4>@ZnodeResources.LabelBillingAddress</h4>
            @Html.EditorFor(ob => ob.BillingAddressModel, "_ShippingBillingAddress")
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.EmailAddress, new { @class = "" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.EmailAddress, new { @type = "email" })
                    @Html.ValidationMessageFor(m => m.EmailAddress)
                </div>
            </div>
            <div class="col-sm-12 nopadding">
                <div class="col-sm-8 col-sm-offset-4">
                    <label>
                        <input id="shippingSameAsBillingAddress" onclick="Orders.ShippingSameAsBillingHandler()" name="ShippingAddressModel.UseSameAsBillingAddress" type="checkbox" value="true" @(Model.ShippingAddressModel.UseSameAsBillingAddress ? "checked" : "")>
                        <span class="lbl padding-8">@ZnodeResources.LabelShippingAddressSameAsBilling</span>
                        <input name="ShippingAddressModel.UseSameAsBillingAddress" type="hidden" value="false">
                    </label>
                </div>
            </div>

            <div id="shippingAddressContainer">
                <h4>@ZnodeResources.LabelShippingAddress</h4>
                @Html.EditorFor(ob => ob.ShippingAddressModel, "_ShippingBillingAddress")
            </div>

            @Html.HiddenFor(m => m.PortalId)
            @Html.HiddenFor(m => m.AccountId)
            @Html.HiddenFor(m => m.ShippingAddressModel.AccountId)
            @Html.HiddenFor(m => m.ShippingAddressModel.AddressId)
            @Html.HiddenFor(m => m.BillingAddressModel.AddressId)
            <div class="pull-right top-shift bottom-shift">
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                <button type="button" id="dialogCancelBtn" class="btn-text grey">@ZnodeResources.ButtonCancel</button>
            </div>
        </div>
    </div>
}






