﻿@using Znode.Engine.MvcAdmin.ViewModels;
@model Znode.Engine.MvcAdmin.ViewModels.CartViewModel
@using Resources

<div id="UpdateContainer">
    <div id="layout-cart">
        <div class="left-sm-shift">
            <h1 class="location-title">@ZnodeResources.LabelYourTotal <strong id="orderTotal">@Html.Raw(MvcAdminUnits.GetCurrencyValue(Convert.ToDecimal(Model.Total)))</strong> <span>@ZnodeResources.LabelFor @Model.Count items</span></h1>
        </div>
        @if (Model.Items.Any())
        {
            <div class="left-sm-shift">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <label for="Quantity">@ZnodeResources.GridHeaderQuantity</label>
                            </th>
                            <th>
                                <label for="Image">@ZnodeResources.CardImage</label>
                            </th>
                            <th>
                                <label for="Product">@ZnodeResources.LabelProduct</label>
                            </th>

                            <th>
                                @Html.Raw(ZnodeResources.LabelUnitPrice)
                            </th>
                            <th>
                                @Html.Raw(ZnodeResources.GridHeaderTotal)
                            </th>
                        </tr>
                    </thead>
                    @foreach (var cartItem in Model.Items)
                    {
                        @Html.Partial("_CartRow", cartItem)
                    }
                </table>
            </div>
            <div class="cart-summary">
                <div class="cart-promocode">
                    <div class="form-group">
                        <div class="col-sm-3 nopadding">@Html.Raw(@Resources.ZnodeResources.LabelEnterCouponCode)</div>
                        @{if (!Equals(Model.Coupons, null) && Model.Coupons.Count > 1)
                        {
                            <div class="col-sm-6"><input type="text" id="promocode" name="Coupon" class="form-input" size="40" value="@Model.Coupons[@Model.Coupons.Count - 1].Coupon" /></div>
                        }
                        else
                        {
                            <div class="col-sm-6"><input type="text" id="promocode" name="Coupon" class="form-input" size="40" /></div>
                        }
                        }
                        <div class="col-sm-2"><button type="button" class="btn-text red " id="btnApplyCoupon" onclick="Orders.ApplyPromoCode(true);">@Resources.ZnodeResources.ButtonApply</button></div>
                        <div id="couponContainer" style="display:none;" class="col-sm-offset-3 col-sm-6"></div>
                    </div>
                </div>
                <div class="giftcard-applyagain form">
                    <div class="form-group">
                        <div class="col-sm-3 nopadding">@Html.Raw(@Resources.ZnodeResources.LabelGiftCardNumber)</div>
                        <div class="col-sm-6"><input type="text" id="txtgiftcard" name="giftcard" class="form-input" value="@Model.GiftCardNumber" /></div>
                        <div class="col-sm-2"><button type="button" class="btn-text red " id="giftcard-apply" onclick="Orders.ApplyGiftCard();">@Resources.ZnodeResources.ButtonApply</button></div>
                        <div id="cart-giftcard-status" class="red-color">@Html.Raw(Model.GiftCardMessage)</div>
                    </div>
                </div>
                <div class="cart-total" id="divTotal">
                    @Html.Partial("_TotalTable", Model)
                    <p class="sub red-color left-sm-shift">@ZnodeResources.CardNote</p>
                </div>
                <div class="col-sm-12 order-container">
                    <div class="col-sm-6 nopadding" id="divShippingInfo">
                        <div class="col-sm-12 nopadding">
                            <h4>@ZnodeResources.LabelShipBy</h4>
                        </div>
                        <div class="col-sm-12 order-details">
                            @Html.DropDownListFor(model => model.ShippingServiceCodeId, Model.ShippingServices, new { @id = "ddlShippingTypes", onchange = "Orders.ShippingChangeHandler(this);" })
                            @Html.ValidationMessageFor(model => model.ShippingServiceCodeId, null, new { id = "valShippingTypes" })
                        </div>
                    </div>
                    <div class="col-sm-6 order-payment">
                        <div class="col-sm-12 nopadding">
                            <h4>@ZnodeResources.LabelPayment</h4>
                        </div>
                        <div class="col-sm-12 order-details">
                            @Html.DropDownListFor(model => model.PaymentOptionId, Model.PaymentTypeList, ZnodeResources.LabelSelectPayment, new { @id = "ddlPaymentTypes", @onchange = "Orders.ShowPaymentHtml(this);" })
                            @Html.ValidationMessageFor(model => model.PaymentOptionId, null, new { id = "valPaymentTypes" })
                        </div>


                    </div>
                </div>

                <div id="divPONumber" class="col-sm-12 nopadding" style="display:none;">
                    <div class="form-group">
                        <div class="col-sm-3 nopadding">@Html.Raw(Resources.ZnodeResources.LabelPruchaseOrderNumber)</div>
                        <div class="col-sm-3"><input type="text" id="txtPONumber" name="Coupon" class="form-input" size="40" maxlength="200" value="@Model.PurchaseOrderNumber" /></div>
                        <div id="cart-ponumber-status" class="red-color" style="display:none;">@ZnodeResources.rfvPurchaseOrderNumber</div>
                    </div>
                </div>
                <div id="divAdditionalInfo" class="col-sm-12 nopadding">
                    <div class="form-group">
                        @Html.Raw(Resources.ZnodeResources.LabelAdditionalInstructions)
                        @Html.TextArea("txtAdditionalInstructions")
                    </div>
                </div>
                <div id="div-paypal-express-checkout" class="col-sm-12 nopadding" style="display: none;">
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <button id="paypal-express-checkout"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" /></button>
                            <p class="tinyfade top-margin">@Html.Raw(Resources.ZnodeResources.LabelPaypalDescription)</p>
                        </div>
                        <div id="cart-ponumber-status" class="red-color" style="display:none;">@ZnodeResources.rfvPurchaseOrderNumber</div>
                    </div>
                </div>
                <div class="pull-right top-shift" id="divOrderSavePage" style="display:none;">
                    @using (Html.BeginForm("SubmitOrder", "Orders", FormMethod.Post, new { @id = "frmOrderSave" }))
                    {
                        @Html.Hidden("paymentOptionId")
                        @Html.Hidden("shippingTypeId")
                        @Html.Hidden("additionalInstructions")
                        @Html.Hidden("purchaseOrderNumber")
                        <a href="#" id="btnSubmitOrder" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest" onclick="Orders.SubmitOrder();">@ZnodeResources.ButtonSubmitRequest</a>
                        <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="window.location.href = '/Orders/Index'"> @ZnodeResources.ButtonCancel</button>
                    }
                </div>
            </div>
            <div id="customPaymentPopup" class="add-new-container" style="display: none;">
                <h4>@ZnodeResources.LabelCreditCardDetails</h4>
                <div class="form-group">
                    <div class="col-sm-3 nopadding">
                        <label class="required">@ZnodeResources.LabelCreditCardNumber</label>
                    </div>
                    <div class="col-sm-9">
                        <div class="col-sm-5 nopadding">
                            <input type="text" data-payment="number" />
                        </div>
                        <div id="errornumber" class="field-validation-error" style="display: none">@ZnodeResources.ErrorCardNumberMsg</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 nopadding">
                        <label class="required">@ZnodeResources.CardCreditExpirationDate</label>
                    </div>
                    <div class="col-sm-9">
                        <div class="col-sm-1 nopadding"><input type="text" maxlength="2" data-payment="exp-month" />(MM)</div>
                        <div class="col-sm-2"><input type="text" maxlength="4" data-payment="exp-year" />(YYYY)</div>
                    </div>
                    <div id="errormonth" class="field-validation-error" style="display: none">@ZnodeResources.ErrorValidMonth</div>
                    <div id="erroryear" class="field-validation-error" style="display: none">@ZnodeResources.ErrorValidYear</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 nopadding">
                        <label class="required">@ZnodeResources.CardSecurityNumber</label>
                    </div>
                    <div class="col-sm-9">
                        <div class="col-sm-1 nopadding">
                            <input type="password" data-payment="cvc" maxlength="4" />
                        </div>
                        <div id="errorcvc" class="field-validation-error" style="display: none">@ZnodeResources.ErrorValidCvv</div>
                        <div class="col-sm-10"><label>@ZnodeResources.CardPaymentNote</label></div>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="button" id="submitPayment" class="btn-text red" value="Submit" onclick="return Orders.SubmitPayment();" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                    <button type="button" id="submitPayment" class="btn-text grey" value="Submit" onclick="return Orders.CanclePayment();" title="@ZnodeResources.ButtonCancel">@ZnodeResources.ButtonCancel</button>
                </div>

                @*Gateway Information*@
                @Html.Hidden("PaymentTypeEnumId", (int)EnumPaymentType.Custom)
                @Html.Hidden("GatewayCurrencyCode", "USD")
                @Html.Hidden("ReturnUrl")
                @Html.Hidden("CancelUrl")
                @Html.Hidden("PaymentSettingId")
                @Html.Hidden("valgiftcard", Model.GiftCardValid)
                @Html.Hidden("paymentProfileId")
            </div>
        }
        else
        {
            <div class="cart-summary">
                <p>@ZnodeResources.LabelNoItemInCart</p>
            </div>
        }
    </div>
</div>
<script type="text/JavaScript">
    var paymenterror = "@ZnodeResources.ErrorSelectPayment";
    var shippingerror = "@ZnodeResources.ErrorShippingOptionNotSelected";
</script>
