﻿@using Znode.Engine.MvcAdmin.ViewModels
@model OrderViewModel
@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
}

<div id="layout-checkout-receipt">
    <div class="col-sm-12 dashboard-page-container">        
        <div class="col-sm-12 col-md-8 title-container">
            <h1 class="left">@Resources.ZnodeResources.SubTitleReceipt</h1>
            <button type="button" class="btn-text-icon red pull-right" title="@ZnodeResources.ButtonCreateNewOrder" onclick="javascript: location.href = '/Orders/Create';"><i class='glyphicon glyphicon-plus'></i>@ZnodeResources.ButtonCreateNewOrder</button>
        </div>
        <div class="col-sm-12 col-md-8">
            @if (Model != null)
            {
                if (Model.ReceiptHtml != null)
                {
                    <div>
                        @Html.Raw(Model.ReceiptHtml)
                    </div>
                }
            }
            else
            {
                <h3>@Resources.ZnodeResources.ErrorUnablePlaceOrder</h3>
            }
        </div>
    </div>
</div>




