﻿@model Znode.Engine.MvcAdmin.ViewModels.OrderCreateViewModel
@using Znode.Libraries.Helpers;
@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>@ZnodeResources.HeaderCreateAnOrder</h1>
    </div>
    <div class="col-sm-12 add-new-item">
        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
            <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                <h4>@ZnodeResources.TitleOrderDetails</h4>
                @{Html.RenderPartial("_PortalSelectList", Model.Portals);}

                <div id="catalogDropdown" class="col-sm-12 col-md-6 order-details nopadding">
                    <div class="col-sm-12 col-md-11 nopadding"></div>
                </div>
                <div id="shoppingCartContainer">
                    <div id="addressDisplayContainer"></div>
                    <div id="addNewCustomerContainer" style="display:none"></div>
                    <div id="searchProductsContainer" style="display:none"></div>
                    <div id="customerListContainer" style="display:none"></div>
                    <div id="customerLinkContainer" class="col-sm-12 nopadding" style="display:none">
                        <h4>@ZnodeResources.HeaderCustomers</h4>
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                @Ajax.ActionLink("Search Existing Customer", "CustomerList", "Orders", null, new AjaxOptions()
{
    HttpMethod = "Get",
    OnSuccess = "Orders.SearchCustomerDialog",
    UpdateTargetId = "customerListContainer"
},
    new { id = "searchCustomerLink" })
                            </div>

                            <div class="col-sm-12 nopadding">
                                @Ajax.ActionLink("Add New Customer", "AddNewCustomer", "Orders", null, new AjaxOptions()
{
    HttpMethod = "Get",
    OnSuccess = "Orders.AddNewCustomerDialog",
    UpdateTargetId = "addNewCustomerContainer"
},
    new { id = "addNewCustomerLink" })
                            </div>
                        </div>
                        <h4>@ZnodeResources.TitleShoppingCart</h4>
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                @Ajax.ActionLink("Search Products", "ProductList", "Orders", new { @portalId = 1, @catalogId = 1 }, new AjaxOptions()
{
    HttpMethod = "Get",
    OnSuccess = "Orders.SearchProducts",
    UpdateTargetId = "searchProductsContainer"
},
    new { id = "searchProductsLink" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
            <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                <div id="shoppingCartContainer">
                    <div id="CartItemContainer" class="col-sm-12 nopadding" style="display:none"></div>
                </div>
            </div>
        </div>

    </div>


</div>
@Html.Hidden("hdnGatwayName")
@Scripts.Render("~/bundles/orders")
@section Scripts {
    <script type="text/JavaScript">
    var customererror = "@ZnodeResources.ErrorCustomerNotExistForOrder";
    var userType = "@UserTypes.Admin.ToString()";
        $(document).ready(function () {
            Orders.Load();
        });
    </script>
}