﻿@model Znode.Engine.MvcAdmin.Models.ReportModel

@{
    Layout = null;
    if (!Equals(Model, null))
    {
        Model.IsAdvanceSearchHide = true;
    }
}

<div id="grid-container">
    <div class="col-sm-12 product-search">
        <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
        <div id="collapseOne" class="panel-collapse collapse in">
            @using (Ajax.BeginForm("CustomerList", "Orders", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent" class="panel-body">
                    @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.FilterColumn)
                </div>
            }
        </div>
    </div>


    <div class="col-sm-12 list-container nopadding">
        <div class="col-sm-12 nopadding">
            @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
        </div>
    </div>
</div>
<script>
    WebgridPagerHelper.Init();
    $(document).ready(function () {
        $("#customerListContainer tr td:first-child a").addClass("accountIdLink");
    })

</script>
