﻿@model Znode.Engine.MvcAdmin.ViewModels.ShippingBillingAddressViewModel

@{
    Layout = null;
}

@if (Model.ShippingAddressModel != null)
{
    
    <div id="divShippingAddress" class="col-sm-12 col-md-6 address-container">
        <h4>Shipping</h4>
        <div class="form-group">
            @{
                Html.RenderPartial("_DisplayAddress", Model.ShippingAddressModel);
            }
        </div>
        
    </div>
}

@if (Model.BillingAddressModel != null)
{

    <div id="divBillingAddress" class="col-sm-12 col-md-6 nopadding">
        <h4>Billing</h4>
        <div class="form-group">
            @{
    Html.RenderPartial("_DisplayAddress", Model.BillingAddressModel);
            }
        </div>

    </div>
}