﻿@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
}

<div class="dashboard-page-container">
    <div class="col-sm-12">
        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
            <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                <h4>@ZnodeResources.LabelOrderManagement</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-orders"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Orders/List">@ZnodeResources.HeaderOrderList</a>
                        <p>@ZnodeResources.SubHeaderOrderList</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-create-order"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Orders/Create">@ZnodeResources.HeaderCreateAnOrder</a>
                        <p>@ZnodeResources.SubHeaderCreateAnOrder</p>
                    </div>
                </div>
                <h4>@ZnodeResources.HeaderCustomerManagement</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-managebanners"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Profiles/List">@ZnodeResources.TabProfiles</a>
                        <p>@ZnodeResources.SubHeaderProfileList</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-customers"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Customers/List">@ZnodeResources.HeaderCustomers</a>
                        <p>@ZnodeResources.SubHeaderSearchCustomer</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-service-request"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/ServiceRequest/List">@ZnodeResources.ServiceRequestsHeading</a>
                        <p>@ZnodeResources.ServiceRequestsDescription</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-service-request"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/CreditApplication/List">@ZnodeResources.CreditApplicationHeading</a>
                        <p>@ZnodeResources.CreditApplicationsDescription</p>
                    </div>
                </div>
             </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
            <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                <h4>@ZnodeResources.HeaderReturnsManagement</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-rma-configuration"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/RMAConfiguration/CreateEdit">@ZnodeResources.HeaderRMAConfiguration</a>
                        <p>@ZnodeResources.TextRMAConfiguration</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-rma-manager"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/rmamanager/rmalist">@ZnodeResources.HeaderRMAManager</a>
                        <p>@ZnodeResources.SubHeaderRMAManager</p>
                    </div>
                </div>
                <h4>@ZnodeResources.TitleSupplierManagement</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-support"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Suppliers/List">@ZnodeResources.HeaderSuppliers</a>
                        <p>@ZnodeResources.DescriptionSupplier</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
