﻿@model Znode.Engine.MvcAdmin.ViewModels.OrderViewModel
@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
    //PRFT Custom Code: Start
    bool isERPOrderFailed = (Convert.ToBoolean(TempData["isERPOrderFailed"])) ? true : false;
    //PRFT Custom Code: End
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@ZnodeResources.HeaderOrderList</h1>
        </div>
        <div class="col-sm-12 search-container">
            <p class="left">@ZnodeResources.SubHeaderOrderList</p>
        </div>
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("List", "Orders", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div class="col-lg-3 col-md-4 col-sm-12 product-group">
                        <div class="form-group">
                            <div class="col-sm-12 col-md-10 nopadding">
                                <label>Show Failed ERP Order</label>
                            </div>
                            <div class="col-sm-12 col-md-10 nopadding">
                                <input id="isERPOrderFailed" name="isERPOrderFailed" type="checkbox" checked="@isERPOrderFailed" value="true">
                                <span class="lbl padding-8"></span>
                                <input name="isERPOrderFailed" type="hidden" value="false">
                            </div>
                        </div>
                    </div>
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.DynamicGrid.FilterColumn)
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-12 list-container">
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.DynamicGrid)
            </div>
        </div>

        @using (Html.BeginForm("DownloadOrder", "Orders", FormMethod.Post, new { id = "submitRefund" }))
        {
            <div class="col-sm-12 add-new-container">
                <h4 class="title-background">@Resources.ZnodeResources.HeaderDownloadOrder</h4>
                <div class="col-sm-6 nopadding">
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.StartingOrderId)
                            <p class="sub">@Resources.ZnodeResources.DownloadOrderHelpText</p>
                        </div>
                        <div class="col-sm-6 order-status">
                            @Html.TextBoxFor(model => model.StartingOrderId)
                            @Html.ValidationMessageFor(model => model.StartingOrderId)
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 nopadding">
                    <div class="pull-right">
                        <button type="submit" class="btn-text red" value="@ZnodeResources.ButtonDownloadOrdersToCSV" title="@ZnodeResources.ButtonDownloadOrdersToCSV" name="command">@ZnodeResources.ButtonDownloadOrdersToCSV</button>
                        <button type="submit" class="btn-text red" value="@ZnodeResources.ButtonDownloadOrderlineItems" title="@ZnodeResources.ButtonDownloadOrderlineItems" name="command">@ZnodeResources.ButtonDownloadOrderlineItems</button>
                    </div>
                </div>
            </div>

        }

    </div>
</div>
@Scripts.Render("~/bundles/CommonHelper")
<script type="text/javascript" language="javascript">

    $("#btnsearch").on("click", function () {
        return CommonHelper.PreventSearchSubmit();
    });
    
    $(document).on("change", '.datepicker', function () {
        CommonHelper.GridSearchDateValidation($("input[name='BeginDate']").val(), $("input[name='EndDate']").val())
    })

    $(document).ready(function () {
        $("#grid tbody tr").find('.z-view').attr("title", "RMA");

        $("#grid tbody tr").find('.z-copy').addClass('z-capture');
        $("#grid tbody tr").find('.z-copy').removeClass('z-copy');
        $("#grid tbody tr").find('.z-capture').attr("title", "Capture");

        $("#grid tbody tr").find('.z-capture').each(function () {
            if (!($(this).attr('href').toLowerCase().indexOf('cc_authorized') >= 0)) {
                $(this).removeClass('z-capture');
            }

        });
    })
</script>
