﻿@model Znode.Engine.MvcAdmin.ViewModels.OrderViewModel
@using System.Web.Script.Serialization;
@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@{
    string returnUrl = HttpUtility.UrlDecode(Model.ReturnUrl).ToLower();
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@Html.LabelFor(m => m.OrderId) : @Html.Label(Model.OrderId.ToString())</h1>
            <div class="pull-right">
                <!-- PRFT Custom Code: Start-->
                @if (Model.ExternalId == null)
                {
                    <button type="submit" class="btn-text red" title="Re Submit Order to ERP" onclick="javascript: location.href = '/Orders/ReSubmitOrderToERP?OrderId=@Model.OrderId'">Re Submit order to ERP</button>
                }
                <!-- PRFT Custom Code: End-->
                
                @if (!string.Equals(@Model.OrderStatus.ToLower(), "returned") && !string.Equals(Model.OrderStatus.ToLower(), "cancelled") && !Equals(Model.PaymentTypeName,null) && !Equals(Model.PaymentTypeName.ToLower(), "purchase order") && !Equals(Model.PaymentTypeName.ToLower(), "google checkout"))
                {
                    <button type="submit" class="btn-text red" title="@Resources.ZnodeResources.ButtonVoidOrRefund" onclick="javascript: location.href = '/Orders/RefundPayment?OrderId=@Model.OrderId'">@Resources.ZnodeResources.ButtonVoidOrRefund</button>
                }
                @if (returnUrl.Contains("customers"))
                {
                    if (!returnUrl.Contains("tabmode"))
                    {
                    <button type="button" id="redirect-back" class="btn-text-icon grey" title="@Resources.ZnodeResources.ButtonBack" onclick="javascript: location.href = '@returnUrl?tabmode=orders';"><i class="z-arrow-left"></i>@Resources.ZnodeResources.ButtonBack</button>
                    }
                    else
                    {
                    <button type="button" id="redirect-back" class="btn-text-icon grey" title="@Resources.ZnodeResources.ButtonBack" onclick="javascript: location.href = '@returnUrl';"><i class="z-arrow-left"></i>@Resources.ZnodeResources.ButtonBack</button>
                    }
                }
                else
                {
                    <button type="button" id="redirect-back" class="btn-text-icon grey" title="@Resources.ZnodeResources.ButtonBack" onclick="javascript: location.href = '/Orders/List';"><i class="z-arrow-left"></i>@Resources.ZnodeResources.ButtonBack</button>
                }

            </div>
        </div>

        <div class="col-sm-12 add-new-item">
            <div class="col-sm-12 col-md-12 col-lg-12 item-group">
                <h4>@Resources.ZnodeResources.InfoOrder_Manage</h4>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-12 col-md-12 col-lg-11 nopadding">
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(m => m.OrderStatus)
                        </div>
                        <div class="col-sm-8 label-background nopadding update-order-status">
                            @Html.Label(!Equals(Model.OrderStatus, null) ? Model.OrderStatus : string.Empty)
                            <button type="submit" class="btn-text-icon red pull-right" title="@Resources.ZnodeResources.ButtonUpdateOrderStatus" onclick="javascript: location.href = '/Orders/OrderStatus?OrderId=@Model.OrderId'">@Resources.ZnodeResources.ButtonUpdateOrderStatus</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(m => m.PaymentStatus)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Label("PaymentStatus", !Equals(Model.PaymentStatus, null) ? Model.PaymentStatus : string.Empty)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(m => m.OrderDate)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Label(!Equals(Model.OrderDate, null) ? Model.OrderDate.ToString() : string.Empty)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(m => m.Total, @Resources.ZnodeResources.LabelOrderAmount)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.Total.ToString())
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(m => m.ShippingCost)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.ShippingCost.ToString())
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(m => m.TaxCost)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.TaxCost.ToString())
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(m => m.DiscountAmount)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.DiscountAmount.ToString())
                        </div>
                    </div>
                    @*PRFT Custom HTML : Start*@
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(m => m.Custom1, @Resources.ZnodeResources.ERPCustomerNo)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.Custom1.ToString())
                        </div>
                    </div>
                    @*PRFT Custom HTML : End*@

                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1 ">
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(m => m.GiftAmount)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.GiftAmount.ToString())
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(m => m.PaymentMethod)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Label("PaymentMethod", !Equals(Model.PaymentMethod, null) ? Model.PaymentMethod : string.Empty)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(m => m.CardTransactionId)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Label(Equals(Model.CardTransactionId, null) ?string.Empty : Model.CardTransactionId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(m => m.PurchaseOrderNumber)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Label(!Equals(Model.PurchaseOrderNumber, null) ? Model.PurchaseOrderNumber : string.Empty)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(m => m.ShippingTypeName)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Equals(Model.ShippingTypeName, null) ? string.Empty : HttpUtility.HtmlDecode(Model.ShippingTypeName))
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(m => m.TrackingNumber)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Label(Equals(Model.TrackingNumber, null) ? string.Empty : Model.TrackingNumber)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(m => m.PromoCode)
                        </div>
                        <div class="col-sm-8 label-background">
                            @*@Html.Label(Equals(Model.CouponCode, null) ? string.Empty : Model.CouponCode)*@
                            @Html.Raw(Equals(Model.CouponCode, null) ? string.Empty : Model.CouponCode)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.Label("ERP Order Id")
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.ExternalId)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 item-group">
                <h4>@Resources.ZnodeResources.InfoCustomer_Manage</h4>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-12 col-md-12 col-lg-11 nopadding">
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.OrderShipment.ShipToStreetAddress1)
                        </div>
                        <div class="col-sm-8">
                            @Html.Raw(Equals(Model.OrderShipment, null) || Equals(Model.OrderShipment.ShipToStreetAddress1, null) ?string.Empty : Model.OrderShipment.ShipToStreetAddress1)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1 ">
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(m => m.BillingStreetAddress1)
                        </div>
                        <div class="col-sm-8">
                            @Html.Raw(Equals(Model.BillingStreetAddress1, null) ? string.Empty : Model.BillingStreetAddress1)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 list-container nopadding">
                <div class="col-sm-12 col-md-12 col-lg-12 item-group">
                    <h4>@Resources.ZnodeResources.InfoOrderItems_Manage</h4>
                </div>
                <div id="dvAddressShow"></div>
                <div class="col-sm-12 nopadding" id="orderLineItemsDv">
                    @Html.Partial("~/Views/Orders/_OrderLineItem.cshtml", Model.OrderLineItemsGridModel)
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 item-group">
                <h4>@Resources.ZnodeResources.InfoAdditionalInstructions_Manage</h4>
                <p>
                    @Html.Raw(Equals(Model.AdditionalInstructions, null) ? string.Empty : Model.AdditionalInstructions)
                </p>
            </div>
            @if (!Equals(Model.RmaRequetsGridModel, null) && Model.RmaRequetsGridModel.DataTableToList.Count > 0)
            {
                <div class="col-sm-12 list-container nopadding">
                    <div class="col-sm-12 col-md-12 col-lg-12 item-group">
                        <h4>@Resources.ZnodeResources.InfoRmaRequestList_Manage</h4>
                    </div>
                    <div class="col-sm-12 nopadding">
                        @Html.Partial("~/Views/Orders/_RmaRequestList.cshtml", Model.RmaRequetsGridModel)
                    </div>
                </div>
            }
        </div>
        @if (!Equals(Model.OrderLineItemShippingAddressList, null) && Model.OrderLineItemShippingAddressList.Count > 0)
        {
            @Html.HiddenFor(model => model.OrderLineItemShippingAddressList, new { @id = "hdnShippingAddressList" })
        }
        @Html.HiddenFor(model => model.OrderShipment.ShipToStreetAddress1, new { @id = "hdnSingleShippingAddress" })
    </div>

</div>
@Scripts.Render("~/bundles/orders")
<script>
    var addressArray = [];
    @{
        if(!Equals(Model,null) && !Equals(Model.OrderLineItemShippingAddressList,null) && Model.OrderLineItemShippingAddressList.Count>0 )
        {
       int listCount = Model.OrderLineItemShippingAddressList.Count;
       foreach (var item in Model.OrderLineItemShippingAddressList)
       {
           <text>
    addressArray.push('@item');
    </text>
       }
        }
       }
    var singleshippingAddress = $("#hdnSingleShippingAddress").val();
    if (addressArray != undefined && addressArray.length > 0) {
        Orders.ShowAddressOnHover(addressArray, true);
    }
    else {
        Orders.ShowAddressOnHover('@Model.OrderShipment.ShipToStreetAddress1', false);
    }
    $(document).ready(function () {
        $("#Dynamic_Grid").find("#dvAdvancedSearch").css("display", "none");
        Orders.ManageOrderLineItemsGrid();
    })
</script>
