﻿@model Znode.Engine.MvcAdmin.ViewModels.OrderViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@{ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;}
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "formOrderStatus", SaveHeader = "Update", CancelHeader = ZnodeResources.ButtonCancel };
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1 class="left">@Resources.ZnodeResources.HeaderUpdateOrderStatus</h1>
    </div>
    <div class="col-sm-12 search-container">
        <p class="left">@Resources.ZnodeResources.SubHeaderUpdateOrderStatus</p>
    </div>
    <div class="col-sm-12 add-new-item">

        <div class="col-sm-12 col-md-6 col-lg-6 item-group">
            <div class="col-sm-12 col-md-12 col-lg-11 nopadding">
                @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "formOrderStatus" }))
                {
                    <h4>@ZnodeResources.LabelOrderStatusDetails</h4>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.OrderId)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Label(!Equals(Model.OrderId.ToString(), null) ? Model.OrderId.ToString() : string.Empty)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.FullName)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Label(!Equals(Model.FullName, null) ? Model.FullName : string.Empty)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.Total)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.Total.ToString())
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.PaymentStatus)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Label("PaymentStatus", !Equals(Model.PaymentStatus, null) ? Model.PaymentStatus : string.Empty)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.OrderStatus)
                        </div>
                        <div class="col-sm-8 order-status">
                            @Html.DropDownListFor(model => model.OrderStateId, Model.OrderStatusList)
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="sub">@Resources.ZnodeResources.NoteUpdateOrderStatus</p>
                    </div>
                    <div class="form-group" id="dvTrackingNumber" style="display:none">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.TrackingNumber, new { @id = "txtTrackingNumber" })
                        </div>
                        <div class="col-sm-8 order-status">
                            @Html.TextBoxFor(model => model.TrackingNumber)
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.PaymentStatus)
                    @Html.HiddenFor(model => model.OrderId)
                    @Html.HiddenFor(model => model.Total)
                    @Html.HiddenFor(model => model.ShippingCost)

                    @Html.HiddenFor(model => model.TaxCost)
                    @Html.HiddenFor(model => model.DiscountAmount)
                    @Html.HiddenFor(model => model.GiftAmount)
                    @Html.HiddenFor(model => model.PaymentMethod)
                    if (!Equals(Model.ShippingTypeName, null))
                    {
                        @Html.Hidden(!Equals(Model.ShippingTypeName, null) ? HttpUtility.HtmlDecode(Model.ShippingTypeName) : string.Empty)
                    }

                    @Html.HiddenFor(model => model.PaymentMethod)
                    @Html.HiddenFor(model => model.PortalId)
                    @Html.HiddenFor(model => model.AccountId)
                }
                <div class="form-group">
                    <div class="pull-right">
                        @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>


<script>
    $(document).ready(function () {
        CommonHelper.OrderStatusTrackingNumHideShow('@Model.ShippingTypeName', '@Resources.ZnodeResources.LabelFedExTrackingNo', '@Resources.ZnodeResources.LabelUPSTrackingNo', '@Resources.ZnodeResources.LabelUSPSTrackingNo', "txtTrackingNumber", "dvTrackingNumber");
    });
</script>
