﻿@model Znode.Engine.MvcAdmin.ViewModels.OrderViewModel
@using (Html.BeginForm("RefundPayment", "Orders", FormMethod.Post, new { id = "submitRefund" }))
{
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@Resources.ZnodeResources.HeaderRefundPayment</h1>
        </div>
        <div class="col-sm-12 search-container">
            <p class="left">@Resources.ZnodeResources.SubHeaderRefundPayment</p>
        </div>
        <div class="col-sm-12 add-new-item">
            <div class="col-sm-12 col-md-12 col-lg-6 item-group">
                <div class="col-sm-12 col-md-12 col-lg-11 nopadding">
                    <h4>@ZnodeResources.LabelRefundPaymentDetails</h4>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.OrderId)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Label(Model.OrderId.ToString())
                            @Html.HiddenFor(model => model.OrderId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.CardTransactionId)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Label(!Equals(Model.CardTransactionId, null) ? Model.CardTransactionId : "0")
                            @Html.HiddenFor(model => model.CardTransactionId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.FullName)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Label(Model.FullName)
                            @Html.HiddenFor(model => model.FullName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.Total)
                        </div>
                        <div class="col-sm-8 label-background">
                            @Html.Raw(Model.Total)
                            @Html.HiddenFor(model => model.Total)
                        </div>
                    </div>
                    @*The div is not displayed for time being. The code will be changed after some changes done at payment level *@
                    <div style="display:none">
                        <div class="form-group">
                            <div class="col-sm-4 colon nopadding">
                                @Html.LabelFor(model => model.RefundCardNumber, new { @class = "required" })
                            </div>
                            <div class="col-sm-8 order-status">
                                @Html.TextBoxFor(model => model.RefundCardNumber)
                                @Html.ValidationMessageFor(model => model.RefundCardNumber)
                            </div>
                        </div>
                        @if (!Equals(Model.PaymentMethod, null) && Equals(Model.PaymentMethod.ToLower(), "credit card"))
                        {
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(model => model.ExpirationDate)
                                </div>
                                <div class="col-sm-8 order-status">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(model => model.Month)
                                        @Html.DropDownListFor(model => model.Month, Model.MonthList)
                                    </div>
                                    <div class=" col-sm-offset-1 col-sm-4">
                                        @Html.LabelFor(model => model.Year)
                                        @Html.DropDownListFor(model => model.Year, Model.YearList)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(model => model.SecurityCode, new { @class = "required" })
                                </div>
                                <div class="col-sm-8 order-status">
                                    @Html.TextBoxFor(model => model.SecurityCode, new { @maxlength = "4" })
                                    @Html.ValidationMessageFor(model => model.SecurityCode)
                                </div>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.RefundAmount, new { @class = "required" })
                        </div>
                        <div class="col-sm-8 order-status">
                            @Html.TextBoxFor(model => model.RefundAmount, new { @id = "txtRefundAmount" })
                            @Html.ValidationMessageFor(model => model.RefundAmount, "", new { @id = "valRefundAmount" })
                            @Html.HiddenFor(model => model.RefundAmount)
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.PaymentStatus)

                    @Html.HiddenFor(model => model.Total)
                    @Html.HiddenFor(model => model.ShippingCost)
                    @Html.HiddenFor(model => model.TaxCost)
                    @Html.HiddenFor(model => model.DiscountAmount)
                    @Html.HiddenFor(model => model.GiftAmount)
                    @Html.HiddenFor(model => model.PaymentMethod)
                    @Html.HiddenFor(model => model.ShippingTypeName)
                    @Html.HiddenFor(model => model.PortalId)
                    @Html.HiddenFor(model => model.AccountId)

                    <div class="form-group">
                        <div class="pull-right">
                            @if (!Equals(Model.PaymentStatus, null) && (Equals(Model.PaymentStatus.ToLower(), "cc_captured") || Equals(Model.PaymentStatus.ToLower(), "cc_authorized") || Model.PaymentStatus.ToLower().Contains("credit")))
                            {
                                if ((Model.PaymentMethod.ToLower() != "paypal express"))
                                {
                                    <button type="submit" class="btn-text red" id="subVoid" value="@ZnodeResources.ButtonVoid" name="command">@ZnodeResources.ButtonVoid</button>
                                    <button type="submit" class="btn-text red" id="subRefund" value="@ZnodeResources.ButtonRefund" name="command">@ZnodeResources.ButtonRefund</button>
                                }
                            }
                            <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = '/Orders/Manage?Id=@Model.OrderId';">@ZnodeResources.ButtonCancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/orders")
<script>
    $(document).ready(function () {
        Orders.ValidateVoidOrRefund();
    })
</script>
