﻿@using Znode.Engine.MvcDemo.ViewModels

@model  FacetViewModel
<div class="list-group">   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title panel-title-edit accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_@Model.RecordCount"><span>@Model.AttributeName</span></h4>
        </div>
        <div id="collapseOne_@Model.RecordCount" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="filter-list">
                    @foreach (var facetValue in Model.AttributeValues)
                    {
                        <li>
                            <a href="/@facetValue.RefineByUrl" runat="server">@Html.Raw(@facetValue.AttributeValue) <sup>( @facetValue.FacetCount)</sup></a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

</div>
