﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@model CartItemViewModel

@*
    This is used for both cart and checkout needs so some elements will toggle based
    on view. This toggling is currently handled via CSS.
*@
@*<tbody>*@
    <tr>
        <td class="remove-item">
            @using (Html.BeginForm("removeitem", "cart", FormMethod.Post))
            {
                @Html.Hidden("guid", @Model.ExternalId)
                <a href="#" class="cart-item-remove" title="@Resources.ZnodeResource.LinkTextRemoveItem"><i class="zf-close"></i></a>
            }
        </td>
        <td class="cart-item-details">
            <div class="col-xs-2">
                <a href="@Url.GetProductUrl(Model.Product.SeoPageName, Model.Product.ProductId.ToString())">
                    @*<img src="@Model.ImagePath" alt="@WebUtility.HtmlDecode(Model.Product.Name)" class="img-responsive" />*@
                    <img src="@Model.Product.ImageLargePath" alt="@WebUtility.HtmlDecode(Model.Product.Name)" class="img-responsive" />

                </a>
            </div>
            <div class="col-xs-12 col-sm-6 nopadding">
                <a href="@Url.GetProductUrl(Model.Product.SeoPageName, Model.Product.ProductId.ToString())" class="cart-item-title">@WebUtility.HtmlDecode(Model.Product.Name)</a>
                <div class="cart-item-description">@Html.Raw(@Model.Description)</div>
                <a href="/cart" class="cart-item-edit">@Resources.ZnodeResource.LinkTextEditCart</a>
                @if (!string.IsNullOrEmpty(Model.BackOrderMessage))
                {
                    <div class="status-outofstock">@Model.BackOrderMessage</div>
                }
                else if (Model.InsufficientQuantity)
                {
                    <div class="status-outofstock">@Resources.ZnodeResource.ErrorOutofStock</div>
                }
            </div>
        </td>
        @*<td class="cart-item-unitprice">@HelperMethods.FormatPriceWithCurrency(Model.UnitPrice)</td>*@
        <td class="cart-item-unitprice">@HelperMethods.FormatPriceWithCurrency(Model.ERPUnitPrice)</td>
        <td class="cart-item-quantity">
            @using (Html.BeginForm("updatequantity", "cart", new { guid = Model.ExternalId, quantity = Model.Quantity }, FormMethod.Post))
            {
                <span class="quantity">@Model.Quantity</span>
                //PRFT Commented HTML: Start
                @*<select name="Quantity" id="Quantity" class="cartQuantity">
                    @for (int quantity = @Model.Product.MinQuantity; quantity <= @Model.Product.MaxQuantity; quantity++)
                    {
                        <option @(Model.Quantity == quantity ? "selected" : "")>@quantity</option>
                    }
                </select>*@
                //PRFT Commented HTML: End
                //PRFT customm HTML: Start
                <input type="text" value=@Model.Quantity id="@(Model.ExternalId)_Quantity" class="cartQuantity" maxlength="5" min="1" max="99999" pattern="[0-9]*" inputmode="numeric" data-external-id="@Model.ExternalId" />
                @*<a href="#" id="UpdateCart" title="Update">update</a>*@
                <span id="@(Model.ExternalId)_QtyError" class="error"></span>
                //PRFT customm HTML: End
                @Html.Hidden("guid", @Model.ExternalId)
            }
        </td>
        @*<td class="cart-item-total">@HelperMethods.FormatPriceWithCurrency(Model.ExtendedPrice)</td>*@
        <td class="cart-item-total">@HelperMethods.FormatPriceWithCurrency(Model.ERPExtendedPrice)</td>

    </tr>
@*</tbody>*@

@*PRFT Custom Code:START*@
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnCheckout").click(function (ev) {            
            $('#cartTable .cart-item-quantity').each(function () {
                if ($(this).find('#@(Model.ExternalId)_Quantity').val() == "") {
                    $(this).find('#@(Model.ExternalId)_QtyError').text('Quantity Is Required');
                    ev.preventDefault();
                }
                else  if(($(this).find('#@(Model.ExternalId)_Quantity').val() < @Model.Product.MinQuantity) || ($(this).find('#@(Model.ExternalId)_Quantity').val() > @Model.Product.MaxQuantity))
                {
                    $(this).find('#@(Model.ExternalId)_QtyError').text('Quantity should be between'+" "+@Model.Product.MinQuantity +" "+'and'+" "+@Model.Product.MaxQuantity);
                    ev.preventDefault();
                }
                else
                {
                    $(this).find('#@(Model.ExternalId)_QtyError').text('');
                }
            });
        });

        $(".cartQuantity").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    });
    //Update Quantity
    $('#@(Model.ExternalId)_Quantity').change(function(e){
        e.preventDefault();
        var Guid = '@(Model.ExternalId)';
        var Qty = $('#@(Model.ExternalId)_Quantity').val();        

        if (parseInt(Qty % 1) != 0 || parseInt(Qty) <= 0) {
            $("#cartTable .cart-item-quantity #" + Guid + "_QtyError").show().html("Enter Valid Quantity");
            $("#btnCheckout").attr("disabled", "disabled");
            isSuccess = false;
            return false;
        }           
        else if (isNaN(Qty) || Qty == "") {
            $("#layout-cart .cart-item-quantity #" + Guid + "_QtyError").show().html("Quantity Is Required");
            $("#btnCheckout").attr("disabled", "disabled");
            isSuccess = false;
            return false;
        }
        else  if((Qty < @Model.Product.MinQuantity) || (Qty > @Model.Product.MaxQuantity))
            {
            $("#cartTable .cart-item-quantity #" + Guid + "_QtyError").show().html('Quantity should be between'+" "+@Model.Product.MinQuantity +" "+'and'+" "+@Model.Product.MaxQuantity);
            isSuccess = false;
            return false;
        }
        else {
            
            //$('#btnCheckout').removeAttr('disabled');
            var url = '@Url.Action("updatequantity", "cart")';            
            $.post(url, {guid:Guid,quantity:Qty},
                function (data)
                {
                    window.location.reload();
                    //$(this).closest("form").submit();
                });
        }        
    });
</script>
@*PRFT Custom Code:END*@
