﻿@using Znode.Engine.MvcDemo.ViewModels
@using Znode.Engine.MvcDemo.Helpers
@using System.Configuration;
@model CartViewModel
@{
    var isB2BCustomer = new PRFTHelper().IsB2BUser();
    decimal minimumOrderValue = Convert.ToDecimal(ConfigurationManager.AppSettings["minimumOrderValue"]);
}
<div id="layout-cart">
    <div class="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 nopadding shopping-cart">
                    <div class="col-xs-12 nopadding">
                        <h1 class="page-title">Shopping Cart</h1>
                    </div>
                    <div class="col-xs-12 cart-total-title nopadding">
                        <h2>@Resources.ZnodeResource.TextYourTotal <strong id="dynamic-cart-order-total">@HelperMethods.FormatPriceWithCurrency(Model.Total)</strong> <span>@Resources.ZnodeResource.ColumnFor @Model.Count items</span></h2>
                    </div>
                    @if (Model.Items.Any())
                    {
                        <div class="cart-products-summary">
                            <div class="col-xs-12 table-responsive cart-products nopadding">
                                <table id="cartTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Item(s)</th>
                                            <th>@Resources.ZnodeResource.ColumnTitleItemPrice</th>
                                            <th>@Resources.ZnodeResource.ColumnTitleQuantity</th>
                                            <th>@Resources.ZnodeResource.ColumnTitleTotal</th>
                                        </tr>
                                    </thead>
                                    @foreach (var cartItem in Model.Items)
                                    {
                                        @Html.Partial("_CartRow", cartItem)
                                    }
                                </table>
                            </div>

                            <div class="col-xs-12 cart-summary nopadding">

                                <div class="col-xs-12 col-sm-6 nopadding">
                                    <div class="col-xs-12 nopadding">
                                        @using (Html.BeginForm("removeallcartitems", "cart", FormMethod.Post))
                                        {
                                            <a href="#" class="cart-item-remove-all"><i class="zf-close"></i> @Resources.ZnodeResource.TextRemoveAllCartItems</a>
                                        }
                                    </div>

                                    @*<div class="col-sm-6 nopadding cart-promocode">
                                            <form id="cart-promocode-container">
                                                <div class="form-group">
                                                    <div class="col-xs-12 nopadding">
                                                        <p>@Resources.ZnodeResource.TextPromoCode</p>
                                                    </div>
                                                    <div class="col-xs-12 nopadding">
                                                        <div class="input-group" id="cart-apply-promocode">
                                                            <input type="text" id="promocode" name="Coupon" class="form-input" size="40" />
                                                            <span class="input-group-btn">
                                                                <button type="submit" class="btn-text red">@Resources.ZnodeResource.ButtonApply</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                @Html.Partial("_PromoCodes", Model)
                                            </form>
                                        </div>*@

                                </div>
                                <div class="col-xs-12 col-sm-6 nopadding">
                                    @Html.Partial("_TotalTable", Model)
                                    <div class="cart-total-footnote pull-right">@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = MvcDemoConstants.ShoppingCartFooterText }); }</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 cart-btn nopadding">
                            <div class="pull-right margin-top-bottom">
                                @*<a href="/" class="btn-text-icon grey"><i class="zf-checkout"></i> @Resources.ZnodeResource.ButtonContinueShopping</a>*@

                                @*PRFT Custom code for Google reCaptcha : Start*@
                                @*<a href="/Checkout" class="btn-text-icon red" id="btnCheckout"><i class="zf-checkout"></i> @Resources.ZnodeResource.ButtonCheckout</a>*@

                                @using (Html.BeginForm("index", "checkout", FormMethod.Post, new { id = "checkoutForm" }))
                                {
                                    <div class="continue-btn-blk">
                                        <a href="/" class="btn-text-icon grey"><i class="zf-checkout"></i> @Resources.ZnodeResource.ButtonContinueShopping</a>
                                        <div class="recapcha-blk">
                                            @*<div class="g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["recaptchaPublicKey"]"></div>*@
                                            @if (Model.Total < minimumOrderValue && !isB2BCustomer)
                                            {
                                                <input id="btnCheckout" type="submit" class="btn-text-icon red" value="@Resources.ZnodeResource.ButtonCheckout" @((Model.Total < minimumOrderValue && !isB2BCustomer) ? "disabled=disabled" : "") />
                                            }
                                            else
                                            {
                                                @*<input id="btnCheckout" type="submit" class="btn-text-icon red g-recaptcha" value="@Resources.ZnodeResource.ButtonCheckout" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["recaptchaPublicKey"]" data-callback='onSubmitCheckoutForm' />*@
                                                <input id="btnCheckout" type="submit" class="btn-text-icon red g-recaptcha" value="@Resources.ZnodeResource.ButtonCheckout" />
                                            }
                                            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />

                                        </div>
                                        <div class="recapcha-error-blk">
                                            <strong>
                                                <span class="field-validation-error">@((Model.Total < minimumOrderValue && !isB2BCustomer) ? Resources.ZnodeResource.OrderTotalRestriction : TempData["CaptchaErrorMessage"])</span>
                                            </strong>
                                        </div>
                                    </div>
                                }
                                @*PRFT Custom code for Google reCaptcha : End*@
                            </div>
                        </div>
                                        }
                                        else
                                        {
                                            <div class="col-xs-12 nopadding cart-summary">
                                                <p class="text-center">@Resources.ZnodeResource.ErrorNoCartItemsFound</p>
                                            </div>
                                        }
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="https://www.google.com/recaptcha/api.js" async defer></script>*@
<script src='https://www.google.com/recaptcha/api.js?render=@System.Configuration.ConfigurationManager.AppSettings["recaptchaV3PublicKey"]'></script>

<script>    
    grecaptcha.ready(function () {
        grecaptcha.execute('@System.Configuration.ConfigurationManager.AppSettings["recaptchaV3PublicKey"]', { action: 'CartPage' })
        .then(function (token) {
            // Verify the token on the server.
            document.getElementById('g-recaptcha-response').value = token;
        });
    });
</script>

<script type="text/javascript">

    function addCustomAttribute() {
        var windowWidth = $(window).width();
        var i;
        if (windowWidth < 768) {
            $(".cart-products > table > thead > tr > th").each(function (i) {
                var headingText = $(this).text();
                $(".cart-products > table > tbody > tr > td:nth-child(" + eval(i + 1) + ")").each(function (j) {
                    $(this).attr('data-title', headingText);
                });
                i++;
            });
        }
    }
    $("#button-addtocart").click(function () {
        addCustomAttribute();
    })

    //function onSubmitCheckoutForm(token) {
    //    document.getElementById('checkoutForm').submit();
    //}

    $(document).ready(function () {
        addCustomAttribute();
        if ($('.field-validation-error').is(":visible") && $('.field-validation-error').html().length > 0) {
            var windowWidth = $(window).width();
            var checkOutButtonOffset = $('#btnCheckout').offset();
            var captchaErrorSpanOffset = $('.field-validation-error').offset();
            if (windowWidth <= 768) {
                if (checkOutButtonOffset) {
                    // Handler for .ready() called.
                    $('html, body').animate({
                        scrollTop: checkOutButtonOffset.top + 100
                    }, 'slow');
                }
            }
            else {

                if (captchaErrorSpanOffset) {
                    // Handler for .ready() called.
                    $('html, body').animate({
                        scrollTop: $('.field-validation-error').offset().top - 450
                    }, 'slow');
                }
            }
        }
    });



</script>
