﻿@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Log Admin Plugin";
}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.6/css/jquery.dataTables.css">

<div id="dynamicData">
    <table id="logDataDynamic" class="display" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Id</th>
                <th>Message</th>
            </tr>
        </tfoot>
    </table>
</div>


<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.js"></script>

<!-- my script -->
<script type="text/javascript" src="~/Plugins/LogAdmin/js/logsIndex.js"></script>
