﻿@using Resources
@{
    ViewBag.Title = "Credit Application";
}

<div id="layout-contactus" class="main-wrapper">

    <div class="container">
        <div class="row contain-pages">
            <div class="contact-us-outer">
                <h1 class="page-title">Credit Application</h1>
            </div>
        </div>
    </div>
</div>
