﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="shortcut icon" type="image/png" href="~/Images/favicon.png" />
	<title>API | Multifront®</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/themes/base/css")
	@Styles.Render("~/help/highlight-css")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/help/highlight-js")
	@Scripts.Render("~/bundles/modernizr")
</head>

<body>
	<div class="page">
		<header>
			<div class="float-left">
				<p class="site-title">
					<a href="~/"><img src="~/Images/znode-logo.png" alt="Znode" /></a>
				</p>
			</div>

			<div class="float-right">
				<nav>
					<ul id="menu">
						<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
						<li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
					</ul>
				</nav>
			</div>
			
			<div class="clear-fix"></div>
		</header>

		@RenderBody()
	</div>
	
	<footer>
		Copyright &copy; 2015 Znode, LLC.
		<br />
		Version 8.1.0
	</footer>

	@RenderSection("scripts", required: false)
	<script type="text/javascript">
		$(function () {
			$("#sample-tabs").tabs();
		});
		
		hljs.initHighlightingOnLoad();
	</script>
	@Styles.Render("~/help/css")
</body>
</html>
