﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductListViewModel


@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}

<div class="col-sm-12 nopadding">
    <div class="col-sm-12 title-container">
        <span>@ZnodeResources.TextAssociateProduct</span>
        @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-plus'></i>" + ZnodeResources.ButtonAdd, "SearchAddAssociateProduct", "Category", new { @Id = Model.CategoryId }, new { @class = "btn-text-icon red pull-right", @title = ZnodeResources.ButtonAdd })
    </div>
    
    <div class="col-sm-12 list-container">
        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
    </div>
</div>


