﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductCategoryViewModel
@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>Associate Product Setting</h1>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
        {
            //string isActiveStatus = (!Equals(Model, null) && Model.IsActive) ? "checked='checked'" : string.Empty;
            <h4>Product Setting Details</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label("", ZnodeResources.LabelSelectTheme)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.ThemeId, Model.ThemeList, Resources.ZnodeResources.DropdownThemeDefault, new { @id = "themeList", @onchange = "CategoryAssociateProducts.BindMasterPageList(cssList,this)" })
                    @Html.ValidationMessageFor(model => model.ThemeId)
                </div>                
            </div>          
            <div class="form-group" id="divCssList">
                <div class="col-sm-4 nopadding">
                    @Html.Label("", ZnodeResources.LabelCSS)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.CssId, Model.CssList, new { @id = "cssList" })
                    @Html.ValidationMessageFor(model => model.CssId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.DisplayOrder)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.DisplayOrder)
                    @Html.ValidationMessageFor(model => model.DisplayOrder)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <label>
                        <input id="IsActive" name="IsActive" checked="@Model.IsActive" type="checkbox" value="true">
                        <span class="lbl padding-8" for="EnableProduct">@ZnodeResources.LabelEnableProduct</span>
                        <input name="IsActive" type="hidden" value="false">
                    </label>
                </div>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn-text red"> @ZnodeResources.ButtonSubmitRequest</button>
                @Html.ActionLink(ZnodeResources.ButtonCancel, "Manage", new { @id = Model.CategoryId, @tabMode = "AssociatedProducts" }, new { @class = "btn-text grey ", @title = ZnodeResources.TitleCancel })
            </div>

            <div>
                @Html.HiddenFor(model => model.CategoryId)
                @Html.HiddenFor(model => model.ProductCategoryId)
                @Html.HiddenFor(model => model.ProductId)
            </div>
        }
    </div>

</div>
@Scripts.Render("~/bundles/CategoryAssociateProducts")
<script>
    $(document).ready(function () {
        CategoryAssociateProducts.ShowHideCssMasterList();
    })
</script>