﻿<link href="~/Scripts/JsTree/style.css" rel="stylesheet" />
<div class="col-sm-12 nopadding">
    <div class="col-sm-12 nopadding add-new-item">
        <div class="col-sm-12 col-md-6 col-lg-6 item-group">
            <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                <div class="form-group">
                    <div id="category-tree" class="demo"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/JsTree/jstree.min.js"></script>



