﻿@model Znode.Engine.MvcAdmin.ViewModels.CategoryViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Znode.Engine.MvcAdmin.Helpers
@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    //PRFT Custom Code: Start
    Model.IsManufacturer = string.IsNullOrEmpty(Model.Custom1) ? false : true;
    //PRFT Custom Code: End
}
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "formCategory", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}

<div class="col-sm-12 dashboard-page-container">
    @{
        string childCategories = (!Equals(Model, null) && Model.ChildCategories) ? "checked='checked'" : string.Empty;
    }
    <div class="col-sm-12 title-container">
        @if (actionName.ToLower().Equals(@ZnodeResources.LabelCreate.ToLower()))
        {
            <h1 class="left">@ZnodeResources.HeaderAddCategory</h1>
        }
        else
        {
            <h1 class="left">@ZnodeResources.HeaderEditCategory @Model.Name</h1>
        }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
    <div class="col-sm-12 add-new-item">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @id = "formCategory", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                    <h4>@ZnodeResources.FacetGroupInformationHeader</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Name, new { @class = "required" })
                            <span class="sub">@ZnodeResources.TextCategoryName</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Title, new { @class = "required" })
                            <span class="sub">@ZnodeResources.TextCategoryTitle</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Title)
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>
                    </div>

                    <!--PRFT Custom HTML: Start-->
                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding">
                            @Html.Label(ZnodeResources.IsManufacturerText)
                        </div>
                        <div class="col-sm-8">
                            <input id="isManufacturer" name="isManufacturer" checked="@Model.IsManufacturer" type="checkbox" value="true">
                            <span class="lbl padding-8">@ZnodeResources.IsManufacturerText</span>
                            <input name="isManufacturer" type="hidden" value="false">
                        </div>
                    </div>
                    <!--PRFT Custom HTML: End-->


                    <h4>@ZnodeResources.LabelDisplaySetting</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.DisplayOrder, new { @class = "required" })
                            <span class="sub">@ZnodeResources.TextCategoryDisplayOrder</span>
                        </div>
                        <div class="col-sm-8">
                            @if (actionName.ToLower().Equals(@ZnodeResources.LabelCreate.ToLower()))
                            {
                                @Html.TextBoxFor(model => model.DisplayOrder, new { @Value = "1" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.DisplayOrder)
                            }
                            @Html.ValidationMessageFor(model => model.DisplayOrder)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ChildCategories)
                        </div>
                        <div class="col-sm-8">
                            <label>
                                <input id="childCategories" name="childCategories" checked="@Model.ChildCategories" type="checkbox" value="true">
                                <span class="lbl padding-8">@ZnodeResources.TextDisplayChildCategories</span>
                                <input name="childCategories" type="hidden" value="false">
                            </label>
                        </div>
                    </div>

                    <h4>@ZnodeResources.LabelCategoryImage</h4>
                    <p class="sub left-sm-shift">@ZnodeResources.TextCategoryImage</p>

                    @if (Model.IsEditMode)
                    {
                        <div class="form-group">
                            <div class="col-sm-4">
                                <img src=@Model.ImageMediumPath id="imgCategory" class="img-responsive" />

                            </div>
                            <div class="col-sm-8">
                                <div class="col-sm-12 nopadding upload-redio-btn">
                                    <label>
                                        <input type="radio" name="imageRadioGroup" id="rdoKeepCurrent" checked="checked" onchange="CategoryAssociateProducts.ShowImageButton();" />
                                        <span class="lbl padding-8">@ZnodeResources.TextKeepImage </span>
                                    </label>
                                </div>
                                <div class="col-sm-12 nopadding">
                                    <label>
                                        <input type="radio" name="imageRadioGroup" id="rdoUploadNew" onchange="CategoryAssociateProducts.ShowImageButton();" />
                                        <span class="lbl padding-8">@ZnodeResources.TextUploadImage</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="image-div" style="display:none">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.SelectImage)
                            </div>
                            <div class="col-sm-8">
                                @{Html.EnableClientValidation(false);}
                                @Html.EditorFor(model => model.SelectImage)
                                @Html.HiddenFor(m => m.ImageFile)
                                @{Html.EnableClientValidation(true);}
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="form-group" id="image-div">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.SelectImage)
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.SelectImage)
                            </div>
                        </div>
                    }

                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ImageAltTag)
                            <span class="sub">@ZnodeResources.TextCategoryImageAlt</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.ImageAltTag)
                        </div>
                    </div>
                    <h4>@ZnodeResources.LabelSeoSettings</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.SeoTitle)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.SeoTitle)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.SeoKeywords)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.SeoKeywords)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.SeoDescription)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.SeoDescription)
                        </div>
                    </div>
                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.SeoUrl)
                            <span class="sub">@ZnodeResources.TextSEOFriendlyURLName</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.SeoUrl)
                            @Html.ValidationMessageFor(model => model.SeoUrl)
                        </div>
                    </div>
                    <h4>@ZnodeResources.LabelDescription</h4>
                    <div class="form-group ">
                        <div class="col-sm-12 nopadding">
                            @Html.LabelFor(model => model.ShortDescription)
                            <span class="sub">@ZnodeResources.TextCategoryShortDescription</span>
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextAreaFor(model => model.ShortDescription)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    <div class=" form-group border-bottom item-top-shift">
                        <div class="col-sm-12 nopadding">
                            @Html.LabelFor(model => model.Description)
                            <span class="sub">@ZnodeResources.TextCategoryLongDescription</span>
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>
                    <div class="form-group border-bottom">
                        <div class="col-sm-12 nopadding">
                            @Html.LabelFor(model => model.AlternateDescription)
                            <span class="sub">@ZnodeResources.TextCategoryAdditionalDescription</span>
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.EditorFor(model => model.AlternateDescription)
                        </div>
                    </div>
                    <h4>@ZnodeResources.LabelCategoryBanner</h4>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <span class="sub">@ZnodeResources.TextCategoryBanner</span>
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.EditorFor(model => model.CategoryBanner)
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.CategoryId)
                </div>
            </div>


        }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/CategoryAssociateProducts")
