﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using Resources
@using Znode.Libraries.Helpers;
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
    //PRFT Custom Code: Start
    bool isManufacturer = (Convert.ToBoolean(TempData["IsBrand"])) ? true : false;
    //PRFT Custom Code: End
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@ZnodeResources.HeaderCategories</h1>
            <button type="button" class="btn-text-icon red pull-right" title=@ZnodeResources.ButtonAdd onclick="javascript: location.href = '/Category/Create' ;">
                <i class="glyphicon glyphicon-plus"></i>
                @ZnodeResources.ButtonAdd
            </button>
        </div>
        <div class="col-sm-12 search-container">
            <p class="left"> @ZnodeResources.TextCategories</p>
            <p class="sub red-color">@Resources.ZnodeResources.NoteCategoryList</p>
        </div>
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm(ZnodeResources.LabelListAction, ZnodeResources.LabelCategoryController, new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    
                    <div id="filterComponent" class="panel-body">
                        <!--PRFT Custom HTML : Start-->
                        @if (!Equals(Model, null))
                        {
                            <div class="col-lg-3 col-md-4 col-sm-12 product-group">
                                <div class="form-group">
                                    <div class="col-sm-12 col-md-10 nopadding">
                                        <label>@ZnodeResources.ManufacturerCategorySearchText</label>
                                    </div>
                                    <div class="col-sm-12 col-md-10 nopadding">
                                        <input id="isManufacturer" name="isManufacturer" type="checkbox" checked="@isManufacturer" value="true">
                                        <span class="lbl padding-8">@ZnodeResources.IsManufacturerText</span>
                                        <input name="isManufacturer" type="hidden" value="false">
                                    </div>
                                </div>
                            </div>
                        }
                        <!--PRFT Custom HTML : End-->
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.FilterColumn)
                    </div>
                }
            </div>

        </div>

        <div class="col-xs-12">
            <div class="pull-right">
                <a href="javascript:void(0)" id="tree-view" onclick="CategoryAssociateProducts.ToggleView(this);">@ZnodeResources.LabelTreeView</a>
                &nbsp;&nbsp;
                <a href="javascript:void(0)" id="grid-view" onclick="CategoryAssociateProducts.ToggleView(this);">@ZnodeResources.LabelGridView</a>
            </div>
        </div>
        <div class="col-sm-12 list-container" id="grid-view-content">
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
            </div>
        </div>
        <div class="col-sm-12 list-container" id="tree-view-content">
            <div class="col-sm-12 nopadding">
                @Html.Partial("CategoryTree")
            </div>
        </div>
    </div>
    @Html.Hidden("UserType", UserTypes.Admin.ToString())
</div>

@Scripts.Render("~/bundles/CategoryAssociateProducts")
<script>
    $(document).ready(function () {
        CategoryAssociateProducts.Load();
    });
</script>
