﻿@model Znode.Engine.MvcAdmin.ViewModels.CategoryViewModel
@using Znode.Engine.MvcAdmin.ViewModels
@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var selectedTabMode = Equals(TempData[MvcAdminConstants.SetTabMode], null) ? string.Empty : TempData[MvcAdminConstants.SetTabMode];
    var categoryId = Equals(Model, null) ? 0 : Model.CategoryId;
    //PRFT Custom Code: Start
    Model.IsManufacturer = string.IsNullOrEmpty(Model.Custom1) ? false : true;
    //PRFT Custom Code: End
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container bottom-shift">
        @{
            <h1 class="left">@ZnodeResources.SubHeaderManageCategory - @Model.Name</h1>
        }
        
        @if (Equals(selectedTabMode.ToString().ToLower(), "treeview"))
        {
            <button type="button" id="redirect-back" class="btn-text-icon grey pull-right" title="@ZnodeResources.ButtonBack" onclick="javascript: location.href = '/Category/List?tabMode=treeview';"><i class="z-arrow-left"></i>@ZnodeResources.ButtonBack</button>
        }
        else
        {
            <button type="button" id="redirect-back" class="btn-text-icon grey pull-right" title="@ZnodeResources.ButtonBack" onclick="javascript: location.href =  '/Category/List';"><i class="z-arrow-left"></i>@ZnodeResources.ButtonBack</button>
        }
    </div>
    <div class="col-sm-12 nopadding">
        <div class="manage-stores-container">
            <div class="Tab-container">
                <ul id="tabManageProduct" class="nav nav-tabs">
                    <li class="active"><a href="#panel-1" id="categoryInformation" data-queryparam="1" data-toggle="tab" class="tabs" title="@ZnodeResources.TabCategoryInfo">@ZnodeResources.TabCategoryInfo</a></li>
                    <li><a href="/Category/GetAssociateProduct" id="associatedProduct" data-queryparam="categoryId=@Model.CategoryId" data-targetitemid="panel2" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs" title=@ZnodeResources.TabAssociateProducts>@ZnodeResources.TabAssociateProducts</a></li>
                </ul>

                <div id="tabContents" class="tab-content">
                    <!--Panels 1-->
                    <div class="tab-pane fade in active" id="panel-1">
                        <div class="col-sm-12 nopadding">
                            <button type="button" class="btn-text-icon red pull-right" title="@ZnodeResources.ButtonEdit" onclick="javascript: location.href = '/Category/Edit/@categoryId';"><i class="glyphicon glyphicon-pencil"></i>@ZnodeResources.ButtonEdit</button>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                            <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                                <h4>@ZnodeResources.FacetGroupInformationHeader</h4>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.Label(@ZnodeResources.LabelCategoryName)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label("", Model.Name)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.Label(@ZnodeResources.LabelCategoryTitle)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label("", Model.Title)
                                    </div>
                                </div>
                                <!--PRFT Custom HTML: Start-->
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.Label(ZnodeResources.IsManufacturerText)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        <i class="@HelperMethods.GetCheckMark(Model.IsManufacturer)"></i>
                                    </div>
                                </div>
                                <!--PRFT Custom HTML: End-->
                                <h4>@ZnodeResources.LabelDisplaySetting</h4>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.Label(@ZnodeResources.LabelDisplayOrder)
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.Label("", Model.DisplayOrder.ToString())
                                    </div>
                                </div>

                                <div class="form-group border-bottom">
                                    <div class="col-sm-4 nopadding">
                                        @Html.Label(@ZnodeResources.LabelChildCategories)
                                    </div>
                                    <div class="col-sm-8 label-background red-color">
                                        <i class="@HelperMethods.GetCheckMark(Model.ChildCategories)"></i>
                                    </div>
                                </div>

                                <h4>@ZnodeResources.LabelCategoryImage</h4>
                                <div class="form-group border-bottom">
                                    <div class="col-sm-8 col-sm-offset-4">
                                        <img src="@Model.ImageMediumPath" alt="@Model.ImageAltTag" class="img-responsive" />
                                    </div>
                                </div>
                                <h4>@ZnodeResources.LabelSEOSetting</h4>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.Label(@ZnodeResources.LabelSEOTitle)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label("", Model.SeoTitle)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.Label(@ZnodeResources.LabelSEOKeywords)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label("", Model.SeoKeywords)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.Label(@ZnodeResources.LabelSEODescription)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label("", Model.SeoDescription)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.Label(@ZnodeResources.LabelSEOFriendlyPageName)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label("", Model.SeoUrl)
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                            <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">

                                <h4>@ZnodeResources.LabelDescription</h4>
                                <div class="form-group border-bottom">
                                    <div class="col-sm-4 nopadding">
                                        @Html.Label(@ZnodeResources.LabelShortDescription)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label("", Model.ShortDescription)
                                    </div>
                                </div>
                                <div class="form-group border-bottom">
                                    <div class="col-sm-4 nopadding">
                                        @Html.Label(@ZnodeResources.LabelLongDescription)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Raw(Model.Description)
                                    </div>
                                </div>
                                <div class="form-group border-bottom">
                                    <div class="col-sm-4 nopadding">
                                        @Html.Label(@ZnodeResources.LabelAdditionalDescription)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Raw(Model.AlternateDescription)
                                    </div>
                                </div>
                                <h4>@ZnodeResources.LabelBanner</h4><br />
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.Label(@ZnodeResources.LabelCategoryBanner)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Raw(Model.CategoryBanner)
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.CategoryId)
                    </div>
                    <div class="tab-pane fade" id="panel2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
