﻿@model Znode.Engine.MvcAdmin.ViewModels.CategoryAssociatedProductsListViewModel
@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1>@ZnodeResources.HeaderSearchAddProducts - @Model.CategoryName</h1>
        </div>        
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("SearchAddAssociateProduct", "Category", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-12 list-container">
            <div id="d-grid" class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
            </div>
            <div class="pull-right top-shift">
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonAddSelectedProduct" onclick="CategoryAssociateProducts.AssociatedProducts(@Model.CategoryId);"> @ZnodeResources.ButtonAddSelectedProduct</button>
                @Html.ActionLink(ZnodeResources.ButtonCancel, MvcAdminConstants.ManageView, new { @id = @Model.CategoryId, @tabMode = "AssociatedProducts" }, new { @Class = "btn-text grey", @title = @ZnodeResources.ButtonCancel })
            </div>
        </div>                
    </div>
</div>
@Scripts.Render("~/bundles/CategoryAssociateProducts")

