﻿@using Znode.Engine.MvcDemo.ViewModels
@using Znode.Engine.MvcDemo.Agents
@model Znode.Engine.MvcDemo.ViewModels.PaymentsViewModel

@if (Model != null)
{
    <form id="payment-creditcard" class="form payment-method grid-m-9">
        <h3 class="section-header-background notsmall">@Resources.ZnodeResource.TitleCreditCard</h3>
        <p>
            <button type="submit" class="btn-text red" id="ccCheckoutButton">@Resources.ZnodeResource.TitleCreditCard</button>
        </p>
        <div id="ccpopUp" style="display: none;">
            <div class="col-xs-12 col-md-6 nopadding">
                <div class="form-group">
                    <div class="col-xs-12 nopadding">
                        <label class="required">@Resources.ZnodeResource.SinglePageCheckoutCreditCardNoTitle</label>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <input type="text" data-payment="number" class="form-input-long" />
                        <div id="errornumber" class="field-validation-error" style="display: none">@Resources.ZnodeResource.ValidationCreditCardNo</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 nopadding">
                        <label class="required">@Resources.ZnodeResource.SinglePageCheckoutCreditCardExpirationDate</label>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div class="col-xs-2 nopadding">
                            <input type="text" maxlength="2" data-payment="exp-month" class="form-input-short" />
                            <span class="text-center">MM</span>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" maxlength="4" data-payment="exp-year" class="form-input-short" />
                            <span class="text-center">YYYY</span>
                        </div>
                        <div class="col-xs-12 nopadding">
                            <span id="errormonth" class="field-validation-error" style="display: none">@Resources.ZnodeResource.ValidationEnterValidDate &nbsp;</span>
                            <span id="erroryear" class="field-validation-error" style="display: none">@Resources.ZnodeResource.ValidationEnterValidYear</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 nopadding">
                        <label class="required">@Resources.ZnodeResource.SinglePageCheckoutCreditCardSecurityNo</label>
                    </div>
                    <div class="col-xs-12 col-sm-3 nopadding">
                        <input type="password" data-payment="cvc" maxlength="4" class="form-input-short" autocomplete = "off" />                        
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div id="errorcardnumber" class="field-validation-error" style="display: none">@Resources.ZnodeResource.ValidationCardSecurityNo</div>                        
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div>@Resources.ZnodeResource.HintTextCreditCardSecurityNumber</div>
                    </div>
                </div>
                <div class="col-xs-12 nopadding">                    
                    <input type="button" id="submitPayment" value="Submit" class="btn-text red pull-right" title="Submit" />
                    <div class="ErrorMessage error-msg"></div>
                </div>
            </div>
        </div>
    </form>

    

    //Order Details
    @Html.Hidden("OrderId", "1")
    @Html.Hidden("Discount", Model.Cart.ShoppingCart.Discount)
    @Html.Hidden("ShippingCost", Model.Cart.ShoppingCart.ShippingCost)
    @Html.Hidden("SubTotal", Model.Cart.ShoppingCart.SubTotal)
    @Html.Hidden("Total", Model.Cart.ShoppingCart.Total)
    @Html.Hidden("TaxCost", Model.Cart.ShoppingCart.TaxCost)

    //Billing Details
    @Html.Hidden("BillingCity", Model.BillingAddress.City)
    @Html.Hidden("BillingCountryCode", Model.BillingAddress.CountryCode)
    @Html.Hidden("BillingFirstName", Model.BillingAddress.FirstName)
    @Html.Hidden("BillingLastName", Model.BillingAddress.LastName)
    @Html.Hidden("BillingName", Model.BillingAddress.Name)
    @Html.Hidden("BillingPhoneNumber", Model.BillingAddress.PhoneNumber)
    @Html.Hidden("BillingPostalCode", Model.BillingAddress.PostalCode)
    @Html.Hidden("BillingStateCode", Model.BillingAddress.StateCode)
    @Html.Hidden("BillingStreetAddress1", Model.BillingAddress.StreetAddress1)
    @Html.Hidden("BillingStreetAddress2", Model.BillingAddress.StreetAddress2)
    @Html.Hidden("BillingEmailId", Model.BillingAddress.Email)
    @Html.Hidden("ReturnUrl")
    @Html.Hidden("CancelUrl")
    @Html.Hidden("CCPaymentOptionId", Model.PaymentOptions.FirstOrDefault(x => x.PaymentTypeId == (int)EnumPaymentType.CreditCard).PaymentOptionId)
    @Html.Hidden("GatewayCurrencyCode", PortalAgent.CurrentPortal.CurrencySuffix)
    @Html.Hidden("hdnGatwayName")
    @Html.Hidden("paymentProfileId")

    if (!Equals(Model.Cart, null) && !Equals(Model.Cart.ShoppingCart, null) && !Equals(Model.Cart.ShoppingCart.Items, null) && Model.Cart.ShoppingCart.Items.Count > 0)
    {
        for (int iCount = 0; iCount < Model.Cart.ShoppingCart.Items.Count; iCount++)
        {
            @Html.Hidden("RecurringBillingFrequency", Model.Cart.ShoppingCart.Items[iCount].RecurringBillingFrequency)
            @Html.Hidden("RecurringBillingInd", Model.Cart.ShoppingCart.Items[iCount].RecurringBillingInd)
            @Html.Hidden("RecurringBillingInitialAmount", Model.Cart.ShoppingCart.Items[iCount].RecurringBillingInitialAmount)
            @Html.Hidden("RecurringProfileName", Model.Cart.ShoppingCart.Items[iCount].Product.Name)
        }
    }
}