﻿@*
    Partial for purchase order payment option
*@
@model Znode.Engine.MvcDemo.ViewModels.PaymentOptionViewModel
<form id="payment-po" action="/checkout/purchaseorder" method="POST" class="form payment-method grid-m-9">
    <h3 class="section-header-background notsmall">@Resources.ZnodeResource.TitlePurchaseOrder</h3>
    <div class="col-xs-12 col-md-7 col-lg-6 nopadding">
        <div class="form-group">
            <div class="col-xs-12 nopadding">
                <label class="required">@Resources.ZnodeResource.ColumnPONumber</label>
            </div>
            <div class="col-xs-12 nopadding">
                <input type="text" id="txt-po-number" />
                <p class="form-error error-msg"></p>
            </div>
            
        </div>
        <div class="col-xs-12 nopadding">
            <button type="submit" class="btn-text red pull-right" id="btn-payment-po">@Resources.ZnodeResource.TextCompletePurchase</button>
        </div>
    </div>        
    <input type="hidden" value="@Model.PaymentTypeId" name="PaymentTypeId" />
    <input type="hidden" value="@Model.PaymentName" name="PaymentName" />
    <input type="hidden" value="@Model.PaymentOptionId" name="PaymentOptionId" />
    <input type="hidden" value="@Model.PurchaseOrderNumber" name="PurchaseOrderNumber" id="hdnPurchaseOrderNumber" />
</form>
