﻿@using Znode.Engine.MvcDemo.ViewModels
@model CartViewModel
<div class="shopping-cart">
    <div class="col-xs-12 nopadding cart-products">
        @if (Model.Items.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Item(s)</th>
                        <th>@Resources.ZnodeResource.ColumnTitleItemPrice</th>
                        <th>@Resources.ZnodeResource.ColumnTitleQuantity</th>
                        <th>@Resources.ZnodeResource.ColumnTitleTotal</th>
                    </tr>
                </thead>
                @foreach (var cartItem in Model.Items)
                {
                    @Html.Partial("../Cart/_CartRow", cartItem)
                }
            </table>
        }
    </div>

    <div class="col-xs-12 nopadding cart-summary">
        <div class="col-sm-offset-5 cart-total">
            @Html.Partial("../Cart/_TotalTable", Model)
        </div>
    </div>
</div>