﻿@using Znode.Engine.MvcDemo.ViewModels
@model ShippingOptionListViewModel

<div id="layout-checkout-shipsingle" class="main-wrapper">
    <div class="container">
        <div class="row multiple-checkout">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Resources.ZnodeResource.TitleShippingMethod</h1>
            </div>
            <div class="col-xs-12 nopadding checkout-step">
                <h3 class="checkout-step-title">@Resources.ZnodeResource.SubTitleCheckout2of4</h3>
                <p>@Resources.ZnodeResource.TextYourOrderShipped</p>
            </div>

            <div class="col-xs-12 nopadding shipping-method">

                <div class="col-xs-12 col-sm-6 margin-top nopadding">
                    <div class="col-xs-12 col-sm-11 nopadding">
                        @if (Request.QueryString.Count > 0)
                        {
                            <form method="GET" action="/Checkout/Review?multipleshipto=@true" class="shipping-methods grid-m-6">
                                @Html.Hidden("isMultipleShip", "true")
                                <div class="col-xs-12 nopadding">
                                    <h4>@Resources.ZnodeResource.TitleSelectMethod</h4>
                                    <ul>
                                        @foreach (var option in Model.ShippingOptions)
                                        {
                                            <li class="styled-input">
                                                <input type="radio" id="@option.ShippingCode.Replace(" ", "_")" name="ShippingOptions" value="@option.ShippingId" @(Model.ShippingOptions.First().ShippingId == option.ShippingId ? "checked=checked" : "") />
                                                @Html.Label(WebUtility.HtmlDecode(option.ShippingDescription), new { @for = option.ShippingCode.Replace(" ", "_") })
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="col-xs-12 nopadding">
                                    <button type="submit" class="btn-text red">@Resources.ZnodeResource.ButtonNextStep</button>
                                </div>
                            </form>
                        }
                        else
                        {

                            <form method="GET" action="/Checkout/Review?multipleshipto=@false" class="shipping-methods grid-m-6">
                                @Html.Hidden("isMultipleShip", "false")

                                @Html.EditorFor(model => model, "_SingleCheckoutShipping")
                                <div class="col-xs-12 nopadding">
                                    <button type="submit" class="btn-text red">@Resources.ZnodeResource.ButtonNextStep</button>
                                </div>
                            </form>
                        }
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 margin-top shipping-address nopadding">
                    <div class="col-sm-offset-1">
                        <h4>@Resources.ZnodeResource.TitleShippingTo</h4>

                        @if (Model.IsMultipleShipTo)
                        {
                            <h4>@Resources.ZnodeResource.TextShiptoMultipleAddress</h4>
                            using (@Html.BeginForm("Multipleshipto", "Checkout", FormMethod.Get))
                            {
                                <a href="#" class="view-multi-address-cart">View</a>
                            }
                        }
                        else
                        {
                            @Html.Partial("_DisplayAddress", Model.ShippingAddress)
                        }
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        Cart.init();
    })
</script>