﻿@*
    The payment method menu options should only display if there is more than a single payment
    option enabled for the store. If there's only one, it should be displayed at load without
    any other options.
*@

@using Znode.Engine.MvcDemo.ViewModels
@model Znode.Engine.MvcDemo.ViewModels.PaymentsViewModel
@using Znode.Engine.MvcDemo.Helpers

<div id="layout-checkout-payment" class="main-wrapper">
    <div class="container">
        <div class="row multiple-checkout">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Resources.ZnodeResource.TitlePayment</h1>
            </div>
            <div class="col-xs-12 nopadding checkout-step">
                <h3>@Resources.ZnodeResource.SubTitleCheckout4of4</h3>
            </div>
            <div class="col-xs-12 checkout-payment nopadding">
                <h3 class="payment-total padding-top-bottom">
                    @Resources.ZnodeResource.ColumnTotalPaymentDue <span id="dynamic-total">@HelperMethods.FormatPriceWithCurrency(Model.Cart.ShoppingCart.Total.GetValueOrDefault(0))</span>
                </h3>
                <div class="col-xs-12 nopadding">@Html.ValidationSummary(true)</div>
                <div class="col-xs-12 nopadding">
                    <div class="col-xs-12 col-sm-6 nopadding payment-address">
                        <div class="col-xs-12 col-sm-11 nopadding">
                            @if (Model.IsMultipleShipping.Equals(true))
                            {                                
                                <div class="col-xs-12 nopadding">
                                    <h4>@Resources.ZnodeResource.TextShiptoMultipleAddress</h4>
                                    @using (@Html.BeginForm("Multipleshipto", "Checkout", FormMethod.Get))
                                    {
                                        <a href="#" class="view-multi-address-cart">View</a>
                                    }
                                </div>
                                <div class="col-xs-12 nopadding margin-top">
                                    <h4>@Resources.ZnodeResource.ColumnShippingMethod</h4>
                                    @WebUtility.HtmlDecode(Model.Cart.ShippingOption.ShippingDescription)
                                </div>
                            }
                            else
                            {
                                <div class="col-xs-12 nopadding">
                                    <h4>@Resources.ZnodeResource.ColumnSelectedShippingAddress</h4>
                                    @Html.Partial("_DisplayAddress", Model.ShippingAddress)
                                </div>
                                <div class="col-xs-12 nopadding margin-top">
                                    <h4>@Resources.ZnodeResource.ColumnShippingMethod</h4>
                                    @WebUtility.HtmlDecode(Model.Cart.ShippingOption.ShippingDescription)
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 nopadding payment-address">
                        <div class="col-sm-offset-1">
                            <h4>@Resources.ZnodeResource.ColumnSelectedBillingAddress</h4>
                            @Html.Partial("_DisplayAddress", Model.BillingAddress)
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 payment-container nopadding" id="payment-container">
                    <h4 class="section-header margin-top-bottom">@Resources.ZnodeResource.SubTitleSelectPaymentMethod</h4>

                    <div class="col-xs-12 nopadding">
                        <div id="payment-methods" class="col-sm-3 nopadding">
                            <ul class="nav nav-tabs tabs-left">
                                @if (Model.PaymentOptions.Any(x => x.PaymentTypeId.Equals((int)EnumPaymentType.CreditCard)))
                                {
                                    <li class="active" data-toggle="payment-creditcard">
                                        <a href="#" data-toggle="payment-creditcard" class="">@Resources.ZnodeResource.TitleCreditCard</a>
                                    </li>
                                }
                                @if (Model.PaymentOptions.Any(x => x.PaymentTypeId.Equals((int)EnumPaymentType.COD)))
                                {
                                    <li data-toggle="payment-cod">
                                        <a href="#" data-toggle="payment-cod" class="">@Resources.ZnodeResource.TextCashOnDelivery</a>
                                    </li>
                                }
                                @if (Model.PaymentOptions.Any(x => x.PaymentTypeId.Equals((int)EnumPaymentType.PurchaseOrder)))
                                {
                                    <li data-toggle="payment-po">
                                        <a href="#" data-toggle="payment-po" class="">@Resources.ZnodeResource.TitlePurchaseOrder</a>
                                    </li>
                                }
                                @if (Model.PaymentOptions.Any(x => x.PaymentTypeId.Equals((int)EnumPaymentType.PaypalExpressCheckout)))
                                {
                                    <li data-toggle="payment-paypal">
                                        <a href="#" data-toggle="payment-paypal" class="">@Resources.ZnodeResource.TitlePaypal</a>
                                    </li>
                                }
                                <li data-toggle="payment-giftcard">
                                    <a href="#" data-toggle="payment-giftcard" class="">@Resources.ZnodeResource.TitleGiftCard</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-9 nopadding" id="divPaymentOptions" style="display:none;">
                            @if (Model.PaymentOptions.Any(x => x.PaymentTypeId.Equals((int)EnumPaymentType.CreditCard)))
                            {
                                <div class="tab-content">
                                    @Html.Partial("_PaymentCreditCard", Model)
                                </div>

                            }
                            @if (Model.PaymentOptions.Any(x => x.PaymentTypeId.Equals((int)EnumPaymentType.COD)))
                            {
                                <div class="tab-content">
                                    @Html.Partial("_PaymentCOD", Model.PaymentOptions.FirstOrDefault(x => x.PaymentTypeId.Equals((int)EnumPaymentType.COD)))
                                </div>

                            }
                            @if (Model.PaymentOptions.Any(x => x.PaymentTypeId.Equals((int)EnumPaymentType.PurchaseOrder)))
                            {
                                <div class="tab-content">
                                    @Html.Partial("_PaymentPO", Model.PaymentOptions.FirstOrDefault(x => x.PaymentTypeId.Equals((int)EnumPaymentType.PurchaseOrder)))
                                </div>

                            }
                            @if (Model.PaymentOptions.Any(x => x.PaymentTypeId.Equals((int)EnumPaymentType.PaypalExpressCheckout)))
                            {
                                <div class="tab-content">
                                    @Html.Partial("_PaymentPaypal", Model)
                                </div>

                            }
                            @if (Model.PaymentOptions.Any(x => x.PaymentTypeId.Equals((int)EnumPaymentType.Custom)))
                            {
                                <div class="tab-content">
                                    @Html.Partial("_PaymentCustom", Model)
                                </div>

                            }
                            <div class="tab-content">
                                @Html.Partial("_PaymentGiftCard", Model.Cart.ShoppingCart)
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.DefaultPayment != null)
{
    <input type="hidden" id="defaultpayment" value="payment-@ViewBag.DefaultPayment" />
}
<script>
    $(document).ready(function () {
        Cart.init();
    })
</script>
