﻿@model Znode.Engine.MvcAdmin.ViewModels.ReviewViewModel
@using Resources
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    WebGrid grid = new WebGrid(rowsPerPage: 5);
    if (!Equals(Model, null) && !Equals(Model.ReviewItems, null))
    {
        grid.Bind(Model.ReviewItems);
        grid.Pager(WebGridPagerModes.NextPrevious);
    }

}
<div id="gridCustomerReview">
    @if (Model.ReviewItems != null)
    {
        <div id="grid">
           @grid.GetHtml(
                    htmlAttributes: new { id = "customerReviewList", @class = "table" },
                    fillEmptyRows: false,
                    mode: WebGridPagerModes.All,
                    firstText: "<< First",
                    previousText: "< Prev",
                    nextText: "Next >",
                    lastText: "Last >>",
                    columns: grid.Columns(
                    grid.Column(header: "ID", format: @<span> <span id="spanName_@item.ReviewId">@item.reviewid</span></span>),
                    grid.Column(header: "PRODUCT NAME", format: @<span>@item.ProductName</span>),
                    grid.Column(header: "HEADLINE",format: @<span>@item.Subject</span>),
                    grid.Column(header: "COMMENTS",format: @<span>Title: @item.Subject<br /> @item.Comments</span>),
                    grid.Column(header: "USERNAME",format:@<span>@item.CreateUser</span>),
                    grid.Column(header: "USER LOCATION",format:@<span>@item.UserLocation</span>),
                    grid.Column(header: "RATING",format:@<span>@item.Rating</span>),
                    grid.Column(header: "DATE",format:@<span>@item.CreateDate</span>),
                    grid.Column(header: "USER",format:@<span>@item.CreateUser</span>),
                    grid.Column(header: "STATUS",format:@<span>@item.Status</span>),
                    grid.Column(header: "ACTIONS",format:@<text><a href="/Review/EditReview?reviewId=@item.ReviewId" id="manage_@item.reviewid" class="edit">EDIT</a><a href="/Review/ChangeReviewStatus?reviewId=@item.ReviewId" id="Copy_@item.ReviewId" style="display:block" class="copy">Change Status</a>@Html.Raw("<span onclick='CommonHelper.BindDeleteConfirmDialog(\" " + ZnodeResources.ConfirmDeleteTitle + "\", \" " + ZnodeResources.ConfirmDeleteMessage + "\", \"/" + controllerName + "/DeleteReview/" + @item.ReviewId + "\");'>" + ZnodeResources.LabelDelete + "</span>")</text>)
                  ))
        </div>
    }
    else
    {
        <span>@Resources.ZnodeResources.NoRecordFoundMessageText</span>
    }
</div>