﻿@model Znode.Engine.MvcAdmin.ViewModels.ReviewItemViewModel
@using Resources;
@using Znode.Engine.MvcAdmin.ViewModels;
@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
}
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "formChangeReviewStatus", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}


<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1 class="left">@ZnodeResources.ChangeReviewStatusReviewTitleText @Model.Subject</h1>
    </div>
    <div class="col-sm-12 search-container">
        <p class="left">@ZnodeResources.ChangeReviewStatusHeaderDescription</p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "formChangeReviewStatus" }))
{
            <h4>@ZnodeResources.LabelRMAStatusDetails</h4>
            <div class="form-group">
                @Html.DropDownListFor(m => m.Status, Model.GetReviewStatus, new { @id = "ddlreviewstatus" })
            </div>

            @Html.HiddenFor(model => Model.ReviewId)

            }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
</div>


