﻿@model Znode.Engine.MvcAdmin.ViewModels.ReviewItemViewModel
@using Resources;
@{
    ViewBag.Title = "DeleteReview";
}

@using (Html.BeginForm())
{
    <div>
        <h2>@ZnodeResources.DeleteReviewHeader</h2>
        <p>@string.Format(ZnodeResources.DeleteReviewHeaderDescription, Model.Subject)</p>
    </div>
    <div class="pull-right">
        <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
        <button type="button" class="btn-text grey" onclick="javascript: location.href = '/Review/List';" title="@ZnodeResources.ButtonCancel">@ZnodeResources.ButtonCancel</button>
    </div>
}

