﻿@model Znode.Engine.MvcAdmin.ViewModels.ReviewItemViewModel
@using Resources;
@using Znode.Engine.MvcAdmin.ViewModels;
@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
}
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "formEditReview", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}


    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@string.Format(ZnodeResources.EditReviewHeader, Model.Subject)</h1>
        </div>

        <div class="col-sm-12 col-md-7 col-lg-6 add-new-container">
@using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "formEditReview" }))
{
            <h4>@ZnodeResources.HeaderReviewDetails</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label(string.Empty, ZnodeResources.ReviewStatus)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.Status, Model.GetReviewStatus, new { @id = "ddlreviewstatus" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label(string.Empty, ZnodeResources.ReviewProductName)
                </div>
                <div class="col-sm-8">

                    @Html.Label(Model.ProductName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label(string.Empty, ZnodeResources.ReviewHeadLine, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Subject)
                    @Html.ValidationMessageFor(m => m.Subject)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label(string.Empty, ZnodeResources.ReviewComments, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextAreaFor(m => m.Comments)
                    @Html.ValidationMessageFor(m => m.Comments)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label(string.Empty, ZnodeResources.ReviewUserName, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.CreateUser, new {maxlength = 100 })
                    @Html.ValidationMessageFor(m => m.CreateUser)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label(string.Empty, ZnodeResources.ReviewUserLocation, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.UserLocation, new { maxlength = 100 })
                    @Html.ValidationMessageFor(m => m.UserLocation)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label(string.Empty, ZnodeResources.ReviewRating, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.Rating, Model.GetReviewRatings, new { @id = "ddlReviewRating" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label(string.Empty, ZnodeResources.ReviewDate)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.CreateDate, new { @readonly = "readonly", @class = "readonly", @id = "txtdate", data_date_format = @Model.DatePickDateFormat })
                </div>
            </div>
            @Html.HiddenFor(m => m.ProductId)
            @Html.HiddenFor(m => m.AccountId)
            @Html.HiddenFor(m => m.ReviewId)
}
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>

    </div>


