﻿@model Znode.Engine.MvcAdmin.ViewModels.PromotionsViewModel
@using Znode.Libraries.Helpers
<div class="form-group" id="discount-amount">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(model => model.DiscountAmount, new { @class = "required" })
        <span class="sub">@ZnodeResources.TextDiscountAmount</span>
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.DiscountAmount)
        @Html.ValidationMessageFor(model => model.DiscountAmount)
    </div>
</div>

<div class="form-group" id="order-minimum">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(model => model.OrderMinimum, new { @class = "required" })
        <span class="sub">@ZnodeResources.TextMinimumOrder</span>
    </div>
    <div class="col-sm-8 left-inner-icon">
        <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
        @Html.TextBoxFor(model => model.OrderMinimum, new { @maxlength = 7 })
        @Html.ValidationMessageFor(model => model.OrderMinimum)
    </div>
</div>
<div class="col-sm-8" style="display:none">
    @Html.DropDownListFor(model => model.CategoryId, Model.CategoryList, ZnodeResources.LabelAllCategories, new { @id = "ddlCategory" })
</div>
<div class="col-sm-8" style="display:none">
    @Html.DropDownListFor(model => model.CatalogId, Model.CatalogList, ZnodeResources.LabelAllCatalogs, new { @id = "ddlCatalog" })
</div>
<h4>@ZnodeResources.TitleCouponInformation</h4>
<div class="form-group" id="lblChkBox">
    <div class="col-sm-8 col-sm-offset-4">
        <label>
            <input id="CouponInd" name="CouponInd" type="checkbox" checked="@Model.CouponInd" value="true" onchange="Promotion.ShowHideCouponInfo('@UserTypes.Admin.ToString()');">
            <span class="lbl padding-8" for="EnableToCouponCode">@ZnodeResources.LabelRequireCoupon</span>
        </label>
    </div>
</div>

