﻿@model Znode.Engine.MvcAdmin.ViewModels.PromotionsViewModel

<div id="callforprice-container">
    <div class="form-group" id="require-product">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.CallForPriceProduct)
            <span class="sub">@ZnodeResources.TextCallForPriceProduct</span>
        </div>
        <div class="col-sm-7">
            @Html.TextBoxFor(model => model.CallForPriceProduct, new { @Value = Model.CallForPriceProduct, readOnly = "readOnly"  })
            @Html.ValidationMessageFor(model => model.CallForPriceProduct, null, new { @id = "valCallForPriceProduct" })
            @Html.HiddenFor(model => model.RequiredProductId)
        </div>

        @*This div is imp don't delete it*@
        <div id="divShowProduct" style="display:none">
        </div>

        <div class="col-sm-1 nopadding">
            <i data-toggle="tooltip" data-placement="top" data-original-title="Click Here For Product List" id="nxtbtnProduct" onclick="Promotion.ShowSkuProductListPopUp('ddlSku','CallForPriceProduct', 'RequiredProductId');" class="glyphicon glyphicon-search category-search pull-sm-right"></i>
        </div>
    </div>
    <div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(model => model.SkuList)
        <span class="sub">@ZnodeResources.TextPromotionProductSku</span>
    </div>        
    @if (!Equals(Model.SkuList, null))
    {
        <div class="col-sm-8">
            @Html.DropDownListFor(model => model.SkuId, Model.SkuList, new { @id = "ddlSku" })
        </div>
    }
    else
    {
        <div class="col-sm-7">
            @Html.TextBoxFor(model => model.SkuList)
        </div>
    }
    </div>
    <div class="form-group" id="callforpricemessage">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.CallForPriceMessage)
            <span class="sub">@ZnodeResources.TextCallForPrice</span>
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.CallForPriceMessage)
        </div>
    </div>    
</div>