﻿@model Znode.Engine.MvcAdmin.ViewModels.PromotionsViewModel
@using Resources;
@using Znode.Libraries.Helpers
<div id="coupon-code">
    @Html.ValidationSummary(true)
    <div class="form-group">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.Coupons.CouponCode, new { @class = "required" })
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.Coupons.CouponCode, new { @id = "txtCouponCode", required = "required" })
            @Html.ValidationMessageFor(model => model.Coupons.CouponCode, "Enter Coupon Code")
            <span id="regexCouponCodeError"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.Coupons.PromotionMessage)
            <span class="sub">@ZnodeResources.TextPromotionMessage</span>
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.Coupons.PromotionMessage)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.Coupons.CouponQuantityAvailable, new { @class = "required" })
        </div>
        @if (Equals(Model.Coupons.CouponQuantityAvailable, null))
        {
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Coupons.CouponQuantityAvailable, new { @id = "txtCouponQuantity", @Value = 99, @maxlength = 4 })
                @Html.ValidationMessageFor(model => model.Coupons.CouponQuantityAvailable, null, new { @id = "valCounponQuantity" })
            </div>
        }
        else
        {
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Coupons.CouponQuantityAvailable, new { @id = "txtCouponQuantity", @maxlength = 4 })
                @Html.ValidationMessageFor(model => model.Coupons.CouponQuantityAvailable, null, new { @id = "valCounponQuantity" })
            </div>
        }

    </div>
    <div class="col-sm-8 col-sm-offset-4">
        <label>
            <input id="EnableCouponUrl" name="EnableCouponUrl" type="checkbox" checked="@Model.EnableCouponUrl" value="true" onchange="Promotion.EnableCouponUrl('@UserTypes.Admin.ToString()');">
            <span for="CouponUrl" class="lbl padding-8">@ZnodeResources.LabelCouponURL</span>
        </label>
        <div id="CouponUrl-Container">
        </div>
    </div>
    <div class="col-sm-8 col-sm-offset-4" id="multipleCoupon">
        <label>
            <input id="IsCouponAllowedWithOtherCoupons" name="IsCouponAllowedWithOtherCoupons" type="checkbox" checked="@Model.IsCouponAllowedWithOtherCoupons" value="true">
            <span for="CouponUrl" class="lbl padding-8">@ZnodeResources.LabelIsCouponCodeAllowedWithOtherCoupons</span>
        </label>
    </div>
</div>

<script>
    $(document).ready(function () {
        Promotion.EnableAllowMultipleCouponCheckbox("@UserTypes.Admin.ToString()")
    });
</script>