﻿@model Znode.Engine.MvcAdmin.ViewModels.PromotionsViewModel

@if (Equals(@Model.Coupons.CouponCode, null))
{
    <div class="form-group">
        <div class="col-sm-8">
            <p>@ZnodeResources.TextEnableCouponUrl</p>
        </div>
        
    </div>
}
else
{
    <div class="form-group">
        <div class="col-sm-8">
            <p>@ZnodeResources.TextExistsCouponUrl@Model.Coupons.CouponCode</p>
        </div>
        
    </div>
}