﻿@model Znode.Engine.MvcAdmin.ViewModels.PromotionsViewModel
@using Znode.Libraries.Helpers
<div class="form-group" id="discount-percent">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(model => model.DiscountPercent, new { @class = "required" })
        <span class="sub">@ZnodeResources.TextDiscountPercent</span>
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.DiscountPercent, new { @onblur = "Promotion.ValidatePromotionAttributes();" })
        @Html.ValidationMessageFor(model => model.DiscountPercent, null, new { @id = "valDiscountPercent" })
    </div>
</div>

@*This div is imp don't delete it*@
<div id="divShowProduct" style="display:none">
</div>

<div class="form-group" id="require-product">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(model => model.RequireProduct, new { @class = "required" })
        <span class="sub">@ZnodeResources.TextRequireProduct</span>
    </div>
    <div class="col-sm-7">
        @Html.TextBoxFor(model => model.RequireProduct, new { required = "required", readOnly = "readOnly" })
        @Html.ValidationMessageFor(model => model.RequireProduct, "Select Product")
        @Html.HiddenFor(model => model.RequiredProductId)
    </div>

    <div class="col-sm-1 nopadding">
        <i data-toggle="tooltip" data-placement="top" data-original-title="Click Here For Product List" id="nxtbtnProduct" onclick="Promotion.ShowProductListPopUp('RequireProduct', 'RequiredProductId', '@UserTypes.Admin.ToString()');" class="glyphicon glyphicon-search category-search pull-sm-right"></i>
    </div>
</div>
<div class="col-sm-8" style="display:none">
    @Html.DropDownListFor(model => model.CategoryId, Model.CategoryList, ZnodeResources.LabelAllCategories, new { @id = "ddlCategory" })
</div>
<div class="col-sm-8" style="display:none">
    @Html.DropDownListFor(model => model.CatalogId, Model.CatalogList, ZnodeResources.LabelAllCatalogs, new { @id = "ddlCatalog" })
</div>