﻿@model Znode.Engine.MvcAdmin.ViewModels.PromotionsViewModel
@using Znode.Libraries.Helpers
<div class="form-group" id="discount-percent">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(model => model.DiscountPercent, new { @class = "required" })
        <span class="sub">@ZnodeResources.TextDiscountPercent</span>
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.DiscountPercent, new { @onblur = "Promotion.ValidatePromotionAttributes();" })
        @Html.ValidationMessageFor(model => model.DiscountPercent, null, new { @id = "valDiscountPercent" })
    </div>
</div> 

<div class="form-group" id="category-list">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(model => model.CategoryList)
        <span class="sub">@ZnodeResources.TextRequireCategory</span>
    </div>
    <div class="col-sm-8">
        @Html.DropDownListFor(model => model.CategoryId, Model.CategoryList, ZnodeResources.LabelAllCategories, new { @id = "ddlCategory" })
    </div>
    <div class="col-sm-8" style="display:none">
        @Html.DropDownListFor(model => model.CatalogId, Model.CatalogList, ZnodeResources.LabelAllCatalogs, new { @id = "ddlCatalog" })
    </div> 
</div>

<div class="form-group" id="quantity-minimum">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(model => model.QuantityMinimum, new { @class = "required" })
        <span class="sub">@ZnodeResources.TextMinimumQuantity</span>
    </div>
    <div class="col-sm-8">
        @if (Equals(Model.QuantityMinimum, null))
        {
            @Html.TextBoxFor(model => model.QuantityMinimum, new { @Value = 1 })
        }
        else
        {
            @Html.TextBoxFor(model => model.QuantityMinimum)
        }
        @Html.ValidationMessageFor(model => model.QuantityMinimum)
    </div>
</div>

<div class="form-group" id="order-minimum">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(model => model.OrderMinimum, new { @class = "required" })
        <span class="sub">@ZnodeResources.TextMinimumOrder</span>
    </div>
    <div class="col-sm-8 left-inner-icon">
        <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
        @Html.TextBoxFor(model => model.OrderMinimum,new { @maxlength = 7 })
        @Html.ValidationMessageFor(model => model.OrderMinimum)
    </div>
</div>

<h4>@ZnodeResources.TitleCouponInformation</h4>
<div class="form-group" id="lblChkBox">
    <div class="col-sm-8 col-sm-offset-4">
        <label>
            <input id="CouponInd" name="CouponInd" type="checkbox" checked="@Model.CouponInd" value="true" onchange="Promotion.ShowHideCouponInfo('@UserTypes.Admin.ToString()');">
            <span class="lbl padding-8" for="EnableToCouponCode">@ZnodeResources.LabelRequireCoupon</span>            
        </label>
    </div>
</div>
<script>
    $(document).ready(function () {
        Promotion.Init("Admin");
    });
</script>