﻿@model Znode.Engine.MvcAdmin.ViewModels.PromotionsViewModel

<div class="col-sm-8" style="display:none">
    @Html.DropDownListFor(model => model.CategoryId, Model.CategoryList, ZnodeResources.LabelAllCategories, new { @id = "ddlCategory" })
</div>
<div class="col-sm-8" style="display:none">
    @Html.DropDownListFor(model => model.CatalogId, Model.CatalogList, ZnodeResources.LabelAllCatalogs, new { @id = "ddlCatalog" })
</div>