﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using Resources;
@{
    if (!Equals(Model, null))
    {
        Model.IsAdvanceSearchHide = true;
    }
}
<div id="grid-container">
    <div class="col-sm-12 nopadding">
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm(ZnodeResources.LabelGetProductListAction, ZnodeResources.LabelPromotionController, new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.FilterColumn)
                    </div>
                }
            </div>
        </div>

        <div class="col-sm-12 list-container nopadding">
            <div id="d-grid" class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        WebgridPagerHelper.Init();
        Promotion.GridPaging();
    });
</script>