﻿@model Znode.Engine.MvcAdmin.ViewModels.PromotionsViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Znode.Engine.MvcAdmin.Helpers
@using Resources;

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();  
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmPromotion", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, CancelUrl = "/Promotion/list", Callback = "Promotion.ValidatePromotionAttributes" };
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @if (actionName.ToLower() == "Create".ToLower())
        {
            <h1 class="left">@ZnodeResources.HeaderAddNewPromotion</h1>
        }
        else
        {
            <h1 class="left">@ZnodeResources.HeaderEditPromotion - @Model.Name</h1>
        }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>

    <div class="col-sm-12 add-new-item">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @id = "frmPromotion" }))
        {
            @Html.ValidationSummary(true)
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                    <h4>@ZnodeResources.LabelGeneralInformation</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Name, new { @Class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Description)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Description)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.StartDate, new { @Class = "required" })
                        </div>
                        <div class="col-sm-8 right-inner-icon">
                            @Html.TextBoxFor(model => model.StartDate, new { @class = "datepicker", data_date_format = @Model.DatePickDateFormat })
                            <i class="glyphicon glyphicon-calendar"></i>
                            @Html.ValidationMessageFor(model => model.StartDate, null, new { id = "valStartDate" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.EndDate, new { @Class = "required" })
                        </div>
                        <div class="col-sm-8 right-inner-icon">
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "datepicker", data_date_format = @Model.DatePickDateFormat })
                            <i class="glyphicon glyphicon-calendar"></i>
                            @Html.ValidationMessageFor(model => model.EndDate, null, new { @id = "valEndDate" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.PromoCode, new { @Class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.PromoCode)
                            @Html.ValidationMessageFor(model => model.PromoCode)
                            <div id="divProductAttributes">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.DisplayOrder, new { @Class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.DisplayOrder)
                            @Html.ValidationMessageFor(model => model.DisplayOrder)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    <h4>Discount</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.PromotionTypeList)
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.PromotionTypeId, Model.PromotionTypeList, new { @id = "ddlPromotionType" })
                        </div>
                    </div>
                    <div class="" id="portal-profile-list">
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.PortalList, new { @class = "required" })
                                <span class="sub">@ZnodeResources.LabelPromotionStores</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.PortalId, Model.PortalList, ZnodeResources.LabelAllPortals, new { @id = "ddlPortal", @onchange = "Promotion.EnableAllowMultipleCouponCheckbox()" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.ProfileList, new { @class = "required" })
                                <span class="sub">@ZnodeResources.TextProfiles</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.ProfileId, Model.ProfileList, ZnodeResources.LabelAllProfiles, new { @id = "ddlProfile" })
                            </div>
                        </div>
                    </div>

                    <div id="PromotionTypeForm-container">
                        @Html.Partial("~/Views/Promotion/_AmountOfBrand.cshtml", Model)
                    </div>

                    @*This div important Dont delete*@
                    <div id="Coupon-Container">
                    </div>
                    <div class="form-group">
                        @if (actionName.ToLower() == "edit".ToLower())
                        {
                            @Html.HiddenFor(model => model.PromotionId)
                        }
                    </div>
                </div>
            </div>
        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.PortalId)


</div>
@Scripts.Render("~/bundles/Promotion")
<script>
    $(document).ready(function () {
        Promotion.Init("Admin");
        Promotion.getPromotionTypeForm($("#ddlPromotionType option:selected").val(), "Admin");
    });
</script>