﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;    
}

<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@ZnodeResources.HeaderPromotionList</h1>
            <button type="submit" class="btn-text-icon red pull-right" onclick="javascript: location.href ='/Promotion/Create';" title="@ZnodeResources.ButtonAdd"><i class="glyphicon glyphicon-plus"></i>@ZnodeResources.ButtonAdd</button>
        </div>
        <div class="col-sm-12 search-container">
            <p class="left">@ZnodeResources.TextPromotions</p>
        </div>
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm(ZnodeResources.LabelListAction, ZnodeResources.LabelPromotionController, new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.FilterColumn)
                    </div>
                }
            </div>
        </div>

        <div class="col-sm-12 list-container">
            <div id="d-grid" class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Promotion")
<script type="text/javascript" language="javascript">

    $("#btnsearch").on("click", function () {
        return Promotion.PreventSearchSubmit();
    });

    $(document).on("change", '.datepicker', function () {
        return Promotion.StartEndDateValidation();
    });
</script>