﻿@model Znode.Engine.MvcAdmin.Models.ReportModel

<div class="col-sm-12 product-search">
    <div id="report-textfield">
        @Html.Partial("~/Views/Filter/_FilterColumnList.cshtml", Model)
    </div>
    <div id="report-field" class="clear">
        @Html.Partial("~/Views/Filter/_SearchFilter.cshtml", Model.FieldList)
    </div>
    <div class="pull-right top-shift">
        <button type="submit" id="submitAdvanceSearch" class="btn-text red" title="@ZnodeResources.ButtonSearch">@ZnodeResources.ButtonSearch</button>
        <a class="btn-text grey" id="advanceSearchClear" onclick="DynamicGrid.clearAdvanceSearch()" href="javascript:void(0)" title="@ZnodeResources.ButtonClear">@ZnodeResources.ButtonClear</a>
    </div>
</div>
<script>
    $(document).ready(function () {
        DynamicGrid.bindAdvanceSearchEvents();

        $("#submitAdvanceSearch").unbind("click");
        $("#submitAdvanceSearch").click(function () {
            if ($("#AssignedId option").length === 0) {
                CommonHelper.DisplayNotificationMessagesHelper("At least one Column should be selected.", "error", false, 5000);
                return false;
            }
            else {
                $("#AssignedId option").attr("selected", "selected");
            }
        });

        $("#advance-search .fields-name").change();

        $("#advance-search input[name=Values]").keydown(function (e) {
            DynamicGrid.DataValidattion(e, this);
        });
    });


</script>