﻿@model Znode.Engine.MvcAdmin.Models.FilterColumnListModel
@using Znode.Engine.MvcAdmin.Models
@foreach (FilterColumnModel column in Model.FilterColumnList)
{
    <div class="col-lg-3 col-md-4 col-sm-12 product-group">
        <div class="form-group">
            <div class="col-sm-12 col-md-10 nopadding">
                @Html.Label(column.HeaderText)
            </div>
            @if (column.DataType.Equals("DateTime") || column.DataType.Equals("Date"))
            {
                string value = column.Value.ToString().Trim('\'');
                <div class="col-sm-12 col-md-10 nopadding right-inner-icon">

                    <input class="datepicker" data-date-format="@Model.FilterDateFormat" type="text" name="@column.ColumnName" data-columnname="@column.ColumnName" placeholder="" value="@value" maxlength="50" />
                    <i class="glyphicon glyphicon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </div>
            }
            else
            {
                string textValue = (column.Value.IndexOf("''") >= 0) ? column.Value.Replace("''", "'") : column.Value;
                string mxlen = Equals(column.DataType, "Int32") ? "maxlength=20" : string.Empty;
                <div class="col-sm-12 col-md-10 nopadding" id="filter-componant-control-content">
                    <input type="text" data-datype="@column.DataType" @mxlen name="@column.ColumnName" data-columnname="@column.ColumnName" placeholder="" value="@textValue" maxlength="50" />
                </div>
            }

        </div>
    </div>
}


@if (!Equals(Model, null))
{
    if (Model.DropdownList.Count > 0)
    {
        foreach (var dropdown in Model.DropdownList)
        {
            <div class="col-lg-3 col-md-4 col-sm-12 product-group">
                <div class="form-group">
                    <div class="col-sm-12 col-md-10 nopadding">
                        <label>@dropdown.Label</label>
                    </div>
                    <div class="col-sm-12 col-md-10 nopadding">
                        <select name="@dropdown.Name" id="@dropdown.Name">
                            @foreach (var option in dropdown.Dropdown)
                            {
                                <option @(option.Selected == true ? "selected" : "") value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        }
    }
}
@{
    if ((Model.FilterColumnList.Count() + Model.DropdownList.Count()) <= 3)
    {
        <div class="col-lg-3 col-md-4 col-sm-12 product-group">
            <div class="search-panel-btn">
                <button type="submit" name="SearchButton" title="@ZnodeResources.ButtonSearch" id="btnsearch" class="btn-text red">@ZnodeResources.ButtonSearch</button>
                <button type="reset" name="Clear" title="@ZnodeResources.ButtonClear" id="btnClearSearch" class="btn-text grey">@ZnodeResources.ButtonClear</button>
            </div>
        </div>
    }
    else
    {
        <div class="col-sm-12 nopadding">
            <div class="pull-right search-panel-btn-right">
                <button type="submit" name="SearchButton" title="@ZnodeResources.ButtonSearch" id="btnsearch" class="btn-text red">@ZnodeResources.ButtonSearch</button>
                <button type="reset" name="Clear" title="@ZnodeResources.ButtonClear" id="btnClearSearch" class="btn-text grey">@ZnodeResources.ButtonClear</button>
            </div>
        </div>
    }
}
<div id="search-validation-summary" class="col-sm-12 nopadding field-validation-error" style="display:block;"></div>


