﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using System.Data;
@using System.Dynamic;

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

    string querystr = "~/AdvanceSearch/AdvanceSearch?returnurl=" + controllerName + "/" + actionName + "";
    string clearAdvanceSearch = "~/AdvanceSearch/ClearAdvanceSearch?returnurl=" + HelperMethods.GetDomainUrl();
}


<style>
    /*Here I will write some css for looks good*/

    th, td {
        padding: 5px;
    }

    th {
        /*background-color: rgb(248, 248, 248);*/
    }

    #grid, #grid tr {
        border: 1px solid #0D857B;
    }

    #subT, #subT tr {
        border: 1px solid #f3f3f3;
    }

    #subT {
        margin: 0px 0px 0px 10px;
        padding: 5px;
        width: 95%;
    }

        #subT th {
            font-size: 12px;
        }

    .hoverEff {
        cursor: pointer;
    }

        .hoverEff:hover {
            background-color: rgb(248, 242, 242);
        }

    .expand-grid {
        background-image: url(/Content/themes/base/images/pm.png);
        background-position-x: -22px;
        background-repeat: no-repeat;
        width: 20px;
    }

    .collapse-grid {
        background-image: url(/Content/themes/base/images/pm.png);
        background-position-x: -2px;
        background-repeat: no-repeat;
        width: 20px;
    }
</style>

<div id="Dynamic_Grid">

    <div class="col-sm-12 advance-search-link nopadding">
        <div class="pull-right">
            <a href="@Url.Content(querystr)" title="Advanced Search">Advanced Search</a> | <a href="@Url.Content(clearAdvanceSearch)" onclick="DynamicGrid.clickonGridClear(event,this)" title="Clear">Clear</a>
        </div>
    </div>
    @if (Model.DataTableToList != null)
    {
        if (Model.DataTableToList.Count > 0)
        {
            if (!string.IsNullOrEmpty(Model.SubRecordFilterKeyName) && !string.IsNullOrEmpty(Model.DelegateTypeName) && !string.IsNullOrEmpty(Model.DelegateTypeMethodName))
            {
                Model.WebGridColumn.Add(new WebGridColumn()
                {
                    Format = (item) =>
                    {
                        WebGrid subGrid = new WebGrid(source: FilterHelpers.GetSubRecords(item, Model.SubRecordFilterKeyName, Model.DelegateTypeName, Model.DelegateTypeMethodName), canSort: false);
                        return subGrid.GetHtml(
                            htmlAttributes: new { id = "subT" },
                            columns: subGrid.Columns(
                            subGrid.Column("Text", header: "", format: (gridRow) => new HtmlString(gridRow.Text))
                            ));
                    }
                });
            }
            WebGrid grid = new WebGrid(rowsPerPage: Model.RowPerPageCount, ajaxUpdateContainerId: "grid-container",
                ajaxUpdateCallback: "DynamicGrid.SetSortOrder"); grid.Bind(source: Model.DataTableToList,
                rowCount: Model.TotalRecordCount, autoSortAndPage: false); grid.SortDirection = Model.GridSortDirection;
            grid.SortColumn = Model.GridSortColumn;
    <div class="table-responsive col-sm-12 nopadding scroll-default">
        @grid.GetHtml(
                     htmlAttributes: new { id = "grid", @class = "table table-striped" },
                     headerStyle: "grid-header",
                     columns: Model.WebGridColumn)
    </div>
    <div class="col-sm-12 nopadding">
        @grid.CustomPager(Html)
        @Html.Hidden("dir", grid.SortDirection) @Html.Hidden("col", grid.SortColumn)
    </div>
        }
        else
        {
    <div class="col-sm-12 no-record nopadding">
        <p>@ZnodeResources.LabelNoRecordFound</p>
    </div>
        }
    }
    else
    {
    <div class="col-sm-12 no-record nopadding">
        <p>@ZnodeResources.LabelNoRecordFound</p>
    </div>
    }
</div>
