﻿@model Znode.Engine.MvcAdmin.Models.DropdownListModel
@{
    int numberOfRows = 5;
}
<div id="advance-search">

    <div class="col-sm-12 nopadding advance-title">
        <div class="col-sm-3 nopadding">
            <div class="col-sm-10 nopadding">
                @Html.Label("Field")
            </div>            
        </div>

        <div class="col-sm-3 nopadding">
            <div class="col-sm-10 nopadding">
                @Html.Label("Operator")
            </div>            
        </div>

        <div class="col-sm-3 nopadding">
            <div class="col-sm-10 nopadding">
                @Html.Label("Value")
            </div>            
        </div>

        <div class="col-sm-3 nopadding">
            <div class="col-sm-10 nopadding">
                @Html.Label("And")
            </div>            
        </div>
    </div>

    @{
        int[] _fieldsId = !Equals(Session["FieldsCollection"], null) ? (int[])Session["FieldsCollection"] : null;
        int[] _operatorId = !Equals(Session["OperatorsCollection"], null) ? (int[])Session["OperatorsCollection"] : null;
        string[] _values = !Equals(Session["ValuesCollection"], null) ? (string[])Session["ValuesCollection"] : null;
        string[] _clauses = !Equals(Session["ValuesCollection"], null) ? (string[])Session["ValuesCollection"] : null;

    }

    @for (int row = 0; row < numberOfRows; row++)
    {
        int selectedFIeldId = 0;
        int selectedOperatorId = 0;
        string selectedValue = string.Empty;
        if (!Equals(_fieldsId, null))
        {
            if (_fieldsId.Length > row && _operatorId.Length > row)
            {
                selectedFIeldId = !Equals(_fieldsId, null) ? _fieldsId[row] : 0;
                selectedOperatorId = !Equals(_operatorId, null) ? _operatorId[row] : 0;
                selectedValue = !Equals(_values, null) ? _values[row] : string.Empty;
            }
        }

        <div class="col-sm-12 nopadding advance-container">
            <div class="col-sm-3 nopadding">
                <div class="col-sm-10 nopadding">
                    <select name="FieldName" class="fields-name">
                        @foreach (var item in Model.Dropdown)
                        {
                            <option value="@item.Value" @(item.Value == selectedFIeldId.ToString() ? "selected" : "")> @item.Text</option>
                        }

                    </select>
                </div>
            </div>

            <div class="col-sm-3 nopadding">
                <div class="col-sm-10 nopadding">
                    <select name="Operator" data-value="@selectedOperatorId"></select>
                </div>
            </div>

            <div class="col-sm-3 nopadding">
                <div class="col-sm-10 nopadding">
                    @Html.TextBox("Values", selectedValue)
                </div>
            </div>

            <div class="col-sm-3 nopadding">
                <div class="col-sm-10 nopadding">
                    <select name="Clause">
                        <option value=""></option>
                        <option title="AND" value="AND">AND</option>
                    </select>
                </div>
            </div>
        </div>
    }

</div>

