﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using Znode.Engine.MvcAdmin.Helpers;
@{
    ViewBag.Title = "Advance Search";
    string returnurl = string.Empty;
    returnurl = Convert.ToString(Request.UrlReferrer);
    //if (Session[MvcAdminConstants.AdvanceSearchReturnUrl] != null)
    //{
    //    returnurl = Convert.ToString(Session[MvcAdminConstants.AdvanceSearchReturnUrl]);
    //}
    //else
    //{
    //    Session[MvcAdminConstants.AdvanceSearchReturnUrl] = returnurl;
    //}
}
@using (Html.BeginForm("AdvanceSearch", "AdvanceSearch", new { @id = "advanceSearchForm" }))
{
    @Html.Hidden("returnUrl", returnurl.Replace(HelperMethods.GetDomainUrl(), ".."))
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">Advanced Search</h1>
            <a href="@returnurl" id="AdvanceSearchBackBtn" class="btn-text-icon grey pull-right" title="@ZnodeResources.ButtonBack"><i class='z-arrow-left'></i>@ZnodeResources.ButtonBack</a>
        </div>

        <div id="advance-search-containt">
            @Html.Partial("~/Views/Filter/_AdvanceSearch.cshtml", Model)
        </div>
    </div>
}


<script>
    $(document).ready(function () {
        $("#AdvanceSearchBackBtn").click(function () { $.ajax('/AdvanceSearch/DestroySession'); })
    });
</script>
