﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using Resources
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">
                @ZnodeResources.ManageStoresHeading
                <a data-toggle="popover" data-contentwrapper=".popover-content"><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-original-title="Click Here"></i> </a>
            </h1>
        </div>
        <div class="col-sm-12 search-container">
            <p class="left">@ZnodeResources.StorefrontDescription</p>
            @Html.ActionLink(ZnodeResources.ButtonAddNewStore, "Create", "Stores", new { @class = "btn-text red pull-right", @title = ZnodeResources.ButtonAddNewStore })
        </div>
        <div class="col-sm-12 product-search">
            <div>
                @using (Ajax.BeginForm("List", "Stores", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent">
                        @*@Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.FilterColumn)*@
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-12 list-container">
            <div class="col-sm-12 list-title nopadding">
                <h3 class="left">@ZnodeResources.StoreListHeader</h3>
            </div>
            @Html.Partial("~/Views/Filter/_NestGrid.cshtml", Model)
        </div>

    </div>
</div>

<div class="popover-content hide">
    @ZnodeResources.PopUpStoreInformation
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            DynamicGrid.CreateNestedGridNode();
        });
    </script>
}