﻿@model Znode.Engine.MvcAdmin.ViewModels.ProfileViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
}
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "formProfile", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @if (actionName.ToLower() == "create")
        {
            <h1>@Resources.ZnodeResources.HeaderAddNewProfile</h1>
        }
        else
        {
            <h1>@Resources.ZnodeResources.HeaderEditProfile @Model.Name</h1>
        }
    </div>

    <div class="col-sm-12 col-md-6 col-lg-5 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "formProfile" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ProfileId)
            <h4>@ZnodeResources.LabelGeneralInformation</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Name, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.ExternalId)
                    <p class="sub">@Resources.ZnodeResources.ProfileExternalIdHelpText</p>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.ExternalId)
                    @Html.ValidationMessageFor(model => model.ExternalId)

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Weighting, new { @class = "required" })
                    <p class="sub">@Resources.ZnodeResources.ProfileWeightingHelpText</p>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Weighting, new { @maxlength = 9 })
                    @Html.ValidationMessageFor(model => model.Weighting)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Resources.ZnodeResources.LabelSettings
                </div>
                <div class="col-sm-8">
                    <div class="col-sm-12 nopadding">
                        <label>
                            <input @(Model.ProductPrice ? "checked='checked'" : "") id="ProductPrice" name="ProductPrice" type="checkbox" value="true">
                            <span class="lbl padding-8">@Html.LabelFor(model => model.ProductPrice)</span>
                            <input name="ProductPrice" type="hidden" value="false">
                        </label>
                    </div>
                    <div class="col-sm-12 nopadding">
                        <label>
                            <input @(Convert.ToBoolean(Model.WholeSalePrice) ? "checked='checked'" : "") id="WholeSalePrice" name="WholeSalePrice" type="checkbox" value="true">
                            <span class="lbl padding-8">@Html.LabelFor(model => model.WholeSalePrice)</span>
                            <input name="WholeSalePrice" type="hidden" value="false">
                        </label>
                    </div>
                    <div class="col-sm-12 nopadding">
                        <label>
                            <input @(Model.Affiliate ? "checked='checked'" : "") id="Affiliate" name="Affiliate" type="checkbox" value="true">
                            <span class="lbl padding-8">@Html.LabelFor(model => model.Affiliate)</span>
                            <input name="Affiliate" type="hidden" value="false">
                        </label>
                    </div>
                    <div class="col-sm-12 nopadding">
                        <label>
                            <input @(Model.TaxExempt ? "checked='checked'" : "") id="TaxExempt" name="TaxExempt" type="checkbox" value="true">
                            <span class="lbl padding-8">@Html.LabelFor(model => model.TaxExempt)</span>
                            <input name="TaxExempt" type="hidden" value="false">
                        </label>
                    </div>
                </div>
            </div>

        }
        <div class="col-sm-12 nopadding">
            <div class="form-group ">
                <div class="pull-right">
                    @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
                </div>
            </div>
        </div>
    </div>
</div>