﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">
                @Resources.ZnodeResources.HeaderProfileList
                <a data-toggle="popover" data-contentwrapper=".popover-content"><i class="glyphicon glyphicon-question-sign help" data-toggle="tooltip" data-placement="bottom" data-original-title="@ZnodeResources.PopUpProfileInformation"></i> </a>
            </h1>
            <button id="btnAddNewProfile" class="btn-text-icon red pull-right" title="@Resources.ZnodeResources.ButtonAdd" onclick="javascript:location.href='/Profiles/Create'"><i class="glyphicon glyphicon-plus"></i>@Resources.ZnodeResources.ButtonAdd</button>
        </div>
        <div class="col-sm-12 search-container">
            <p class="left">@Resources.ZnodeResources.SubHeaderProfileList</p>
            
        </div>
        <div class="col-sm-12 list-container">
            <div class="col-sm-12 list-title nopadding">
            </div>
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
            </div>
        </div>
    </div>
</div>

