﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels

@model CategoryListViewModel

<ul class="nav navbar-nav">
    <li class="nav-home"><a href="/" title="Home"><i class="zf-home"></i></a></li>
    @{
        foreach (var category in Model.Categories)
        {
            <li class="dropdown  yamm-fw">                
                <a href="@Url.GetCategoryUrl(category.SEOPageName, category.CategoryName, category.CategoryId)"><i class="zf-caret-right"></i> @WebUtility.HtmlDecode(category.CategoryName)</a>
                @if (!Equals(category.SubCategoryItems, null) && category.SubCategoryItems.Count > 0)
                {
                    <ul class="dropdown-menu list-unstyled fadeInUp animated">

                        @Html.Partial("_HeaderSubNav", category.SubCategoryItems)

                    </ul>
                }
            </li>
        }
    }
</ul>
