﻿@using Znode.Engine.MvcDemo
@using Znode.Engine.MvcDemo.ViewModels

@model KeywordSearchViewModel

<div id="layout-altcategory">
    @if (Model.Categories != null && Model.Categories.Any())
    {
		<div class="location">
			<h1 class="location-title">@Model.Category</h1>
		</div>
		<div class="category-feature">
			<div class="feature-splash">
				<div class="title">The finest grapes.<br />The finest wines.</div>
				<img src="/Images/t.gif" data-src="/Images/bg-winegrapes.jpg" class="delay" />
			</div>
			<div class="feature-nav">
				<p>
					Whether you need wine for a wedding,
					a dinner or just a night with friends, we have
					the variety for every occassion.
				</p>
				<h4 class="section-header">Browse</h4>
				<ul class="menu">
					@foreach (var category in Model.Categories)
					{
						<li>@Html.ActionLink("Browse all " + category.Name, "Index", "Search", new {category = category.Name}, new {@class = "arrow-right-before"}) </li>
						foreach (var subCategory in category.Hierarchy)
						{
							<li>@Html.ActionLink(subCategory.Name, "Index", "Search", new {category = subCategory.Name}, new {@class = "arrow-right-before"}) </li>
						}
					}
				</ul>
				
				<div class="category-filters">
					<h3 class="section-header"><a href="#" id="toggle-filters" data-toggle="#filter-container" class="toggle arrow-down-after">@Resources.ZnodeResource.SubTitleRefineBrowsing</a></h3>
					<div id="filter-container">
						<ul>
							@foreach (var facet in Model.Facets)
							{
								<li>
									@Html.Partial("../Search/_FacetList", facet)
								</li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="category-browse grid-row">
				<div class="browse-grid">
					@Html.Partial("../Product/_ProductGrid", Model.Products)
					<div class="category-more text-center">
						@Html.ActionLink("View all " + @Model.Category, "Index", "Search",
							 new { Category = Model.Category, pagenumber = 1 },
							 new { @class = "button" }
						)
					</div>
				</div>
				<div class="browse-sidebar">
					<ul>
						@foreach (var facet in Model.Facets)
						{
							<li>
								@Html.Partial("../Search/_FacetList", facet)
							</li>
						}
					</ul>
				
				</div>
			</div>
			
			
		</div>

        
    }
</div>
