﻿@using Znode.Engine.MvcDemo.ViewModels
@using Znode.Engine.MvcDemo.Helpers
@using Resources

@model SubcategoriesViewModel
<div class="main-wrapper">
    <div class="container">
        <div class="row">

            <aside class="col-xs-12 col-sm-3 side-bar">
                <a href="#" id="toggle-filters" data-toggle="#slide-down" class="toggle narrow-results">@Resources.ZnodeResource.LabelNarrowResults</a>
                <div id="slide-down" class="col-xs-12 col-sm-12 nopadding">
                    <div class="row category-promo">
                        @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "MVCDemoCategoryLandingSlot1" }); }
                    </div>
                    <div class="row category-promo">
                        @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "MVCDemoCategoryLandingSlot2" }); }
                    </div>
                    <div class="row category-promo">
                        @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "MVCDemoCategoryLandingSlot3" }); }
                    </div>
                </div>
                <div class="col-xs-12 nopadding">
                    <div id="compareProductList">
                    </div>
                </div>
            </aside>

            <div class="col-xs-12 col-sm-9 category-landing-container">
                <div class="col-xs-12 col-sm-12 product-grid nopadding">
                    <h1>Category</h1>
                    <div class="col-xs-12 col-sm-12 nopadding products-modes-setting">
                        @if (!Equals(Model.Title, null))
                        {
                            <div class="col-xs-12 col-sm-6 nopadding">
                                <div class="view-mode pull-right">
                                    <span>@Resources.ZnodeResource.ProductViewMode &nbsp;</span>
                                    <a href="javascript:void(0);" class="productview grid-view-opt-active" title="Grid View"><i class="zf-grid-view"></i></a>
                                    <a href="javascript:void(0);" class="productview list-view-opt" title="List View"><i class="zf-list-view"></i></a>
                                    <a href="javascript:void(0);" class="productview text-view-opt" title="Text View"><i class="zf-text-view"></i></a>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="col-xs-12 col-sm-12 product-view nopadding">
                        @Html.Partial("_CategoryGrid", Model)
                    </div>

                    <div class="col-xs-12 col-sm-12 title-category nopadding" id="category-recent-product-header">
                        <h1>@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "RecentlyViewedTitle" }); }</h1>
                    </div>
                    <div class="col-xs-12 col-sm-12 nopadding recent-product-view">
                        @*to show recently view item list*@
                        <div id="category-recent-product">
                            <span class="recent-view-items"></span>
                        </div>
                    </div>

                </div>
            </div>            
        </div>
    </div>
</div>


@Html.HiddenFor(m => m.ParentCategoryName, new { @id = "hdnCategoryName" })


