﻿@model Znode.Plugin.Framework.Models.ConfigurationModel

@{
    ViewBag.Title = "Plugins | Multifront®";
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>Plugins</h1>
    </div>
    <div class="col-sm-12 search-container">
        <p>Manage your plugins.</p>
        <text>@Html.Raw("<span  class='btn-text red pull-right' style='cursor:pointer' title='" + "Submit" + "' onclick='PluginConfigurator.ResetAccountPassword(\" " + "Conform Load Plugins" + "\", \" " + "It will clear session and will take some time to complete operation, Untill then no request to server will be accepted. Do you want to proceed and Load New Plugins?" + "\", \"/" + "LoadPlugins" + "/" + "LoadPlugins" + "\");'>" + "Load Plugins" + "</span>")</text>
    </div>
    <div class="col-sm-12 list-container">
        <table class="table table-striped">
            @{
                var index = 0;
            }

            @foreach (var item in Model.Plugins)
            {
                if (index == 0)
                {
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => item.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.Version)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.IsInstalled)
                            </th>
                            <th>Status</th>
                        </tr>
                    </thead>
                }
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Version)
                    </td>
                    <td>
                        <label>
                            @Html.DisplayFor(model => item.IsInstalled)
                            <span class="lbl padding-8"></span>
                        </label>
                    </td>
                    <td>
                        @if (item.IsInstalled)
                        {
                            @Html.ActionLink("Configure", "Index", item.ConfigurationEndPoint) @Html.Raw(" | ")
                            @Html.ActionLink("Uninstall", "Uninstall", new { name = item.Name });
                        }
                        else
                        {
                            @Html.ActionLink("Install", "Install", new { name = item.Name })
                        }
                    </td>
                </tr>

                        index++;
            }

        </table>
    </div>

</div>
<script src="~/plugins/PluginConfigurator/script/PluginConfigurator.js"></script>