﻿@using Znode.Engine.MvcDemo.ViewModels
@model AddressViewModel

<div class="edit-address-form">

    @Html.ValidationSummary(true)

    @if (Model.AccountId > 0)
    {

        <div class="form-group">
            <div class="col-xs-12 nopadding">
                <label for="address_name" class="">@Resources.ZnodeResource.ColumnDisplayName</label>
                <p class="sub">@Resources.ZnodeResource.HintTextDisplayName</p>
            </div>
            <div class="col-xs-12 nopadding">
                @Html.TextBoxFor(m => m.Name, new { @id = "address_name", @class = "form-input-long" })
                <p class="error-msg">@Html.ValidationMessageFor(m => m.Name)</p>
            </div>
        </div>
    }

    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_firstname" class="required">@Resources.ZnodeResource.ColumnFirstName</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.TextBoxFor(m => m.FirstName, new { @id = "address_firstname", @class = "form-input-long" })
            <p class="error-msg">@Html.ValidationMessageFor(m => m.FirstName)</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_lastname" class="required">@Resources.ZnodeResource.ColumnLastName</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.TextBoxFor(m => m.LastName, new { @id = "address_lastname", @class = "form-input-long" })
            <p class="form-error">@Html.ValidationMessageFor(m => m.LastName)</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_company" >@Resources.ZnodeResource.ColumnCompanyName</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.TextBoxFor(m => m.CompanyName, new { @id = "address_company", @class = "form-input-long" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_street1" class="required">@Resources.ZnodeResource.ColumnStreetAddress</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.TextBoxFor(m => m.StreetAddress1, new { @id = "address_street1", @class = "form-input-long" })
            @Html.TextBoxFor(m => m.StreetAddress2, new { @id = "address_street2", @class = "margin-top" })
            <p class="error-msg">@Html.ValidationMessageFor(m => m.StreetAddress1)</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_country" class="required">@Resources.ZnodeResource.ColumnCountry</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.DropDownListFor(ob => ob.CountryCode, new SelectList(Model.Countries, "Code", "Name"), new { @class = "address_country" })
            <p class="error-msg">@Html.ValidationMessageFor(m => m.CountryCode)</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_state" class="required">@Resources.ZnodeResource.ColumnState</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.DropDownListFor(ob => ob.StateCode, new SelectList(Model.States, "Code", "Name"), new { @class = "address_state" })
            <p class="error-msg">@Html.ValidationMessageFor(m => m.StateCode)</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_city" class="required">@Resources.ZnodeResource.ColumnCity</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.TextBoxFor(m => m.City, new { @id = "address_city", @class = "form-input-long" })
            <p class="error-msg">@Html.ValidationMessageFor(m => m.City)</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="address_zipcode" class="required">@Resources.ZnodeResource.ColumnZipCode</label>
        </div>
        <div class="col-xs-12 nopadding">
            @Html.TextBoxFor(m => m.PostalCode, new { @id = "address_zipcode", @class = "form-input-short" })
            <p class="error-msg">@Html.ValidationMessageFor(m => m.PostalCode)</p>
        </div>
    </div>
</div>

@Html.HiddenFor(ob => ob.CountryCode, new { @id = "hdn_CountryCode" })
@Html.HiddenFor(ob => ob.StateCode, new { @class = "hdn_StateCode" })


@if (Model.AddressId > 0)
    {
    @Html.HiddenFor(m => m.AddressId)
    }
@if (Model.AccountId > 0)
    {
    @Html.HiddenFor(m => m.AccountId)
    }



@if (Model.IsDefaultShipping)
    {
    @Html.HiddenFor(m => m.IsDefaultShipping)
    }
@if (Model.IsDefaultBilling)
    {
    @Html.HiddenFor(m => m.IsDefaultBilling)
    }

