﻿/*   
Theme Name: Znode Dashboard.
Theme URI: http://znode.com
Description: Znode e-commerce framework Dashboard theme. 
Author: Znode.
Author URI: www.mrrsoft.com
Version: 1.0.0.1

/***************** GENERAL CLASS & WIDGETS ******************
Button ,Grid ,Pagination ,Dropdown ,Scroll Bar ,Table ,Jquery PopUp ,DatePicker ,Znode Icons ,Chackbox & Redio ,Input Fields Inner Icons.
*/

html, body {height:100%; font-family:'Arial';font-size:12px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;color:#292a2a;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;-ms-transition: all 0.5s ease;transition: all 0.5s ease;}
/*----Generalize CSS----*/
.nopadding{padding:0; margin:0;}
.left{float:left;}
.right{float:right;}
a,a:hover,a:active,a:focus{outline: medium none;text-decoration:none;}
i,i:hover,i:active,i:focus{outline: medium none;}
li{list-style:none;}
h1{color:#292a2a; margin:8px 0;font-size:14px;font-weight:bold;font-family:'Georgia';}
h2{color:#292a2a; margin:8px 0;font-size:14px;font-weight:bold;font-family:'Georgia';}
h3{color:#292a2a; margin:6px 0;font-size:12px;font-weight:bold;}
h4{color:#292a2a; margin:6px 0;font-size:12px;font-weight:bold;}
h5{color:#292a2a; margin:4px 0;font-size:11px;}
h6{color:#292a2a; margin:2px 0;font-size:11px;}
.required:after {content:' * '; color:#e42e23;}
/*----btn-text & Color----*/
.btn-text {display:inline-block;min-width:70px; padding:0 10px; margin-left:5px; text-align:center;font-family:'Arial';border:0; color:#fff; font-size:12px; font-weight:700; text-transform:none;text-transform:uppercase;height:24px;line-height:24px;}
.btn-text-icon {display:inline-block;min-width:70px; padding:0 15px 1px 10px; margin-left:5px; text-align:center;font-family:'Arial';border:0; color:#fff; font-size:12px; font-weight:700; text-transform:none;text-transform:uppercase;height:24px;line-height:25px;}
.btn-text-full {display:inline-block; width:100%; padding:0 15px; text-align:center;font-family:'Arial';border:0; color:#fff; font-size:12px; font-weight:700; text-transform:none;text-transform:uppercase;height:26px;line-height:26px;}
.btn-text:hover,.btn-text-full:hover,.btn-text-icon:hover,.btn-text:active,.btn-text-full:active,.btn-text-icon:active,.btn-text:focus,.btn-text-full:focus,.btn-text-icon:focus{color:#fff}
.btn-text-icon i{padding-right:5px; font-size:9px;line-height:23px; float:left}
.red {background:#dc2920;}
.grey {background:#5c5c5c;}
.btn-text:active,.btn-text:focus,.btn-text:hover{color:#fff;}
/*----Input Fields----*/
input[type="text"], input[type="password"], input[type="email"] {color:#4c4d4e; font-family: 'Arial';font-size:12px; width:100%; height:24px;border:1px solid #c3c3c3; box-shadow:none;}
textarea {color:#4c4d4e; font-family: 'Arial';font-size:12px; width:100%; border:0; box-shadow:none;resize: none;overflow-y: auto; border:1px solid #c3c3c3;}
input[type="file"] {position: absolute;top: 0px;margin: 0px;opacity: 0;cursor: pointer;width:70px; min-height:24px;}
.file-upload {position: relative;overflow: hidden;cursor: pointer;margin-left:0;}
/*----Input Fields Inner Icons----*/
.left-inner-icon {position: relative;}
.left-inner-icon input {padding-left: 38px;}
.left-inner-icon i {position: absolute;padding: 8px 5px;height:24px;pointer-events: none;top:0; color:#2e3e4d;line-height:8px;}
.left-inner-icon .unit{background-color:#737373; color:#fff;width:32px;height:24px; text-align:center;line-height:8px;}
.right-inner-icon {position: relative;}
.right-inner-icon input {padding-right: 38px;}
.right-inner-icon i {position: absolute;right: 0;top:0;padding: 9px 10px;height:24px;pointer-events: none; color:#e42e23;line-height:8px;}
.right-inner-icon .unit{background-color:#737373; color:#fff;width:32px;height:24px; text-align:center;line-height: 8px;}
.right-inner-icon .unit-text{background-color:#737373; color:#fff;width:35px;height:24px;text-align:center;padding:7px 5px;font-size:10px;line-height: 10px;}
/*----Chackbox & Redio Button----*/
input[type=checkbox],input[type=radio]{opacity:0;position:absolute;z-index:12;width:18px;height:18px;cursor:pointer;}
input[type=checkbox]:checked,input[type=radio]:checked,input[type=checkbox]:focus,input[type=radio]:focus{outline:none !important;cursor:pointer;}
input[type=checkbox]+.lbl,input[type=radio]+.lbl{z-index:11;display:inline-block;margin:0;line-height:20px;min-height:14px;min-width:14px;font-weight:normal;cursor:pointer;}
input[type=checkbox]+.lbl.padding-8::before,input[type=radio]+.lbl.padding-8::before{margin-right:8px;}
input[type=checkbox]+.lbl::before{font-family:Glyphicons Halflings;font-weight:normal;font-size:11px;color:#e42e23;content:"\a0";background-color:#fafafa;border:1px solid #ccc;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);border-radius:0;display:inline-block;text-align:center;vertical-align:baseline;height:16px;line-height:13px;min-width:16px;margin-right:1px; margin-top: -5px;}
input[type=radio]+.lbl::before{font-family:Glyphicons Halflings;font-weight:normal;font-size:11px;color:#e42e23;content:"\a0";background-color:#fafafa;border:1px solid #ccc;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);border-radius:0;display:inline-block;text-align:center;vertical-align:baseline;height:16px;line-height:15px;min-width:16px;margin-right:1px; margin-top: -5px;}
input[type=radio]+.lbl::before{vertical-align:middle;}
input[type=checkbox]:checked+.lbl::before,input[type=radio]:checked+.lbl::before{display:inline-block;content:'\e013';background-color:#F5F8FC;border-color:#adb8c0;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05),inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),inset 15px 10px -12px rgba(255, 255, 255, 0.1);cursor:pointer;}
input[type=checkbox]:hover+.lbl::before,input[type=radio]:hover+.lbl::before,input[type=checkbox]+.lbl:hover::before,input[type=radio]+.lbl:hover::before{border-color:#1c7aad;cursor:pointer;}
input[type=checkbox]:active+.lbl::before,input[type=radio]:active+.lbl::before,input[type=checkbox]:checked:active+.lbl::before,input[type=radio]:checked:active+.lbl::before{box-shadow:0 1px 2px rgba(0, 0, 0, 0.05),inset 0px 1px 3px rgba(0, 0, 0, 0.1);}
input[type=checkbox]:disabled+.lbl::before,input[type=radio]:disabled+.lbl::before,input[type=checkbox][disabled]+.lbl::before,input[type=radio][disabled]+.lbl::before,input[type=checkbox].disabled+.lbl::before,input[type=radio].disabled+.lbl::before{background-color:#DDD !important;border-color:#CCC !important;box-shadow:none !important;color:#BBB;}
input[type=radio]+.lbl::before{border-radius:32px;font-family:'Arial';font-size:34px;}
input[type=radio]:checked+.lbl::before{content:"\2022";}
/*----select dropdown----*/
select{color:#292a2a;font-size:12px; width:100%; height:24px;padding:2px 20px 2px 0; border:1px solid #c3c3c3; box-shadow:none;outline: medium none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;background: #fff url('themes/base/images/drop-arrow.png') no-repeat 98% center;text-indent: 0.01px;text-overflow: ""; border: 1px solid #c3c3c3;-webkit-transition: all 0.0s ease;-moz-transition: all 0.0s ease;-o-transition: all 0.0s ease;-ms-transition: all 0.0s ease;transition: all 0.0s ease;}
select option:hover{border:0; box-shadow:none;outline: medium none;-webkit-transition: all 0.0s ease;-moz-transition: all 0.0s ease;-o-transition: all 0.0s ease;-ms-transition: all 0.0s ease;transition: all 0.0s ease;}
select::-ms-expand {display:none;-webkit-transition: all 0.0s ease;-moz-transition: all 0.0s ease;-o-transition: all 0.0s ease;-ms-transition: all 0.0s ease;transition: all 0.0s ease;}
.ie select {display:none;-webkit-transition: all 0.0s ease;-moz-transition: all 0.0s ease;-o-transition: all 0.0s ease;-ms-transition: all 0.0s ease;transition: all 0.0s ease;}
/*----Table----*/
.table{margin-bottom:0;}
.table thead {background-color:#5c5c5c !important;color:#fff;}
.table thead a{color:#fff;}
.table tbody{border-bottom:1px solid #c3c3c3;}
.table tbody tr td{color:#292a2a;}
.table tbody tr td a{color:#dd2a21;}
.table tfoot{display:none;}
.table tbody tr .delete-link{cursor:pointer; color:#dd2a21;}
.table tbody tr i{color:#e42e23;}
.no-record p{color:#e42e23;padding:20px; text-align:center; font-size:16px;font-weight:bold;}
.actiov-icon{font-size:16px; display:block;}
.table tbody tr td input[type="text"]{width:50% !important;}
.print-table{font-size:12px;}
.grid-img{text-align:center;}
.grid-dynamic{height:330px; overflow:hidden;border:1px solid #c3c3c3;}
.sorting-arrow{padding-left:3px;font-size:8px;outline: medium none;vertical-align: text-top;}     
.expand-grid {background-image: url(/Content/themes/base/images/pm.png);background-position: -22px;background-repeat: no-repeat;width: 20px;}
.collapse-grid {background-image: url(/Content/themes/base/images/pm.png);background-position: -2px;background-repeat: no-repeat;width: 20px;}
.hoverEff {cursor: pointer;}   
/*----Grid pagination----*/
.pagination {width:100%;background-color:#f3f3f3; border:1px solid #c3c3c3;border-top:0;margin:0; padding:2px 5px;border-radius:0;}
.pagination ul{float:right;margin-right: 10px;}
.pagination ul li {float:left;margin:0 1px;font-size:12px; padding-top:2px;}
.pagination select { width:53px !important;margin: 2px 0 0; background-color:#fff; height:21px; padding-left:2px;padding:0;}
.pagination input { background-color:#fff; height:20px; text-align:center; margin:2px 5px;padding-right: 5px;max-width:50px;}
.pagination a {font-size:12px;color:#e42e23;padding:0 8px;vertical-align:middle;}
.pagination .first{border-right:1px solid #b7b7b7;}
.pagination .last{border-left:1px solid #b7b7b7;}
.pagination span.selectedTab {background-color:#c3c3c3; padding: 1px 5px;}
.pagination span {padding: 0 5px;font-size:12px;}
.pagination ul li:nth-child(5) {border-right:0;}
/*----Jquery PopUp----*/
.fakewindowcontain .ui-widget-overlay{position:absolute}
.ui-helper-hidden{display:none}
.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}
.ui-helper-clearfix:after,.ui-helper-clearfix:before{content:"";display:table;border-collapse:collapse}
.ui-helper-clearfix:after{clear:both}
.ui-helper-clearfix{min-height:0}
.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}
.ui-front{z-index:100}.ui-state-disabled{cursor:default!important}
.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}
.ui-draggable-handle{-ms-touch-action:none;touch-action:none}
.ui-resizable{position:relative}
.ui-resizable-handle{position:absolute;font-size:.1px;display:block;-ms-touch-action:none;touch-action:none}
.ui-resizable-autohide .ui-resizable-handle,.ui-resizable-disabled .ui-resizable-handle{display:none}
.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}
.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}
.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}
.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}
.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}
.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}
.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}
.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}
.ui-dialog{overflow:hidden;position:absolute;top:0;left:0;padding:.2em;outline:0}
.ui-dialog .ui-dialog-titlebar{padding:.4em 1em;position:relative}
.ui-dialog .ui-dialog-title{float:left;margin:.1em 0;white-space:nowrap;width:90%;overflow:hidden;text-overflow:ellipsis;}
.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:20px;margin:-10px 0 0;padding:1px;height:20px}
.ui-dialog-titlebar-close .btn-text{text-indent:-9999px !important;visibility:hidden;}
.ui-dialog-titlebar-close{ background: url("/Content/themes/base/images/close.png") repeat-x scroll 50% 50% transparent;background-color: transparent;border: 0 none;color: #fff;font-weight: 700;}
.ui-dialog-titlebar-close .ui-button-text{visibility:hidden;display:none}
.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:0 0;overflow:auto}
.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0;background-image:none;margin-top:.5em;padding:.3em 1em .5em .4em}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right;}
.ui-dialog-buttonset button:nth-child(1){background-color:#dc2920;display:inline-block;min-width:70px; padding:0 10px; margin-left:5px; text-align:center;font-family:'Arial';border:0; color:#fff; font-size:12px; font-weight:700; text-transform:none;text-transform:uppercase;height:24px;line-height:24px;}
.ui-dialog-buttonset button:nth-child(2){background-color:#5c5c5c;display:inline-block;min-width:70px; padding:0 10px; margin-left:5px; text-align:center;font-family:'Arial';border:0; color:#fff; font-size:12px; font-weight:700; text-transform:none;text-transform:uppercase;height:24px;line-height:24px;}
.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer; visibility:visible !important;}
.ui-dialog .ui-resizable-se{width:12px;height:12px;right:-5px;bottom:-5px;background-position:16px 16px}
.ui-draggable .ui-dialog-titlebar{cursor:move}
.ui-widget{font-family:'Arial';}
.ui-widget .ui-widget{font-size:1em}
.ui-widget button,.ui-widget input,.ui-widget select,.ui-widget textarea{font-family:'Arial';}
.ui-widget-content{border:1px solid #ddd;background:#eee;color:#333; z-index:9999!important;}
.ui-widget-header{border:1px solid #e42e23;background-color:#e42e23;color:#fff;font-weight:700}
.ui-widget-header a{color:#fff}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:0;background-color:transparent;font-weight:700;color:#fff;}
.ui-button .ui-button-text{display:inline-block;min-width:70px; padding:0 10px; margin-left:5px; text-align:center;border:0; color:#fff; font-size:12px; font-weight:700; text-transform:none;text-transform:uppercase;height:24px;line-height:24px;}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#1c94c4;text-decoration:none}
.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #fed22f;background:#ffe45c;color:#363636}
.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#363636}
.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#cd0a0a;color:#fff}
.ui-state-error a,.ui-state-error-text,.ui-widget-content .ui-state-error a,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error a,.ui-widget-header .ui-state-error-text{color:#fff}
.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:700}
.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:400}
.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}
.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}
.ui-widget-overlay{background:#666;opacity:.7;filter:Alpha(Opacity=50)}
.ui-widget-shadow{margin:-5px 0 0 -5px;padding:5px;background:#000;opacity:.2;filter:Alpha(Opacity=20);border-radius:5px}
.ui-autocomplete {position: absolute;top: 0;left: 0;cursor: default;height:200px;overflow:auto;padding:0 5px; margin:0;}
.ui-front {z-index: 100;}
.ui-lg-popup{width:800px!important; height:auto;}
.ui-md-popup{width:600px!important; height:auto;}
.ui-sm-popup{width:400px!important; height:auto;}
.add-new-customer {height:550px !important;}
.add-new-customer .popup-content{overflow-y:auto;height:500px !important;}
.promotion-popup{height:550px !important;}
.promotion-popup .ui-widget-content{height:500px !important; overflow-y:auto;}
.search-product-container{height:550px !important;}
.search-product-container .ui-widget-content{height:500px !important;}
/*----Rich-Text Box CSS----*/
.rich-text-box{width:100%; min-height:150px;}
.mce-ico mce-i-resize{display:none;}
/*----Alerts Message-box CSS----*/
.message-box{position: absolute;z-index: 100;margin-left:-15px; padding:5px 0;}
.message-box p{text-align:center;vertical-align:middle; margin-top:5px;}
.message-box .close{margin-top:-20px; padding:0 15px;}
/*----Znode Icons----*/
@font-face {font-family: 'znode-icons';src:url('../fonts/znode-icons.eot?m41t34');
	src:url('../fonts/znode-icons.eot?#iefixm41t34') format('embedded-opentype'),url('../fonts/znode-icons.woff?m41t34') format('woff'),url('../fonts/znode-icons.ttf?m41t34') format('truetype'),url('../fonts/znode-icons.svg?m41t34#znode-icons') format('svg');
	font-weight: normal;font-style: normal;
}
.f-ico{font-size:32px;}
.f-ico-m{font-size:30px;color:#fff;}
[class^="z-"], [class*=" z-"] {	font-family: 'znode-icons';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-size:14px;}

.z-clear-cache:before {content: "\e65f";}
.z-export-state:before {content: "\e65d";}
.z-import-state:before {content: "\e65e";}
.z-abandoned-cart:before {content: "\e65b";}
.z-google-tag-manager:before {content: "\e65c";}
.z-export-customers:before {content: "\e659";}
.z-import-customers:before {content: "\e65a";}
.z-down:before {content: "\e651";}
.z-down-all:before {content: "\e652";}
.z-left:before {content: "\e653";}
.z-left-all:before {content: "\e654";}
.z-right:before {content: "\e655";}
.z-right-all:before {content: "\e656";}
.z-up:before {content: "\e657";}
.z-up-all:before {content: "\e658";}
.z-remaining-process:before {content: "\e650";}
.z-capture:before {content: "\e63f";}
.z-accounts:before {content: "\e63b";}
.z-activity-log:before {content: "\e63c";}
.z-affiliate-orders:before {content: "\e63d";}
.z-best-sellers:before {content: "\e63e";}
.z-coupon-usage:before {content: "\e63f";}
.z-email-opt-in-customers:before {content: "\e640";}
.z-franchise-orders:before {content: "\e641";}
.z-franchise-sale-by-product:before {content: "\e642";}
.z-inventory-re-order:before {content: "\e643";}
.z-most-frequent-customers:before {content: "\e644";}
.z-order-pick-list:before {content: "\e645";}
.z-orders2:before {content: "\e646";}
.z-popular-search:before {content: "\e647";}
.z-products-sold-on-vendors:before {content: "\e648";}
.z-recurring-billing:before {content: "\e649";}
.z-sales-tax:before {content: "\e64a";}
.z-service-requests:before {content: "\e64b";}
.z-supplier-list:before {content: "\e64c";}
.z-top-earning-products:before {content: "\e64d";}
.z-top-spending-customers:before {content: "\e64e";}
.z-export-attributes:before {content: "\e622";}
.z-export-customer-pricing:before {content: "\e623";}
.z-export-facets:before {content: "\e625";}
.z-export-inventory:before {content: "\e626";}
.z-export-pricing:before {content: "\e627";}
.z-export-products:before {content: "\e628";}
.z-export-shipping-status:before {content: "\e629";}
.z-export-SKUs:before {content: "\e62e";}
.z-import-attributes:before {content: "\e62f";}
.z-import-customer-pricing:before {content: "\e630";}
.z-import-facets:before {content: "\e633";}
.z-import-inventory:before {content: "\e634";}
.z-import-pricing:before {content: "\e635";}
.z-import-products:before {content: "\e636";}
.z-import-shipping-status:before {content: "\e637";}
.z-import-SKUs:before {content: "\e638";}
.z-import-zip-code-data:before {content: "\e639";}
.z-taxes:before {content: "\e63a";}
.z-plugin-configurator:before {content: "\f0ad";}
.z-attribute:before {content: "\e61c";}
.z-revert-this-revision:before {content: "\e621";}
.z-enable:before {content: "\f05d";}
.z-disable:before {content: "\f05e";}
.z-Enable:before {content: "\f05d";}
.z-Disable:before {content: "\f05e";}
.z-delete:before {content: "\e9ac";}
.z-edit:before {content: "\f040";}
.z-arrow-left:before {content: "\f060";}
.z-preview:before {content: "\f108";}
.z-view:before {content: "\f108";}
.z-manage:before {content: "\f013";}
.z-copy:before {content: "\f0ea";}
.z-manage-search-index:before {content: "\e615";}
.z-product-search-setting2:before {content: "\e61c";}
.z-promotinons-and-coupons:before {content: "\e61d";}
.z-provider-engine:before {content: "\e61f";}
.z-vendor-products:before {content: "\e620";}
.z-franchise-administration:before {content: "\e611";}
.z-dollar:before {content: "\f155";}
.z-key-rotation:before {content: "\e61e";}
.z-product-search-setting:before {content: "\e624";}
.z-rejection-messages:before {content: "\e62a";}
.z-rma-configuration:before {content: "\e62b";}
.z-rma-manager:before {content: "\e62c";}
.z-service-request:before {content: "\e62d";}
.z-store-locator:before {content: "\e631";}
.z-vendor-accounts:before {content: "\e632";}
.z-google-sitemap:before {content: "\f0e8";}
.z-support:before {content: "\f037";}
.z-personalization:before {content: "\e610";}
.z-gift-cards:before {content: "\e612";}
.z-customer-reviews:before {content: "\e613";}
.z-attribute-type:before {content: "\e614";}
.z-rate-review:before {content: "\e616";}
.z-import-export:before {content: "\e617";}
.z-seo-settings:before {content: "\e618";}
.z-add-on-type:before {content: "\e619";}
.z-facets:before {content: "\e61a";}
.z-affiliate-tracking:before {content: "\e61b";}
.z-brands:before {content: "\f005";}
.z-highlights:before {content: "\f006";}
.z-product-type:before {content: "\f03a";}
.z-question-circle:before {content: "\f059";}
.z-credit-card:before {content: "\f09d";}
.z-customers:before {content: "\f0c0";}
.z-view-orders:before {content: "\e9b8";}
.z-store-administrators:before {content: "\e9bc";}
.z-create-order:before {content: "\e92d";}
.z-managebanners:before {content: "\e60d";}
.z-managecontent:before {content: "\e60e";}
.z-managemessages:before {content: "\e60f";}
.z-key:before {content: "\f049";}
.z-advanced:before {content: "\e600";}
.z-catalog:before {content: "\e601";}
.z-category:before {content: "\e602";}
.z-dashboard:before {content: "\e603";}
.z-inventory:before {content: "\e604";}
.z-marketing:before {content: "\e605";}
.z-orders:before {content: "\e606";}
.z-product:before {content: "\e607";}
.z-reports:before {content: "\e608";}
.z-roles:before {content: "\e609";}
.z-setup:before {content: "\e60a";}
.z-store:before {content: "\e60b";}
.z-vendors:before {content: "\e60c";}
.z-hamburger:before {content: "\f0c9";}
.z-first:before {content: "\f0d9";}
.z-last:before {content: "\f0da";}
.z-truck:before {content: "\e9b0";}
.z-backward:before {content: "\ea1f";}
.z-forward:before {content: "\ea20";}
/*----Layout Page CSS----*/
.wrapper{min-height: 100%;}
.main-wrapper{overflow:auto;padding-bottom:10px;}
footer {position: relative;margin-top:-60px;height:60px;clear:both;}
header{width:100%;}
header.clone {position:fixed;top:-110px;left: 0;right: 0;z-index:999;transition:0.4s top cubic-bezier(.3,.73,.3,.74);}
body.down header.clone {top:0;}
.header {background-color:#2e3e4d; min-height:60px;padding:0 30px;}
.header-top-nav{margin-bottom:0;padding:10px 2px;}
.header-top-nav li {list-style:none;display:inline;color:#fff;border-right:1px solid #6d7883;padding:0 3px;}
.header-top-nav li:last-child{border-right:0;}
.header-top-nav li a,.header-top-nav li span{color:#fff;padding:0 4px; text-decoration:none;vertical-align: text-bottom;}
.logo{max-height:58px;margin-top:10px;float:left;}
.footer {background-color:#2e3e4d;height:60px;}
.footer-logo{margin:15px 0;height:30px;}
.copyright{color:#fff;padding:20px 0;margin:0;}
.field-validation-error {color:#e42e23;}
.field-validation-valid {display: none;}
.validation-summary-valid {display: none;}
.readonly{cursor: not-allowed;background-color:#f1f1f1;}
/*----Nav Menu Styles----*/
.nav-container{float:left;}
.nav-container .navbar-collapse{padding-left:5px; padding-right:5px;}
.nav-menu ul li{margin-right:2px;}
.nav-menu ul li a{padding:5px;min-width:60px;}
.nav-menu ul li a span{text-align:center;display:block;}
.nav-menu ul li a i{text-align:center;display:block;}
.nav-menu ul li:hover .dropdown-menu {display: block !important;}
.nav-menu ul li .dropdown-menu li a{padding:3px 2px;}
.nav-menu ul li .dropdown-menu li{width:100%;display:block;}
.nav-menu ul li .dropdown-menu li a i{float:left;min-width:25px; line-height:17px;}
/*----Css class use for activated page css changes----*/
.current-page{background-color:rgba(232, 49, 37, 1) !important;}
/*----DatePicker CSS----*/
.datepicker{top:0;left:0;padding:4px;margin-top:0;-webkit-transition: all 0s ease;-moz-transition: all 0s ease;-o-transition: all 0s ease;-ms-transition: all 0s ease;transition: all 0s ease;}
.datepicker:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,0.2);position:absolute;top:-7px;left:6px;}
.datepicker:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;position:absolute;top:-6px;left:7px;}
.datepicker>div{display:none;}
.datepicker table{width:100%;margin:0;}
.datepicker td,.datepicker th{text-align:center;width:20px;height:20px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.datepicker td.day:hover{background:#eee;cursor:pointer;}
.datepicker td.old,.datepicker td.new{color:#999;}
.datepicker td.active,.datepicker td.active:hover{background-color:#e83125;background-image:-moz-linear-gradient(top,#e83125,#f32d23);background-image:-ms-linear-gradient(top,#e83125,#f32d23);background-image:-webkit-gradient(linear,0 0,0 100%,from(#e83125),to(#f32d23));background-image:-webkit-linear-gradient(top,#e83125,#f32d23);background-image:-o-linear-gradient(top,#e83125,#f32d23);background-image:linear-gradient(top,#e83125,#f32d23);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',endColorstr='#0044cc',GradientType=0);border-color:#04c #0044cc #002a80;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);}
.datepicker td.active:hover,.datepicker td.active:hover:hover,.datepicker td.active:active,.datepicker td.active:hover:active,.datepicker td.active.active,.datepicker td.active:hover.active,.datepicker td.active.disabled,.datepicker td.active:hover.disabled,.datepicker td.active[disabled],.datepicker td.active:hover[disabled]{background-color:#04c;}
.datepicker td.active:active,.datepicker td.active:hover:active,.datepicker td.active.active,.datepicker td.active:hover.active{background-color:#039 \9;}
.datepicker td span{display:block;width:47px;height:54px;line-height:54px;float:left;margin:2px;cursor:pointer;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.datepicker td span:hover{background:#eee;}
.datepicker td span.active{background-color:#006dcc;background-image:-moz-linear-gradient(top,#08c,#04c);background-image:-ms-linear-gradient(top,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(top,#08c,#04c);background-image:-o-linear-gradient(top,#08c,#04c);background-image:linear-gradient(top,#08c,#04c);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',endColorstr='#0044cc',GradientType=0);border-color:#04c #0044cc #002a80;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);}
.datepicker td span.active:hover,.datepicker td span.active:active,.datepicker td span.active.active,.datepicker td span.active.disabled,.datepicker td span.active[disabled]{background-color:#04c;}
.datepicker td span.active:active,.datepicker td span.active.active{background-color:#039 \9;}
.datepicker td span.old{color:#999;}
.datepicker th.switch{width:145px;}
.datepicker thead tr:first-child th{cursor:pointer;}
.datepicker thead tr:first-child th:hover{background:#eee;}
.input-append.date .add-on i,.input-prepend.date .add-on i{display:block;cursor:pointer;width:16px;height:16px;}
.dropdown-menu.datepicker{max-width:220px;}
/*----Login Page CSS----*/
.content-wrapper{min-height:100%;}
.login-layout{padding:14% 0;}
.login-container {min-height:250px; margin:0 auto;width:460px;}
.login-section {height:700px; min-height:100%;}
.login-container-header{background-color:#2e3e4d;min-width:50px; border-top-left-radius:10px;border-top-right-radius:10px;}
.login-container-footer{background-color:#2e3e4d;min-width:50px; border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding:10px;}
.login-main {padding:2% 0; border:1px solid #2e3e4d;}
.login-main h3{font-size:18px;margin-bottom:5px;font-family:Georgia;}
.login-main h5{margin-bottom:8px;}
.login-field input[type='text']{font-family:'Arial';}
.login-field i {background-color:#737373;color:#fff;}
.login-remember {padding:10px 0}
.login-remember lable{color:#000;}
.login-form-forgotpassword, .login-form-forgotpassword:hover {text-decoration:none;}
.login-footer p{text-align:center;color:#737373;}


/*----Home Page CSS----*/
.home-page-container{margin:45px 0 20px 0;}
.home-page-container h2{color:#ea2d23;font-size:25px;font-family:Arial; font-weight:normal;margin:0;}
.home-page-container span{color:#2e3e4d;}
.dashboard-quick-links {margin-top:30px;}
.link-box{background-color:#bdc3cb; min-height:315px;text-align:center;color:#2e3e4d;padding-top:75px;}
.link-box i{font-size:86px;color:#fff;}
.link-box h3{font-size:25px;margin:24px 0 0;font-weight:normal;}
.link-box p{padding:30px 15px 0 15px;margin:0;}
.alert-container{margin-top:25px;}
.link-box:hover i,.link-box:hover h3{color:#ea2d23;}
.link-box:hover{background-color:#e6e9ee;}
/*----Dashboard Page CSS----*/
.dropdown-top{padding:5px 20px;}
.dropdown-top select,.dropdown-top select:hover {background-color:transparent !important;font-size:20px;border:0; box-shadow:none;outline: medium none;}
.dropdown-top select option:hover{padding:0 10px;border:0; box-shadow:none; background-color:transparent;outline: medium none;}
.search-top {padding:5px 20px; border-left:1px solid #c3c3c3;}
.search-top i{color:#2e3e4d;cursor:pointer;}
.search-top input[type='text']{min-width:350px;}
.dashboard-page-container{margin-top:1%;min-height:300px;}
.alert-box {background-color:#e6e9ee; min-height:265px;border:1px solid #c3c3c3;}
.alert-box h3{margin:0; background-color:#c8ced8;width:100%;height:40px;color:#2e3e4d;font-size:20px;font-weight:normal;padding:10px 15px;}
.alert-msg {padding:10px 15px;;}
.alert-msg ul{margin:0; padding:0;color:#2e3e4d;}
.alert-msg ul li:before{content:'\e074';font-family:Glyphicons Halflings; font-size:14px;vertical-align:sub;line-height:38px;color:#9b9b9b}
.alert-msg ul li {border-bottom:1px solid #c3c3c3;padding-bottom:5px;}
.alert-msg ul li a{color:#ea2d23;padding-left:20px;display:block;}
.alert-div{padding:10px 0 0 5px;}
.alert-div a{color:#ea2d23;}
.quick-statistics {background-color:#e6e9ee;min-height:265px;}
.quick-statistics h3{margin:0; background-color:#c8ced8;width:100%;height:40px;color:#2e3e4d;font-size:20px;font-weight:normal;padding:10px 15px;}
.quick-container{padding:10px 15px;}
.sales{float:left; font-size:22px;color:#2e3e4d;padding-right:10px; border-right:1px solid #b4bbc4;margin:0;line-height:26px;margin:5px 0 15px 0;}
.account{float:left; font-size:17px;color:#415263;padding-left:10px;margin:0;line-height:26px;margin:5px 0 15px 0;}
.sales-box {background-color:#415263;margin-right:15px;margin-bottom:20px;height:90px;line-height:90px;text-align:center;}
.accound-box{background-color:#717d88;margin-left:15px;margin-bottom:20px;height:90px;line-height:90px;text-align:center;}
.sales-box h4{color:#fff; text-align:center;font-size:25px;font-weight:normal;vertical-align:middle;display: inline-block;line-height: normal;}
.sales-box span{color:#fff; text-align:center;font-size:12px;vertical-align:middle;padding-left:10px;border-left:1px solid #c3c3c3;}
.accound-box h4{color:#fff; text-align:center;font-size:25px;font-weight:normal;vertical-align:middle;display: inline-block;line-height: normal;}
.accound-box span{color:#fff; text-align:center;font-size:12px;vertical-align:middle;padding-left:10px;border-left:1px solid #c3c3c3;}
.banner{min-height:265px; background-color:#e6e9ee;}
.banner h3{font-size:25px;font-weight:normal; text-align:center;padding-top:20px;margin:0; padding-bottom:5px;}
.banner p{font-size:12px;font-weight:normal; text-align:center;color:#2e3e4d;margin:0; padding:0 0 5px;}
.banner img{margin:0 auto;padding:0 5px;}
.banner-mall{padding-top:0 !important;}
.banner-mall h3{margin:0 !important;}
.banner-mall p{padding:0 0 5px !important;}
.last-login {background-color:#f3f3f3;border:1px solid #c3c3c3;min-height:260px;padding:15px;}
.last-login ul{margin:0; padding:0; min-height:190px; overflow-y:auto;}
.last-login ul li{margin-bottom:8px;float:left; width:100%;}
.last-login img{width:60px;height:60px;}
.last-login h5{font-size:14px; color:#2e3e4d;}
.last-login p{font-size:11px; color:#292a2a;margin:0;}
.last-login span{font-size:11px; color:#6b6b6b;}
/*----Settup > Store Page CSS & Generalise Class----*/
.title-container .help,.help{font-size:16px; color:#e42e23;padding:0 5px;cursor:pointer; margin-right: 10px;vertical-align:bottom;}
.help-container h3{color:#fff;border-bottom:1px solid #c3c3c3; padding-bottom:5px;}
.help-container p{text-align:left;}
.title-container h1,.title-container h2{margin:0 0 8px 0;}
.title-container p{margin:0;padding:5px 0;}
.list-container{margin:15px 0;}
.list-container h4{margin:10px 0 15px 0;background-color:rgba(73,149,231, 0.2);color:#292a2a;padding: 6px; float:left;width:100%;}
.popover-content{background-color:#2e3e4d;color:#fff;border-radius:8px;}
.popover-content h3 {color:#fff}
/*----Settup > Manage Stored Page CSS----*/
.tab-container ul li a{min-width:120px;text-align:center; padding: 8px 15px;}
.tab-container ul li a:hover{background-color:#2e3e4d;}
.tab-content{margin-top:10px;}
.tab-content label{float:left; display:normal;font-weight:normal;}
.manage-stores-container{padding:0 15px;}
.manage-stores-container .tab-container ul li a{min-width:50px;text-align:center; padding: 8px 15px; border-top:1px solid #fff;}
.manage-stores-container .tab-content{margin-top:10px;}
.manage-stores-container .form-group{float:left;width:100%;}
.manage-stores-container label{float:left; display:normal;font-weight:normal;line-height:26px;margin-bottom:0; }
.manage-stores-container .tab-content .title-container{padding-left:0; padding-right:0;}
.manage-stores-container .tab-content .product-search{padding-left:0; padding-right:0;}
.manage-stores-container .tab-content .list-container {padding-left:0;padding-right:0;}
.country-list .pagination{display:none;}
.border-right{border-right:1px solid #dcdcdc;}
.general-stores h5{font-weight:bold;}
.general-stores .upload-img{max-width:100%; max-height:100%;float:right;}
.general-stores .security-container{border-top:1px solid #dcdcdc; padding-top:20px;}
.general-stores select {width:100%}
.general-stores .store-info{margin-bottom:15px;}
.disable-msg{color:#b8b8b8;font-size:11px;}
.req-approval{margin-top:15px;}
.manage-display .unit-text{width:40px;}
.display-unit{line-height:26px; padding-left:5px;}
/*----Settup > Category Page CSS----*/
.upload-redio-btn{padding-top:60px;}
.category-search{float:left;padding:5px; cursor:pointer;color:#e42e23;font-size:14px;}
.popup-search{padding:15px 0;border-bottom:1px solid #dcdcdc;}
.popup-search label{float:left; display:normal;font-weight:normal;line-height:26px;}
.popup-search .form-group{float:left;width:100%;}
/*Settup > Tax Page CSS*/
.tax-rule-ul{padding-left:20px;}
.tax-rule-ul li{list-style:circle;}
.help-ul li{float:left;width:100%;}
/*----Inventory > Product & ProductManage Page CSS & Generalise Class----*/
.product-search{padding:5px 15px;}
.product-search label{float:left; display:normal;font-weight:normal;line-height:20px; margin-bottom:0;}
.product-search .product-group{padding-left:0;padding-right:0;padding-top:0;}
.product-search .form-group{float:left;width:100%;margin-bottom:5px;padding-left:5px;}
.product-search .colon{line-height:32px;}
.product-search select {width: 100%;}
.product-search h3{background-color: rgba(73, 149, 231, 0.2);color: #292a2a;margin:5px 0;padding: 6px;width: 100%;}
.accordion-toggle:after {font-family: 'Glyphicons Halflings';content: "\e114";float: right;color: #e42e23;padding:0 5px;cursor:pointer;}
.accordion-toggle.collapsed:after {content: "\e080";}
.search-panel-btn{margin-top:20px;}
.search-panel-btn-right{margin-top:5px;}
.ul-search-error{margin-left:15px;margin-bottom:0; padding:0;list-style-type: disc;}
.ul-search-error li{min-width:150px; padding:0 5px;list-style-type: disc;}
.product-attributs select{margin-bottom:10px;}
.advance-search-link{padding-bottom:2px;}
.advance-title label{font-weight:bold;}
.advance-container .col-sm-3{padding:5px 0;}
.add-new-item{margin:0 0 20px 0;}
.add-new-item .item-group{padding-left:0;padding-right:0;}
.add-new-item .item-group h4{margin:10px 0;background-color:rgba(73,149,231, 0.2);color:#292a2a;padding: 6px; float:left;width:100%;}
.add-new-item .item-group .form-group{padding-left:5px; padding-right:0;}
.add-new-item .item-group .col-sm-8{padding-left:15px; padding-right:0;} /*Padding In .COL-SM-8*/
.add-new-item label{float:left; display:normal;line-height:26px;font-weight:normal; margin-bottom:0;}
.add-new-item .form-group{float:left; width:100%;}
.add-new-item select{width:100%;}
.border-bottom{margin-bottom:15px; }
.top-shift{margin-top:15px;}
.item-top-shift{margin-top:10px;}
.top-margin{margin-top:15px}
.left-shift{margin-right:15px;}
.left-sm-shift{margin-left:5px;}
.bottom-shift{margin-bottom:15px;}
.sub{font-size:10px; color:#5c5c5c;float:left;width: 100%;}
.item-list{padding-left:0;padding-right:0;}
.item-list h4{margin:10px 0 15px 0;background-color:rgba(73,149,231, 0.2);color:#292a2a;padding: 6px; float:left;width:100%;}
.item-list .col-sm-8{padding-left:15px; padding-right:0;} /*Padding In .COL-SM-8*/
.item-list .form-group{padding-left:5px;padding-right:0;}
.label-background{background-color:#eff3fb;min-height:25px; line-height:26px;}
.label-background i { color:#e42e23; line-height:26px;}
.red-color{color:#e42e23;}
.black-color{color:#292a2a;}
.dynamic-checkbox label{min-width:200px !important; padding:5px 0;}
.search-panel-btn .btn-text:first-child{margin-left:0;}
/*----Inventory > Brand Page CSS----*/
.add-new-container label{font-weight:normal; line-height: 26px;margin-bottom:0;}
.add-new-container .form-group{float:left; width:100%;}
.add-new-container select{width:100%;}
.add-new-container h3{margin:0 0 20px 0;}
.add-new-container h4{margin:10px 0;background-color:rgba(73,149,231, 0.2);color:#292a2a;padding: 6px; float:left;width:100%;}
.add-new-container .col-sm-8{padding-left:15px; padding-right:0;}
.add-new-container .form-group{padding-left:5px;padding-right:0;}
/*----Inventory > Highlight Page CSS----*/
.highlight-serach label{float:left; display:normal;font-weight:normal;line-height:26px;}
.highlight-serach .highlight-group{padding-left:0;padding-right:15px;}
.highlight-serach .highlight-group h3{margin:5px 0 15px 0;}
.highlight-serach .form-group{float:left;width:100%;}
.highlight-serach select {width: 100%;}
/*----Inventory > Add On Page CSS----*/
.add-on-lable{width:100%;}
/*----Marketing > Facet Page CSS----*/
.associated-categories select{width:100%; background:none;min-height:200px;}
.associated-categories i{font-size:28px; color:#e42e23;}
.btn-icon{background: transparent;border:0;outline:none;}
.associated-categories .add-remove {padding:80px 0; text-align:center;}
.associated-categories .up-down{padding:80px 0;}
.associated-categories .pull-right{margin:20px 0}
.stored-btn{margin-left:0;}
/*----Vendor Products > Landing Page----*/
.status-symbols ul{padding-left:0; margin:10px 0;}
.status-symbols ul li{float:left;min-width:100px;padding:0 15px;}
.status-symbols ul li.first{padding-left:0}
.symbol-circle {height:15px;width:15px;border:1px solid #c3c3c3;float:left;margin:0 5px}
.green{background-color:#66cd00}
.yellow{background-color:#ffff00}
.reset-password{margin-left:0;}
/*----Vendor Products > Manage----*/
#vendoralternateimagelist .pagination{display:none}
.nav-tabs-product{border-bottom: 4px solid #717d89;}
.nav-tabs-product > li {float: left;margin-bottom: -1px;}
.nav-tabs-product > li > a {margin-right: 2px;line-height: 1.42857143;border: 1px solid transparent;background-color: #5c5c5c;color: #fff;border-radius: 0 0;}
.nav-tabs-product > li > a:hover {border:1px inset #fff;border-top-left-radius:8px;border-top-right-radius:8px;}
.nav-tabs-product > li.active > a,.nav-tabs-product > li.active > a:hover,.nav-tabs-product > li.active > a:focus {min-width:50px; color: #fff;cursor: default;background-color: #e83125;border: 1px solid #e83125;border-bottom-color: transparent;font-weight:bold;}
.tab-content-product{border:2px solid #717d89;border-top:0; margin-top:-10px!important; margin-bottom:15px;}
.nav-tabs-relatedproduct{border-bottom: 4px solid #717d89;}
.nav-tabs-relatedproduct > li {float: left;margin-bottom: -1px;}
.nav-tabs-relatedproduct > li > a {margin-right: 2px;line-height: 1.42857143;border: 1px solid transparent;background-color: #5c5c5c;color: #fff;border-radius: 0 0;}
.nav-tabs-relatedproduct > li > a:hover {border:1px inset #fff;border-top-left-radius:8px;border-top-right-radius:8px;}
.nav-tabs-relatedproduct > li.active > a,.nav-tabs-product > li.active > a:hover,.nav-tabs-product > li.active > a:focus {min-width:50px; color: #fff;cursor: default;background-color: #e83125;border: 1px solid #e83125;border-bottom-color: transparent;font-weight:bold;}
.tab-content-related{border:3px solid #717d89;border-top:0; margin-top:-10px!important; margin-bottom:15px;height:125px;}
.tab-content-related ul{margin:0;padding:0;}
.tab-content-related ul li{float:left;padding:5px 15px;margin-top:5px;}
.alternate-img .pagination{display:none}
.vendor-product h4{padding-left:5px; line-height:26px;background-color: rgba(73, 149, 231, 0.2);color: #292a2a;float: left;width: 100%}
.product-addons h4{padding-left:5px; line-height:26px;background-color: rgba(73, 149, 231, 0.2);color: #292a2a;float: left;width: 100%}
.product-addons .addons-dropdown{margin-bottom:5px;}
.product-addons .addons-checkbox,.product-addons .addons-redio{margin-bottom:5px; min-width:175px;}
.vendor-product-details{margin:10px 0;}
.vendor-tab-container {height:300px;padding:5px;}
.related-tab-content{height:125px;}
.product-slider-img{height:120px;margin:0 auto;}
.swatch-img{padding:0;float:left;}
.swatch-img li{display:inline;float:left; padding:5px;}
.swatch-img li img{height:25px; width:25px;}
.alt-images{padding:0;float:left;}
.alt-images li{display:inline;float:left; padding:5px;}
.alt-images li a{padding:0!important;}
.alt-images li img{height:25px; width:25px;}
.vendor-categories{margin:0; padding:0;height:250px;}
.vendor-categories li{float:left;width:95%;}
.vendor-categories-edit{border:1px solid #c3c3c3; padding-left:10px;}
.vendor-categories label{width:100%;}
/*----Orders > view orders----*/
.title-background {background-color: rgba(73, 149, 231, 0.2);color: #292a2a;float: left;margin:5px 0;padding: 6px;width: 100%;}
.add-new-item .item-group .order-status{padding:0}
.update-order-status button{height:26px}
.order-details{margin-bottom:5px;padding-left:5px;}
.cart-promocode{margin:10px 0;}
.cost-container{margin:10px 0;padding-left:0!important;}
.cost-container .total{padding-left:0;}
.order-container{margin-bottom:10px;padding-left:0;padding-right:0;}
.order-payment{padding-right:0;padding-left:5px;}
.address-container{ padding-left:0;padding-right:5px;}
.addons-popup-div{padding:0 5px;}
.ui-widget-content .product-search{padding:5px 0}
.grid-popup{display:none; position:fixed;max-width: 200px;padding: 3px 8px;color: #fff;text-align: left;text-decoration: none;background-color: #de2a20;border-radius: 4px;z-index:999;margin:-60px 0 0 100px;opacity:0.9;}
/*----Orders > Customer Page----*/
.customer-notes p{margin:0;}
/*----Import Export----*/
.import-label{ border-bottom:1px solid #c3c3c3;padding:15px 0 15px 0;}
.import-label i{margin:15px 15px 15px 0;font-size:26px;line-height:32px; color:#e42e23;text-align:center;}
.import-label a{vertical-align:super;}
.import-preview{height:500px; border-bottom:1px solid #c3c3c3; border-top:1px solid #c3c3c3;}
/*----All Index pages----*/
.index-label{margin-bottom:5px;}
.index-label i{font-size:26px;line-height:32px; color:#e42e23;text-align:center; width:100%;display:block;}
.index-label p{padding:5px 0;}
/*Truncate the text*/
.truncate {width:110px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
/*----zNode diagnostics----*/
.top-bottom-line{border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:12px 0 0 0}
.trace-style .tracecontent h1{margin:10px 0;background-color:rgba(73,149,231, 0.2);color:#292a2a;padding: 6px; float:left;width:100%;font-size:12px;font-weight:bold}
.green-color{color:#3c763d;}
.bold-text{font-weight:bold;}
/*----Grid XML View Pagination----*/
.xmlview-content pre{overflow:auto;height:500px;}
.sorting-container ul{padding:0; margin:0;}
.sorting-container h4{margin:10px 0 2px 0;background-color:rgba(73,149,231, 0.2);color:#292a2a;padding: 6px; float:left;width:100%;}
.sorting-container .sort-box{border: 1px solid #c3c3c3; height:250px;overflow-y:scroll;}
.sorting-container .sort-box li {display:block; margin:2px 0 !important; width:98%;padding: 5px 10px; cursor:pointer;}
.sorting-container .sort-box li.selected {background-color:#007acc; color:#fff;}
.sorting-container .sort-box li:hover{background-color:#007acc; color:#fff;}
.sorting-container .add-remove{height:250px;line-height:60px;text-align:center;margin-top:38px;}
.sorting-container .add-remove i{color: #e42e23;font-size: 28px;vertical-align: middle;cursor:pointer;}
.xml-grid .table-responsive{border-left:none; border-right:none; margin:15px 0;}
/*----Table Flip----*/
.flip-scroll table td{border:1px solid #c3c3c3;height:35px;}
.flip-scroll table tbody{border-bottom:none;}
.flip-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.flip-scroll * html .cf { zoom: 1; }
.flip-scroll *:first-child+html .cf { zoom: 1; }
.flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; }
.flip-scroll th,.flip-scroll td { margin: 0; vertical-align: top; }
.flip-scroll table tbody tr td input[type="text"]{width:100%!important;}
.flip-scroll th { text-align: left; }	
.flip-scroll table { display: block; position: relative; width: 100%; }
.flip-scroll thead { display: block; float: left; }
.flip-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
.flip-scroll thead tr { display: block; }
.flip-scroll th { display: block; text-align: right; }
.flip-scroll tbody tr { display: inline-block; vertical-align: top; }
.flip-scroll td { display: block; min-height: 1.25em; text-align: left; }
.flip-scroll th { border-bottom: 0; border-left: 0; }
.flip-scroll td { border-left: 0; border-right: 0; border-bottom: 0; }
.flip-scroll tbody tr { border-left: 1px solid #babcbf; }
.flip-scroll th:last-child,
.flip-scroll td:last-child { border-bottom: 1px solid #babcbf; }	
.flip-scroll .table-heading{width:200px;}
.flip-scroll .table-heading label{font-weight:bold;}
.flip-scroll table thead th{height:35px;width:150px;}

/*---Email Template---*/
.email-template .pagination{display:none;margin-bottom:10px}

/*----plugin-table---*/
.plugin-table table tfoot{display:block !important;}

/*----Report----*/
.report-chart .form-group{padding-left:5px;padding-right:0;float:left; width:100%;}


/*Media Query CSS*/
@media(min-width:768px) {
/*Menu & Header*/
.f-ico-m{font-size:22px;color:#fff;line-height: 34px;}
.logo {max-height: 45px;width: 135px;}
.header {padding:0 15px;}
.dashboard-page-container{padding-left:0; padding-right:0;}
.dashboard-col{padding-left:15px;padding-right:15px;}
.table-responsive{border-left:1px solid #c3c3c3;border-right:1px solid #c3c3c3;}
.copyright{padding:12px 0;}
/*Login*/
.login-container-header img{height:50px;}
.login-container-footer img{height:30px;}
/*Home Page*/
.banner{display:none;}
.link-box{margin-bottom:30px;}
.alert-container{margin-top:0;}
.alert-box {margin-bottom:20px;}
/*Settup > Manage Stored Page CSS*/
.manage-stores-container .tab-container ul li a{min-width:50px;padding: 8px 6px;}
/*Inventory > Product Page CSS & Generalise Class*/
.product-search .product-group{padding-left:0;padding-right:0;padding-top:0;}
.search-panel-btn{margin-top:20px;float:right;}
/*Top margin for two column layout*/
.item-top-shift{margin-top:0;}
/*jQuery PopUp*/
.ui-lg-popup{width:650px!important; height:auto;}
}
@media (min-width: 992px) {
/*Menu & Header*/
.f-ico-m{font-size:20px;color:#fff;line-height: 30px;}
.nav-menu ul li a{padding:5px 2px;min-width:60px;}
.logo {max-height: 35px;margin-top:10px;width: 128px;}
.header {padding:0 30px;}
.header-top-nav li:first-child{border-right:0;width:100%;display:block;padding-bottom:5px;}
.dashboard-page-container{padding-left:15px; padding-right:15px;}
.dashboard-col{padding-left:15px;padding-right:0;}
.header-top-nav li {padding:0 3px;}
/*Home*/
.link-box{min-height:240px;padding-top:60px;margin-bottom:0;}
.link-box i{font-size:50px;}
.link-box h3{font-size:18px;margin:15px 0 0;}
.link-box p{padding:20px 8px 0 8px;margin:0;}
.alert-box h3{height:35px;font-size:16px;padding:8px 15px;}
.quick-statistics h3{height:35px;font-size:16px;padding:8px 15px;}
.sales{font-size:20px;} 
.account{font-size:14px;}
.banner{display:block;}
.alert-container{margin-top:25px;}
.alert-box {margin-bottom:0;}
.banner h3{font-size:20px;}
.banner-mall h3{font-size:18px;}
/*Login*/
.login-container-header img{height:45px;}
.login-container-footer img{height:24px;}
.login-container {width:400px;}
/*Settup > Manage Stored Page CSS*/
.manage-stores-container .tab-container ul li a{padding: 5px 10px;}
/*Inventory > Product Page CSS & Generalise Class*/
.product-search label {font-size:11px;}
.product-search .product-group{padding-left:0;padding-right:0;padding-top:0;}
.search-panel-btn{margin-top:20px;float:none;}
/*Top margin for two column layout*/
.item-top-shift{margin-top:10px}
/*jQuery PopUp*/
.ui-lg-popup{width:800px!important; height:auto;}
}
@media (min-width: 1200px) {
/*Menu & Header*/
.nav-menu ul li a{padding:5px;min-width:70px;}
.logo{max-height:50px;margin-top:6px;width: 185px;}
.f-ico-m{line-height: 32px;}
.dashboard-col{padding-left:15px;padding-right:15px;}
.header-top-nav li {padding:0 5px;}
.copyright{padding:20px 0;}
/*Home*/
.link-box{min-height:270px;padding-top:80px;}
.link-box h3{font-size:24px;margin:20px 0 0;}
.link-box p{padding:20px 15px 0 15px;}
.alert-box h3{height:40px;font-size:20px;padding:10px 15px;}
.quick-statistics h3{height:40px;font-size:20px;padding:10px 15px;}
.sales{font-size:22px;}
.account{font-size:17px;}
.banner-mall h3{font-size:22px;}
/*Login*/
.login-container-header img{height:45px;}
.login-container-footer img{height:24px;}
.login-container {width:460px;}
/*Home Page*/
.home-page-container h2{font-size:24px;font-weight:normal;}
/*Settup > Manage Stored Page CSS*/
.manage-stores-container .tab-container ul li a{padding: 5px 12px;}
/*Inventory > Product Page CSS & Generalise Class*/
.product-search label {font-size:11px;}
.add-new-item .item-group, .item-list{padding-left:0;padding-right:0;}
.border-bottom{border-bottom:0;}
}
@media (min-width: 1300px) {
/*Login*/
.login-layout{padding:13% 0;}
/*Home Page*/
.link-box{min-height:270px;padding-top:70px;}
.link-box i{font-size:60px;}
.link-box h3{font-size:25px;margin:24px 0 0;}
.sales-box span{padding-left:5px;}
.accound-box span{padding-left:5px;}
.banner h3{font-size:22px;}
/*Settup > Manage Stored Page CSS*/
.manage-stores-container .tab-container ul li a{padding: 5px 15px;}
}
@media (min-width: 1400px) {
/*Home Page*/
.link-box{min-height:315px;padding-top:75px;}
.link-box i{font-size:86px;}
.link-box p{padding:30px 15px 0 15px;margin:0;}
.sales-box span{padding-left:10px;}
.accound-box span{padding-left:10px;}
.banner h3{font-size:25px;}
/*Login*/
.login-layout{padding:14% 0;}
/*Inventory > Product Page CSS & Generalise Class*/
.product-search label {font-size:12px;}
}
@media print {
#printbtn,.header,.title-container,.PrintLink {display:none;}
.main-wrapper{overflow:hidden;}
}