﻿
/* Advance Search- Reports*/
.reports-head {background-color:#656565;color:#fff; font-size:14px;font-family:GOTHICB_0; padding:10px; margin:10px 0;}
.sort-box-report {width:414px; overflow:hidden;}
.sort-box-header { background-color:#f3f3f3;color:#4c4d4e; font-size:14px;font-family:GOTHICB_0; padding:10px; border:1px solid #c3c3c3;}
.sort-box-container {background-color: #fff;color:#4c4d4e; font-size:14px;border:1px solid #c3c3c3; margin-top:-1px; height:188px; overflow-y:auto;}
.sort-box-container ul li {display:block; margin:2px 0 !important; width:98%;padding: 5px 10px; cursor:pointer;}
.sort-box-container ul li.selected {background-color:#e3e3e3;}
.sort-box-container ul li:hover{background-color:#e3e3e3;}
#RequestedSelectedCities li[disabled]{background-color:#f5f5f5; color:#c3c3c3; cursor:default;}
#listBoxView ul li {float:left; margin:10px;}
#listBoxView ul li:nth-child(1) {margin-left:0;}
#listBoxView ul li:nth-child(4) {margin-right:0;}
.sort-first,.sort-last,.sort-next,.sort-prev,.sort-top,.sort-up,.sort-down,.sort-bottom {width:24px; height:24px; margin:8px 15px;background-image: url('../../Content/themes/base/images/sprite.png');cursor:pointer; background-repeat:no-repeat;}
.sort-first {background-position:-442px -1062px;}
.sort-last {background-position: -442px -1096px;}
.sort-next {background-position: -442px -1130px;}
.sort-prev {background-position: -442px -1164px;}
.sort-top {background-position: -497px -1062px;}
.sort-up {background-position: -497px -1096px;}
.sort-down {background-position:-497px -1130px;}
.sort-bottom {background-position: -497px -1164px;}
#listBoxView ul li:nth-child(2),#listBoxView ul li:nth-child(4) {padding-top: 61px;}
.sort-box-container ul li:nth-child(2),.sort-box-container ul li:nth-child(4) {padding-top: 0 !important;}
.report-field-box {float:left; width:230px; margin-right:15px;color:#4c4d4e; font-size:14px;font-family:GOTHICB_0;}
.report-field-box select,report-field-box input[type=text] {font-size:14px;}


