﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@model CartItemViewModel

<tbody class="cart-item">
    <tr>
        <td>
            @using (Html.BeginForm("RemoveItem", "Checkout", FormMethod.Post))
            {
                @Html.Hidden("guid", @Model.ExternalId)
                @Html.Hidden("quantity", @Model.Quantity)
                <a href="#" class="cart-item-remove" title="@Resources.ZnodeResource.LinkTextRemoveItem"><i class="zf-close"></i></a>
            }
        </td>
        <td class="cart-item-details">
            <div class="col-xs-2">
                <a href="@Url.GetProductUrl(Model.Product.SeoPageName, Model.Product.ProductId.ToString())">
                    <img src="@Model.ImagePath" alt="@WebUtility.HtmlDecode(Model.Product.Name)" class="img-responsive" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 nopadding">
                <a href="@Url.GetProductUrl(Model.Product.SeoPageName, Model.Product.ProductId.ToString())" class="cart-item-title">@WebUtility.HtmlDecode(Model.Product.Name)</a>
                <div class="cart-item-description">@Html.Raw(@Model.Description)</div>

                <a href="/cart" class="cart-item-edit">@Resources.ZnodeResource.LinkTextEditCart</a>
                @if (Model.InsufficientQuantity)
                {
                    <div class="status-outofstock">@Resources.ZnodeResource.ErrorOutofStock</div>
                }
            </div>
        </td>

        <td>
            <div class="cart-item-quantity">
                @using (Html.BeginForm("UpdateQuantity", "Checkout", FormMethod.Post))
                {
                    <span class="label">@Resources.ZnodeResource.ColumnTitleQuantity</span>
                    <select name="Quantity" id="Quantity" class="cartQuantity">
                        @for (int quantity = @Model.Product.MinQuantity; quantity <= @Model.Product.MaxQuantity; quantity++)
                        {
                            <option @(quantity == 1 ? "selected" : "")>@quantity</option>
                        }
                    </select>
                    @Html.Hidden("guid", @Model.ExternalId)
                }
            </div>
        </td>
        <td>
            <span class="label">@Resources.ZnodeResource.LableShipTo</span>
            <span class="shipto"></span>
            <select name="ShipTo" id="ShipTo" class="shipTo">
                @foreach (var adr in Model.Addresses)
                {
                    if (adr != null)
                    {

                        <option value=@adr.AddressId @(adr.IsDefaultShipping == true ? "selected" : "")>@adr.Name</option>
                    }
                }

            </select>

            @*Note :- Please dont change the sequence of hidden fields*@

            @Html.Hidden("guid", @Model.ExternalId)           
            @Html.Hidden("product", @Model.ProductId)
            @Html.Hidden("sku", @Model.Sku)
            @Html.Hidden("itemguid", "")
            @Html.Hidden("addOnvalueIds", @Model.AddOnValueIds)
            @Html.Hidden("addOnvalueCustomText", @Model.AddOnValuesCustomText)
        </td>

    </tr>
</tbody>
