﻿@using Znode.Engine.MvcDemo.ViewModels
@using Znode.Engine.MvcDemo.Helpers
@model ReviewOrderViewModel
<div class="col-xs-12 nopadding cart-products margin-top-bottom cart-table">
    <p class="review-msg">@Resources.ZnodeResource.TextCheckoutReview</p>

    <div class="col-xs-12 nopadding checkout-totals-shippingto">
        <h4 class="section-header-color">@WebUtility.HtmlDecode(Model.ShippingOption.ShippingDescription) To:</h4>
        <div class="address">
            @Html.Partial("_DisplayAddress", Model.ShippingAddress)
        </div>
    </div>

    <div class="col-xs-12 cart-products nopadding">
        <h4 class="section-header-color">@Resources.ZnodeResource.SubTitleItemsOrdered</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item(s)</th>
                    <th>@Resources.ZnodeResource.ColumnTitleItemPrice</th>
                    <th>@Resources.ZnodeResource.ColumnTitleQuantity</th>
                    <th>@Resources.ZnodeResource.ColumnTitleTotal</th>
                </tr>
            </thead>
            @foreach (CartItemViewModel cartItem in Model.ShoppingCart.Items)
            {
                string _path = "~/Views/Themes/" + Convert.ToString(ViewBag.Theme) + "/Cart/_CartRow.cshtml";
                @Html.Partial(_path, cartItem)
            }
        </table>
    </div>

    <div class="col-xs-12 cart-summary nopadding">
        <div class="col-xs-12 cart-total nopadding">
            <div class="col-sm-offset-7">
                <div class="form-group">
                    <div class="col-xs-6 nopadding">
                        @Resources.ZnodeResource.ColumnSubTotal
                    </div>
                    <div class="col-xs-6 nopadding">
                        @HelperMethods.FormatPriceWithCurrency(Model.ShoppingCart.SubTotal)
                    </div>
                </div>
                @if (Model.ShoppingCart.TaxCost > 0)
                {
                    <div class="form-group">
                        <div class="col-xs-6 nopadding">@Resources.ZnodeResource.ColumnTax</div>
                        <div class="col-xs-6 nopadding">@HelperMethods.FormatPriceWithCurrency(Model.ShoppingCart.TaxCost)</div>
                    </div>

                }

                @if (Model.ShoppingCart.ShippingCost > 0)
                {
                    @* Only show during cart review, after shipping info is provided *@
                    <div class="form-group">
                        <div class="col-xs-6 nopadding">@Resources.ZnodeResource.ColumnShipping</div>
                        <div class="col-xs-6 nopadding">@HelperMethods.FormatPriceWithCurrency(Model.ShoppingCart.ShippingCost)</div>
                    </div>
                }
            </div>
        </div>

    </div>

</div>