﻿@using Znode.Engine.MvcDemo.ViewModels
@using Znode.Engine.MvcDemo.Agents
@model Znode.Engine.MvcDemo.ViewModels.PaymentsViewModel


@if (Model != null)
{
    <form id="payment-paypal" class="form payment-method grid-m-9">
        <h3 class="section-header-background notsmall">@Resources.ZnodeResource.TitlePaypal</h3>
        <p>
            <button id="paypal-express-checkout"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" /></button>
        </p>  
        <p class="tinyfade">
            @Resources.ZnodeResource.TextPaypal 
        </p>      
    </form>

    //Order Details
    @Html.Hidden("OrderId", "1")
    @Html.Hidden("Discount", Model.Cart.ShoppingCart.Discount)
    @Html.Hidden("ShippingCost", Model.Cart.ShoppingCart.ShippingCost)
    @Html.Hidden("SubTotal", Model.Cart.ShoppingCart.SubTotal)
    @Html.Hidden("Total", Model.Cart.ShoppingCart.Total)
    @Html.Hidden("TaxCost", Model.Cart.ShoppingCart.TaxCost)
    @Html.Hidden("GiftCardAmount", Model.Cart.ShoppingCart.GiftCardAmount)

    //Billing Details
    @Html.Hidden("BillingCity", Model.BillingAddress.City)
    @Html.Hidden("BillingCountryCode", Model.BillingAddress.CountryCode)
    @Html.Hidden("BillingFirstName", Model.BillingAddress.FirstName)
    @Html.Hidden("BillingLastName", Model.BillingAddress.LastName)
    @Html.Hidden("BillingName", Model.BillingAddress.Name)
    @Html.Hidden("BillingPhoneNumber", Model.BillingAddress.PhoneNumber)
    @Html.Hidden("BillingPostalCode", Model.BillingAddress.PostalCode)
    @Html.Hidden("BillingStateCode", Model.BillingAddress.StateCode)
    @Html.Hidden("BillingStreetAddress1", Model.BillingAddress.StreetAddress1)
    @Html.Hidden("BillingStreetAddress2", Model.BillingAddress.StreetAddress2)
    @Html.Hidden("BillingEmailId", Model.BillingAddress.Email)
    @Html.Hidden("ReturnUrl")
    @Html.Hidden("CancelUrl")
    @Html.Hidden("PaymentPaypalOptionId", Model.PaymentOptions.FirstOrDefault(x => x.PaymentTypeId == (int)EnumPaymentType.PaypalExpressCheckout).PaymentOptionId)
    @Html.Hidden("GatewayCurrencyCode", PortalAgent.CurrentPortal.CurrencySuffix)
    @Html.Hidden("hdnGatwayName")
    @Html.Hidden("paymentProfileId")
    
    @Html.Hidden("ShippingCity", Model.ShippingAddress.City)
    @Html.Hidden("ShippingCountryCode", Model.ShippingAddress.CountryCode)
    @Html.Hidden("ShippingFirstName", Model.ShippingAddress.FirstName)
    @Html.Hidden("ShippingLastName", Model.ShippingAddress.LastName)
    @Html.Hidden("ShippingPhoneNumber", Model.ShippingAddress.PhoneNumber)
    @Html.Hidden("ShippingPostalCode", Model.ShippingAddress.PostalCode)
    @Html.Hidden("ShippingStateCode", Model.ShippingAddress.StateCode)
    @Html.Hidden("ShippingStreetAddress1", Model.ShippingAddress.StreetAddress1)
    @Html.Hidden("ShippingStreetAddress2", Model.ShippingAddress.StreetAddress2)

    if (!Equals(Model.Cart, null) && !Equals(Model.Cart.ShoppingCart, null) && !Equals(Model.Cart.ShoppingCart.Items, null) && Model.Cart.ShoppingCart.Items.Count > 0)
    {
        for (int iCount = 0; iCount < Model.Cart.ShoppingCart.Items.Count; iCount++)
        {
            @Html.Hidden("PaypalProductName", Model.Cart.ShoppingCart.Items[iCount].Product.Name, new { @id = "PaypalProductName_" + iCount, @class = "paypalCartItems" })
            @Html.Hidden("PaypalProductNumber", Model.Cart.ShoppingCart.Items[iCount].Sku, new { @id = "PaypalProductNumber_" + iCount })
            @Html.Hidden("PaypalProductDescription", Model.Cart.ShoppingCart.Items[iCount].Product.ShortDescription, new { @id = "PaypalProductDescription_" + iCount })
            @Html.Hidden("PaypalProductQuantity", Model.Cart.ShoppingCart.Items[iCount].Quantity, new { @id = "PaypalProductQuantity_" + iCount })
            @Html.Hidden("PaypalProductAmount", Model.Cart.ShoppingCart.Items[iCount].UnitPrice, new { @id = "PaypalProductAmount_" + iCount })

        }
    }
}