﻿@*
    Partial for purchase order payment option
*@
@model Znode.Engine.MvcDemo.ViewModels.PaymentOptionViewModel
@if (Model != null)
{
    <form id="payment-cod" action="/checkout/cod" method="POST" class="form payment-method grid-m-9">
        <h4 class="section-header-background notsmall">@Resources.ZnodeResource.TextCashOnDelivery</h4>    
        <p class="styled-input">
            <input type="checkbox" name="" id="pick-cod" value="" /> <label for="pick-cod">@Resources.ZnodeResource.TextCOD</label>
        </p>

        <p>
            <button type="submit" class="button btn-text red" disabled>@Resources.ZnodeResource.TextCompletePurchase</button>
        </p>
        <input type="hidden" value="@Model.PaymentTypeId" name="PaymentTypeId"/>
        <input type="hidden" value="@Model.PaymentName" name="PaymentName"/>
        <input type="hidden" value="@Model.PaymentOptionId" name="PaymentOptionId"/>
    </form>
}
