﻿@using Znode.Engine.MvcDemo.ViewModels
@model ReviewOrderViewModel
<div id="layout-cart" class="main-wrapper cart-totals">
    <div class="container">
        <div class="row multiple-checkout">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Resources.ZnodeResource.SubTitleReviewOrder</h1>
            </div>
            <div class="col-xs-12 checkout-step nopadding">
                <h3>@Resources.ZnodeResource.SubTitleCheckout3of4</h3>
            </div>
            <div class="col-xs-12 review-order nopadding">
                <p class="review-msg">@Resources.ZnodeResource.TextCheckoutReview</p>
                <div class="checkout-totals-shippingto">
                    <h4 class="section-header-color">@WebUtility.HtmlDecode(Model.ShippingOption.ShippingDescription) To:</h4>
                    <div class="address">
                        @Html.Partial("_DisplayAddress", Model.ShippingAddress)
                    </div>
                </div>
                @*PRFT Custom HTML : Start*@
                <div class="additional-instructions">
                    <h4 class="section-header-color">@Html.Raw(Resources.ZnodeResource.LabelAdditionalInstructions)</h4>
                    <textarea id="AdditionalInstructions" name="AdditionalInstructions" maxlength="255" required rows="2"></textarea>
                </div>
                @*PRFT Custom HTML : End*@
                <h4 class="section-header-color">@Resources.ZnodeResource.SubTitleItemsOrdered</h4>
                <div class="cart-products-summary">
                    <div class="col-xs-12 cart-products nopadding">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Item(s)</th>
                                    <th>@Resources.ZnodeResource.ColumnTitleItemPrice</th>
                                    <th>@Resources.ZnodeResource.ColumnTitleQuantity</th>
                                    <th>@Resources.ZnodeResource.ColumnTitleTotal</th>
                                </tr>
                            </thead>
                            @foreach (var cartItem in Model.ShoppingCart.Items)
                            {
                                @Html.Partial("../Cart/_CartRow", cartItem)
                            }
                        </table>
                    </div>


                    <div class="col-xs-12 cart-summary nopadding">
                        <div class="col-xs-12 col-sm-6 nopadding">
                            <div class="col-xs-12 col-sm-8 nopadding cart-promocode">
                                @*<h4>@Resources.ZnodeResource.TitleAppliedPromoCode</h4>
                                    @Html.Partial("../Cart/_PromoCodes", Model.ShoppingCart)
                                    <p>
                                        <a href="/cart" class="underline">@Resources.ZnodeResource.LinkTextPromoCode</a>
                                    </p>*@ &nbsp;
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 nopadding cart-total">
                            @Html.Partial("../Cart/_TotalTable", Model.ShoppingCart)
                        </div>



                    </div>
                </div>
                <div class="col-xs-12 cart-btn nopadding">
                    <div class="pull-right margin-top-bottom">
                        <a href="/cart" class="btn-text-icon grey">@*<i class="zf-cart"></i>*@@Resources.ZnodeResource.ButtonEditCart</a>
                        @if (!Model.HasError)
                        {
                            @*<a href="/checkout/Payment" class="btn-text-icon red">@*<i class="zf-checkout"></i>*@@*@Resources.ZnodeResource.ButtonContinue</a>*@
                            //PRFT Custom Code: Start
                            <form action="/checkout/payment" method="post">
                                <button type="submit" class="btn-text-icon red" title="@Resources.ZnodeResource.ButtonContinue" id="BtnContinue">@Resources.ZnodeResource.ButtonContinue</button>
                                <input type="hidden" id="hdnAdditionalInstructions" name="hdnAdditionalInstructions" /> <input type="hidden" id="hdnOrderBy" name="hdnOrderBy">
                            </form>
                            //PRFT Custom Code: End
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var windowWidth = $(window).width();
        var i;
        if (windowWidth < 768) {
            $(".cart-products > table > thead > tr > th").each(function (i) {
                var headingText = $(this).text();
                $(".cart-products > table > tbody > tr > td:nth-child(" + eval(i + 1) + ")").each(function (j) {
                    $(this).attr('data-title', headingText);
                });
                i++;
            });
        }

        $('#BtnContinue').on('click', function () {
            $('#hdnAdditionalInstructions').val($('#AdditionalInstructions').val());
        });
    });
</script>
