﻿@using Znode.Engine.MvcDemo.ViewModels
@model OrderViewModel
@{
    ViewBag.Title = "CheckoutReceipt";
}

<div id="layout-checkout-receipt" class="main-wrapper">
    <div class="container checkt-receipt">
        <div class="row">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Resources.ZnodeResource.SubTitleReceipt</h1>
            </div>
            <div class="col-xs-12 nopadding">
                @Html.HiddenFor(model => model.OrderId, new { id = "hdnOrderId" })
                @if (Model != null)
                {
                    <h4>Thank You For Your Purchase</h4>
                    <p>
                        <i class="zf-caret-right"></i>&nbsp; Your order number is <strong>#@Model.OrderId</strong>
                    </p>
                    <p>
                        <i class="zf-caret-right"></i>&nbsp; An email receipt has been sent to <strong>@Model.EmailId</strong>, please keep this email for your records.
                    </p>
                    if (User.Identity.IsAuthenticated)
                    {
                        <p>
                            <i class="zf-caret-right"></i>&nbsp; You can also look up any past purchase through your account order history.
                        </p>
                    }
                    <div class="feed-back margin-top-bottom"><a href="/CaseRequest/customerfeedback">@Resources.ZnodeResource.TextCustomerFeedback</a></div>
                    <div>
                        <a href="/" class="btn-text red pull-right">Continue shopping</a>
                    </div>
                }
                else
                {
                    <h3 class="margin-top-bottom">@Resources.ZnodeResource.ErrorUnablePlaceOrder</h3>
                }
            </div>

        </div>
    </div>     
</div>
