﻿@using Znode.Engine.MvcDemo.ViewModels
@using Znode.Engine.MvcDemo.Helpers
@model ReviewOrderListViewModel

<div id="layout-cart" class="main-wrapper cart-totals">

    <div class="container">
        <div class="row multiple-checkout">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Resources.ZnodeResource.SubTitleReviewOrder</h1>
            </div>

            <div class="col-xs-12 checkout-step nopadding">
                <h3>@Resources.ZnodeResource.SubTitleCheckout3of4</h3>
            </div>

            <div class="col-xs-12 review-order nopadding">
                @foreach (var orderItem in Model.ReviewOrderList)
                {
                    @Html.Partial("_MultipleCheckoutReviewRow", orderItem)
                }

                <div class="col-xs-12 nopadding">
                    <div class="col-sm-offset-7 cart-summary">
                        <div class="cart-total">
                            @*<h4 class="section-header-color small-only">@Resources.ZnodeResource.ColumnOrderTotal</h4>*@
                            <div class="cart-total-table total-table">
                                @{
                                    decimal total = 0, tax = 0, shipping = 0, subtotal = 0;
                                    foreach (var orderItem in Model.ReviewOrderList)
                                    {
                                        subtotal += Convert.ToDecimal((orderItem.ShoppingCart.SubTotal));
                                        //total += Convert.ToDecimal((orderItem.ShoppingCart.Total));
                                        tax += Convert.ToDecimal((orderItem.ShoppingCart.TaxCost));
                                        shipping += Convert.ToDecimal((orderItem.ShoppingCart.ShippingCost));
                                    }
                                    total = (subtotal + shipping + tax) - Model.Discount;                                    
                                }
                                <div class="form-group">
                                    <div class="col-xs-6 nopadding"><p>@Resources.ZnodeResource.OrderColumnSubTotal</p></div>
                                    <div class="col-xs-6 nopadding" id="dynamic-order-total"><p>@HelperMethods.FormatPriceWithCurrency(subtotal)</p></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6 nopadding"><p>@Resources.ZnodeResource.TotalColumnDiscounts</p></div>
                                    <div class="col-xs-6 nopadding" id="dynamic-order-total"><p>@HelperMethods.FormatPriceWithCurrency(Model.Discount)</p></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6 nopadding"><p>@Resources.ZnodeResource.TotalColumnTax</p></div>
                                    <div class="col-xs-6 nopadding" id="dynamic-order-total"><p>@HelperMethods.FormatPriceWithCurrency(tax)</p></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6 nopadding"><p>@Resources.ZnodeResource.TotalColumnShipping</p></div>
                                    <div class="col-xs-6 nopadding" id="dynamic-order-total"><p>@HelperMethods.FormatPriceWithCurrency(shipping)</p></div>
                                </div>
                                <div class="form-group total">
                                    <div class="col-xs-6 nopadding"><h2>@Resources.ZnodeResource.ColumnOrderTotal</h2></div>
                                    <div class="col-xs-6 nopadding" id="dynamic-order-total"><h2>@HelperMethods.FormatPriceWithCurrency(total)</h2></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 nopadding">
                    <div class="pull-right margin-top-bottom">
                        <a href="/cart" class="btn-text-icon grey cart-checkout-button"><i class="zf-checkout"></i>@Resources.ZnodeResource.ButtonEditCart</a>
                        <a href="/checkout/Payment" class="btn-text-icon red cart-checkout-button"><i class="zf-checkout"></i>@Resources.ZnodeResource.ButtonContinue</a>                        
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        Cart.init();
    })
</script>
