﻿@using Znode.Engine.MvcDemo.ViewModels
@using Znode.Engine.MvcDemo.Agents
@model CheckoutViewModel

@{
    ViewBag.Title = "Checkout";

}
@using (Html.BeginForm(null, null, FormMethod.Get, new { name = "checkoutform", id = "checkoutform" }))
{
    <div class="main-wrapper">
        <div class="container">
            <div class="row single-page-checkout">
                <div class="col-xs-12 nopadding">
                    <h1 class="page-title">@Resources.ZnodeResource.TitleSinglePageCheckoutProcess</h1>
                </div>
                <div class="col-xs-12 nopadding">
                    <div class="col-xs-12 col-md-4 nopadding shipping-address">
                        <div class="col-xs-12 nopadding">
                            <h3 class="title"><span>1</span>@Resources.ZnodeResource.SinglePageCheckoutShippingAddress</h3>
                        </div>
                        <div class="col-xs-12 nopadding">
                            @Html.EditorFor(model => model.ShippingBillingAddressViewModel, "_SingleCheckoutAddress")
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-8 nopadding">
                        <div class="col-xs-12 col-sm-6 shipping-method">
                            <div class="col-xs-12 nopadding">
                                <h3 class="title"><span>2</span>@Resources.ZnodeResource.SinglePageCheckoutShippingMethod</h3>
                            </div>
                            <div id="singlepage-checkout-shipping-content" class="col-xs-12 nopadding">
                                @Html.EditorFor(model => model.ShippingOptionListViewModel, "_SingleCheckoutShipping")
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 nopadding signle-page-payment margin-bottom">
                            <div class="col-xs-12 nopadding">
                                <h3 class="title"><span>3</span>@Resources.ZnodeResource.SinglePageCheckoutPaymentMethod</h3>
                            </div>
                            <div id="paymentsection" class="col-xs-12 nopadding">
                                @if (!Equals(Model.PaymentsViewModel.PaymentOptions, null) && Model.PaymentsViewModel.PaymentOptions.Count > 0)
                                {
                                    if (Model.CartViewModel.Total > 0)
                                    {
                                        @Html.EditorFor(model => model.PaymentsViewModel, "_SingleCheckoutPayment")
                                    }
                                }
                            </div>
                        </div>

                        <div class="col-xs-12 review-order nopadding">
                            <div class="col-xs-12 nopadding">
                                <h3 class="title"><span>4</span>@Resources.ZnodeResource.SinglePageCheckoutReviewOrder</h3>
                            </div>
                            <div class="col-xs-12 nopadding">
                                <div id="layout-cart" class="col-xs-12 nopadding cart-totals">
                                    @Html.Partial("_SingleCheckoutCartItem", Model.CartViewModel)
                                </div>
                                <div class="col-xs-12 nopadding gift-container margin-top">
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <label>@Resources.ZnodeResource.TextPromoCode</label>
                                        </div>
                                        <div class="col-xs-12 nopadding">
                                            <div class="col-xs-6 nopadding">
                                                @{if (!Equals(Model, null) && !Equals(Model.CartViewModel, null) && !Equals(Model.CartViewModel.Coupons, null) && Model.CartViewModel.Coupons.Count > 0)
                                                {
                                                    <input type="text" id="promocode" name="Coupon" class="form-input" size="40" value="@Model.CartViewModel.Coupons[@Model.CartViewModel.Coupons.Count-1].Coupon" />

                                                }
                                                else
                                                {
                                                    <input type="text" id="promocode" name="Coupon" class="form-input" size="40" />
                                                }
                                                }
                                            </div>
                                            <div class="col-xs-6">
                                                <button type="button" class="btn-text red" id="btnApplyCoupon">@Resources.ZnodeResource.ButtonApply</button>
                                            </div>
                                        </div>
                                        <div id="couponMessageContainer"></div>
                                    </div>
                                    @if (!string.IsNullOrEmpty(HttpContext.Current.User.Identity.Name))
                                    {
                                        <div class="form-group">
                                            <div class="col-xs-12 nopadding">
                                                <label for="giftcard_number">@Resources.ZnodeResource.SinglePageCheckoutColumnGiftCart</label>
                                            </div>
                                            <div class="col-xs-12 nopadding">
                                                <div class="col-xs-6 nopadding">
                                                    <input type="text" id="giftcard_number" name="giftcard" class="form-input" />
                                                    <input type="hidden" id="TotalAmount" value="@Model.CartViewModel.Total" />
                                                </div>
                                                <div class="col-xs-6">
                                                    <button type="button" class="singlecheckout-giftcard-apply btn-text red">@Resources.ZnodeResource.ButtonApplyGiftCard</button>
                                                </div>
                                                <p id="errorgiftcard" class="field-validation-error error-msg" style="display: none"></p>
                                            </div>
                                        </div>

                                        <div id="giftcard-action"></div>

                                        <script type="text/template" id="tmpl-giftcard-continue">
                                            <div class="total-table col-xs-12 nopadding">
                                                <div class="form-group">
                                                    <div class="col-xs-4 nopadding">@Resources.ZnodeResource.ColumnAmountApplied</div>
                                                    <div class="col-xs-8 nopadding">{{applied}}</div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-xs-4 nopadding">@Resources.ZnodeResource.ColumnGiftCardBalance</div>
                                                    <div class="col-xs-8 nopadding">{{balance}}</div>
                                                </div>
                                            </div>
                                        </script>
                                        <script type="text/template" id="tmpl-giftcard-finish">
                                            <div class="total-table  col-xs-12 nopadding">
                                                <div class="form-group">
                                                    <div class="col-xs-4 nopadding">@Resources.ZnodeResource.ColumnAmountApplied</div>
                                                    <div class="col-xs-8 nopadding">{{applied}}</div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-xs-4 nopadding">@Resources.ZnodeResource.ColumnGiftCardBalance</div>
                                                    <div class="col-xs-8 nopadding">{{balance}}</div>
                                                </div>
                                            </div>
                                        </script>
                                    }
                                    <div class="form-group">
                                        <div class="col-xs-12 nopadding">
                                            <label>@Resources.ZnodeResource.SinglePageCheckoutAdditionalInstructions</label>
                                        </div>
                                        <div class="col-xs-12 nopadding">
                                            @Html.TextAreaFor(model => model.AdditionalInstruction, new { @class = "form-input" })
                                            @if (!Equals(Model.PaymentsViewModel.PaymentOptions, null) && Model.PaymentsViewModel.PaymentOptions.Count > 0)
                                            {
                                                <button type="submit" id="singleCheckoutSubmitPayment" name="singleCheckoutSubmitPayment" class="btn-text-icon red pull-right margin-top-bottom"><i class="zf-checkout"></i> @Resources.ZnodeResource.TextCompletePurchase</button>
                                            }
                                            <div id="ErrorMessage" class="error-msg">
                                                @if (Model.HasError)
                                                {
                                                    @Html.Raw(Model.ErrorMessage)
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>



                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
}

@Html.Hidden("OrderId", "1")

@Html.Hidden("Discount", Model.CartViewModel.Discount)
@Html.Hidden("ShippingCost", Model.CartViewModel.ShippingCost)
@Html.Hidden("SubTotal", Model.CartViewModel.SubTotal)
@Html.Hidden("Total", Model.CartViewModel.Total)
@Html.Hidden("TaxCost", Model.CartViewModel.TaxCost)

@if (Model.PaymentsViewModel.PaymentOptions.Count > 0 && Model.PaymentsViewModel.PaymentOptions.Any(x => Equals(x.PaymentTypeId, (int)EnumPaymentType.CreditCard)))
{
    @Html.Hidden("CCPaymentOptionId", Model.PaymentsViewModel.PaymentOptions.FirstOrDefault(x => x.PaymentTypeId == (int)EnumPaymentType.CreditCard).PaymentOptionId)
}
@Html.Hidden("GatewayCurrencyCode", PortalAgent.CurrentPortal.CurrencySuffix)

@Html.Hidden("hdnGatwayName")
@Html.Hidden("paymentProfileId")
