﻿@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleAdvanced + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmRotateKey", SaveHeader = ZnodeResources.ButtonGenerate, CancelHeader = ZnodeResources.ButtonCancel, CancelUrl = "/Advanced/Index" };
}
<div class="col-sm-12 dashboard-page-container">
    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmRotateKey" }))
    {

        <div class="col-sm-12 title-container">
            <h1 class="left">@ZnodeResources.RotateKeyHeader</h1>
        </div>
        <div class="col-sm-12 add-new-container">
            <h4>@ZnodeResources.RotateKeySubHeader</h4>
            @Html.Raw(ZnodeResources.RotateKeyCompleteText)
        </div>
    }
    <div class="col-sm-12">
        @Html.ActionLink(ZnodeResources.BackToAdvancedPage, "Index", "Advanced", null, new { @class = "left", @title = ZnodeResources.BackToAdvancedPage })
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>

</div>