﻿@using System.Collections.ObjectModel
@using Znode.Engine.MvcDemo.ViewModels

@model Collection<SearchCategoryViewModel>
<div class="list-group category-filter-section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title panel-title-edit accordion-toggle" data-parent="#accordion" href="#collapseOne_Cat"><a><span>@Resources.ZnodeResource.TextMoreCategories</span></a></h4>
        </div>
        <div id="collapseOne_Cat" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="filter-list">
                    @if (!Equals(Model, null) && Model.Count > 0)
                    {
                        foreach (var category in Model)
                        {
                            <li>
                                <a href="@category.Categoryurl">@category.Name<sup>( @category.Count)</sup></a>
                                @if (!Equals(category.Hierarchy, null) && category.Hierarchy.Count > 0)
                                {
                                    <ul class="filter-list sub-category-list">
                                        @foreach (var subCategory in category.Hierarchy)
                                        {
                                            <li>
                                                <a href="@subCategory.Categoryurl">@subCategory.Name<sup>( @subCategory.Count)</sup></a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
