﻿@using Microsoft.Ajax.Utilities
@using Znode.Engine.MvcDemo
@using Znode.Engine.MvcDemo.ViewModels
@using Znode.Engine.MvcDemo.Maps

@model KeywordSearchViewModel

<div class="search-pagination">
    <label>Pages</label>
    <ul>
        @{
            var isFirst = 0;
            var isLast = 0;
            if (Model.PageNumber < Model.TotalPages && Model.TotalPages != 1)
            {
                isLast = Model.LastPageNumber;
            }
        }

        @if (Model.PageNumber > 1 && Model.TotalPages != 1)
        {
            <li class="search-more-nav previous"><a href="@Model.PreviousPageurl"></a></li>
            <li class="first-page"><a href="@Model.FirstPageUrl">1</a></li>
            @*<li>...</li>*@
            isFirst = 1;
             if (!((isFirst + 1) == Model.PageNumber)) {<li>... </li>}   
        }

        @if (isFirst != 1)
        {
            <li class="search-more-nav previous disable-link"><a href="@Model.PreviousPageurl"></a></li>
        }

        @for (var pageNo = (Model.TotalPages > 2 ? (Model.PageNumber > 1 ? (Model.PageNumber != Model.TotalPages ? (Model.PageNumber) : Model.PageNumber - 1) : Model.PageNumber) : 1);
            pageNo <= (Model.TotalPages > 2 ? ((Model.PageNumber > 1 ? (Model.PageNumber != Model.TotalPages ? (Model.PageNumber) : Model.PageNumber) : Model.PageNumber + 1)) : Model.TotalPages);
            pageNo++)
        {
            if (isFirst != pageNo && isLast != pageNo)
            {
                <li>
                    <a href="@SearchMap.UpdateUrlQueryString("pagenumber", pageNo.ToString())" class="@(Model.PageNumber == pageNo ? "active disable-link" : "")" title="@pageNo">@pageNo</a>
                </li>
            }
        }

        @if (Model.PageNumber < Model.TotalPages && Model.TotalPages != 1)
        {
            if (!((Model.PageNumber + 1) == Model.TotalPages) && Model.TotalPages != 3){<li>... </li>}            
            <li class="last-page"><a href="@Model.LastPageUrl">@Model.TotalPages</a></li>
            <li class="search-more-nav next"><a href="@Model.NextPageUrl"></a></li>
        }

        @if (Model.PageNumber == Model.TotalPages)
        {
            <li class="search-more-nav next disable-link"><a href="@Model.NextPageUrl"></a></li>
        }

    </ul>
</div>