﻿@using Microsoft.Ajax.Utilities
@using Znode.Engine.MvcDemo
@using Znode.Engine.MvcDemo.ViewModels
@*PRFT Custom Code: Start*@
@using Znode.Engine.MvcDemo.Agents
@*PRFT Custom Code: End*@

@model KeywordSearchViewModel

@*PRFT Custom Code: For Product Count Labels : Start*@
@{
    var firstCount = 0;
    var lastCount = Model.PageNumber.Value * Model.PageSize.Value;
    if (Model.TotalProducts != 0)
    {
        firstCount = (lastCount - Model.PageSize.Value) + 1;
        if (Model.TotalProducts > lastCount && Model.PageSize.Value != -1)
        {
            lastCount = Model.PageNumber.Value * Model.PageSize.Value;
        }
        else
        {
            lastCount = Model.TotalProducts;
        }
    }
    else
    {
        firstCount = 0;
        lastCount = 0;
    }
}
@*PRFT Custom Code: End*@

<div id="layout-search">
    <div class="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="category-landing-outer">
                    <aside class="col-xs-12 col-sm-3 side-bar">
                        <div class="filter-category-section">
                            <a href="#" id="toggle-filters" data-toggle="#side-bar" class="toggle narrow-results active">@Resources.ZnodeResource.LabelNarrowResults</a>
                            <div class="panel-group narrow-results-panel filter-results" id="side-bar">
                                <div class="product-grid">
                                    <nav class="search-filters">
                                        <div id="search-filterlist">
                                            @if (Model.Categories != null && Model.Categories.Any())
                                            {
                                                @Html.Partial("_CategoryList", Model.Categories)

                                                <div class="panel-group" id="accordion">
                                                    <div class="product-grid">
                                                        @if (Model.Facets != null && Model.Facets.Any())
                                                        {
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title"><span>@Resources.ZnodeResource.TextFilterResults</span></h4>
                                                            </div>
                                                        }
                                                        <div class="facetList-filter-section">
                                                            @{
                                                        int _count = 0;


                                                        foreach (var facet in Model.Facets)
                                                        {
                                                            facet.RecordCount = _count;
                                                            @Html.Partial("../Search/_FacetList", facet)
                                                            _count++;
                                                        }

                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    <div>
                        <div id="compareProductList">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 nopadding">
                        <div class="row category-promo">
                            @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "CategoryContactBlock" }); }
                        </div>
                    </div>

                    </aside>
                    <div class="col-xs-12 col-sm-9 category-landing-container">
                        <h1 class="page-title">@(!string.IsNullOrEmpty(Model.CategoryTitle) ? Model.CategoryTitle : "Search")</h1>
                        @*<div class="col-xs-12 col-sm-12 nopadding products-modes-setting">
                                     <div class="col-xs-12 col-sm-6 nopadding">
                                     </div>
                                     <div class="col-xs-12 col-sm-6 nopadding">
                                         <div class="view-mode pull-right">
                                             @if (!Model.Products.Count.Equals(0))
                                             {
                                                 <span>@Resources.ZnodeResource.ProductViewMode &nbsp;</span>
                                                 <a href="javascript:void(0);" class="productview grid-view-opt-active" title="Grid View"><i class="zf-grid-view"></i></a>
                                                 <a href="javascript:void(0);" class="productview list-view-opt" title="List View"><i class="zf-list-view"></i></a>
                                                 <a href="javascript:void(0);" class="productview text-view-opt" title="Text View"><i class="zf-text-view"></i></a>
                                             }
                                         </div>
                                       </div>
                            </div>*@
                        <div class="product-grid product-list nopadding">


                            <div class="search-info">
                                <nav class="search-appliedfilters">
                                    @*Applied facets, each with a link that will remove itself from the query. Facets should not include keywords or category names, only facet filters*@
                                    <ul>
                                        @foreach (var selectedFacet in Model.SelectedFacets)
                                        {
                                            foreach (var facetValue in selectedFacet.AttributeValues)
                                            {
                                                <li><a href="@facetValue.RefineByUrl" runat="server">@WebUtility.HtmlDecode(selectedFacet.AttributeName + " / " + facetValue.AttributeValue)<i class="zf-close"></i></a></li>
                                            }
                                        }
                                    </ul>
                                </nav>
                            </div>



                            <div class="searched-result-section red-text">
                                Found @Model.TotalProducts products 

                                @if (!string.IsNullOrEmpty(Model.SearchTerm))
                                {
                                    <span>matching <strong>"@Model.SearchTerm"</strong></span>
                                }
                                @if (!string.IsNullOrEmpty(Model.Category))
                                {
                                    <span> in <strong>@Model.Category </strong></span>
                                }

                                @if (Model.SelectedFacets.Any())
                                {
                                    <span>that are </span>
                                    foreach (var selectedFacet in Model.SelectedFacets)
                                    {
                                        foreach (var facetValue in selectedFacet.AttributeValues)
                                        {
                                            <strong>@WebUtility.HtmlDecode(facetValue.AttributeValue)</strong>
                                            if (facetValue != Model.SelectedFacets.SelectMany(x => x.AttributeValues).Last())
                                            {
                                                <span>and</span>
                                            }
                                        }
                                    }
                                }
                            </div>






                            @*<div class="col-xs-12 nopadding search-sorting margin-top-bottom">
                                </div>*@
                            @if (Model.Categories != null && Model.Categories.Any())
                            {
                                <div id="layout-paging" class="pagination top-pagination">
                                    <div class="pagination-content">
                                        <div class="search-info clearfix">
                                            @*<div class="search-pagination">
                                                </div>*@
                                            @if (!Model.Products.Count.Equals(0))
                                            {
                                                //PRFT Commented Html: Start
                                                @*<ul>
                                                        <li class="search-more-nav arrow-left"><a href="@Model.PreviousPageurl" data-pageno="@Model.TotalPages" class="button" title="Previous"><i class='glyphicon glyphicon-chevron-left'></i></a></li>
                                                        <li class="search-more-nav arrow-right"><a href="@Model.NextPageUrl" data-pageno="@Model.TotalPages" class="button" title="Next"><i class='glyphicon glyphicon-chevron-right'></i></a></li>
                                                    </ul>*@
                                                //PRFT Commented Html: End

                                                //PRFT Custom HTML for dropdown pagesize: Start
                                                <div class="product-item-count"><label>Items:</label><span class="product-item-countnum">@firstCount - @lastCount</span>of <span class="product-item-countnum">@Model.TotalProducts</span></div>
                                                <div class="search-paging show-page-select">
                                                    <label>Show</label>
                                                    @if (Model.Products != null && Model.Products.Count > 0)
                                                    {
                                                        @Html.DropDownListFor(m => m.PageSize, Model.PageSizes)
                                                    }
                                                </div>
                                                @Html.Partial("../Search/_PRFTPagination", Model)
                                                <div class="search-sorting-blk">
                                                    <div class="search-sorting">
                                                        <label>Sort By</label>

                                                        @if (Model.Categories != null && Model.Categories.Any())
                                                        {

                                                            @Html.Partial("_SearchSort", new ViewDataDictionary(new { Id = "Sort2" }))
                                                        }
                                                    </div>
                                                </div>
                                                //PRFT Custom HTML: End
                                            }

                                            @*PRFT Commented Html: Start*@
                                                @*<div class=" col-xs-8 col-sm-8 nopadding">
                                                        @if (Model.Categories != null && Model.Categories.Any())
                                                        {
                                                            @Html.Partial("_SearchPaging", new ViewDataDictionary(new { Id = "Page" }))
                                                        }
                                                    </div>*@
                                                @*PRFT Commented Html: End*@
                                            </div>
                                        </div>
                                    </div>
                            }

                            <div class="mobile-category-section"></div>
                            <div class="product-view nopadding">


                                @if (Model.Categories != null && Model.Categories.Any())
                                {
                                    @Html.Partial("../Product/_ProductGrid", Model.Products)
                                    @*PRFT Custom Code: Start*@

                                    @*PRFT Custom Code: End*@
                                }
                            </div>
                            @if (Model.Categories != null && Model.Categories.Any())
                            {
                                <div class="pagination bottom-pagination">
                                    <div class="pagination-content">
                                        <div class="text-center">
                                            @Html.Partial("../Search/_PRFTPagination", Model)
                                        </div>
                                    </div>
                                </div>
                            }
                            @*to show recently view item list*@


                        </div>


                    </div>
                </div>
                <div class="recommended-product-section">
                    <div id="category-recent-product" class="">
                        <div class="col-xs-12 col-sm-12 title-category nopadding" id="category-recent-product-header">
                            <h2>@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "RecentlyViewedTitle" }); }</h2>
                        </div>
                        <div class="col-xs-12 col-sm-12 nopadding recent-product-view">
                            <span class="recent-view-items"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".search-pagination a:eq(1)").click(function () {
            var pageno = getQueryStringParameterByName("pagenumber");
            var _attrpageno = $(this).attr("data-pageno")
            if (parseInt(pageno) == parseInt(_attrpageno)) {
                return false;
            }
        }),
        $(".search-pagination a:eq(0)").click(function () {
            var pageno = getQueryStringParameterByName("pagenumber");
            if (parseInt(pageno) == 1) {
                return false;
            }
        });

        

        // PRFT custom code for Touch Devices to show view all button on listing page;

        $(".touch .product-grid.product-list .product-img > a").attr('href', 'javascript:void(1);')
        $(".touch .product-grid.product-list .product-img > a").on("click", function (e) {
            $(".touch .product-grid.product-list .product-img > a").parent().parent().removeClass('active-view');
            $(this).parent().parent().addClass("active-view");
            e.stopPropagation();
        });

        // PRFT CUSTOM CODE for customized Category panel for Mobile View  

        $(document).click(function (e) {
            if (!$(e.target).is('.active-view')) {
                $(".touch .product-grid.product-list .product-img > a").parent().parent().removeClass('active-view');
            }
        });

        if ($(window).width() < 768) {
            var filteredCategories = $(".side-bar .filter-category-section").html();
            $(".mobile-category-section").append(filteredCategories);
            $(".filter-category-section").remove();
        }
        // PRFT CUSTOM CODE FRO TOGGLING OF SIDEPANEL
        $(".heading").on("click", function (e) {            
            $(this).toggleClass("active");
            $(this).next(".pannel-content").slideToggle();
        });
    });
    function getQueryStringParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
</script>
