﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources;
@{
    ActionModel actionModel = new ActionModel { SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, SaveId = "saveBoostValues", CancelId = "cancelBoostValues" };
}
<div id="grid-container">
    <div class="col-sm-12 title-container">
        <h3 class="left">@ZnodeResources.TitleCategoryLevelSettings</h3>
    </div>
    <div class="col-sm-12 search-container nopadding">
        <p>@ZnodeResources.SubTextCategoryLevelSettings</p>
    </div>
    <div class="col-sm-12 product-search">
        <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
        <div id="collapseOne" class="panel-collapse collapse in">
            @using (Ajax.BeginForm("GetCategoryLevelSetting", "ProductSearchSettings", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent" class="panel-body">
                    @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.FilterColumn)
                </div>
            }
        </div>
    </div>
    <div class="col-sm-12 list-container">
        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
    </div>
    <div class="pull-right">
        @Html.Partial("~/Views/Shared/_SaveCancelEmptyButton.cshtml", actionModel)
    </div>
</div>
@Scripts.Render("~/bundles/product")
<script>
    var val = $("#CategoryId").val(); Product.BindProductCatagory(function (res) { if (res) $("#CategoryId").val(val); val = null; }); Product.PreventSearchButton(function (res) { if (res) $("#CategoryId").val($("#CategoryId").val()); val = null;
    });

    $("#saveBoostValues").unbind("click");
    $("#saveBoostValues").click(function () {
        SearchSetting.SaveBoostValues('category');
    });
    $("#cancelBoostValues").unbind("click");
    $("#cancelBoostValues").click(function () {
        window.location.reload();
    });
    SearchSetting.BoostValueValidate();
</script>
