﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources;
@{
    ActionModel actionModel = new ActionModel { SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, SaveId = "saveBoostValues", CancelId = "cancelBoostValues" };
}
<div id="grid-container">
    <div class="col-sm-12 title-container">
        <h3 class="left">@ZnodeResources.TitleFieldLevelSettings</h3>
    </div>
    <div class="col-sm-12 search-container nopadding">
        <p>@ZnodeResources.SubTextFieldLevelSettings </p>
    </div>
    <div class="col-sm-12 list-container nopadding">
        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
    </div>
    <div class="pull-right">
        @Html.Partial("~/Views/Shared/_SaveCancelEmptyButton.cshtml", actionModel)
    </div>
</div>

<script>

    WebgridPagerHelper.SetPagingInput();
    $("#saveBoostValues").unbind("click");
    $("#saveBoostValues").click(function () {
        SearchSetting.SaveBoostValues('fields');
    });
    $("#cancelBoostValues").unbind("click");
    $("#cancelBoostValues").click(function () {
        $(".tab-container li[class='active'] a").click();
    });
    SearchSetting.BoostValueValidate();
</script>

