﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using Resources;
@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>@ZnodeResources.HeaderProductSearchSettings</h1>
    </div>
    <div class="col-sm-12 highlight-serach bottom-shift">
        <p>@ZnodeResources.TextProductSearchSettings</p>
    </div>
    <!--Main-Wrapper-->
    <div class="col-sm-12 nopadding">
        <div class="manage-stores-container">
            <div class="tab-container">
                <ul id="myTab" class="nav nav-tabs">
                    <li><a href="/ProductSearchSettings/GetProductLevelSetting" data-queryparam="" data-targetitemid="panel1" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs" title="@ZnodeResources.TabHeaderProductLevel" id="productLevelSettingTab">@ZnodeResources.TabHeaderProductLevel</a></li>
                    <li><a href="/ProductSearchSettings/GetCategoryLevelSetting" data-queryparam="" data-targetitemid="panel1" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs" title="@ZnodeResources.TabHeaderCategoryLevel" id="categoryLevelSettingTab">@ZnodeResources.TabHeaderCategoryLevel</a></li>
                    <li><a href="/ProductSearchSettings/GetFieldLevelSetting" data-queryparam="" data-targetitemid="panel1" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs" title="@ZnodeResources.TabHeaderFieldLevel" id="fieldsLevelSettingTab">@ZnodeResources.TabHeaderFieldLevel</a></li>
                </ul>
                <div id="tabContents" class="tab-content">
                    <!--Panels 1-->
                    <!--Important div Do not Modify/Delete-->
                    <div class="tab-pane fade in active" id="panel1">

                    </div>

                    <!--Panels 2-->
                    <div class="tab-pane fade " id="panel2">

                    </div>
                    <!--Panels 3-->
                    <div class="tab-pane fade" id="panel-3">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/CustomScripts/ProductSearchSetting.js"></script>