﻿@model Znode.Engine.MvcAdmin.ViewModels.PersonalizationViewModel
@using Resources

<h3>@ZnodeResources.SubHeaderFrequentlyBought</h3>
@ZnodeResources.TextFrequentlyBought
<div id="grid-container">
    <div class="col-sm-12 product-search">
        @using (Ajax.BeginForm("GetFrequentlyBoughtProductList", "Personalization", new AjaxOptions() { UpdateTargetId = "grid-container" }, new { @id = "searchform" }))
        {
            <h3>@ZnodeResources.LabelSelectStore</h3>
            <div class="col-lg-3 col-md-4 col-sm-12 product-group">
                <div class="form-group">
                    <div class="col-sm-12 col-md-10 nopadding">
                        @Html.DropDownListFor(model => model.PortalId, Model.PortalList, new { @Id = "ddlPortal" })
                    </div>
                    <div class="col-sm-12 col-md-10 nopadding">
                        @Html.Label(@ZnodeResources.TextPersonalizationCatalog + " " + @Model.CatalogName)
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-sm-12 product-search">
        <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.PersonalizationSearchProdutcs</h3>
        <div id="collapseOne" class="panel-collapse collapse in">
            @using (Ajax.BeginForm("GetFrequentlyBoughtProductList", "Personalization", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent" class="panel-body">
                    @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
                @Html.HiddenFor(model => model.PortalId)
            }
        </div>
    </div>

    <div class="col-sm-12 list-container">
        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
    </div>
</div>

<script>
    WebgridPagerHelper.Init();
</script>
