﻿@model Znode.Engine.MvcAdmin.ViewModels.PersonalizationViewModel
@using Znode.Libraries.Helpers
@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue(MvcAdminConstants.Action).RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values[MvcAdminConstants.Controller].ToString();
}

@{
    var selectedTabMode = ViewBag.TabMode;
}
<div id="ManageCrossSell">
    <div class="col-sm-12 dashboard-page-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
        {
            <div class="col-sm-12 title-container">
                <h1>@ZnodeResources.HeaderAssociatedProducts @Model.ProductTitle</h1>
                @{if (actionName.ToLower().Contains("frequently"))
                {
                    <p>@ZnodeResources.DescriptionFrequentlyBought</p>}
                  else
                  {
                    <p>@ZnodeResources.DescriptionYouMayAlsoLike</p>
                  }
}
            </div>
            <div class="col-sm-12 add-new-item">
                <div class="col-sm-12 col-md-6 col-lg-5 item-group">
                    <div class="col-sm-12 col-md-11 col-lg-11 nopadding">

                        <h4>@ZnodeResources.TitleSearch</h4>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">@Html.LabelFor(m => m.ProductName)</div>
                            <div class="col-sm-8">@Html.TextBoxFor(m => m.ProductName)</div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">@Html.LabelFor(m => m.SKU)</div>
                            <div class="col-sm-8">@Html.TextBoxFor(m => m.SKU)</div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">@Html.LabelFor(m => m.CategoryId)</div>
                            <div class="col-sm-8">@Html.DropDownListFor(m => m.CategoryId, Model.CategorySelectList)</div>
                        </div>

                        <div class="pull-right">
                            <button id="btnSearch" name="Command" value="Search" class="btn-text red" title="@ZnodeResources.TitleSearch" type="button" onclick="Personalization.SearchProducts('@UserTypes.Admin.ToString()','@Model.CrossSellType')">@ZnodeResources.ButtonSearch</button>
                            <button id="btnClear" value="Clear" class="btn-text grey" title="@ZnodeResources.TitleClear" type="button" onclick="Personalization.ClearProducts('@UserTypes.Admin.ToString()','@Model.CrossSellType')">@ZnodeResources.ButtonClear</button>                           
                        </div>
                        <div class="form-group associated-categories" id="list-container">
                            @Html.EditorFor(m => m.CrossSellProductList)
                        </div>
                        <div class="pull-right">
                            <button name="Command" class="btn-text red" type="submit" id="btnCreateAssociatedProducts" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                            @Html.ActionLink(ZnodeResources.ButtonCancel, "Personalization", new { @tabMode = selectedTabMode }, new { @class = "btn-text grey ", @title = ZnodeResources.TitleCancel })
                        </div>
                    </div>
                </div>
            </div>            
            @Html.HiddenFor(m => m.PortalId)
            @Html.HiddenFor(m => m.ProductId)
            @Html.HiddenFor(m=>m.CatalogId)
        }
    </div>
</div>

@Scripts.Render("~/bundles/Personalization")

