﻿@using Resources;

@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
}
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@{
    var selectedTabMode = TempData[MvcAdminConstants.SetTabMode];
}
<div class="col-sm-12 dashboard-page-container">
    @if (!Equals(@TempData["Notification"], null))
    {
        <div class='MessageBox alert alert-info'><p>@TempData["Notification"]</p></div>
    }
    @if (!Equals(@TempData["ErrorMessage"], null))
    {
        <div class='MessageBox alert alert-danger'><p>@TempData["Notification"]</p></div>
    }
    <div class="col-sm-12 title-container bottom-shift">
        <h1 class="left">@ZnodeResources.HeaderPersonalization</h1>
       
    </div>
    <div class="col-sm-12 nopadding">
        <div class="manage-stores-container">
            <div class="tab-container">
                <ul id="myTab" class="nav nav-tabs">
                    <li><a href="/Personalization/GetYouMayLikeAlsoProductList" data-queryparam="1" data-targetitemid="panel1" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs" id="Personalization-ymlTab">@ZnodeResources.TabYouMayAlsoLike</a></li>
                    <li><a href="/Personalization/GetFrequentlyBoughtProductList" data-queryparam="1" data-targetitemid="panel1" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs" id="Personalization-fbTab">@ZnodeResources.TabFrequentlyBought</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade" id="panel1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/Personalization")
