﻿@model Znode.Engine.MvcAdmin.ViewModels.FacetListViewModel
@using Resources;
@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
}

<div class="col-sm-12 nopadding">
    <div class="col-sm-12 nopadding">
        @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-plus'></i>" + ZnodeResources.ButtonAdd, "CreateFacet", "Facet", new { @itemId = Model.FacetGroupId }, new { @class = "btn-text-icon red pull-right bottom-shift", @title = ZnodeResources.ButtonAdd })
    </div>
    <div class="col-sm-12 nopadding">
            @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
    </div>
</div>