﻿@model Znode.Engine.MvcAdmin.ViewModels.FacetGroupViewModel
@using Znode.Engine.MvcAdmin.Helpers
@using Resources;
@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue(MvcAdminConstants.Action).RawValue.ToString();
    string controllerName = ViewContext.Controller.ValueProvider.GetValue(MvcAdminConstants.Controller).RawValue.ToString();
    actionName = (Equals(actionName, MvcAdminConstants.GetFacetGroupAction) || Model.IsEditMode) ? MvcAdminConstants.ManageFacetGroupAction : actionName;
}

@using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
{
    <h4>@ZnodeResources.FacetGroupInformationHeader</h4>
    <div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.Label("txtFacetGroupName", ZnodeResources.FacetGroupName, new { @class = "required" })
                <p class="sub">@ZnodeResources.TextFacetGroupName</p>
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.FacetGroupLabel, new { @id = "txtFacetGroupName" })
                @Html.ValidationMessageFor(m => m.FacetGroupLabel)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.Label("txtDisplayOrder", ZnodeResources.DisplayOrderText, new { @class = "required" })
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.DisplayOrder, new { @id = "txtDisplayOrder", maxlength = "9" })
                @Html.ValidationMessageFor(m => m.DisplayOrder)
            </div>
        </div>

        @if (!Model.IsEditMode)
        {
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.DropDownListFor(m => m.ControlTypeId, Model.TagControlType, new { @id = "ddlControlTypeId", @Style = "display:none;" })
                    @Html.Label("ddlCatalog", ZnodeResources.SelectCatalogText)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.CatalogId, Model.Catalogs, new { @id = "ddlCatalog" })
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(m => m.CatalogId)
            @Html.HiddenFor(m => m.ControlTypeId)
            @Html.HiddenFor(m => m.FacetGroupId)
        }
    </div>
    <div class="col-sm-12 associated-categories nopadding">
        <div>
            <h4>@ZnodeResources.AssociatedFacetDescription</h4>
            <div id="associatedcategories">
                @Html.Partial("~/Views/Facet/_AssociateCatagories.cshtml")
            </div>
        </div>
        <div class="pull-right">
            <button type="submit" id="btnCreateFacetGroup" title=@ZnodeResources.ButtonSubmitRequest class="btn-text red">@ZnodeResources.ButtonSubmitRequest</button>
            @Html.ActionLink(ZnodeResources.ButtonCancel, @ZnodeResources.LabelListAction, @ZnodeResources.LabelFacetController, new { @Class = "btn-text grey", @title = ZnodeResources.ButtonCancel })
        </div>
    </div>

}