﻿@model Znode.Engine.MvcAdmin.ViewModels.FacetViewModel
@using Resources;
@using Znode.Engine.MvcAdmin.Extensions;
@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();

}

<div class="col-sm-12 dashboard-page-container">
    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
    {

        if (Model.IsEditMode)
        {
            <div class="col-sm-12 title-container">
                <h1>@ZnodeResources.EditFacetHeader</h1>
            </div>
        }
        else
        {
            <div class="col-sm-12 title-container">
                <h1>@ZnodeResources.AddFacetHeader</h1>
            </div>
        }
        <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
            <h4>@ZnodeResources.SubHeaderAddFacetInformation</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label("txtFacetName", ZnodeResources.LabelFacetName, new { @class = "required" })
                    <p class="sub">@ZnodeResources.TextFacetGroupName</p>
                </div>
                <div class="col-sm-8 ">
                    @Html.TextBoxFor(m => m.FacetName, new { @id = "txtFacetName", @class = "AllowHtml"})
                    @Html.ValidationMessageFor(m => m.FacetName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label("txtDisplayOrder", ZnodeResources.LabelDisplayOrder, new { @class="required"})
                    <p class="sub">@ZnodeResources.TextFacetDisplayOrder</p>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.FacetDisplayOrder, new { @id = "txtDisplayOrder", maxlength = "9" })
                    @Html.ValidationMessageFor(m => m.FacetDisplayOrder)
                </div>
            </div>                       
            @Html.HiddenFor(m => m.FacetGroupID)
            @Html.HiddenFor(m => m.FacetID)
            
            <div class="pull-right">
                <button type="submit" id="btnCreateFacet" class="btn-text red">@ZnodeResources.ButtonSubmitRequest</button>
                <button type="button" class="btn-text grey" onclick="javascript: location.href = '/Facet/GetFacetGroup?id=@Model.FacetGroupID &mode=@MvcAdminConstants.AssociatedFacet';">@ZnodeResources.ButtonCancel</button>
            </div>

        </div>
    }
</div>