﻿@model Znode.Engine.MvcAdmin.ViewModels.FacetGroupViewModel
@using Znode.Engine.MvcAdmin.Helpers
@using Resources;
@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
}

<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        @{
            var activePanelClassName = "active";
            var activeTabContentClassName = "in active";
            var activePanel1 = string.Empty;
            var activePanel2 = string.Empty;
            var activeTabContent1 = string.Empty;
            var activeTabContent2 = string.Empty;

            if (!Equals(TempData[MvcAdminConstants.DisplayAssociatedFacet], null) && Model.IsEditMode)
            {
                activePanel1 = string.Empty;
                activePanel2 = activePanelClassName;
                activeTabContent1 = string.Empty;
                activeTabContent2 = activeTabContentClassName;
            }
            else
            {
                activePanel1 = activePanelClassName;
                activePanel2 = string.Empty;
                activeTabContent1 = activeTabContentClassName;
                activeTabContent2 = string.Empty;
            }




            if (Model.IsEditMode)
            {
                <div class="col-sm-12 title-container bottom-shift">
                    <h1>@string.Format(ZnodeResources.ManageFacetGroupHeader, Model.FacetGroupLabel)</h1>
                </div>
            }
            else
            {
                <div class="col-sm-12 title-container bottom-shift">
                    <h1>@ZnodeResources.CreateFacetGroupHeader</h1>
                </div>
            }
            <div class="col-sm-12">
                <div class="Tab-container">
                    <ul id="myTab" class="nav nav-tabs">
                        <li><a id="facet-facetgroup" href="#panel-1" data-toggle="tab" class="tabs">@ZnodeResources.FacetGroupInformationText</a></li>
                        @if (Model.IsEditMode)
                        {
                            <li class="@activePanel2"><a id="facet-associatefacet" href="#panel-2" data-toggle="tab" class="tabs">@ZnodeResources.AssociatedFacetText</a></li>
                        }

                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <!--Panels 1-->
                        <div class="tab-pane fade @activeTabContent1" id="panel-1">
                            <div class="col-sm-12 col-md-6 col-lg-5 add-new-container nopadding">
                                @Html.Partial("~/Views/Facet/_FacetGroupInformation.cshtml")
                            </div>
                        </div>
                        @if (Model.IsEditMode)
                        {
                <!--Panels 2-->
                            <div class="tab-pane fade @activeTabContent2" id="panel-2">
                                @Html.Partial("~/Views/Facet/_AssociatedFacets.cshtml", Model.AssociatedFacets)
                            </div>
                        }
                    </div>
                </div>
            </div>

        }
    </div>
</div>