﻿@model Znode.Engine.MvcAdmin.ViewModels.FacetGroupListViewModel
@using Resources;
@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@ZnodeResources.FacetGroupsHeader</h1>
            @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-plus'></i>" + @ZnodeResources.ButtonAdd, ZnodeResources.LabelCreateEditFacetGroupAction, ZnodeResources.LabelFacetController, null, new { @class = "btn-text-icon red pull-right", @title = @ZnodeResources.ButtonAdd })
        </div>
        <div class="col-sm-12 search-container">
            <p class="left">@ZnodeResources.FacetGroupsHeaderDescription</p>
        </div>
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm(ZnodeResources.LabelListAction, ZnodeResources.LabelFacetController, new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-12 list-container">
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
            </div>
        </div>
    </div>
</div>
