<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Customer Receipt</title>
    <style type="text/css">
        {{StyleSheetPath}</style>
</head>
<body>
    <div class="OrderReceipt">
        <div class="Border">
           
            <table width="100%" style="border-collapse:collapse;">
                <tr>
                    <td style="background:#eb2026;padding:10px;">
                        <p style="margin:0;"><img src="#SnSLogo#" alt="S&S Sales Corporation" border="0" style="display:block;" title="S&S Sales Corporation" /></p>
                    </td>
                </tr>
            </table>
            <!--PRFT Custom HTML: Start-->
            <div style="padding: 10px 10px 0">
                <table width="100%" style="border-collapse: collapse; background: #eceeef; border-bottom: 1px solid #cfd4d7;">
                    <tr style="font-family: Verdana, Helvetica, sans-serif; text-align: left; font-size: 14px;">
                        <td style="color: #eb2026; padding: 10px 10px 0;">
                            <div class="Head"><strong>{SiteName}&#160;Customer Receipt</strong></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px">
                            <!--~ Don't remove ~ sign as it is used in SendEmailReceipt() in ZnodeSupplierEmail and SendEmailReceiptToCustomer() in ZnodeSupplierManager. This is done to remove Print link from body of email.-->
                            <div class="NoPrint order-print-holder">
                                <a href="#" class="PrintLink">Print</a> <input type="image" class="PrintLink" src="../../../../images/print_icon.png">
                            </div>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid #c3c3c3;">
                        <td style="padding: 0 10px 10px;">
                            <div class="ReceiptText">{ReceiptText}</div>
                        </td>

                    </tr>
                </table>
                <!--PRFT Custom HTML: End-->
                <!-- ~-->
            </div>
            <div style="padding: 10px;">
                
                <table cellpadding="0" cellspacing="3" border="0" class="ReceiptTable" width="100%" cellpadding="0" cellspacing="3" border="0" width="100%" style="font-family: Verdana, Helvetica, sans-serif;
                    color: #333333; font-size: 12px;">
                   
                    <tr>
                        <td align="left" nowrap="true">
                            <div class="SubHead" style="padding-bottom:10px;font-weight:bold;">
                                Order Information
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="nowrap">
                            <strong>Order Number:</strong> {OrderId}
                        </td>
                    </tr>
                    <tr>
                        <td align="Left" nowrap="nowrap">
                            <strong>Order Date:</strong> {OrderDate}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="nowrap">
                            <strong>Account Number:</strong> {AccountId}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="nowrap">
                            <strong>Promotion Code:</strong> {PromotionCode}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="nowrap">
                            <strong>Payment Method:</strong> {PaymentName}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="nowrap">
                            <strong>TransactionID:</strong> {CardTransactionID}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="nowrap">
                            <strong>Purchase Order Number:</strong> {PONumber}
                        </td>
                    </tr>
                    <!--<tr>
                        <td colspan="2">
                            &#160;
                        </td>
                    </tr>-->
                    <tr>
                        <td align="left" nowrap="true">
                            <div class="SubHead" style="padding:10px 0;font-weight:bold;">
                                Customer Service
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="nowrap">
                            <strong>E-Mail:</strong> {CustomerServiceEmail}
                        </td>
                    </tr>
                    <tr>
                        <td align="left" nowrap="nowrap">
                            <strong>Phone:</strong> {CustomerServicePhoneNumber}
                        </td>
                    </tr>
                    <!--<tr>
                        <td colspan="2">
                            &#160;
                        </td>
                    </tr>-->
                    <tr>
                        <td align="left" nowrap="nowrap" class="ReceiptTable">
                            <div class="SubHead" style="padding:10px 0;font-weight:bold;">
                                Billing Address
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="Left" nowrap="nowrap" colspan="2">
                            {BillingAddress}
                        </td>
                    </tr>
                    <!--<tr>
                        <td colspan="2">
                            &#160;
                        </td>
                    </tr>-->
                    <tr>
                        <td align="left"style="padding:10px 0;font-weight:bold;">
                            <div class="SubHead">
                                Shipping Address
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {ShippingAddress}
                        </td>
                    </tr>
                    <!--<tr>
                        <td colspan="2">
                            &#160;
                        </td>
                    </tr>-->
                    <tr>
                        <td colspan="2" align="left">
                            <div class="Product">
                                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                                    <tr class="DetailsHeader" style="background-color: #eff3fb">
                                        <td align="center" class="ForeColor" style="border-color: #c3c3c3; border-style: solid; border-width:1px 0 1px 1px;color: #333; padding: 5px; font-family: Verdana, Helvetica, sans-serif">
                                            <strong>Qty</strong>
                                        </td>
                                        <td class="ForeColor" style="border-color: #c3c3c3; border-style: solid; border-width: 1px 0 1px 1px;color: #333; padding: 5px; font-family: Verdana, Helvetica, sans-serif">
                                            <strong>Item</strong>
                                        </td>
                                        <td class="ForeColor" align="right" style="border: 1px solid #c3c3c3; color: #333; padding: 5px; font-family: Verdana, Helvetica, sans-serif">
                                            <strong>Price</strong>
                                        </td>
                                    </tr>
                                    <tr {LineItems}>
                                        <td align="center" style="border-color:#c3c3c3; border-style:solid;border-width:0 0 1px 1px;color: #333; padding: 5px; font-size: 11px; font-family: Verdana, Helvetica, sans-serif; ">
                                            {Quantity}
                                        </td>
                                        <td align="left" style="border-color:#c3c3c3; border-style: solid; border-width:0 0 1px 1px;color:#333; padding: 5px; font-size: 11px; font-family: Verdana, Helvetica, sans-serif; ">
                                            {Name}
                                        </td>
                                        <td align="right" style="border-color: #c3c3c3; border-style: solid; border-width:0 1px 1px 1px; color:#333; padding: 5px; font-size: 11px; font-family: Verdana, Helvetica, sans-serif;">
                                            {ExtendedPrice}
                                        </td>
                                    </tr>
                                    <tr {AmountLineItems}>
                                        <td colspan="2" align="right" style="border: none; color: #333; padding: 5px">
                                            <strong>{Title}</strong>
                                        </td>
                                        <td align="right" style="border-color: #c3c3c3; border-style: solid; border-width: 0 1px 1px 1px; color: #333; font-size: 11px; padding: 5px; font-family: Verdana, Helvetica, sans-serif">
                                            {Amount}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="right" style="border: none;padding:20px 5px 5px">
                                            <div class="SubHead">Total</div>
                                        </td>
                                        <td align="right" style="color: #333; font-size: 11px; max-width: 170px; font-family: Verdana, Helvetica, sans-serif;padding:20px 5px 5px;">
                                            <strong>{TotalCost}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" align="left" nowrap="true" style="border:none;padding:10px 0;">
                                            <div class="SubHead">
                                                Additional Instructions
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" align="left" style="border:none;padding:0;">
                                            <div align="justify">
                                                {AdditionalInstructions}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="border: none;">
                                            <div class="Spacer">&#160;</div>
                                        </td>
                                    </tr>
                                   
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="left" style="border: none;" class="FeedBackLink">
                            <a href="{FeedBack}">Click here to give us feedback on your ordering experience.</a>
                        </td>
                    </tr>
                </table>
            </div>
               
            <table width="100%" style="border-collapse:collapse;font-family: Verdana, Helvetica, sans-serif;font-size:12px;">
                <tr>
                    <td style="background:#eb2026;padding:20px;color:#fff;">
                        <p style="margin:0;"><strong>MAILING INFO : </strong><a href="mailto:#MailingInfo#" style="text-decoration:none; color: #333;font-weight:bold;">#MailingInfo#</a></p>
                        <!--<p style="margin:0;"><strong>TEL (US) : </strong>#SupportPhone# &nbsp;&nbsp; | &nbsp;&nbsp; <strong>EMAIL : </strong><a href="mailto:#SupportEmail#" style="text-decoration:none; color:#333;font-weight:bold;">#SupportEmail#</a></p>-->
                        <p style="margin:0;"><strong>TEL (US) : </strong>#SupportPhone#</p>
                        <p style="margin:0;"><strong>EMAIL : </strong><a href="mailto:#SupportEmail#" style="text-decoration:none; color:#333;font-weight:bold;">#SupportEmail#</a></p>
</td>
                </tr>
            </table>
            
        </div>
    </div>
</body>
</html>
