﻿<!--PRFT Custom Code: Start-->
@using Znode.Engine.MvcDemo.ViewModels;
@using Znode.Engine.MvcDemo.Helpers;

@{
    var accountModel = (AccountViewModel)HttpContext.Current.Session[MvcDemoConstants.AccountKey];
    var parentAccountId = "0";
    var isB2BUser = false;
    if (accountModel != null)
    {
        parentAccountId = (accountModel.AccountId).ToString();
        isB2BUser = accountModel.Custom2 != null && accountModel.Custom2 == "1" ? true : false;
    }
}
<!--PRFT Custom Code: End-->


<ul class="account-menu nav nav-tabs tabs-left">
    <li><a href="/Account/Dashboard"><i class="zf-caret-right"></i> @Resources.ZnodeResource.LinkTextYourAccount</a></li>
    <li><a href="/Account/Wishlist"><i class="zf-caret-right"></i> @Resources.ZnodeResource.LinkTextWishlist</a></li>
    <li><a href="/Account/OrderHistory" add-value="/Account/OrderReceipt"><i class="zf-caret-right"></i> @Resources.ZnodeResource.LinkTextOrderHistory</a></li>
    <li><a href="/Account/AddressBook" add-value="/Account/Address"><i class="zf-caret-right"></i> @Resources.ZnodeResource.LinkTextAddressBook</a></li>
    @*<li><a href="/Account/Reviews"><i class="zf-caret-right"></i> @Resources.ZnodeResource.LinkTextReview</a></li>
    <li><a href="/Account/GiftCardHistory"><i class="zf-caret-right"></i> @Resources.ZnodeResource.LinkTextGiftCardHistory</a></li>*@
    <li><a href="/Account/EditProfile" add-value="/Account/ChangePassword"><i class="zf-caret-right"></i> @Resources.ZnodeResource.LinkTextEditProfile</a></li>
    <!--PRFT Custom HTML: Start-->
    @if (isB2BUser)
    {
        <li><a href="/account/useradministration/@parentAccountId" title="@Resources.ZnodeResource.UserAdministrationLabelText" add-value="/Account/UserAdministration" data-href="/Account/RegisterSubUser" data-highlight="/Account/SubUserOrderHistory" data-highlightreceipt="/Account/SubUserOrderReceipt"><i class="zf-caret-right"></i>@Resources.ZnodeResource.UserAdministrationLabelText</a></li>
    }
    <!--PRFT Custom HTML: End-->
</ul>
