﻿@model ICollection<AuthenticationClientData>

@if (!Equals(Model, null) && Model.Count > 0)
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <div class="col-xs-12 nopadding margin-bottom" id="socialLoginList">
            @*<p>@Resources.ZnodeResource.SubTextSocialLogin</p>*@
            <div class="col-xs-12 col-md-8 nopadding">
                <div class="text-center">
                    @foreach (AuthenticationClientData p in Model)
                    {
                        if (Equals(p.AuthenticationClient.ProviderName, "facebook"))
                        {
                            <button type="submit" name="provider" class="btn-text-full social-login facebook-btn" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account"><i class="zf-facebook-simple"></i> @p.DisplayName</button>
                        }
                        else if (Equals(p.AuthenticationClient.ProviderName, "google"))
                        {
                            <button type="submit" name="provider" class="btn-text-full social-login google-btn" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account"><i class="zf-google"></i>@p.DisplayName</button>
                        }
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-8 nopadding">
                <p class="margin-top text-center">We will never post anything without your permission</p>
            </div>
        </div>
    }
}
