﻿@*
    The PRODUCT_NAME value corresponds to the name of the most expensive
    product in the order.

    The COUNT value corresponds to the total number of products on
    the order minus the one shown (PRODUCT_NAME)

    The number of orders looping will be variable. On the Dashboard there should only
    be 3 recent orders showing. On the Order History page it should display all orders.

*@
@using Znode.Engine.MvcDemo.ViewModels
@using Znode.Engine.MvcDemo.Helpers

@model IEnumerable<OrdersViewModel>

@{
    var accountModel = (AccountViewModel)HttpContext.Current.Session[MvcDemoConstants.AccountKey];
}
@if (Model.Any())
{
    @*<input type="hidden" name="Language" id="AccountId" value="@Model.AccountId">*@
    <div class="account-recent-orders table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Resources.ZnodeResource.TitleSummary</th>
                    <th>@Resources.ZnodeResource.TitleDate</th>
                    <th>@Resources.ZnodeResource.TitleOrder</th>
                    <th>@Resources.ZnodeResource.TitleTotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model)
                {
                    if (!string.IsNullOrEmpty(items.Custom1) && (items.Custom1).Equals(accountModel.ExternalId))
                    {


                        <input type="hidden" name="Language" id="AccountId" value="@items.AccountId">
                        <tr>
                            <td>
                                <a href="/Account/SubUserOrderReceipt/@items.OrderId?accountId=@items.AccountId" class="action-link">
                                    <span class="recent-order-product">@WebUtility.HtmlDecode(@items.MaxOrderLineItem.Name)</span>
                                    <div class="recent-order-meta">
                                        <div class="order-meta-items">
                                            @if (items.HasMultipleItems)
                                            {
                                                <span>Plus @items.OtherItemCount other items</span>
                                            }
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td class="recent-order-date">
                                @items.OrderDate
                            </td>
                            <td class="recent-order-id">
                                @items.OrderId
                            </td>
                            <td class="recent-order-total">
                                @HelperMethods.FormatPriceWithCurrency(items.OrderTotal)
                            </td>

                            @*<td class="recent-order-reorder">
                                    <a href="/account/ReorderProducts/@items.OrderId">@Resources.ZnodeResource.TextReoder</a>
                                </td>*@
                        </tr>
                    }

                }
            </tbody>
        </table>

    </div>
}
else
{
    <div class="col-xs-12 nopadding">
        <p>There is no orders.</p>
    </div>
}
