﻿@using Znode.Engine.MvcDemo.ViewModels
@model ChangePasswordViewModel
<div class="col-xs-12 nopadding">
    @Html.ValidationSummary(true)

    @if (!Model.IsResetPassword)
    {
        <div class="form-group">
            <div class="col-xs-12 nopadding"><label for="reset_oldpassword" class="required">@Resources.ZnodeResource.ColumnCurrentPassword</label></div>
            <div class="col-xs-12 nopadding left-inner-icon nopadding">
                <i class="zf-key login-icon"></i>
                @Html.PasswordFor(m => m.OldPassword, new { @type = "password", @id = "reset_oldpassword", @autocomplete = "off" })
                <p class="error-msg">@Html.ValidationMessageFor(m => m.OldPassword)</p>
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="reset_password" class="required">@Resources.ZnodeResource.ColumnNewPassword</label>
            <p class="sub">  @Resources.ZnodeResource.ValidPassword</p>
        </div>
        <div class="col-xs-12 nopadding left-inner-icon nopadding">
            <i class="zf-key login-icon"></i>
            @Html.PasswordFor(m => m.NewPassword, new { @type = "password", @id = "reset_password", @autocomplete = "off" })
            <p class="error-msg">@Html.ValidationMessageFor(m => m.NewPassword)</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 nopadding">
            <label for="reset_verify" class="required">@Resources.ZnodeResource.ColumnReTypeNewPassword</label>
        </div>
        <div class="col-xs-12 nopadding left-inner-icon nopadding">
            <i class="zf-key login-icon"></i>
            @Html.PasswordFor(m => m.ReTypeNewPassword, new { @type = "password", @id = "reset_verify", @autocomplete = "off" })
            <p class="error-msg">@Html.ValidationMessageFor(m => m.ReTypeNewPassword)</p>
        </div>
    </div>

    @Html.HiddenFor(x => x.PasswordToken)
    @Html.HiddenFor(x => x.UserName)
</div>
