﻿@model Znode.Engine.MvcDemo.ViewModels.AccountViewModel
<div id="layout-account-editprofile" class="main-wrapper">

    <div class="container">
        <div class="row">
            <h1 class="page-title">@Resources.ZnodeResource.LinkTextEditProfile</h1>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <a href="/account/dashboard" class="account-gohome">@Resources.ZnodeResource.LinkTextBackToAccount</a>
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-sm-9 col-lg-10 edit-profile">
                    <p class="page-sub-text">@Resources.ZnodeResource.SubTextEditProfile</p>
                    <div class="col-xs-12 col-sm-8 nopadding">
                        <form method="POST" action="/account/editprofile" class="form">
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <label>Username</label>
                                <div class="col-xs-12 nopadding">
                                    @Model.UserName
                                </div>
                                @Html.HiddenFor(m => m.UserName)
                            </div>
                            <div class="form-group">
                                <label for="profile_email" class="required">@Resources.ZnodeResource.ColumnEmailAddress</label>
                                <div class="col-xs-12 nopadding">
                                    @Html.TextBoxFor(model => model.EmailAddress, new { @id = "profile_email" })
                                    <p class="error-msg">@Html.ValidationMessageFor(m => m.EmailAddress)</p>
                                </div>
                            </div>
                            <div class="change-password">
                                <a href="/Account/ChangePassword" class="pull-right">@Resources.ZnodeResource.TitleChangePassword</a>
                            </div>
                            <div class="styled-input">
                                <input type="checkbox" id="signup_optin" name="EmailOptIn" value="true" @(Model.EmailOptIn ? "checked='checked'" : "") /><label for="signup_optin">@Resources.ZnodeResource.CheckBoxTextNewsLetter</label>
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn-text red">Update Profile</button>
                                <a href="Dashboard" class="btn-text grey">@Resources.ZnodeResource.ButtonCancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>