﻿@using Znode.Engine.MvcDemo.ViewModels

@model AccountViewModel

<div id="layout-forgotpassword" class="main-wrapper">
    <div class="container">
        <div class="row register-container">
            <h1 class="page-title">@Resources.ZnodeResource.TextResetPassword</h1>
            <p class="page-sub-text">@Resources.ZnodeResource.SubTextResetPassword</p>
            <div class="col-xs-12 col-sm-6 nopadding">
                <form method="POST" action="/account/forgotpassword" class="form">
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <label for="forgot_username" class="required">@Resources.ZnodeResource.ColumnUsername</label>
                        <div class="col-xs-12 left-inner-icon nopadding">
                            <i class="zf-login-user login-icon"></i>
                            @Html.TextBoxFor(m => m.UserName, new { @type = "text", @id = "forgot_username", @class = "form-input" })
                            <p class="error-msg">@Html.ValidationMessageFor(m => m.UserName)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="forgot_email" class="required">@Resources.ZnodeResource.ColumnEmailAddress</label>
                        <div class="col-xs-12 left-inner-icon nopadding">
                            <i class="zf-envelope login-icon"></i>
                            @Html.TextBoxFor(m => m.EmailAddress, new { @type = "email", @id = "forgot_email", @class = "form-input-long" })
                            <p class="error-msg">@Html.ValidationMessageFor(m => m.EmailAddress)</p>
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div class="pull-right">
                            <input type="hidden" id="dynamic-userid" name="userid" value="" />
                            <button type="submit" class="btn-text red">@Resources.ZnodeResource.ButtonSubmitRequest</button>
                            <a href="Login" class="btn-text grey">@Resources.ZnodeResource.ButtonCancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="location"></div>
    <div class="container"></div>
</div>
