﻿@using Znode.Engine.MvcDemo.ViewModels

@model AccountViewModel
<div id="layout-account-orderhistory" class="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Resources.ZnodeResource.TitleGiftCardHistory</h1>
            </div>

            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <a href="./dashboard" class="account-gohome">@Resources.ZnodeResource.LinkTextBackToAccount</a>
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-sm-9 col-lg-10 order-history">
                    <h3 class="section-header">@string.Format(Resources.ZnodeResource.TextGiftCardHistory, Model.GiftCardHistory.Count)</h3>
                    @Html.Partial("_GiftCardHistory", Model.GiftCardHistory)
                </div>
            </div>
        </div>
    </div>
</div>
