﻿@using Znode.Engine.MvcDemo.Maps
@using Znode.Engine.MvcDemo.ViewModels
@model PRFTRegisterSubUserViewModel

<div id="layout-account-orderhistory" class="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="location">
                <h1 class="location-title">@Resources.ZnodeResource.UserAdministrationLabelText</h1>
            </div>

            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <a href="/account/Dashboard" class="account-gohome" title="@Resources.ZnodeResource.LinkTextBackToAccount">@Resources.ZnodeResource.LinkTextBackToAccount</a>
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-sm-9 register-subuser-form">
                    <h3 class="section-header">
                        @Resources.ZnodeResource.TitleRegisterAccount
                    </h3>
                    @Html.ValidationSummary(true)

                    <form method="POST" class="form">
                        <div class="form-group">
                            <div class="col-sm-3 nopadding">
                                <label for="signup_email" class="required">@Resources.ZnodeResource.ColumnEmailAddress</label>
                            </div>
                            <div class="col-sm-9 left-inner-icon nopadding">
                                <i class="zf-envelope"></i>
                                @Html.TextBoxFor(m => m.EmailAddress, new { @id = "signup_email", @class = "form-input-long" })
                                <p class="error-msg">@Html.ValidationMessageFor(m => m.EmailAddress)</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 nopadding">
                                <label for="signup_username" class="required">@Resources.ZnodeResource.ColumnUsername</label>
                            </div>
                            <div class="col-sm-9 left-inner-icon nopadding">
                                <i class="zf-login-user"></i>
                                @Html.TextBoxFor(m => m.UserName, new { @id = "signup_username" })
                                <p class="error-msg">@Html.ValidationMessageFor(m => m.UserName)</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="sub">@Resources.ZnodeResource.ValidPassword</p>

                            <div class="col-sm-3 nopadding">
                                <label for="signup_password" class="required">@Resources.ZnodeResource.ColumnCreatePassword</label>
                            </div>
                            <div class="col-sm-9 left-inner-icon nopadding">
                                <i class="zf-key"></i>
                                @Html.PasswordFor(m => m.Password, new { @type = "password", @id = "signup_password", @autocomplete = "off" })
                                <p class="error-msg">@Html.ValidationMessageFor(m => m.Password)</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 nopadding">
                                <label for="signup_verify" class="required">@Resources.ZnodeResource.ColumnReTypePassword</label>
                            </div>
                            <div class="col-sm-9 left-inner-icon nopadding">
                                <i class="zf-key-2"></i>
                                @Html.PasswordFor(m => m.ReTypePassword, new { @type = "password", @id = "signup_verify", @autocomplete = "off" })
                                <p class="error-msg">@Html.ValidationMessageFor(m => m.ReTypePassword)</p>
                            </div>
                        </div>

                        <div class="form-group">
                            @*<div class="col-xs-12 styled-input nopadding">
                                    <input type="checkbox" id="signup_optin" name="EmailOptIn" value="true" />&nbsp;<label for="signup_optin">@Resources.ZnodeResource.CheckBoxTextNewsLetter</label>
                                </div>*@
                            <div class="pull-right">
                                <button type="submit" class="btn-text red">@Resources.ZnodeResource.ButtonCreateAccount</button>
                                @Html.ActionLink(@Resources.ZnodeResource.ButtonCancel, "Login", "Account", new { @class = "btn-text grey" })
                            </div>
                        </div>
                    </form>

                    @*<div class="col-xs-12 col-sm-6 account-signup-container">
                            <div class="user-icon img-circle">
                                <i class="zf-login-user"></i>
                            </div>
                            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                                <h3>Already have a S &amp; S Sales account?</h3>
                                <a href="/Account/Login" class="btn-text-full grey account-signup-link">Login Now !</a>
                            </div>
                        </div>*@
                    @if (Model.SuperUserAccount != null)
                    {
                        @Html.HiddenFor(m => m.SuperUserAccount.ParentAccountId, new { @id = "parentAccountId" })
                    }

                </div>
            </div>
        </div>
    </div>
</div>
