﻿<script type="text/javascript">
    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
        //var isGroupProduct = false;
        //Binding Add to wishlist button click event functionality.
        $("<div id='divChooseCust'></div>")
                .addClass("dialog")
                .attr("id", $(this).attr("data-dialog-id"))
                .appendTo("body")
                .dialog({
                    title: 'Login Under Customer',
                    modal: true,
                    height: 'auto',
                    width: 260,
                    closeOnEscape: false,
                    fluid: true
                    //close: function () {
                    //    $(".dialog").remove();
                    //},
                })       
        .load("@Url.Action("AssociateCustomerListPopUp")", function () {
            $.getScript("/Scripts/PRFTAssociatedCustomerList.js");
        });
        $(".ui-dialog-titlebar-close").hide()
    });

    //Code for center alignment of popup
    $(window).resize(function () {
        fluidDialog();
    });

    $(document).on("dialogopen", ".ui-dialog", function (event, ui) {
        fluidDialog();
    });

    function fluidDialog() {
        var $visible = $(".ui-dialog:visible");
        // each open dialog
        $visible.each(function () {
            var $this = $(this);
            var dialog = $this.find(".ui-dialog-content").data("ui-dialog");
            // if fluid option == true
            if (dialog.options.fluid) {
                var wWidth = $(window).width();
                // check window width against dialog width
                if (wWidth < (parseInt(dialog.options.maxWidth) + 50)) {
                    // keep dialog from filling entire screen
                    $this.css("max-width", "90%");
                } else {
                    // fix maxWidth bug
                    $this.css("max-width", dialog.options.maxWidth + "px");
                }
                //reposition dialog
                dialog.option("position", dialog.options.position);
            }
        });
    }
</script>