﻿@using Znode.Engine.MvcDemo.Maps
@using Znode.Engine.MvcDemo.ViewModels
@model RegisterViewModel

<div id="layout-register">
    <div class="main-wrapper">
        <div class="container">
            <div class="row">
                <h1 class="page-title">@Resources.ZnodeResource.TitleRegisterAccount</h1>
                <div class="col-xs-12 register-container nopadding">
                    @Html.ValidationSummary(true)
                    <div class="col-xs-12 col-sm-6 nopadding">
                        <div class="col-sm-10 nopadding">
                            <form method="POST" class="form" id="signupForm">
                                <div class="form-group">
                                    <label for="signup_email" class="required">@Resources.ZnodeResource.ColumnEmailAddress</label>
                                    <div class="col-xs-12 left-inner-icon nopadding">
                                        <i class="zf-envelope login-icon"></i>
                                        @Html.TextBoxFor(m => m.EmailAddress, new { @id = "signup_email", @class = "form-input-long" })
                                        <p class="error-msg">@Html.ValidationMessageFor(m => m.EmailAddress)</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="signup_username" class="required">@Resources.ZnodeResource.ColumnUsername</label>
                                    <div class="col-xs-12 left-inner-icon nopadding">
                                        <i class="zf-login-user login-icon"></i>
                                        @Html.TextBoxFor(m => m.UserName, new { @id = "signup_username" })
                                        <p class="error-msg">@Html.ValidationMessageFor(m => m.UserName)</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="signup_password" class="required">@Resources.ZnodeResource.ColumnCreatePassword</label>
                                    <p class="sub">@Resources.ZnodeResource.ValidPassword</p>
                                    <div class="col-xs-12 left-inner-icon nopadding">
                                        <i class="zf-key login-icon"></i>
                                        @Html.PasswordFor(m => m.Password, new { @type = "password", @id = "signup_password", @autocomplete = "off" })
                                        <p class="error-msg">@Html.ValidationMessageFor(m => m.Password)</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="signup_verify" class="required">@Resources.ZnodeResource.ColumnReTypePassword</label>
                                    <div class="col-xs-12 left-inner-icon nopadding">
                                        <i class="zf-key-2 login-icon"></i>
                                        @Html.PasswordFor(m => m.ReTypePassword, new { @type = "password", @id = "signup_verify", @autocomplete = "off" })
                                        <p class="error-msg">@Html.ValidationMessageFor(m => m.ReTypePassword)</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12 styled-input nopadding">
                                        <input type="checkbox" id="signup_optin" name="EmailOptIn" value="true" />&nbsp;<label for="signup_optin">@Resources.ZnodeResource.CheckBoxTextNewsLetter</label>
                                    </div>
                                    <div class="pull-right">
                                        <button type="submit" class="btn-text red g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["recaptchaPublicKey"]" data-callback='onSubmitSignUpForm'>@Resources.ZnodeResource.ButtonCreateAccount</button>
                                        @Html.ActionLink(@Resources.ZnodeResource.ButtonCancel, "Login", "Account", new { @class = "btn-text grey" })
                                    </div>
                                    <div class="recapcha-error-blk" style="clear:both;"><span class="field-validation-error">@TempData["CaptchaErrorMessage"]</span></div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 account-signup-container">
                        <div class="user-icon img-circle">
                            <i class="zf-login-user"></i>
                        </div>
                        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                            <h3>Already have a S &amp; S Sales account?</h3>
                            <a href="/Account/Login" class="btn-text-full grey account-signup-link">Login Now !</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript">
    function onSubmitSignUpForm(token)
    {
        document.getElementById('signupForm').submit();
    }
</script>