﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels

@model WishListViewModel
<div id="layout-account-wishlist" class="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Resources.ZnodeResource.TitleWishlist</h1>
            </div>

            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <a href="./dashboard" class="account-gohome">@Resources.ZnodeResource.LinkTextBackToAccount</a>
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>

                <div class="col-sm-9 col-lg-10 wishlist-container">
                    <h3 class="section-header">
                        @Html.Raw(string.Format(@Resources.ZnodeResource.SubTextWishlistCount, (!Equals(Model.Items, null) ? Model.Items.Count(x => !Equals(x.Product, null) && x.Product.IsActive) : 0)))
                    </h3>
                    @if (!Equals(Model.Items, null) && Model.Items.Any(x => !Equals(x.Product, null)))
                    {
                        <p id="subTextWishList">
                            @Resources.ZnodeResource.SubTextWishList
                        </p>
                        <div class="col-xs-12  nopadding table-responsive">
                            <table class="table">
                                <tbody>
                                    @foreach (var item in Model.Items)
                                    {
                                        if (!Equals(item.Product, null) && item.Product.IsActive)
                                        {
                                            <tr class="wishlist-item">
                                                <td class="wishlist-item-detail">
                                                    <a href="@Url.GetProductUrl(item.Product.SeoPageName, item.Product.ProductId.ToString())">
                                                        <div class="col-xs-2 wishlist-item-image">
                                                            <img id="product-image" class="img-responsive" src="@item.Product.ImageMediumPath" alt="@item.Product.ImageAltTag" />
                                                        </div>
                                                        <div class="col-xs-10 nopadding">
                                                            <div class="wishlist-item-title">@WebUtility.HtmlDecode(@item.Product.Name)</div>
                                                            <div class="wishlist-item-date">@Resources.ZnodeResource.ColumnTextAdded @item.CreateDate.ToShortDateString()</div>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td class="wishlist-item-price">
                                                    @if (item.Product.IsCallForPricing)
                                                    {
                                                        <div class="price">@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "ProductCallForPricing" }); } </div>
                                                    }
                                                    else
                                                    {
                                                        if (!Equals(item.Product.Price ,item.Product.ProductPrice))
                                                        {
                                                            <span class="cut-price">@HelperMethods.FormatPriceWithCurrency(item.Product.Price)</span>
                                                        }
                                                        @HelperMethods.FormatPriceWithCurrency(item.Product.ProductPrice)
                                                    }
                                                </td>
                                                <td class="wishlist-item-tocart">
                                                    @if ((!Equals(item.Product.AddOns, null) && item.Product.AddOns.Any()) || (!string.IsNullOrEmpty(item.Product.BundleItemsIds)))
                                                    {
                                                        <form action="@Url.GetProductUrl(item.Product.SeoPageName, item.ProductId.ToString())">
                                                            <button type="submit" class="btn-card btn-add-cart red " id="button-addtocart" @(item.Product.IsCallForPricing ? "disabled=disabled" : "")><i class="zf-cart"></i>@Resources.ZnodeResource.ButtonAddToCart</button>
                                                        </form>
                                                    }
                                                    else
                                                    {
                                                        <form method="post" action="/product/addtocart">
                                                            <button type="submit" class="btn-card btn-add-cart red" id="button-addtocart" @(item.Product.IsCallForPricing ? "disabled=disabled" : "")><i class="zf-cart"></i>@Resources.ZnodeResource.ButtonAddToCart</button>
                                                            <input type="hidden" name="productId" value="@item.ProductId" />
                                                            <input type="hidden" name="sku" value="@item.Product.Sku" />
                                                            <input type="hidden" name="price" value="@item.Product.Price" />
                                                            <input type="hidden" name="Quantity" value="1" />
                                                            <input type="hidden" name="wishid" value="@item.WishListId" />
                                                        </form>
                                                    }
                                                </td>
                                                <td class="wishlist-item-remove">
                                                    <a href="#" data-id="@item.WishListId" title="@Resources.ZnodeResource.LinkTextRemove"><i class="zf-close"></i></a>
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    <p id="noWishList" @(!Equals(Model.Items, null) && Model.Items.Any(x => !Equals(x.Product, null)) ? "style=display:none" : "")>
                        <em>@Resources.ZnodeResource.ErrorNoWishlist</em>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>