﻿@using Resources;
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.ActivateLicensePageTitle;
    Layout = "~/Views/Shared/_Layout_Franchise_Outer.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/css")

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 col-md-6 col-lg-5 add-new-container">
        @using (Html.BeginForm("LicenseInformation", "Activate"))
        {
            <h1>@ZnodeResources.ActivateLicenseHeading</h1>
            <h4>Activation Details</h4>
            <div class="form-group">
                <p>
                    @ZnodeResources.ActivateLicenseInfoLine1
                </p>
                <p>
                    @ZnodeResources.ActivateLicenseInfoLine2
                </p>
                <p>
                    @ZnodeResources.ActivateLicenseInfoLine3
                </p>
                <label>
                    <input id="ConfirmedActivation" name="ConfirmedActivation" type="checkbox" value="true">
                    <span class="lbl padding-8">@ZnodeResources.ActivateLicenseConfirmation</span>
                </label>
            </div>
            <div class="pull-right top-shift">
                <input id="ActivateButton" type="submit" class="btn-text red" title="@ZnodeResources.ActivateLicenseButtonText" value="@ZnodeResources.ActivateLicenseButtonText" disabled="disabled" />
            </div>
        }
    </div>
</div>
<script src="~/Scripts/CustomScripts/License.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ConfirmedActivation").click(function () {
            License.ToggleConfirmedActivationCheckbox(!this.checked);
        });
        $("input[name$='LicenseType']").click(function () {
            License.ShowHideSerialNumberRow($(this).val());
        });
    });
</script>
