﻿@model Znode.Engine.MvcAdmin.ViewModels.ActivatePageApiModel
@using Resources;
@using Znode.Engine.MvcAdmin.Helpers;

@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.ActivateLicensePageTitle;
    Layout = "~/Views/Shared/_Layout_Franchise_Outer.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/css")

<section id="Display">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 col-md-6 add-new-container">
            @if (string.IsNullOrEmpty(Model.Message))
            {
                using (Html.BeginForm("Create", "Activate", FormMethod.Post))
                {
                    <div id="body">
                        <h1>@ZnodeResources.ActivateLicenseHeading</h1>


                        <h4>@ZnodeResources.LabelPleaseNote</h4>
                        <div class="form-group">
                            <p>@ZnodeResources.TextActivationLicenseNote1</p>
                            <p>@ZnodeResources.TextActivationLicenseNote2</p>
                            <p>@ZnodeResources.TextActivationLicenseNote3</p>
                            <p>@ZnodeResources.TextActivationLicenseNote4</p>
                        </div>

                        <div class="form-group">
                            <div width="30%" style="color: green; font: bold">
                                @Model.Message
                            </div>
                            <div width="30%" style="color: red; font: bold">
                                @Model.ErrorMessage
                            </div>
                            <div class="col-sm-4 nopadding">
                                <label>@ZnodeResources.ActivateLicenseSelectText</label>
                            </div>
                            <div class="col-sm-8">
                                <label class="add-on-lable">
                                    @Html.RadioButtonFor(m => m.LicenseType, Convert.ToString(LicenseType.Marketplace), Model.LicenseType)
                                    <span class="lbl padding-8">@ZnodeResources.LabelActivateLicenseMarketPlaceType</span>

                                </label>
                                <label class="add-on-lable">
                                    @Html.RadioButtonFor(m => m.LicenseType, Convert.ToString(LicenseType.MultiFront), Model.LicenseType)
                                    <span class="lbl padding-8">@ZnodeResources.LabelActivateLicenseMultiFrontType</span>

                                </label>
                                <label class="add-on-lable">
                                    @Html.RadioButtonFor(m => m.LicenseType, Convert.ToString(LicenseType.MallAdmin), Model.LicenseType)
                                    <span class="lbl padding-8">@ZnodeResources.LabelActivateLicenseMallAdminType</span>
                                </label>
                                <label class="add-on-lable">
                                    @Html.RadioButtonFor(m => m.LicenseType, Convert.ToString(LicenseType.StoreMultiplier), Model.LicenseType)
                                    <span class="lbl padding-8">@ZnodeResources.LabelActivateLicenseStoreMultiplierType</span>

                                </label>
                                <label class="add-on-lable">
                                    @Html.RadioButtonFor(m => m.LicenseType, Convert.ToString(LicenseType.FreeTrial), Model.LicenseType)
                                    <span class="lbl padding-8">@ZnodeResources.LabelActivateLicenseTrialType</span>

                                </label>
                            </div>
                        </div>

                        <div class="form-group" id="serialNumberRow" style="display: none;">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(m => m.SerialNumber, new { @class = "required" })
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.SerialNumber)
                                @Html.ValidationMessageFor(m => m.SerialNumber)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(m => m.FullName, new { @class = "required" })
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.FullName)
                                @Html.ValidationMessageFor(m => m.FullName)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(m => m.Email, new { @class = "required" })
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.Email)
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.TextAreaFor(m => m.Eula, new { cols = "100", rows = "30", @class = "scroll-default" })
                        </div>

                        <div class="form-group">
                            <label>
                                <input id="CheckEula" name="CheckEula" type="checkbox" value="true">
                                <span class="lbl padding-8">
                                    @ZnodeResources.TextAcceptLicenseCondition
                                </span>
                            </label>
                            @Html.ValidationMessageFor(m => m.CheckEula)
                            <input name="CheckEula" type="hidden">
                        </div>

                        <div class="pull-right">
                            <input id="ActivateLicense" type="submit" title="@ZnodeResources.TextActivateLicenseButton" value="@ZnodeResources.TextActivateLicenseButton" class="btn-text red" />
                        </div>
                    </div>
                }
            }
            else
            {
                <div id="body">
                    <h1>Confirmation</h1>
                    <h2>@Model.Message</h2>
                    <a href="/Account/Login" title="@ZnodeResources.TextGoToStoreLink">@ZnodeResources.TextGoToStoreLink</a>
                </div>
            }
        </div>
    </div>
</section>
<script src="~/Scripts/CustomScripts/License.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        License.ShowSerialNumber();
        $('input:radio').change(function () {
            License.ShowHideSerialNumberRow($(this).val())
        });
    });
</script>