﻿@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}

<div class="dashboard-page-container">
    <div class="col-sm-12">
        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
            <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                <h4>@ZnodeResources.LabelInventory</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-product"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Product/List">@ZnodeResources.ProductTitle</a>
                        <p>@ZnodeResources.ProductSubMessage</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-import-export"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/ImportExport/List">@ZnodeResources.LabelImportExport</a>
                        <p>@ZnodeResources.ImportExportSubMessage</p>
                    </div>
                </div>
                <h4>@ZnodeResources.LabelReferenceTypes</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-brands"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Manufacturers/List">@ZnodeResources.HeaderManufacturer</a>
                        <p>@ZnodeResources.ManufacturerSubMessage</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-product-type"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/ProductType/List">@ZnodeResources.LabelProductTypes</a>
                        <p>@ZnodeResources.ProductTypeSubMessage</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-attribute-type"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/AttributeTypes/List">@ZnodeResources.HeaderAttributeTypes</a>
                        <p>@ZnodeResources.AttributeTypeSubMessage</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-add-on-type"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/AddOn/List">@ZnodeResources.LabelAddOnsTypes</a>
                        <p>@ZnodeResources.TextAddOnDescription</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-highlights"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Highlight/List">@ZnodeResources.HeaderHighlight</a>
                        <p>@ZnodeResources.DescriptionHighlight</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-gift-cards"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Product/InventoryListFromERP">@ZnodeResources.InventoryLookupHeading</a>
                        <p>@ZnodeResources.InventoryFromErpDescription</p>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>
