﻿@model Znode.Engine.MvcAdmin.ViewModels.WebGridViewModel
@{
    ViewBag.Title = @ZnodeResources.TitleAdvanced + " | " + @ZnodeResources.TitleMultifront;
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>@ZnodeResources.TitleGenerateXML</h1>        
    </div>
    <div class="col-sm-12 product-search">
        <h3>@ZnodeResources.LableSelectEntityType</h3>
        <div class="col-sm-12 nopadding top-shift">
            <div class="col-lg-3 col-md-4 col-sm-4 product-group">
                <div class="form-group">
                    <div class="col-sm-12 col-md-10 nopadding">
                        @Html.DropDownListFor(model => model.EntityType, new List<SelectListItem>
                                     {
                                        new SelectListItem{ Text="Table", Value ="Table" },
                                        new SelectListItem{ Text="StoredProcedure", Value ="StoredProcedure" },
                                        new SelectListItem{ Text="View", Value ="View" }
                            }, new { @id = "entityTypeList" })
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-4 product-group">
                <div class="form-group">
                    <div class="col-sm-12 col-md-10 nopadding">
                        @Html.TextBoxFor(model => model.EntityName, new { @id = "txtEntityName" })
                        <div id="autoResult"></div>
                        <label id="entityNameErrMsg" class="error-msg"></label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 product-group">
                <div class="form-group">
                    <div class="col-sm-12 col-md-10 nopadding">
                        <div class="pull-left">
                            <button id="btnGetColumn" class="btn-text red" value="Get Column" title="@ZnodeResources.ButtonGetColumn">@ZnodeResources.ButtonGetColumn</button>
                            <button id="btnCancel" class="btn-text grey" value="Get Column" title="@ZnodeResources.ButtonCancel" onclick="@("window.location.href='" + @Url.Action("List", "XMLGenerator") + "'");">@ZnodeResources.ButtonCancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 nopadding top-shift">
            @if (Model.listViewModel != null)
            {
                <div id="columnListDiv">
                    @{Html.RenderPartial("~/Views/XMLGenerator/_ListViewBox.cshtml", Model.listViewModel);}

                </div>
            }
            else
            {
                <div id="columnListDiv">
                </div>
            }
        </div>

    </div>
    @if (Model.WebGridColumnModelList != null)
    {
        <div id="gridPartialDiv">
            @{Html.RenderPartial("_GridColumnSettings", Model);}
        </div>
    }
    else
    {
        <div id="gridPartialDiv">

        </div>
    }

</div>


<div class="clearfix">
      
</div>



<script src="~/Scripts/WebGrid/xmlGenerator.js"></script>
<script type="text/javascript">
    var viewMode = '@Model.ViewMode';
    var id = @Model.Id;
    var viewOptions = '@Model.ViewOption';
    var pageName = '@Model.FrontPageName';
    var objectName = '@Model.FrontObjectName';
    var columnListJson = @Html.Raw(Json.Encode(Model.WebGridColumnModelList));
    var entiryNameRequiredMsg = '@DynamicGridConstants.EntityNameErrReq';
    var displayOtionReqMsg = '@DynamicGridConstants.DisplayOpionErrReq';
    var pageNameReqMsg = '@DynamicGridConstants.PageErrReq';
    var objectNameReqMsg = '@DynamicGridConstants.ObjectErrReq';
    columnListJson = JSON.stringify(columnListJson);



    $(document).ready(function () {
        $('#btnGetColumn').click(function () {
            $('#entityNameErrMsg').text('');
            XmlGenerator.GetColumnList();

        });
        XmlGenerator.CrateAutoComplete();
    });

</script>
