﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@{
    ViewBag.Title = @ZnodeResources.TitleAdvanced + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@ZnodeResources.TitleDynamicXML</h1>
            <div class="pull-right">
                <button type="button" class="btn-text red" value="Create XML" onclick="@("window.location.href='" + @Url.Action("CreateXML", "XMLGenerator") + "'");">@ZnodeResources.ButtonCreateXML</button>
            </div>
        </div>
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("List", "XMLGenerator", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.FilterColumn)
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-12 list-container">
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
            </div>
        </div>
    </div>
</div>

<div id="vieXmlDialog" title="View XML">
    <div id="xmlTextDiv" class="xmlview-content">
    </div>    
</div>

<script src="~/Scripts/WebGrid/xmlGenerator.js"></script>
<script>
    $(document).ready(function () { RefreshLocationOndelete = true; })
</script>