﻿@model Znode.Engine.MvcAdmin.ViewModels.AttributeTypesViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources;

@{ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;}
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "formAssociateAttribute", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}

<div class="col-sm-12 dashboard-page-container" id="grid-container"> 
    <div class="col-sm-12 title-container">
        <h1>@ZnodeResources.HeaderAddProductTypeAttribute</h1>
    </div>
    <div class="col-lg-5 col-md-8 col-sm-12 add-new-container">
   @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "formAssociateAttribute" }))
        {
            <div class="form-group">
                    <div class="col-sm-4 col-lg-3 nopadding">
                       <label class="required">@ZnodeResources.LabelSelectAttributeType</label>
                    </div>
                    <div class="col-sm-8 col-lg-9">
                        @Html.DropDownListFor(m => m.AttributeTypeId, Model.GetAttributesList, new { @id = "ddlAttributeTypeId" })
                        @Html.HiddenFor(model => Model.ProductTypeId)
                    </div>   
                </div>
              
         }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}