﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductTypeViewModel
@using Resources;
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container" id="grid-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@Resources.ZnodeResources.HeaderProductAttributeType " @Model.Name "</h1>
            <div class="pull-right">
                <button @Html.Raw(@Model.IsSuccess ? "disabled=\"disabled\"" : "") type="submit" name="Search" id="btnSearch" class="btn-text-icon red" onclick="javascript: location.href = '/ProductType/AddAttribute/'+@Model.ProductTypeId;" title="@ZnodeResources.ButtonAdd"><i class="glyphicon glyphicon-plus"></i>@ZnodeResources.ButtonAdd</button>
                <button type="reset" class="btn-text-icon grey" title="@ZnodeResources.ButtonBack" onclick="javascript: location.href = '/ProductType/List';"><i class="z-arrow-left"></i>@ZnodeResources.ButtonBack</button>
            </div>
        </div>

        <div class=" col-sm-12 search-container">
            @switch (@Model.IsSuccess) // Model is how you access your passed data
            {
                case true:
                    <p id="divProductTypeError" class="field-validation-error left" role="alert">@ZnodeResources.ErrorProductTypeAttributeMessage</p>
                    break;
                case false:

                    break;
            }
        </div>
        <div class="col-sm-12 list-container">
            @{
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.reportModel)
            }
        </div>

    </div>
    </div>
