﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductTypeViewModel
@using Resources;
@using Znode.Engine.MvcAdmin.ViewModels;
@{ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;}
@{

    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "formCreateEditProductType", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}

<div class="col-sm-12 dashboard-page-container">

    
    <div class="col-sm-12 title-container">
        @if (Equals(actionName, "Create"))
        {
            <h1>@ZnodeResources.AddProductTypeHeading</h1>
        }
        else
        {
            <h1>@string.Format(ZnodeResources.HeaderEditProductType, Model.OldProductTypeName)</h1>

        }
    </div>


    <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "formCreateEditProductType" }))
        {
            string isActiveStatus = (!Equals(Model, null) && Model.IsFranchisable) ? "checked='checked'" : string.Empty;
            @Html.HiddenFor(model => Model.ProductTypeId)

            <h4>@ZnodeResources.LabelGeneralInformation</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    <label class="required">@ZnodeResources.LabelProductTypeName</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    <label>@ZnodeResources.LabelFranchisable</label>
                </div>
                <div class="col-sm-8">
                    <label>
                        <input @isActiveStatus id="IsFranchisable" name="IsFranchisable" type="checkbox" value="true">
                        <span class="lbl padding-8">@ZnodeResources.LabelIsFranchisable</span>
                        <input name="IsFranchisable" type="hidden" value="false">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    <label class="required">@ZnodeResources.TitleDisplayOrder</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.DisplayOrder)
                    @Html.ValidationMessageFor(m => m.DisplayOrder)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    <label>@ZnodeResources.LabelMessageDescription</label>
                    <span class="sub">Will not be displayed to customers. </span>
                </div>
                <div class="col-sm-8">
                    @Html.TextAreaFor(m => m.Description, new { @class = "", @rows = "5" })
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>
            @Html.HiddenFor(model => Model.OldProductTypeName)
        }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
</div>
