﻿@model Znode.Engine.MvcAdmin.ViewModels.TaxClassViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmTaxClass", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (actionName.ToLower() == "Create".ToLower())
            {
                <h1>@Resources.ZnodeResources.HeaderAddTaxClass</h1>
            }
            else
            {
                <h1>@Resources.ZnodeResources.HeaderEditTaxClass - @Model.Name</h1>
            }
        }
    </div>
    <div class="col-sm-12 col-md-6 col-lg-5 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmTaxClass" }))
        {
            string isActiveStatus = (!Equals(Model, null) && Model.IsActive) ? "checked='checked'" : string.Empty;
            <h4>@ZnodeResources.LabelGeneralInformation</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Name, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.DisplayOrder, new { @class = "required" })
                    <span class="sub">@Resources.ZnodeResources.TextTaxDisplayOrder</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.DisplayOrder, new { @maxlength = "9" })
                    @Html.ValidationMessageFor(model => model.DisplayOrder)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.IsActive)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input @isActiveStatus id="IsActive" name="IsActive" type="checkbox" value="true">
                        <span class="lbl padding-8">@Resources.ZnodeResources.TextTaxEnable</span>
                        <input name="IsActive" type="hidden" value="false">
                    </label>
                </div>
            </div>
            @Html.HiddenFor(model => model.TaxClassId)
            @Html.HiddenFor(model => model.PortalId)
        }

        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
</div>
