﻿@model Znode.Engine.MvcAdmin.ViewModels.TaxRulesViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources;
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string AvalaraTaxValue = System.Configuration.ConfigurationManager.AppSettings["AvaTaxRuleValue"];

}
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmTaxRule", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, CancelUrl = "/Tax/ViewTaxClassDetails/" + Model.TaxClassId };
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (actionName.ToLower() == "CreateTaxRule".ToLower())
            {
                <h1>@Resources.ZnodeResources.HeaderAddTaxRule<a data-toggle="popover" data-contentwrapper=".popover-content"><i class="glyphicon glyphicon-question-sign help" data-toggle="tooltip" data-placement="bottom" data-original-title="@ZnodeResources.PopUpAddTexRule"></i> </a></h1>
            }
            else
            {
                <h1>@Resources.ZnodeResources.HeaderEditTaxRule<a data-toggle="popover" data-contentwrapper=".popover-content"><i class="glyphicon glyphicon-question-sign help" data-toggle="tooltip" data-placement="bottom" data-original-title="@ZnodeResources.PopUpAddTexRule"></i> </a></h1>
            }
        }

    </div>
    <div class="col-sm-12 col-md-7 col-lg-6 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmTaxRule" }))
        {
            string isInclusiveTax = (!Equals(Model, null) && Model.InclusiveTax) ? "checked='checked'" : string.Empty;


            <h4>@Resources.ZnodeResources.SubHeaderTaxGeneral</h4>
            @Html.HiddenFor(model => model.TaxClassId)

            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.TaxTypeId)
                </div>
                <div class="col-sm-8">
                    @*PRFT Commented HTML: start*@
                    @*@Html.DropDownListFor(model => model.TaxTypeId, Model.TaxRuleTypeList })
                        @Html.ValidationMessageFor(model => model.TaxTypeId)*@
                    @*PRFT Commented HTML: End*@

                    @*PRFT Custom HTML : Start*@

                    @Html.DropDownListFor(model => model.TaxTypeId, Model.TaxRuleTypeList, new { @id = "taxRuleTypeList", @onchange = "TaxRule.ShowHidePanelAvalara('taxRuleTypeList',this.value);"})
                    @*@Html.DropDownList("TaxRuleType", Model.TaxRuleTypeCollection.Select(taxRuleType => new SelectListItem { Text = taxRuleType.Name, Value = taxRuleType.TaxRuleTypeId.ToString(), Selected = (Model.TaxRuleTypeId == taxRuleType.TaxRuleTypeId) ? true : false }),new { @id = "taxRuleTypeList", @onchange = "TaxRule.ShowHidePanelAvalara('taxRuleTypeList',this.value);" })*@                    
                    @Html.ValidationMessageFor(model => model.TaxTypeId)
                    <input type="hidden" id="hdnAvaTaxRuleValue" name="AvaTaxRuleValue" value="@AvalaraTaxValue" />
                    @*PRFT Custom HTML : Start*@
                </div>
            </div>

            //PRFT Custom HTML: Start
            <div id="pnlAvalara">
                <h4>Security Credentials</h4>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.AccountID)
                    </div>
                    <div class="col-sm-8 right-inner-icon">
                        @Html.TextBoxFor(model => model.AccountID)

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.License)
                    </div>
                    <div class="col-sm-8 right-inner-icon">
                        @Html.TextBoxFor(model => model.License)

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.Company)
                    </div>
                    <div class="col-sm-8 right-inner-icon">
                        @Html.TextBoxFor(model => model.Company)

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.WebserviceURL)
                    </div>
                    <div class="col-sm-8 right-inner-icon">
                        @Html.TextBoxFor(model => model.WebserviceURL)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.ClientCode)
                    </div>
                    <div class="col-sm-8 right-inner-icon">
                        @Html.TextBoxFor(model => model.ClientCode)

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.ClientName)
                    </div>
                    <div class="col-sm-8 right-inner-icon">
                        @Html.TextBoxFor(model => model.ClientName)

                    </div>
                </div>
            </div>
            //PRFT Custom HTML: End
            <div id="pnlTaxRegion">

                <h4>@Resources.ZnodeResources.SubHeaderTaxRegion</h4>
                <p class="sub left-sm-shift">@Resources.ZnodeResources.TextTaxRegion</p>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.CountryCode)
                    </div>

                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.CountryCode, Model.CountryList, new { @id = "countryList", @onchange = "TaxRule.BindStateList('stateList',this.value);" })
                        @Html.ValidationMessageFor(model => model.CountryCode)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.StateCode)
                    </div>
                    <div class="col-sm-8">

                        @Html.DropDownListFor(model => model.StateCode, Model.StateList, new { @id = "stateList", @onchange = "TaxRule.BindCountyList('countyList',this);" })
                        @Html.ValidationMessageFor(model => model.StateCode)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.CountyFips)
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.CountyFips, Model.CountyList, new { @id = "countyList" })
                        @Html.ValidationMessageFor(model => model.CountyFips)
                    </div>
                </div>

                <h4>@Resources.ZnodeResources.SubHeaderTaxRate</h4>
                <p class="sub left-sm-shift">@Resources.ZnodeResources.TextTaxRate</p>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.SalesTax, new { @class = "required" })
                    </div>
                    <div class="col-sm-8 right-inner-icon">
                        <i class="unit-text">%</i>
                        @if (actionName.ToLower() == "CreateTaxRule".ToLower())
                    {
                        @Html.TextBoxFor(model => model.SalesTax, new { @Value = "0.00", @maxlength = "5" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.SalesTax)
                    }
                        @Html.ValidationMessageFor(model => model.SalesTax)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.VATTax, new { @class = "required" })
                    </div>
                    <div class="col-sm-8 right-inner-icon">

                        <i class="unit-text">%</i>
                        @if (actionName.ToLower() == "CreateTaxRule".ToLower())
                        {
                            @Html.TextBoxFor(model => model.VATTax, new { @Value = "0.00", @maxlength = "5" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.VATTax)
                        }
                        @Html.ValidationMessageFor(model => model.VATTax)

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.GSTTax, new { @class = "required" })
                    </div>
                    <div class="col-sm-8 right-inner-icon">

                        <i class="unit-text">%</i>
                        @if (actionName.ToLower() == "CreateTaxRule".ToLower())
                    {
                        @Html.TextBoxFor(model => model.GSTTax, new { @Value = "0.00", @maxlength = "5" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.GSTTax)
                    }
                        @Html.ValidationMessageFor(model => model.GSTTax)

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.PSTTax, new { @class = "required" })
                    </div>
                    <div class="col-sm-8 right-inner-icon">
                        <i class="unit-text">%</i>
                        @if (actionName.ToLower() == "CreateTaxRule".ToLower())
                    {
                        @Html.TextBoxFor(model => model.PSTTax, new { @Value = "0.00", @maxlength = "5" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.PSTTax)
                    }
                        @Html.ValidationMessageFor(model => model.PSTTax)

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.HSTTax, new { @class = "required" })
                    </div>
                    <div class="col-sm-8 right-inner-icon">

                        <i class="unit-text">%</i>
                        @if (actionName.ToLower() == "CreateTaxRule".ToLower())
                    {
                        @Html.TextBoxFor(model => model.HSTTax, new { @Value = "0.00", @maxlength = "5" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.HSTTax)
                    }
                        @Html.ValidationMessageFor(model => model.HSTTax)
                    </div>
                </div>
                @if (actionName.ToLower() == "EditTaxRule".ToLower())
                {
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding ">
                            @Html.LabelFor(model => model.Precedence, new { @class = "required" })
                            <span class="sub">@Resources.ZnodeResources.TextPrecedence</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Precedence, new { @maxlength = "9" })
                            @Html.ValidationMessageFor(model => model.Precedence)
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding ">
                            @Html.LabelFor(model => model.Precedence, new { @class = "required" })
                            <span class="sub">@Resources.ZnodeResources.TextPrecedence</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Precedence, new { @Value = "1", @maxlength = "9" })
                            @Html.ValidationMessageFor(model => model.Precedence)
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-sm-4 colon nopadding ">
                        @Html.LabelFor(model => model.InclusiveTax)
                        <span class="sub">@Resources.ZnodeResources.TextInclusiveTax</span>
                    </div>
                    <div class="col-sm-8">
                        <label>
                            <input @isInclusiveTax id="InclusiveTax" name="InclusiveTax" type="checkbox" value="true">
                            <span class="lbl padding-8"></span>
                            <input name="InclusiveTax" type="hidden" value="false">
                        </label>
                    </div>

                </div>

            </div>
            <div class="form-group ">
                @if (actionName.ToLower() == "EditTaxRule".ToLower())
                {
                    @Html.HiddenFor(model => model.TaxRuleId)
                }
            </div>
        }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Tax")
