﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@ZnodeResources.HeaderTaxClassList<a data-toggle="popover" data-contentwrapper=".popover-content"><i class="glyphicon glyphicon-question-sign help" data-toggle="tooltip" data-placement="bottom" data-original-title="@ZnodeResources.PopUpTaxInformation"></i> </a></h1>
            <button type="button" class="btn-text-icon red pull-right" title=@ZnodeResources.ButtonAdd onclick="javascript: location.href = '/Tax/Create';"><i class='glyphicon glyphicon-plus'></i>@ZnodeResources.ButtonAdd</button>
        </div>
        <div class="col-sm-12 search-container">
            <p class="left">@ZnodeResources.SubHeaderTaxClass</p>
        </div>
        <div class="col-sm-12 list-container">
            @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
        </div>
    </div>
</div>