﻿@model Znode.Engine.MvcAdmin.ViewModels.TaxClassViewModel
@using Znode.Engine.MvcAdmin.ViewModels
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@Resources.ZnodeResources.HeaderTaxClassDetails - @Model.Name </h1>
            <div class="pull-right">
                <button type="button" class="btn-text-icon red" title=@ZnodeResources.ButtonEdit onclick="javascript: location.href = '/Tax/Edit/@Model.TaxClassId' ;"><i class='glyphicon glyphicon-pencil'></i>@ZnodeResources.ButtonEdit</button>
                @Html.ActionLinkAuthorized("<i class='z-arrow-left'></i>" + ZnodeResources.ButtonBack, "List", new { @taxClassId = Model.TaxClassId }, new { @class = "btn-text-icon grey", @title = ZnodeResources.ButtonBack })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 add-new-container">
            <h4>@Resources.ZnodeResources.SubHeaderGeneralInformation</h4>
            <div class="form-group">
                <div class="col-sm-4 col-md-3 col-lg-2 colon nopadding">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="col-sm-8 col-md-6 col-lg-5 label-background">
                    <label>@Model.Name</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-md-3 col-lg-2 colon nopadding">
                    @Html.LabelFor(model => model.DisplayOrder)
                </div>
                <div class="col-sm-8 col-md-6 col-lg-5 label-background">
                    <label>@Model.DisplayOrder</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-md-3 col-lg-2 colon nopadding">
                    @Html.LabelFor(model => model.IsActive)
                </div>
                <div class="col-sm-8 col-md-6 col-lg-5 label-background">
                    <i class="@HelperMethods.GetCheckMark(@Model.IsActive )"></i>
                </div>
            </div>
            @Html.HiddenFor(model => model.PortalId)

            <h4>@Resources.ZnodeResources.SubHeaderTaxRuleList</h4>
            <p class="left-sm-shift">@Resources.ZnodeResources.TextTaxRuleList</p>
            <ul class="tax-rule-ul">
                <li>@Resources.ZnodeResources.TextTaxRuleWithCountry1</li>
                <li>@Resources.ZnodeResources.TextTaxRuleWithCountry2</li>
            </ul>
            <div class="col-sm-12 nopadding">
                <button type="button" class="btn-text-icon red pull-right" title="@ZnodeResources.ButtonAdd" onclick="javascript: location.href = '/Tax/CreateTaxRule/@Model.TaxClassId' ;"><i class="glyphicon glyphicon-plus"></i>@ZnodeResources.ButtonAdd</button>
                <div class="col-sm-12 nopadding top-shift bottom-shift">
                    @{
                        if (!Equals(Model, null))
                        {
                            Model.ReportModel.IsAdvanceSearchHide = true;
                        }
                    }
                    @Html.Partial("/Views/Filter/_DynamicGrid.cshtml", Model.ReportModel)
                </div>
            </div>
        </div>
    </div>
</div>
