﻿@using Znode.Engine.MvcDemo.ViewModels;
@model Znode.Engine.MvcDemo.ViewModels.CaseRequestViewModel
@using Resources
@{
    ViewBag.Title = @Resources.ZnodeResource.LinkTextContactus;
}

<div id="layout-contactus" class="main-wrapper">

    <div class="container">
        <div class="row contain-pages">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Resources.ZnodeResource.LinkTextContactus</h1>
            </div>

            <div class="col-xs-12 col-md-7 col-lg-6 nopadding">
                @using (Html.BeginForm("ContactUs", "CaseRequest", FormMethod.Post))
                {
                    <p>@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "ContactUsIntroText" }); }</p>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(Resources.ZnodeResource.LabelFirstName, new { @class = "required" })
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100, @id = "valFirstName" })
                            <span id="valFirstNameErr" class="field-validation-error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(Resources.ZnodeResource.LabelLastName, new { @class = "required" })
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @id = "valLastName" })
                            <span id="valLastNameErr" class="field-validation-error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(Resources.ZnodeResource.ColumnCompanyName)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.CompanyName, new { @maxlength = 100 })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(Resources.ZnodeResource.LabelEmailAddress, new { @class = "required" })
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.EmailAddress, new { @maxlength = 200, @id = "valEmail" })
                            <span id="valEmailErr" class="field-validation-error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(Resources.ZnodeResource.LabelPhoneNumber)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = 20, @id = "valPhoneNum" })
                            <span id="valPhoneNumErr" class="field-validation-error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(Resources.ZnodeResource.LabelComments)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextAreaFor(model => model.Message)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="pull-right margin-top-bottom">
                            <button type="submit" class="btn-text red" id="contact-us">@ZnodeResource.ButtonSubmit</button>
                            <a href="/Home/Index" class="btn-text grey">@Resources.ZnodeResource.ButtonCancel</a>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
