﻿@model Znode.Engine.MvcAdmin.ViewModels.AddressViewModel

<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(m => m.FirstName, new { @class = "" })
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
</div>
<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(m => m.LastName, new { @class = "" })
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
</div>
<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(m => m.CompanyName)
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.CompanyName)
        @Html.ValidationMessageFor(m => m.CompanyName)
    </div>
</div>
<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(m => m.StreetAddress1, new { @class = "required" })
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.StreetAddress1)
        @Html.ValidationMessageFor(m => m.StreetAddress1)
    </div>
</div>
<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(m => m.StreetAddress2)
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.StreetAddress2)
        @Html.ValidationMessageFor(m => m.StreetAddress2)
    </div>
</div>
<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(m => m.City, new { @class = "required" })
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.City)
        @Html.ValidationMessageFor(m => m.City)
    </div>
</div>
<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(m => m.StateCode, new { @class = "required" })
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.StateCode, new { maxlength = "2" })
        @Html.ValidationMessageFor(m => m.StateCode)
    </div>
</div>
<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(m => m.PostalCode, new { @class = "required" })
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.PostalCode)
        @Html.ValidationMessageFor(m => m.PostalCode)
    </div>
</div>
<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(m => m.Countries)
    </div>
    <div class="col-sm-8">
        @Html.DropDownListFor(m => m.CountryCode, new SelectList(Model.Countries, "Code", "Name"))
        @Html.ValidationMessageFor(m => m.Countries)
    </div>
</div>
<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "" })
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.PhoneNumber)
        @Html.ValidationMessageFor(m => m.PhoneNumber)
    </div>
</div>





