﻿@using Znode.Libraries.Helpers.Attributes

<style>
    .thumb {
        height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }
</style>
<span class="btn-text red file-upload" title="@ZnodeResources.ButtonUpload">@ZnodeResources.ButtonUpload</span>
<div>
    <label class="" title="Upload">
        @{
            var metadata = ViewData.ModelMetadata;
            var prop = metadata.ContainerType.GetProperty(metadata.PropertyName);
            var attributes = prop.GetCustomAttributes(false);
            var allowMultiple = attributes.Cast<object>().Any(a => a.GetType() == typeof(AllowMultiple));

            if (allowMultiple)
            {
                @Html.TextBox("", null, new { type = "file", multiple = "multiple" })
            }
            else
            {
                @Html.TextBox("", null, new { type = "file" })
            }
        }

    </label>
    @Html.ValidationMessage("")
    <output id="thumbnailList" class="output-image" data-selector="@ViewData.TemplateInfo.HtmlFieldPrefix"></output>

</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script>
    var htmlFieldPrefix = '@ViewData.TemplateInfo.HtmlFieldPrefix';
    var allowMultiple = '@allowMultiple';
</script>

<script>

    if ($("[data-img-check='Image']").length != 0) {
        var src = $("[data-img-check=" + htmlFieldPrefix + "]").attr("src");
        if (src != "") {
            $("Input[name=" + htmlFieldPrefix + "]").removeAttr("data-val-required");
        }
    }

    $(document).ready(function ($) {
        $("#" + htmlFieldPrefix).off("change");
        $("#" + htmlFieldPrefix).on("change", FileUploader.Main);
    });

    var FileUploader = {
        
        FileCount: 0,
        Main: function (e) {
            $('#thumbnailList').html('');
            $('span[data-valmsg-for="Image"]').remove();
            var files = e.target.files;
            for (var i = 0, f; f = files[i]; i++) {

                if (!f.type.match('image.*')) {
                    if (allowMultiple === "False") {
                        $('#thumbnailList').html(files[i].name);
                    }
                    continue;
                }
                var reader = new FileReader();
                reader.onload = (function (file) {
                    return function (e) {
                        document.getElementById('thumbnailList').innerHTML = '';
                        var span = document.createElement('span');
                        span.innerHTML = ['<img class="thumb" src="', e.target.result,
                                          '" title="', escape(file.name), '"/>'].join('');
                        document.getElementById('thumbnailList').insertBefore(span, null);
                        FileUploader.FileCount++;
                    };
                })(f);
                reader.readAsDataURL(f);
            }
        }
    }

</script>
