﻿@using Znode.Engine.MvcDemo.ViewModels
@model ShippingBillingAddressViewModel

@if (!User.Identity.IsAuthenticated)
{

    <a href="/account/login?returnUrl=/cart" class="checkout-login-asuser pull-right">@Resources.ZnodeResource.LinkTextExistingCustomer</a>
}
else
{
    @Html.HiddenFor(model => model.BillingAddressId)
    @Html.HiddenFor(model => model.ShippingAddressId)
}
@Html.ValidationSummary(true)
@Html.EditorFor(ob => ob.ShippingAddressModel, "_ShippingBillingAddress")
<div class="form-group">
    <div class="col-xs-12 nopadding">
        <label for="address_email" class="required">@Resources.ZnodeResource.ColumnEmailAddress</label>
    </div>
    <div class="col-xs-12 nopadding">
        @Html.TextBoxFor(m => m.EmailAddress, new { @type = "email", @id = "address_email", @class = "form-input-long" })
        <p class="error-msg">@Html.ValidationMessageFor(m => m.EmailAddress)</p>
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12 nopadding">
        <label for="address_email" class="required">@Resources.ZnodeResource.ColumnPhoneNo</label>
    </div>
    <div class="col-xs-12 nopadding">
        @Html.TextBoxFor(m => m.ShippingAddressModel.PhoneNumber, new { @class = "form-input-long" })
        <p class="error-msg">@Html.ValidationMessageFor(m => m.ShippingAddressModel.PhoneNumber)</p>
    </div>
</div>
@if (!User.Identity.IsAuthenticated)
{
    <div class="col-xs-12 nopadding styled-input">
        <input id="CreateLogin" name="CreateLogin" type="checkbox" value="true" @(Model.CreateLogin ? "checked=checked" : "")>
        <label for="CreateLogin">Create an account for later use</label>
    </div>
    @Html.HiddenFor(model => model.CreateLogin)
    <div id="divnewLogin" class="col-xs-12 nopadding">@Html.EditorFor(ob => ob.LoginViewModel, "_SingleCheckoutLogin")</div>
}
<div class="col-xs-12 nopadding styled-input">
    <input id="billingSameAsShippingAddress" name="UseSameAsShippingAddress" type="checkbox" value="true" @(Model.UseSameAsShippingAddress ? "checked=checked" : "")>
    <label for="billingSameAsShippingAddress">Billing address is same as shipping</label>
    @Html.HiddenFor(model => model.BillingAddressModel.UseSameAsShippingAddress)
</div>

<div id="divshipping">
    @Html.EditorFor(ob => ob.BillingAddressModel, "_ShippingBillingAddress")
</div>



<script type="text/javascript">
    if ($('#billingSameAsShippingAddress').is(":checked")) {
        $('#divshipping').hide();
        $('input[name="ShippingBillingAddressViewModel.BillingAddressModel.UseSameAsShippingAddress"]').val('true');
    }
    if ($('#CreateLogin').is(":checked")) {
        $('#divnewLogin').show();
        $('input[name="ShippingBillingAddressViewModel.CreateLogin"]').val('true');
    }

    $('#billingSameAsShippingAddress').change(function () {
        if ($('#billingSameAsShippingAddress').is(":checked")) {
            $('#divshipping').hide();
            $('input[name="ShippingBillingAddressViewModel.BillingAddressModel.UseSameAsShippingAddress"]').val('true');
        }
        else {
            $('#divshipping').show();
            $('input[name="ShippingBillingAddressViewModel.BillingAddressModel.UseSameAsShippingAddress"]').val('false');
        }
    });

    $('#CreateLogin').change(function () {
        if ($('#CreateLogin').is(":checked")) {
            $('#divnewLogin').show();
            $('input[name="ShippingBillingAddressViewModel.CreateLogin"]').val('true');
        }
        else {
            $('#divnewLogin').hide();
            $('input[name="ShippingBillingAddressViewModel.CreateLogin"]').val('false');
        }
    });

</script>

