﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels

@model AddOnViewModel

@if (Model.DisplayType == MvcDemoConstants.AddonDisplayTypeDropDown)
{
    <div class="form-group">
        <div class="col-xs-12 nopadding"><label for="AddOn-@Model.AddOnId">@Model.Title</label></div>
        <div class="col-xs-12 nopadding">
            @Html.AddOnDropDownListFor(x => x.SelectedAddOnValue, Model.AddOnValues, (Model.SelectedAddOnValue != null ? Model.SelectedAddOnValue[0] : 0), (Model.OptionalIndicator ? Model.Title : ""), new { @class = "AddOn" })
            @Html.HiddenFor(x => x.AddOnId)
        </div>
    </div>
}
@if (Model.DisplayType == MvcDemoConstants.AddonDisplayTypeRadioButton)
{
    <div class="form-group">
        <div class="col-xs-12 nopadding"><label for="AddOn-@Model.AddOnId">@Model.Title</label></div>
        <div class="col-xs-12 nopadding styled-input">
            @foreach (var addonValues in Model.AddOnValues)
            {
                <input type="radio" id="AddOnValue-@addonValues.AddOnValueId" name="@Html.ViewData.TemplateInfo.GetFullHtmlFieldName("SelectedAddOnValue")" value="@addonValues.AddOnValueId" class="AddOn" @(Model.SelectedAddOnValue != null ? (Model.SelectedAddOnValue.Contains(addonValues.AddOnValueId) ? "checked=checked" : "") : "") />
                <label for="AddOnValue-@addonValues.AddOnValueId">@addonValues.Name</label>
            }
            @Html.HiddenFor(x => x.AddOnId)
        </div>
    </div>
}

@if (Model.DisplayType == MvcDemoConstants.AddonDisplayTypeCheckBox)
{
    <div class="form-group">
        <div class="col-xs-12 nopadding"><label for="AddOn-@Model.AddOnId">@Model.Title</label></div>
        <div class="col-xs-12 nopadding styled-input">
            @foreach (var addonValues in Model.AddOnValues)
            {
                <input type="checkbox" id="AddOnValue-@addonValues.AddOnValueId" name="@(Html.ViewData.TemplateInfo.GetFullHtmlFieldName("SelectedAddOnValue"))" value="@addonValues.AddOnValueId" class="AddOn" @(Model.SelectedAddOnValue != null ? (Model.SelectedAddOnValue.Contains(addonValues.AddOnValueId) ? "checked=checked" : "") : "") />
                <label for="AddOnValue-@addonValues.AddOnValueId">@addonValues.Name</label>
            }
            @Html.HiddenFor(x => x.AddOnId)

        </div>
    </div>
}
@if (Equals(Model.DisplayType, MvcDemoConstants.AddonDisplayTypeTextBox))
{
    <div class="col-sm-6 nopadding">
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <label>@Model.Title</label>
            </div>
            <div class="col-sm-12 nopadding">
                @foreach (var addonValues in Model.AddOnValues)
                {
                    <label for="AddOn-@addonValues.AddOnValueId">@addonValues.Name</label>
                    @Html.TextBox("CustomText", addonValues.CustomText, new { @id = "txtAddOnValue" + "-" + addonValues.AddOnValueId, @class = "AddOnValues", @data_addOnValueId = "" + @addonValues.AddOnValueId + "", @data_addOnDisplayType = "" + @Model.DisplayType + "", @data_isOptional = "" + @Model.IsRequired + "" })
                    <p id="paraComment-@addonValues.AddOnValueId" style="display:none">It is required</p>
                }
                @Html.HiddenFor(x => x.AddOnId)
            </div>
        </div>
    </div>
}