﻿@using Znode.Engine.MvcDemo.ViewModels
@using Resources
@model StoreLocatorViewModel

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="main-wrapper">
    <div class="container">
        <div class="row contain-pages">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@ZnodeResource.TitleStoreLocator</h1>
            </div>


            @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
            {
                <div class="col-xs-12 col-md-7 col-lg-6 nopadding">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @Html.Label("",@ZnodeResource.LabelZipCode)
                        </div>
                        <div class="col-xs-12 nopadding">
                            @Html.TextBoxFor(model => model.ZipCode, new { @maxLength = 6 })
                            @Html.ValidationMessageFor(model => model.ZipCode)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @Html.Label("",@ZnodeResource.LabelSearchMiles)
                        </div>
                        <div class="col-xs-12 nopadding">
                            @Html.DropDownListFor(model => model.Radius, Model.RadiusList)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @Html.LabelFor(model => model.City)
                        </div>
                        <div class="col-xs-12 nopadding">
                            @Html.TextBoxFor(model => model.City)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            @Html.LabelFor(model => model.State)
                        </div>
                        <div class="col-xs-12 nopadding">
                            @Html.TextBoxFor(model => model.State, new { @maxLength = 6 })
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div class="pull-right">
                            <button id="btnSubmit" title="Submit" type="@ZnodeResource.ButtonSubmit" value="submit" class="btn-text red">@ZnodeResource.ButtonSubmit</button>
                            @Html.ActionLink(@ZnodeResource.CancleButtonLable, "Index", controllerName, new { @class = "btn-text grey" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 nopadding">
                    @if (!Equals(Model, null) && !Equals(Model.StoreList, null) && Model.StoreList.Count > 0)
                    {
                        @Html.Partial("_StoresList", Model.StoreList ?? new System.Collections.ObjectModel.Collection<StoreLocatorViewModel>())
                    }
                </div>
                <div class="col-xs-12 nopadding">
                    @Html.Label("", Model.ErrorMessage)
                </div>
            }
        </div>
    </div>
</div>