﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/png" href="~/Images/favicon.png" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="/Scripts/Myscript.cs"></script>
    <style type="text/css">
        #ajaxBusy {
  display: none;
  margin: 0px 0px 0px -50px; /* left margin is half width of the div, to centre it */
  padding: 30px 10px 10px 10px;
  position: absolute;
  left: 30%;
  top: 255px;
  width: 500px;
  height: 150px;
  text-align: center;
  background: #e8e8e8 url(images/ajax-loader.gif) no-repeat center center;
  border: 1px solid #000;
}
    </style>
</head>
<body>
    <div class="page">
        <header>            
                <p class="site-title">
                    <a href="~/"><img src="~/Images/znode-logo.png" alt="Znode" /></a>
                </p>            
        </header>
        <div class="main-container">
            @RenderBody()
        </div>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
