/************  
Theme Name: Znode MVC Demo.
Theme URI: - www.maxwellfinefoods.com
Description: CSS for Znode MVC Demo project. 
Author: Znode.
Author URI: www.znode.com
Version: 1.0.0.1
************/

/*---Znode-Icon SVG---*/

@font-face {
	font-family: 'znode-icon-f';
	src:url('fonts/znode-icon-f.eot?4ic700');
	src:url('fonts/znode-icon-f.eot?#iefix4ic700') format('embedded-opentype'),
		url('fonts/znode-icon-f.ttf?4ic700') format('truetype'),
		url('fonts/znode-icon-f.woff?4ic700') format('woff'),
		url('fonts/fonts/znode-icon-f.svg?4ic700#znode-icon-f') format('svg');
	font-weight: normal;font-style: normal;
}
[class^="zf-"], [class*=" zf-"] {font-family: 'znode-icon-f';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.f-size{font-size:20px;vertical-align: sub;}

.zf-google:before {content: "\e615";}
.zf-facebook-simple:before {content: "\e616";}
.zf-fedex:before {content: "\e612";}
.zf-shere:before {content: "\e613";}
.zf-ups:before {content: "\e614";}
.zf-random:before {content: "\f074";}
.zf-key:before {content: "\e610";}
.zf-key-2:before {content: "\e611";}
.zf-check-box-check:before {content: "\f046";}
.zf-check-box:before {content: "\f096";}
.zf-radio-button:before {content: "\f10c";}
.zf-radio-button-check:before {content: "\f192";}
.zf-pinterest-square:before {content: "\f0d3";}
.zf-envelope:before {content: "\f0e0";}
.zf-heart:before {content: "\f004";}
.zf-printer:before {content: "\e60f";}
.zf-envelope-o:before {content: "\f003";}
.zf-checkbox-checked:before {content: "\e60e";}
.zf-grid-view:before {content: "\e60b";}
.zf-list-view:before {content: "\e60c";}
.zf-text-view:before {content: "\e60d";}
.zf-arrow-right-small:before {content: "\f105";}
.zf-arrow-down-small:before {content: "\f107";}
.zf-cart:before {content: "\e600";}
.zf-checkout:before {content: "\e601";}
.zf-close:before {content: "\e602";}
.zf-compare:before {content: "\e603";}
.zf-home:before {content: "\e604";}
.zf-login:before {content: "\e605";}
.zf-quick-order:before {content: "\e606";}
.zf-search:before {content: "\e607";}
.zf-share:before {content: "\e608";}
.zf-shipping:before {content: "\e609";}
.zf-small-arrow:before {content: "\e60a";}
.zf-login-user:before {content: "\f007";}
.zf-twitter:before {content: "\f081";}
.zf-facebook:before {content: "\f082";}
.zf-arrow-circle-right:before {content: "\f0a9";}
.zf-google-plus-square:before {content: "\f0d4";}
.zf-caret-right:before {content: "\f0da";}
.zf-youtube-square:before {content: "\f166";}
.zf-visa-payment:before {content: "\f1f0";}
.zf-mastercard-payment:before {content: "\f1f1";}
.zf-amex-payment:before {content: "\f1f3";}
.zf-paypal-payment:before {content: "\f1f4";}

/*----Layout Page CSS----*/
.wrapper{min-height: 100%;}
.main-wrapper{padding:5px 0; min-height:500px;}
.main-wrapper .page-title{text-transform:uppercase;}

.nav-drop{right:0;line-height:50px;font-size:22px;color:#fff;position:absolute;}
.nav-drop:hover,.nav-drop:active,.nav-drop:focus{color:#cc0000;}
.nav-drop-container ul{background-color:#363636;margin:0;padding:0;position:absolute;right:0;width:50%;}
.nav-drop-container ul li{list-style:none; display:block;position:relative !important;color:#fff;}
.nav-drop-container ul li a{padding:15px;color:#fff;}
.nav-drop-container ul li:hover{background-color:#cc0000;color:#fff;}
.nav-drop-container .dropdown-inner li ul{left:0 !important;background-color:#fff;min-height:100px !important;width:100% !important;position:relative !important;}
.nav-drop-container .dropdown-inner li ul li{width:100% !important;background-color:transparent !important;}

/*-----Header & Breadcrumb-----*/
.top-search-control .btn-text{margin-left:0;}
.top-search-control i{padding:15px 10px;}
#typeahead-results .close{color: #343434;font-size: 15px;opacity: 0.7;padding: 2px 3px;}
#typeahead-results .close:hover{color:#cc0000;opacity:1;}
.header-nav-container .zf-caret-right{display:none;}
.header-nav-container .navbar-toggle{float:left;margin:8px 0 8px 10px;}
.breadcrumb-container{color:#cc0000; text-align:center;}
.breadcrumb-container a{color:#343434;padding:5px; display:inline-block;}
.breadcrumb-container span{padding:5px;}

/*---Shadow Efficet----*/
.hvr-shadow {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: box-shadow;transition-property: box-shadow;}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);}

/*----Quick-Order-----*/
.quick-order-li{position:relative;}
.quick-order-container{position:relative;display:inline-block;}
.quick-order{position:absolute;left:-158px;top:30px; display:none;padding:15px 0;border:1px solid #c3c3c3;width:300px;background-color:#fff;border-radius:4px; -webkit-box-shadow: 5px 5px 15px 0px rgba(52,52,52,0.77);-moz-box-shadow: 5px 5px 15px 0px rgba(52,52,52,0.77);box-shadow: 5px 5px 15px 0px rgba(52,52,52,0.77);}
.quick-order:after{content:'';display:block;position:absolute;top:-20px;right:75px;width:0;height:0;border-color: transparent transparent #fff transparent;border-style: solid;border-width: 10px;}
.quick-order input[type="text"]{margin-bottom:10px;}
.quick-order .close{position:absolute;top:-12px; right:-12px;color:#cc0000;opacity:1;background-color:#cc0000;border-radius:50px;width:20px;height:20px;text-align:center;line-height:13px;}
.quick-order .close i{font-size:10px;color:#fff;}
.quick-order .btn-card,.quick-order-pad .btn-card {font-weight:bold;}

/*----Jquery PopUp----*/
.fakewindowcontain .ui-widget-overlay{position:absolute;}
.ui-helper-hidden{display:none;}
.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}
.ui-helper-clearfix:after,.ui-helper-clearfix:before{content:"";display:table;border-collapse:collapse}
.ui-helper-clearfix:after{clear:both;}
.ui-helper-clearfix{min-height:0;}
.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}
.ui-front{z-index:100;}
.ui-state-disabled{cursor:default!important;}
.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%;background:#666;opacity:.7;filter:Alpha(Opacity=50)}
.ui-draggable-handle{-ms-touch-action:none;touch-action:none;}
.ui-resizable{position:relative;}
.ui-resizable-handle{position:absolute;font-size:.1px;display:block;-ms-touch-action:none;touch-action:none}
.ui-resizable-autohide .ui-resizable-handle,.ui-resizable-disabled .ui-resizable-handle{display:none}
.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}
.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}
.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}
.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}
.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}
.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}
.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}
.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}
.ui-dialog{overflow:hidden;position:absolute;top:0;left:0;padding:.2em;outline:0}
.ui-dialog .ui-dialog-titlebar{padding:.4em 1em;position:relative}
.ui-dialog .ui-dialog-title{float:left;margin:.1em 0;white-space:nowrap;width:90%;overflow:hidden;text-overflow:ellipsis;}
.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:20px;margin:-10px 0 0;padding:1px;height:20px}
.ui-dialog-titlebar-close .btn-text{text-indent:-9999px !important;visibility:hidden;}
.ui-dialog-titlebar-close{ background: url("/Content/themes/base/images/close.png") repeat-x scroll 50% 50% transparent;background-color: transparent;border: 0 none;color: #fff;font-weight: 700;}
.ui-dialog-titlebar-close .ui-button-text{visibility:hidden;display:none}
.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:0 0;overflow:auto; min-height:50px;}
.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0;background-image:none;margin-top:.5em;padding:5px}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right;}
.ui-dialog-buttonset button:nth-child(1){background-color:#dc2920;display:inline-block;}
.ui-dialog-buttonset button:nth-child(2){background-color:#5c5c5c;display:inline-block;}
.ui-dialog .ui-dialog-buttonpane button{margin:5px 0 5px 5px;cursor:pointer; visibility:visible !important;}
.ui-dialog .ui-resizable-se{width:12px;height:12px;right:-5px;bottom:-5px;background-position:16px 16px;}
.ui-draggable .ui-dialog-titlebar{cursor:move;}
.ui-widget{font-family:'Arial';}
.ui-widget .ui-widget{font-size:1em}
.ui-widget button,.ui-widget input,.ui-widget select,.ui-widget textarea{font-family:'Arial';}
.ui-widget-content{border:1px solid #ddd;background:#eee;color:#333; z-index:9999!important;}
.ui-widget-header{border:1px solid #e42e23;background-color:#e42e23;color:#fff;font-weight:700;}
.ui-widget-header a{color:#fff;}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:0;background-color:transparent;font-weight:700;color:#fff;}
.ui-button .ui-button-text{display:inline-block;min-width:70px; padding:0 10px; margin-left:5px; text-align:center;border:0; color:#fff; font-size:12px; font-weight:700; text-transform:none;text-transform:uppercase;height:24px;line-height:24px;}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#1c94c4;text-decoration:none}
.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #fed22f;background:#ffe45c;color:#363636}
.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#363636}
.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#cd0a0a;color:#fff}
.ui-state-error a,.ui-state-error-text,.ui-widget-content .ui-state-error a,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error a,.ui-widget-header .ui-state-error-text{color:#fff}
.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:700}
.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:400}
.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}
.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}
.ui-widget-shadow{margin:-5px 0 0 -5px;padding:5px;background:#000;opacity:.2;filter:Alpha(Opacity=20);border-radius:5px}
.ui-autocomplete {position: absolute;top: 0;left: 0;cursor: default;height:200px;overflow:auto;padding:0 5px; margin:0;}
.ui-lg-popup{width:800px!important; height:auto;}
.ui-md-popup{width:600px!important; height:auto;}
.ui-sm-popup{width:400px!important; height:auto;}

/*----Slider----*/ 
.slide-one .first{font-size:24px;text-transform:capitalize;color:#fff;position:relative;margin-bottom:0; text-align:left;font-weight:normal;}
.slide-one h3{font-size:72px;text-transform:uppercase;color:#fff;position:relative;margin:0;text-align:left;font-weight:normal;}
.slide-one div{font-size:18px;text-transform:uppercase;color:#fff;position:relative;margin-bottom:0;text-align:left;font-weight:normal;}
.slide-one a{position:relative;text-align:left;margin-left:0;padding-right:15px;margin-top:10px;}
.slide-one a i{vertical-align:middle; line-height:32px;padding-left:5px;}

.green { background: #638c2f; }
.yellow{background: #f0c56c;color:#4f0000 !important;}
.yellow-dark{background: #efcd22;color:#4f0000 !important;}
.green-fent{background: #15a365;}

/*----Multiple Images Sider----*/
.product-slider h3{text-align:center;margin:40px 0;color:#343434;font-size:20px;}
.owl-carousel .item {margin: 3px 5px;}
.owl-carousel .item img {display: block;margin:0 auto;}
.owl-carousel .owl-wrapper:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.owl-carousel{display: none;position: relative;width: 100%;-ms-touch-action: pan-y;}
.owl-carousel .owl-wrapper{display: none;position: relative;-webkit-transform: translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper-outer{overflow: hidden;position: relative;width: 100%;}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition: height 500ms ease-in-out;-moz-transition: height 500ms ease-in-out;-ms-transition: height 500ms ease-in-out;-o-transition: height 500ms ease-in-out;transition: height 500ms ease-in-out;}	
.owl-carousel .owl-item{float: left;}
.owl-controls {-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.owl-carousel  .owl-wrapper,.owl-carousel  .owl-item{-webkit-backface-visibility: hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden; -webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0);}
.owl-theme .owl-controls{position: absolute;right: 0;text-align: center;top: -60px;}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter: Alpha(Opacity=100);opacity: 1;text-decoration: none;cursor:pointer;}
.owl-theme .owl-controls .owl-buttons .owl-prev,.product-grid .arrow-left,.search-pagination .arrow-left{float:left;width:32px;height:32px;line-height:32px;border:1px solid #c3c3c3;border-radius:4px;margin-right:5px;color:#cc0000;}
.owl-theme .owl-controls .owl-buttons .owl-next,.product-grid .arrow-right,.search-pagination .arrow-right{float:left;width:32px;height:32px;line-height:32px;border:1px solid #c3c3c3;border-radius:4px;color:#cc0000;}
.owl-theme .owl-controls .owl-buttons .owl-prev:hover,.product-grid .arrow-left:hover,.search-pagination .arrow-left:hover{background-color:#cc0000;color:#fff;}
.owl-theme .owl-controls .owl-buttons .owl-next:hover,.product-grid .arrow-right:hover,.search-pagination .arrow-right:hover{background-color:#cc0000;color:#fff;}
/*----Home Page----*/
.home-wide-promo{min-height:40px;border:1px solid #c3c3c3;margin:20px 0;text-align:center; background: #ffffff;background: -moz-linear-gradient(top,  #ffffff 0, #f1f1f1 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(100%,#f1f1f1));background: -webkit-linear-gradient(top,  #ffffff 0,#f1f1f1 100%);background: -o-linear-gradient(top,  #ffffff 0,#f1f1f1 100%); background: -ms-linear-gradient(top,  #ffffff 0,#f1f1f1 100%);background: linear-gradient(to bottom,  #ffffff 0,#f1f1f1 100%);}
.home-wide-promo a h5{color:#252525;line-height:40px;}
.home-wide-promo span{color:#cc0000;font-weight:bold;}
.home-wide-promo i{font-size:44px;color:#cc0000;padding-left:5px;vertical-align:middle;}

/*----Home Page Product View----*/
.home-product-view{margin-bottom:25px;}
.home-product-view h3{margin-bottom:30px;}
.home-product-view .product-item{margin: 5px auto 10px;max-width: 263px;overflow: hidden;position: relative;}
.home-product-view .product-img img{margin:0 auto;max-height:220px;min-height:220px;}
.home-product-view .product-details{margin-top:10px;}
.home-product-view .product-details h4{font-size:16px;font-weight:bold;}
.home-product-view .product-details .cut-price,.cut-price{color:#c3c3c3; padding-left:5px;text-decoration: line-through;font-size:14px;}
.home-product-view .product-details form,.product-grid .product-view .product-details form{display:block;}
.home-product-view .product-details .product-rating a,.product-grid .product-view .product-details .product-rating a{font-size:12px;}
.home-product-view .view-item{border:1px solid #c3c3c3;padding:15px 10px;}
.home-product-view .view-item:hover{border:1px solid #cc0000;}
.home-product-view .owl-carousel .item{margin:0;}
.home-product-view .brand-img{padding-top:10px; padding-bottom:10px;}
.home-product-view .brand-img img{border:1px solid #c3c3c3;}
.ui-autocomplete-home{position: absolute;top: 34px;left: 0;cursor: default;width:85%;overflow:auto;padding:0 5px; margin:0;z-index:9999;}
.ui-autocomplete-home ul{padding:0;margin:0;background-color:#fff;}
.ui-autocomplete-home ul li{padding:5px;}
.ui-autocomplete-home ul li a{color:#343434;}
.ui-autocomplete-home ul li a:hover{color:#cc0000;}

/* Grow Shadow Pulse Efficet */
.hvr-grow-shadow {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: box-shadow, transform;transition-property: box-shadow, transform;}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);-webkit-transform: scale(1.1);transform: scale(1.1);}
@-webkit-keyframes hvr-pulse {
  25% {-webkit-transform: scale(1.1);transform: scale(1.1);}
  75% {-webkit-transform: scale(0.9);transform: scale(0.9);}
}
@keyframes hvr-pulse {
  25% {-webkit-transform: scale(1.1);transform: scale(1.1);}
  75% {-webkit-transform: scale(0.9);transform: scale(0.9);}
}
.hvr-pulse {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;}
.view-item:hover .hvr-pulse, .view-item:focus .hvr-pulse, .view-item:active .hvr-pulse {-webkit-animation-name: hvr-pulse;animation-name: hvr-pulse;-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-timing-function: linear;animation-timing-function: linear;-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;}

/*Product Quick View PopUp*/
.popup-container{min-width:310px;min-height:400px;padding:10px; background-color:#fff; border:4px solid #cc0000;}
.popup-container .close{position:absolute;top:-12px; right:-12px;color:#cc0000;opacity:1;background-color:#cc0000;border-radius:50px;width:25px;height:25px;}
.popup-container .close i{font-size:12px;color:#fff;text-align:center;line-height:24px;}

/*----Category Landing Page----*/
.product-grid .products-modes-setting {border-bottom:5px solid #cc0000;}
.product-grid .products-modes-setting h1{margin-top:0;}
.product-grid .products-modes-setting .view-mode{font-size:13px;line-height:50px;}
.product-grid .products-modes-setting .view-mode a{padding-left:5px;display:inline-block;text-align:center;}
.product-grid .products-modes-setting .view-mode i{font-size:20px;padding:5px;border:1px solid #c3c3c3; border-radius:4px;color:#bababa;}
.product-grid .products-modes-setting .view-mode i:hover{background-color:#cc0000;color:#fff;}
.product-grid .products-modes-setting .view-mode a.grid-view-opt-active > i{background-color:#cc0000;color:#fff;border:1px solid #cc0000;}
.product-grid .products-modes-setting .view-mode a.list-view-opt-active > i{background-color:#cc0000;color:#fff;border:1px solid #cc0000;}
.product-grid .products-modes-setting .view-mode a.text-view-opt-active > i{background-color:#cc0000;color:#fff;border:1px solid #cc0000;}
.product-grid .product-view .product-item{margin: 15px auto;max-width: 263px;overflow: hidden;position: relative;}
.product-grid .product-view .product-img .image{min-height:220px;}
.product-grid .product-view .product-img img,.category-list .category-item .category-img img{margin:0 auto;max-height:220px;}
.product-grid .product-view .product-details{margin-top:10px;}
.product-grid .product-view .product-details h4{font-size:16px;font-weight:bold;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.product-grid .product-view .view-item{border:1px solid #c3c3c3;padding: 15px 10px;}
.product-grid .product-view .view-item:hover{border:1px solid #cc0000;}
.product-grid .product-view .product-item .swatch-img-container{position:absolute;right:5px;bottom:110px;}
.product-grid .product-view .text-view .product-item .swatch-img-container{display:none;}
.product-grid .product-view .product-item .swatch-img-container ul{margin:0; padding:0;}
.product-grid .product-view .product-item .swatch-img-container ul li{display:block;cursor:pointer;width:25px; height:25px;margin-bottom:5px;}
.product-grid .product-view .category-item .image{min-height:220px; max-height:220px;}
.product-grid .product-view .category-item .short-description p{height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.product-grid .product-view .category-item .btn-card{width:100%;}
.product-grid .search-pagination ul{margin:0; padding:0;}
.product-grid .search-pagination ul li:hover a{color:#fff;}

.product-item .product-img .new-product-tag,.new-product-tag{position:absolute; top:5px; right:5px;z-index:99;width:40px;}
.recent-view-products {margin-top:15px;}
.star-rating .full{color:#cc0000;} 
.star-rating i:hover{color:#cc0000;}
.write-review .setrating input {position: absolute;top: 0;left: -9999px;}
.write-review .setrating label{cursor:pointer;}
.all-reviews h3{font-size:18px;font-weight:bold; border-bottom:1px solid #cc0000;padding-bottom:8px;}
.category-list h1{padding-bottom:10px; margin-top:0; border-bottom:5px solid #cc0000;}
.category-list h4{font-size:16px; font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.category-list ul,.sub-category ul{margin:0; padding:0;}
.category-list ul li,.sub-category ul li{list-style:none; padding-right:5px;}
.sub-category .sub-title{font-size:18px;color:#343434;font-weight:bold; border-bottom:2px solid #343434;padding-bottom:8px;}

/*---Product View Changes---*/
.product-grid-ul{margin:0;padding:0;}
.product-grid-ul li{list-style:none;padding:0;margin:0;display:inline-block;}
.grid-view > li{width: 33.02%;}
.list-view > li,.text-view > li{width: 100%;}
.list-view li .product-item,.text-view li .product-item{max-width:100% !important;}
.list-view li .view-item{float:left;width:100%;}
.list-view li .product-img{float:left;width:30%;}
.list-view li .product-img img{max-height:160px;}
.list-view li .product-details{float:left;width:70%;}
.text-view li .product-img .image{display:none;}
.text-view li .product-img .compare-link{position:absolute;top:auto;right:-30px !important;bottom:65px; left:auto; opacity: 0;}
.text-view li .view-item:hover .compare-link{opacity: 1;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;transition: all 0.5s;right:6px !important;left:auto;}
.text-view li .product-details .text-center,.list-view li .product-details .text-center{text-align:left !important;}

/*----Side Bar Accordion----*/
.side-bar{padding-left:0;}
.panel-heading .accordion-toggle:after {font-family: 'znode-icon-f';content: "\f107";float: right;color:#fff;}
.panel-heading .accordion-toggle.collapsed:after {content: "\f105";color:#cc0000;}
.panel-heading .accordion-toggle.collapsed{background-color:#f9f9f9; border-left:6px solid #cc0000;color:#cc0000;font-weight:700;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.side-bar .panel-heading{padding:0;}
.side-bar .panel-heading h4{background-color:#cc0000;color:#fff;font-size:15px;padding:10px 15px;cursor:pointer; border-left:6px solid #717171;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.side-bar .filter-list{padding:0; margin:0;}
.side-bar .filter-list li{list-style:none; line-height:30px;}
.side-bar .category-promo{margin:15px 0;position:relative;}
.side-bar .category-promo img{height:200px;width:100%; box-shadow: 10px 10px 10px -8px  rgba(0, 0, 0, 0.9);}
.side-bar .category-promo h2{position:absolute;bottom:10%;color:#fff;font-size:24px;width:85%;border-bottom-right-radius:4px;border-top-right-radius:4px; padding-left:5px;text-shadow: 5px 5px 8px #000;}
.side-bar .category-promo .image-promo-summary{color:#fff; display:block;}

/*----ProductDetail View Page----*/
.simpleLens-gallery-container{margin-top:20%;margin-bottom:25px;}
.simpleLens-container{display: table;position: relative;margin:0 auto;-ms-transform: none;}
.simpleLens-big-image-container {display: table-cell;vertical-align: middle;text-align: center;position:relative;height: 300px; width: 350px;-ms-transform: none;}
.simpleLens-big-image {max-width: 100%;-ms-transform: none;}
.simpleLens-lens-image {height: auto !important;width: 350px;display: inline-block;text-align: center;margin:0;box-shadow:none;float:none;position:relative;-ms-transform: none;}
.simpleLens-mouse-cursor{background-color:#CCC;opacity:0.2;filter: alpha(opacity = 20);position:absolute;top:0;left:0;border:1px solid #999;box-shadow:0 0 2px 2px #999;cursor:none;-ms-transform: none;}
.simpleLens-lens-element {background-color: #FFFFFF;box-shadow: 0 0 2px 2px #8E8E8E;height: 400px;left: 105%; overflow: hidden; position: absolute;top: 0;width: 480px;z-index: 9999;text-align: center;-ms-transform: none;}
.simpleLens-lens-element img{position:relative;top:0;left:0;width:auto !important;max-width:none !important;-ms-transform: none;}

.product-view-details .image-view{min-height:350px;}
.product-view-details .alternate-img .owl-controls{top:-35px;}
.product-view-details .alternate-img .item img{text-align:center;border:2px solid #c3c3c3;display:block;max-width:100px;margin:0 auto;}
.product-view-details .alternate-img .item img:hover{border:2px solid #cc0000;}
.product-view-details .product-overview {line-height:26px;color:#252525;font-size:14px;}
.product-view-details .product-overview .product-number-details{float:left;width:100%;}
.product-view-details .product-overview .product-number,.product-view-details .product-overview .product-brand{float:left;line-height:20px;margin:5px 0;display:block;}
.product-view-details .product-overview .product-number span,.product-view-details .product-overview .product-brand span,.product-view-details .product-overview .product-vendor span{font-weight:bold;}
.product-view-details .product-overview .product-number{padding-right:15px;}
.product-view-details .product-overview .product-brand{padding-left:15px;border-left:1px solid #c3c3c3;}
.product-view-details .product-overview .product-price h2{font-size:25px;font-weight:bold;margin:15px 0;}
.product-view-details .product-overview .product-price .cut-price{color:#c3c3c3; padding-left:5px;text-decoration: line-through;font-size:20px;}
.product-view-details .product-overview .product-status{background-color:#f8f8f8;border:1px solid #c3c3c3;padding:6px 0;}
.product-view-details .product-overview .product-status p{color:#05901b;font-size:12px;line-height:20px;margin-bottom:0;}
.product-view-details .product-overview .product-status i{font-size:30px;color:#05901b;vertical-align:middle;padding:0 5px;line-height:58px;}
.product-view-details .product-overview .product-highlight img{vertical-align:middle;max-height:30px; margin:0 auto;}
.product-view-details .product-overview .product-highlight ul{margin:0; padding:5px 0;}
.product-view-details .product-overview .product-highlight ul li{display:inline-block;list-style:none;padding:0 3px;}
.product-view-details .product-overview .product-highlight .owl-theme .owl-controls{top:-20px;}
.product-view-details .product-overview .product-highlight .owl-theme .owl-controls .owl-buttons .owl-prev{width:20px;height:20px;line-height:20px;}
.product-view-details .product-overview .product-highlight .owl-theme .owl-controls .owl-buttons .owl-next{width:20px;height:20px;line-height:20px;margin-right:5px;}
.product-view-details .product-variations{border:1px solid #c3c3c3;background-color:#f7f7f7;}
.product-view-details .product-variations .your-pricing,.product-view-details .product-variations .product-wishlist{background-color:#efefef;padding:10px;}
.product-view-details .product-variations .your-pricing h3{font-size:30px; font-weight:bold; color:#cc0000; margin:0;}
.product-view-details .product-variations .your-pricing span{font-size:13px; color:#949494;font-weight:normal;vertical-align:middle;display:block;line-height:20px;}
.product-view-details .product-variations .your-pricing button{margin-top:5px;}
.product-view-details .product-customize .swatch-img-container label{display:block;font-size:13px;text-transform: capitalize;font-weight:normal;}
.product-view-details .product-customize .swatch-img-container ul{padding:0;margin:0;}
.product-view-details .product-customize .swatch-img-container ul li{display:inline-block;cursor:pointer;}
.product-view-details .product-customize .swatch-img-container ul li img{border:1px solid #c3c3c3;margin:0 5px 5px 0;}
.product-view-details .product-customize .swatch-img-container ul li img:hover{border:1px solid #cc0000;}
.product-view-details .product-customize .addrons-attributs h4{font-size:14px;font-weight:700;}
.product-view-details .product-customize .addrons-attributs label{font-size:13px; font-weight:normal;}
.product-view-details .product-customize .addrons-attributs .form-group{float:left;width:100%;padding-left:0; padding-right:15px;margin-bottom:5px;}
.product-view-details .product-wishlist button{margin-bottom:5px;}
.product-view-details .product-bundles img{margin:0 auto;}
.product-view-details .product-bundles{background-color:#f7f7f7;border:1px solid #c3c3c3;padding:5px;}
.product-view-details .product-bundles .bundle-item{margin-bottom:5px;}
.product-view-details .status-outofstock{font-size:16px; font-weight:bold; color:#cc0000;}
.status-outofstock{font-size:16px; font-weight:bold; color:#cc0000;}
.social-share ul{padding:0; margin:0;float:left;}
.social-share ul li{display:inline-block;}
.social-share i{font-size:26px;color:#787878;}
.compare-link{position:absolute;top:15px; left:-30px;opacity: 0;}
.compare-link a{color:#cc0000;border:1px solid #cc0000;padding:10px;}
.compare-link i{vertical-align:middle; text-align:center;font-size:22px;}
.view-item:hover .compare-link{opacity: 1;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;transition: all 0.5s;left:6px;}
.product-details-tab {margin:15px 0;}
.product-details-tab ul{border-bottom:5px solid #cc0000;}
.product-details-tab ul li{padding-right:5px;}
.product-details-tab ul li a{color:#cc0000;font-size:15px;font-weight:bold;min-width:150px; padding:10px 15px;background-color:#f8f8f8;border:1px solid #cc0000;border-radius:0;text-align:center;}
.product-details-tab ul li a:hover{background-color:#cc0000;color:#fff;border:1px solid #cc0000;}
.product-details-tab .nav-tabs > li.active > a, .product-details-tab .nav-tabs > li.active > a:hover, .product-details-tab .nav-tabs > li.active > a:focus{background-color:#cc0000;color:#fff;}
.product-details-tab .tab-content{min-height:300px;max-height:400px; background-color:#f9f9f9;border:1px solid #c3c3c3;padding:15px 20px;overflow-y:auto;}
.product-details-tab .tab-content h4 a{color:#343434; font-size:16px;font-weight:bold;padding-right:5px;}
.product-details-tab .tab-content h4 span{padding-left:5px;border-left:1px solid #c3c3c3;color:#949494;font-size:14px;}
.product-review{margin-bottom:15px;}
.product-review .review-title h3{font-size:14px;font-weight:bold;}
.bundle-setting .sub-title{font-size:18px;color:#cc0000;font-weight:bold; border-bottom:2px solid #cc0000;padding-bottom:8px;}
.bundle-setting .bundle-item{border:1px solid #c3c3c3;margin:0 5px;float:left;width:99%;}
.bundle-setting .bundle-item h3{font-size:14px;color:#cc0000;font-weight:bold; border-bottom:2px solid #cc0000;padding-bottom:8px;}

/*----Search Product Page----*/
.search-pagination ul{text-align:center; margin:15px 0;}
.search-pagination ul li{display:inline-block;list-style:none;}
.search-info ul{margin:0; padding:0;}
.search-info ul li{display:inline-block;padding:10px 5px;}
.search-info ul li a{color:#c3c3c3;}
.search-info ul li a i{font-size:8px;color:#cc0000;vertical-align:top;padding:0 5px;}

/*-----Login Page----*/
.login-container{margin:6% 0; color:#343434;font-weight:normal;}
.inner-container{border:1px solid #c3c3c3;min-height:330px;padding:25px;}
.login-container label{color:#343434;font-size:18px;margin:6px 0;font-weight:normal;}
.login-container input[type="text"],.login-container input[type="password"]{border-radius:0 !important;padding-left:40px;}
.login-container .login-icon{line-height:34px;font-size:20px;padding:0 8px;border:1px solid #c3c3c3;color:#8e8e8e;width:34px;}
.login-container .btn-text-login{display: inline-block; min-width: 70px; text-align: center; font-family: Arial; font-size: 14px; font-weight: 700; border: 0; color: #fff;border-radius:4px; text-transform: none; width: 100%; padding: 0 15px 1px 10px; height: 38px; line-height: 38px; }
.login-container .account-signup-container{border-left:1px solid #c3c3c3;margin:1% 0;}
.login-container .account-signup-container h3{color:#cc0000;}
.sub{font-size:12px;color:#8e8e8e;}
.login-container .remember-me label{margin-top:-20px;line-height:22px;font-size:14px;}
.login-container .checkout-guest-container{display:none; margin-top:15px;}
#layout-checkout-login .login-container .checkout-guest-container{display:block;}
.login-container .account-signup-link:hover i,.login-container .checkout-login-asguest:hover i,.register-container .account-signup-link:hover i{color:#cc0000;}
.register-container .account-signup-container{border-left:1px solid #c3c3c3;margin:5% 0;padding:10px 0;}
.register-container .account-signup-container .user-icon{width:50px;height:50px;border:1px solid #c3c3c3;text-align:center;position:absolute; left:-25px;top:40px;background-color:#fff;}
.register-container .account-signup-container .user-icon i{line-height:50px;font-size:30px;color:#cacaca;}
.register-container .login-icon{line-height:16px;font-size:20px;text-align:center;border:1px solid #c3c3c3;color:#8e8e8e;width:34px;}

/*----Shopping Cart----*/
.cart-products table{background-color:#f7f7f7;border:1px solid #c3c3c3;margin-bottom:0;}
.cart-products table tr td,.cart-products table tr th{border:1px solid #c3c3c3;vertical-align:middle;}
.shopping-cart .cart-total-title h2{border:1px solid #c3c3c3;font-size:16px; color:#cc0000;font-weight:bold; padding:15px; background: #ffffff;background: -moz-linear-gradient(top,  #ffffff 0, #f0f0f0 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ffffff), color-stop(100%,#f0f0f0)); background: -webkit-linear-gradient(top,  #ffffff 0,#f0f0f0 100%); background: -o-linear-gradient(top,  #ffffff 0,#f0f0f0 100%); background: -ms-linear-gradient(top,  #ffffff 0,#f0f0f0 100%);background: linear-gradient(to bottom,  #ffffff 0,#f0f0f0 100%);}
.shopping-cart .remove-item a{float:left; width:100%; text-align:center;color:#cc0000;}
.shopping-cart .cart-item-details a,.review-order .cart-item-details a,.wishlist-container .wishlist-item-detail a,.multiple-checkout .cart-item-details a{display: block;font-size: 14px;font-weight: bold;line-height: 26px;max-height: 90px;overflow: hidden;width: 100%;}
.shopping-cart .cart-item-details a img,.review-order .cart-item-details a img,.wishlist-container .wishlist-item-detail a img,.multiple-checkout .cart-item-details a img{max-width:70%;}
.shopping-cart .cart-item-details .cart-item-description{font-size:14px;line-height:26px;}
.shopping-cart .cart-summary{background-color:#f7f7f7;border:1px solid #c3c3c3;border-top:0; padding:20px}
.shopping-cart .cart-summary-single-page{background-color:#f7f7f7;border:1px solid #c3c3c3;border-top:0; padding:20px 10px;}
.shopping-cart .cart-summary .cart-item-remove-all i{color:#cc0000;padding-right:5px;}
.shopping-cart .cart-promocode p{font-weight:bold;}
.shopping-cart .cart-total{text-align:right;color:#343434;}
.shopping-cart .cart-total .form-group{float:left; width:100%; margin-bottom:5px;}
.shopping-cart .cart-total .total{border-top:1px solid #c3c3c3; float:left;width:100%;}
.shopping-cart .cart-total .total h2{color:#cc0000;font-size:20px;}
#layout-cart .cart-item-edit {display:none}

/*------Multiple CheckOut Method-------*/
.multiple-checkout .checkout-step h3{font-size:18px;color:#cc0000;font-weight:bold; border-bottom:2px solid #cc0000;padding-bottom:8px;}
.multiple-checkout .shipping-address h3{font-size:14px; font-weight:bold; color:#343434; border-bottom:1px solid #343434; padding-bottom:6px;}
/*.multiple-checkout .shipping-method{min-height:400px;}*/
.multiple-checkout .shipping-method h4{font-size:14px; font-weight:bold; color:#343434; border-bottom:1px solid #343434; padding-bottom:6px;margin-bottom:15px;}
.multiple-checkout .shipping-method ul{padding:0; margin:0;}
.multiple-checkout .shipping-method ul li{list-style:none;margin-bottom:15px}
.multiple-checkout .shipping-method ul li label{font-weight:normal;}
.multiple-checkout .review-order h4{color:#cc0000;font-size:14px;font-weight:bold; border-bottom:1px solid #c3c3c3; padding-bottom:6px; margin:15px 0;}
.multiple-checkout .review-order .cart-total{text-align:right;color:#343434;}
.multiple-checkout .review-order .cart-total .total{border-top:1px solid #c3c3c3; float:left;width:100%;}
.multiple-checkout .review-order .cart-total .total h2{color:#cc0000;font-size:20px;}
.multiple-checkout .review-order table tr td:first-child{display:none;}
.multiple-checkout .checkout-payment .payment-total span{color:#cc0000;}
.multiple-checkout .checkout-payment h4{font-size:14px; font-weight:bold; color:#343434; border-bottom:1px solid #343434; padding-bottom:6px;}
.multiple-checkout .checkout-payment .payment-container .tab-content{padding-left:15px;}
.multiple-checkout .checkout-payment .payment-container .tab-pane h3{font-size:22px;color:#cc0000;font-weight:bold; border-bottom:2px solid #cc0000;padding-bottom:8px;}
.payment-container .tab-content .form-group{float:left; width:100%;}
.multiple-checkout .change-address{color:#8E8E8E;}
.shopping-cart .cart-item-quantity .quantity{display:none;}
.review-order .cart-products .cartQuantity{display:none;}
.review-order .cart-products .quantity{display:block !important; text-align:center;} 
.multiple-checkout .newshipping-container h3{font-size:14px; font-weight:bold; color:#343434; border-bottom:1px solid #343434; padding-bottom:6px;margin-bottom:15px;}
.multiple-checkout .newshipping-container h4{font-size:14px; font-weight:bold; color:#343434; margin-bottom:15px;}
.multiple-checkout .newshipping-container .address-block{font-weight:normal;}
.multiple-checkout .newshipping-container ul{margin:0;padding:0;}
.multiple-checkout .newshipping-container ul li{list-style:none;}
.multiple-checkout .multiple-shipping .cart-item-details img{display:none;}
.multiple-checkout .cart-total-table{float:left; width:100%;border-top: 1px solid #c3c3c3;padding-top:10px;}

/*-----Vertical Tabs CSS-----*/
.tabs-left {border-bottom: none;padding-top: 2px;margin:0;border-right: 1px solid #cc0000;}
.tabs-left>li {float: none;margin-bottom: 2px;margin-right: -1px;}
.tabs-left>li i{font-size:11px; padding-left:5px;vertical-align:baseline;}
.tabs-left>li a:hover{background-color:#cc0000;color:#fff;}
.tabs-left>li.active>a,.tabs-left>li.active>a:hover,.tabs-left>li.active>a:focus {border-color: #cc0000;border-right-color: transparent;color:#cc0000;}
.tabs-left>li>a {border-radius: 4px 0 0 4px;margin-right: 0;display:block;padding:8px 6px;color:#343434;}

/*-------Single Page Checkout---------*/
.single-page-checkout .title span{background-color:#cc0000;padding:8px 15px;margin-right:8px; font-size:16px;color:#fff;font-weight:bold;}
.single-page-checkout .title{background-color:#d5d5d5;padding:9px 0;font-size:16px;color:#343434;font-weight:bold;}
.single-page-checkout .shipping-address .sigle-page-login{background-color:#f7f7f7; padding:5px;border:1px solid #c3c3c3;}
.single-page-checkout .shipping-method h4,.single-page-checkout .signle-page-payment h4{font-size:14px;font-weight:bold;}
.single-page-checkout .shipping-method ul{padding:0;margin:0;}
.single-page-checkout .shipping-method ul li{list-style:none;padding:5px 0;}
.single-page-checkout .signle-page-payment .inner-container{padding:0;border:0;}
.single-page-checkout .signle-page-payment .order-details{padding-left:0;padding-right:0;}
.single-page-checkout .review-order{padding-left:15px;padding-right:0;}
.single-page-checkout .review-order table tr td:first-child,.single-page-checkout .review-order table tr th:first-child{display:none;}
.single-page-checkout .gift-container .form-group{float:left; width:100%;}
.single-page-checkout .sigle-page-payment .form-group{float:left;width:100%;margin-bottom:10px;}
.single-page-checkout .sigle-page-payment ul{margin:0; padding:0;}
.single-page-checkout .sigle-page-payment ul li{list-style:none;}

/*-------Checkout Receipt---------*/
.checkt-receipt h4{font-size:20px; font-weight:bold; text-align:center;color:#cc0000;border-bottom:1px solid #343434; padding-bottom:6px;margin:15px 0;}
.checkt-receipt strong{color:#cc0000;}

/*-------Account Dashboard---------*/
.account-dashboard {border-top:2px solid #cc0000;padding-top:15px;min-height:450px;}
.account-dashboard .tabs-left{border:0;}
.account-dashboard .tabs-left i{color:#cc0000;}
.account-dashboard .tabs-left li:hover i{color:#fff;}
.account-dashboard nav > ul > li > a.selected{background-color:#cc0000 !important;color:#fff !important;}
.account-dashboard nav > ul > li > a.selected i{color:#fff !important;}
.account-dashboard .section-header{font-size:18px;color:#343434;font-weight:bold; border-bottom:1px solid #343434;padding-bottom:8px;}
.account-dashboard .dashboard-addresses h5{color:#626262;font-weight:bold;}
.account-dashboard .wishlist-container table tr{border:0; border-bottom:1px solid #c3c3c3;}
.account-dashboard .wishlist-container table tr td{vertical-align:middle;padding:5px;}
.account-dashboard .wishlist-container table tr td.wishlist-item-tocart{min-width:125px;}
.account-dashboard .wishlist-container table tr td.wishlist-item-tocart .btn-card{margin-left:0;}
.account-dashboard .address-book .address-list form{display:inline-block;}
.account-dashboard .address-book h5,.account-dashboard .address-book h3{font-size:14px; font-weight:bold; color:#cc0000; border-bottom:1px solid #343434; padding-bottom:6px;}
.account-dashboard .address-book .address-title{color:#626262;font-weight:bold;}
.account-dashboard .edit-profile .form-group{float:left; width:100%;margin-bottom:5px;}
.account-dashboard .address-book .edit-address-form .form-group,.account-dashboard .change-password .form-group{float:left; width:100%; margin-bottom:5px;}
.account-dashboard .order-receipt h3{font-size:14px; font-weight:bold; color:#343434; border-bottom:1px solid #343434; padding-bottom:6px;}
.account-dashboard .order-receipt .receipt-item-list,.account-dashboard .order-receipt .receipt-total{border-top:1px solid #343434;}
.account-dashboard .order-receipt .receipt-item-list table .shipment-address{background-color:#fff;}
.account-dashboard .order-receipt .receipt-item-list table .shipment-address td{padding:5px 0;}
.account-dashboard .order-receipt .receipt-totals .form-group{float:left; width:100%;margin-bottom:0;}
.account-dashboard .order-receipt .receipt-totals h2{color: #cc0000;}
.account-dashboard .review-history ul{margin:0; padding:0;}
.account-dashboard .review-history ul li{list-style:none; padding:5px 0;}

/*-------Quick Order---------*/
.quick-order-page .form-group,.write-review .form-group{float:left; width:100%;}
.quick-order-page .form-group i{color:#cc0000;line-height:32px;cursor:pointer;}
.quick-order-autocomplete{width:275px !important; min-height:100px; max-height:400px !important;}
.quick-order-autocomplete li{padding:2px 5px;width:100%;float:left;}
.quick-order-autocomplete li:hover{background-color:#fafafa;box-shadow: 6px 6px 5px #c3c3c3;cursor:pointer;}
.quick-order-autocomplete li .auto-list{float:left; width:70%;}
.quick-order-autocomplete li .auto-img{float:left; width:30%;text-align:center; background-color:#fff;}
.quick-order-autocomplete li .auto-img img{max-width:100%;max-height:100px;margin:0 auto;}
.quick-order-autocomplete li .auto-list p{margin:0;padding:2px 0;font-size:12px;}
.quick-order-autocomplete li .auto-list p:first-child{font-weight:bold; color:#af0604;font-size:14px;}
.order-pad-autocomplete{min-height:100px; max-height:300px !important;max-width:435px;}
.order-pad-autocomplete li{padding:2px 5px;width:100%;float:left;}
.order-pad-autocomplete li:hover{background-color:#fafafa;box-shadow: 6px 6px 5px #c3c3c3;cursor:pointer;}
.order-pad-autocomplete li .auto-list{float:left; width:70%;}
.order-pad-autocomplete li .auto-img{float:left; width:30%;text-align:center; background-color:#fff;}
.order-pad-autocomplete li .auto-img img{max-width:100%;max-height:100px;margin:0 auto;}
.order-pad-autocomplete li .auto-list p{margin:0;padding:2px 0;font-size:12px;}
.order-pad-autocomplete li .auto-list p:first-child{font-weight:bold; color:#af0604;font-size:14px;}

/*-----Compare Product-----*/
.compare-product-box {margin:15px 0;border:1px solid #c3c3c3;}
.compare-product-box h4{background-color:#cc0000;font-size:16px;padding:8px 5px;margin:0;color:#fff;font-weight:bold;margin-bottom:10px;}
.compare-product-box .compare-product{padding:0 10px;}
.compare-product-list{border-bottom:1px solid #c3c3c3; font-size:11px;float:left; margin-bottom:10px;width:100%;}
.compare-product-list img{border:1px solid #c3c3c3;}
.compare-product-list .remove-compare{position:absolute;top:25%; right:6px;color:#fff;opacity:1;background-color:#cc0000;border-radius:50px;width:15px;height:15px;text-align:center;}
.compare-product-list .remove-compare i{font-size:8px;}
.product-compare-list{padding-left:8px; padding-right:8px;}
.product-compare-list .form-group{float:left; width:100%; margin-bottom:10px;}
.product-compare-list .product-item{border:1px solid #c3c3c3;padding:10px 5px;}
.product-compare-list .product-item label{color:#cc0000;}
.product-compare-list .product-item img{margin:0 auto;}
.product-compare-list .product-item .remove-compare{position:absolute;top:-12px; right:-12px;color:#fff;opacity:1;background-color:#cc0000;border-radius:50px;width:20px;height:20px;text-align:center;}
.product-compare-list .product-item .remove-compare i{font-size:10px;}
.compare-print{border-bottom:1px solid #343434; padding-bottom:6px; margin-bottom:10px;}
.compare-print a{padding-left:10px;}

/*------Contain Pages-------*/
.contain-pages .form-group{float:left; width:100%; margin-bottom:10px;}

/*-------Site Map-----*/
.site-map h1{color:#343434; border-bottom:1px solid #343434;padding-bottom:6px;margin-bottom:15px;}
.site-map h3{color:#cc0000; border-bottom:1px solid #cc0000;padding-bottom:6px;margin-bottom:15px;font-size:16px;}
.site-map ul{margin:0; padding:0;}
.site-map ul li{list-style:none;padding:5px 0;}
.site-map ul li i{color:#cc0000;}
.site-map ul li a{color:#8E8E8E;}
.site-map .category-list ul{float:left; width:100%;}

/*-----Alternate Image View------*/
.lightboxOverlay {position: absolute;top: 0;left: 0; z-index: 9999;background-color: black;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity: 0.8;display: none;}
.lightbox {position: absolute;left: 0;width: 100%;z-index: 10000;text-align: center;line-height: 0;font-weight: normal;}
.lightbox .lb-image {display: block;height: auto;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;}
.lightbox a img {border: none;}
.lb-dataContainer:after,.lb-outerContainer:after{content:"";clear:both}
.lb-outerContainer{position:relative;background-color:#fff;width:250px;height:250px;margin:0 auto;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px}
.lb-loader,.lb-nav{left:0;position:absolute}
.lb-outerContainer:after{display:table}
.lb-container{padding:4px}
.lb-loader{top:43%;height:25%;width:100%;text-align:center;line-height:0}
.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;}
.lb-nav{top:0;height:100%;width:100%;z-index:10}
.lb-container>.nav{left:0}
.lb-nav a{outline:0;}
.lb-next,.lb-prev{width:49%;height:100%;cursor:pointer;display:block}
.lb-next i{right:0;float:right;top:45%;padding-right:10px;font-size:20px;color:#cc0000;}
.lb-prev i{left:0;float:left;top:45%;padding-left:10px;font-size:20px;color:#cc0000;}
.lb-prev{left:0;float:left}
.lb-next{right:0;float:right}
.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}
.lb-dataContainer:after{display:table}.lb-data{padding:0 4px;color:#bbb}
.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}
.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}
.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}
.lb-data .lb-close{display:block;float:right;width:30px;height:30px;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7}
.lb-data .lb-close i{color:#cc0000;}
.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}
/*Social Login Form*/
.social{border-top:1px solid #c3c3c3;position:relative;margin-top: 15px;}
.social .oval-seprator{display: block;width:40px;height:40px;border: 1px solid #c3c3c3;text-align: center;position: absolute;left:43%;top: -21px;background-color: #a4a4a4;color:#fff;padding:8px;}
.top-bottom-space{margin:32px 0 25px;}
.facebook-btn{background-color:#435f9c;margin-bottom:5px;}
.google-btn{background-color:#de4931;margin-bottom:5px;}

/*Media Query CSS*/
@media(min-width:320px){
.header{height:auto;}
.shrink{position:relative;}
.header-main .header-logo img{margin-left: auto;margin-right: auto;}
.header-link-contain{margin-top:10px;padding:0 15px;}
.top-search-control{margin-bottom:15px;}
.header-link ul{float:right;padding-left:0;padding-right:8px;}
.header-link .username,.owl-buttons{display:none;}
.footer-container .footer-shop,.news-letter-container{padding-left:5px; padding-right:5px;}
.compare-popup-option .ui-dialog-content{float:left;width:100%;min-height:60px !important;}
/*Nav Mobile*/
.navbar-collapse{padding:0 15px;}
.dropdown:hover .dropdown-menu{position: static;float: none;display:none;}
.shrink .header-logo img{width:210px;}
.header-link ul li{padding:0 2px}
.owl-theme .owl-controls{top: -30px;}
.newsletter-container{margin-bottom:10px;}
.follow-us .pull-right{float:left !important;}
.yamm .dropdown.yamm-fw .dropdown-menu {min-height:100px;}
.yamm .dropdown ul li{width:100%;}
.order-pad-autocomplete{max-width:230px;}
.ui-widget-overlay{visibility:hidden;}
.top-search-control .btn-text{min-width:40px;margin-right:-10px;}
/*Category Product View*/
.grid-view > li{width: 100%;}
.side-bar{padding-left:15px;}
.side-bar .category-promo{display:none;}
.side-bar .narrow-results{display:block;padding:6px 0;font-size:16px;color:#fff;position:absolute;top:-80px;right:0;z-index:999;}
#layout-search .side-bar .narrow-results{top:-50px;}
.narrow-results-panel{display:none;}
.side-bar .narrow-results::after{font-family: 'znode-icon-f';content: "\f107";float: right;padding:0 5px;}
.side-bar .narrow-results.active::after{font-family: 'znode-icon-f';content: "\f105";color:#cc0000;padding:0 5px;}
.list-view li .product-img .image img,.list-view li .product-img .image{min-height: 70px !important;}
.list-view li .swatch-img-container{display:none;}
/*Product Details View*/
.simpleLens-big-image-container {height: 250px; width: 300px;}
.simpleLens-lens-image {width: 300px;}
.simpleLens-lens-element{display:none !important;}
.product-details-tab ul li{padding-right:0; width:100%}
.product-grid .search-paging{padding:0; margin-bottom:5px;}
/*---Login & Register Page---*/
.inner-container{padding:5px;}
.login-container .account-signup-container{border-left:0;border-top:1px solid #c3c3c3;margin:5% 0; padding-top:25px;}
#layout-checkout-login .login-container .account-signup-container{margin:1% 0;}
.login-container .account-signup-container .user-icon{display:none;}
.register-container .account-signup-container{border-left:0;border-top:1px solid #c3c3c3; margin:5% 0;padding:10px 0;}
.register-container .account-signup-container .user-icon{display:none;}
/*----Shopping Cart----*/
.shopping-cart .cart-total{border-top:1px solid #c3c3c3; margin-top:15px; padding-top:15px;}
.shopping-cart .cart-item-details img,.multiple-checkout .review-order .cart-item-details img,.account-dashboard .wishlist-container .wishlist-item-image{display:none;}
.cart-products table tr td,.cart-products table tr th{padding:8px 3px;}
.shopping-cart .cart-btn .btn-text-icon,.multiple-checkout .review-order .cart-btn .btn-text-icon,.multiple-checkout .btn-text-icon{min-width:100%; margin-bottom:10px;margin-left:0;}
.shopping-cart .cart-btn .pull-right,.multiple-checkout .review-order .cart-btn .pull-right{float:left; width:100%;}
/*-----Single Page Checkout-----*/
.single-page-checkout .shipping-method,.single-page-checkout .review-order{padding-left:0; padding-right:0; margin-bottom:15px;}
.account-dashboard .account-menu{border-bottom:1px solid #c3c3c3;margin-bottom:15px;}
.account-dashboard .address-book .address-list form{display:block;float:right;}
/*----Jquery PopUp----*/
.ui-lg-popup,.ui-md-popup,.ui-sm-popup{width:300px!important; height:auto;}
.popup-container,.btn-quick-view{display:none;}
.btn-add-cart{width:100% !important;}
/*-----Slider-----*/
.carousel-caption{left:5%;}
.slide .item img{min-height:200px;}
.slide-one .first{font-size:14px;}
.slide-one h3{font-size:30px;}
.slide-one p{font-size:12px;}
/*Quick Order*/
.quick-order{left:-144px;}
}
@media(min-width:480px) {
/*Category Product View*/
.grid-view > li{width: 49%;}
}

@media(min-width:768px) {
.main-wrapper{padding:15px 0;}
.shrink{position:fixed;height:114px}
.header-link-contain{margin-top:20px;padding:0;}
.header-logo img{max-width:160px;}
.header{height:162px;}
.header-main .header-logo img{margin-left: 0;margin-right: 0;}
.top-search-control{margin-bottom:0;}
.navbar-collapse{padding:0;}
.dropdown:hover .dropdown-menu{position: absolute;float: left;display:block;}
.shrink .header-logo img{width:140px;}
.header-link ul li{padding:0 5px}
.header-link ul{padding-right:23px;padding-top:13px;}
.owl-theme .owl-controls{top: -60px;}
.owl-buttons{display:block;}
.header-link .username{display:inline-block;}
.product-extras .owl-theme .owl-controls{top: -35px;}
.newsletter-container{margin-bottom:0;}
.follow-us .pull-right{float:right !important;}
.order-pad-autocomplete{max-width:330px;}
.ui-widget-overlay{visibility:visible;}
.footer-container .footer-copyright ul{float:right;text-align:right;}
.social-login{width:150px !important;}
.google-btn{margin-left:5px;}
.site-map .category-list ul{float:left; width:50%;}
.top-search-control .btn-text{min-width:70px;margin-right:0;}
/*-----Top Nav Menu-----*/
.yamm .dropdown.yamm-fw .dropdown-menu {min-height:250px;}
.yamm .dropdown ul li{width:49%;}
.grid-view > li{width: 49.02%;}
.side-bar{padding-left:0;}
.side-bar .category-promo{padding:0;display:block;}
.side-bar .narrow-results{display:none;}
.narrow-results-panel{display:block;}
.list-view li .product-img .image img,.list-view li .product-img .image{min-height: 150px !important;}
/*Product Details View*/
.simpleLens-big-image-container {height: 300px; width: 350px;}
.simpleLens-lens-image {width: auto;}
.product-details-tab ul li{padding-right:5px; width:auto;}
.product-grid .search-paging{padding:0 10px; margin-bottom:0;}
.list-view li .swatch-img-container{bottom:0!important; left:5px !important;display:block;}
/*---Login & Register Page---*/
.inner-container{padding:25px 0;}
.login-container .account-signup-container{border-left:1px solid #c3c3c3;border-top:0;padding-top:0;}
.login-container .account-signup-container .user-icon{display:block;width:50px;height:50px;border:1px solid #c3c3c3;text-align:center;position:absolute; left:-25px;top:40px;background-color:#fff;}
#layout-checkout-login .login-container .account-signup-container .user-icon{top:115px;}
.login-container .account-signup-container .user-icon i{line-height:50px;font-size:30px;color:#cacaca;}
.register-container .account-signup-container{border-left:1px solid #c3c3c3;border-top:0; margin:5% 0;padding:10px 0;}
.register-container .account-signup-container .user-icon{display:block;}
/*----Shopping Cart----*/
.shopping-cart .cart-total{border-top:0; margin-top:0; padding-top:0;}
.shopping-cart .cart-item-details img,.multiple-checkout .review-order .cart-item-details img,.account-dashboard .wishlist-container .wishlist-item-image{display:block;}
.multiple-checkout .multiple-shipping .cart-item-details img{display:block;}
.cart-products table tr td,.cart-products table tr th{padding:5px;}
.shopping-cart .cart-btn .btn-text-icon,.multiple-checkout .review-order .cart-btn .btn-text-icon,.multiple-checkout .btn-text-icon{min-width:200px;margin-left:5px;}
.shopping-cart .cart-btn .pull-right,.multiple-checkout .review-order .cart-btn .pull-right{float:right; width:auto;}
.shopping-cart .cart-total .total h2,.multiple-checkout .review-order .cart-total .total h2{font-size:28px;}
/*-----Single Page Checkout-----*/
.single-page-checkout .shipping-method{padding-left:0; padding-right:15px;}
.account-dashboard .account-menu{border-bottom:0;margin-bottom:0;}
.account-dashboard .address-book .address-list form{display:inline-block;}
/*----Jquery PopUp----*/
.ui-lg-popup{width:650px!important; height:auto;}
.ui-md-popup{width:600px!important; height:auto;}
.ui-sm-popup{width:400px!important; height:auto;}
.popup-container{display:block;}
.btn-quick-view{display:inline-block;}
.btn-add-cart{width:auto;}
.modal-dialog{width:600px !important;}
.quick-view-popup .product-wishlist{display:none;}
.quick-view-popup .product-view-details .image-view{min-height:250px;}
.quick-view-popup .quick-product-img{margin:0 auto;text-align:center;padding:15px 0;max-width:170px;}
.quick-view-popup .product-customize{max-height:200px; overflow-y:auto;}
.quick-view-popup .product-overview h1,.quick-view-popup .product-overview h2{margin:0 0 5px 0 !important;}
.home-product-view .product-details form,.product-grid .product-view .product-details form{display:inline-block;}
.quick-view-popup h1,.quick-view-popup h2,.quick-view-popup h3{font-size:20px !important;}
.quick-view-popup .btn-card{width:100%;}
/*Quick Order*/
.quick-order{left:-183px;}
}
@media (min-width: 992px) {
.header-link-contain{margin-top:28px;}
.header-logo img{max-width:100%;}
.header{height:146px;}
.shrink {height:88px}
.order-pad-autocomplete{max-width:360px;}
.header-link ul{padding-right:0;padding-top:0;}
.header-link i.zf-login-user{float:left;margin-top: 5px;}
.header-link .username{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;max-width:115px;float:left}
.site-map .category-list ul{float:left; width:30%;}
/*-----Top Nav Menu-----*/
.yamm .dropdown.yamm-fw .dropdown-menu {min-height:250px;max-height:400px;overflow-y:auto;}
.yamm .dropdown ul li{width:24%;}
/*Category Product View*/
.simpleLens-lens-element{display:block !important;}
.product-grid .product-item .btn-quick-view,.product-grid .product-item .btn-add-cart{padding:0 12px 0 7px;font-size:12px;}
.product-grid .product-item .btn-quick-view i,.product-grid .product-item .btn-add-cart i{font-size:12px;}
.grid-view > li{width: 32.9%;}
/*---Login & Register Page---*/
.inner-container{padding:25px;}
/*-----Single Page Checkout-----*/
.single-page-checkout .shipping-method{padding-left:15px; padding-right:15px;}
.single-page-checkout .review-order{padding-left:15px;padding-right:0;}
/*----Jquery PopUp----*/
.ui-lg-popup{width:800px!important; height:auto;}
.modal-dialog{width:900px !important;}
/*-----Slider-----*/
.slide-one .first{font-size:24px;}
.slide-one h3{font-size:72px;}
.slide-one p{font-size:18px;}
}
@media (min-width: 1200px) {
.order-pad-autocomplete{max-width:435px;}
.social-login{width:180px !important;}
.carousel-caption{left:10%;}
.site-map .category-list ul{float:left; width:25%;}
/*-----Top Nav Menu-----*/
.yamm .dropdown.yamm-fw .dropdown-menu {min-height:250px;max-height:550px;overflow-y:auto;}
/*Category Product View*/
.product-grid .product-item .btn-quick-view,.product-grid .product-item .btn-add-cart{padding:0 15px 0 10px;font-size:13px;}
.product-grid .product-item .btn-quick-view i,.product-grid .product-item .btn-add-cart i{font-size:16px;}
.grid-view > li{width: 32.9%;}
/*----Jquery PopUp----*/
.modal-dialog{width:1024px !important;}
.quick-view-popup .product-wishlist{display:block;}
.quick-view-popup .quick-product-img{max-width:none;}
.quick-view-popup .product-customize{max-height:300px; overflow-y:auto;}
}
@media (min-width: 1300px) {    
.carousel-caption{left:12%;}
.header-link .username{max-width:190px;}
}
@media (min-width: 1500px) {
/*-----Slider-----*/
.carousel-caption{left:20%;}
}
/*----Print View----*/
@media print{
header,footer,.account-container-menu,.receipt-print,.product-altimages,.product-extras,.product-variations,.highlight-container,.compare-print{display:none;}
.product-details-tab .nav-tabs li,#button-writeReview{display:none;}
.product-details-tab .nav-tabs li.active{display:block;}
.product-details-tab .tab-content{min-height:100px;}
a[href]:after {content: none !important;}
}
