.ui-widget {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
}

.ui-widget-header {
	border: none;
	background: none;
}

.ui-widget-content {
	border: none;
	background: none;
}

.ui-tabs .ui-tabs-panel {
	padding: 0px 0px 0px 3px;
}

.ui-tabs .ui-tabs-nav li a {
	padding: 0px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: none;
	background: none;
}

.ui-widget-header .ui-state-active .sample-header {
	background: #0b61a4;
}

pre {
	margin: 0px;
}

pre code {
	font-size: 13px;
	font-family: Consolas, 'Courier New', Courier;
	padding: 0px;
}

pre.wrapped {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
}

.warning-message-container {
    margin-top: 20px;
    padding: 0 10px;
    color: #525252;
    background: #EFDCA9; 
    border: 1px solid #CCCCCC;
}

.help-page-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 5px 0px 20px 0px;
    border-top: 2px solid #D4D4D4;
	background: #ffffff;
}

.help-page-table th {
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #D4D4D4;
	padding: 10px;
	text-decoration: underline;
}

.help-page-table td {
    border-bottom: 2px solid #D4D4D4;
	padding: 10px;
    vertical-align: top;
}

.help-page-table pre, .help-page-table p {
    margin: 0px;
    padding: 0px;
    font-family: inherit;
    font-size: 100%;
}

.help-page-table tbody tr:hover td {
    background-color: #F3F3F3;
}

a:hover {
    background-color: transparent;
}

.sample-header {
    border: 2px solid #D4D4D4;
	background: #66a3d2;
    color: #FFFFFF;
    padding: 8px 15px;
    border-bottom: none;
    display: inline-block;
    margin: 10px 0px 0px 0px;
}

.sample-content {
    display: block;
    border-width: 0;
    padding: 15px 20px;
    background: #FFFFFF;
    border: 2px solid #D4D4D4;
    margin: 0px 0px 10px 0px;
}

.api-name {
    width: 40%;
}

.api-documentation {
    width: 60%;
}

.parameter-name {
    width: 20%;
}

.parameter-documentation {
    width: 50%;
}

.parameter-source {
    width: 30%;
}

p.description {
	background: #ffffff;
	padding: 10px;
	border-top: 2px solid #D4D4D4;
	border-bottom: 2px solid #D4D4D4;
	line-height: 1.5em;
}

.api-groups-meta {
	background-color: #F1F1F1;
	border: solid 1px #D4D4D4;
	padding: 0px 10px 10px 10px;
	margin-top: 20px;
}

.api-groups-meta th {
	padding: 5px 10px 5px 10px;
}

.api-groups-meta td {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 120%;
}

.api-groups-meta select {
	padding: 2px;
}