﻿@model Znode.Engine.MvcAdmin.ViewModels.ContentPageViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Znode.Libraries.Helpers
@using Resources

@{
    ViewBag.Title = @ZnodeResources.HeaderSetup + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmContentPage", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @if (actionName.ToLower() == "Create".ToLower())
        {
            <h1 class="left">@ZnodeResources.HeaderContentPageAdd</h1>
        }
        else
        {
            <h1 class="left">@ZnodeResources.HeaderContentPageEdit</h1>
        }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmContentPage" }))
    {
        string isUrlRedirectEnabled = (!Equals(Model, null) && Model.IsUrlRedirectEnabled) ? "checked='checked'" : string.Empty;

        <div class="col-sm-12 add-new-item">
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                    <div id="generalSettings">
                        <h4>@ZnodeResources.SubHeaderHighlightGeneralSettings</h4>
                        @if (Model.IsEditMode)
                        {
                            <div class="form-group">
                                <div class="col-sm-4 nopadding">
                                    @Html.LabelFor(model => model.PageName, new { @class = "required" })
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.PageName, new { @readonly = "readonly", @class="readonly"})
                                    @Html.ValidationMessageFor(model => model.PageName)
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="col-sm-4 nopadding">
                                    @Html.LabelFor(model => model.PageName, new { @class = "required" })
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.PageName)
                                    @Html.ValidationMessageFor(model => model.PageName)
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.PageTitle, new { @class = "required" })
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.PageTitle)
                                @Html.ValidationMessageFor(model => model.PageTitle)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.PortalID)
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.PortalID, new SelectList(Model.PortalList, "PortalId", "StoreName"), new { id = "ddlPortalList" })
                            </div>
                        </div>
                        <div id="theme_list">
                            <div class="form-group">
                                <div class="col-sm-4 nopadding">
                                    @Html.LabelFor(model => model.ThemeID)
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.ThemeID, Model.ThemeList, new { @onchange = "ContentPage.BindCssList(cssList,this,'SiteAdmin');", @id = "themeList" })
                                    @Html.ValidationMessageFor(model => model.ThemeID)
                                </div>
                            </div>
                        </div>
                        <div id="css_list" style="display:none">
                            <div class="form-group">
                                <div class="col-sm-4 nopadding">
                                    @Html.LabelFor(model => model.CSSID)
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.CSSID, Model.CSSList, new { @id = "cssList" })
                                    @Html.ValidationMessageFor(model => model.CSSID)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="seoSettings">
                        <h4>@ZnodeResources.SubheaderSeoSettings</h4>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.SEOTitle)
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.SEOTitle)
                                @Html.ValidationMessageFor(model => model.SEOTitle)

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.SEOKeywords)
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.SEOKeywords)
                                @Html.ValidationMessageFor(model => model.SEOKeywords)

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.SEODescription)
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.SEODescription)
                                @Html.ValidationMessageFor(model => model.SEODescription)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.AdditionalMetaInformation)
                                <p class="sub">@ZnodeResources.DescriptionAdditionalMetaInformation</p>
                            </div>
                            <div class="col-sm-8">

                                @Html.TextBoxFor(model => model.AdditionalMetaInformation)
                                @Html.ValidationMessageFor(model => model.AdditionalMetaInformation)

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.SEOFriendlyPageName)
                                <p class="sub">@ZnodeResources.TextSEOFriendlyURLName</p>
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.SEOFriendlyPageName)
                                @Html.ValidationMessageFor(model => model.SEOFriendlyPageName)
                            </div>
                        </div>
                        @if (Model.IsEditMode && !Equals(Model.PageName, null) && !Model.PageName.ToLower().Equals("home"))
                        {
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <label>
                                        <input @isUrlRedirectEnabled id="IsUrlRedirectEnabled" name="IsUrlRedirectEnabled" type="checkbox" value="true">
                                        <span class="lbl padding-8">@ZnodeResources.Text301RedirectUrl</span>
                                        <input name="IsUrlRedirectEnabled" type="hidden" value="false">
                                    </label>
                                </div>
                            </div>
                        }
                        else if (Equals(actionName.ToLower(), "create"))
                        {
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <label>
                                        <input @isUrlRedirectEnabled id="IsUrlRedirectEnabled" name="IsUrlRedirectEnabled" type="checkbox" value="true">
                                        <span class="lbl padding-8">@ZnodeResources.Text301RedirectUrl</span>
                                        <input name="IsUrlRedirectEnabled" type="hidden" value="false">
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    <div id="pageContent">
                        <h4>@ZnodeResources.SubheaderPageContent</h4>
                        <div class="form-group">                         
                            <div class="col-sm-12 nopadding">
                                @Html.EditorFor(model => model.Html)
                            </div>
                        </div>
                    </div>
                    <div>
                        @Html.HiddenFor(model => model.ContentPageId)
                        @Html.HiddenFor(model => model.LocaleId)
                        @Html.HiddenFor(model => model.OldHtml)
                    </div>

                </div>
            </div>
        </div>
    }
    <div class="col-sm-12">
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
    
    </div>
@Scripts.Render("~/bundles/ContentPage")
