﻿@model Znode.Engine.MvcAdmin.ViewModels.ContentPageRevisionListViewModel
@using Resources;

@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
}

<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">
                @ZnodeResources.HeaderContentPageRevisionList : @Model.contentPageViewModel.PageName
            </h1>   
            <button type="button" class="btn-text-icon grey pull-right" onclick="javascript: location.href = '/ContentPage/List';" title="@ZnodeResources.ButtonBack"><i class="z-arrow-left"></i>@ZnodeResources.ButtonBack</button>                     
        </div>
        <div class="col-sm-12 search-container">
            <p class="left"> @ZnodeResources.DescriptionContentPageRevision </p>            
        </div>       

        <div class="col-sm-12 list-container">
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
            </div>
        </div>
    </div>
</div>

@Html.HiddenFor(model => model.contentPageViewModel.ContentPageId)
@Scripts.Render("~/bundles/ContentPageRevision")
