﻿@using Znode.Engine.MvcDemo.ViewModels
@model AddressViewModel
@using Znode.Engine.MvcDemo.Helpers

<div class="address-block">
    @if (@Model.Name != null && (ViewBag.ShowHeader != null && ViewBag.ShowHeader == true))
    {
        <div class="address-title">@Model.Name</div>
    }
    <div class="address-name">@Model.FirstName @Model.LastName</div>
    <div class="address-street"><div>@Model.StreetAddress1</div><div>@Model.StreetAddress2</div></div>
    <div class="address-citystate">@Model.City, @Model.StateCode, @Model.CountryCode @Model.PostalCode</div>
    <div class="address-phonenumber">Ph: @Model.PhoneNumber</div>


    @if (!string.IsNullOrEmpty(Model.SourceLink))
    {

        if (new PRFTHelper().IsAddressEditable(Model))
        {
            if (Model.SourceLink == Znode.Engine.MvcDemo.Helpers.MvcDemoConstants.CheckoutShippingBilling)
            {
            <div class="address-change">
                <a href="@Model.SourceLink?isAddressChange=true" class="change-address">@Resources.ZnodeResource.LinkTextChange <span class="notsmall">@Resources.ZnodeResource.LinkTextAddress</span></a>
            </div>
            }
            else
            {
            <div class="address-change">
                <a href="@Model.SourceLink" class="change-address">@Resources.ZnodeResource.LinkTextChange <span class="notsmall">@Resources.ZnodeResource.LinkTextAddress</span></a>
            </div>
            }
        }
    }

</div>