﻿<div class="container">
    <div class="row">
        @Html.Partial("_PRFTStoreLogo")
        <div class="header-link-contain">
            @Html.Partial("_PRFTHeaderSearch")
            <div class="col-xs-4 col-sm-4 col-md-4 header-link pull-right">
                <ul>
                    <li class="cart-section">
                        <a href="/cart">@{ Html.RenderAction("GetMessage", "MessageConfig"); }<span class="cart-mid-block"><i class="f-size zf-cart header-toolbar-cart"></i><span class="cartcount"></span>Item(s) <span class="top-cart-price">$00.00</span></span><span class="cart-checkout-btn">Checkout</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

