﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels

@model CategoryListViewModel
<div class="col-sm-3 footer-shop">
    <div class="header-footer">
        <h3>Our Products</h3>
    </div>
    <ul class="list-unstyled">
        @{
            foreach (var category in Model.Categories)
            {

                if (category.Custom1 == null || string.IsNullOrEmpty(category.Custom1))
                {
                    <li>
                        <a href="@Url.GetCategoryUrl(category.SEOPageName, category.CategoryName, category.CategoryId)"> @WebUtility.HtmlDecode(category.CategoryName)</a>
                    </li>
                }

            }
        }
    </ul>
</div>
<div class="col-sm-3 footer-shop">
    <div class="header-footer">
        <h3>Our Brands</h3>
    </div>
    <ul class="list-unstyled">
        @{
            var brandCount=0;
            foreach (var category in Model.Categories)
            {
                
                if (!string.IsNullOrEmpty(category.Custom1))
                {
                    brandCount++;
                    <li>
                        <a href="@Url.GetCategoryUrl(category.SEOPageName, category.CategoryName, category.CategoryId)">@WebUtility.HtmlDecode(category.CategoryName)</a>
                    </li>
                    if(brandCount>=10)
                    { break; }
                }
            }
        }
    </ul>
</div>
