﻿<div class="container-fluid header">
    @Html.Partial("_PRFTHeaderTopSection")
    <div class="row header-main">
        @Html.Partial("_PRFTMiddleHeaderSection")
    </div>
    <div class="row header-nav-container">
        @Html.Partial("_PRFTBottomHeaderSection")
    </div>
</div>
