﻿@using Znode.Engine.MvcDemo.Extensions
@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.Agents

@using Resources
<div class="quick-order-container quickordercontainer">
    <i class="f-size zf-quick-order order-link"></i><a title="Quick Order" data-hover="dropdown" class="quickOrder dropdown-toggle" href="/Product/QuickOrderPad">Quick Order</a>
    <form id="addtocart-form" method="post" action="/product/addtocart">
        <input type="hidden" id="hdnQuickOrderProductId" name="ProductId" />
        <input type="hidden" id="hdnQuickOrderProductName" name="ProductName" />
        <input type="hidden" id="hdnQuickOrderSku" name="Sku" />
        <input type="hidden" id="hdnQuickOrderPrice" />
        <input type="hidden" id="hdnQuickOrderAddOnValueIds" name="AddOnValueIds">
        <input type="hidden" id="hdnQuickOrderBundleItemsIds" name="BundleItemsIds" />
        <input type="hidden" id="hdnQuickOrderCartQuantity" name="CartQuantity" />
        <input type="hidden" id="hdnQuickOrderQuantityOnHand" name="QuantityOnHand" />
        <input type="hidden" id="hdnQuickOrderInStockMessage" name="InStockMessage" />
        <input type="hidden" id="hdnQuickOrderOutOfStockMessage" name="OutOfStockMessage" />
        <input type="hidden" id="hdnQuickOrderInventoryMessage" name="InventoryMessage" />
        <input type="hidden" id="hdnQuickOrderMinQty" name="MinQty" />
        <input type="hidden" id="hdnQuickOrderMaxQty" name="MinQty" />
        <input type="hidden" id="hdnQuickOrderCallForPricing" name="CallForPricing" />
        <input type="hidden" id="hdnQuickOrderBundleQuantityOnHand" name="BundleQuantityOnHand" />
        <input type="hidden" id="hdnQuickOrderAddOnQuantityOnHand" name="AddOnQuantityOnHand" />
        <input type="hidden" id="hdnQuickOrderAllowBackOrder" name="AllowBackOrder" />
        <input type="hidden" id="hdnQuickOrderTrackInventoryInd" name="TrackInventoryInd" />
        <input type="hidden" id="hdnQuickOrderBundleAllowBackOrder" name="BundleAllowBackOrder" />
        <input type="hidden" id="hdnQuickOrderBundleTrackInventoryInd" name="BundleTrackInventoryInd" />
        <input type="hidden" id="hdnQuickOrderSeoPageName" name="SeoPageName" />
        <div class="dropdown-menu quick-order divQuickOrder">
            <div class="close-quick-order-popup close"><i class="zf-close"></i></div>
            <div class="col-sm-12">
                <div class="col-xs-10 col-sm-10 nopadding">
                    @Html.TextBox("txtQuickOrderSku", null, new { @placeholder = @Resources.ZnodeResource.TextEnterSku, @class = "txtQuickOrderSku" })
                </div>
                <div class="col-xs-2 col-sm-2 nopadding">
                    @Html.TextBox("Quantity", null, new { @id = "txtQuickOrderQuantity", @class = "quantity txtQuickOrderQuantity", @placeholder = @ZnodeResource.ColumnTitleQty, @maxlength = MvcDemoConstants.QuickOrderQuantityLength })
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-xs-6 col-sm-6 nopadding">
                    @Html.ActionLink(@Resources.ZnodeResource.LabelQuickOrderMultiplePartSku, "QuickOrderPad", "Product", null, new { @class = "multiple-sku" })
                </div>
                <div class="col-xs-6 col-sm-6 nopadding">
                    <button class="btn-card btn-add-cart red pull-right quickOrderAddToCart" title="@ZnodeResource.ButtonAddToCart" disabled="disabled"><i class="zf-cart"></i>@ZnodeResource.ButtonAddToCart</button>
                </div>
            </div>
            <p id="inventorymsg" class="error-msg col-sm-12 margin-top"></p>
        </div>
    </form>
</div>
