﻿@using Znode.Engine.MvcDemo.Helpers
<div class="social-share">
    @{ Html.RenderAction("GetMessage", "MessageConfig", new { key = MvcDemoConstants.FooterShareUsTextProductDetail }); }
	<ul id="email-a-friend">
	    <li><a href=""><i class="zf-envelope" title="Email a Friend"></i></a></li>        
	</ul>
</div>