﻿@using Znode.Engine.MvcDemo.Helpers
@model int

<span class="star-rating">
    @for (int i = 1; i <= MvcDemoConstants.ReviewStarCount; i++)
    {
        if (Model >= i)
        {
            <i class="glyphicon glyphicon-star full"></i>
        }
        else
        {
            <i class="glyphicon glyphicon-star empty"></i>
        }
    }
</span>