﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using Resources;
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@if (actionName.ToLower().Equals("getpromotiontypes"))
{
    <div class="col-sm-12 nopadding">
        @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-plus'></i>" + ZnodeResources.ButtonAdd, "CreatePromotionType", controllerName, null, new { @class = "btn-text-icon red pull-right", @title = ZnodeResources.ButtonAdd })
    </div>
}
else if (actionName.ToLower().Equals("gettaxruletypes"))
{
    <div class="col-sm-12 nopadding">
        @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-plus'></i>" + ZnodeResources.ButtonAdd, "CreateTaxRuleType", controllerName, null, new { @class = "btn-text-icon red pull-right", @title = ZnodeResources.ButtonAdd })
    </div>
}
else if (actionName.ToLower().Equals("getsuppliertypes"))
{
    <div class="col-sm-12 nopadding">
        @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-plus'></i>" + ZnodeResources.ButtonAdd, "CreateSupplierType", controllerName, null, new { @class = "btn-text-icon red pull-right", @title = ZnodeResources.ButtonAdd })
    </div>
}
else
{
    <div class="col-sm-12 nopadding">
        @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-plus'></i>" + ZnodeResources.ButtonAdd, "CreateShippingType", controllerName, null, new { @class = "btn-text-icon red pull-right", @title = ZnodeResources.ButtonAdd })
    </div>
}

<div id="grid-container">
    <div class="col-sm-12 list-container nopadding">
        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
    </div>
</div>

