﻿@model Znode.Engine.MvcAdmin.ViewModels.ProviderEngineViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources;
@{
    ViewBag.Title = @ZnodeResources.TitleAdvanced + " | " + @ZnodeResources.TitleMultifront;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@{
    var selectedTabMode = ViewBag.TabMode;
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmProviderEngine", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, Callback = "CommonHelper.ValidateGiftCardAttributes" };
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (string.Equals(actionName.ToLower(), "createpromotiontype"))
            {
                <h1>@ZnodeResources.HeaderConfigurePromotionType</h1>
                <p>@ZnodeResources.TextConfigurePromotionType</p>
            }
            else if (string.Equals(actionName.ToLower(), "createtaxruletype"))
            {
                <h1>@ZnodeResources.HeaderConfigureTaxType</h1>
                <p>@ZnodeResources.TextConfigureTaxType</p>
            }
            else if (string.Equals(actionName.ToLower(), "createsuppliertype"))
            {
                <h1>@ZnodeResources.HeaderConfigureSupplierType</h1>
                <p>@ZnodeResources.TextConfigureSupplierType</p>
            }
            else if (string.Equals(actionName.ToLower(), "createshippingtype"))
            {
                <h1>@ZnodeResources.HeaderConfigureShippingType</h1>
                <p>@ZnodeResources.TextConfigureShippingType</p>
            }
            else if (string.Equals(actionName.ToLower(), "editpromotiontype"))
            {
                <h1>@ZnodeResources.HeaderConfigurePromotionType - @Model.Name</h1>
            }
            else if (string.Equals(actionName.ToLower(), "edittaxruletype"))
            {
                <h1>@ZnodeResources.HeaderConfigureTaxType - @Model.Name</h1>
            }
            else if (string.Equals(actionName.ToLower(), "editsuppliertype"))
            {
                <h1>@ZnodeResources.HeaderConfigureSupplierType - @Model.Name</h1>
            }
            else
            {
                <h1>@ZnodeResources.HeaderConfigureShippingType -@Model.Name</h1>
            }
        }
    </div>
    <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
        <h4>@ZnodeResources.LabelGeneralInformation</h4>
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmProviderEngine" }))
        {
            if (string.Equals(actionName.ToLower(), "createpromotiontype"))
            {
                <div class="form-group border-bottom">
                    <div class="col-sm-4 nopadding">
                        @Html.Label(ZnodeResources.LabelAvailablePromotionTypes)
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.AvailablePromotionType, Model.AvailablePromotionTypes, new { @id = "ddlPromotionType", @onchange = "ProviderEngine.GetPromotionType();" })
                        @Html.ValidationMessageFor(model => model.AvailablePromotionType)
                    </div>
                </div>
            }
            else if (string.Equals(actionName.ToLower(), "createtaxruletype"))
            {
                <div class="form-group border-bottom">
                    <div class="col-sm-4 nopadding">
                        @Html.Label(ZnodeResources.LabelAvailableTaxTypes)
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.AvailablePromotionType, Model.AvailablePromotionTypes, new { @id = "ddlTaxType", @onchange = "ProviderEngine.GetTaxType();" })
                        @Html.ValidationMessageFor(model => model.AvailablePromotionType)
                    </div>
                </div>
            }
            else if (string.Equals(actionName.ToLower(), "createsuppliertype"))
            {
                <div class="form-group border-bottom">
                    <div class="col-sm-4 nopadding">
                        @Html.Label(ZnodeResources.LabelAvailableSupplierTypes)
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.AvailablePromotionType, Model.AvailablePromotionTypes, new { @id = "ddlSupplierType", @onchange = "ProviderEngine.GetSupplierType();" })
                        @Html.ValidationMessageFor(model => model.AvailablePromotionType)
                    </div>
                </div>
            }
            else if (string.Equals(actionName.ToLower(), "createshippingtype"))
            {
                <div class="form-group border-bottom">
                    <div class="col-sm-4 nopadding">
                        @Html.Label(ZnodeResources.LabelAvailableShippingTypes)
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.AvailablePromotionType, Model.AvailablePromotionTypes, new { @id = "ddlShippingType", @onchange = "ProviderEngine.GetShippingType();" })
                        @Html.ValidationMessageFor(model => model.AvailablePromotionType)
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.ClassName, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.ClassName, new { @readonly = "readonly", @class = "readonly" })
                    @Html.ValidationMessageFor(model => model.ClassName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Name, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Description, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextAreaFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <label>
                        <input id="IsActive" name="IsActive" checked="@Model.IsActive" type="checkbox" value="true">
                        <span class="lbl padding-8" for="IsActive">@ZnodeResources.LabelEnableType</span>
                        <input name="IsActive" type="hidden" value="false">
                    </label>
                </div>
            </div>
            <div class="form-group">
                @if (actionName.ToLower().Contains("edit"))
                {
                    @Html.HiddenFor(model => model.Id)
                }
            </div>
            <div class="hidden">
                @Html.TextAreaFor(model => model.ClassType)
                if (actionName.ToLower().Contains("promotion"))
                {
                @Html.HiddenFor(model => model.ClassType)
                }
            </div>
        }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>

    </div>
</div>
@Scripts.Render("~/bundles/ProviderEngine")
