﻿@using Resources;
@{
    ViewBag.Title = @ZnodeResources.TitleAdvanced + " | " + @ZnodeResources.TitleMultifront;
}
@{
    var selectedTabMode = TempData[MvcAdminConstants.SetTabMode];
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>@ZnodeResources.HeaderProviderEngine</h1>
    </div>
    <div class="col-sm-12 search-container bottom-shift">
        <p>@ZnodeResources.TextProviderEngine</p>
    </div>
    <!--Main-Wrapper-->
    <div class="col-sm-12 nopadding">
        <div class="manage-stores-container">
            <div class="tab-container">
                <ul id="myTab" class="nav nav-tabs">
                    <li><a href="/ProviderEngine/GetPromotionTypes" data-queryparam="" data-targetitemid="panel1" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs" title="@ZnodeResources.LabelPromotions" id="provider-promotiontype">@ZnodeResources.LabelPromotions</a></li>
                    <li><a href="/ProviderEngine/GetShippingTypes" data-queryparam="" data-targetitemid="panel1" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs" title="@ZnodeResources.HeaderShipping" id="provider-shippingtype">@ZnodeResources.HeaderShipping</a></li>
                    <li><a href="/ProviderEngine/GetSupplierTypes" data-queryparam="" data-targetitemid="panel1" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs" title="@ZnodeResources.HeaderSuppliers" id="provider-suppliertype">@ZnodeResources.HeaderSuppliers</a></li>
                    <li><a href="/ProviderEngine/GetTaxRuleTypes" data-queryparam="" data-targetitemid="panel1" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs" title="@ZnodeResources.TaxesLink" id="provider-taxruletype">@ZnodeResources.TaxesLink</a></li>
                </ul>
                <div id="tabContents" class="tab-content">

                    <!--Panels 1-->
                    <!--Important div Do not Modify/Delete-->
                    <div class="tab-pane fade in active" id="panel1">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/ProviderEngine")
