﻿@model Znode.Engine.MvcAdmin.ViewModels.PaymentOptionViewModel
@using Resources;
@{
    string preAuthorize = (!Equals(Model.PreAuthorize, null) && (bool)Model.PreAuthorize) ? "checked='checked'" : string.Empty;
    string testMode = (!Equals(Model.TestMode, null) && (bool)Model.TestMode) ? "checked='checked'" : string.Empty;
    string isRmaCompatible = (!Equals(Model.IsRmaCompatible, null) && (bool)Model.IsRmaCompatible) ? "checked='checked'" : string.Empty;
}


<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelMerchantLogin, new { @class = "required" })
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => Model.PaymentGatewayUsername, new { required = "required" })
        @Html.ValidationMessageFor(m => Model.PaymentGatewayUsername, @ZnodeResources.MerchantLoginName)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelMerchantaccountpassword, new { @class = "required" })
    </div>
    <div class="col-sm-8">
        @Html.PasswordFor(m => Model.PaymentGatewayPassword, new { required = "required" })
        @Html.ValidationMessageFor(m => Model.PaymentGatewayPassword, @ZnodeResources.MerchantPassword)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label("Transaction Key", new { @class = "required" })
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => Model.TransactionKey, new { required = "required" })
        @Html.ValidationMessageFor(m => Model.TransactionKey, @ZnodeResources.TransactionKey)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelPartner, new { @class = "required" })
        <p class="sub">@ZnodeResources.LabelPartnerMessage</p>
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => Model.Partner, new { required = "required" })
        @Html.ValidationMessageFor(m => Model.Partner, @ZnodeResources.Partner)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelVendor, new { @class = "required" })
        <p class="sub">@ZnodeResources.LabelVendorMessage</p>
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => Model.Vendor, new { required = "required" })
        @Html.ValidationMessageFor(m => Model.Vendor, @ZnodeResources.Vendor)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelRMA)
        <span class="sub">@ZnodeResources.LabelRMAMessage</span>
    </div>
    <div class="col-sm-8">
        <label>
            <input @isRmaCompatible data-val="true" id="IsRmaCompatible" name="IsRmaCompatible" type="checkbox" value="true">
            <span class="lbl padding-8"></span>@ZnodeResources.LabelCheckboxRMA
            <input name="IsRmaCompatible" type="hidden" value="false">
        </label>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelGetwayTestMode)
    </div>
    <div class="col-sm-8">
        <label>
            <input @testMode data-val="true" id="TestMode" name="TestMode" type="checkbox" value="true" onclick="Payment.showTestModeMessage();">
            <span class="lbl padding-8"></span>@ZnodeResources.LabelGetwayTestModeMessage
            <input name="TestMode" type="hidden" value="false">
        </label>
    </div>
</div>



<script>
    Payment.enterCharactersOnly();
</script>