﻿@model Znode.Engine.MvcAdmin.ViewModels.PaymentOptionViewModel
@using Resources;
       <h4>@ZnodeResources.LabelPaymentGetwayHeader</h4>
<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelSelectGetway, new { @class = "required" })
    </div>
    <div class="col-sm-8">
        @if (!Equals(Model.PaymentGatewayId, null))
        {
            @Html.DropDownListFor(m => m.PaymentGatewayId, Model.PaymentGateways, new { @id = "ddlPaymentGetways", @disabled = "disabled" })
            @Html.HiddenFor(m => m.PaymentGatewayId)
        }
        else
        {
            @Html.DropDownListFor(m => m.PaymentGatewayId, Model.PaymentGateways, new { @id = "ddlPaymentGetways" })
            @Html.HiddenFor(m => m.PaymentGatewayId)
        }
    </div>
</div>

<div id="PaymentGetwayForm-container">
    @Html.Partial("~/Views/Payment/_Authorize_net.cshtml", Model)
</div>

