﻿@model Znode.Engine.MvcAdmin.ViewModels.PaymentOptionViewModel
@using Resources;
@{
    string enableVisa = (!Equals(Model.EnableVisa, null) && (bool)Model.EnableVisa) ? "checked='checked'" : string.Empty;
    string enableMasterCard = (!Equals(Model.EnableMasterCard, null) && (bool)Model.EnableMasterCard) ? "checked='checked'" : string.Empty;
    string enableAmericanExpress = (!Equals(Model.EnableAmericanExpress, null) && (bool)Model.EnableAmericanExpress) ? "checked='checked'" : string.Empty;
    string enableDiscover = (!Equals(Model.EnableDiscover, null) && (bool)Model.EnableDiscover) ? "checked='checked'" : string.Empty;
    string isRmaCompatible = (!Equals(Model.IsRmaCompatible, null) && (bool)Model.IsRmaCompatible) ? "checked='checked'" : string.Empty;
}

<h4>@ZnodeResources.LabelPaymentGetwayHeader</h4>
<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelMerchantCode, new { @class = "required" })
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => Model.PaymentGatewayUsername, new { required = "required" })
        @Html.ValidationMessageFor(m => Model.PaymentGatewayUsername, @ZnodeResources.MerchantLoginName)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelAuthorizationPassword, new { @class = "required" })
    </div>
    <div class="col-sm-8">
        @Html.PasswordFor(m => Model.PaymentGatewayPassword, new { required = "required" })
        @Html.ValidationMessageFor(m => Model.PaymentGatewayPassword, @ZnodeResources.MerchantPassword)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelRMA)
        <p class="sub">@ZnodeResources.LabelRMAMessage</p>
    </div>
    <div class="col-sm-8">
        <label>
            <input @isRmaCompatible data-val="true" id="IsRmaCompatible" name="IsRmaCompatible" type="checkbox" value="true">
            <span class="lbl padding-8"></span>@ZnodeResources.LabelCheckboxRMA
            <input name="IsRmaCompatible" type="hidden" value="false">
        </label>
    </div>
</div>

<div class="form-group">

    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelAcceptCard)
    </div>
    <div class="col-sm-8">
        <div class="col-sm-6 nopadding">
            <label>
                <input @enableVisa data-val="true" id="EnableVisa" name="EnableVisa" type="checkbox" value="true">
                <span class="lbl padding-8"></span> @ZnodeResources.LabelCheckboxVisa
                <input name="EnableVisa" type="hidden" value="false">
            </label>
        </div>
        <div class="col-sm-6 nopadding">
            <label>
                <input @enableMasterCard data-val="true" id="EnableMasterCard" name="EnableMasterCard" type="checkbox" value="true">
                <span class="lbl padding-8"></span> @ZnodeResources.LabelCheckboxMasterCard
                <input name="EnableMasterCard" type="hidden" value="false">
            </label>
        </div>
        <div class="col-sm-6 nopadding">
            <label>
                <input @enableAmericanExpress data-val="true" id="EnableAmericanExpress" name="EnableAmericanExpress" type="checkbox" value="true">
                <span class="lbl padding-8"></span> @ZnodeResources.LabelCheckboxAmericanExpress
                <input name="EnableAmericanExpress" type="hidden" value="false">
            </label>
        </div>
        <div class="col-sm-6 nopadding">
            <label>
                <input @enableDiscover data-val="true" id="EnableDiscover" name="EnableDiscover" type="checkbox" value="true">
                <span class="lbl padding-8"></span> @ZnodeResources.LabelCheckboxDiscover
                <input name="EnableDiscover" type="hidden" value="false">
            </label>
        </div>

    </div>
</div>



