﻿@model Znode.Engine.MvcAdmin.ViewModels.PaymentOptionViewModel
@using Resources;

@{
    string preauthorize = (!Equals(Model.PreAuthorize, null) && (bool)Model.PreAuthorize) ? "checked='checked'" : string.Empty;
    string testMode = (!Equals(Model.TestMode, null) && (bool)Model.TestMode) ? "checked='checked'" : string.Empty;
    string isRmaCompatible = (!Equals(Model.IsRmaCompatible, null) && (bool)Model.IsRmaCompatible) ? "checked='checked'" : string.Empty;
}
<h4>Merchant Gateway Settings</h4>
<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelMerchantLogin, new { @class = "required" })
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => Model.PaymentGatewayUsername, new { required = "required" })
        @Html.ValidationMessageFor(m => Model.PaymentGatewayUsername, @ZnodeResources.MerchantLoginName)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelMerchantaccountpassword, new { @class = "required" })
    </div>
    <div class="col-sm-8">
        @Html.PasswordFor(m => Model.PaymentGatewayPassword, new { required = "required" })
        @Html.ValidationMessageFor(m => Model.PaymentGatewayPassword, @ZnodeResources.MerchantPassword)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelRMA)
        <span class="sub">@ZnodeResources.LabelRMAMessage</span>
    </div>
    <div class="col-sm-8">
        <label>
            <input @isRmaCompatible data-val="true" id="IsRmaCompatible" name="IsRmaCompatible" type="checkbox" value="true">
            <span class="lbl padding-8"></span>@ZnodeResources.LabelCheckboxRMA
            <input name="IsRmaCompatible" type="hidden" value="false">
        </label>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelGetwayTestMode)
    </div>
    <div class="col-sm-8">
        <label>
            <input @testMode data-val="true" id="TestMode" name="TestMode" type="checkbox" value="true" onclick="Payment.showTestModeMessage();">
            <span class="lbl padding-8"></span>@ZnodeResources.LabelGetwayTestModeMessage
            <input name="TestMode" type="hidden" value="false">
        </label>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelCreditCardAuthorization)
    </div>
    <div class="col-sm-8">
        <label>
            <input @preauthorize data-val="true" id="PreAuthorize" name="PreAuthorize" type="checkbox" value="true">
            <span class="lbl padding-8"></span>@ZnodeResources.LabelCreditCardAuthorizationMessage
            <input name="PreAuthorize" type="hidden" value="false">
        </label>
    </div>
</div>