﻿@model Znode.Engine.MvcAdmin.ViewModels.PaymentOptionListViewModel
@using Resources;
@{
    WebGrid grid = new WebGrid(rowsPerPage: 5, ajaxUpdateContainerId: "grid-container");
    grid.Bind(source: Model.PaymentOptionList, rowCount: 10, autoSortAndPage: false);
}
<div>
    @grid.GetHtml(
         htmlAttributes: new { id = "grid", @class = "table" },
         headerStyle: "grid-header",
         columns: grid.Columns(
         grid.Column(columnName: "PaymentOptionId", header: "ID"),
         grid.Column(columnName: "Name", header: "PAYMENT OPTION", format: @<span> <span id="spanName_@item.PaymentType.Name">@item.PaymentType.Name</span></span>),
         grid.Column(columnName: "Name", header: "PROFILE NAME", format: @<span> <span id="spanName_@item.PaymentType.Name">@item.PaymentType.Name</span></span>),
         grid.Column(columnName: "IsActive", header: "ENABLED", format:@<text>@Html.Raw(item.IsActive ? "<i class='glyphicon glyphicon-ok'></i>" : "<i class='glyphicon glyphicon-remove'></i>")</text>),
         grid.Column(columnName: "DisplayOrder", header: "DISPLAY ORDER", format: @<span> <span id="spanName_@item.DisplayOrder">@item.DisplayOrder</span></span>),
         grid.Column(header: "ACTION",format:@<text> </text>),
         grid.Column(header: "",format:@<text> <a href="#" id="Manage_@item.PaymentOptionId" class="edit">Edit</a></text>),
         grid.Column(header: "",format:@<text> <a href="#" id="Delete_@item.PaymentOptionId" class="delete">@ZnodeResources.DeleteText</a></text>))
                                                        )
    @grid.CustomPager(Html)
    @Html.Hidden("dir", grid.SortDirection) @Html.Hidden("col", grid.SortColumn)
</div>