﻿@model Znode.Engine.MvcAdmin.ViewModels.PaymentOptionViewModel
@using Resources;

@{
    string enableVisa = (!Equals(Model.EnableVisa, null) && (bool)Model.EnableVisa) ? "checked='checked'" : string.Empty;
    string enableMasterCard = (!Equals(Model.EnableMasterCard, null) && (bool)Model.EnableMasterCard) ? "checked='checked'" : string.Empty;
    string enableAmericanExpress = (!Equals(Model.EnableAmericanExpress, null) && (bool)Model.EnableAmericanExpress) ? "checked='checked'" : string.Empty;
    string enableDiscover = (!Equals(Model.EnableDiscover, null) && (bool)Model.EnableDiscover) ? "checked='checked'" : string.Empty;

    string preauthorize = (!Equals(Model.PreAuthorize, null) && (bool)Model.PreAuthorize) ? "checked='checked'" : string.Empty;

    string testMode = (!Equals(Model.TestMode, null) && (bool)Model.TestMode) ? "checked='checked'" : string.Empty;

    string isRmaCompatible = (!Equals(Model.IsRmaCompatible, null) && (bool)Model.IsRmaCompatible) ? "checked='checked'" : string.Empty;

}


<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelWorldPayMerchantLogin, new { @class = "required" })
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => Model.PaymentGatewayUsername, new { required = "required" })
        @Html.ValidationMessageFor(m => Model.PaymentGatewayUsername, @ZnodeResources.MerchantLoginName)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelWorldPayTransactionKey, new { @class = "required" })
    </div>
    <div class="col-sm-8">
        @Html.TextBoxFor(m => Model.TransactionKey, new { required = "required" })
        @Html.ValidationMessageFor(m => Model.TransactionKey, @ZnodeResources.TransactionKey)
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelRMA)
        <span class="sub">@ZnodeResources.LabelRMAMessage</span>
    </div>
    <div class="col-sm-8">
        <label>
            <input @isRmaCompatible data-val="true" id="IsRmaCompatible" name="IsRmaCompatible" type="checkbox" value="true">
            <span class="lbl padding-8"></span>@ZnodeResources.LabelCheckboxRMA
            <input name="IsRmaCompatible" type="hidden" value="false">
        </label>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelGetwayTestMode)
    </div>
    <div class="col-sm-8">
        <label>
            <input @testMode data-val="true" id="TestMode" name="TestMode" type="checkbox" value="true" onclick="Payment.showTestModeMessage();">
            <span class="lbl padding-8"></span> @ZnodeResources.LabelGetwayTestModeMessage
            <input name="TestMode" type="hidden" value="false">
        </label>
    </div>
</div>

<div class="form-group">

    <div class="col-sm-4 nopadding">
        @Html.Label(@ZnodeResources.LabelAcceptCard)
    </div>
    <div class="col-sm-8">
        <div class="col-sm-6 nopadding">
            <label>
                <input @enableVisa data-val="true" id="EnableVisa" name="EnableVisa" type="checkbox" value="true">
                <span class="lbl padding-8"></span> @ZnodeResources.LabelCheckboxVisa
                <input name="EnableVisa" type="hidden" value="false">
            </label>
        </div>
        <div class="col-sm-6 nopadding">
            <label>
                <input @enableMasterCard data-val="true" id="EnableMasterCard" name="EnableMasterCard" type="checkbox" value="true">
                <span class="lbl padding-8"></span> @ZnodeResources.LabelCheckboxMasterCard
                <input name="EnableMasterCard" type="hidden" value="false">
            </label>
        </div>
        <div class="col-sm-6 nopadding">
            <label>
                <input @enableAmericanExpress data-val="true" id="EnableAmericanExpress" name="EnableAmericanExpress" type="checkbox" value="true">
                <span class="lbl padding-8"></span> @ZnodeResources.LabelCheckboxAmericanExpress
                <input name="EnableAmericanExpress" type="hidden" value="false">
            </label>
        </div>
        <div class="col-sm-6 nopadding">
            <label>
                <input @enableDiscover data-val="true" id="EnableDiscover" name="EnableDiscover" type="checkbox" value="true">
                <span class="lbl padding-8"></span> @ZnodeResources.LabelCheckboxDiscover
                <input name="EnableDiscover" type="hidden" value="false">
            </label>
        </div>
    </div>
</div>

