﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using Resources;
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@ZnodeResources.PaymentOptionHeader</h1>
            @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-plus'></i>" + @ZnodeResources.ButtonAdd, "../Payment/AddPaymentOption", null, null, new { @class = "btn-text-icon red pull-right", @title = @ZnodeResources.ButtonAdd })
        </div>
        <div class="col-sm-12 search-container">
            <p class="left">@ZnodeResources.PaymentOptionDescription</p>                
        </div>

        <div class="col-sm-12 list-container">
            <div id="grid">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
            </div>
        </div>
    </div>

</div>