﻿@model Znode.Engine.MvcAdmin.ViewModels.PaymentOptionViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources;

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string isactive = (!Equals(Model, null) && (bool)Model.IsActive) ? "checked='checked'" : string.Empty;
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmPaymentOption", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, Callback = "Payment.IsValidFees" };
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @if (actionName.ToLower() == ZnodeResources.ActionAddPaymentOption.ToLower())
        {
            <h1>@ZnodeResources.LabelAddPaymentOption</h1>
        }
        else
        {
            <h1>@ZnodeResources.LabelEditPaymentOption</h1>

        }
    </div>


    <div class="add-new-item">

        <div class="col-sm-12 col-md-6 col-lg-6 add-new-container">
            @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmPaymentOption" }))
            {

                @Html.Hidden("PaymentOptionId", Model.PaymentOptionId)
                <h4>@ZnodeResources.LabelPaymentOptionHeader</h4>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.Label(@ZnodeResources.LabelSelectProfile, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @if (!Model.PaymentOptionId.Equals(0))
                        {
                            @Html.DropDownListFor(m => m.ProfileId, Model.Profiles, ZnodeResources.LabelAllProfiles, new { @id = "ddlprofile", @disabled = "disabled" })
                            @Html.HiddenFor(m => m.ProfileId)
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.ProfileId, Model.Profiles, ZnodeResources.LabelAllProfiles, new { @id = "ddlprofile" })
                            @Html.HiddenFor(m => m.ProfileId)
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.Label(@ZnodeResources.LabelSelectPaymentType)
                    </div>
                    <div class="col-sm-8">
                        @if (!Model.PaymentOptionId.Equals(0))
                        {
                            @Html.DropDownListFor(m => m.PaymentTypeId, Model.PaymentTypes, new { @id = "ddlPaymentTypes", @disabled = "disabled" })
                            @Html.HiddenFor(m => m.PaymentTypeId)
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.PaymentTypeId, Model.PaymentTypes, new { @id = "ddlPaymentTypes" })
                            @Html.HiddenFor(m => m.PaymentTypeId)
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.Label(@ZnodeResources.LabelPaymentDisplaySetting)
                    </div>
                    <div class="col-sm-8">
                        <label>
                            <input @isactive data-val="true" data-val-required="The IsActive field is required." id="IsActive" name="IsActive" type="checkbox" value="true">
                            <span class="lbl padding-8"></span> @ZnodeResources.LabelDisplaySettingCheckBox
                            <input name="IsActive" type="hidden" value="false">
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.Label(@ZnodeResources.LabelPaymentDisplayOrder, new { @class = "required" })
                        <span class="sub">@ZnodeResources.LabelDisplayOrderMessage</span>
                    </div>
                    <div class="col-sm-8">
                        @if (actionName.ToLower().Equals("edit"))
                        {
                            @Html.TextBoxFor(model => model.DisplayOrder, new { @maxlength = "9" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.DisplayOrder, new { Value = 1, @maxlength = "9" })
                        }
                        @Html.ValidationMessageFor(model => model.DisplayOrder)
                    </div>
                </div>

                <div id="paymenttypeform-container">
                    @Html.Partial("_CreditCartDetails", Model)
                </div>
                <div class="form-group ">

                </div>
            }
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
        <div style="display:none;" id="testModeHiddenMessage">@ZnodeResources.LabelTestModeMessage</div>
    </div>


</div>
@Scripts.Render("~/bundles/Payment")
<script>
    $(document).ready(function () {
        Payment.Init("Admin");
        Payment.getPaymentTypesForm($("#ddlPaymentTypes").val(), "Admin");
    });
</script>
