﻿@model Znode.Engine.MvcAdmin.ViewModels.PaymentOptionListViewModel
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("SearchStore", "Stores"))
{
    <div class="Content">
        <div style="text-align: left;">
            <div class="LandingPage">
                <div>
                    @{
    var grid = new WebGrid(rowsPerPage: 5);
    grid.Bind(Model.PaymentOptionList);
    grid.Pager(WebGridPagerModes.NextPrevious);
                    }
                    <div id="grid">
                        @grid.GetHtml(
                                            htmlAttributes: new { id = "paymentOptions", @class = "table" },
                                            fillEmptyRows: false,
                                            mode: WebGridPagerModes.All,
                                            firstText: "<< First",
                                            previousText: "< Prev",
                                            nextText: "Next >",
                                            lastText: "Last >>",
                                            columns: new[] {
                                            grid.Column("PaymentOptionId",header: "ID", canSort: true),
                                            grid.Column(header: "Payment Option",format: @<span> <span id="spanName_@item.PaymentType.Name">@item.PaymentType.Name</span></span>),
                                            grid.Column(header: "Profile Name",format: @<span> <span id="spanName_@item.PaymentType.Name">@item.PaymentType.Name</span></span>),
                                            grid.Column(header: "Action",format:@<text> <a href="#" id="Preview_@item.PaymentOptionId" class="edit">Preview</a></text>),
                                            grid.Column(header: "",format:@<text> <a href="#" id="Manage_@item.PaymentOptionId" class="edit">Manage</a></text>),
                                            grid.Column(header: "",format:@<text> <a href="#" id="Copy_@item.PaymentOptionId" style="display:block" class="copy">Copy</a></text>),
                                            grid.Column(header: "",format:@<text> <a href="#" id="Delete_@item.PaymentOptionId" class="delete">Delete</a></text>)
                                         })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

