﻿@model Znode.Engine.MvcAdmin.ViewModels.DigitalAssetViewModel
@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>Add Digital Asset For : @Model.ProductName</h1>
    </div>

    <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control" } })
            <h4>Digital Asset</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.DigitalAsset, htmlAttributes: new { @class = "control-label" })
                </div>                
                <div class="col-sm-8">
                    @Html.TextAreaFor(model => model.DigitalAsset, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DigitalAsset, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="pull-right">                
                    <button type="submit" value="Create" class="btn-text red">Submit</button>
                    @Html.ActionLink(ZnodeResources.ButtonCancel, "Manage", "Product", new { @id = Model.ProductID, @tabMode = "DigitalAssets" }, new { @class = "btn-text grey", @title = ZnodeResources.ButtonCancel })                
            </div>

        }
    </div>        
</div>
