﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductAlternateImageViewModel
@using Znode.Engine.MvcAdmin.Helpers
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();

}

@*<iframe name="hiddenIframe" id="hiddenIframe" style="display: none;"></iframe>*@
<div class="col-sm-12 dashboard-page-container">

    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmProduct" }))
    {
        <div class="col-sm-12 title-container">
            @if (Model.IsEditMode)
            {
                <h1>@string.Format(ZnodeResources.HeaderEditAlternateProductImage, Model.ProductName)</h1>
            }
            else
            {
                <h1>@string.Format(ZnodeResources.HeaderAddAlternateProductImage, Model.ProductName)</h1>
            }
        </div>

            string productPageStatus = (!Equals(Model, null) && Model.ActiveInd) ? "checked='checked'" : string.Empty;
            string categoryPageStatus = (!Equals(Model, null) && Model.ShowOnCategoryPage) ? "checked='checked'" : string.Empty;
            <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
                <h4>@ZnodeResources.LabelGeneralInformation</h4>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.Label("txtTitleName", ZnodeResources.LabelProductAlternateImageTitle)
                        <span class="sub">@Resources.ZnodeResources.TextSwatchImageTitleName</span>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Name, new { @id = "txtTitleName" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.Label("ddlImageTypes", ZnodeResources.LabelProductAlternateImageType)
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.ProductImageTypeID, Model.ImageTypes, new { @id = "ddlImageTypes" })
                    </div>
                </div>
                <h4>@ZnodeResources.LabelProductImage</h4>                
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.Label("", ZnodeResources.LabelSelectProductImage, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @if (Model.IsEditMode)
                        {
                            <div class="form-group">
                                <img alt="" src="@Url.Content(Model.ImagePath)" class="img-responsive thumb" />
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 nopadding">
                                    @Html.RadioButtonFor(m => m.SelectedImageStatus, SelectImageStatus.CurrentImage, new { @Id = "rdoCurrentImage", @checked = true, @onClick = "CommonHelper.BindImageControl(this);" })
                                    <label for="rdoCurrentImage" class="lbl padding-8">@ZnodeResources.LabelKeepCurrentImage</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 nopadding">
                                    @Html.RadioButtonFor(m => m.SelectedImageStatus, SelectImageStatus.NewImage, new { @Id = "rdoNewImage", @onClick = "CommonHelper.BindImageControl(this);" })
                                    <label for="rdoNewImage" class="lbl padding-8">@ZnodeResources.LabelUploadNewImage </label>
                                </div>
                            </div>
                            if (Model.IsInvalidMode)
                            {
                                <div id="imgUploader" class="col-sm-6 nopadding" style="display:block;">
                                    @Html.EditorFor(model => model.ProductImage)
                                </div>
                            }
                            else
                            {
                                { Html.EnableClientValidation(false); }
                                <div id="imgUploader" class="col-sm-6 nopadding" style="display:none;">
                                    @Html.EditorFor(model => model.ProductImage)
                                </div>
                                { Html.EnableClientValidation(true); }
                            }
                        }
                        else
                        {
                            @Html.EditorFor(model => model.ProductImage);
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.Label("txtAltText", ZnodeResources.LabelCategoryLabelImageAltText)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.ImageAltText, new { @id = "txtAltText" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.Label("chkProductPage", ZnodeResources.LabelProductAlternateImageProductPage)
                    </div>
                    <div class="col-sm-8">
                        <label>
                            <input @productPageStatus data-val="true" data-val-required="The ActiveInd field is required." id="chkProductPage" name="ActiveInd" type="checkbox" value="true">
                            <span class="lbl padding-8" for="chkProductPage">@ZnodeResources.LabelDisplayThumbnailOnProductPage</span>
                            <input name="ActiveInd" type="hidden" value="false">
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.Label("chkCategoryPage", ZnodeResources.LabelProductAlternateImageCategoryPage)
                    </div>
                    <div class="col-sm-8">
                        <label>
                            <input @categoryPageStatus data-val="true" data-val-required="The ShowOnCategoryPage field is required." id="chkCategoryPage" name="ShowOnCategoryPage" type="checkbox" value="true">
                            <span class="lbl padding-8" for="chkCategoryPage">@ZnodeResources.LabelDisplayThumbnailOnCategoryPage</span>
                            <input name="ShowOnCategoryPage" type="hidden" value="false">
                        </label>
                    </div>
                </div>
                @if (Model.IsEditMode)
                {
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.Label("txtDisplayOrder", ZnodeResources.LabelDisplayOrder, new { @class="required"})
                            <span class="sub">@Resources.ZnodeResources.TextProductDisplayOrder</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.DisplayOrder, new { @id = "txtDisplayOrder", maxlength = "9" })
                            @Html.ValidationMessageFor(m => m.DisplayOrder)
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.Label("txtDisplayOrder", ZnodeResources.LabelDisplayOrder, new { @class = "required" })
                            <span class="sub">@Resources.ZnodeResources.TextProductDisplayOrder</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.DisplayOrder, new { @id = "txtDisplayOrder", maxlength = "9", @Value="500" })
                            @Html.ValidationMessageFor(m => m.DisplayOrder)
                        </div>
                    </div>
                }

                @Html.HiddenFor(m => m.ProductId)
                @Html.HiddenFor(m => m.ImageFile)
                @Html.HiddenFor(m => m.ProductImageId)
                @Html.HiddenFor(m => m.AlternateThumbnailImageFile)

                <div class="pull-right">
                    <button type="submit" id="btnCreateFacet" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                    @Html.ActionLink(ZnodeResources.ButtonCancel, "Manage", "Product", new { @id = Model.ProductId, @tabMode = "Images" }, new { @class = "btn-text grey", @title = ZnodeResources.ButtonCancel })
                </div>
            </div>
    }

</div>
<script>
    //Commented the Code, as this functionality will be implemented later.
    //$(document).ready(function () {
    //    $("#hiddenIframe").off("load");
    //    $("#hiddenIframe").on("load", frameResponseHandler);
    //    $("#frmProduct").prop("target", "hiddenIframe");
    //});
    function frameResponseHandler() {
        var data = $.parseJSON($("#hiddenIframe").contents().text());
        $("#panel7").html(data.Response)
        var type = "error";
        if (data.sucess) {
            type = "success";
        }
        try { if (data.message == "") { $j('#MessageBoxContainerId').html(''); } } catch (err) { }
        CommonHelper.DisplayNotificationMessagesHelper(data.message, type, data.isFadeOut, 5000);
    }
</script>
