﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductBundlesViewModel
@using Resources
@using Znode.Libraries.Helpers
@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
    var productIds = (string.IsNullOrEmpty(Model.AssociatedProductIds)) ? string.Empty : Model.AssociatedProductIds;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            @{
                <h1>@ZnodeResources.SubHeaderAddBundleProduct</h1>
            }
        </div>
        <div class="col-sm-12 search-container">
            <p>@ZnodeResources.DescriptionAddBundleProduct</p>
        </div>
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("AddBundleProduct", "Product", new { @productId = Model.ParentProductID }, new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                    </div>
                }
            </div>
        </div>

        <div id="bundleproductlist">
            <div class="col-sm-12 list-container">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
            </div>
            @Html.HiddenFor(m => m.ParentProductID)
            <div class="col-sm-12">
                <div class="pull-right">
                    <button type="button" class="btn-text red" onclick="CommonHelper.AssociateBundleProduct('@Model.ParentProductID','@UserTypes.Admin.ToString()');">@ZnodeResources.ButtonSubmitRequest</button>
                    @Html.ActionLink(ZnodeResources.ButtonCancel, "Manage", "Product", new { @id = Model.ParentProductID, @tabMode = "Bundle" }, new { @class = "btn-text grey", @title = ZnodeResources.ButtonCancel })
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    var associatedProductIds = '@productIds';
    $(document).ready(function () {
        if (associatedProductIds != "") {
            var splitedIds = associatedProductIds.split(',');
            for (var i = 0; i < splitedIds.length; i++) {
                if (splitedIds[i] != undefined && splitedIds[i] != "") {
                    $("#grid input[id=rowcheck_" + $.trim(splitedIds[i]) + "]").prop("disabled", true);
                }
            }
        }
    });
</script>