﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductTierPricingViewModel
@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @if (!Model.IsEditMode)
        {
            <h1>Add Pricing Tier - @Model.ProductName</h1>
        }
        else
        {
            <h1>Edit Pricing Tier - @Model.ProductName</h1>
        }
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="col-sm-12 col-md-7 col-lg-6 add-new-container">
       

        @if (Model.IsEditMode)
        {
            @Html.HiddenFor(m => m.ProductTierId)
            @Html.HiddenFor(m => m.IsEditMode)
        }
        <h4>Tier Pricing Details</h4>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                <label>Select Profile</label>
            </div>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.ProfileId, Model.Profiles,"Apply to All Profiles")
            </div>
        </div>
      
                @Html.HiddenFor(model => model.ProductId, new { htmlAttributes = new { @class = "form-control" } })
        
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.LabelFor(model => model.TierStart, htmlAttributes: new { @class = "required" })
                <span class="sub">@ZnodeResources.TextTierStart</span>
            </div>            
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.TierStart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TierStart, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.LabelFor(model => model.TierEnd, htmlAttributes: new { @class = "required" })
                <span class="sub">@ZnodeResources.TextTierEnd</span>
            </div>            
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.TierEnd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TierEnd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "required" })
            </div>            
            <div class="col-sm-8 left-inner-icon">
                <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
                @Html.TextBoxFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="pull-right">            
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                @Html.ActionLink(ZnodeResources.ButtonCancel, "Manage", "Product", new { id = Model.ProductId, @tabMode = "Tiers" }, new { @class = "btn-text grey", title = ZnodeResources.ButtonCancel })            
        </div>
    </div>
    }

</div>
