﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductFacetsViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}
<div class="col-sm-12 dashboard-page-container">
    @{
        <div class="col-sm-12 title-container">
            <h2>@ZnodeResources.SubHeaderAssociatedFacets</h2>
        </div>        
    }

    @using (Html.BeginForm("AssociatedFacets", "Product"))
    {
        <div class="col-sm-12 col-md-7 col-lg-6 add-new-container">
            <h4>@ZnodeResources.LabelSelectFacets</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label("", ZnodeResources.LabelAssociateFacetGroup)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.FacetGroupId, Model.FacetGroups, new { @id = "ddlFacetGroups", @OnChange = "CommonHelper.BindFacetsList(this," + Model.ProductId + "); return false;" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label("", ZnodeResources.LabelAssociateFacets)
                </div>
                <div class="col-sm-8">
                    <div id="chklistFacets" class="dynamic-checkbox">
                        @Html.Partial("_FacetCheckBoxList")
                    </div>
                    @Html.HiddenFor(m => m.ProductId)
                </div>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                @Html.ActionLink(ZnodeResources.ButtonCancel, "Manage", "Product", new { @id = Model.ProductId, @tabMode = "Facet" }, new { @class = "btn-text grey", @title = ZnodeResources.ButtonCancel })
            </div>
        </div>
    }
</div>
