﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductCategoryListViewModel
@using Znode.Libraries.Helpers
@{
    var productName = Equals(Model, null) ? string.Empty : Model.ProductName;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">
                @ZnodeResources.SubHeaderAddProductCategory : @productName
            </h1>
        </div>
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("GetUnAssociateCategories", "Product", new { @productId = Model.ProductId }, new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-12 list-container">
            @Html.HiddenFor(model => model.ProductId)
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
            </div>
        </div>

        <div class="col-sm-12 bottom-shift">
            <div class="pull-right">
                <button type="submit" class="btn-text red" onclick="CommonHelper.AssociateProductCategory('@Model.ProductId','@UserTypes.Admin.ToString()');">@ZnodeResources.ButtonAssociateCategory</button>
                @Html.ActionLink(ZnodeResources.ButtonCancel, MvcAdminConstants.ManageView, new { @id = @Model.ProductId, @tabMode = "Category" }, new { @Class = "btn-text grey", @title = @ZnodeResources.ButtonCancel })
            </div>
        </div>
    </div>
</div>



