﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductFacetsViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
}


<div class="col-sm-12 add-new-container nopadding">
    @{        
        <h4>@ZnodeResources.SubHeaderAssociatedFacets</h4>        
    }
    <div class="form-group">
        <div class="col-sm-4 nopadding">
            @Html.Label("", ZnodeResources.LabelAssociateFacetGroup)
        </div>
        <div class="col-sm-8">
            @Html.DropDownListFor(m => m.FacetGroupId, Model.FacetGroups, new { @id = "ddlFacetGroups", @OnChange = "Product.BindSkuFacetsList(this," + Model.ProductId + "," + Model.SKUId + "); return false;" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4 nopadding">
            @Html.Label("", ZnodeResources.LabelAssociateFacets)
        </div>
        <div class="col-sm-8">
            <div id="chklistFacets" class="dynamic-checkbox">
                @Html.Partial("_FacetCheckBoxList")
            </div>
            @Html.HiddenFor(m => m.ProductId)
            @Html.HiddenFor(m => m.SKUId)
        </div>
    </div>
    <div class="pull-right">
        <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest" onclick="Product.AssociateSKUFacets(@Model.SKUId);">@ZnodeResources.ButtonSubmitRequest</button>
        <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="Product.CloseSKUFacets();">@ZnodeResources.ButtonCancel</button>
    </div>
</div>