﻿@model Znode.Engine.MvcAdmin.ViewModels.SkuProfileEffectiveViewModel
@using Resources
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="col-sm-12 col-md-6 col-lg-5 item-list top-shift">
    <div class="form-group">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.ProfileId)
        </div>
        <div class="col-sm-8">
            <p>@ZnodeResources.DescriptionSkuProfile</p>
            @Html.DropDownListFor(model => model.ProfileId, Model.ProfileList, new { @id = "ddlProfileList" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.EffectiveDate)
        </div>
        <div class="col-sm-8">
            <p>@ZnodeResources.DescriptionSkuProfileEffectiveDate</p>
            @Html.TextBoxFor(model => model.EffectiveDate, new { @class = "datepicker" })
        </div>
    </div>
    @Html.HiddenFor(model => model.SkuProfileEffectiveID)
    @Html.HiddenFor(model => model.SkuId)
    <div class="pull-right">
        <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest" onclick="Product.AssociateSKUFacets(@Model.SKUId);">@ZnodeResources.ButtonSubmitRequest</button>
        <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="Product.CloseSKUFacets();">@ZnodeResources.ButtonCancel</button>
    </div>
</div>

