﻿@model Znode.Engine.MvcAdmin.ViewModels.SkuProfileEffectiveViewModel
@using Resources;
@using Znode.Libraries.Helpers;
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    int selectedProfileId = (!Equals(Model, null) && !Equals(Model.ProfileId, null) && Model.ProfileId > 0) ? Model.ProfileId : 0;
}

<div class="col-sm-12 add-new-container nopadding">
    <h4>@ZnodeResources.SectionTitleAddDetails</h4>
    <div class="form-group">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.ProfileId)
            <span class="sub">@ZnodeResources.DescriptionSkuProfile</span>
        </div>
        <div class="col-sm-8">
            @Html.DropDownListFor(model => model.ProfileId, Model.ProfileList, new { @id = "ddlSkuProfileList" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4 nopadding">
            @Html.LabelFor(model => model.EffectiveDate)
            <span class="sub">@ZnodeResources.DescriptionSkuProfileEffectiveDate</span>
        </div>
        <div class="col-sm-8 right-inner-icon">
            @Html.TextBoxFor(model => model.EffectiveDate, new { @class = "datepicker", data_date_format = Model.DatePickDateFormat })
            @Html.ValidationMessageFor(model => model.EffectiveDate)
        </div>
    </div>
    @Html.HiddenFor(model => model.SkuProfileEffectiveID)
    @Html.HiddenFor(model => model.SkuId)
    @Html.Hidden("hdnProfileId", selectedProfileId)
    <div class="pull-right">
        <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest" onclick="Product.AssociateSKUProfile(@Model.SkuProfileEffectiveID,@Model.SkuId,'@UserTypes.Admin.ToString()');">@ZnodeResources.ButtonSubmitRequest</button>
        <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="Product.CloseSKUProfile();">@ZnodeResources.ButtonCancel</button>
    </div>
</div>

@Scripts.Render("~/bundles/bootstrap")
