﻿@model Znode.Engine.MvcAdmin.ViewModels.DigitalAssetListViewModel

@{
    Layout = null;
}

<div class="col-sm-12 nopadding">
    <p class="left">Digital assets could be serial numbers or other information that are used for downloadable or software products.</p>
    @Html.ActionLinkAuthorized("Add Digital Asset", "AddDigitalAsset", "Product", new { productId = Model.ProductId }, new { @class="btn-text red pull-right"})
</div>
<div class="col-sm-12 list-container">
    @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
</div>



