﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}

@using (Ajax.BeginForm("EditProductSettings", "Product",
       new AjaxOptions()
       {
           HttpMethod = "post",
           OnSuccess = "Product.CheckSucess",
           UpdateTargetId = "panel7",
           InsertionMode = InsertionMode.Replace
       }))
{
    <div class="col-sm-12 title-container">
        @{
            <h2 class="left">@ZnodeResources.SubHeaderProductSettings @Model.Name</h2>
        }

        <div class="pull-right">
            <button type="submit" class="btn-text red" onclick="return Product.ValidateProductSetting();">@ZnodeResources.ButtonSubmitRequest</button>
            @Ajax.ActionLink(ZnodeResources.ButtonCancel, "GetProductSettings", "Product", new { @productId = Model.ProductId }, new AjaxOptions()
        {
            HttpMethod = "Get",
            UpdateTargetId = "panel7",
            InsertionMode = InsertionMode.Replace
        }, new { @Class = "btn-text grey", @title = @ZnodeResources.ButtonEditProductSettings })
        </div>
    </div>
    @Html.ValidationSummary(true)
    <div class="col-sm-12 col-md-6 col-lg-6 item-list">
        <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
            <h4>@ZnodeResources.LabelDisplaySetting</h4>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.Label("", @ZnodeResources.LabelDisplayProduct)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input id="IsActive" name="IsActive" checked="@Model.IsActive" type="checkbox" value="true" class="css-checkbox chkboxstyle">
                        <span class="lbl padding-8">@ZnodeResources.TextDisplayProduct</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.Label("", @ZnodeResources.LabelProductHomePageSpecial)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input id="HomepageSpecial" name="HomepageSpecial" checked="@Model.HomepageSpecial" type="checkbox" value="true" class="css-checkbox chkboxstyle">
                        <span class="lbl padding-8">@ZnodeResources.TextProductHomePageSpecial</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.Label("", @ZnodeResources.LabelNewItem)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input id="NewProductInd" name="NewProductInd" checked="@Model.NewProductInd" type="checkbox" value="true" class="css-checkbox chkboxstyle">
                        <span class="lbl padding-8">@ZnodeResources.TextProductNew</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @*@Html.Label("", @ZnodeResources.LabelFeaturedItem)*@
                    @Html.Label("", ZnodeResources.LabelIsOnSale)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input id="FeaturedInd" name="FeaturedInd" checked="@Model.FeaturedInd" type="checkbox" value="true" class="css-checkbox chkboxstyle">
                        <span class="lbl padding-8">@ZnodeResources.TextFeaturedItem</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.Label("", @ZnodeResources.LabelCallForPricing)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input id="IsCallForPricing" name="IsCallForPricing" checked="@Model.IsCallForPricing" type="checkbox" value="true" class="css-checkbox chkboxstyle">
                        <span class="lbl padding-8">@ZnodeResources.TextCallForPricing</span>
                    </label>
                </div>
            </div>
            <div class="form-group border-bottom">
                <div class="col-sm-4 colon nopadding">
                    @Html.Label("", @ZnodeResources.LabelFranchisable)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input id="Franchisable" name="Franchisable" checked="@Model.Franchisable" type="checkbox" value="true" class="css-checkbox chkboxstyle">
                        <span class="lbl padding-8">@ZnodeResources.TextFranchisable</span>
                    </label>
                </div>
            </div>
            <h4>@ZnodeResources.LabelInventorySettings</h4>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.Label("", @ZnodeResources.LabelOutOfStockOptions)
                </div>
                <div class="col-sm-8">
                    <div class="col-sm-12 nopadding">
                        <label>
                            @Html.RadioButtonFor(m => m.SelectedInventoryOptionsState, InventoryOptionsState.DisablePurchasingForOutOfStockProducts, Model.DisablePurchasingForOutOfStockProducts)
                            <span class="lbl padding-8">@ZnodeResources.LabelDisableoutofstock</span>
                        </label>
                    </div>
                    <div class="col-sm-12 nopadding">
                        <label>
                            @Html.RadioButtonFor(m => m.SelectedInventoryOptionsState, InventoryOptionsState.AllowBackOrderingOfProducts, Model.AllowBackOrderingOfProducts)
                            <span class="lbl padding-8">@ZnodeResources.TextAllowBackOrdering</span>
                        </label>
                    </div>
                    <div class="col-sm-12 nopadding">
                        <label>
                            @Html.RadioButtonFor(m => m.SelectedInventoryOptionsState, InventoryOptionsState.DontTrackInventory, Model.DontTrackInventory)
                            <span class="lbl padding-8">@ZnodeResources.LableTrackInventory</span>
                        </label>
                    </div>                    
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.Label("", @ZnodeResources.LabelInStockMessage)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.InStockMsg, new { @maxlength = 500 })
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 item-list">
        <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
            <div class="form-group item-top-shift">
                <div class="col-sm-4 colon nopadding">
                    @Html.Label("", @ZnodeResources.LabelOutofStockMessage)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.OutOfStockMsg, new { @maxlength = 500 })
                </div>
            </div>
            <div class="form-group border-bottom">
                <div class="col-sm-4 colon nopadding">
                    @Html.Label("", @ZnodeResources.LabelBackOrderMessage)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.BackOrderMsg, new { @maxlength = 500 })
                </div>
            </div>
            <h4>@ZnodeResources.LabelRecurringBillingSettings</h4>
            <div class="col-sm-12 nopadding border-bottom">
                <div class="form-group">
                    <div class="col-sm-4 colon nopadding">
                        @Html.Label("", @ZnodeResources.LabelRecurringBilling)
                    </div>
                    <div class="col-sm-8">
                        <label>
                            <input id="RecurringBillingInd" name="RecurringBillingInd" checked="@Model.RecurringBillingInd" type="checkbox" value="true" onchange="Product.ToggleBilling();">
                            <span class="lbl padding-8 black-color" for="RecurringBillingInd">@ZnodeResources.TextRecurringBilling</span>
                        </label>
                    </div>
                </div>
                @{
                    string divStyle = @Model.RecurringBillingInd ? "display:block;" : "display:none;";
                }
                <div id="divRecurringBilling" style=@divStyle>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.RecurringBillingInitialAmount, new { @class = "required" })
                        </div>
                        <div class="col-sm-8 left-inner-icon">
                            <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
                            @Html.TextBoxFor(model => model.RecurringBillingInitialAmount, new { @maxlength = 9, @onblur = "Product.ValidateProductSetting();" })
                            @Html.ValidationMessageFor(model => model.RecurringBillingInitialAmount, null, new { @id = "valBillingAmount" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.RecurringBillingFrequency)
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.RecurringBillingFrequency, Model.ExpirationFrequencyList)
                        </div>
                    </div>
                </div>
            </div>
            <h4>@ZnodeResources.LabelSeoSettings</h4>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.Label("", @ZnodeResources.LabelSEOTitle)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.SeoTitle, new { @maxlength = 500 })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.Label("", @ZnodeResources.LabelSEOKeywords)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.SeoKeywords, new { @maxlength = 500 })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.Label("", @ZnodeResources.LabelSEODescription)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.SeoDescription, new { @maxlength = 500 })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.Label("", @ZnodeResources.LabelSEOFriendlyPageName)
                    <span class="sub">@Resources.ZnodeResources.TextSEOFriendlyURLName</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.SeoPageUrl, new { @id = "txtSeoPageUrl", @maxlength = 200, @onblur = "Product.IsValidSeoUrl();" })
                    @Html.ValidationMessageFor(model => model.SeoPageUrl, null, new { @id = "valSeoPageUrl" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <label>
                        <input id="RedirectUrlInd" name="RedirectUrlInd" checked="@Model.RedirectUrlInd" type="checkbox" value="true">
                        <span class="lbl padding-8 black-color">@ZnodeResources.Text301RedirectUrl</span>
                    </label>
                </div>
            </div>

            @Html.HiddenFor(m => m.ProductId)
            @Html.HiddenFor(m => m.MinQuantity)
            @Html.HiddenFor(m => m.MaxQuantity)
            <div class="pull-right">
                <button type="submit" class="btn-text red" onclick="return Product.ValidateProductSetting();">@ZnodeResources.ButtonSubmitRequest</button>
                @Ajax.ActionLink(ZnodeResources.ButtonCancel, "GetProductSettings", "Product", new { @productId = Model.ProductId }, new AjaxOptions()
    {
        HttpMethod = "Get",
        UpdateTargetId = "panel7",
        InsertionMode = InsertionMode.Replace
    }, new { @Class = "btn-text grey", @title = @ZnodeResources.ButtonEditProductSettings })
            </div>


        </div>
    </div>

}
<script>
    $(document).ready(function () {
        Product.ToggleBilling();
    });
</script>
