﻿@model Znode.Engine.MvcAdmin.ViewModels.CustomerBasedPricingListViewModel
@using Resources

<div id="grid-container">

        <div class="col-sm-12 title-container">
            <h1 class="left">
                @ZnodeResources.HeaderCustomerPricing
            </h1>
        </div>
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("CustomerBasedPricingList", "Product", new { @productId = Model.ProductId }, new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                    </div>
                }
            </div>
        </div>
        
    
    @using (Html.BeginForm("DownloadCustomerBasedPricingList", "Product", FormMethod.Post, new { ProductId = Model.ProductId }))
    {
        <div class="pull-right  top-shift">
            <button @Html.Raw(Equals(@Model.GridModel.DataTableToList.Count, 0) ? "disabled=\"disabled\"" : "") type="submit" class="btn-text red pull-right" title="@ZnodeResources.ButtonDownloadToExcel">@ZnodeResources.ButtonDownloadToExcel</button>
        </div>
        @Html.HiddenFor(m => m.ProductId, new { ProductId = Model.ProductId })
        @Html.HiddenFor(m => m.ExternalAccountNo, new { ExternalAccountId = Model.ExternalAccountNo })
    }
    <div class="col-sm-12 nopadding top-shift">
        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
    </div>
</div>