﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductCategoryListViewModel

<div id="alternateimagelist">
    <div class="col-sm-12 nopadding">
        <div class="pull-right">
            @Html.ActionLink(ZnodeResources.ButtonAssociateCategory, "GetUnAssociateCategories", "Product", new { @productId = Model.ProductId }, new { @Class = "btn-text red", @title = @ZnodeResources.ButtonAssociateCategory })
        </div>
    </div>
    <div class="col-sm-12 nopadding top-shift">
        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
    </div>
</div>





