﻿@model Znode.Engine.MvcAdmin.ViewModels.HighlightsListViewModel
@using Resources
@{
    Layout = null;
}
<div id="grid-container">
    <div class="col-sm-12 nopadding">
        <div class="col-sm-12 nopadding">
            <p class="left">@ZnodeResources.TextProductHighlight </p>
            @Html.ActionLinkAuthorized("Associate a Highlight", "UnassociatedHighlights", "Product", new { productId = Model.ProductId }, new { @class = "btn-text red pull-right" })
        </div>
        <div class="col-sm-12 list-container">
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
            </div>
        </div>
    </div>
</div>