﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductBundlesListViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
}
<div id="grid-container">
    <div id="alternateimagelist">
        @*Do not Remove below commented line, as the functionality will gets implemented later*@
        @*@Ajax.ActionLink("Associate Product", "AddBundleProduct", "Product", new { @productId = Model.ProductId }, new AjaxOptions()
            {
                HttpMethod = "Get",
                UpdateTargetId = "panel7",
                InsertionMode = InsertionMode.Replace
            }, new { @Class = "btn-text red", @title = "Associate Product" })*@

        @Html.ActionLink("Associate Product", "AddBundleProduct", "Product", new { @productId = Model.ProductId }, new { @Class = "btn-text red pull-right", @title = "Associate Product" })

        <div class="col-sm-12 nopadding top-shift">
            @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
        </div>
    </div>
</div>
