﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductSkuListViewModel

<div id="grid-container">
    @{
        int attributeCount = Equals(Model, null) ? 0 : Model.AttributeCount;
        bool isBundle = false;
        
        if ((attributeCount > 0))
        {
            isBundle = true;
        }
    }
    @if (isBundle)
    {
        <div class="col-sm-12 title-container nopadding">
            <h2 class="left">
                @ZnodeResources.SubHeaderAddSku
            </h2>
        </div>
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("GetProductSku", "Product", new { @productId = Model.ProductId }, new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                    </div>
                }
            </div>
        </div>
        <div class="pull-right">
            @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-plus'></i>" + ZnodeResources.ButtonAdd, "CreateSku", "Product", new { @productId = Model.ProductId }, new { @Class = "btn-text-icon red", @title = @ZnodeResources.ButtonAssociateCategory })
        </div>
    }

    <div class="col-sm-12 nopadding top-shift">
        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
    </div>
</div>
