﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductFacetListViewModel
@using Resources

@{
    //ViewBag.Title = @ZnodeResources.TitleStoreManagement;
}
<div id="grid-container">    
        @{
            <div class="col-sm-12 title-container nopadding">
                <h2 class="left">@ZnodeResources.SubHeaderProductFacets</h2>
                @Html.ActionLink("Associate Facet", "GetAssociatedFacets", "Product", new { @productId = Model.ProductId }, new { @Class = "btn-text red pull-right", @title = "Associate Facet" })
            </div>            
            <div class="col-sm-12 search-container nopadding">
                <p>@ZnodeResources.DescriptionProdcutFacets </p>
            </div>            
        }
        <div class="col-sm-12 nopadding top-shift">
            @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
        </div>

    </div>