﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductAlternateImageListViewModel
@using Resources
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    WebGrid grid = new WebGrid(rowsPerPage: 5);
    if (!Equals(Model, null) && !Equals(Model.Images, null))
    {
        grid.Bind(Model.Images);
        grid.Pager(WebGridPagerModes.NextPrevious);
    }

}
<div id="gridfacetgroups">
    @if (Model.Images != null)
    {
        <div id="grid">
            @grid.GetHtml(
                    htmlAttributes: new { id = "productImagesList", @class = "table" },
                    fillEmptyRows: false,
                    mode: WebGridPagerModes.All,
                    firstText: "<< First",
                    previousText: "< Prev",
                    nextText: "Next >",
                    lastText: "Last >>",
                    columns: grid.Columns(
                    grid.Column(header: "ID", format: @<span> <span id="spanName_@item.ProductImageId">@item.ProductImageId</span></span>),
                    grid.Column(header: "NAME", format: @<span>@item.Name</span>),
                    grid.Column(header: "DISPLAY ORDER", format: @<span>@item.DisplayOrder</span>),
                    grid.Column(header: "ACTIONS",format:@<text>@Ajax.ActionLink("EDIT", "UpdateAlternateImage", controllerName, new { @productImageId = item.ProductImageId }, new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "panel7", InsertionMode = InsertionMode.Replace }, new { @id = "manage_" + item.ProductImageId + "" })&nbsp;&nbsp;&nbsp;&nbsp;@Html.Raw("<span title='Delete' class='delete-link' onclick='CommonHelper.BindDeleteConfirmDialog(\" " + ZnodeResources.ConfirmDeleteTitle + "\", \" " + ZnodeResources.ConfirmDeleteMessage + "\", \"/" + controllerName + "/DeleteProductImage/" + @item.ProductImageId + "\");'>" + ZnodeResources.LabelDelete + "</span>")</text>)
                                                   ))
        </div>
    }
    else
    {
        <span>@Resources.ZnodeResources.NoRecordFoundMessageText</span>
    }
</div>