﻿@model Znode.Engine.MvcAdmin.ViewModels.AddOnListViewModel



<div class="col-sm-12 nopadding">
    <p class="left">@ZnodeResources.TitleProductAddons </p>
    @Html.ActionLinkAuthorized("Associate", "UnassociatedAddOns", "Product", new { productId = Model.ProductId }, new { @class = "btn-text red pull-right", @title = "Associate" })
</div>

<div class="col-sm-12 list-container">
    @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
</div>



