﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductAlternateImageListViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
}
<div id="alternateimagelist">
    <div class="col-sm-12 nopadding">
        @*Commented the code, as this functionality will be implemented later*@
        @*@Ajax.ActionLink("Add Alternate Product Image", "AddAlternateImage", "Product", new { @productId = Model.ProductId }, new AjaxOptions()
        {
            HttpMethod = "Get",
            UpdateTargetId = "panel7",
            InsertionMode = InsertionMode.Replace
        }, new { @Class = "btn-text red pull-right", @title = "Add Alternate Product Image" })*@ 

        @Html.ActionLink("Add Alternate Product Image", "AddAlternateImage", "Product", new { @productId = Model.ProductId }, new { @Class = "btn-text red pull-right", @title = "Add Alternate Product Image" })
        
    </div>
    <div class="col-sm-12 nopadding top-shift">
        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
    </div>
</div>