﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}



<div class="col-sm-12 nopadding">
    @Ajax.ActionLink(ZnodeResources.ButtonEdit, "EditProductSettings", "Product", new { @productId = Model.ProductId }, new AjaxOptions()
    {
        HttpMethod = "Get",
        UpdateTargetId = "panel7",
        InsertionMode = InsertionMode.Replace
    }, new { @Class = "btn-text red pull-right", @title = @ZnodeResources.ButtonEdit })
</div>

<div class="col-sm-12 col-md-6 col-lg-6 item-list">
    <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
        <h4>@ZnodeResources.LabelDisplaySetting</h4>
        <div class="form-group">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", @ZnodeResources.LabelProductEnabled)
            </div>
            <div class="col-sm-8 label-background">
                <i class="@HelperMethods.GetCheckMark(Model.IsActive)"></i>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", ZnodeResources.LabelProductHomePageSpecial)
            </div>
            <div class="col-sm-8 label-background">
                <i class="@HelperMethods.GetCheckMark(Model.HomepageSpecial)"></i>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", ZnodeResources.LabelNewItem)
            </div>
            <div class="col-sm-8 label-background">
                <i class="@HelperMethods.GetCheckMark(Model.NewProductInd.Value)"></i>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 colon nopadding">
                @*@Html.Label("", ZnodeResources.LabelFeaturedItem)*@
                @Html.Label("",ZnodeResources.LabelIsOnSale)
            </div>
            <div class="col-sm-8 label-background">
                <i class="@HelperMethods.GetCheckMark(Model.FeaturedInd)"></i>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", ZnodeResources.LabelCallForPricing)
            </div>
            <div class="col-sm-8 label-background">
                <i class="@HelperMethods.GetCheckMark(Model.IsCallForPricing)"></i>
            </div>
        </div>
        <div class="form-group border-bottom">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", ZnodeResources.LabelFranchisable)
            </div>
            <div class="col-sm-8 label-background">
                <i class="@HelperMethods.GetCheckMark(Model.Franchisable)"></i>
            </div>
        </div>
        <h4>@ZnodeResources.LabelInventorySettings</h4>
        <div class="form-group">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", ZnodeResources.LabelDisableoutofstock)
            </div>
            <div class="col-sm-8 label-background">
                <i class="@HelperMethods.GetCheckMark(Model.DisablePurchasingForOutOfStockProducts) red-color"></i>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", ZnodeResources.LabelAllowbackordering)
            </div>
            <div class="col-sm-8 label-background">
                <i class="@HelperMethods.GetCheckMark(Model.AllowBackOrderingOfProducts) red-color"></i>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", ZnodeResources.LableTrackInventory)
            </div>
            <div class="col-sm-8 label-background">
                <i class="@HelperMethods.GetCheckMark(Model.DontTrackInventory) red-color"></i>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", ZnodeResources.LabelInStockMessage)
            </div>
            <div class="col-sm-8 label-background">
                @Html.Label("", Convert.ToString(Model.InStockMsg))
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-6 col-lg-6 item-list">
    <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
        <div class="form-group item-top-shift">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", ZnodeResources.LabelOutofStockMessage)
            </div>
            <div class="col-sm-8 label-background">
                @Html.Label("", Convert.ToString(Model.OutOfStockMsg))
            </div>
        </div>
        <div class="form-group border-bottom">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", ZnodeResources.LabelBackOrderMessage)
            </div>
            <div class="col-sm-8 label-background">
                @Html.Label("", Convert.ToString(Model.BackOrderMsg))
            </div>
        </div>
        <h4>@ZnodeResources.LabelRecurringBillingSettings</h4>
        <div class="form-group">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", ZnodeResources.LabelRecurringBilling)
            </div>
            <div class="col-sm-8 label-background">
                <i class="@HelperMethods.GetCheckMark(Model.RecurringBillingInd)"></i>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", ZnodeResources.LabelRecurringBillingAmount)
            </div>
            <div class="col-sm-8 label-background">
                <span>
                    @if (!Equals(Model.RecurringBillingInitialAmount, null) && Model.RecurringBillingInitialAmount > 0)
                    {
                        @MvcAdminUnits.GetCurrencyValue(Model.RecurringBillingInitialAmount.GetValueOrDefault());
                    }
                </span>
            </div>
        </div>
        <div class="form-group border-bottom">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", ZnodeResources.LabelRecurringPeriod)
            </div>
            <div class="col-sm-8 label-background">
                @Html.Label("", Convert.ToString(Model.RecurringBillingFrequency))
            </div>
        </div>
        <h4>@ZnodeResources.LabelSeoSettings</h4>
        <div class="form-group">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", ZnodeResources.LabelSEOTitle)
            </div>
            <div class="col-sm-8 label-background">
                @Html.Label("", Convert.ToString(Model.SeoTitle))
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", ZnodeResources.LabelSEOKeywords)
            </div>
            <div class="col-sm-8 label-background">
                @Html.Label("", Convert.ToString(Model.SeoKeywords))
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", ZnodeResources.LabelSEODescription)
            </div>
            <div class="col-sm-8 label-background">
                @Html.Label("", Convert.ToString(Model.SeoDescription))
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 colon nopadding">
                @Html.Label("", ZnodeResources.LabelSEOURL)
            </div>
            <div class="col-sm-8 label-background">
                @Html.Label("", Convert.ToString(Model.SeoPageUrl))
            </div>
        </div>
    </div>
</div>