﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductTagsViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleStoreManagement;
}

@{
    <h2>@ZnodeResources.SubHeaderProductTags</h2>
    
    <p>@ZnodeResources.DescriptionProductTags </p>
}

<div class="col-sm-12 col-md-7 col-lg-5 nopadding">
    @using (Ajax.BeginForm("ProductTags", "Product",
       new AjaxOptions()
       {
           HttpMethod = "post",
           //OnComplete = "Product.CheckSucess",
           OnSuccess = "Product.CheckSucess",
           UpdateTargetId = "panel7",
           InsertionMode = InsertionMode.Replace
       }))
    {

        @Html.TextAreaFor(m => m.ProductTags, new { @rows="5" })
        @Html.HiddenFor(m => m.ProductId)
        <div class="pull-right top-shift">
            <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
            @Html.ActionLink(ZnodeResources.ButtonCancel, "Manage", "Product", new { @id = Model.ProductId, @tabMode = "Tags" }, new { @class = "btn-text grey", @title = ZnodeResources.ButtonCancel })
        </div>
    }
</div>