﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductFacetListViewModel
@using Resources
<div id="grid-container">
    @{
        <p>@ZnodeResources.DescriptionProdcutFacets </p>
    }
    <div class="col-sm-12 nopadding top-shift">
        @{
            if (!Equals(Model, null))
            {
                Model.GridModel.IsAdvanceSearchHide = true;
            }
        }
        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
    </div>

</div>
