﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductTierListViewModel

@{
    Layout = null;
}

<div class="col-sm-12 nopadding">
    <p class="left">Tiered pricing enables you to specify a product price based on the number of items ordered. For example: you could offer discounted pricing if the customer buys more than 10 items.</p>
    @Html.ActionLinkAuthorized("Add Tier Price", "AddTierPrice", "Product", new { productId = Model.ProductId }, new { @class = "btn-text red pull-right", @title = "Add Tier Price" })
</div>

<div class="col-sm-12 list-container">
    @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
</div>


