﻿@model Znode.Engine.MvcAdmin.ViewModels.AddOnListViewModel
@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1>Associate addons for : @Model.ProductName</h1>
        </div>
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("UnassociatedAddOns", "Product", new { productId = Model.ProductId }, new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                    </div>
                }
            </div>
        </div>

        <div class="col-sm-12 list-container">
            @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
        </div>

        @if (!Equals(Model.AddOns, null) && Model.AddOns.Count > 0)
        {
            using (Html.BeginForm("AssociateAddOn", "product", FormMethod.Post, new { id = "AssociateAddOnForm" }))
            {
                @Html.HiddenFor(m => m.SelectedAddOns, new { id = "SelectedAddOns" })
                @Html.HiddenFor(m => m.ProductId)
            }
        }

        <div class="col-sm-12">
            <div class="pull-right">
                <button type="button" id="btnAssociateSelectedAddOn" class="btn-text red" title="Associate Selected Add Ons">Associate Selected Add Ons</button>
                @Html.ActionLink(ZnodeResources.ButtonCancel, "Manage", "Product", new { id = Model.ProductId, tabMode = "AddOns" }, new { @class = "btn-text grey", title = ZnodeResources.ButtonCancel })
            </div>
        </div>

    </div>
</div>
@Scripts.Render("~/bundles/product")
<script>
    $(document).ready(function () {
        $("#btnAssociateSelectedAddOn").off('click');
        $("#btnAssociateSelectedAddOn").on('click', function () {
            Product.AssociateSelectedHandler("SelectedAddOns", "AssociateAddOnForm");
        });
    });
</script>
