﻿@model Znode.Engine.MvcAdmin.ViewModels.HighlightsListViewModel
@using Resources
@using Znode.Libraries.Helpers
@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1>Associate Highlights to: @Model.ProductName </h1>
        </div>
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("UnassociatedHighlights", "Product", new { productId = Model.ProductId }, new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                    </div>
                }
            </div>
        </div>

        <div class="col-sm-12 list-container">
            @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
            <div class="form-group top-margin">
                <div class=" pull-right top-margin">
                    <button type="submit" id="btnAssociateSelectedHighlights" class="btn-text red" onclick="Product.AssociateHighlights(@Model.ProductId,'@UserTypes.Admin.ToString()');">Associate Selected Highlights</button>
                    @Html.ActionLink(ZnodeResources.ButtonCancel, "Manage", "Product", new { id = Model.ProductId, @tabMode = "HighLights" }, new { @class = "btn-text grey", title = ZnodeResources.ButtonCancel })
                </div>
            </div>
        </div>
        @if (Model.Highlights.Count > 0)
        {

            using (Html.BeginForm("AssociateHighlight", "product", FormMethod.Post, new { id = "AssociateHighlightForm" }))
            {
                @Html.HiddenFor(m => m.SelectedHighlights, new { id = "SelectedHighlights" })
                @Html.HiddenFor(m => m.ProductId)
            }
        }

    </div>
</div>
@Scripts.Render("~/bundles/product")

