﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string returnurl = string.Empty;
    if (Equals(actionName.ToLower(), "edit"))
    {
        returnurl = "/Product/Manage/" + Model.ProductId;
    }
    else
    {
        returnurl = "/Product/List";
    }
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmProduct", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, Callback = "Product.ValidateAttributes", CancelUrl = returnurl };
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}

@{
    var productName = Equals(Model, null) ? string.Empty : Model.Name;
    int attributeCount = Equals(Model, null) ? 0 : Model.AttributeCount;
    bool isParentProduct = Equals(Model, null) ? false : Equals(Model.IsParentProduct, null) ? false : Model.IsParentProduct.Value;
}


<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (actionName.ToLower().Equals("create"))
            {
                <h1 class="left">@ZnodeResources.CreateProductHeading</h1>
            }
            else
            {
                <h1 class="left">@ZnodeResources.EditProductHeading @Model.Name</h1>
            }
        }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>


    <div class="col-sm-12 add-new-item">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmProduct" }))
        {
            @Html.ValidationSummary(true)
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                    <h4>@ZnodeResources.LabelGeneralInformation</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Name, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Name, new { @maxlength = 500 })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Sku, new { @class = "required" })
                            <span class="sub">@ZnodeResources.LabelProductSkuDescription</span>
                        </div>
                        <div class="col-sm-8">
                            @if (actionName.ToLower().Equals("create"))
                            {
                                @Html.TextBoxFor(model => model.Sku, new { @maxlength = 200 })
                                @Html.ValidationMessageFor(model => model.Sku)
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.Sku, new { @readonly = "readonly", @class = "readonly", @maxlength = 200 })
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ProductCode, new { @class = "required" })
                            <span class="sub">@ZnodeResources.LabelProductCodeDescription</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.ProductCode, new { @maxlength = 100 })
                            @Html.ValidationMessageFor(model => model.ProductCode)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.BrandId)
                            <span class="sub">@ZnodeResources.LabelProductBrandDescription</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.BrandId, Model.ManufacturerList, ZnodeResources.LabelNotApplicable)
                            @Html.ValidationMessageFor(model => model.BrandId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.SupplierId)
                            <span class="sub">@ZnodeResources.LabelProductSupplierDescription</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.SupplierId, Model.SupplierList, ZnodeResources.LabelNotApplicable)
                            @Html.ValidationMessageFor(model => model.SupplierId)
                        </div>
                    </div>
                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.DownloadLink)
                            <span class="sub">@ZnodeResources.LabelProductDownloadlinkDescription</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.DownloadLink)
                            @*@Html.TextBoxFor(model => model.DownloadLink)*@
                            @Html.ValidationMessageFor(model => model.DownloadLink)
                        </div>
                    </div>
                    <h4>Product Type</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ProductTypeId)
                            <span class="sub">@ZnodeResources.LabelProductTypeDescription</span>
                        </div>
                        @if (actionName.ToLower().Equals("edit"))
                        {
                            if (isParentProduct)
                            {
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.ProductTypeId, Model.ProductTypeList, new { @onchange = "Product.GetProductAttribute(this);", disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.ProductTypeId)
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.ProductTypeId, Model.ProductTypeList, new { @onchange = "Product.GetProductAttribute(this);" })
                                    @Html.ValidationMessageFor(model => model.ProductTypeId)
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.ProductTypeId, Model.ProductTypeList, new { @onchange = "Product.GetProductAttribute(this);" })
                                @Html.ValidationMessageFor(model => model.ProductTypeId)
                            </div>
                        }
                    </div>
                    <div id="divAttributes" style="display:none">
                        <h4>Product Attributes</h4>
                        <div class="form-group">
                            @Html.HiddenFor(model => model.ProductAttributes)
                            <div id="divProductAttributes" class="product-attributs">
                            </div>
                        </div>
                    </div>
                    <div id="divGiftCards" style="display:none">
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.ExpirationPeriod, new { @class = "required" })
                            </div>
                            <div class="col-sm-8 col-md-6 col-lg-8">
                                @Html.TextBoxFor(model => model.ExpirationPeriod, new { required = "required", maxlength = 4 })
                                @Html.ValidationMessageFor(model => model.ExpirationPeriod, null, new { @id = "valExpirationPeriod" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.ExpirationFrequency, new { @class = "required" })
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.ExpirationFrequency, Model.ExpirationFrequencyList)
                                @Html.ValidationMessageFor(model => model.ExpirationFrequency, null, new { @id = "valExpirationFrequency" })
                            </div>
                        </div>
                        @Html.Hidden("IsProductTypeGiftCards", 0)
                    </div>


                    <h4>@ZnodeResources.LabelPricing</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.RetailPrice, new { @class = "required" })
                        </div>
                        <div class="col-sm-8 left-inner-icon">
                            <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
                            @Html.TextBoxFor(model => model.RetailPrice)
                            @Html.ValidationMessageFor(model => model.RetailPrice)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.SalePrice)
                        </div>
                        <div class="col-sm-8 left-inner-icon">
                            <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
                            @Html.TextBoxFor(model => model.SalePrice)
                            @Html.ValidationMessageFor(model => model.SalePrice)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.WholeSalePrice)
                            <span class="sub">@ZnodeResources.LabelProductWholeSaleDescription</span>
                        </div>
                        <div class="col-sm-8 left-inner-icon">
                            <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
                            @Html.TextBoxFor(model => model.WholeSalePrice)
                            @Html.ValidationMessageFor(model => model.WholeSalePrice)
                        </div>
                    </div>
                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.TaxClassId)
                            <span class="sub">@ZnodeResources.LabelProductTaxClassDescription</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.TaxClassId, Model.TaxClassList)
                            @Html.ValidationMessageFor(model => model.TaxClassId)
                        </div>
                    </div>

                    <h4>@ZnodeResources.LabelInventory</h4>
                    @if (actionName.ToLower().Equals("create"))
                    {
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.QuantityOnHand, new { @class = "required" })
                                <span class="sub">@ZnodeResources.LabelProductQuantityOnHandDescription</span>
                            </div>
                            <div class="col-sm-8">

                                @Html.TextBoxFor(model => model.QuantityOnHand, new { @Value = 999 })

                                @Html.ValidationMessageFor(model => model.QuantityOnHand)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.ReorderLevel)
                                <span class="sub">@ZnodeResources.LabelProductReorderLevelDescription</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.ReorderLevel)
                                @Html.ValidationMessageFor(model => model.ReorderLevel)
                            </div>
                        </div>
                    }
                    else if (actionName.ToLower().Equals("edit") && Equals(Model.AttributeCount, 0))
                    {
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.QuantityOnHand, new { @class = "required" })
                                <span class="sub">@ZnodeResources.LabelProductQuantityOnHandDescription</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.QuantityOnHand)
                                @Html.ValidationMessageFor(model => model.QuantityOnHand)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.ReorderLevel)
                                <span class="sub">@ZnodeResources.LabelProductReorderLevelDescription</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.ReorderLevel)
                                @Html.ValidationMessageFor(model => model.ReorderLevel)
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.MinQuantity)
                            <span class="sub">@ZnodeResources.LabelProductMinQuantityDescription</span>
                        </div>
                        <div class="col-sm-8">
                            @if (actionName.ToLower().Equals("create") && (Equals(Model.MinQuantity, null) || !Equals(Model.MinQuantity, null) && Model.MinQuantity <= 1))
                            {
                                @Html.TextBoxFor(model => model.MinQuantity, new { @maxlength = 6, @Value = 1 })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.MinQuantity, new { @maxlength = 6 })
                            }
                            @Html.ValidationMessageFor(model => model.MinQuantity)
                        </div>
                    </div>
                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.MaxQuantity, new { @class = "required" })
                            <span class="sub">@ZnodeResources.LabelProductMaxQuantityDescription</span>
                        </div>
                        <div class="col-sm-8">
                            @if (actionName.ToLower().Equals("create") && (Equals(Model.MaxQuantity, null) || !Equals(Model.MaxQuantity, null) && Equals(Model.MaxQuantity, 10)))
                            {
                                @Html.TextBoxFor(model => model.MaxQuantity, new { @maxlength = 6, @Value = 10 })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.MaxQuantity, new { @maxlength = 6 })
                            }
                            @Html.ValidationMessageFor(model => model.MaxQuantity)
                        </div>
                    </div>

                    <h4>@ZnodeResources.LabelDisplaySetting</h4>
                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.DisplayOrder, new { @class = "required" })
                            <span class="sub">@ZnodeResources.LabelProductDisplayOrderDescription</span>
                        </div>
                        <div class="col-sm-8">
                            @if (actionName.ToLower().Equals("create"))
                            {
                                @Html.TextBoxFor(model => model.DisplayOrder, new { @maxlength = 9, @Value = 500 })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.DisplayOrder, new { @maxlength = 9 })
                            }
                            @Html.ValidationMessageFor(model => model.DisplayOrder)
                        </div>
                    </div>

                    <h4>@ZnodeResources.LabelShippingSetting</h4>
                    <div class="col-sm-12 nopadding border-bottom">
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.FreeShipping)
                            </div>
                            <div class="col-sm-8">
                                <label>
                                    <input id="FreeShipping" name="FreeShipping" checked="@Model.FreeShipping" type="checkbox" value="true" class="css-checkbox chkboxstyle" onchange="Product.ToggleShipping();">
                                    <span class="lbl padding-8">@ZnodeResources.LableEnableFreeShipping</span>
                                </label>
                            </div>
                        </div>
                        <div id="divShipping">
                            <div class="form-group">
                                <div class="col-sm-4 nopadding">
                                    @Html.LabelFor(model => model.ShippingRuleTypeId, new { @class = "required" })
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.ShippingRuleTypeId, Model.ShippingRuleTypeList, new { @onchange = "Product.ToggleShippingRate(this);" })
                                    @Html.ValidationMessageFor(model => model.ShippingRuleTypeId)
                                </div>
                            </div>
                            <div class="form-group" id="divShippingRate" style="display:none;">
                                <div class="col-sm-4 nopadding">
                                    @Html.LabelFor(model => model.ShippingRate)
                                    <span class="sub">This applies only for "Fixed Rate Per Item" custom shipping option.</span>
                                </div>
                                <div class="col-sm-8 left-inner-icon">
                                    <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
                                    @Html.TextBoxFor(model => model.ShippingRate, new { @maxlength = 8, @id = "txtShippingRate" })
                                    @Html.ValidationMessageFor(model => model.ShippingRate)
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>@ZnodeResources.LabelProductAttribute</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Weight)
                        </div>
                        <div class="col-sm-8 right-inner-icon">
                            <i class="unit-text">@MvcAdminUnits.WeightUnit</i>
                            @Html.TextBoxFor(model => model.Weight)
                            @Html.ValidationMessageFor(model => model.Weight, null, new { id = "valweight" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Height)
                        </div>
                        <div class="col-sm-8 right-inner-icon">
                            <i class="unit-text">@MvcAdminUnits.DimensionUnit</i>
                            @Html.TextBoxFor(model => model.Height)
                            @Html.ValidationMessageFor(model => model.Height)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Width)
                        </div>
                        <div class="col-sm-8 right-inner-icon">
                            <i class="unit-text">@MvcAdminUnits.DimensionUnit</i>
                            @Html.TextBoxFor(model => model.Width)
                            @Html.ValidationMessageFor(model => model.Width)
                        </div>
                    </div>
                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Length)
                        </div>
                        <div class="col-sm-8 right-inner-icon">
                            <i class="unit-text">@MvcAdminUnits.DimensionUnit</i>
                            @Html.TextBoxFor(model => model.Length)
                            @Html.ValidationMessageFor(model => model.Length)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    <h4>@ZnodeResources.LabelProductImage</h4>
                    <span class="sub left-sm-shift">@ZnodeResources.LabelProductImageDescription</span>
                    <div class="form-group top-shift">
                        <div class="col-sm-4 nopadding">
                            @Html.Label("", ZnodeResources.LabelSelectProductImage)
                        </div>
                        <div class="col-sm-8">
                            @if (actionName.ToLower().Equals("edit"))
                            {
                                if (!Equals(Model.ImageMediumPath, null))
                                {
                                    <div class="form-group">
                                        <img alt="" src="@Url.Content(Model.ImageMediumPath)" class="img-responsive thumb" />
                                    </div>
                                }
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        @Html.RadioButtonFor(m => m.SelectedImageStatus, SelectImageStatus.CurrentImage, new { @Id = "rdoCurrentImage", @checked = true, @onClick = "CommonHelper.BindImageControl(this);" })
                                        <label for="rdoCurrentImage" class="lbl padding-8">@ZnodeResources.LabelKeepCurrentImage</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding">
                                        @Html.RadioButtonFor(m => m.SelectedImageStatus, SelectImageStatus.NewImage, new { @Id = "rdoNewImage", @onClick = "CommonHelper.BindImageControl(this);" })
                                        <label for="rdoNewImage" class="lbl padding-8">@ZnodeResources.LabelUploadNewImage </label>
                                    </div>
                                </div>
                                if (Model.IsInvalidMode)
                                {
                                    <div id="imgUploader" class="col-sm-7 nopadding" style="display:none">
                                        @Html.EditorFor(model => model.ProductImage)
                                    </div>
                                }
                                else
                                {
                                    { Html.EnableClientValidation(false); }
                                    <div id="imgUploader" class="col-sm-7 nopadding" style="display:none">
                                        @Html.EditorFor(model => model.ProductImage)
                                    </div>
                                    { Html.EnableClientValidation(true); }
                                }
                            }
                            else
                            {
                                @Html.EditorFor(model => model.ProductImage);
                            }
                        </div>
                    </div>
                    <div class="form-group border-bottom">
                        <div class="col-sm-4 colon nopadding">
                            @Html.LabelFor(model => model.ImageAltTag)
                            <span class="sub">@ZnodeResources.LabelProductImageAltDescription</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.ImageAltTag)
                            @Html.ValidationMessageFor(model => model.ImageAltTag)
                        </div>
                    </div>

                    <h4>@ZnodeResources.LabelDescription</h4>
                    <div class="form-group">
                        <div class="col-sm-12 colon nopadding">
                            @Html.LabelFor(model => model.ShortDescription)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextAreaFor(model => model.ShortDescription)
                            <span class="sub">@ZnodeResources.LabelProductShortDescription</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 colon nopadding">
                            @Html.LabelFor(model => model.LongDescription)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.EditorFor(model => model.LongDescription)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 colon nopadding">
                            @Html.LabelFor(model => model.FeaturesDescription)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.EditorFor(model => model.FeaturesDescription)
                            <span class="sub">@ZnodeResources.LabelProductFeaturesDescription</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 colon nopadding">
                            @Html.LabelFor(model => model.ProductSpecifications)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.EditorFor(model => model.ProductSpecifications)
                            <span class="sub">@ZnodeResources.LabelProductSpecificationDescription</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 colon nopadding">
                            @Html.LabelFor(model => model.ShippingInformation)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.EditorFor(model => model.ShippingInformation)
                            @*@Html.ValidationMessageFor(model => model.ShippingInformation)*@
                            <span class="sub">@ZnodeResources.LabelProductShippingInfoDescription</span>
                        </div>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(model => model.ProductId)
            @Html.HiddenFor(model => model.SkuId)
            @Html.HiddenFor(model => model.ImageFile)
            @Html.HiddenFor(model => model.Sku)
            @Html.HiddenFor(model => model.ProductTypeId)
            @Html.HiddenFor(model => model.ProductTypeName, new { id = "hdnProductName" })
            @Html.HiddenFor(model => model.IsGiftCard)
            @Html.HiddenFor(model => model.ReorderLevel)
            @Html.HiddenFor(model => model.QuantityOnHand)
            @Html.HiddenFor(model=>model.Custom3)
        }
        <div class="col-sm-12 nopadding">
            <div class="form-group ">
                <div class="pull-right">

                    @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
                </div>
            </div>
        </div>
    </div>

</div>
@Scripts.Render("~/bundles/Product")
@section Scripts {
    <script type="text/JavaScript">
        $(document).ready(function () {
            Product.Load();
        });
    </script>
}