﻿@model Znode.Engine.MvcAdmin.ViewModels.SkuViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources;
@using Znode.Libraries.Helpers;

@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    bool isBundle = false;
    int attributeCount = Equals(Model, null) ? 0 : Model.AttributeCount;
    int productId = Equals(Model, null) ? 0 : Model.ProductId;
}
@{
    ActionModel actionModel = new ActionModel
    {
        Action = actionName,
        Controller = controllerName,
        FormId = "frmSku",
        SaveHeader = ZnodeResources.ButtonSubmitRequest,
        CancelHeader = ZnodeResources.ButtonCancel,
        Callback = "Product.SkuValidateAttributes",
        CancelUrl = "/Product/manage/" + productId
    };
    if ((attributeCount > 0))
    {
        isBundle = true;
    }
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (actionName.ToLower().Contains("create"))
            {
                <h1 class="left">@ZnodeResources.SubHeaderAddSku - @Model.Name</h1>
            }
            else
            {
                <h1 class="left">@ZnodeResources.HeaderEditSkuForProduct - @Model.Name</h1>
            }
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        }
    </div>
    <div class="col-sm-12 add-new-item">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmSku" }))
        {
            @Html.ValidationSummary(true)

            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                    <h4>@ZnodeResources.LabelSkuInfo</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.SKU, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.SKU, new { @maxlength = 200 })
                            @Html.ValidationMessageFor(model => model.SKU)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.QuantityOnHand, new { @class = "required" })
                            <span class="sub">@ZnodeResources.LabelProductSkuDescription</span>
                        </div>
                        <div class="col-sm-8">
                            @if (actionName.ToLower().Contains("create"))
                            {
                                @Html.TextBoxFor(model => model.QuantityOnHand, new { @Value = 999 })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.QuantityOnHand)
                            }
                            @Html.ValidationMessageFor(model => model.QuantityOnHand)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ReorderLevel)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.ReorderLevel)
                            @Html.ValidationMessageFor(model => model.ReorderLevel)
                        </div>
                    </div>
                    @if (isBundle == true)
                    {
                        <div class="form-group border-bottom">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.WeightAdditional)
                            </div>
                            <div class="col-sm-8 right-inner-icon">
                                <i class="unit-text">@MvcAdminUnits.WeightUnit</i>
                                @Html.TextBoxFor(model => model.WeightAdditional)
                                @Html.ValidationMessageFor(model => model.WeightAdditional)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.RetailPriceOverride)
                                <span class="sub">@ZnodeResources.LabelSkuRetailPriceDescription</span>
                            </div>
                            <div class="col-sm-8 left-inner-icon">
                                <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
                                @Html.TextBoxFor(model => model.RetailPriceOverride, new { @maxlength = 9 })
                                @Html.ValidationMessageFor(model => model.RetailPriceOverride)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.SalePriceOverride)
                                <span class="sub">@ZnodeResources.LabelSkuSalePriceDescription</span>
                            </div>
                            <div class="col-sm-8 left-inner-icon">
                                <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
                                @Html.TextBoxFor(model => model.SalePriceOverride, new { @maxlength = 9 })
                                @Html.ValidationMessageFor(model => model.SalePriceOverride)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.WholesalePriceOverride)
                                <span class="sub">@ZnodeResources.LabelSkuWholeSalePriceDescription</span>
                            </div>
                            <div class="col-sm-8 left-inner-icon">
                                <i class="unit">@MvcAdminUnits.CurrencySymbol</i>
                                @Html.TextBoxFor(model => model.WholesalePriceOverride, new { @maxlength = 9 })
                                @Html.ValidationMessageFor(model => model.WholesalePriceOverride)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.IsActive)
                            </div>
                            <div class="col-sm-8">
                                <label>
                                    <input checked="@Model.IsActive" id="IsActive" name="IsActive" type="checkbox" value="true">
                                    <span class="lbl padding-8">@ZnodeResources.CheckBoxEnableSKU</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="divAttributes" style="display:none">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.ProductAttributes, new { @class = "required" })
                            </div>
                            <div class="col-sm-8">
                                @Html.HiddenFor(model => model.ProductAttributes)
                                <div id="divProductAttributes" class="product-attributs">
                                </div>
                            </div>
                        </div>
                        <div class="form-group border-bottom">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.SupplierId)
                                <span class="sub">@ZnodeResources.LabelSkuSupplierDescription</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.SupplierId, Model.SupplierList, ZnodeResources.LabelNotApplicable)
                                @Html.ValidationMessageFor(model => model.SupplierId)
                            </div>
                        </div>
                        if (actionName.ToLower().Contains("edit"))
                        {
                            <h4>@ZnodeResources.SubHeaderProductFacets</h4>
                            <div class="form-group" id="divProductFacets">
                                <div>
                                    <button type="button" class="btn-text red pull-right" title="@ZnodeResources.ButtonAssociateFacet" onclick="Product.ShowAssociateFacetPopUp(@Model.ProductId,@Model.Id);">@ZnodeResources.ButtonAssociateFacet</button>
                                </div>
                                <div id="divAssociateFacets" style="display:none">
                                </div>
                                <div id="divSKUFacetsList" style="display:none">
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    @if (actionName.ToLower().Contains("edit"))
                    {
                        <h4>@ZnodeResources.SubHeaderProfileSetting</h4>
                        <div class="form-group" id="divProfileSetting">
                            <button type="button" class="btn-text red pull-right bottom-shift" title="@ZnodeResources.ButtonProfileSetting" onclick="Product.ShowSkuProfilePopUp(@Model.Id,'@UserTypes.Admin.ToString()');">@ZnodeResources.ButtonProfileSetting</button>
                            <div id="divAssociateProfile" style="display:none">

                            </div>
                            <div id="divProfileList" style="display:none">
                            </div>
                        </div>
                    }
                    @if (isBundle == true)
                    {
                        <h4>@ZnodeResources.SubHeaderSkuImage</h4>
                        <span class="sub left-sm-shift">@ZnodeResources.LabelSkuImageDescription</span>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.Label(ZnodeResources.LabelImage)
                            </div>
                            <div class="col-sm-8">
                                @if (actionName.ToLower().Contains("edit"))
                                {
                                    <div class="form-group">
                                        @if (!string.IsNullOrEmpty(Model.ImageMediumPath))
                                        {
                                            <img alt="" src="@Url.Content(Model.ImageMediumPath)" class="img-responsive thumb" />
                                        }
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 nopadding">
                                            @Html.RadioButtonFor(m => m.SelectedImageStatus, SelectImageStatus.CurrentImage, new { @Id = "rdoCurrentImage", @onClick = "CommonHelper.BindImageControl(this);" })
                                            <label for="rdoCurrentImage" class="lbl padding-8">@ZnodeResources.LabelKeepCurrentImage</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 nopadding">
                                            @Html.RadioButtonFor(m => m.SelectedImageStatus, SelectImageStatus.NewImage, new { @Id = "rdoNewImage", @onClick = "CommonHelper.BindImageControl(this);" })
                                            <label for="rdoNewImage" class="lbl padding-8">@ZnodeResources.LabelUploadNewImage </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12 nopadding">
                                            @Html.RadioButtonFor(m => m.SelectedImageStatus, SelectImageStatus.NoImage, new { @Id = "rdoNoImage", @onClick = "CommonHelper.BindImageControl(this);" })
                                            <label for="rdoNoImage" class="lbl padding-8">@ZnodeResources.LabelUploadNoImage </label>
                                            @Html.HiddenFor(model => model.NoImage, new { @id = "hdnNoImage" })
                                        </div>
                                    </div>
                                    <div id="imgUploader" class="col-sm-7 nopadding" style="display:none">
                                        @Html.EditorFor(model => model.SkuImage)
                                    </div>
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.SkuImage)
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.ImageAltTag)
                                <span class="sub">@ZnodeResources.LabelProductImageAltDescription</span>
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.ImageAltTag)
                                @Html.ValidationMessageFor(model => model.ImageAltTag)
                            </div>
                        </div>
                    }

                </div>
            </div>
            @Html.HiddenFor(model => model.ProductId)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.ProductTypeId)
            @Html.HiddenFor(model => model.ParentChildProduct)
            @Html.HiddenFor(model => model.AttributeCount)
            @Html.HiddenFor(model => model.SKUPicturePath, new { @id = "hdnSKUPicturePath" })
            @Html.HiddenFor(model => model.ProductTypeName)
            @Html.HiddenFor(model => model.IsGiftCard)
            @Html.HiddenFor(model=>model.Custom1)
        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/Product")
@section Scripts {
    <script type="text/JavaScript">
        $(document).ready(function () {            
            var imagePath = $("#hdnSKUPicturePath").val();
            if (imagePath != undefined && imagePath != null && imagePath != "") {
                $("#rdoCurrentImage").attr("checked", true);
            }
            else {
                $("#rdoNoImage").attr("checked", true);
            }
            Product.ShowSkuAttributes();
            RefreshLocationOndelete = true;
        });
    </script>
}