﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@ZnodeResources.ProductTitle</h1>
            <button type="button" class="btn-text-icon red pull-right" title="@ZnodeResources.ButtonAdd" onclick="javascript: location.href =  '/Product/Create';"><i class='glyphicon glyphicon-plus'></i>@ZnodeResources.ButtonAdd</button>
        </div>
        <div class="col-sm-12 search-container">
            <p class="left">@ZnodeResources.ProductSubMessage</p>
        </div>
        <div class="col-sm-12 product-search">                                        
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("List", "Product", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.FilterColumn)
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-12 list-container">
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/product")
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var val = $("#CategoryId").val(); Product.BindProductCatagory(function (res) { if (res) $("#CategoryId").val(val); val = null; });Product.PreventSearchButton(function (res) { if (res) $("#CategoryId").val(val); val = null; });
    })
</script>

<script>
    $('.accordion-toggle').on('click', function (e) {
        if ($(this).hasClass('in')) {
            e.preventDefault();
            e.stopPropagation();
        }
    });
</script>