﻿@model Znode.Engine.MvcAdmin.ViewModels.ProductViewModel
@using Resources
@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container bottom-shift">
        @{
            string productName = Equals(Model, null) ? string.Empty : Model.Name;
            int attributeCount = Equals(Model, null) ? 0 : Model.AttributeCount;
            bool isParentProduct = Equals(Model, null) ? false : Model.ParentProduct.Value;
            <h1 class="left">@ZnodeResources.SubHeaderManageProduct - @productName</h1>
            bool isBundle = true;
            if (attributeCount > 0 || isParentProduct)
            {
                isBundle = false;
            }
            int productId = Equals(Model, null) ? 0 : Model.ProductId;
            var selectedTabMode = Equals(TempData[MvcAdminConstants.SetTabMode], null) ? string.Empty : TempData[MvcAdminConstants.SetTabMode];
        }
        @if (Equals(selectedTabMode.ToString().ToLower(),"treeview"))
        {
            <button type="button" id="redirect-back" class="btn-text-icon grey pull-right" title="@ZnodeResources.ButtonBack" onclick="javascript: location.href = '/Category/List?tabMode=treeview';"><i class="z-arrow-left"></i>@ZnodeResources.ButtonBack</button>
        }
        else
        {
            <button type="button" id="redirect-back" class="btn-text-icon grey pull-right" title="@ZnodeResources.ButtonBack" onclick="javascript: location.href =  '/Product/List';"><i class="z-arrow-left"></i>@ZnodeResources.ButtonBack</button>
        }
    </div>
    <div class="col-sm-12 nopadding">
        <div class="manage-stores-container">
            <div class="tab-container">
                <ul id="tabManageProduct" class="nav nav-tabs">
                    <li><a href="#panel-1" data-toggle="tab" class="tabs">@ZnodeResources.TabProductInfo</a></li>
                    <li><a href="/Product/GetProductSettings" data-queryparam="productId=@Model.ProductId" data-targetitemid="panel7" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabProductSetting</a></li>
                    <li><a href="/Product/GetProductCategory" id="productcategorylist" data-queryparam="productId=@Model.ProductId" data-targetitemid="panel7" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabProductCategory</a></li>
                    <li><a href="/Product/GetProductSku" id="productskulist" data-queryparam="productId=@Model.ProductId" data-targetitemid="panel7" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabProductSku</a></li>
                    @if (isBundle)
                    {
                        <li><a href="/Product/GetProductBundleList" id="productbundlelist" title="@ZnodeResources.TabProductBundles" data-queryparam="productId=@Model.ProductId" data-targetitemid="panel7" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabProductBundles</a></li>
                    }
                    <li><a href="/Product/GetProductFacets" id="productfacets" data-queryparam="productId=@Model.ProductId" data-targetitemid="panel7" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabProductFacet</a></li>
                    <li><a href="/Product/GetProductTags" id="producttags" data-queryparam="productId=@Model.ProductId" data-targetitemid="panel7" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabProductTag</a></li>
                    @if (!Equals(Model, null) && ((Model.EnableCustomerPricing.HasValue) ? Convert.ToBoolean(Model.EnableCustomerPricing) : false))
                    {
                        <li><a href="/product/CustomerBasedPricingList" id="productcustomerpricing" data-queryparam="productId=@Model.ProductId" data-targetitemid="panel7" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabCustomerBasedPricing</a></li>
                    }
                    <li><a href="/Product/GetProductImages" id="productimages" title="@ZnodeResources.TabProductImage" data-queryparam="productId=@Model.ProductId" data-targetitemid="panel7" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabProductImage</a></li>
                    <li><a href="/Product/AddOns" id="productAddOns" data-queryparam="productId=@Model.ProductId" data-targetitemid="panel7" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabProductAddons</a></li>
                    <li><a href="/Product/TierPriceList" id="ProductTiers" data-queryparam="productId=@Model.ProductId" data-targetitemid="panel7" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabProductTier</a></li>
                    <li><a href="/Product/Highlights" id="ProductHighlights" data-queryparam="productId=@Model.ProductId" data-targetitemid="panel7" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabProductHighlight</a></li>
                    <li><a href="/Product/DigitalAssetList" id="DigitalAssets" data-queryparam="productId=@Model.ProductId" data-targetitemid="panel7" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabProductDigitalAsset</a></li>
                </ul>

                <div id="tabContents" class="tab-content">
                    <!--Panels 1-->
                    <div id="productDetailstabContents" class="tab-content">
                        <div class="tab-pane fade in active" id="panel-1">
                            <div class="col-sm-12 nopadding">
                                @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-pencil'></i>" + ZnodeResources.ButtonEdit, "Edit", "Product", new { @id = @productId }, new { @Class = "btn-text-icon red pull-right", @title = @ZnodeResources.ButtonEdit })
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                                    <h4>@ZnodeResources.LabelGeneralInformation</h4>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.Name)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label("", Model.Name)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.BrandName)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label("", Model.BrandName)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.ProductCode)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label("", Model.ProductCode)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.MinQuantity)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label("", Model.MinQuantity.ToString())
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.MaxQuantity)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label("", Model.MaxQuantity.ToString())
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.ProductTypeName)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label("", Model.ProductTypeName)
                                        </div>
                                    </div>
                                    @if (Model.IsGiftCard)
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-4 colon nopadding">
                                                @Html.LabelFor(model => model.ExpirationPeriod)
                                            </div>
                                            <div class="col-sm-8 label-background">
                                                @Html.Label("", Model.ExpirationPeriodFrequency)
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.SupplierName)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label("", Model.SupplierName)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.RetailPrice)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            <span>@MvcAdminUnits.CurrencySymbol @Model.RetailPrice</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.SalePrice)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @if (!Equals(Model.SalePrice, null))
                                            {
                                                <span>@MvcAdminUnits.CurrencySymbol @Model.SalePrice</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.WholeSalePrice)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @if (!Equals(Model.WholeSalePrice, null))
                                            {
                                                <span>@MvcAdminUnits.CurrencySymbol @Model.WholeSalePrice</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.TaxClassName)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label("", Model.TaxClassName)
                                        </div>
                                    </div>
                                    <div class="form-group border-bottom">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.DownloadLink)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label("", Model.DownloadLink)
                                        </div>
                                    </div>
                                    <h4>@ZnodeResources.LabelDisplaySetting</h4>
                                    <div class="form-group border-bottom">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.DisplayOrder)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label("", Model.DisplayOrder.ToString())
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                                    <h4>@ZnodeResources.LabelShippingSetting</h4>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.FreeShipping)
                                        </div>
                                        <div class="col-sm-8 label-background red-color">
                                            <i class="@HelperMethods.GetCheckMark(Model.FreeShipping.Value)"></i>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.ShippingRule)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label("", Model.ShippingRule)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.ShippingRate)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @if (!Equals(Model.ShippingRate, null))
                                            {
                                                <span>@MvcAdminUnits.CurrencySymbol @Model.ShippingRate</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.Weight)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @if (!Equals(Model.Weight, null))
                                            {
                                                @Html.Raw(string.Concat(Model.Weight.ToString(), " ", MvcAdminUnits.WeightUnit))
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.Height)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @if (!Equals(Model.Height, null))
                                            {
                                                @Html.Raw(string.Concat(Model.Height.ToString(), " ", MvcAdminUnits.DimensionUnit))
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.Width)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @if (!Equals(Model.Width, null))
                                            {
                                                @Html.Raw(string.Concat(Model.Width.ToString(), " ", MvcAdminUnits.DimensionUnit))
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.Length)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @if (!Equals(Model.Length, null))
                                            {
                                                @Html.Raw(string.Concat(Model.Length.ToString(), " ", MvcAdminUnits.DimensionUnit))
                                            }
                                        </div>
                                    </div>
                                    <h4>@ZnodeResources.LabelProductImage</h4>
                                    <div class="form-group border-bottom">
                                        @if (!Equals(Model.ImageMediumPath, null))
                                        {
                                            <div class="col-sm-6 col-sm-offset-4">
                                                <img src="@Url.Content(@Model.ImageMediumPath)" alt="@Model.Name" class="img-responsive" />
                                            </div>
                                        }
                                    </div>
                                    <h4>@ZnodeResources.LabelDescription</h4>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.ShortDescription)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label("", Model.ShortDescription)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.LongDescription)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Raw(Model.LongDescription)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.FeaturesDescription)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Raw(Model.FeaturesDescription)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.ProductSpecifications)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Raw(Model.ProductSpecifications)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.ShippingInformation)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Raw(Model.ShippingInformation)
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="panel-2">

                        </div>
                        <!--Important Div, Do not delete/modify-->
                        <div class="tab-pane fade" id="panel7">
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("ProductName", Model.Name)

@Scripts.Render("~/bundles/product")
<script type="text/JavaScript">
    $(document).ready(function () {
        Product.Load();
    });
</script>