﻿@model Znode.Engine.MvcAdmin.ViewModels.SkuProfileEffectiveListViewModel
@using Resources;
<div id="grid-container">
    <div class="col-sm-12 nopadding">
        <div class="col-sm-12 nopadding">
            @{
                if (!Equals(Model, null))
                {
                    Model.GridModel.IsAdvanceSearchHide = true;
                }
            }
            @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
        </div>
    </div>
</div>
