﻿/*   
Theme Name: Base CSS For Znode MVC Demo.
Theme URI: -
Description: Base CSS for Znode MVC Demo project. 
Author: Base CSS.
Author URI: www.mrrsoft.com
Version: 1.0.0.1

/***************** GENERAL CLASS & WIDGETS ******************
Button ,Grid ,Pagination ,Dropdown ,Scroll Bar ,Table.
*/

/****************************************************************************************/
@import "_base.scss";

html, body{
  height:100%;
  font:{
    family:$base-font-family;
    size:$base-font-size;
  }
  @include -webkit-text-size-adjust;
}
.nopadding{padding:0; margin:0;}
.required:after {content:' * '; color:$required-star;}
a{
  outline: medium none;text-decoration:none;color:$base-color-primary;
  &:hover,&:active,&:focus{outline: medium none;text-decoration:none;color:$blue-color;}
}
h1,h2,h3,h4,h5{
  color:$heading-text-color;
  font:{        
    family:$base-font-family;
  }
}
h1, h2 { margin: 8px 0; font-size: 30px; }
h3, h4 { margin: 6px 0; font-size: 27px; }
h5{margin:4px 0;font-size:14px;}

.padding-top{padding-top:15px;}
.padding-top-bottom{padding:15px 0;}
.margin-top{margin-top:15px;}
.margin-top-bottom{margin:15px 0;}
.margin-bottom{margin-bottom:15px;}

.field-validation-error,.error-msg{color:$error-msg;}
.success-msg{color:$success-msg;}

/*----Button----*/
.btn-text{
  @include btn-text;
  font:{ 
      size:$base-font-size;
      weight:700;
   }
  padding:0 10px;
  margin-left:5px;
  height:34px;
  line-height:34px;  
  &:hover,&:active,&:focus{color:$white-color;}
}
.btn-text-icon{
   @include btn-text;
   font:{ 
      size:$base-font-size;
      weight:700;
   }
   padding:0 15px 1px 10px;
   height: 45px; 
   line-height: 45px;   
   margin-left:5px;   
   &:hover,&:active,&:focus{color:$white-color;}
  i{padding-right: 5px; font-size: 16px; line-height: 45px; float: left;}
}
.btn-text-full{
  @include btn-text;
  font:{ 
      size:16px;
      weight:700;
   }
  width:100%; 
  padding: 0 15px 1px 10px;
  height: 45px; 
  line-height: 45px;    
  &:hover,&:active,&:focus{color:$white-color;}
  i { padding-right: 10px; font-size: 28px; line-height: 45px; float: left;border-right:1px solid $border-default-color; }
}
.btn-card{
  @include btn-text;
  font-size:13px;
  padding: 0 15px 0 10px;
  line-height:34px;  
  &:hover,&:active,&:focus{color:$white-color;}
  i { padding-right: 5px; font-size: 16px; line-height: 30px; float: left; }
}
.btn-wishlist{
  @include btn-text;
  background-color:#fff;
  color:$button-bg-boulder-wishlist;
  font-size: 13px;
  border: 1px solid $border-default-color;
  padding: 0 10px 1px 5px;
  &:hover,&:active,&:focus{color:$button-wishlist-color;}
   i { padding-right: 5px; font-size: 13px; line-height: 26px; float: left; }
}

.red {background:$button-bg-primary;}
.grey {background:$button-bg-secondary;}

/*----Input Fields----*/
input[type="text"], input[type="password"], input[type="email"] { 
  @include input-field;
  height:34px;
  border-radius:4px;
}
textarea {
  @include input-field;
  resize: none;
  overflow-y: auto;
}

/*---Select---*/
select{
  color:$color-select-shark;
  font-size:12px; 
  width:100%; 
  height:34px;
  padding:2px 20px 2px 5px; 
  border:1px solid $border-default-color; 
  box-shadow:none;
  outline: medium none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background: #fff url('../../../../Images/drop-arrow.png') no-repeat 98% center;
  text-indent: 0.01px;
  text-overflow: "";   
  -webkit-transition: all 0.0s ease;
  -moz-transition: all 0.0s ease;
  -o-transition: all 0.0s ease;
  -ms-transition: all 0.0s ease;
  transition: all 0.0s ease;
  option:hover{border:0; box-shadow:none; outline: medium none;-webkit-transition: all 0.0s ease;-moz-transition: all 0.0s ease;-o-transition: all 0.0s ease;-ms-transition: all 0.0s ease;transition: all 0.0s ease;}  
}
select::-ms-expand {display:none;-webkit-transition: all 0.0s ease;-moz-transition: all 0.0s ease;-o-transition: all 0.0s ease;-ms-transition: all 0.0s ease;transition: all 0.0s ease;}
.ie select {display:none;-webkit-transition: all 0.0s ease;-moz-transition: all 0.0s ease;-o-transition: all 0.0s ease;-ms-transition: all 0.0s ease;transition: all 0.0s ease;}

/*----Input Fields Inner Icons----*/
.left-inner-icon {position: relative;
  input{padding-left: 36px;}
  i {
    position: absolute;
    padding: 8px 5px;
    height:34px;
    pointer-events: none;
    top:0;
    color:$base-color-secondary;
    line-height:4px;    
    }
}
.right-inner-icon {position: relative;
    input {padding-right: 36px;}
    i {position: absolute;
      right: 0;
      top:0;
      padding: 9px 10px;
      height:34px;
      pointer-events: none; 
      color:$base-color-secondary;
      line-height:4px;      
      }
}

/*----Chackbox & Redio Button----*/
.styled-input input[type=radio] {display: none;}
.styled-input input[type=radio]:checked + label:before {font-family: 'znode-icon-f';content: "\f192";color: $checkbox-radio-color;font-size:18px;}
.styled-input input[type=radio] + label {display: block;position: relative;padding-left: 2em;cursor: pointer; margin-bottom:10px;font-weight:normal;}
.styled-input input[type=radio] + label:before {font-family: 'znode-icon-f';content: "\f10c";margin-right: 10px;position: absolute;top: 0;left: 5px;color: $checkbox-radio-label;line-height:20px;font-size:18px;}
.styled-input input[type=checkbox] {display: none;}
.styled-input input[type=checkbox]:checked + label:before {font-family: 'znode-icon-f';content: "\f046";color: $checkbox-radio-color;font-size:18px;}
.styled-input input[type=checkbox] + label {display: block;position: relative;padding-left: 2em;cursor: pointer; margin-bottom:10px;font-weight:normal;}
.styled-input input[type=checkbox] + label:before {font-family: 'znode-icon-f';content: "\f096";margin-right: 10px;position: absolute;top: 2px;left: 5px;color: $checkbox-radio-label;line-height:20px;font-size:18px;}

/*****-------Header SASS CSS-------*****/

.header{
    width:100%;
    position:relative;
    top:0;left:0; 
    border:1px solid $border-default-color;
    height:146px;
    transition: height 500ms, background 500ms;
    z-index:999;
    background-color:$header-bg-color;
}
.header-logo{float:left; width:100%;min-height: 45px;padding-right:5px;} 
.header-main .header-logo img{width:210px;max-height:95px; display: block;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.shrink {
    height:88px;
    position:fixed;
    background-color:$header-shrink-bg-color;
}
.shrink .header-logo{min-height:30px;}
.shrink .header-logo img{width:140px;max-height:58px; -webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.hide-show{display:none;}
.header-link-contain{margin-top:28px;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.shrink .header-link-contain{margin-top:14px;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.header-link ul li{
    display:inline;
    list-style:none;
    border-right:1px solid $border-default-color; 
    padding:0 5px;
    line-height:34px;
    position:relative;
}
.header-link ul li:hover{
    color:$base-color-primary;
}
.header-link ul li:last-child{border:none;}
.header-link ul li a{padding-left:5px;}
.header-link ul li .header-toolbar-cart{
    color:$base-color-primary;font-size:24px;
}
.header-link ul li .cartcount{    
    top:-14px; 
    background-color:$base-color-secondary;
    height:16px;
    width:16px;
    border-radius:50px;
    color:$white-color;
    line-height:16px;
    text-align:center;
}
.header-link ul li form{display:inline;}
.header-nav-container{background-color:$headre-nav-bg-color;height:50px;}
.header-link ul li a.user-icon,.header-link ul li a.user-icon:hover{padding-left:0;color:$base-color-primary;padding:0 5px;}
.navbar-collapse{background-color:$headre-nav-bg-color;}

/*****-------Header Nav SASS CSS-------*****/

.nav-home{padding:8px 4px 8px 0;}
.nav-home a{
    background-color:$base-color-primary;
    border-radius:50px;
    padding:6px 8px!important;
}
.nav-home i{font-size:18px;}
.navbar-nav > li > a{
    padding:15px;
    font-size:14px; 
    color:$white-color;
    text-transform:uppercase;
}
.navbar-nav > li > a:hover,.navbar-nav > li > a:active,.navbar-nav > li > a:focus,.navbar-nav > li:hover{background-color:$nav-link-hover-bg;}
.navbar-nav li .dropdown-menu{border-top:5px solid $nav-link-hover-bg}
.dropdown:hover .dropdown-menu {display: block;}
.dropdown-menu ul{padding: 0 0 10px 15px;}
.dropdown-menu li{line-height: 40px;min-height: 24px;}
.yamm .nav,.yamm .collapse,.yamm .dropup,.yamm .dropdown {position: static;}
.yamm .container {position: relative;}
.yamm .dropdown-menu {left: auto;}
.yamm .nav.navbar-right .dropdown-menu {left: auto;right: 0;}
.yamm .yamm-content {padding: 20px;}
.yamm .dropdown.yamm-fw .dropdown-menu {left: 15px;right: 15px;min-height:250px;}
.yamm .dropdown ul li{width:19%;background-color:transparent;display:inline-block;vertical-align:top;line-height:24px;}
.yamm .dropdown ul li a{font-weight:bold;background-color:transparent;color:#333;}
.yamm .dropdown ul li a:hover,.yamm .dropdown ul li .sub-menu-child li a:hover{
    color:$nav-link-hover-bg;
}
.yamm .dropdown ul li .sub-menu-child{padding-left:20px;}
.yamm .dropdown ul li .sub-menu-child li{width:100%;list-style:none;}
.yamm .dropdown ul li i{
    padding-right:10px;
    color:$nav-link-hover-bg;
}
.yamm .dropdown ul li .sub-menu-child li a{color:#999;background-color:transparent;}
.yamm .dropdown ul li .sub-menu-child li ul li a{font-weight:normal;}


/*****-------Footer SASS CSS-------*****/

footer{position: relative;clear:both;}
.footer-container{  
    background: $footer-bg-color;
}
.footer-container .footer-information{
    padding:15px 0;
    font-size:13px; 
    color:$footer-default-text-color;
}
.footer-container .footer-information .nav-home{display:none;}
.footer-container .header-footer{
    border-bottom: 1px solid $footer-default-text-color;
    margin-bottom: 10px;
}
.footer-container .header-footer h3{
    margin: 10px 0;
    text-transform: uppercase;
    color: #fff;
    font:{
        family: 'PTSans', sans-serif;
        size:15px;
    }        
    padding-left:5px;
}
.footer-container .footer-information a{
    color:$footer-default-text-color;
    text-decoration: none;
    line-height: 26px;
}
.footer-container .footer-information a:hover{color:$white-color;}
.footer-container .footer-information li i{color:#959595; padding:5px;}
.footer-container .footer-contact p,.footer-container .footer-contact a{padding-left:5px;}
.footer-container .footer-shop ul li .sub-menu{display:none;}
.footer-container .footer-shop ul li{width:100%;display:inline-block;list-style:none;background-color:transparent;}
.footer-container .footer-shop ul li a{padding:0;float:left;text-transform: capitalize;}
.footer-container .footer-shop ul li a:hover{background-color:transparent;}
.footer-container .footer-shop ul li i{float:left;}
.footer-container .footer-copyright{
    background-color:#252525;
    border-top:1px solid $footer-default-text-color;
}
.footer-container .footer-copyright p{
    color:$footer-default-text-color;
    margin-bottom:0;
    text-align:center;
}
.footer-container .footer-copyright ul {text-align:center; padding-left:0;margin-bottom:0;margin-top:10px;}
.footer-container .footer-copyright ul li{list-style:none;display:inline-block;padding:0 4px;}
.footer-container .footer-copyright ul li i{
    font-size:26px;
    color:$footer-payment-icon;
}
.footer-container .footer-copyright ul li i:hover{color:$white-color;}

.footer-container .news-letter{
    background-color:$footer-news-letter-bg;
    padding:20px 0;
    border-bottom:1px solid $base-color-primary;
}
.footer-container .news-letter label{float:left;color:#fff;padding-right:10px;line-height:34px;margin-bottom:0;}
.footer-container .news-letter input[type="text"],.footer-container .news-letter button{background-color:transparent;color:$white-color;}
.footer-container .news-letter ul {float:right;padding-left:0;margin-bottom:0;}
.footer-container .news-letter ul li{list-style:none;display:inline-block;}
.footer-container .news-letter ul li i{font-size:34px;color:#828282;}
.footer-container .news-letter ul li i:hover{color:$white-color;}
.footer-container .footer-shop ul li .dropdown-menu{display:none;}

/*Media Query CSS*/
@media(min-width:320px) {
.footer-container .footer-shop .navbar-nav{margin:0;}
.footer-container .footer-copyright img{margin:0 auto;}
.footer-container .news-letter .input-field{padding-left:0; padding-right:0;}
nav .nav-home {display:none;}
.account-dashboard .right-container .btn-text,.account-dashboard .address-book button{background-color:transparent; color:$base-color-primary;font-weight:normal;padding:0 3px;}
.account-dashboard .edit-address button{background-color:$base-color-primary; color:$white-color;font-weight:700;padding:0 10px;}
.header-link ul li #loginLink{display:none;}
}

@media(min-width:768px) {   
h1, h2 { margin: 8px 0; font-size: 30px; }
h3, h4 { margin: 6px 0; font-size: 27px; } 
.header-logo {min-height: 95px;padding-right:0;}
.footer-container .footer-copyright p{margin-top:20px;text-align:left;}
.footer-container .footer-copyright ul li i {font-size: 34px; }
.footer-container .footer-copyright ul{text-align:right;}
.footer-container .news-letter .input-field{padding-left:15px; padding-right:15px;}
nav .nav-home {display:block;}
.account-dashboard .right-container .btn-text,.account-dashboard .address-book button{background-color:$base-color-primary; color:$white-color;font-weight:700;padding:0 10px;}
.header-link ul li #loginLink{display:inline-block;}
.header-link ul li a.user-icon{padding:0;}
}
@media (min-width: 992px) {
.footer-container .footer-copyright p{margin-top:28px;}
.footer-container .footer-copyright ul {margin-top:20px;}
.footer-container .header-footer h3{font-size:18px;}
}