﻿@model Znode.Engine.MvcDemo.ViewModels.CaseRequestViewModel
<div class="form-group due-date">
    <div class="col-sm-3 nopadding">
        <label for="caserequest_duedate" class="required">@Resources.ZnodeResource.DueDate</label>
    </div>
    <div class="col-sm-9 nopadding right-inner-icon">
        @Html.TextBoxFor(model => model.RequestAQuote.DueDate, new { @id = "caseRequestModel_DueDate", @Value = DateTime.Now.ToString("MM/dd/yyyy"), @class = "datepicker", data_date_format = "mm/dd/yyyy", placeholder = "mm/dd/yyyy" })
        <i class="glyphicon glyphicon-calendar" data-date-icon="icon-calendar" data-time-icon="icon-time"></i>
        <span id="caseRequestModel_DueDateErr" class="field-validation-error"></span>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-3 nopadding">
        <label for="caserequest_faxnumber">@Resources.ZnodeResource.FaxNumber</label>
    </div>
    <div class="col-sm-9 nopadding">
        @Html.TextBoxFor(model => model.RequestAQuote.FaxNumber)
    </div>
</div>
<div class="form-group">
    <div class="col-sm-3 nopadding">
        <label for="caserequest_contactchoice">@Resources.ZnodeResource.ContactChoice</label>
    </div>
    <div class="col-sm-9 nopadding">
        @for (int i = 0; i < Model.RequestAQuote.ContactChoices.Count; i++)
        {
            @Html.HiddenFor(m => m.RequestAQuote.ContactChoices[i].ChoiceName)
            <span class="contact-method">@Html.CheckBoxFor(m => m.RequestAQuote.ContactChoices[i].IsSelected) @Html.Label(Model.RequestAQuote.ContactChoices[i].ChoiceName)</span>
        }
    </div>
</div>
@Scripts.Render("~/Content/bootstrap-3.3.5/js/datepicker.js")
<script type="text/javascript">
    $(function () {
        $('#caseRequestModel_DueDate').datepicker({
            defaultDate: '@Model.RequestAQuote.DueDate',
            format: 'mm/dd/yyyy',
            startDate: Date.now()
        }).on('changeDate', function (selected) {
            //Validation can be done here
        });
    });
</script>