﻿@using Znode.Engine.MvcDemo.ViewModels;
@model Znode.Engine.MvcDemo.ViewModels.CaseRequestViewModel
@using Resources
@{
    ViewBag.Title = @Resources.ZnodeResource.TitleUserFeedback;
}
<div id="layout-contactus" class="main-wrapper">

    <div class="container">
        <div class="row contain-pages">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Resources.ZnodeResource.HeaderCustomerFeedback</h1>
            </div>

            <div class="col-xs-12 col-md-7 col-lg-6 nopadding">
                @using (Html.BeginForm("customerfeedback", "caserequest", FormMethod.Post,new { id= "customerFeedBackForm" }))
                {
                    <p>@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "CustomerFeedbackIntroText" }); }</p>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(Resources.ZnodeResource.LabelComments)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextAreaFor(model => model.Message)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(Resources.ZnodeResource.LabelFirstName)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.FirstName)
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(Resources.ZnodeResource.LabelLastName)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100 })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(Resources.ZnodeResource.LabelCity)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.CustomerCity)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(Resources.ZnodeResource.LabelState)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.CustomerState)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label(Resources.ZnodeResource.LabelEmailAddress, new { @class = "required" })
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextBoxFor(model => model.EmailAddress, new { @maxlength = 200, @id = "valEmailAddress" })
                            <span id="valEmailAddressErr" class="field-validation-error"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding styled-input">
                        <input type="checkbox" id="allow_sharing" name="AllowSharingWithCustomer" value="true" checked="checked" /><label for="allow_sharing">@Resources.ZnodeResource.CheckBoxTextFeedbackShare</label>
                    </div>
                    <div class="form-group">
                        <div class="pull-right margin-top-bottom">
                            <div class="g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["recaptchaPublicKey"]" data-size="invisible" data-callback="onSubmitCustomerFeedBackForm"></div>
                            <button type="submit" class="btn-text red" id="customer-feedback">@ZnodeResource.ButtonSubmit</button>
                            <a href="/" class="btn-text grey">@Resources.ZnodeResource.ButtonCancel</a>
                        </div>
                        <div class="recapcha-error-blk"><span class="field-validation-error">@TempData["CaptchaErrorMessage"]</span></div>
                    </div>
                }
            </div>

        </div>
    </div>

</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript">
    $('#customerFeedBackForm').submit(function (event) {
            event.preventDefault();
            grecaptcha.reset();
            grecaptcha.execute();
    });

    function onSubmitCustomerFeedBackForm() {
        document.getElementById('customerFeedBackForm').submit();
    }
</script>


