﻿@{
    ViewBag.Title = @Resources.ZnodeResource.TitleUserFeedback;
}

<div id="layout-customerfeedback" class="container-narrow main-wrapper">
    <div class="container">
        <div class="row">
            <p class="alert alert-success text-center">@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "CustomerFeedbackConfirmationIntroText" }); }</p>
        </div>
    </div>    
</div>

