﻿@{
    ViewBag.Title = @Resources.ZnodeResource.LinkTextRequestAQuote;
}
<div id="layout-contactus" class="container-narrow main-wrapper">
    <div class="container">
        <div class="row">
            <p class="alert alert-success text-center">@Resources.ZnodeResource.SuccessMessageRequestAQuote</p>
        </div>
    </div>    
</div>