﻿@using Znode.Engine.MvcDemo.ViewModels;
@model Znode.Engine.MvcDemo.ViewModels.CaseRequestViewModel
@using Resources
@{
    ViewBag.Title = @Resources.ZnodeResource.LinkTextRequestAQuote + System.Configuration.ConfigurationManager.AppSettings["StoreName"];
}

<div id="layout-contactus" class="main-wrapper">

    <div class="container">
        <div class="row contain-pages">
            <div class="request-quote-outer">
                <h1 class="page-title">@Resources.ZnodeResource.LinkTextRequestAQuote</h1>

                <div class="col-sm-9 col-xs-12 nopadding request-quote-form">
                    @using (Html.BeginForm("requestaquote", "caserequest", FormMethod.Post,new { id = "requestAQuoteForm" }))
                    {
                        <p>@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "RequestaQuoteIntroText" }); }</p>
                        <div class="form-group">
                            <div class="col-sm-3 nopadding">
                                @Html.Label(Resources.ZnodeResource.LabelFirstName, new { @class = "required" })
                            </div>
                            <div class="col-sm-9 nopadding">
                                @Html.TextBoxFor(model => model.FirstName, new { @maxlength = 100, @id = "valFirstName" })
                                <span id="valFirstNameErr" class="field-validation-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 nopadding">
                                @Html.Label(Resources.ZnodeResource.LabelLastName, new { @class = "required" })
                            </div>
                            <div class="col-sm-9 nopadding">
                                @Html.TextBoxFor(model => model.LastName, new { @maxlength = 100, @id = "valLastName" })
                                <span id="valLastNameErr" class="field-validation-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 nopadding">

                                @Html.Label(Resources.ZnodeResource.ColumnCompanyName)
                            </div>
                            <div class="col-sm-9 nopadding">
                                @Html.TextBoxFor(model => model.CompanyName, new { @maxlength = 100 })
                            </div>
                        </div>
                         //PRFT Custom Code : Start
                        <div class="form-group">
                            <div class="col-sm-3 nopadding">
                                @Html.Label(Resources.ZnodeResource.SalesReps)
                            </div>
                            <div class="col-sm-9 nopadding">
                                @if (Model.IsSalesRepFound)
                                {
                                    @Html.DropDownList("SalesRepId", Model.SalesReps.Select(saleRep => new SelectListItem { Text = saleRep.SaleRepNameWithLocation, Value = saleRep.SalesRepID.ToString(), Selected = (Model.SalesRepId == saleRep.SalesRepID) ? true : false }), Resources.ZnodeResource.PleaseSelectText, new { @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.DropDownList("SalesRepId", Model.SalesReps.Select(saleRep => new SelectListItem { Text = saleRep.SaleRepNameWithLocation, Value = saleRep.SalesRepID.ToString() }))
                                }
                            </div>
                        </div>
                        Html.RenderPartial("_PRFTRequestAQuote", Model);
                        @Html.HiddenFor(m => m.IsRequestAQuoteForm)
                        //PRFT Custom Code : End
                        <div class="form-group">
                            <div class="col-sm-3 nopadding">
                                @Html.Label(Resources.ZnodeResource.LabelEmailAddress, new { @class = "required" })
                            </div>
                            <div class="col-sm-9 nopadding">
                                @Html.TextBoxFor(model => model.EmailAddress, new { @maxlength = 200, @id = "valEmail" })
                                <span id="valEmailErr" class="field-validation-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 nopadding">
                                @Html.Label(Resources.ZnodeResource.LabelPhoneNumber)
                            </div>
                            <div class="col-sm-9 nopadding">
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @maxlength = 20, @id = "valPhoneNum" })
                                <span id="valPhoneNumErr" class="field-validation-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 nopadding">
                                @Html.Label(Resources.ZnodeResource.LabelRequestAQuote)
                            </div>
                            <div class="col-sm-9 nopadding">
                                @Html.TextAreaFor(model => model.Message)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pull-right">
                                <div class="g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["recaptchaPublicKey"]" data-size="invisible" data-callback="onSubmitRequestAQuoteForm"></div>
                                <button type="submit" class="btn-text red" id="contact-us">@ZnodeResource.ButtonSubmit</button>
                                <a href="/" class="btn-text grey">@Resources.ZnodeResource.ButtonCancel</a>
                            </div>
                            <div class="recapcha-error-blk"><span class="field-validation-error">@TempData["CaptchaErrorMessage"]</span></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript">
    $('#requestAQuoteForm').submit(function (event) {
            event.preventDefault();
            grecaptcha.reset();
            grecaptcha.execute();
    });

    function onSubmitRequestAQuoteForm() {
        document.getElementById('requestAQuoteForm').submit();
    }
</script>
