﻿@model Znode.Engine.MvcAdmin.ViewModels.DashboardViewModel
@using Microsoft.AspNet.Identity
@using Resources;

@{
    ViewBag.Title = @ZnodeResources.DashboardTitle + " | " + @ZnodeResources.TitleMultifront;
}
<div class="row home-page-container">
    <div class="col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1">
        <h2>@ZnodeResources.TitleWelcome, <span>@User.Identity.GetUserName()</span></h2>
    </div>
    <div class="col-sm-12 nopadding dashboard-quick-links">
        <div class="col-sm-5 col-sm-offset-1 col-md-2">
            <a href="/Stores/Index" title=@ZnodeResources.HeaderSetup>
                <div class="link-box">
                    <i class="z-setup"></i><h3>@ZnodeResources.HeaderSetup</h3>
                    <p>@ZnodeResources.DescriptionSetup</p>
                </div>
            </a>
        </div>
        <div class="col-sm-5 col-md-2">
            <a href="/Inventory/Index" title=@ZnodeResources.HeaderInventory>
                <div class="link-box">
                    <i class="z-inventory"></i><h3>@ZnodeResources.HeaderInventory</h3>
                    <p>@ZnodeResources.DescriptionInventory</p>
                </div>
            </a>
        </div>
        <div class="col-sm-5 col-sm-offset-1 col-md-2 col-md-offset-0">
            <a href="/Marketing/Index" title=@ZnodeResources.HeaderMarketing>
                <div class="link-box">
                    <i class="z-marketing"></i><h3>@ZnodeResources.HeaderMarketing </h3>
                    <p>@ZnodeResources.DescriptionMarketing</p>
                </div>
            </a>
        </div>
        <div class="col-sm-5 col-md-2">
            <a href="/Orders/Index" title=@ZnodeResources.HeaderOrders>
                <div class="link-box">
                    <i class="z-orders"></i><h3>@ZnodeResources.HeaderOrders </h3>
                    <p>@ZnodeResources.DescriptionOrders</p>
                </div>
            </a>
        </div>
        <div class="col-sm-5 col-sm-offset-1 col-md-2 col-md-offset-0">
            <a href="/MyReports/Index" title=@ZnodeResources.HeaderReports>
                <div class="link-box">
                    <i class="z-reports"></i><h3>@ZnodeResources.HeaderReports </h3>
                    <p>@ZnodeResources.DescriptionReports</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-12 nopadding alert-container">        
        <div class="col-sm-10 col-sm-offset-1 col-md-4">
            <div class="alert-box">
                <h3>@ZnodeResources.SubHeaderAlerts </h3>
                <div class="col-sm-12 alert-msg nopadding">
                    <ul>
                        <li>
                            @Model.TotalLowInventoryThanReorder @string.Format(ZnodeResources.LabelProductLowInventory, @Model.StoreName)
                            <a href="/MyReports/Report?reportno=104" title="@ZnodeResources.LabelManageInventory" class="report-link">@ZnodeResources.LabelManageInventory </a>
                        </li>
                        <li>
                            @Model.TotalFailedLoginsToday @ZnodeResources.LabelFailedLoginAttempts
                            <div>
                                <a href="/MyReports/Report?reportno=109" title="@ZnodeResources.LabelViewActivityLog" class="report-link">@ZnodeResources.LabelViewActivityLog </a>
                            </div>
                        </li>
                    </ul>
                    <div class="col-sm-12 alert-div nopadding">
                        @ZnodeResources.DescriptionDashboardCreateMultipleStore  <a href="/Stores/List" title="@ZnodeResources.LabelClickHere">@ZnodeResources.LabelClickHere </a>
                    </div>
                    <div class="col-sm-12 alert-div nopadding">
                        @ZnodeResources.DescriptionDashboardDownloadInventory <a href="/ImportExport/List" title="@ZnodeResources.LabelClickHere">@ZnodeResources.LabelClickHere </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0">
            <div class="quick-statistics">
                <h3>@ZnodeResources.SubHeaderQuickStatistics </h3>
                <div class="quick-container">
                    <div class="col-sm-12 nopadding">
                        <p class="sales">@MvcAdminUnits.CurrencySymbol@HelperMethods.FormatPrice(@Model.YTDRevenue)</p>
                        <p class="account">@ZnodeResources.LabelTotalSalesYTD </p>
                    </div>
                    <div class="col-sm-6 nopadding">
                        <div class="sales-box">
                            <h4>@Model.TotalOrders &nbsp;<span>@ZnodeResources.LabelOrdersYTD</span></h4>
                        </div>
                    </div>
                    <div class="col-sm-6 nopadding">
                        <div class="accound-box">
                            <h4>@Model.TotalAccounts &nbsp;<span>@ZnodeResources.LabelAccountsCreatedYTD</span></h4>
                        </div>
                    </div>
                    <a href="/MyReports/Index" class="btn-text-full red" title="@ZnodeResources.LabelRunReports">@ZnodeResources.LabelRunReports </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <a href="http://www.znode.com/support/submit-a-ticket/" target="_blank" title="Click Here For Znode Support">
                <div class="banner">
                    <h3>@ZnodeResources.LabelCustomerSupport</h3>
                    <p>@ZnodeResources.CustomerSupportDetails</p>
                    <img src="~/Content/themes/base/images/dashboard-banner.png" class="img-responsive" />
                </div>
            </a>
        </div>
    </div>
</div>