﻿@model Znode.Engine.MvcAdmin.ViewModels.AttributeTypesViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
    var attributeTypeId = ViewContext.Controller.ValueProvider.GetValue("id").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@ZnodeResources.HeaderAttributeValue - @Model.Name</h1>
            <div class="pull-right">
                <button class="btn-text-icon red" onclick="javascript: location.href = '/AttributeTypes/createAttribute/@attributeTypeId';" title="@ZnodeResources.ButtonAdd"><i class="glyphicon glyphicon-plus"></i>@ZnodeResources.ButtonAdd</button>
                <button class="btn-text-icon grey" onclick="javascript: location.href = '/AttributeTypes/List';" title="@ZnodeResources.ButtonBack"><i class="z-arrow-left"></i>@ZnodeResources.ButtonBack</button>
            </div>
        </div>
        <div class="col-sm-12 list-container" id="grid">
            @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.ReportModel)
        </div>
    </div>
</div>
