﻿@model Znode.Engine.MvcAdmin.ViewModels.AttributeTypesViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (actionName.ToLower().Equals("create"))
            {
                <h1>@ZnodeResources.SubHeaderAddNewAttributeType</h1>
            }
            else
            {
                <h1>@ZnodeResources.SubHeaderEditAttributeType</h1>
            }
        }
    </div>

    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
    {
        <div class="col-sm-12 col-md-7 col-lg-6 add-new-container">
            @Html.ValidationSummary(true)
            <h4>@ZnodeResources.HeaderAttributeTypes</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Name, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.Name, new { @maxlength = 50 })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.DisplayOrder, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.DisplayOrder, new { @maxlength = 4 })
                    @Html.ValidationMessageFor(model => model.DisplayOrder)
                </div>
            </div>
            @if (actionName.ToLower().Equals("edit"))
            {
                @Html.HiddenFor(model => model.AttributeTypeId)
                @Html.HiddenFor(model => model.LocaleId)
            }
            <div class="pull-right">
                <button type="submit" class="btn-text red"> @ZnodeResources.ButtonSubmitRequest</button>
                @Html.ActionLink(ZnodeResources.ButtonCancel, "List", "AttributeTypes", new { @Class = "btn-text grey", @title = @ZnodeResources.ButtonCancel })
            </div>

        </div>
    }

</div>

