﻿@model Znode.Engine.MvcAdmin.ViewModels.AttributesViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var attributeTypeId = ViewContext.Controller.ValueProvider.GetValue("id").RawValue.ToString();

}

<div class="col-sm-12 dashboard-page-container" id="grid-container">
    <div class="col-sm-12 title-container">
        @{
            if (actionName.ToLower().Contains("create"))
            {
                <h1>@ZnodeResources.SubHeaderAddNewAttributeValue @Model.AttributeTypeName</h1>
            }
            else
            {
                <h1>@ZnodeResources.SubHeaderEditAttributeValue @Model.AttributeTypeName</h1>
            }
        }
        </div>
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
        {
            <div class="col-lg-5 col-md-7 col-sm-12 add-new-container">
                @Html.ValidationSummary(true)
                <h4>Attribute Details</h4>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.Name, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.Name, new { @maxlength = 50 })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                       @Html.LabelFor(model => model.DisplayOrder, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.DisplayOrder, new { @maxlength = 4 })
                        @Html.ValidationMessageFor(model => model.DisplayOrder)
                    </div>
                </div>
                               
                @Html.HiddenFor(model => model.AttributeId)
                @Html.HiddenFor(model => model.AttributeTypeId)
                <div class="pull-right">
                    <button type="submit" class="btn-text red"> @ZnodeResources.ButtonSubmitRequest</button>
                    <button type="button" class="btn-text grey" onclick="javascript: location.href = '/AttributeTypes/AttributeValueList/@Model.AttributeTypeId';">@ZnodeResources.ButtonCancel</button>
                </div>
                
            </div>
        }
    </div>
       
