@using System.Collections.ObjectModel
@using System.Web.Http.Description
@using System.Threading
@model Collection<ApiParameterDescription>

<table class="help-page-table">
	<thead>
		<tr>
			<th width="20%">Name</th>
			<th width="40%">Description</th>
			<th width="40%">Additional information</th>
		</tr>
	</thead>
	<tbody>
		@foreach (ApiParameterDescription parameter in Model)
		{
			var parameterDocumentation = parameter.Documentation ?? "No documentation available.";

			// Don't show CancellationToken because it's a special parameter
			if (!typeof(CancellationToken).IsAssignableFrom(parameter.ParameterDescriptor.ParameterType))
			{
				<tr>
					<td><strong>@parameter.Name</strong></td>
					<td>
						@parameterDocumentation
					</td>
					<td>
						@switch (parameter.Source)
						{
							case ApiParameterSource.FromBody:
								<p>Define this parameter in the request <strong>body</strong>.</p>
								break;
							case ApiParameterSource.FromUri:
								<p>Define this parameter in the request <strong>URI</strong>.</p>
								break;
							case ApiParameterSource.Unknown:
							default:
								<p>None.</p>
								break;
						}
					</td>
				</tr>
			}
		}
	</tbody>
</table>
