@using System.Net.Http.Headers
@model Dictionary<MediaTypeHeaderValue, object>

@{
    // Group the samples into a single tab if they are the same
    var samples = Model.GroupBy(pair => pair.Value).ToDictionary(
        pair => String.Join(", ", pair.Select(m => m.Key.ToString()).ToArray()), 
        pair => pair.Key);
		
    var mediaTypes = samples.Keys;
}

<div>
	<div id="sample-tabs">
		<ul>
			@foreach (var mediaType in mediaTypes)
			{
				if (mediaType.ToLower().Contains("json"))
				{
					<li><a href="#sample-tabs-json"><h4 class="sample-header">application/json</h4></a></li>
				}

				if (mediaType.ToLower().Contains("xml"))
				{
					<li><a href="#sample-tabs-xml"><h4 class="sample-header">application/xml</h4></a></li>
				}
			}
		</ul>
		
		@foreach (var mediaType in mediaTypes)
		{
			var sample = samples[mediaType];

			if (mediaType.ToLower().Contains("json"))
			{
				<div id="sample-tabs-json">
					<div class="sample-content">
						@Html.DisplayFor(s => sample, "JsonSample")
					</div>
				</div>
			}

			if (mediaType.ToLower().Contains("xml"))
			{
				<div id="sample-tabs-xml">
					<div class="sample-content">
						@Html.DisplayFor(s => sample, "XmlSample")
					</div>
				</div>
			}
		}
	</div>
</div>
