﻿@model Znode.Engine.MvcAdmin.ViewModels.ManageBannerViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.HeaderSetup + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (Model.IsEditMode)
            {
                <h1>@string.Format(ZnodeResources.TitleManageBanner, Model.Key)</h1>
            }
            else
            {
                <h1>@ZnodeResources.TitleCreateBanner</h1>
            }
        }
        </div>

        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
        {
            <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
                @Html.ValidationSummary(true)
                <h4>@ZnodeResources.LabelGeneralInformation</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.Label("ddlPortalList", ZnodeResources.LabelSelectStore)
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.PortalID, Model.Portal, new { @id = "ddlPortalList" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.Label("", ZnodeResources.LabelLocation)
                            <p class="sub">Use only characters a-z and 0-9. Use "-" instead of spaces.</p>
                        </div>
                        <div class="col-sm-8">
                            @if (!(Equals(Model, null)) && Model.BannerKeys.Count > 0)
                            {

                                @Html.DropDownListFor(m => m.Key, Model.BannerKeys, new { @id = "ddlBannerKeys", @Onclick = "Banner.DisplayMessageKeyTextBox(); return false;" })
                                @Html.TextBoxFor(model => model.MessageKey, new { @id = "txtMessagekey", @style = "display:None;" })
                                <div class="pull-right">
                                    <button type="button" id="btnBannerMessageKey" class="btn-text grey top-margin" style="display:none;" onclick="Banner.ClearSelection(); return false;">@ZnodeResources.ButtonCancel</button>
                                </div>
                                @Html.ValidationMessageFor(m => m.MessageKey)
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.MessageKey, new { @id = "txtMessagekey" })
                                @Html.ValidationMessageFor(m => m.MessageKey)
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.Label("txtSeoUrl", ZnodeResources.LabelSeoPageUrl)
                            <p class="sub">Use only characters a-z and 0-9. Use "-" instead of spaces. Specify a valid category / product / content page SEO URL (Ex: Nuts, Flowers)</p>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.PageSEOName, new { @id = "txtSeoUrl" })
                            @Html.ValidationMessageFor(m => m.PageSEOName)
                        </div>
                        <div class="col-sm-8">
                            <p class="sub red-color">NOTE: If you do not specify any URL, the banner will be displayed to the location mentioned</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.Label("txtDescription", ZnodeResources.LabelDescription)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Description, new { @id = "txtDescription" })
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.Label("txtBannerContent", ZnodeResources.LabelBannerContent)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.EditorFor(model => model.Value, new { @id = "txtBannerContent" })
                            @Html.ValidationMessageFor(m => m.Value)
                        </div>
                    </div>
                    <div class="form-group col-sm-8">
                        <div class="pull-right">
                            @Html.HiddenFor(m => m.Key, new { @id = "hdnMessageKey" })
                            @Html.HiddenFor(m => m.MessageID)
                            <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                            <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = '/ManageBanner/List';">@ZnodeResources.ButtonCancel</button>
                        </div>
                    </div>                
            </div>
        }
    </div>
<script src="~/Scripts/CustomScripts/Banner.js"></script>
