﻿@model Znode.Engine.MvcAdmin.ViewModels.GoogleSiteMapViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@{
    var isFirstDateChecked = true;
    var isFirstXMLSiteTypeChecked = true;
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

}
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmGoogleSiteMap", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, CancelUrl = "/Marketing/Index" };
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>@Resources.ZnodeResources.HeaderGoogleSiteMap</h1>
    </div>
    <div class="col-sm-12 search-container"><p>@Resources.ZnodeResources.TextGoogleSiteMap</p></div>
    <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmGoogleSiteMap" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <h4>@ZnodeResources.LabelGeneralInformation</h4>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.LabelFor(model => model.Frequency)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.Frequency, new SelectList(Model.FrequencyList, "Value", "Text"), new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Frequency)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.LabelFor(model => model.LastModification)
                </div>
                <div class="col-sm-8">
                    <div id="modifieddate-content">
                        <div>
                            @foreach (var ld in Model.LastModificationList)
                            {
                                <div>
                                    <label>
                                        @if (isFirstDateChecked)
                                        {
                                            <input type="radio" id="chkLastModifiedDate" name="LastModification" value="@ld.Text" checked="checked" />
                                            isFirstDateChecked = false;

                                        }
                                        else
                                        {
                                            <input type="radio" id="chkLastModifiedDate" name="LastModification" value="@ld.Text" />

                                        }
                                        <span class="lbl padding-8">@ld.Text</span>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="display:none" id="CustomDate-content">
                <div class="col-sm-8 col-sm-offset-4">
                    @Html.TextBoxFor(model => model.Date, new { @id = "DBDate" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Priority)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.Priority, new SelectList(Model.PriorityList, "Value", "Text"))
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.XMLSiteMap)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.XMLSiteMap, new SelectList(Model.XMLSiteMapList, "Value", "Text"), new { @id = "ddlXMLSiteMap", @Onchange = "GoogleSiteMap.DisplayXMLSiteMapType(); return false;" })
                </div>
            </div>
            <div class="form-group" id="rdbXMLSiteMapType">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.XMLSiteMapType)
                </div>
                <div class="col-sm-8">
                    @foreach (var item in Model.XMLSiteMapTypeList)
                    {
                    <div class="col-sm-4 nopadding">
                        <label>
                            @if (isFirstXMLSiteTypeChecked)
                                {
                                <input type="radio" name="XMLSiteMapType" value="@item.Text" checked="checked" />
                                    isFirstXMLSiteTypeChecked = false;
                                }
                                else
                                {
                                <input type="radio" name="XMLSiteMapType" value="@item.Text" />
                                }
                            <span class="lbl padding-8">@item.Text</span>
                        </label>
                    </div>
                    }
                </div>
            </div>

            <div id="GoogleFeedFields" style="display:none">
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.GoogleSiteMapFeedTitle)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.GoogleSiteMapFeedTitle)
                        @Html.ValidationMessageFor(model => model.GoogleSiteMapFeedTitle)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.GoogleSiteMapFeedLink)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.GoogleSiteMapFeedLink)
                        @Html.ValidationMessageFor(model => model.GoogleSiteMapFeedLink)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.GoogleSiteMapFeedDescription)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.GoogleSiteMapFeedDescription)
                        @Html.ValidationMessageFor(model => model.GoogleSiteMapFeedDescription)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.XMLFileName, new { @class = "required" })
                    <span class="sub">@Resources.ZnodeResources.TextXMLFileName</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.XMLFileName)
                    @Html.ValidationMessageFor(model => model.XMLFileName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label(ZnodeResources.StoresLink, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @{
                        int totalCount = Model.Stores.PortalList.Count;
                        int rowCount = Model.Stores.PortalList.Where(store => store.Item3.Equals(false)).Select(store => new Tuple<string, int, bool>
                          (store.Item1, store.Item2, store.Item3)).ToList().Count;
                        <div class="chkAllStores">
                            <label>
                                <input id="@ZnodeResources.DefaultAllStores" name="StoreList" value="0" type="checkbox" onchange="CommonHelper.ShowHideStoreList(this);">
                                <span class="lbl padding-8">@ZnodeResources.DefaultAllStores</span>
                                <input name="0" value="false" type="hidden" />
                            </label>
                        </div>

                            <div class="chkStoresList">
                                @for (int iLength = 0; iLength < Model.Stores.PortalList.Count; iLength++)
                                {
                                    <div class="col-sm-4 nopadding">
                                        <label>
                                            <input id="@Model.Stores.PortalList[iLength].Item1" name="StoreList" value="@Model.Stores.PortalList[iLength].Item2" type="checkbox" checked="@Model.Stores.PortalList[iLength].Item3">
                                            <span class="lbl padding-8 truncate" title="@Model.Stores.PortalList[iLength].Item1">@Model.Stores.PortalList[iLength].Item1</span>
                                            <input name="@Model.Stores.PortalList[iLength].Item2" value="false" type="hidden" />
                                        </label>
                                    </div>
                                }
                            </div>
                    }
                </div>
            </div>
                        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/GoogleSiteMap")
