﻿@model Znode.Engine.MvcAdmin.ViewModels.PortalProfileListViewModel

<div id="grid-container">
    <div class="pull-right">
        @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-plus'></i>" + ZnodeResources.ButtonAdd, "CreatePortalProfile", "Stores", new { @id = Model.PortalId }, new { @Class = "btn-text-icon red", @title = ZnodeResources.ButtonAdd })
    </div>

    <div class="col-sm-12 nopadding top-shift">
        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.Grid)
    </div>
</div>




