﻿@model Znode.Engine.MvcAdmin.ViewModels.PortalCountriesListViewModel

<div id="grid-container">
    <div class="col-sm-12 nopadding">
        @Html.ActionLink(ZnodeResources.ButtonAddCountryToStore, "CountryList", new { @portalId = Model.PortalId }, new { @class = "btn-text red pull-right" })
    </div>
    <div class="col-sm-12 nopadding top-shift">
        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.Grid)
    </div>
</div>

