﻿@model Znode.Engine.MvcAdmin.ViewModels.DomainListViewModel
@using Resources;
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div id="grid-container">
    @using (Ajax.BeginForm("UrlList", "Stores", new { @PortalId = Model.PortalId },
       new AjaxOptions()
       {
           HttpMethod = "post",
           UpdateTargetId = "panel2",
           InsertionMode = InsertionMode.Replace
       }))
    {
        <div class="col-sm-12 nopadding">
            <div class="col-sm-12 nopadding">
                <p class="left">@ZnodeResources.TitleStoreURL</p>
                @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-plus'></i>" + ZnodeResources.ButtonAdd, "AddUrl", "Stores", new { @id = Model.PortalId }, new { @class = "btn-text-icon red pull-right", @title = ZnodeResources.ButtonAdd })
            </div>
            <div class="col-sm-12 list-container">
                <div class="col-sm-12 nopadding">
                    @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
                </div>
            </div>

        </div>
        <div class="clearCacheConfirmationPopup"></div>
        @Html.HiddenFor(model => Model.PortalId)
    }
</div>
<script>
    $(".z-manage").attr('title', 'Clear Cache');
    $(".z-manage").addClass('z-clear-cache');
    $(".z-manage").removeClass('z-manage');

    $(document).ready(function () {
        $(".z-clear-cache").on("click", function (event) {
            var actualUrl = $(this).attr('href');
            var url = $(this).attr('href').split('=')[1].split('&')[0];
            $(".clearCacheConfirmationPopup").html('');
            $(".clearCacheConfirmationPopup").html('Are you sure to clear cache of ' + url + '?');
            if (url != undefined) {
                $(".clearCacheConfirmationPopup").dialog({
                    title: "Confirm clear cache?",
                    resizable: false,
                    modal: true,
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                            window.location = actualUrl;
                            return true;
                        },
                        "Cancel": function () {
                            $(this).dialog("close");
                        }
                    },
                    open: function (event, ui) {
                        $(".clearCacheConfirmationPopup").parent().find(" .ui-dialog-titlebar-close").hide();
                }
                });
            }
            return false;
        });
    });
</script>