﻿@model Znode.Engine.MvcAdmin.ViewModels.CountryListViewModel

@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@ZnodeResources.TitleAddCountriesToStore</h1>
        </div>

        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("CountryList", "Stores", new { portalId = Request.QueryString["portalId"] }, new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.Grid.FilterColumn)
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="pull-right bottom-shift">
                    <button type="button" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest" onclick="Portal.AddCountryToPortal(@ViewData["PortalId"])">@ZnodeResources.ButtonSubmitRequest</button>
                    @Html.ActionLink(ZnodeResources.ButtonCancel, "Manage", new { id = Model.PortalId }, new { @class = "btn-text grey ", @title = ZnodeResources.ButtonCancel })
                </div>
            </div>
            <div class="col-sm-12 nopadding country-list">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.Grid)
            </div>
            <div class="form-group">
                <div class="pull-right top-shift">
                    <button type="button" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest" onclick="Portal.AddCountryToPortal(@ViewData["PortalId"])">@ZnodeResources.ButtonSubmitRequest</button>
                    @Html.ActionLink(ZnodeResources.ButtonCancel, "Manage", new { id = Model.PortalId }, new { @class = "btn-text grey ", @title = ZnodeResources.ButtonCancel })
                </div>
            </div>
        </div>

    </div>
</div>


@Scripts.Render("~/bundles/Portal")
<script>
    $(document).ready(function () {
        Portal.loadCountryList();       
    });
</script>