﻿@model Znode.Engine.MvcAdmin.ViewModels.PortalViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

    var selectedTabMode = TempData[MvcAdminConstants.SetTabMode];

    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmStore", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, Callback = "" };
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}


@if (!Equals(@TempData["Notification"], null))
{
    <div class='MessageBox alert alert-info'><p>@TempData["Notification"]</p></div>
}
@if (!Equals(@TempData["ErrorMessage"], null))
{
    <div class='MessageBox alert alert-danger'><p>@TempData["Notification"]</p></div>
}


<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @if (actionName.ToLower().Contains("create"))
        {
            <h1 class="left">@ZnodeResources.HeaderCreateStore</h1>
        }
        else if (actionName.ToLower().Contains("edit"))
        {
            <h1 class="left">@string.Format("Manage Store - \"{0}\"", Model.StoreName)</h1>
        }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>

    </div>
    <div class="col-sm-12 add-new-item">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { enctype = "multipart/form-data", @id = "frmStore" }))
        {
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                    <h4>@ZnodeResources.LabelStoreItdentity</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.CompanyName, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.CompanyName)
                            @Html.ValidationMessageFor(m => m.CompanyName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.StoreName, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.StoreName)
                            @Html.ValidationMessageFor(m => m.StoreName)
                        </div>
                    </div>


                    @if (actionName.Equals("Create", StringComparison.InvariantCultureIgnoreCase))
                    {
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(m => m.CatalogId)
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.CatalogId, Model.Catalogs, new { @id = "ddlCatalog" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(m => m.ThemeId)
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.ThemeId, Model.Themes, new { @id = "ddlTheme", @onchange = "Portal.BindCssList('#ddlCSS','#ddlTheme','" + @ZnodeResources.ListitemSameAsStore + "')" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(m => m.CSSId)
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(m => m.CSSId, Model.CSS, new { @id = "ddlCSS" })
                            </div>
                        </div>
                    }
                    <div class="form-group" hidden>
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.LocaleId)
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.LocaleId, Model.Locales, new { @id = "ddlLocale" })
                        </div>
                    </div>
                    <h4>@ZnodeResources.HeaderStoreLogo</h4>
                    <div class="col-sm-12 nopadding">

                        @if (actionName.ToLower().Equals("editstoregeneral"))
                        {
                            <div id="logo">
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        <label>@ZnodeResources.LabelSelectAnOption</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="col-sm-6 nopadding">
                                            <label>
                                               @Html.RadioButtonFor(model => model.LogoNewImage, MvcAdminConstants.CurrentImage, new { id = "radCurrentImage", name = "select-option", onchange = "Portal.HideUploadNewImage()" })
                                                <span class="lbl padding-8"> @ZnodeResources.TextKeepImage</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-6 nopadding">
                                            <label>
                                                @Html.RadioButtonFor(model => model.LogoNewImage, MvcAdminConstants.NewImage, new { id = "radUploadNewImage", name = "select-option", onchange = "Portal.UploadNewImage()" })
                                                <span class="lbl padding-8">@ZnodeResources.TextUploadImage</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="logoImage" class="col-sm-8 col-sm-offset-4">
                                <img src="@Model.LogoPathImageName.Trim('~')" class="img-responsive" />
                            </div>
                            <div id="uploadNewImage" class="col-sm-8 col-sm-offset-4">
                                <div class="form-group">
                                    @Html.EditorFor(m => m.LogoPath)
                                </div>
                            </div>
                        }
                        else
                        {
                            <div id="uploadNewImage">
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.LogoPath, new { @class = "required" })
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.EditorFor(m => m.LogoPath)
                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                    <h4>@ZnodeResources.LabelSecurity</h4>
                    <div class="form-group bottom-shift">
                        <div class="col-sm-12 nopadding">
                            <label>
                                <input @(Model.UseSsl ? "checked='checked'" : "") id="UseSsl" name="UseSsl" type="checkbox" value="true">
                                <span class="lbl padding-8">@ZnodeResources.LabelEnableSecureSocketLayerDescription</span>
                                <input name="UseSsl" type="hidden" value="false">
                            </label>
                        </div>

                    </div>
                    <h4>@ZnodeResources.LabelStoreContactInformation</h4>
                    <p class="border-bottom left-sm-shift">@ZnodeResources.LabelUseCommaSeperatedMails </p>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.AdminEmail, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.AdminEmail)
                            @Html.ValidationMessageFor(m => m.AdminEmail)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.SalesEmail, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.SalesEmail)
                            @Html.ValidationMessageFor(m => m.SalesEmail)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    <div class="form-group item-top-shift">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.CustomerServiceEmail, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.CustomerServiceEmail)
                            @Html.ValidationMessageFor(m => m.CustomerServiceEmail)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.SalesPhoneNumber, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.SalesPhoneNumber)
                            @Html.ValidationMessageFor(m => m.SalesPhoneNumber)
                        </div>
                    </div>
                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.CustomerServicePhoneNumber, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.CustomerServicePhoneNumber)
                            @Html.ValidationMessageFor(m => m.CustomerServicePhoneNumber)
                        </div>
                    </div>

                    <h4>@ZnodeResources.LabelDefaultSettings</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.DefaultReviewStatus)
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.DefaultReviewStatus, Model.DefaultReviewStates, new { @id = "ddlDefaultReviewStatus" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.DefaultOrderStateId)
                            <p class="sub"> @ZnodeResources.LabelDefaultOrderStateDescription</p>
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.DefaultOrderStateId, Model.OrderState, new { @id = "ddlOrderState" })
                            <label>
                                <input @(Model.RequiresManualApproval ? "checked='checked'" : "") id="RequiresManualApproval" name="RequiresManualApproval" type="checkbox" value="true" onclick="Portal.SetDefaultOrderState(this,'@MvcAdminConstants.PendingApproval')">
                                <span class="lbl padding-8">Require manual approval of every order</span>
                                <input name="RequiresManualApproval" type="hidden" value="false">
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.InclusiveTax)
                        </div>
                        <div class="col-sm-8">
                            <label>
                                <input @(Model.InclusiveTax ? "checked='checked'" : "") id="InclusiveTax" name="InclusiveTax" type="checkbox" value="true">
                                <span class="lbl padding-8"></span>
                                <input name="InclusiveTax" type="hidden" value="false">
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.PersistentCartEnabled)
                        </div>
                        <div class="col-sm-8">
                            <label>
                                <input @(Model.PersistentCartEnabled ? "checked='checked'" : "") id="PersistentCartEnabled" name="PersistentCartEnabled" type="checkbox" value="true">
                                <span class="lbl padding-8"></span>
                                <input name="PersistentCartEnabled" type="hidden" value="false">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.EnableAddressValidation)
                        </div>
                        <div class="col-sm-8">
                            <label>
                                <input @(Model.EnableAddressValidation.GetValueOrDefault() ? "checked='checked'" : "") id="EnableAddressValidation" onclick="Portal.DisableValidateAddress()" name="EnableAddressValidation" type="checkbox" value="true">
                                <span class="lbl padding-8"></span>
                                <input name="EnableAddressValidation" type="hidden" value="false">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.RequireValidatedAddress)
                        </div>
                        <div class="col-sm-8">
                            <label>
                                <input @(Model.RequireValidatedAddress.GetValueOrDefault() ? "checked='checked'" : "") id="RequireValidatedAddress" name="RequireValidatedAddress" type="checkbox" value="true">
                                <span class="lbl padding-8"></span>
                                <input name="RequireValidatedAddress" type="hidden" value="false">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.EnableCustomerPricing)
                        </div>
                        <div class="col-sm-8">
                            <label>
                                <input @(Model.EnableCustomerPricing.GetValueOrDefault() ? "checked='checked'" : "") id="EnableCustomerPricing" name="EnableCustomerPricing" type="checkbox" value="true">
                                <span class="lbl padding-8"></span>
                                <input name="EnableCustomerPricing" type="hidden" value="false">
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.IsEnableCompare)
                        </div>
                        <div class="col-sm-8">
                            <label>
                                <input @(Model.IsEnableCompare ? "checked='checked'" : "") id="IsEnableCompare" name="IsEnableCompare" onchange="Portal.ShowHideProductCompare()" type="checkbox" value="true">
                                <span class="lbl padding-8" />
                                <input name="IsEnableCompare" type="hidden" value="false">
                            </label>
                        </div>
                    </div>

                    <div id="divProductCompare" class="col-sm-8 col-sm-offset-4">
                        <label>
                            @Html.RadioButtonFor(model => model.CompareType, @ZnodeResources.lblCategorylevelcompare, new { id = "rdbCategoryCompare", @checked = true })
                            <span class="lbl padding-8">@ZnodeResources.lblCategorylevelcompare</span>
                        </label><br /><br />
                        <label>
                            @Html.RadioButtonFor(model => model.CompareType, @ZnodeResources.lblGloballevelcompare, new { id = "rdbGLobalCompare" })
                            <span class="lbl padding-8">@ZnodeResources.lblGloballevelcompare</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.IsMultipleCouponCodeAllowed)
                        </div>
                        <div class="col-sm-8">
                            <label>
                                <input @(Model.IsMultipleCouponCodeAllowed ? "checked='checked'" : "") id="IsMultipleCouponCodeAllowed" name="IsMultipleCouponCodeAllowed" type="checkbox" value="true">
                                <span class="lbl padding-8"></span>
                                <input name="IsMultipleCouponCodeAllowed" type="hidden" value="false">
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.IsEnableSinglePageCheckout)
                        </div>
                        <div class="col-sm-8">
                            <label>
                                <input @(Model.IsEnableSinglePageCheckout.GetValueOrDefault() ? "checked='checked'" : "") id="IsEnableSinglePageCheckout" name="IsEnableSinglePageCheckout" type="checkbox" value="true">
                                <span class="lbl padding-8"></span>
                                <input name="IsEnableSinglePageCheckout" type="hidden" value="false">
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.DefaultProductReviewStateId)
                            <p class="sub">@ZnodeResources.LableDefaultProductReviewStateDescription</p>
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.DefaultProductReviewStateId, Model.ProductReviewState, new { @id = "ddlProductReviewState" })
                        </div>
                    </div>


                    @Html.HiddenFor(m => m.PortalId)

                </div>
            </div>
            @Html.Hidden("selectedTabMode", selectedTabMode)

        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/Portal")

<script>
    $(document).ready(function () {
        Portal.load();

        if ('@actionName.ToLower()' == "create") {
            Portal.BindCssList("#ddlCSS", "#ddlTheme", "@ZnodeResources.ListitemSameAsStore");
        }
        Portal.ShowHideLogo("@actionName");
        Portal.ShowHideMobileLogo("@actionName");
        Portal.SetRequiresManualApproval('@Model.DefaultOrderStateId', '@MvcAdminConstants.PendingApproval');
        Portal.ShowHideProductCompare();
    });
</script>
