﻿@model Znode.Engine.MvcAdmin.ViewModels.DomainViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources;
@{ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;}
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "formCreateEditStoreUrl", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}
@{
    var selectedTabMode = ViewBag.TabMode;
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @if (actionName.ToLower() == ZnodeResources.LabelEdit.ToLower())
        {

            <h1>@ZnodeResources.HeaderEditURL - @Model.OldDomainName</h1>
        }
        else
        {
            <h1>@ZnodeResources.HeaderAddNewURL</h1>
        }
    </div>
    <div class="col-sm-12 col-md-6 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @id = "formCreateEditStoreUrl" }))
        {
            string isActiveStatus = "checked='checked'";
            if (Model.DomainName != null)
            {
                isActiveStatus = (!Equals(Model, null) && Model.IsActive) ? "checked='checked'" : string.Empty;
            }
            <h4>Domain Details</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.DomainName, new { @class = "required" })
                    <p class="sub">@ZnodeResources.SubHeaderDomainDetails</p>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.DomainName)
                    @Html.ValidationMessageFor(m => m.DomainName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <label>
                        <input @isActiveStatus id="IsActive" name="IsActive" type="checkbox" value="true">
                        <span class="lbl padding-8">@ZnodeResources.LabelEnableUrl</span>
                        <input name="IsActive" type="hidden" value="false">
                    </label>
                </div>
            </div>
            @Html.HiddenFor(model => Model.PortalId)
            @Html.HiddenFor(model => Model.DomainId)
            @Html.HiddenFor(model => Model.OldDomainName)
        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
</div>
