﻿@model Znode.Engine.MvcAdmin.ViewModels.PortalViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmEditPortalProfile", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, Callback = "" };
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>@ZnodeResources.LabelSelectProfile</h1>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @id = "frmEditPortalProfile" }))
        {
            <h4>@ZnodeResources.HeaderProfileDetails</h4>
            <div class="form-group">
                <div class="col-sm-4 col-lg-3 nopadding">
                    @Html.LabelFor(m => m.PortalProfileViewModel.ProfileID, new { @class = "required" })
                </div>
                <div class="col-sm-8 col-lg-9">
                    @Html.DropDownListFor(m => m.PortalProfileViewModel.ProfileID, Model.PortalProfileViewModel.Profiles)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-lg-9 col-sm-offset-4 col-lg-offset-3">
                    <label>

                        <input @(Model.IsDefaultAnonymousProfileId ? "checked='checked'" : "") id="IsDefaultAnonymousProfileId" name="IsDefaultAnonymousProfileId" type="checkbox" value="true">
                        <span class="lbl padding-8">Is Default Anonymous Profile Id</span>
                        <input name="IsDefaultAnonymousProfileId" type="hidden" value="false">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-lg-9 col-sm-offset-4 col-lg-offset-3">
                    <label>
                        <input @(Model.IsDefaultRegisteredProfileId ? "checked='checked'" : "") id="IsDefaultRegisteredProfileId" name="IsDefaultRegisteredProfileId" type="checkbox" value="true">
                        <span class="lbl padding-8">Is Default Registered Profile Id</span>
                        <input name="IsDefaultRegisteredProfileId" type="hidden" value="false">
                    </label>
                </div>
            </div>
            <div class="form-group">

            </div>
            @Html.HiddenFor(m => m.PortalId)
        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
</div>
