﻿@model Znode.Engine.MvcAdmin.ViewModels.PortalViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmEditUnits", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, Callback = "" };
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}



    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1>Edit Unit Settings for - @Model.StoreName</h1>
        </div>  
        <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
@using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @id = "frmEditUnits" }))
{
            <h4>@ZnodeResources.LabelUnitSettings</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.WeightUnit)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.WeightUnit, Model.WeightUnits)
                </div>
            </div>
            <div class="form-group border-bottom">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.DimensionUnit)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.DimensionUnit, Model.DimensionUnits)
                </div>
            </div>
            <h4>@ZnodeResources.LabelCurrencySettings</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.CurrencyTypeId)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.CurrencyTypeId, Model.CurrencyTypes, new { @id = "ddlCurrencyType", @onchange = "Portal.BindCurrencyInfo(ddlCurrencyType,txtCurrencySuffix,lblCurrencyPreview)" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label("Currency Suffix")
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.CurrencySuffix, Model.CurrencySuffix, new { @id = "txtCurrencySuffix" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label(@ZnodeResources.LabelPreview)                    
                </div>
                <div class="col-sm-8">
                    <span id="lblCurrencyPreview">@Model.CurrencyPreview</span>
                </div>
            </div>
    @Html.HiddenFor(m => m.PortalId)
}          
            <div class="col-sm-12 nopadding">
                <div class="pull-right">
                    @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
                </div>
            </div>
        </div>
        
    </div>



@Scripts.Render("~/bundles/Portal")
<script>
    $(document).ready(function () {
        Portal.BindCurrencyInfo(ddlCurrencyType, txtCurrencySuffix, lblCurrencyPreview)
    });   
</script>