﻿@model Znode.Engine.MvcAdmin.ViewModels.PortalCatalogViewModel
@using Znode.Engine.MvcAdmin.ViewModels;

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmEditPortalCatalog", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, Callback = "" };
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}




<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>@ZnodeResources.LabelAssociateCatalogToStore @Model.Portal.StoreName</h1>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @id = "frmEditPortalCatalog" }))
        {
            <h4>@Model.Portal.StoreName Details</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.CatalogId)

                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.CatalogId, Model.Portal.Catalogs)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.ThemeId)

                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.ThemeId, Model.Portal.Themes, new { @id = "ddlTheme", @onchange = "Portal.BindCssList('#ddlCSS','#ddlTheme','" + @ZnodeResources.ListitemSameAsStore + "')" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.CssId)

                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(m => m.CssId, Model.Portal.CSS, new { @id = "ddlCSS" })
                </div>
            </div>

            @Html.HiddenFor(m => m.PortalCatalogId)
            @Html.HiddenFor(m => m.PortalId)
            @Html.HiddenFor(m => m.LocaleId)
        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
</div>




@Scripts.Render("~/bundles/Portal")
<script>
    $(document).ready(function () {
        Portal.BindCssList("#ddlCSS", "#ddlTheme","@ZnodeResources.ListitemSameAsStore");
    });
</script>