﻿@model Znode.Engine.MvcAdmin.ViewModels.PortalViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmEditSMTP", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, Callback = "" };
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>Edit SMTP Settings for - @Model.StoreName</h1>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-5 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @id = "frmEditSMTP" }))
        {
            <h4>@ZnodeResources.LabelSMTPSettings</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.SmtpPort)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.SmtpPort)
                    @Html.ValidationMessageFor(m => m.SmtpPort)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.SmtpServer)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.SmtpServer)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.SmtpUsername)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.SmtpUsername)
                    @Html.HiddenFor(m => m.SmtpUsername, new { @id = "smtpUsername" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.SmtpPassword)

                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.SmtpPassword, new { @type = "password" })
                    @Html.HiddenFor(m => m.SmtpPassword, new { @id = "smtpPassword" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.EnableSslForSmtp)
                    <p class="sub">@ZnodeResources.SubTextEnableGmailSMTP</p>
                </div>
                <div class="col-sm-8">
                    <label>
                        <input @(Model.EnableSslForSmtp ? "checked='checked'" : "") id="EnableSslForSmtp" name="EnableSslForSmtp" type="checkbox" value="true">
                        <span class="lbl padding-8"></span>
                    </label>
                </div>
            </div>

            @Html.HiddenFor(m => m.PortalId)
        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
</div>



@Scripts.Render("~/bundles/Portal")
<script>
    $(document).ready(function () {
        Portal.ResetUserNamePasswordSMTP();
    });
</script>