﻿@model Znode.Engine.MvcAdmin.ViewModels.PortalViewModel
@using Resources;
@using Znode.Engine.MvcAdmin.ViewModels;
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmEditShipping", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, Callback = "" };
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}



<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1 class="left">Edit Shipping Settings for - @Model.StoreName</h1>
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
    <div class="col-sm-12 add-new-item">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @id = "frmEditShipping" }))
        {
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                    <h4>@ZnodeResources.LabelShippingOrigin</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.ShippingOriginAddress1)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.ShippingOriginAddress1)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.ShippingOriginAddress2)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.ShippingOriginAddress2)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.ShippingOriginCity)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.ShippingOriginCity)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.ShippingOriginStateCode)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.ShippingOriginStateCode)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.ShippingOriginZipCode)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.ShippingOriginZipCode)
                            @Html.ValidationMessageFor(m=>m.ShippingOriginZipCode)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.ShippingOriginCountryCode)
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.ShippingOriginCountryCode, Model.Countries)
                        </div>
                    </div>
                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.ShippingOriginPhoneNumber)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.ShippingOriginPhoneNumber)
                            @Html.ValidationMessageFor(m => m.ShippingOriginPhoneNumber)
                        </div>
                    </div>
                    <h4>@ZnodeResources.LabelFedex</h4>
                    <p class="bottom-shift left-sm-shift">@ZnodeResources.DescriptionFedex </p>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.FedExAccountNumber)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.FedExAccountNumber)
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.FedExMeterNumber)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.FedExMeterNumber)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    <div class="form-group item-top-shift">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.FedExProductionKey)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.FedExProductionKey)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.FedExSecurityCode)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.FedExSecurityCode)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.FedExDropoffType)
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.FedExDropoffType, Model.FedexDropOffTypes)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.FedExPackagingType)
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.FedExPackagingType, Model.PackagingTypes)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <label>
                                <input @(Model.FedExUseDiscountRate.GetValueOrDefault() ? "checked='checked'" : "") id="FedExUseDiscountRate" name="FedExUseDiscountRate" type="checkbox" value="true">
                                <span class="lbl padding-8">@ZnodeResources.LabelUseFedexDiscountRate</span>
                                <input name="FedExUseDiscountRate" type="hidden" value="false">
                            </label>
                        </div>
                    </div>

                    <div class="form-group border-bottom">
                        <div class="col-sm-8 col-sm-offset-4">
                            <label>
                                <input @(Model.FedExAddInsurance.GetValueOrDefault() ? "checked='checked'" : "") id="FedExAddInsurance" name="FedExAddInsurance" type="checkbox" value="true">
                                <span class="lbl padding-8">@ZnodeResources.LabelAddInsuarence</span>
                                <input name="FedExAddInsurance" type="hidden" value="false">
                            </label>
                        </div>
                    </div>
                    <h4>@ZnodeResources.LabelUPS</h4>
                    <p class="bottom-shift left-sm-shift">@ZnodeResources.LabelUPSDescription</p>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.UpsUsername)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.UpsUsername)
                            @Html.HiddenFor(m => m.UpsUsername, new { @id = "hiddenUpsUserName" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.UpsPassword)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.UpsPassword, new { type = "password" })
                            @Html.HiddenFor(m => m.UpsUsername, new { @id = "hiddenUpsUserName" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.UpsKey)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.UpsKey)
                        </div>
                    </div>

                    @Html.HiddenFor(m => m.PortalId)
                </div>
            </div>
        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>

</div>




@Scripts.Render("~/bundles/Portal")
<script>
    $(document).ready(function () {
        Portal.ResetUserNamePassword();
    });
</script>
