﻿@model Znode.Engine.MvcAdmin.ViewModels.PortalViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmEditJavascript", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, Callback = "" };
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}
@using Resources;


<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>Edit Javascript code for - @Model.StoreName</h1>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-5 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @id = "frmEditJavascript" }))
        {
            <h4>@ZnodeResources.TabJavaScript</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.SiteWideTopJavascript)
                    <p class="sub">
                        @ZnodeResources.DescriptionSiteWideJavacriptTop
                    </p>
                </div>
                <div class="col-sm-8">
                    @Html.TextAreaFor(m => m.SiteWideTopJavascript, new { @rows = "8", @class = "AllowHtml" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.SiteWideBottomJavascript)
                    <p class="sub">
                        @ZnodeResources.DescriptionSiteWideJavaScriptBottom
                    </p>
                </div>
                <div class="col-sm-8">
                    @Html.TextAreaFor(m => m.SiteWideBottomJavascript, new { @rows = "8", @class = "AllowHtml" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.SiteWideAnalyticsJavascript)
                    <p class="sub">@ZnodeResources.DescriptionSiteWideJavaScriptExceptOrderReceiptPage</p>
                </div>
                <div class="col-sm-8">
                    @Html.TextAreaFor(m => m.SiteWideAnalyticsJavascript, new { @rows = "8", @class = "AllowHtml" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.OrderReceiptAffiliateJavascript)
                    <p class="sub"> @ZnodeResources.DescriptionOrderReceiptJavascript</p>
                </div>
                <div class="col-sm-8">
                    @Html.TextAreaFor(m => m.OrderReceiptAffiliateJavascript, new { @rows = "8", @class = "AllowHtml" })
                </div>
            </div>
            @Html.HiddenFor(m => m.PortalId)

        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
</div>
