﻿@model Znode.Engine.MvcAdmin.ViewModels.PortalViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmEditDisplay", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, Callback = "" };
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
}



<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1 class="left">Edit Display Settings for - @Model.StoreName</h1>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 add-new-container manage-display">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { enctype = "multipart/form-data", @id = "frmEditDisplay" }))
        {
            <h4>@ZnodeResources.LabelProductGridSettings</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.MaxCatalogDisplayColumns, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.MaxCatalogDisplayColumns)
                    @Html.ValidationMessageFor(m => m.MaxCatalogDisplayColumns)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.MaxCatalogCategoryDisplayThumbnails, new { @class = "required" })
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.MaxCatalogCategoryDisplayThumbnails)
                    @Html.ValidationMessageFor(m => m.MaxCatalogCategoryDisplayThumbnails)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.UseDynamicDisplayOrder)
                </div>
                <div class="col-sm-8">
                    <label>
                        <input @(Model.UseDynamicDisplayOrder.GetValueOrDefault() ? "checked='checked'" : "") id="UseDynamicDisplayOrder" name="UseDynamicDisplayOrder" type="checkbox" value="true">
                        <span class="lbl padding-8">@ZnodeResources.LabelPopularProductsOnTop</span>
                        <input name="UseDynamicDisplayOrder" type="hidden" value="false">
                    </label>
                </div>
            </div>
            <h4>@ZnodeResources.LabelAutoImageResizeSettings</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.MaxCatalogItemLargeWidth, new { @class = "required" })
                </div>
                <div class="col-sm-8 right-inner-icon">
                    @Html.TextBoxFor(m => m.MaxCatalogItemLargeWidth)
                    @Html.ValidationMessageFor(m => m.MaxCatalogItemLargeWidth)
                    <i class="unit-text">pixels</i>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.MaxCatalogItemMediumWidth, new { @class = "required" })
                </div>
                <div class="col-sm-8 right-inner-icon">
                    @Html.TextBoxFor(m => m.MaxCatalogItemMediumWidth)
                    @Html.ValidationMessageFor(m => m.MaxCatalogItemMediumWidth)
                    <i class="unit-text">pixels</i>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.MaxCatalogItemSmallWidth, new { @class = "required" })
                </div>
                <div class="col-sm-8 right-inner-icon">
                    @Html.TextBoxFor(m => m.MaxCatalogItemSmallWidth)
                    @Html.ValidationMessageFor(m => m.MaxCatalogItemSmallWidth)
                    <i class="unit-text">pixels</i>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.MaxCatalogItemCrossSellWidth, new { @class = "required" })
                </div>
                <div class="col-sm-8 right-inner-icon">
                    @Html.TextBoxFor(m => m.MaxCatalogItemCrossSellWidth)
                    @Html.ValidationMessageFor(m => m.MaxCatalogItemCrossSellWidth)
                    <i class="unit-text">pixels</i>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 colon nopadding required">
                    @Html.LabelFor(m => m.MaxCatalogItemThumbnailWidth)
                </div>
                <div class="col-sm-8 right-inner-icon">
                    @Html.TextBoxFor(m => m.MaxCatalogItemThumbnailWidth)
                    @Html.ValidationMessageFor(m => m.MaxCatalogItemThumbnailWidth)
                    <i class="unit-text">pixels</i>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(m => m.MaxCatalogItemSmallThumbnailWidth, new { @class = "required" })
                </div>
                <div class="col-sm-8 right-inner-icon">
                    @Html.TextBoxFor(m => m.MaxCatalogItemSmallThumbnailWidth)
                    @Html.ValidationMessageFor(m => m.MaxCatalogItemSmallThumbnailWidth)
                    <i class="unit-text">pixels</i>
                </div>
            </div>
            <div class="form-group">
                <h4>@ZnodeResources.LabelDefaultProductImage</h4>
                <div id="displayDefaultImage">
                    <span class="sub">@ZnodeResources.LabelDefaultProductImageDescription</span>
                    <div class="form-group top-shift">
                        <div id="defaultImage" class="col-sm-4 nopadding">
                            <img src="@Model.ImageNotAvailablePathUrl.Trim('~')" class="img-responsive" />
                        </div>
                        <div class="col-sm-8">
                            <div class="col-lg-12 nopadding">
                                <label>
                                    @Html.RadioButtonFor(model => model.NoImageNewImage, MvcAdminConstants.CurrentImage, new { id = "radCurrentImageDisplay", name = "select-option", onchange = "Portal.HideUploadNewImageDisplay()" })
                                    <span class="lbl padding-8">@ZnodeResources.TextKeepImage</span>
                                </label>
                            </div>
                            <div class="col-lg-12 nopadding">
                                <label>
                                    @Html.RadioButtonFor(model => model.NoImageNewImage, MvcAdminConstants.NewImage, new { id = "radUploadNewImageDisplay", name = "select-option", onchange = "Portal.UploadNewImageDisplay()" })
                                    <span class="lbl padding-8"> @ZnodeResources.TextUploadImage</span>
                                </label>
                            </div>
                            <div id="uploadNewImageDisplay">
                                <div class="col-sm-12 top-shift nopadding">
                                    @Html.EditorFor(m => m.ImageNotAvailablePath)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            @Html.HiddenFor(m => m.PortalId)
        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>

</div>



@Scripts.Render("~/bundles/Portal")
<script>
    $(document).ready(function () {
        Portal.ShowHideLogoDisplay();
    });
</script>