﻿@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}

<div class="dashboard-page-container">
    <div class="col-sm-12">
        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
            <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                <h4>@ZnodeResources.StorefrontHeader</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-store"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Stores/List">@ZnodeResources.LabelStores</a>
                        <p>@ZnodeResources.StorefrontDescription</p>
                    </div>                    
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-catalog"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Catalog/List">@ZnodeResources.CatalogsLink</a>
                        <p>@ZnodeResources.CatalogDescription</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-category"> </i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Category/List">@ZnodeResources.TabSEOCategory</a>
                        <p>@ZnodeResources.CategoriesDescription</p>
                    </div>
                </div>
                <h4>@ZnodeResources.CheckoutHeader</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="glyphicon glyphicon-credit-card"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Payment/List">@ZnodeResources.PaymentsLink</a>
                        <p>@ZnodeResources.PaymentOptionDescription</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-truck"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Shipping/List">@ZnodeResources.HeaderShipping</a>
                        <p>@ZnodeResources.ShippingDescription</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-taxes"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Tax/List">@ZnodeResources.TaxesLink</a>
                        <p>@ZnodeResources.SubHeaderTaxClass</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
            <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                <h4>@ZnodeResources.ContentHeader</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-managemessages"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/ManageMessage/List">@ZnodeResources.HeaderManageMessages</a>
                        <p>@ZnodeResources.ManageMessagesDescription</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-managebanners"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/ManageBanner/List">@ZnodeResources.HeaderManageBanner</a>
                        <p>@ZnodeResources.ManageBannersDescription</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-managecontent"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/ContentPage/List">@ZnodeResources.ManageContentPagesLink</a>
                        <p>@ZnodeResources.ManageContentPagesDescription</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-managebanners"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/ManageTheme/List">Manage Themes</a>
                        <p>@ZnodeResources.ThemeDescription</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-managebanners"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/ManageCSS/List">Manage CSS</a>
                        <p>@ZnodeResources.CSSDescription</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
