﻿@model Znode.Engine.MvcAdmin.Models.ReportModel

@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">
                @ZnodeResources.ManageStoresHeading
                <a><i class="glyphicon glyphicon-question-sign help" data-toggle="tooltip" data-placement="bottom" data-original-title="@ZnodeResources.PopUpStoreInformation"></i> </a>
            </h1>
            @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-plus'></i>" + ZnodeResources.ButtonAdd, "Create", "Stores", null, new { @class = "btn-text-icon red pull-right", @title = ZnodeResources.ButtonAdd })
        </div>
        <div class="col-sm-12 search-container">
            <p class="left">@ZnodeResources.StorefrontDescription</p>
        </div>
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("List", "Stores", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.FilterColumn)
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-12 list-container">
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
            </div>
        </div>

    </div>
</div>

<div class="popover-content hide">
    @ZnodeResources.PopUpStoreInformation
</div>
@Scripts.Render("~/bundles/Portal")
<script>
    $(document).ready(function () {
        Portal.AddPreviewUrl();
        toggleMessage = '<p>Please confirm if you want to delete the selected store. This change cannot be undone.</p><p>This includes the following items for this store:</p><ul><li>Orders</li><li>Account Payments</li><li>Tax Rule Associations</li><li>Store Tracking Events</li><li>Case Requests</li><li>Content Pages</li><li>Store Information</li></ul>';
        toggleTitle = 'Please Confirm';
        $(".z-view").attr('title', 'Preview')
    });
</script>
