﻿@model Znode.Engine.MvcAdmin.ViewModels.PortalViewModel
@using Resources;


@{
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@{
    var selectedTabMode = TempData[MvcAdminConstants.SetTabMode];
}
<div class="col-sm-12 dashboard-page-container">
    @if (!Equals(@TempData["Notification"], null))
    {
        <div class='MessageBox alert alert-info'><p>@TempData["Notification"]</p></div>
    }
    @if (!Equals(@TempData["ErrorMessage"], null))
    {
        <div class='MessageBox alert alert-danger'><p>@TempData["Notification"]</p></div>
    }
    <div class="col-sm-12 title-container bottom-shift">
        <h1 class="left">@ZnodeResources.LabelManageStores @Model.StoreName</h1>
        @Html.ActionLinkAuthorized("<i class='z-arrow-left'></i>" + ZnodeResources.ButtonBack, "List", controllerName, null, new { @id = "redirect-back", @Class = "btn-text-icon grey pull-right", @title = ZnodeResources.ButtonBack })
    </div>

    <div class="col-sm-12 nopadding">
        <div class="manage-stores-container">
            <div class="tab-container">
                <ul id="myTab" class="nav nav-tabs">
                    <li><a href="#panel-1" data-toggle="tab" class="tabs" id="store-general">@ZnodeResources.TabGeneral</a></li>
                    <li><a href="/Stores/CatalogList" id="store-catalog" data-queryparam="portalId=@Model.PortalId" data-targetitemid="panel2" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabCatalog</a></li>
                    <li><a href="/Stores/UrlList" id="store-url" data-queryparam="portalId=@Model.PortalId" data-targetitemid="panel2" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabUrl</a></li>
                    <li><a href="/Stores/PortalProfileList" id="store-profile" data-queryparam="portalId=@Model.PortalId" data-targetitemid="panel2" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabProfile</a></li>
                    <li><a href="#panel-5" data-toggle="tab" id="store-display" class="tabs">@ZnodeResources.TabDisplay</a></li>
                    <li><a href="#panel-6" data-toggle="tab" id="store-units" class="tabs">@ZnodeResources.TabUnits</a></li>
                    <li><a href="/Stores/PortalCountryList" id="store-countries" data-queryparam="portalId=@Model.PortalId" data-targetitemid="panel2" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabCountries</a></li>
                    <li><a href="#panel-8" data-toggle="tab" id="store-shipping" class="tabs">@ZnodeResources.TabShipping</a></li>
                    <li><a href="#panel-9" data-toggle="tab" id="store-javaScript" class="tabs">@ZnodeResources.TabJavaScript</a></li>
                    <li><a href="#panel-10" data-toggle="tab" id="store-smtp" class="tabs">@ZnodeResources.TabSMTP</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="panel-1">
                        <div class="col-sm-12 nopadding">
                            @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-pencil'></i>" + ZnodeResources.ButtonEdit, "EditStoreGeneral", controllerName, new { id = Model.PortalId }, new { @Class = "btn-text-icon red pull-right", @title = ZnodeResources.ButtonEdit })
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                            <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                                <h4>@ZnodeResources.LabelStoreItdentity</h4>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.CompanyName)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.CompanyName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.StoreName)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.StoreName)
                                    </div>
                                </div>
                                <div class="form-group hidden">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.CatalogId)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.CatalogName.ToString())
                                    </div>
                                </div>
                                <div class="form-group hidden">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.ThemeId)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.ThemeName)
                                    </div>
                                </div>
                                <div class="form-group hidden">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.CSSId)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.CSSName)
                                    </div>
                                </div>
                                <div class="form-group hidden">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.LocaleId)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.LocaleDescription)
                                    </div>
                                </div>
                                <div class="form-group border-bottom">
                                    <div class="col-sm-4 nopadding">
                                        @Html.Label(ZnodeResources.LabelStoreLogoImage)
                                    </div>
                                    <div class="col-sm-8">
                                        <img src="@Model.LogoPathImageName.Trim('~')" class="img-responsive" />
                                    </div>
                                </div>
                                <h4>@ZnodeResources.LabelSecurity</h4>
                                <div class="form-group border-bottom">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.UseSsl)
                                    </div>
                                    <div class="col-sm-8 red-color label-background">
                                        <i class="@HelperMethods.GetCheckMark(@Model.UseSsl)"></i>
                                    </div>
                                </div>
                                <h4>@ZnodeResources.LabelStoreContactInformation</h4>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.AdminEmail)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Raw(Model.AdminEmail)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.SalesEmail)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Raw(Model.SalesEmail)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                            <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                                <div class="form-group item-top-shift">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.CustomerServiceEmail)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Raw(Model.CustomerServiceEmail)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.SalesPhoneNumber)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.SalesPhoneNumber)
                                    </div>
                                </div>
                                <div class="form-group border-bottom">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.CustomerServicePhoneNumber)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.CustomerServicePhoneNumber)
                                    </div>
                                </div>
                                <h4>@ZnodeResources.LabelDefaultSettings</h4>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.DefaultReviewStatus)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Raw(Model.DefaultReviewStatusName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.DefaultOrderStateId)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Convert.ToString(Model.DefaultOrderStateName))
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.PersistentCartEnabled)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        <i class="@HelperMethods.GetCheckMark(@Model.PersistentCartEnabled)"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.InclusiveTax)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        <i class="@HelperMethods.GetCheckMark(@Model.InclusiveTax)"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.EnableAddressValidation)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        <i class="@HelperMethods.GetCheckMark(@Model.EnableAddressValidation.GetValueOrDefault(false))"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.RequireValidatedAddress)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        <i class="@HelperMethods.GetCheckMark(@Model.RequireValidatedAddress.GetValueOrDefault(false))"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.EnableCustomerPricing)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        <i class="@HelperMethods.GetCheckMark(@Model.EnableCustomerPricing.GetValueOrDefault(false))"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.IsEnableCompare)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        <i class="@HelperMethods.GetCheckMark(@Model.IsEnableCompare)"></i>
                                    </div>
                                </div>
                                @if (Model.IsEnableCompare)
                                {
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(m => m.CompareType)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(Model.CompareType)
                                        </div>
                                    </div>
                                }
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.IsMultipleCouponCodeAllowed)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        <i class="@HelperMethods.GetCheckMark(@Model.IsMultipleCouponCodeAllowed)"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.IsEnableSinglePageCheckout)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        <i class="@HelperMethods.GetCheckMark(@Model.IsEnableSinglePageCheckout.GetValueOrDefault(false))"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(m => m.DefaultProductReviewStateId)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.DefaultProductReviewStateName.ToString())
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="panel2">

                    </div>

                    <div class="tab-pane fade" id="panel-5">
                        <div class="col-sm-12 nopadding">
                            @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-pencil'></i>" + ZnodeResources.ButtonEdit, "EditStoreDisplay", controllerName, new { id = Model.PortalId }, new { @Class = "btn-text-icon red pull-right", @title = ZnodeResources.ButtonEdit })
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                            <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                                <h4>@ZnodeResources.LabelProductGridSettings</h4>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.MaxCatalogDisplayColumns)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.MaxCatalogDisplayColumns.ToString())
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.MaxCatalogCategoryDisplayThumbnails)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.MaxCatalogCategoryDisplayThumbnails.ToString())
                                    </div>
                                </div>
                                <div class="form-group border-bottom">
                                    <div class="col-sm-4 colon nopadding">
                                        @ZnodeResources.LabelPopularProductsOnTop?
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        <i class="@HelperMethods.GetCheckMark(@Model.UseDynamicDisplayOrder.GetValueOrDefault())"></i>
                                    </div>
                                </div>
                                <h4>@ZnodeResources.LabelDefaultProductImage</h4>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.ImageNotAvailablePath)
                                    </div>
                                    <div class="col-sm-8">
                                        <img src="@Model.ImageNotAvailablePathUrl.Trim('~')" class="img-responsive" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                            <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                                <h4>@ZnodeResources.LabelAutoImageResizeSettings</h4>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.MaxCatalogItemLargeWidth)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.MaxCatalogItemLargeWidth.ToString())
                                        <span class="display-unit">@ZnodeResources.LabelPixel</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.MaxCatalogItemMediumWidth)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.MaxCatalogItemMediumWidth.ToString())
                                        <span class="display-unit">@ZnodeResources.LabelPixel</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.MaxCatalogItemSmallWidth)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.MaxCatalogItemSmallWidth.ToString())
                                        <span class="display-unit">@ZnodeResources.LabelPixel</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.MaxCatalogItemCrossSellWidth)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.MaxCatalogItemCrossSellWidth.ToString())
                                        <span class="display-unit">@ZnodeResources.LabelPixel</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.MaxCatalogItemThumbnailWidth)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.MaxCatalogItemThumbnailWidth.ToString())
                                        <span class="display-unit">@ZnodeResources.LabelPixel</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.MaxCatalogItemSmallThumbnailWidth)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.MaxCatalogItemSmallThumbnailWidth.ToString())
                                        <span class="display-unit">@ZnodeResources.LabelPixel</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="panel-6">
                        <div class="col-sm-12 nopadding">
                            @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-pencil'></i>" + ZnodeResources.ButtonEdit, "EditStoreUnits", controllerName, new { id = Model.PortalId }, new { @Class = "btn-text-icon red pull-right", @title = ZnodeResources.ButtonEdit })
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-5 item-list">
                            <h4>@ZnodeResources.LabelUnitSettings</h4>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(m => m.WeightUnit)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Label(Model.WeightUnit)
                                </div>
                            </div>
                            <div class="form-group border-bottom">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(m => m.DimensionUnit)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Label(Model.DimensionUnit)
                                </div>
                            </div>

                            <h4>@ZnodeResources.LabelCurrencySettings</h4>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.Label(ZnodeResources.LabelPreview)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(Model.CurrencyPreview.ToString())
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="panel-8">
                        <div class="col-sm-12 nopadding">
                            @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-pencil'></i>" + ZnodeResources.ButtonEdit, "EditStoreShipping", controllerName, new { id = Model.PortalId }, new { @Class = "btn-text-icon red pull-right", @title = ZnodeResources.ButtonEdit })
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                            <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                                <h4>@ZnodeResources.LabelShippingOrigin</h4>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.ShippingOriginAddress1)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.ShippingOriginAddress1)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.ShippingOriginAddress2)

                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label((Model.ShippingOriginAddress2))
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.ShippingOriginCity)

                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.ShippingOriginCity)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.ShippingOriginStateCode)

                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.ShippingOriginStateCode)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.ShippingOriginZipCode)

                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.ShippingOriginZipCode)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.ShippingOriginCountryCode)

                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.ShippingOriginCountryCode)
                                    </div>
                                </div>
                                <div class="form-group border-bottom">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.ShippingOriginPhoneNumber)

                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.ShippingOriginPhoneNumber)
                                    </div>
                                </div>
                                <h4>@ZnodeResources.LabelFedex</h4>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.FedExAccountNumber)

                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.FedExAccountNumber)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.FedExMeterNumber)

                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.FedExMeterNumber)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.FedExProductionKey)

                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.FedExProductionKey)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.FedExSecurityCode)

                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.FedExSecurityCode)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">

                                        @Html.LabelFor(m => m.FedExDropoffType)

                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.FedExDropoffType)
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                            <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                                <div class="form-group item-top-shift">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.FedExPackagingType)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.FedExPackagingType)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.FedExUseDiscountRate)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        <i class="@HelperMethods.GetCheckMark(Model.FedExUseDiscountRate.Value)"></i>
                                    </div>
                                </div>
                                <div class="form-group border-bottom">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.FedExAddInsurance)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        <i class="@HelperMethods.GetCheckMark(Model.FedExAddInsurance.Value)"></i>
                                    </div>
                                </div>
                                <h4>@ZnodeResources.LabelUPS</h4>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.UpsUsername)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.UpsUsername)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.UpsPassword)
                                        @{
                                            string upsPassword = Model.UpsPassword.Trim().Length > 0 ? new string('*', Model.UpsPassword.Length) : string.Empty;
                                        }
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(upsPassword)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 colon nopadding">
                                        @Html.LabelFor(m => m.UpsKey)
                                    </div>
                                    <div class="col-sm-8 label-background">
                                        @Html.Label(Model.UpsKey)
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="panel-9">

                        <div class="col-sm-12 nopadding">
                            <p class="left"> @ZnodeResources.LabelJavascriptDescription</p>
                            @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-pencil'></i>" + ZnodeResources.ButtonEdit, "EditStoreJavaScript", controllerName, new { id = Model.PortalId }, new { @Class = "btn-text-icon red pull-right", @title = ZnodeResources.ButtonEdit })
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                            <h4>@ZnodeResources.LabelJavascript</h4>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(m => m.SiteWideTopJavascript)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(Html.Encode(Model.SiteWideTopJavascript))
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(m => m.SiteWideBottomJavascript)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(Html.Encode(Model.SiteWideBottomJavascript))
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(m => m.SiteWideAnalyticsJavascript)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(Html.Encode(Model.SiteWideAnalyticsJavascript))
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(m => m.OrderReceiptAffiliateJavascript)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(Html.Encode(Model.OrderReceiptAffiliateJavascript))
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="panel-10">
                        <div class="col-sm-12 nopadding">
                            @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-pencil'></i>" + ZnodeResources.ButtonEdit, "EditStoreSMTP", controllerName, new { id = Model.PortalId }, new { @Class = "btn-text-icon red pull-right", @title = ZnodeResources.ButtonEdit })
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                            <h4>@ZnodeResources.LabelSMTPSettings</h4>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(m => m.SmtpPort)

                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Label(Equals(Model.SmtpPort, null) ? string.Empty : Model.SmtpPort.GetValueOrDefault().ToString())
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(m => m.SmtpServer)
                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(Model.SmtpServer)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(m => m.SmtpUsername)

                                </div>
                                <div class="col-sm-8 label-background">
                                    @Html.Raw(Model.SmtpUsername)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 colon nopadding">
                                    @Html.LabelFor(m => m.SmtpPassword)
                                    @{
                                        string smtpPassword = Model.SmtpPassword.Trim().Length > 0 ? new string('*', Model.SmtpPassword.Length) : string.Empty;
                                    }
                                </div>
                                <div class="col-sm-8 label-background red-color">
                                    @Html.Raw(smtpPassword)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 nopadding">
                                    @Html.LabelFor(m => m.EnableSslForSmtp)
                                </div>
                                <div class="col-sm-8 label-background">
                                    <i class="@HelperMethods.GetCheckMark(@Model.EnableSslForSmtp)"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/Portal")
