﻿@model Znode.Engine.MvcAdmin.ViewModels.ReasonForReturnViewModel
@using Znode.Engine.MvcAdmin.Helpers
@using Resources
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue(MvcAdminConstants.Action).RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values[MvcAdminConstants.Controller].ToString();
}

@using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
{
    <div class="col-sm-12 add-new-container nopadding">
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.LabelFor(model => model.Reason)
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Reason, new { required = "required" })
                @Html.ValidationMessageFor(model => model.Reason, ZnodeResources.RequiredName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.LabelFor(model => model.IsEnabled)
            </div>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.IsEnabled, new List<SelectListItem>{
                            new SelectListItem{Text = ZnodeResources.TextYes,Value = MvcAdminConstants.LabelYes},
                            new SelectListItem{Text = ZnodeResources.TextNo,Value = MvcAdminConstants.LabelNo}
                   }, new { @id = "ddlIsEnabled" })
            </div>
        </div>
        <div class="form-group">
            <div class="pull-right">
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="RMAConfiguration.CloseReasonForReturn();">@ZnodeResources.ButtonCancel</button>
            </div>
        </div>

    </div>
    @Html.HiddenFor(model => model.ReasonForReturnId)
}