﻿@model Znode.Engine.MvcAdmin.ViewModels.RequestStatusViewModel
@using Znode.Engine.MvcAdmin.Helpers
@using Resources
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue(MvcAdminConstants.Action).RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values[MvcAdminConstants.Controller].ToString();
}
@using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
{
    <div class="col-sm-12 col-md-12 col-lg-12 add-new-container nopadding">
        <h4>@ZnodeResources.LabelRMAStatusDetails</h4>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.Name, new { @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.LabelFor(model => model.CustomerNotification)
            </div>
            <div class="col-sm-8">
                @Html.TextAreaFor(model => model.CustomerNotification)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.LabelFor(model => model.AdminNotification)
            </div>
            <div class="col-sm-8">
                @Html.TextAreaFor(model => model.AdminNotification)
            </div>
        </div>
        <div class="form-group">
            <div class="pull-right">
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>                
                <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="RMAConfiguration.CloseRequestStatus();">@ZnodeResources.ButtonCancel</button>
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.RequestStatusID)
}
@Scripts.Render("~/bundles/RMAConfiguration")