﻿@model Znode.Engine.MvcAdmin.ViewModels.RMAConfigurationViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Znode.Engine.MvcAdmin.Helpers
@using Resources
@{
    string controllerName = ViewContext.RouteData.Values[MvcAdminConstants.Controller].ToString();
    string actionName = ViewContext.Controller.ValueProvider.GetValue(MvcAdminConstants.Action).RawValue.ToString();    
}

@using (Ajax.BeginForm(actionName, controllerName, new AjaxOptions() { UpdateTargetId = "issuegiftcard", OnSuccess = "RMAConfiguration.IssueGiftCardUpdate" }))
{
    <div id="issuegiftcard">
        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
            <div class="col-sm-12 col-md-12 col-lg-11 nopadding">
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.GiftCardExpirationPeriod)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.GiftCardExpirationPeriod, new { maxlength = 5 })
                        @Html.ValidationMessageFor(model => model.GiftCardExpirationPeriod)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.GiftCardNotification)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextAreaFor(model => model.GiftCardNotification)
                    </div>
                </div>

                <div class="pull-right">
                    <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest">@ZnodeResources.ButtonSubmitRequest</button>
                    <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = '/Orders/Index'">@ZnodeResources.ButtonCancel</button>
                </div>
                @Html.HiddenFor(model => model.RMAConfigId)
                @Html.HiddenFor(model => model.MaxDays)
                @Html.HiddenFor(model => model.DisplayName)
                @Html.HiddenFor(model => model.EmailId)
                @Html.HiddenFor(model => model.ReturnMailingAddress)
                @Html.HiddenFor(model => model.ShippingInstruction)
                @Html.HiddenFor(model => model.EnableEmailNotification)
            </div>
        </div>
    </div>
}
