﻿@model Znode.Engine.MvcAdmin.Models.ReportModel

<div class="pull-right bottom-shift">
    <button type="button" class="btn-text-icon red" id="btnCatalogSubmit" onclick="RMAConfiguration.ShowReasonForReturnPopUp();" title="@ZnodeResources.ButtonAdd"><i class='glyphicon glyphicon-plus'></i>@ZnodeResources.ButtonAdd</button>
</div>

<div id="divAddReasonForReturn" style="display:none">
</div>

<div class="col-sm-12 nopadding">
    @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
</div>


@Scripts.Render("~/bundles/RMAConfiguration")
<script>
    WebgridPagerHelper.SetPagingInput();
    RMAConfiguration.ReasonForReturnGridPaging();
</script>