﻿@model Znode.Engine.MvcAdmin.Models.ReportModel


<div id="divAddRequestStatus" style="display:none">
</div>

<div class="col-sm-12 nopadding">
    @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
</div>

@Scripts.Render("~/bundles/RMAConfiguration")
<script>
    WebgridPagerHelper.SetPagingInput();
    RMAConfiguration.RequestStatusGridPaging();
</script>
