﻿@model Znode.Engine.MvcAdmin.ViewModels.RMAConfigurationViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Znode.Engine.MvcAdmin.Helpers
@using Resources

@{
    string controllerName = ViewContext.RouteData.Values[MvcAdminConstants.Controller].ToString();
    string actionName = ViewContext.Controller.ValueProvider.GetValue(MvcAdminConstants.Action).RawValue.ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "formRMAConfiguration", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, CancelUrl = "/Orders/Index" };
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>@ZnodeResources.HeaderRMAConfiguration</h1>
    </div>
    <div class="col-sm-12 search-container bottom-shift">
        <p>@ZnodeResources.TextRMAConfiguration</p>
    </div>
    <div class="col-sm-12 nopadding">
        <div class="manage-stores-container">
            <div class="tab-container">
                <ul id="tabManageProduct" class="nav nav-tabs">
                    <li><a id="rma-general" href="#panel1" data-toggle="tab" class="tabs" title=@ZnodeResources.TabGeneral>@ZnodeResources.TabGeneral</a></li>
                    <li><a id="rma-reasonforreturn" href="/RMAConfiguration/GetReasonForReturnList" data-targetitemid="panel2" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs" title=@ZnodeResources.TabReasonForReturn>@ZnodeResources.TabReasonForReturn</a></li>
                    <li><a id="rma-requeststatus" href="/RMAConfiguration/GetRequestStatusList" data-targetitemid="panel2" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs" title=@ZnodeResources.TabRequestStatuses>@ZnodeResources.TabRequestStatuses</a></li>
                    <li><a id="rma-issuegiftcard" href="/RMAConfiguration/IssueGiftCard" data-queryparam="rmaConfigId=@Model.RMAConfigId" data-targetitemid="panel2" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs" title=@ZnodeResources.TabIssueGiftCard>@ZnodeResources.TabIssueGiftCard</a></li>
                </ul>
                <div id="tabContents" class="tab-content">
                    <!--Panels 1-->
                    <div class="tab-pane fade in active" id="panel1">
                        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                            <div class="col-sm-12 col-md-12 col-lg-11 nopadding">
                                @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @id="formRMAConfiguration", @class = "form" }))
                                {
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.MaxDays)
                                        </div>
                                        <div class="col-sm-7">
                                            @Html.TextBoxFor(model => model.MaxDays, new { @maxlength = 5 })
                                            @Html.ValidationMessageFor(model => model.MaxDays)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.EnableEmailNotification)
                                        </div>
                                        <div class="col-sm-7">
                                            @Html.DropDownListFor(model => model.EnableEmailNotification, new List<SelectListItem>
                                            {
                                                new SelectListItem{Text = ZnodeResources.TextYes,Value = MvcAdminConstants.LabelYes},
                                                new SelectListItem{Text = ZnodeResources.TextNo,Value = MvcAdminConstants.LabelNo}
                                            }
                                            )
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.DisplayName)
                                        </div>
                                        <div class="col-sm-7">
                                            @Html.TextBoxFor(model => model.DisplayName)
                                        </div>
                                        <a data-toggle="popover" data-contentwrapper=".popover-content"><i class="glyphicon glyphicon-question-sign help" data-toggle="tooltip" data-placement="bottom" data-original-title="@ZnodeResources.PopUpRMAReturnsDepartment"></i> </a>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.EmailId)
                                        </div>
                                        <div class="col-sm-7">
                                            @Html.TextBoxFor(model => model.EmailId)
                                            @Html.ValidationMessageFor(model => model.EmailId)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.ReturnMailingAddress)
                                        </div>
                                        <div class="col-sm-7">
                                            @Html.TextBoxFor(model => model.ReturnMailingAddress)
                                        </div>
                                        <a data-toggle="popover" data-contentwrapper=".popover-content"><i class="glyphicon glyphicon-question-sign help" data-toggle="tooltip" data-placement="bottom" data-original-title="@ZnodeResources.PopUpRMAMailingAddress"></i> </a>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.ShippingInstruction)
                                        </div>
                                        <div class="col-sm-7">
                                            @Html.TextAreaFor(model => model.ShippingInstruction, new { @rows = "5" })
                                        </div>
                                        <a data-toggle="popover" data-contentwrapper=".popover-content"><i class="glyphicon glyphicon-question-sign help" data-toggle="tooltip" data-placement="bottom" data-original-title="@ZnodeResources.PopUpRMAShippingInstructions"></i> </a>
                                    </div>

                                    @Html.HiddenFor(model => model.RMAConfigId)
                                    @Html.HiddenFor(model => model.GiftCardExpirationPeriod)
                                    @Html.HiddenFor(model => model.GiftCardNotification)

                                }
                                <div class="col-sm-11">
                                    <div class="pull-right">
                                        @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="panel2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/RMAConfiguration")
<script>
        RMAConfiguration.CreateEditGridView();    
</script>