﻿body {
    border-top: solid 10px #333333;
    color: #414141;
	background-color: #efeeef;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
    margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
h1 {
    font-size: 2.0em;
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1.1em;
}
h5, h6 {
    font-size: 1em;
}
hr {
	margin-top: 40px;
	margin-bottom: 30px;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #ffffff;
}
header {
	padding: 15px 20px 0px 20px;
	border-bottom: solid 2px #d4d4d4;
}
footer {
	background-color: #333333;
	color: #b1b1b1;
	text-align: center;
    height: 40px;
	padding-top: 10px;
}
a {
    color: #0b61a4;
    text-decoration: underline;
}
a:hover {
    color: #66a3d2;
}
a img {
	border: none;	
}
p {
	line-height: 1.5em;
}
pre.code {
	font-size: 13px;
	font-family: Consolas, 'Courier New', Courier;
	padding: 10px;
	background-color: #f5f5f5;
	border: dashed 1px #cccccc;
	color: #880000;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}
th {
    font-size: 1.1em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}
th a {
    display: block;
    position: relative;
}
th a:link, th a:visited, th a:active, th a:hover {
    color: #414141;
    font-weight: 600;
    text-decoration: none;
    padding: 0;
}
th a:hover {
    color: #000000;
}
th.asc a, th.desc a {
    margin-right: .75em;
}
th.asc a:after, th.desc a:after {
    display: block;
    position: absolute;
    right: 0em;
    top: 0;
    font-size: 0.75em;
}
th.asc a:after {
    content: '▲';
}
th.desc a:after {
    content: '▼';
}
td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}
tr.pager td {
    padding: 0 0.25em 0 0;
}
#body {
    background-color: #ffffff;
	clear: both;
	padding: 0px 20px 20px 20px;
}
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 30px 0px 5px 0px;
    padding: 0px;
    text-align: right;
}
ul#menu li {
    display: inline;
    list-style: none;
    padding-left: 15px;
}
ul#menu li a {
    background: none;
    color: #999999;
    text-decoration: none;
}
ul#menu li a:hover {
    color: #414141;
    text-decoration: none;
}
.page {
	margin: 0px auto;
	width: 960px;
	background-color: #ffffff;
	border-left: solid 2px #d4d4d4;
	border-right: solid 2px #d4d4d4;
}
.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0px;
    visibility: hidden;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
