﻿@model Znode.Engine.MvcAdmin.ViewModels.ManageSEOCategoryListViewModel
<div id="grid-container">


    <div class="col-sm-12 nopadding">
        <p class="left">@ZnodeResources.SubHeadingManageSEOCategoryDescription</p>
    </div>
    <div class="col-sm-12 product-search">
        <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
        <div id="collapseOne" class="panel-collapse collapse in">
            @using (Ajax.BeginForm("CategoryList", "ManageSEO", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent" class="panel-body">
                    @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
        </div>
    </div>

    <div class="col-sm-12 nopadding">
        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
    </div>
</div>

