﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using Resources;

@{
    ViewBag.Title = ZnodeResources.HeaderContentPage;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
}

<div id="grid-container">
   
        <p>@ZnodeResources.SubheaderSEOContentPage</p>
        <div class="col-sm-12 list-container">
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
            </div>
        </div>
    
</div>
