﻿@model Znode.Engine.MvcAdmin.ViewModels.ManageSEOViewModel
@using Znode.Engine.MvcAdmin.ViewModels
@{
    ViewBag.Title = @ZnodeResources.HeaderSetup + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmSeoDefaultSetting", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, CancelUrl = "/Marketing/Index" };
}
<div class="col-sm-12 nopadding">
    <div class="pull-right">
        @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
    </div>
</div>
@using (Html.BeginForm("SaveDefaultSetting", "ManageSEO", FormMethod.Post, new { id = "frmSeoDefaultSetting" }))
{
    <div class="col-sm-12 col-md-6 col-lg-6 item-list">
        <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
            <h4>@ZnodeResources.SubHeaderStoreSettings</h4>
            <div class="form-group border-bottom">
                <div class="col-sm-4 colon nopadding">
                    @Html.LabelFor(model => model.PortalId)
                </div>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.PortalId, Model.PortalList, new { @onchange = "ManageSEO.GetDefaultSetting(this);" })
                    @Html.ValidationMessageFor(model => model.PortalId)
                </div>
            </div>
            <h4>
                @ZnodeResources.SubHeaderDefaultProductSettings
                <a><i class="glyphicon glyphicon-question-sign help" data-toggle="tooltip" data-placement="bottom" data-original-title="@ZnodeResources.PopUpSEOProductSettings"></i> </a>
            </h4>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.LabelFor(model => model.SeoDefaultProductTitle)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.SeoDefaultProductTitle, new { @class = "allowhtml", @maxlength = 500 })
                    @Html.ValidationMessageFor(model => model.SeoDefaultProductTitle)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.LabelFor(model => model.SeoDefaultProductDescription)
                </div>
                <div class="col-sm-8">
                    @Html.TextAreaFor(model => model.SeoDefaultProductDescription, new { @class = "allowhtml", @maxlength = 500 })
                    @Html.ValidationMessageFor(model => model.SeoDefaultProductDescription)
                </div>
            </div>
            <div class="form-group border-bottom">
                <div class="col-sm-4 colon nopadding">
                    @Html.LabelFor(model => model.SeoDefaultProductKeyword)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.SeoDefaultProductKeyword, new { @maxlength = 500 })
                    @Html.ValidationMessageFor(model => model.SeoDefaultProductKeyword)
                </div>
            </div>
            <h4>
                @ZnodeResources.SubHeaderDefaultCategorySettings
                <a><i class="glyphicon glyphicon-question-sign help" data-toggle="tooltip" data-placement="bottom" data-original-title="@ZnodeResources.PopUpSEODefaultCategory"></i> </a>
            </h4>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.LabelFor(model => model.SeoDefaultCategoryTitle)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.SeoDefaultCategoryTitle, new { @class = "allowhtml", @maxlength = 500 })
                    @Html.ValidationMessageFor(model => model.SeoDefaultCategoryTitle)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.LabelFor(model => model.SeoDefaultCategoryDescription)
                </div>
                <div class="col-sm-8">
                    @Html.TextAreaFor(model => model.SeoDefaultCategoryDescription, new { @class = "allowhtml", @maxlength = 500 })
                    @Html.ValidationMessageFor(model => model.SeoDefaultCategoryDescription)
                </div>
            </div>
            <div class="form-group border-bottom">
                <div class="col-sm-4 colon nopadding">
                    @Html.LabelFor(model => model.SeoDefaultCategoryKeyword)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.SeoDefaultCategoryKeyword, new { @maxlength = 500 })
                    @Html.ValidationMessageFor(model => model.SeoDefaultCategoryKeyword)
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 item-list">
        <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
            <h4>
                @ZnodeResources.SubHeaderDefaultContentPageSettings
                <a><i class="glyphicon glyphicon-question-sign help" data-toggle="tooltip" data-placement="bottom" data-original-title="@ZnodeResources.PopUpSEODefaultContent"></i> </a>
            </h4>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.LabelFor(model => model.SeoDefaultContentTitle)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.SeoDefaultContentTitle, new { @class = "allowhtml", @maxlength = 500 })
                    @Html.ValidationMessageFor(model => model.SeoDefaultContentTitle)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.LabelFor(model => model.SeoDefaultContentDescription)
                </div>
                <div class="col-sm-8">
                    @Html.TextAreaFor(model => model.SeoDefaultContentDescription, new { @class = "allowhtml", @maxlength = 500 })
                    @Html.ValidationMessageFor(model => model.SeoDefaultContentDescription)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.LabelFor(model => model.SeoDefaultContentKeyword)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.SeoDefaultContentKeyword, new { @maxlength = 500 })
                    @Html.ValidationMessageFor(model => model.SeoDefaultContentKeyword)
                </div>
            </div>

        </div>
    </div>
}
<div class="col-sm-12 nopadding">
    <div class="pull-right">
        @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
    </div>
</div>