﻿@model Znode.Engine.MvcAdmin.ViewModels.ManageSEOProductListViewModel
<div id="grid-container">
    <div class="col-sm-12 nopadding">
        <p class="left">@ZnodeResources.SubHeaderSEOProductList</p>
    </div>
    <div class="col-sm-12 product-search">
        <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
        <div id="collapseOne" class="panel-collapse collapse in">
            @using (Ajax.BeginForm("ProductList", "ManageSEO", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent" class="panel-body">
                    @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
        </div>
    </div>
    <div class="col-sm-12 nopadding">
        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
    </div>
</div>
@Scripts.Render("~/bundles/product")
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var val = $("#CategoryId").val(); Product.BindProductCatagory(function (res) { if (res) $("#CategoryId").val(val); val = null; }); Product.PreventSearchButton(function (res) { if (res) $("#CategoryId").val(val); val = null; });
    })
</script>