﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using Resources;

@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
}

<div id="grid-container">
    <div class="col-sm-12 title-container">
        <button type="button" class="btn-text-icon red pull-right" title="@ZnodeResources.ButtonAdd" onclick="javascript: location.href = '/ManageSEO/CreateURLRedirect';"><i class='glyphicon glyphicon-plus'></i>@ZnodeResources.ButtonAdd</button>
    </div>

    <div class="col-sm-12 product-search">
        <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
        <div id="collapseOne" class="panel-collapse collapse in">
            @using (Ajax.BeginForm("ListUrlRedirects", "ManageSEO", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent" class="panel-body">
                    @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.FilterColumn)
                </div>
            }
        </div>
    </div>
    <div class="col-sm-12 nopadding">
        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
    </div>
</div>