﻿@model Znode.Engine.MvcAdmin.ViewModels.URLRedirectViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmURLRedirectSEO", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @if (Equals(actionName.ToLower(), "createurlredirect"))
        {
            <h1>@ZnodeResources.HeaderCreateUrlRedirect</h1>
        }
        else
        {
            <h1>@ZnodeResources.HeaderEditUrlRedirect</h1>
        }
    </div>
    <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">

        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmURLRedirectSEO" }))
        {
            string isEnabledStatus = (!Equals(Model, null) && Model.IsActive) ? "checked='checked'" : string.Empty;

            <h4>@ZnodeResources.LabelGeneralInformation</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.OldUrl, new { @class = "required" })
                    <span class="sub">@ZnodeResources.DescriptionRedirectFrom</span>
                    <span class="sub">@ZnodeResources.DescriptionExampleURLCategory</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.OldUrl)
                    @Html.ValidationMessageFor(model => model.OldUrl)

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.NewUrl, new { @class = "required" })
                    <span class="sub">@ZnodeResources.DescriptionRedirectTo</span>
                    <span class="sub">@ZnodeResources.DescriptionExampleURLProduct</span>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.NewUrl)
                    @Html.ValidationMessageFor(model => model.NewUrl)

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding colon">
                    @ZnodeResources.LabelEnablethisRedirection
                </div>
                <div class="col-sm-8">
                    <input @isEnabledStatus id="IsActive" name="IsActive" type="checkbox" value="true">
                    <span class="lbl padding-8"></span>
                    <input name="IsActive" type="hidden" value="false">
                </div>
            </div>
            if (!Equals(actionName.ToLower(), "createurlredirect"))
            {
                @Html.HiddenFor(model => model.URLRedirectId)
            }
        }
        <div class="form-group">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
</div>

