﻿@model Znode.Engine.MvcAdmin.ViewModels.ManageSEOProductViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var productName = Equals(Model, null) ? string.Empty : Model.ProductName;
}
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmSeoProduct", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1 class="left">@ZnodeResources.SubHeaderEditSEOProductSettings @productName</h1>
        <div class="pull-right">
            @Html.HiddenFor(model => model.ProductId)
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
    <div class="col-sm-12 add-new-item">
        @using (Html.BeginForm("EditProduct", controllerName, FormMethod.Post, new { id = "frmSeoProduct" }))
        {

            @Html.ValidationSummary(true)
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                    <h4>@ZnodeResources.LabelGeneralInformation</h4>
                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ProductName, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.ProductName, new { @maxlength = 500 })
                            @Html.ValidationMessageFor(model => model.ProductName)
                        </div>
                    </div>

                    <h4>@ZnodeResources.LabelSeoSettings</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.Label("", @ZnodeResources.LabelSEOTitle)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.SeoTitle, new { @maxlength = 500 })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.Label("", @ZnodeResources.LabelSEOKeywords)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.SeoKeywords, new { @maxlength = 500 })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.Label("", @ZnodeResources.LabelSEODescription)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.SeoDescription, new { @maxlength = 500 })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.Label("", @ZnodeResources.LabelSeoPageName)
                        </div>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.SeoPageUrl, new { @maxlength = 200 })
                            @Html.ValidationMessageFor(model => model.SeoPageUrl)
                        </div>
                        <a><i class="glyphicon glyphicon-question-sign help" data-toggle="tooltip" data-placement="bottom" data-original-title="@ZnodeResources.PopUpSEOPageName"></i> </a>
                    </div>
                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding">
                            @Html.Label("", @ZnodeResources.Label301Url)
                        </div>
                        <div class="col-sm-8">
                            <label>
                                <input id="RedirectUrlInd" name="RedirectUrlInd" checked="@Model.RedirectUrlInd" type="checkbox" value="true">
                                <span class="lbl padding-8 black-color">@ZnodeResources.LabelEnable301</span>
                            </label>
                        </div>
                    </div>

                    <h4>@ZnodeResources.LabelDescription</h4>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.LabelFor(model => model.ShortDescription)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextAreaFor(model => model.ShortDescription)
                            @Html.ValidationMessageFor(model => model.ShortDescription)
                        </div>
                    </div>
                    <div class="form-group border-bottom">
                        <div class="col-sm-12 nopadding">
                            @Html.LabelFor(model => model.LongDescription)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.EditorFor(model => model.LongDescription)
                            @Html.ValidationMessageFor(model => model.LongDescription)
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    <div class="form-group border-bottom item-top-shift">
                        <div class="col-sm-12 nopadding">
                            @Html.LabelFor(model => model.FeaturesDescription)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.EditorFor(model => model.FeaturesDescription)
                            @Html.ValidationMessageFor(model => model.FeaturesDescription)
                        </div>
                    </div>
                    <div class="form-group border-bottom">
                        <div class="col-sm-12 nopadding">
                            @Html.LabelFor(model => model.ProductSpecifications)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.EditorFor(model => model.ProductSpecifications)
                            @Html.ValidationMessageFor(model => model.ProductSpecifications)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            @Html.LabelFor(model => model.ShippingInformation)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.EditorFor(model => model.ShippingInformation)
                            @Html.ValidationMessageFor(model => model.ShippingInformation)
                        </div>
                    </div>

                </div>
            </div>
            @Html.HiddenFor(model => model.ProductId)
           

        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
</div>