﻿@model Znode.Engine.MvcAdmin.ViewModels.ContentPageViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmContentPageSEO", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>@ZnodeResources.LabelEditPage - @Model.PageName</h1>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmContentPageSEO" }))
        {

            <div id="generalSettings">
                <h4>@ZnodeResources.SubHeaderHighlightGeneralSettings</h4>
                <div class="form-group border-bottom">
                    <div class="col-sm-4 nopadding colon">
                        @Html.Label("", @ZnodeResources.LabelSeoPageTitle) 
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.PageTitle)
                        @Html.ValidationMessageFor(model => model.PageTitle)
                    </div>
                </div>
            </div>
            <div id="seoSettings">
                <h4>@ZnodeResources.SubheaderSeoSettings</h4>
                <div class="form-group">
                    <div class="col-sm-4 nopadding colon">
                        @Html.LabelFor(model => model.SEOTitle)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.SEOTitle)
                        @Html.ValidationMessageFor(model => model.SEOTitle)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.SEOKeywords)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.SEOKeywords)
                        @Html.ValidationMessageFor(model => model.SEOKeywords)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.SEODescription)
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.SEODescription)
                        @Html.ValidationMessageFor(model => model.SEODescription)
                    </div>
                </div>
                <div class="form-group border-bottom">
                    <div class="col-sm-4 nopadding">
                        @Html.Label("", @ZnodeResources.LabelSeoPageName)                        
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.SEOFriendlyPageName)
                        @Html.ValidationMessageFor(model => model.SEOFriendlyPageName)
                    </div>
                </div>
                <div id="pageContent">
                    <h4>@ZnodeResources.SubheaderPageContent</h4>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Html)
                    </div>
                </div>
                @Html.HiddenFor(model => model.ContentPageId)

            </div>

        }

        <div class="form-group">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
</div>
