﻿@model Znode.Engine.MvcAdmin.ViewModels.ManageSEOCategoryViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
    string actionName = "EditCategory";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmSeoCategory", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1 class="left">@ZnodeResources.SubHeadingManageSEOCategory @Model.CategoryName</h1>
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmSeoCategory" }))
    {
        @Html.ValidationSummary(true)
        <div class="col-sm-12 add-new-item">
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                    <h4>@ZnodeResources.LabelGeneralSetting</h4>
                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding colon">
                            @Html.LabelFor(model => model.CategoryTitle, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.CategoryTitle)
                            @Html.ValidationMessageFor(model => model.CategoryTitle)
                        </div>
                    </div>

                    <h4>@ZnodeResources.LabelSEOSetting</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding colon">
                            @Html.LabelFor(model => model.SeoTitle)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.SeoTitle)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding colon">
                            @Html.LabelFor(model => model.SeoKeywords)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.SeoKeywords)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding colon">
                            @Html.LabelFor(model => model.SeoDescription)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.SeoDescription)
                        </div>
                    </div>
                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding colon">
                            @Html.LabelFor(model => model.SeoUrl)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.SeoUrl)
                        </div>
                    </div>
                    <div class="form-group border-bottom">
                        <div class="col-sm-4 nopadding colon">
                            @Html.LabelFor(model => model.RedirectUrlInd)
                        </div>
                        <div class="col-sm-8">
                            <label>
                                <input id="RedirectUrlInd" name="RedirectUrlInd" checked=@Model.RedirectUrlInd type="checkbox" value="true">
                                <span class="lbl padding-8 black-color">@ZnodeResources.LabelEnable301</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    <h4>@ZnodeResources.LabelDescription</h4>
                    <div class="form-group ">
                        <div class="col-sm-12 nopadding colon">
                            @Html.LabelFor(model => model.ShortDescription)
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.TextAreaFor(model => model.ShortDescription)
                        </div>
                    </div>
                    <div class="form-group border-bottom top-shift">
                        <div class="col-sm-12 nopadding colon">
                            @Html.LabelFor(model => model.Description, new { @class = "required" })
                        </div>
                        <div class="col-sm-12 nopadding">
                            @Html.EditorFor(model => model.Description)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="pull-right">
                            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(model => model.CategoryId)
    }
</div>
