﻿@model Znode.Engine.MvcAdmin.ViewModels.ManageSEOViewModel
@using Resources

@{    
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
}

@{
    var selectedTabMode = TempData[MvcAdminConstants.SetTabMode];
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container bottom-shift">
        <h1>@ZnodeResources.HeaderManageSeo</h1>
        <p>@ZnodeResources.TextManageSEO</p>
    </div>    
    <div class="col-sm-12 nopadding">
        <div class="manage-stores-container">
            <div class="tab-container">
                <ul id="tabManageProduct" class="nav nav-tabs">
                    <li><a href="#panel-1" data-toggle="tab" class="tabs" id="seo-sefaultsetting">@ZnodeResources.TabSEODefaultSetting</a></li>                    
                    <li><a href="/ManageSEO/ProductList" id="seo-productlist" data-targetitemid="panelSEO" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabSEOProducts</a></li>
                    <li><a href="/ManageSEO/CategoryList" id="seo-categorylist" data-targetitemid="panelSEO" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabSEOCategory</a></li>
                    <li><a href="/ManageSEO/ListContentPages" id="seo-contentpageslist" data-targetitemid="panelSEO" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabSEOContentPages</a></li>
                    <li><a href="/ManageSEO/ListUrlRedirects" id="seo-urlredirectlist" data-targetitemid="panelSEO" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabSEOURLRedirect</a></li>
                </ul>

                <div id="tabContents" class="tab-content">
                    <!--Panels 1-->
                    <div id="SEOtabContents" class="tab-content">
                        <div class="tab-pane fade in active" id="panel-1">
                            <div class="col-sm-12 nopadding">
                                @Html.Partial("_DefaultSettings", Model)
                            </div>
                       </div>
                        <div class="tab-pane fade" id="panel-2">
                        </div>
                        <!--Important Div, Do not delete/modify-->
                        <div class="tab-pane fade" id="panelSEO">
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/manageseo")
