﻿@{
    ViewBag.Title = "Index";
}

@using Resources;

<div class="container">
    <div class="col-md-12">
        <h1>@ZnodeResources.StorefrontHeader</h1>
        <div>
            <div><a href="/Stores/List">@ZnodeResources.StoresLink</a></div>
            <p>@ZnodeResources.StorefrontDescription</p>
        </div>
        <div>
            <div><a href="/Catalog/Index">@ZnodeResources.CatalogsLink</a></div>
            <p>@ZnodeResources.CatalogDescription</p>
        </div>
        <div>
            <div><a href="/Categories/Index">@ZnodeResources.CategoriesLink</a></div>
            <p>@ZnodeResources.CategoriesDescription</p>
        </div>

        <div class="ImageAlign">
            <div class="Image">
                <img src="../../Themes/Images/catalog.png">
            </div>
            <div class="Shortcut"><a href="/Catalog/Index">Catalogs</a></div>
            <div class="LeftAlign">
                <p>Catalogs are groupings of selected categories that you want to display in your store (example: Summer Catalog).</p>
            </div>
        </div>

        <div class="ImageAlign">
            <div class="Image">
                <img src="../../Themes/Images/departments.png">
            </div>
            <div class="Shortcut"><a href="/Categories/Index">@ZnodeResources.LabelCategories</a></div>
            <div class="LeftAlign">
                <p>@ZnodeResources.TextCategories</p>
            </div>
        </div>

        <div class="col-md-12">
            <h1>@ZnodeResources.CheckoutHeader</h1>
            <div>
                <div><a href="/Payements/Index">@ZnodeResources.PaymentsLink</a></div>
                <p>@ZnodeResources.PaymentsDescription</p>
            </div>
            <div>
                <div><a href="/Shipping/Index">@ZnodeResources.ShippingLink</a></div>
                <p>@ZnodeResources.StorefrontDescription</p>
            </div>
            <div>
                <div><a href="/Taxes/Index">@ZnodeResources.TaxesLink</a></div>
                <p>@ZnodeResources.TaxesDescription</p>
            </div>
            <div class="ImageAlign">
                <div class="Image">
                    <img src="../../Themes/Images/Shipping.png">
                </div>
                <div class="Shortcut"><span class="Icon"><a href="/Shipping/Index">@ZnodeResources.HeaderShipping</a></span></div>
                <div class="LeftAlign">
                    <p>@ZnodeResources.ShippingDescription</p>
                </div>
            </div>
            <div class="ImageAlign">
                <div class="Image">
                    <img src="../../Themes/Images/taxclasses.png">
                </div>
                <div class="Shortcut"><span class="Icon"><a href="/Taxes/Index">@ZnodeResources.TaxesLink</a></span></div>
                <div class="LeftAlign">
                    <p>@ZnodeResources.SubHeaderTaxClass</p>
                </div>
            </div>

            <div class="col-md-12">
                <h1>@ZnodeResources.ContentHeader</h1>
                <div>
                    <div><a href="/ManageMessages/Index">@ZnodeResources.ManageMessagesLink</a></div>
                    <p>@ZnodeResources.ManageMessagesDescription</p>
                </div>
                <div>
                    <div><a href="/ManageBanners/Index">@ZnodeResources.ManageBannersLink</a></div>
                    <p>@ZnodeResources.ManageBannersDescription</p>
                </div>
                <div>
                    <div><a href="/ManageContentPages/Index">@ZnodeResources.ManageContentPagesLink</a></div>
                    <p>
                        @ZnodeResources.ManageContentPagesDescription
                    </p>
                </div>
            </div>

            <div class="ImageAlign">
                <div class="Image">
                    <img src="../../Themes/Images/ManageBanners.png">
                </div>
                <div class="Shortcut">
                    <a href="/ManageBanners/Index">@ZnodeResources.HeaderManageBanner</a>
                </div>
                <div class="LeftAlign">
                    <p>@ZnodeResources.ManageBannersDescription</p>
                </div>
            </div>
            <div class="ImageAlign">
                <div class="Image">
                    <img src="../../Themes/Images/ManageContent.png">
                </div>
                <div class="Shortcut">
                    <a href="/ManageContentPages/Index">@ZnodeResources.ManageContentPagesLink</a>
                </div>
                <div class="LeftAlign">
                    <p>@ZnodeResources.ManageContentPagesDescription</p>
                </div>
            </div>
        </div>
    </div>
</div>
