﻿@{
    ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;
}

<div class="dashboard-page-container">
    <div class="col-sm-12">
        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
            <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                <h4>@ZnodeResources.LabelPromotions</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-promotinons-and-coupons"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Promotion/List">@ZnodeResources.HeaderPromotionList</a>
                        <p>@ZnodeResources.TextPromotions</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-gift-cards"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/GiftCard/List">@ZnodeResources.HeaderGiftCard</a>
                        <p>@ZnodeResources.TextGiftCards</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-customer-reviews"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Review/List">@ZnodeResources.CustomerReviewHeader</a>
                        <p>@ZnodeResources.CustomerReviewHeaderDescription</p>
                    </div>
                </div>
                <h4>@ZnodeResources.LabelSearchPersonalization</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-facets"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Facet/List">@ZnodeResources.LabelAssociateFacets</a>
                        <p>@ZnodeResources.FacetGroupsHeaderDescription</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-product-search-setting"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/ProductSearchSettings/ManageProductSearchSetting">@ZnodeResources.HeaderProductSearchSettings</a>
                        <p>@ZnodeResources.TextProductSearchSettings</p>
                    </div>
                </div>
               
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-personalization"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/Personalization/Personalization">@ZnodeResources.HeaderPersonalisation</a>
                        <p>@ZnodeResources.PersonalisationSubMessage</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
            <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                <h4>@ZnodeResources.LabelSEO</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-seo-settings"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/ManageSEO/DefaultSetting">@ZnodeResources.LabelSeoSettings</a>
                        <p>@ZnodeResources.SeoSettingsSubMessage</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-affiliate-tracking"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/AffiliateTracking/GetTrackingData">@ZnodeResources.HeaderAffiliateTracking</a>
                        <p>@ZnodeResources.SubHeaderAffiliateTracking</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-google-sitemap"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/GoogleSiteMap/CreateGoogleSiteMap">@ZnodeResources.HeaderGoogleSiteMap</a>
                        <p> @ZnodeResources.TextGoogleSiteMap</p>
                    </div>
                </div>
                <h4>@ZnodeResources.LabelOther</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-store-locator"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/StoreLocator/List">@ZnodeResources.StoreLocatorHeading</a>
                        <p>@ZnodeResources.StoreLocatorDescription</p>
                    </div>
                </div> 
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-email-opt-in-customers"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/EmailTemplate/List">@ZnodeResources.HeaderEmailTemplate</a>
                        <p>@ZnodeResources.SubHeadingEmailTemplate</p>
                    </div>
                </div>                              
            </div>
        </div>
    </div>
</div>
