﻿@model Znode.Engine.MvcAdmin.ViewModels.CustomerAffiliateViewModel
@using Resources
@{
    if (!Equals(Model, null) && !Equals(Model.AccountPaymentGridModel, null))
    {
        Model.AccountPaymentGridModel.IsAdvanceSearchHide = true;
    }
}
<div id="grid-container">
    <div class="col-sm-12 list-container">

        @if (!Equals(Model.ReferralCommissionType, string.Empty))
        {
            <h4>@ZnodeResources.SubHeaderAffiliatePaymentInformation</h4>
            @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-plus'></i>" + @ZnodeResources.ButtonAdd, "AddAccountPayment", "Customers", new { @Id = Model.AccountId }, new { @class = "btn-text-icon red pull-right", @title = @ZnodeResources.ButtonAdd })

            <div class="col-sm-12 list-container">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.AccountPaymentGridModel)
            </div>
        }
        @Html.HiddenFor(model => model.AccountId)
        @Html.HiddenFor(model => model.ReferralCommissionType)
    </div>
</div>
<script>
    WebgridPagerHelper.Init();
</script>