﻿@model Znode.Engine.MvcAdmin.ViewModels.CustomerListViewModel
@using Resources;
@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;

}
<div id="grid-container">
    <div class="col-sm-12 nopadding">
        <div class="col-sm-12 nopadding title-container">
            <h2 class="left">@ZnodeResources.HeaderCustomerMappingDetails</h2>
            <button type="button" class="btn-text-icon red pull-right" title="@ZnodeResources.ButtonAdd" onclick="javascript: location.href = '/Customers/UserNotAssociatedToCustomerList/@Model.AccountId' ;"><i class="glyphicon glyphicon-plus"></i>@ZnodeResources.ButtonAdd</button>
        </div>
        <div class="col-sm-12 list-container">
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
            </div>
        </div>
    </div>
</div>


<script>
    WebgridPagerHelper.Init();
</script>