﻿@model Znode.Engine.MvcAdmin.ViewModels.NotesViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources

@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@{
    var selectedTabMode = ViewBag.TabMode;
}
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmCreateNote", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>@ZnodeResources.LabelAddNote</h1>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmCreateNote" }))
        {
            <h4>Customer Note</h4>
            <div class="form-group">
                <div class="col-sm-4 col-md-3 col-lg-4 nopadding">
                    @Html.Label("", ZnodeResources.LabelNoteTitle, new { @class = "required" })
                </div>
                <div class="col-sm-8 col-md-6 col-lg-8">
                    @Html.TextBoxFor(model => model.NoteTitle)
                    @Html.ValidationMessageFor(model => model.NoteTitle, @ZnodeResources.RequiredNoteTitle)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    @Html.Label("", ZnodeResources.LabelNoteBody, new { @class = "required" })
                </div>
                <div class="col-sm-12 nopadding">
                    @Html.EditorFor(model => model.NoteBody)
                    @Html.ValidationMessageFor(model => model.NoteBody, @ZnodeResources.RequiredNoteBody)
                </div>
            </div>
            @Html.HiddenFor(model => model.AccountId)
        }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
</div>
