﻿
@model Znode.Engine.MvcAdmin.ViewModels.CustomerBasedPricingProductListViewModel
@using Resources

<div id="grid-container">
    
    <div class="col-sm-12 product-search">
        <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
        <div id="collapseOne" class="panel-collapse collapse in">
            @using (Ajax.BeginForm("CustomerBasedPricingProductList", "Customers", new { @id = Model.AccountId }, new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent" class="panel-body">
                    @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
        </div>
    </div>


    @using (Html.BeginForm("DownloadCustomerBasedPricingList", "Customers", FormMethod.Post, new { id = Model.AccountId }))
    {
        <div class="pull-right">
            <button @Html.Raw(Equals(@Model.GridModel.DataTableToList.Count, 0) ? "disabled=\"disabled\"" : "") type="submit" class="btn-text red pull-right" title="@ZnodeResources.ButtonDownloadToExcel">@ZnodeResources.ButtonDownloadToExcel</button>
        </div>
        @Html.HiddenFor(m => m.AccountId, new { AccountId = Model.AccountId })
        @*@Html.HiddenFor(m => m.ExternalAccountNo, new { ExternalAccountId = Model.ExternalAccountNo })*@
    }
    <div class="col-sm-12 nopadding top-shift">
        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
    </div>
</div>
<script>
    $(document).ready(function () {
        WebgridPagerHelper.Init();
    });
</script>