﻿@model Znode.Engine.MvcAdmin.ViewModels.CustomerAffiliateViewModel
@using Resources
@{
    var accountId = Equals(Model, null) ? 0 : Model.AccountId;
    var referralcommissiontype = Equals(Model, null) ? string.Empty : Model.ReferralCommissionType;
}

<div class="col-sm-12 nopadding">
    @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-pencil'></i>" + ZnodeResources.ButtonEdit, "EditCustomerAffiliate", "Customers", new { @id = @accountId}, new { @Class = "btn-text-icon red pull-right", @title = @ZnodeResources.ButtonEdit })
</div>
<div class="col-sm-12 col-md-12 col-lg-6 item-list">
    <div class="col-sm-12 col-md-12 col-lg-11 nopadding">
        <h4 class="left">@ZnodeResources.SubHeaderTrackingInformation</h4>
        <div class="form-group">
            <div class="col-sm-4 colon nopadding">
                @Html.Label(ZnodeResources.LabelTrackingLink)
            </div>

            @if (Equals(Model.ReferalStatus, ZnodeResources.ActiveReferalStatus))
            {
                <div class="col-sm-8 label-background">
                    <a href="@Model.TrackingLink?affiliate_id=@Model.AccountId" id="lbltrackinglink" target="_blank">@Model.TrackingLink?affiliate_id=@Model.AccountId</a>
                </div>
            }
            else
            {
                <div class="col-sm-8 label-background">
                    @Html.Label(ZnodeResources.NotActiveReferalStatusFlag)
                </div>
            }
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.LabelFor(model => model.ReferralCommissionType)
            </div>
            <div class="col-sm-8 label-background">
                @Html.Label("", Model.ReferralCommissionType, new { @id = "lblreferralcommissiontype" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.LabelFor(model => model.ReferralCommission)

            </div>
            <div class="col-sm-8 label-background">
                @Html.Label("", Model.ReferralCommission.ToString())
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.LabelFor(model => model.TaxID)
            </div>
            <div class="col-sm-8 label-background">
                @Html.Label("", Model.TaxID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.LabelFor(model => model.ReferalStatus)
            </div>
            <div class="col-sm-8 label-background">
                @Html.Label("", Model.ReferalStatus)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 nopadding">
                @Html.LabelFor(model => model.AmountOwed)
            </div>
            <div class="col-sm-8 label-background">
                @Html.Label("", Model.AmountOwed)
            </div>
        </div>
    </div>

    @Html.HiddenFor(model => model.AccountId)
    @Html.HiddenFor(model => model.ReferralCommissionType)
</div>

<div>
    @Html.Partial("~/Views/Customers/_PaymentAndCommissionList.cshtml", Model)
</div>
