﻿@model Znode.Engine.MvcAdmin.ViewModels.CustomerViewModel
@using Resources
@using System.Configuration
@{
    var customerId = Equals(Model, null) ? 0 : Model.AccountId;
    Model.AccountId = customerId;
}
<div id="grid-container">
    <div class="col-sm-12 nopadding">
        @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-pencil'></i>" + ZnodeResources.ButtonEdit, "Edit", "Customers", new { @id = @Model.CustomerAccount.AccountId }, new { @Class = "btn-text-icon red pull-right", @title = @ZnodeResources.ButtonEdit })
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 item-list">
        <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
            <h4>@ZnodeResources.SubHeaderContactInformation</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.FullName)
                </div>
                <div class="col-sm-8 label-background">
                    @Html.Label(string.Empty, (string.IsNullOrEmpty(Model.FullName)) ? string.Empty : Model.FullName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CompanyName)
                </div>
                <div class="col-sm-8 label-background">
                    @Html.Label(string.Empty, (string.IsNullOrEmpty(Model.CompanyName)) ? string.Empty : Model.CompanyName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">

                    @Html.LabelFor(model => model.PhoneNumber)
                </div>
                <div class="col-sm-8 label-background">
                    @Html.Label(string.Empty, (string.IsNullOrEmpty(Model.PhoneNumber)) ? string.Empty : Model.PhoneNumber)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CustomerAccount.EmailAddress)
                </div>
                <div class="col-sm-8 label-background">
                    @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.EmailAddress)) ? Model.CustomerAccount.EmailAddress : string.Empty)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CustomerAccount.EmailOptIn)
                </div>
                <div class="col-sm-8 label-background">
                    <i class="@HelperMethods.GetCheckMark(Convert.ToBoolean(Model.CustomerAccount.EmailOptIn))"></i>
                </div>
            </div>

            <h4>@ZnodeResources.SubHeaderAccountInformation</h4>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CustomerAccount.AccountId)
                </div>
                <div class="col-sm-8 label-background">
                    @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && Model.CustomerAccount.AccountId > 0) ? Model.CustomerAccount.AccountId.ToString() : string.Empty)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CustomerAccount.ExternalId)
                </div>
                <div class="col-sm-8 label-background">
                    @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.ExternalId)) ? Model.CustomerAccount.ExternalId : string.Empty)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CustomerAccount.EnableCustomerPricing)
                </div>
                <div class="col-sm-8 label-background">
                    <i class="@HelperMethods.GetCheckMark(Convert.ToBoolean(Model.CustomerAccount.EnableCustomerPricing))"></i>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.LabelFor(model => model.CustomerAccount.UserName)
                </div>
                <div class="col-sm-8 label-background">
                    @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.UserName)) ? Model.CustomerAccount.UserName : string.Empty)
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 item-list">
        <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
            <h4>@ZnodeResources.SubHeaderAdditionalInformation</h4>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.LabelFor(model => model.CustomerAccount.Website)
                </div>
                <div class="col-sm-8 label-background">
                    @Html.Label(string.Empty, (string.IsNullOrEmpty(Model.CustomerAccount.Website)) ? string.Empty : Model.CustomerAccount.Website)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CustomerAccount.Description)
                </div>
                <div class="col-sm-8 label-background">
                    @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.Description)) ? Model.CustomerAccount.Description : string.Empty)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CustomerAccount.Source)
                </div>
                <div class="col-sm-8 label-background">
                    @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.Source)) ? Model.CustomerAccount.Source : string.Empty)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CustomerAccount.CreateDte)
                </div>
                <div class="col-sm-8 label-background">
                    @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !Equals(Model.CustomerAccount.CreateDte, null)) ? Model.CustomerAccount.CreateDte.Value.ToString(ConfigurationManager.AppSettings["StringDateFormat"]) : string.Empty)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CustomerAccount.CreateUser)
                </div>
                <div class="col-sm-8 label-background">
                    @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.CreateUser)) ? Model.CustomerAccount.CreateUser : string.Empty)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.LabelFor(model => model.CustomerAccount.UpdateDte)
                </div>
                <div class="col-sm-8 label-background">
                    @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !Equals(Model.CustomerAccount.UpdateDte, null)) ? Model.CustomerAccount.UpdateDte.Value.ToString(ConfigurationManager.AppSettings["StringDateFormat"]) : string.Empty)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.CustomerAccount.UpdateUser)
                </div>
                <div class="col-sm-8 label-background">
                    @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.UpdateUser)) ? Model.CustomerAccount.UpdateUser : string.Empty)
                </div>
            </div>
            @*PRFT Custom HTML: Start*@
            <div class="form-group">
                <div class="col-sm-4 colon nopadding">
                    @Html.Label(string.Empty, ZnodeResources.LabelCustomerSalesRep)
                </div>
                <div class="col-sm-8 label-background">
                    @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.Custom1)) ? Model.CustomerAccount.Custom1 : string.Empty)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label(string.Empty, ZnodeResources.LabelIsSuperUser)
                </div>
                <div class="col-sm-8 label-background">
                    <i class="@HelperMethods.GetCheckMark(Equals(Model.CustomerAccount.Custom2,"1")) ? true : false"></i>
                    @*@Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.Custom2)) ? Model.CustomerAccount.Custom2 : string.Empty)*@
                </div>
            </div>           
            @*<div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.Label(string.Empty, ZnodeResources.LabelIsSalesRepresentative)
                </div>
                <div class="col-sm-8 label-background">
                    <i class="@HelperMethods.GetCheckMark(Equals(Model.CustomerAccount.Custom3, (System.Configuration.ConfigurationManager.AppSettings["salesRepAccountTypeId"]).ToString())) ? true : false"></i>*@
                    @*@Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.Custom3)) ? Model.CustomerAccount.Custom3 : string.Empty)*@
                @*</div>
            </div>*@
            @*PRFT Custom HTML: Start*@
        </div>
    </div>
    <div class="col-sm-12 nopadding item-list">
        <h4>@ZnodeResources.SubHeaderAddresses</h4>
        @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-plus'></i>" + "Add", "CreateAddress", "Customers", new { @accountId = @Model.CustomerAccount.AccountId }, new { @Class = "btn-text-icon red pull-right", @title = "Add" })

        <div class="col-sm-12 list-container">
            @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
        </div>

    </div>
</div>