﻿@model Znode.Engine.MvcAdmin.ViewModels.NotesListViewModel
@using Resources
<div class="col-sm-12 nopadding">
    <div class="col-sm-12 title-container">        
        <h2 class="left">@ZnodeResources.SubHeaderNoteList</h2>
        <button type="button" class="btn-text-icon red pull-right" title="@ZnodeResources.ButtonAdd" onclick="javascript: location.href = '/Customers/CreateNote/@Model.AccountId' ;"><i class="glyphicon glyphicon-plus"></i>@ZnodeResources.ButtonAdd</button>
    </div>    
    <div class="col-sm-12 col-md-7 col-lg-6 add-new-container nopadding">
        @if (!Equals(Model, null) && !Equals(Model.Notes, null) && (Model.Notes.Count > 0))
        {
            foreach (var item in Model.Notes)
            {
                <div class="col-sm-12 nopadding top-shift">
                    <div class="col-sm-4 nopadding">
                        <label>@string.Format(ZnodeResources.LabelNoteFormat, item.NoteTitle, item.CreateUser, HelperMethods.ViewDateFormat(item.CreateDate))</label>
                    </div>
                    <div class="col-sm-8 label-background customer-notes">
                        @Html.Raw(item.NoteBody)
                    </div>
                </div>
            }
        }
        else
        {
            <div>
                @ZnodeResources.NoRecordFoundMessageText
            </div>
        }
    </div>
</div>