﻿@model Znode.Engine.MvcAdmin.ViewModels.OrderViewModel
@using Resources;
<div id="grid-container">
    <div class="col-sm-12 nopadding">
        @Html.HiddenFor(model => model.AccountId)
        <div class="col-sm-12 list-container">
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.DynamicGrid)
            </div>
        </div>
    </div>
</div>
