﻿@model Znode.Engine.MvcAdmin.ViewModels.CustomerAffiliateViewModel
@using Resources
@using Znode.Libraries.Helpers

<div class="col-sm-12 nopadding">
    @Html.Hidden("ReferralCommissionType", @Model.ReferralCommissionType)
    @Html.Hidden("AccountId", @Model.AccountId)

    <div class="tab-container">
        <ul id="tabManageCustomerAffiliate" class="nav nav-tabs">
            <li class="active"><a href="/Customers/GetAccountPaymentList" id="accountpaymentlist" data-targetitemid="panel-accountpaymentlist" data-isignorgrid="true" data-queryparam="refrralCommissionType=@Model.ReferralCommissionType&id=@Model.AccountId" onclick="Customers.GetAccountPaymentList(event, this, '@UserTypes.Admin.ToString()');" data-toggle=" tab" class="tabs" title="@ZnodeResources.LabelAccountPaymentList">@ZnodeResources.LabelAccountPaymentList</a></li>
            <li><a href="/Customers/GetReferralCommissionList" id="referralcommissionlist" data-queryparam="accountId=@Model.AccountId" data-targetitemid="panel-accountpaymentlist" data-isignorgrid="true" onclick="Customers.GetReferralCommissionList(event, this, '@UserTypes.Admin.ToString()');" data-toggle="tab" class="tabs" title="@ZnodeResources.LabelReferralCommissionList">@ZnodeResources.LabelReferralCommissionList</a></li>
        </ul>
        <div class="tab-pane fade in active" id="panel-accountpaymentlist">
            @Html.Partial("~/Views/Customers/_AccountPaymentList.cshtml", Model)
        </div>
    </div>
</div>