﻿@model Znode.Engine.MvcAdmin.ViewModels.CustomerListViewModel
@using Resources;
@{
    var selectedTabMode = ViewBag.TabMode;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@ZnodeResources.LabelSuperUserList</h1>
        </div>


        <div class="col-sm-12 product-search nopadding">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm(actionName, controllerName, new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">                       
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                    </div>
                }
            </div>
        </div>

        <div class="col-sm-12 list-container">
            <div id="d-grid" class="col-sm-12 nopadding">
                @{
                    if (!Equals(Model, null) && !Equals(Model.GridModel, null))
                    {
                        Model.GridModel.IsAdvanceSearchHide = true;
                    }
                }
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
            </div>
            <div class="pull-right top-shift">
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest" onclick="PRFTUserAssociatedCustomer.AssociatedCustomers(@Model.AccountId);"> @ZnodeResources.ButtonSubmitRequest</button>
                @Html.ActionLink(@ZnodeResources.ButtonCancel, "Manage", "Customers", new { @id = Model.AccountId, @tabMode = selectedTabMode }, new { @Class = "btn-text grey", @title = @ZnodeResources.ButtonCancel })
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/PRFTUserAssociatedCustomer")

