﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@{
    if (!Equals(Model, null))
    {
        Model.IsAdvanceSearchHide = true;
    }
}
<div id="grid-container">
    <div class="col-sm-12 list-container">
        <h4>@ZnodeResources.SubHeaderReferralCommission</h4>
        @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
    </div>
</div>
<script>
    WebgridPagerHelper.Init();
</script>
