﻿@model Znode.Engine.MvcAdmin.ViewModels.AccountPaymentViewModel

@{
    ViewBag.Title = @ZnodeResources.LabelOrder + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var selectedTabMode = ViewBag.TabMode;
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        <h1>@ZnodeResources.HeaderAddCustomerPayment</h1>
    </div>
    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
    {
        <div class="col-sm-12 col-md-6 col-lg-5 add-new-container">
            <h4>@ZnodeResources.HeaderAddCustomerPayment</h4>
            <div class="form-group">
                <div class="col-sm-4 col-md-3 col-lg-4 nopadding">
                    @Html.LabelFor(model => model.AmountOwed)
                </div>
                <div class="col-sm-8 col-md-6 col-lg-8">
                    @Html.Label(Model.DisplayAmountOwned)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-md-3 col-lg-4 nopadding">
                    @Html.LabelFor(model => model.Description)
                    <span class="sub">@ZnodeResources.TextPaymentDesc</span>
                </div>
                <div class="col-sm-8 col-md-6 col-lg-8">
                    @Html.TextAreaFor(model => model.Description)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-md-3 col-lg-4 nopadding">
                    @Html.LabelFor(model => model.PaymentDate, new { @class = "required" })
                </div>
                <div class="col-sm-8 col-md-6 col-lg-8 right-inner-icon">
                    @Html.TextBoxFor(model => model.PaymentDate, new { @class = "datepicker", data_date_format = @Model.DatePickDateFormat })
                    <i class="glyphicon glyphicon-calendar"></i>
                    @Html.ValidationMessageFor(model => model.PaymentDate, null, new { @id = "valPaymentDate" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-md-3 col-lg-4 nopadding">
                    @Html.LabelFor(model => model.Amount, new { @class = "required" })
                </div>
                <div class="col-sm-8 col-md-6 col-lg-8">
                    @Html.TextBoxFor(model => model.Amount, new { @maxlength = 8 })
                    @Html.ValidationMessageFor(model => model.Amount)
                </div>
            </div>
            <div class="form-group">
                <div class="pull-right">
                    <button type="submit" id="btnSubmit" class="btn-text red" onclick="return Customers.AccountPaymentValidation();" title="@ZnodeResources.ButtonSubmitRequest"> @ZnodeResources.ButtonSubmitRequest</button>
                    @Html.ActionLink(ZnodeResources.ButtonCancel, "Manage", new { @id = Model.AccountId, @tabmode = selectedTabMode }, new { @Class = "btn-text grey", @title = @ZnodeResources.ButtonCancel })

                </div>
            </div>


        </div>
    }
    @Html.HiddenFor(model => model.AccountId)
</div>
@Scripts.Render("~/Scripts/CustomScripts/Customers.js")