﻿@model Znode.Engine.MvcAdmin.ViewModels.ProfileListViewModel
@using Resources;
@{
    var selectedTabMode = ViewBag.TabMode;
}
@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@string.Format(@ZnodeResources.LabelAssociatedProfile, Model.FullName)</h1>
        </div>

        <div class="col-sm-12 list-container">
            <div id="d-grid" class="col-sm-12 nopadding">
                @{
                    if (!Equals(Model, null) && !Equals(Model.GridModel, null))
                    {
                        Model.GridModel.IsAdvanceSearchHide = true;
                    }
                }
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
            </div>
            <div class="pull-right top-shift">
                <button type="submit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest" onclick="AccountAssociatedProfiles.AssociatedProfiles(@Model.AccountId);"> @ZnodeResources.ButtonSubmitRequest</button>
                @Html.ActionLink(@ZnodeResources.ButtonCancel, "Manage", "Customers", new { @id = Model.AccountId, @tabMode = selectedTabMode }, new { @Class = "btn-text grey", @title = @ZnodeResources.ButtonCancel })
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/AccountAssociatedProfiles")

