﻿@model Znode.Engine.MvcAdmin.ViewModels.CustomerViewModel
@using Resources
@using Znode.Engine.MvcAdmin.ViewModels;
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmCustomer", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
}

@*PRFT Custom Code : Start*@
@{
    List<SelectListItem> custList = new List<SelectListItem>();

    SelectListItem defaultItem = new SelectListItem();

    defaultItem.Text = System.Configuration.ConfigurationManager.AppSettings["genericUser"];
    defaultItem.Value = System.Configuration.ConfigurationManager.AppSettings["genericUser"];
    defaultItem.Selected = true;
    custList.Add(defaultItem);
    if (Model.customerList.Customers != null && Model.customerList.Customers.Count > 0)
    {
        foreach (var item in Model.customerList.Customers.ToList())
        {

            if (!string.IsNullOrEmpty(item.Custom2) && (item.Custom2) == "1")
            {
                if (defaultItem.Value != item.AccountId.ToString() && Model.CustomerAccount.AccountId != item.AccountId)
                {
                    SelectListItem selectitem = new SelectListItem();
                    selectitem.Text = item.AccountId.ToString();
                    selectitem.Value = item.AccountId.ToString();
                    selectitem.Selected = (item.AccountId == Model.CustomerAccount.AccountId ? true : false);
                    custList.Add(selectitem);
                }
            }
        }
    }
}
@*PRFT Custom Code : End*@
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (actionName.ToLower().Equals("create"))
            {
                <h1 class="left">@ZnodeResources.SubHeaderAddCustomerInformation</h1>
            }
            else
            {
                <h1 class="left">@ZnodeResources.SubHeaderEditCustomerInformation</h1>

            }

            <div class="pull-right">
                @Html.HiddenFor(model => model.CustomerAccount.AccountId)
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        }
    </div>
    <div class="col-sm-12 search-container">
        <p class="left">@ZnodeResources.TextAddCustomer</p>
    </div>

    <div class="col-sm-12 add-new-item">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmCustomer" }))
        {
            @Html.ValidationSummary(true)
            <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                    <h4>@ZnodeResources.LabelGeneralInformation</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.CustomerAccount.ExternalId)
                            <span class="sub">@ZnodeResources.NoteExternalId</span>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.CustomerAccount.ExternalId, new { @maxlength = 50, id = "externalId" })
                            <span class="field-validation-error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.Label(string.Empty, ZnodeResources.LabelCustomerBasedPricingEnabled)
                            <span class="sub">@ZnodeResources.NoteCustomerBaisedPricing</span>
                        </div>
                        <div class="col-sm-8">
                            <label>
                                <input type="checkbox" name="CustomerAccount.EnableCustomerPricing" value="true" checked="@Model.CustomerAccount.EnableCustomerPricing" />
                                <span class="lbl padding-8">@ZnodeResources.LabelEnableCustomerBasedPricing</span>
                                <input name="CustomerAccount.EnableCustomerPricing" type="hidden" value="false">
                            </label>
                        </div>

                    </div>
                    @*PRFT Custom Code : Start*@
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.Label(string.Empty, ZnodeResources.LabelUserOrSuperUser)
                            <span class="sub">@ZnodeResources.NoteUserOrSuperUser</span>
                        </div>
                        <div class="col-sm-8">
                            <label>
                                @if (Model.CustomerAccount.Custom2 == "1")
                                {
                                    <input type="checkbox" id="IsB2B" name="CustomerAccount.Custom2" value="1" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" id="IsB2B" name="CustomerAccount.Custom2" value="1" />
                                }
                                @*<input type="checkbox" id="IsB2B" name="CustomerAccount.Custom2" value="true" checked="@Model.CustomerAccount.Custom2" />*@
                                <span class="lbl padding-8">@ZnodeResources.LabelIsSuperUser</span>
                                <input name="CustomerAccount.Custom2" type="hidden" value="0">
                            </label>
                        </div>

                        @*<div class="col-sm-8">
                            <label>
                                @if (Model.CustomerAccount.Custom3 == (System.Configuration.ConfigurationManager.AppSettings["salesRepAccountTypeId"]).ToString())
                                {
                                    <input type="checkbox" id="IsSalesRep" name="CustomerAccount.Custom3" value="1" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" id="IsSalesRep" name="CustomerAccount.Custom3" value="1" />
                                }
                                @*<input type="checkbox" id="IsB2B" name="CustomerAccount.Custom2" value="true" checked="@Model.CustomerAccount.Custom2" />*@
                        @*<span class="lbl padding-8">@ZnodeResources.LabelIsSalesRepresentative</span>
                                    <input name="CustomerAccount.Custom3" type="hidden" value="0">
                                </label>
                            </div>*@

                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.Label(string.Empty, ZnodeResources.LabelSelectSalesRep)
                            <span class="sub"></span>
                        </div>
                        <div class="col-sm-8">
                            <label>
                                @if (Model.IsSalesRepFound)
                                {
                                    @Html.DropDownList("SalesRepId", Model.SalesReps.Select(saleRep => new SelectListItem { Text = saleRep.SaleRepNameWithLocation, Value = saleRep.SalesRepID.ToString(), Selected = (Model.SalesRepId == saleRep.SalesRepID) ? true : false }))
                                }
                                else
                                {
                                    @Html.DropDownList("SalesRepId", Model.SalesReps.Select(saleRep => new SelectListItem { Text = saleRep.SaleRepNameWithLocation, Value = saleRep.SalesRepID.ToString() }))
                                }
                            </label>
                        </div>

                    </div>
                    <!--PRFT Custom Code: Start-->
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.Label(string.Empty, ZnodeResources.LabelSelectCustomer)
                        </div>
                        <div class="col-sm-8">
                            @if (Model.IsCustParentAccountFound)
                            {
                                @Html.DropDownList("CustomerId", custList.Select(cust => new SelectListItem { Text = cust.Text, Value = cust.Value, Selected = (Model.CustParentAccountId.ToString() == cust.Value) ? true : false }))
                            }
                            else
                            {
                                @Html.DropDownList("CustomerId", custList.Select(cust => new SelectListItem { Text = cust.Text, Value = cust.Value, Selected = (bool)cust.Selected }))
                            }
                            @*@Html.DropDownList("CustomerId", custList.Select(cust => new SelectListItem { Text = cust.Text, Value = cust.Value, Selected = (bool)cust.Selected }))*@
                        </div>
                    </div>
                    <!--PRFT Custom Code: End-->
                    @*PRFT Custom Code : End*@
                    <h4>@ZnodeResources.SubHeaderLoginInformation</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.Label(string.Empty, ZnodeResources.LabelUserID, new { @class = "required" })
                        </div>
                        @if (!Model.CustomerAccount.IsUserExists)
                        {
                            <div class="col-sm-8 nopadding">

                                @Html.TextBoxFor(m => m.CustomerAccount.UserName)
                                @Html.ValidationMessageFor(m => m.CustomerAccount.UserName)

                            </div>
                        }
                        else
                        {
                            <div class="col-sm-8 nopadding">

                                @Html.Label("UserName", Model.CustomerAccount.UserName)
                                @Html.HiddenFor(m => m.CustomerAccount.UserName)
                                @Html.HiddenFor(m => m.CustomerAccount.UserId)

                            </div>
                        }
                    </div>
                    @if (string.Equals(actionName.ToLower(), "edit") && Model.CustomerAccount.IsUserExists)
                    {
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.Label(ZnodeResources.LabelResetPassword)
                            </div>
                            <div class="col-sm-8 nopadding">
                                @Html.Raw("<span class='btn-text red stored-btn' style='cursor:pointer' title='" + ZnodeResources.ButtonSubmitRequest + "' onclick='CommonHelper.ResetAccountPassword(\" " + ZnodeResources.TitleConfirmResetPassword + "\", \" " + ZnodeResources.TextConformResetPassword + "\", \"/" + controllerName + "/" + "ResetPassword" + "?accountId=" + @Model.CustomerAccount.AccountId + "\");'>" + ZnodeResources.ButtonSubmitRequest + "</span>")
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.Label(string.Empty, ZnodeResources.LabelEmailAddress, new { @class = "required" })

                        </div>
                        <div class="col-sm-8 nopadding">
                            @Html.EditorFor(model => model.CustomerAccount.EmailAddress)
                            @Html.ValidationMessageFor(model => model.CustomerAccount.EmailAddress)
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-sm-8 col-sm-offset-4">
                            <label>
                                <input type="checkbox" name="CustomerAccount.EmailOptIn" value="true" checked="@Model.CustomerAccount.EmailOptIn" />
                                <span class="lbl padding-8">@ZnodeResources.NoteSendPeriodicMail</span>
                                <input name="CustomerAccount.EmailOptIn" type="hidden" value="false">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    <h4>@ZnodeResources.SubHeaderCustomInformation</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.CustomerAccount.CompanyName)
                        </div>
                        <div class="col-sm-8 nopadding">
                            @Html.TextBoxFor(m => m.CustomerAccount.CompanyName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.CustomerAccount.Website)
                        </div>
                        <div class="col-sm-8 nopadding">
                            @Html.TextBoxFor(m => m.CustomerAccount.Website)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.CustomerAccount.Source)
                        </div>
                        <div class="col-sm-8 nopadding">
                            @Html.TextBoxFor(m => m.CustomerAccount.Source)
                        </div>
                    </div>
                    @*PRFT Custom Code : Start*@
                    @*<div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.CustomerAccount.Custom1)
                            </div>
                            <div class="col-sm-8 nopadding">

                                @Html.TextAreaFor(m => m.CustomerAccount.Custom1)

                            </div>
                        </div>*@

                    @*<div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model =>model.CustomerAccount.Custom2)
                            </div>
                            <div class="col-sm-8 nopadding">
                                @Html.TextAreaFor(m => m.CustomerAccount.Custom2)
                            </div>
                        </div>*@
                    @*<div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.CustomerAccount.Custom3)
                            </div>
                            <div class="col-sm-8 nopadding">
                                @Html.TextAreaFor(m => m.CustomerAccount.Custom3)
                            </div>
                        </div>*@
                    @*PRFT Custom Code : End*@
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.CustomerAccount.Description)
                        </div>
                        <div class="col-sm-8 nopadding">
                            @Html.TextAreaFor(m => m.CustomerAccount.Description)
                        </div>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(model => model.CustomerAccount.AccountId)
        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">

                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#IsB2B").click(function () {
        if ($("#IsB2B").is(":checked")) {
            $("#CustomerId").attr("disabled", "disabled");
        }
        else {
            $("#CustomerId").removeAttr("disabled")
        }
    });

    if ($("#IsB2B").is(":checked")) {
        $("#CustomerId").attr("disabled", "disabled");
    }
    else {
        $("#CustomerId").removeAttr("disabled")
    }

</script>