﻿@model Znode.Engine.MvcAdmin.ViewModels.CustomerAffiliateViewModel
@using Resources
@using Znode.Engine.MvcAdmin.ViewModels;
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmCustomerAffilate", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, Callback = "Customers.SetCommisionValidation" };
    ViewBag.Title = @ZnodeResources.LabelOrder + " | " + @ZnodeResources.TitleMultifront;
}
<div id="AffiliateTracking">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1>@ZnodeResources.HeaderAffiliateSetting</h1>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 add-new-container">
            @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmCustomerAffilate" }))
            {
                <h4>@ZnodeResources.SubHeaderTrackingInformation</h4>
                <p class="left-sm-shift">@ZnodeResources.TextEditAffiliate</p>
                <div class="form-group top-shift">
                    <div class="col-sm-4 col-md-3 col-lg-4 nopadding">
                        @Html.Label(ZnodeResources.LabelTrackingLinkUrl)
                        <span class="sub">@ZnodeResources.TextTrackingUrl</span>
                    </div>

                    <div id="trackingLink" style="display:none" class="col-sm-8 label-background">
                        <a href="@Model.TrackingLink" id="lbltrackingLink" target="_blank">@Model.TrackingLink?affiliate_id=@Model.AccountId</a>
                    </div>

                    <div id="Nolink" style="display:none" class="col-sm-8 label-background">
                        <span>@ZnodeResources.NotActiveReferalStatusFlag</span>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-md-3 col-lg-4 nopadding">
                        @Html.LabelFor(model => model.ReferralCommissionType)
                        <span class="sub">@ZnodeResources.TextCommisionType</span>
                    </div>
                    <div class="col-sm-8 col-md-6 col-lg-8">
                        @Html.DropDownListFor(model => model.ReferralCommisionTypeId, Model.ReferralCommissionTypeList, new { @id = "ddlReferralCommisionType" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-md-3 col-lg-4 nopadding">
                        @Html.LabelFor(model => model.ReferralCommission)
                    </div>
                    <div class="col-sm-8 col-md-6 col-lg-8">
                        @Html.TextBoxFor(model => model.ReferralCommission)
                        @Html.ValidationMessageFor(model => model.ReferralCommission, null, new { @id = "valReferralCommission" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-md-3 col-lg-4 nopadding">
                        @Html.LabelFor(model => model.TaxID)
                    </div>
                    <div class="col-sm-8 col-md-6 col-lg-8">
                        @Html.TextBoxFor(model => model.TaxID)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-md-3 col-lg-4 nopadding">
                        @Html.LabelFor(model => model.ReferalStatus)
                        <span class="sub">@ZnodeResources.TextPartnerApprovalStatus</span>
                    </div>
                    <div class="col-sm-8 col-md-6 col-lg-8">
                        @Html.DropDownListFor(model => model.Status, Model.PartnerApprovalStatusList, new { @id = "ddlStatus" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-md-3 col-lg-4 nopadding">
                        @Html.LabelFor(model => model.AmountOwed)
                    </div>
                    <div class="col-sm-8 col-md-6 col-lg-8 label-background">
                        @Html.Label("", Model.AmountOwed)
                    </div>
                </div>
                @Html.HiddenFor(model => model.AccountId)
            }
            <div class="col-sm-12 nopadding">
                <div class="pull-right">
                    @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
                </div>
            </div>
        </div>

    </div>
</div>
@Scripts.Render("~/Scripts/CustomScripts/Customers.js")
<script>
    $(document).ready(function () {
        Customers.ReferralStatusChange($("#ddlStatus option:selected").val());
    });
</script>