﻿@model Znode.Engine.MvcAdmin.ViewModels.CustomerListViewModel
@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    bool enableCustomerPricing = Model.IsEnableCustomerPricing;
    //PRFT Custom Code: Start
    bool isCustomer = (Convert.ToBoolean(TempData["IsCustomer"])) ? true : false;
    bool isSuperUser = (Convert.ToBoolean(TempData["isSuperUser"])) ? true : false;
    //PRFT Custom Code: End
}
@using Resources
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">@ZnodeResources.HeaderCustomers</h1>
            <button type="button" class="btn-text-icon red pull-right" title="@ZnodeResources.ButtonAdd" onclick="javascript: location.href =  '/Customers/Create';"><i class='glyphicon glyphicon-plus'></i>@ZnodeResources.ButtonAdd</button>
        </div>
        <div class="col-sm-12 search-container">
            <p class="left">@ZnodeResources.SubHeaderSearchCustomer</p>
        </div>

        <div class="col-sm-12 product-search nopadding">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm(actionName, controllerName, new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">

                        <!--PRFT Custom Code: Start-->
                        @if (!Equals(Model, null))
                        {
                            <div class="col-lg-3 col-md-4 col-sm-12 product-group">
                                <div class="form-group">
                                    <div class="col-sm-12 col-md-10 nopadding">
                                        <label>@ZnodeResources.ShowCustomerOnlySearchText</label>
                                    </div>
                                    <div class="col-sm-12 col-md-10 nopadding">
                                        <input id="isCustomer" name="isCustomer" type="checkbox" checked="@isCustomer" value="true">
                                        <span class="lbl padding-8"></span>
                                        <input name="isCustomer" type="hidden" value="false">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12 product-group">
                                <div class="form-group">
                                    <div class="col-sm-12 col-md-10 nopadding">
                                        <label>@ZnodeResources.ShowSuperUserOnlySearchText</label>
                                    </div>
                                    <div class="col-sm-12 col-md-10 nopadding">
                                        <input id="isSuperUser" name="isSuperUser" type="checkbox" checked="@isSuperUser" value="true">
                                        <span class="lbl padding-8"></span>
                                        <input name="isSuperUser" type="hidden" value="false">
                                    </div>
                                </div>
                            </div>
                        }
                        <!--PRFT Custom Code: End-->  

                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                    </div>
                }
            </div>
        </div>

        <div class="col-sm-12 list-container" id="bundleproductlist">
            @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
        </div>
        @using (Html.BeginForm("DownloadCustomerDetails", "Customers", FormMethod.Post))
        {
            <div class="col-sm-12 bottom-shift">
                <div class="pull-right">
                    <button @Html.Raw(Equals(@Model.GridModel.DataTableToList.Count, 0) ? "disabled=\"disabled\"" : "") type="submit" class="btn-text red pull-right" title="@ZnodeResources.ButtonDownloadToExcel">@ZnodeResources.ButtonDownloadToExcel</button>
                </div>
            </div>
        }
        <div class="CustomerDetailsContainer" style="display:none;"></div>
    </div>
</div>
@Scripts.Render("~/Scripts/CustomScripts/Customers.js")
@Scripts.Render("~/bundles/FranchiseAdmin")
<script type="text/javascript">

    $(document).ready(function () {
        Customers.CustomerDetails('@enableCustomerPricing', "grid");
        var val = $("#ProfileId").val(); FranchiseAdmin.BindProfile(function (res) { if (res) $("#ProfileId").val(val); val = null; }); FranchiseAdmin.PreventSearchButton(function (res) { if (res) $("#ProfileId").val(val); val = null; });

    });
    $("#btnsearch").on("click", function () {
        return CommonHelper.PreventSearchSubmit();
    });

    $(document).on("change", '.datepicker', function () {

        return CommonHelper.StartDateEndDateValidation();
    })
</script>
