﻿@model Znode.Engine.MvcAdmin.ViewModels.CustomerViewModel
@using Resources
@using System.Configuration
@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
    var accountId = (!Equals(Model, null) && !Equals(Model.CustomerAccount, null) && Model.CustomerAccount.AccountId > 0) ? Model.CustomerAccount.AccountId.ToString() : string.Empty;
    var fullName = (!Equals(Model, null) && !string.IsNullOrEmpty(Model.FullName)) ? Model.FullName : string.Empty;
}

@{
    var selectedTabMode = TempData[MvcAdminConstants.SetTabMode];
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container bottom-shift">
        <h1 class="left">@string.Format(ZnodeResources.HeaderCreateEditCustomer, accountId, fullName)</h1>
        <button type="button" id="redirect-back" class="btn-text-icon grey pull-right" title="@ZnodeResources.ButtonBack" onclick="javascript: location.href = '/Customers/List';"><i class="z-arrow-left"></i>@ZnodeResources.ButtonBack</button>
    </div>
    <div class="col-sm-12 nopadding">
        <div class="manage-stores-container">
            <div class="tab-container">
                <ul id="tabManageProduct" class="nav nav-tabs">
                    <li><a href="#panel-1" data-toggle="tab" class="tabs" id="customers-General">General</a></li>
                    @if (!Equals(Model.CustomerAccount, null) && Model.CustomerAccount.IsUserExists)
                    {
                        <li><a href="/Customers/OrderList" id="customers-cutomerList" data-queryparam="id=@Model.CustomerAccount.AccountId" data-targetitemid="panelSEO" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabOrders</a></li>
                    }
                    <li><a href="/Customers/NoteList" id="customers-noteList" data-queryparam="id=@Model.CustomerAccount.AccountId" data-targetitemid="panelSEO" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabNotes</a></li>
                    <li><a href="/Customers/AccountProfileList" id="customers-profilelist" data-queryparam="id=@Model.CustomerAccount.AccountId" data-targetitemid="panelSEO" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabProfiles</a></li>
                    <li><a href="/Customers/GetCustomerAffiliate" id="customers-customeraffiliate" data-queryparam="id=@Model.CustomerAccount.AccountId" data-targetitemid="panelSEO" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabAffiliate</a></li>
                    @if (!Equals(Model, null) && ((Model.EnableCustomerPricing.HasValue) ? Convert.ToBoolean(Model.EnableCustomerPricing) : false))
                    {
                        <li><a href="/Customers/CustomerBasedPricingProductList" id="customers-customerPricingProductList" data-queryparam="id=@Model.CustomerAccount.AccountId" data-targetitemid="panelSEO" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabCustomerBasedPricing</a></li>
                    }
                </ul>

                <div id="tabContents" class="tab-content">
                    <!--Panels 1-->
                    <div id="manageCustomerTabContents" class="tab-content">
                        <div class="tab-pane fade in active" id="panel-1">
                            <div class="col-sm-12 nopadding">
                                @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-pencil'></i>" + ZnodeResources.ButtonEdit, "Edit", "Customers", new { @id = @Model.CustomerAccount.AccountId }, new { @Class = "btn-text-icon red pull-right", @title = @ZnodeResources.ButtonEdit })
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                                    <h4>@ZnodeResources.SubHeaderContactInformation</h4>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.FullName)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(string.Empty, (string.IsNullOrEmpty(Model.FullName)) ? string.Empty : Model.FullName)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.CompanyName)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(string.Empty, (string.IsNullOrEmpty(Model.CompanyName)) ? string.Empty : Model.CompanyName)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">

                                            @Html.Label("", @ZnodeResources.DisplayPhoneBilling)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(string.Empty, (string.IsNullOrEmpty(Model.PhoneNumber)) ? string.Empty : Model.PhoneNumber)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.CustomerAccount.EmailAddress)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.EmailAddress)) ? Model.CustomerAccount.EmailAddress : string.Empty)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.CustomerAccount.EmailOptIn)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            <i class="@HelperMethods.GetCheckMark(Convert.ToBoolean(Model.CustomerAccount.EmailOptIn))"></i>
                                        </div>
                                    </div>

                                    <h4>@ZnodeResources.SubHeaderAccountInformation</h4>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.CustomerAccount.AccountId)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && Model.CustomerAccount.AccountId > 0) ? Model.CustomerAccount.AccountId.ToString() : string.Empty)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.CustomerAccount.ExternalId)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.ExternalId)) ? Model.CustomerAccount.ExternalId : string.Empty)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.CustomerAccount.EnableCustomerPricing)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            <i class="@HelperMethods.GetCheckMark(Convert.ToBoolean(Model.CustomerAccount.EnableCustomerPricing))"></i>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.CustomerAccount.UserName)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.UserName)) ? Model.CustomerAccount.UserName : string.Empty)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 item-list">
                                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                                    <h4>@ZnodeResources.SubHeaderAdditionalInformation</h4>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.CustomerAccount.Website)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(string.Empty, (string.IsNullOrEmpty(Model.CustomerAccount.Website)) ? string.Empty : Model.CustomerAccount.Website)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.CustomerAccount.Description)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.Description)) ? Model.CustomerAccount.Description : string.Empty)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.CustomerAccount.Source)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.Source)) ? Model.CustomerAccount.Source : string.Empty)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.CustomerAccount.CreateDte)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !Equals(Model.CustomerAccount.CreateDte, null)) ? Model.CustomerAccount.CreateDte.Value.ToString(ConfigurationManager.AppSettings["StringDateFormat"]) : string.Empty)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.CustomerAccount.CreateUser)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.CreateUser)) ? Model.CustomerAccount.CreateUser : string.Empty)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.CustomerAccount.UpdateDte)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !Equals(Model.CustomerAccount.UpdateDte, null)) ? Model.CustomerAccount.UpdateDte.Value.ToString(ConfigurationManager.AppSettings["StringDateFormat"]) : string.Empty)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.CustomerAccount.UpdateUser)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.UpdateUser)) ? Model.CustomerAccount.UpdateUser : string.Empty)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 colon nopadding">
                                            @Html.LabelFor(model => model.CustomerAccount.Custom1)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.Custom1)) ? Model.CustomerAccount.Custom1 : string.Empty)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.CustomerAccount.Custom2)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.Custom2)) ? Model.CustomerAccount.Custom2 : string.Empty)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 nopadding">
                                            @Html.LabelFor(model => model.CustomerAccount.Custom3)
                                        </div>
                                        <div class="col-sm-8 label-background">
                                            @Html.Label(string.Empty, (!Equals(Model.CustomerAccount, null) && !string.IsNullOrEmpty(Model.CustomerAccount.Custom3)) ? Model.CustomerAccount.Custom3 : string.Empty)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 nopadding item-list">
                                <h4>@ZnodeResources.SubHeaderAddresses</h4>
                                @Html.ActionLinkAuthorized("<i class='glyphicon glyphicon-plus'></i>" + "Add", "CreateAddress", "Customers", new { @accountId = @Model.CustomerAccount.AccountId }, new { @Class = "btn-text-icon red pull-right", @title = "Add" })

                                <div class="col-sm-12 list-container">
                                    @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.GridModel)
                                </div>

                            </div>
                        </div>

                        <!--Important Div, Do not delete/modify-->
                        <div class="tab-pane fade" id="panelSEO">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/CustomScripts/Customers.js")
<script>
    $(window).load(function () {
        WebgridPagerHelper.Init();
    });
</script>

