﻿@model Znode.Engine.MvcAdmin.ViewModels.CustomerViewModel
@using Resources
@using System.Configuration
@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
    var accountId = (!Equals(Model, null) && !Equals(Model.CustomerAccount, null) && Model.CustomerAccount.AccountId > 0) ? Model.CustomerAccount.AccountId.ToString() : string.Empty;
    var fullName = (!Equals(Model, null) && !string.IsNullOrEmpty(Model.FullName)) ? Model.FullName : string.Empty;
}

@{
    var selectedTabMode = TempData[MvcAdminConstants.SetTabMode];
}

<div id="grid-container123">
    <div class="col-sm-12 dashboard-page-container">
        @{

            <div class="col-sm-12 title-container">
                <h1 class="left">@string.Format(ZnodeResources.HeaderCreateEditCustomer, accountId, fullName)</h1>
                <button type="button" id="redirect-back" class="btn-text-icon grey pull-right" title="@ZnodeResources.ButtonBack" onclick="javascript: location.href = '/Customers/List';"><i class="z-arrow-left"></i>@ZnodeResources.ButtonBack</button>
            </div>
            <div class="col-sm-12 bottom-shift">

            </div>
        }

        <div class="col-sm-12 nopadding">
            <div class="manage-stores-container">
                <div class="tab-container">
                    <ul id="tabManageProduct" class="nav nav-tabs">
                        <li><a href="/Customers/Manage" id="customers-General" data-queryparam="id=@Model.CustomerAccount.AccountId" data-targetitemid="panel1" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabGeneral</a></li>
                        @if (!Equals(Model.CustomerAccount, null) && Model.CustomerAccount.IsUserExists)
                        {
                            <li><a href="/Customers/OrderList" id="customers-cutomerList" data-queryparam="id=@Model.CustomerAccount.AccountId" data-targetitemid="panel1" data-isignorgrid="true" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabOrders</a></li>
                        }
                        <li><a href="/Customers/NoteList" id="customers-noteList" data-queryparam="id=@Model.CustomerAccount.AccountId" data-targetitemid="panel1" data-isignorgrid="true" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabNotes</a></li>
                        <li><a href="/Customers/AccountProfileList" id="customers-profilelist" data-queryparam="id=@Model.CustomerAccount.AccountId" data-targetitemid="panel1" data-isignorgrid="true" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabProfiles</a></li>
                        <li><a href="/Customers/GetCustomerAffiliate" id="customers-customeraffiliate" data-queryparam="id=@Model.CustomerAccount.AccountId" data-targetitemid="panel1" data-isignorgrid="true" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabAffiliate</a></li>
                        @if (!Equals(Model, null) && ((Model.EnableCustomerPricing.HasValue) ? Convert.ToBoolean(Model.EnableCustomerPricing) : false))
                        {
                            <li><a href="/Customers/CustomerBasedPricingProductList" id="customers-customerPricingProductList" data-queryparam="id=@Model.CustomerAccount.AccountId" data-targetitemid="panel1" data-isignorgrid="true" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabCustomerBasedPricing</a></li>
                        }
                        @*PRFT CUstom Code: Start*@
                        @if (!(PRFTHelperMethods.IsB2BUser(Model.CustomerAccount)))
                        {
                            <li><a href="/Customers/CustomerMappingList" id="customers-customermapping" data-queryparam="id=@Model.CustomerAccount.AccountId" data-targetitemid="panel1" data-isignorgrid="true" onclick="CommonHelper.Tab_Change_Handler(this);" data-toggle="tab" class="tabs">@ZnodeResources.TabCustomerMapping</a></li>
                        }
                        @*PRFT CUstom Code: End*@
                    </ul>

                    <div id="tabContents" class="tab-content">
                        <!--Panels 1-->
                        <div id="manageCustomerTabContents" class="tab-content">
                            <div class="tab-pane fade in active" id="panel1">
                                @Html.Partial("_ManagePartial", Model)
                            </div>
                            <div class="tab-pane fade" id="panel-2">

                            </div>
                            <!--Important Div, Do not delete/modify-->
                            <div class="tab-pane fade" id="panel7">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@Scripts.Render("~/Scripts/CustomScripts/Customers.js")

<script>
    $(document).ready(function () {
        WebgridPagerHelper.SetPagingInput();
    });

</script>
