﻿@{
    ViewBag.Title = @ZnodeResources.TitleAdvanced + " | " + @ZnodeResources.TitleMultifront;
}

<div class="dashboard-page-container">
    <div class="col-sm-12">
        <div class="col-sm-12 col-md-6 col-lg-6 item-list">
            <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                <h4>@ZnodeResources.LabelAccountsSecurity</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-store-administrators"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/storeadmin/list">@ZnodeResources.StoreAdminHeader</a>
                        <p>@ZnodeResources.StoreAdminSubHeader</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-key-rotation"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/RotateKey/Key">@ZnodeResources.LabelRotateKey</a>
                        <p>@ZnodeResources.RotateKeySubMessage</p>
                    </div>
                </div>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-provider-engine"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/ProviderEngine/ManageProviderEngine">@ZnodeResources.HeaderProviderEngine</a>
                        <p>@ZnodeResources.ProviderEngineSubMessage</p>
                    </div>
                </div>
                <h4>@ZnodeResources.TitleSearch</h4>
                <div class="col-sm-12 index-label">
                    <div class="col-sm-1 nopadding">
                        <i class="z-manage-search-index"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/ManageSearchIndex/ManageSearchIndex">@ZnodeResources.LabelManageSearchIndex</a>
                        <p>@ZnodeResources.ManageSearchIndexSubMessages</p>
                    </div>

                    <div class="col-sm-1 nopadding">
                        <i class="z-manage-search-index"></i>
                    </div>
                    <div class="col-sm-11 ">
                        <a href="/XMLGenerator/List">@ZnodeResources.LabelGridConfigurator</a>
                        <p>@ZnodeResources.LabelGridConfigurator</p>
                    </div>
                </div>               
            </div>
        </div>        
    </div>
</div>
