﻿@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels

@model AttributeTypeViewModel



<div class="col-xs-12 nopadding">
    <label>@Model.Name</label></div>
<div class="col-xs-12 nopadding">
    @Html.AttributeDropDownListFor(model => model.SelectedAttributeId, Model.DropdownAttributes, Model.ToBeFiltered, new { @class = "attribute", rel = Model.AttributeTypeId })
</div>

