﻿@model Znode.Engine.MvcAdmin.ViewModels.SupplierViewModel
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmSupplier", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @if (Equals(actionName.ToLower(), "create"))
        {
            <h1 class="left">@ZnodeResources.HeaderAddSupplier  </h1>
        }
        else
        {
            <h1 class="left">@ZnodeResources.HeaderEditSupplier  </h1>
        }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>

    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmSupplier" }))
    {
        string isActiveStatus = (!Equals(Model, null) && Model.IsActive) ? "checked='checked'" : string.Empty;

        <div class="col-sm-12 add-new-item">
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                    <h4>@ZnodeResources.LabelGeneralInformation</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Name, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ExternalSupplierNumber)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.ExternalSupplierNumber)
                            @Html.ValidationMessageFor(model => model.ExternalSupplierNumber)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Description)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <label>
                                <input @isActiveStatus id="IsActive" name="IsActive" type="checkbox" value="true">
                                <span class="lbl padding-8">@ZnodeResources.LabelEnableSupplier </span>
                                <input name="IsActive" type="hidden" value="false">
                            </label>
                        </div>
                    </div>

                    <h4>@ZnodeResources.SubHeaderSupplierContact  </h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ContactFirstName)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.ContactFirstName)
                            @Html.ValidationMessageFor(model => model.ContactFirstName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ContactLastName)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.ContactLastName)
                            @Html.ValidationMessageFor(model => model.ContactLastName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ContactPhoneNumber)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.ContactPhoneNumber)
                            @Html.ValidationMessageFor(model => model.ContactPhoneNumber)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.ContactEmail)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.ContactEmail)
                            @Html.ValidationMessageFor(model => model.ContactEmail)
                        </div>
                    </div>

                    <h4>@ZnodeResources.SubHeaderSupplierNotification  </h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.SupplierTypeId)
                        </div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.SupplierTypeClassName, new SelectList(Model.SupplierTypeList, "ClassName", "Name"), new { @id = "ddlSupplierList" })
                        </div>
                    </div>
                    <div id="emailSetting">
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.NotificationEmail)
                                <p class="sub">@ZnodeResources.DescriptionNotificationEmail </p>
                            </div>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(model => model.NotificationEmail, new { @rows = "3" })
                                @Html.ValidationMessageFor(model => model.NotificationEmail)
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.EmailNotificationTemplate)
                                <p class="sub">@ZnodeResources.DescriptionEmailNotificationTemplate  </p>
                            </div>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(model => model.EmailNotificationTemplate, new { @rows = "5", @class = "AllowHtml" })
                                @Html.ValidationMessageFor(model => model.EmailNotificationTemplate)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.DisplayOrder, new { @class = "required" })
                        </div>
                        <div class="col-sm-8">
                            @if (actionName.ToLower().Equals("edit"))
                            {
                                @Html.TextBoxFor(model => model.DisplayOrder)
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.DisplayOrder, new { Value = 500 })
                            }
                            @Html.ValidationMessageFor(model => model.DisplayOrder)
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    <h4>@ZnodeResources.SubHeaderCustomInformation</h4>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Custom1)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.Custom1, new { @rows = "4" })
                            @Html.ValidationMessageFor(model => model.Custom1)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Custom2)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.Custom2, new { @rows = "4" })
                            @Html.ValidationMessageFor(model => model.Custom2)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Custom3)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.Custom3, new { @rows = "4" })
                            @Html.ValidationMessageFor(model => model.Custom3)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Custom4)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.Custom4, new { @rows = "4" })
                            @Html.ValidationMessageFor(model => model.Custom4)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.Custom5)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.Custom5, new { @rows = "4" })
                            @Html.ValidationMessageFor(model => model.Custom5)
                        </div>
                    </div>
                </div>
            </div>
            @if (actionName.ToLower().Equals("edit"))
            {
                @Html.HiddenFor(model => model.SupplierId)
            }
        </div>
    }
    <div class="col-sm-12 nopadding">
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Supplier")
