﻿@model Znode.Engine.MvcDemo.Areas.Diagnostics.Models.DiagnosticsViewModel
@using Resources;
@{
    ViewBag.Title = ZnodeResources.DiagnosticsPageTitle;
    Layout = "~/Views/Shared/_Layout_Franchise_Outer.cshtml";  
}
<body data-controller="Diagnostics" data-view="Index">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
                <h1>@ZnodeResources.DiagnosticsPageHeading</h1>
        </div>
        <div class="col-sm-12 search-container">
            <p class="left">@ZnodeResources.DiagnosticsPageSubHeading</p>
        </div>
        <div class="col-sm-12 add-new-item">
            <div id="body">
                <div class="col-sm-12 col-md-7 col-lg-5 item-group">
                    <h4>Diagnostics Details</h4>
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(m => m.ProductVersion)
                    </div>
                    <div class="col-sm-8">
                        @Html.DisplayFor(model => model.ProductVersion, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(m => m.DatabaseStatus)
                    </div>
                    <div class="col-sm-8">
                        @if (Model.DatabaseStatus)
                        {
                                <span class="bold-text green-color">@ZnodeResources.LabelDatabaseConnectionOk</span>
                        }
                        else
                        {
                                <span class="bold-text red-color">@ZnodeResources.LabelDatabaseConnectionFailed</span>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(m => m.PublicPermissions)
                    </div>
                    <div class="col-sm-8">
                        @if (Model.PublicPermissions)
                        {
                                <span class="bold-text green-color">@ZnodeResources.LabelFolderPermissionOk</span>
                        }
                        else
                        {
                                <span class="bold-text red-color">@ZnodeResources.LabelFolderPermissionFailed</span>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(m => m.LicenseStatus)
                    </div>
                    <div class="col-sm-8">
                        @if (Model.LicenseStatus)
                        {
                                <span class="bold-text green-color">@Html.Raw(Model.LicenseDescription)</span>
                        }
                        else
                        {
                                <span class="bold-text red-color">@Model.LicenseDescription</span>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(m => m.SMTPAccountStatus)
                    </div>
                    <div class="col-sm-8">
                        @if (Model.SMTPAccountStatus)
                        {
                                <span class="bold-text green-color">@ZnodeResources.LabelSMTPStatusOK</span>
                        }
                        else
                        {
                                <span class="bold-text red-color">@ZnodeResources.LabelSMTPStatusFailed</span>
                        }
                    </div>
                </div>


                @if (Model.SMTPAccountStatus)
                {
                        <div class="top-bottom-line col-sm-12 nopadding" id="smpt-account">
                           
                                <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(m => m.CaseNumber)
                        </div>
                                    <div class="col-sm-8">
                                        @Html.EditorFor(model => model.CaseNumber)
                            <span class="field-validation-valid text-danger" id="case-number-error" data-valmsg-for="CaseNumber" data-valmsg-replace="true"></span>
                        </div>
                                    <div class="col-sm-8 col-sm-offset-4 top-shift">
                                        <input type="button" id="send-email" class="btn btn-text red pull-right" value="@ZnodeResources.TextEmailDiagnosticsButton" title="@ZnodeResources.TextEmailDiagnosticsButton" />
                                    </div>
                        </div>
                           
                    </div>
                }

                <div class="form-group" id="exception-log" style="display:none">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(m => m.ExceptionSummary)
                    </div>
                    <div class="col-sm-8" id="log">
                        @Html.Raw(Model.ExceptionSummary)
                    </div>
                </div>

                </div>
            </div>
        </div>
                
        
        <div class="col-sm-12 list-container">
            <div class="col-sm-12 nopadding">
                <div id="trace" class="trace-style"></div>
            </div>
        </div>
    </div>
    
}
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/css")

<script src="~/Scripts/modernizr-2.6.2.js"></script>
@Scripts.Render("~/bundles/CustomJs")

<script src="~/Scripts/CustomScripts/Diagnostics.js"></script>

<script type="text/javascript">
    
    Diagnostics.HideOrShowExceptionLog('@Model.ExceptionSummary');
    $("#send-email").off("click").on("click", Diagnostics.SendDiagnosticsEmail);
    Diagnostics.Showtrace();
    
</script>
