﻿@using Znode.Engine.MvcDemo.ViewModels

@model AccountViewModel
<div id="layout-account-book" class="main-wrapper">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Resources.ZnodeResource.TitleAddressBook</h1>
            </div>

            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 col-sm-3 col-lg-2 nopadding">
                    <a href="./dashboard" class="account-gohome">@Resources.ZnodeResource.LinkTextBackToAccount</a>
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 address-book">
                    <div id="addressList">
                        <div class="col-xs-12 nopadding address-list address-list-primary">
                            <div class="col-xs-12 col-sm-6 nopadding margin-bottom">
                                <div class="col-xs-12 col-sm-11 nopadding">
                                    <h5 class="section-header-color">@Resources.ZnodeResource.SubTitlePrimaryShipping</h5>
                                    @if (Model.ShippingAddress != null)
                                    {
                                        @Html.Partial("_DisplayAddress", Model.ShippingAddress ?? new AddressViewModel())
                                    }
                                    else
                                    {
                                        <p>@Resources.ZnodeResource.ErrorNoPrimaryAddress</p>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 nopadding margin-bottom">
                                <div class="col-sm-offset-1">
                                    <h5 class="section-header-color">@Resources.ZnodeResource.SubTitlePrimaryBilling</h5>
                                    @if (Model.BillingAddress != null)
                                    {
                                        @Html.Partial("_DisplayAddress", Model.BillingAddress ?? new AddressViewModel())
                                    }
                                    else
                                    {
                                        <p>@Resources.ZnodeResource.ErrorNoPrimaryAddress</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 margin-top-bottom nopadding">
                        <a href="/Account/Address" class="btn-text red pull-right">@Resources.ZnodeResource.LinkAddNewAddress</a>
                    </div>
                    <div class="col-xs-12 nopadding">
                        @if (Model.Addresses.Any())
                        {
                            <h3 class="section-header">@Resources.ZnodeResource.TitleAllAddress</h3>
                            <div class="col-xs-12 nopadding address-list">
                                @foreach (var address in Model.Addresses)
                                {
                                    <div class="col-xs-12 col-sm-6 nopadding">
                                        @Html.Partial("_DisplayAddress", address)
                                        <div class="pull-right">
                                            <form method="POST" class="form">
                                                <button type="submit" class="btn-text red margin-top">@Resources.ZnodeResource.LinkTextPrimaryShipping</button>
                                                <input type="hidden" value="@address.AddressId" name="id" />
                                                <input type="hidden" value="false" name="isDefaultBillingAddress" />
                                            </form>
                                            <form method="POST" class="form">
                                                <button type="submit" class="btn-text red margin-top">@Resources.ZnodeResource.LinkTextPrimaryBilling</button>
                                                <input type="hidden" value="@address.AddressId" name="id" />
                                                <input type="hidden" value="true" name="isDefaultBillingAddress" />
                                            </form>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>