﻿@using System.Web.UI.WebControls
@using Znode.Engine.MvcDemo.ViewModels
@using Znode.Engine.MvcDemo.Helpers

@model AccountViewModel

<div id="layout-account-dashboard" class="main-wrapper">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">Your Account</h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <nav class="account-nav">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-sm-9 col-lg-10 right-container">
                    @if (Model != null)
                    {
                        <div class="col-xs-12 nopadding margin-bottom dashboard-content">
                            <h3 class="section-header">@Resources.ZnodeResource.SubTextYourWishList</h3>
                            <p>
                                @string.Format(Resources.ZnodeResource.SubTextWishlistItems, (Model != null ? Model.WishlistCount : 0))
                            </p>
                            <div class="col-xs-12 margin-top nopadding">
                                <a href="/Account/Wishlist" class="btn-text red pull-right">@Resources.ZnodeResource.LinkTextViewWishList</a>
                            </div>

                        </div>

                        <div class="col-xs-12 nopadding margin-bottom dashboard-content">
                            <h3 class="section-header">@Resources.ZnodeResource.SubTitleRecentOrders</h3>
                            @Html.Partial("_OrderHistory", Model.DashboardOrders)
                            <div class="col-xs-12 margin-top nopadding">
                                @if (Model.Orders.Any())
                                {
                                    <a href="/Account/OrderHistory" class="btn-text red pull-right">@Resources.ZnodeResource.LinkTextCompleteOrderHistory</a>
                                }
                            </div>
                        </div>

                        <div class="col-xs-12 nopadding margin-bottom dashboard-content">
                            <h3 class="section-header">@Resources.ZnodeResource.TitleAddressBook</h3>
                            <div class="col-xs-12 nopadding dashboard-addresses">
                                <div class="col-xs-12 col-sm-6 nopadding margin-bottom">
                                    <h5>@Resources.ZnodeResource.SubTitlePrimaryShipping</h5>
                                    @if (Model.ShippingAddress != null)
                                    {
                                        @Html.Partial("_DisplayAddress", Model.ShippingAddress ?? new AddressViewModel())
                                    }
                                    else
                                    {
                                        <p>@Resources.ZnodeResource.ErrorNoPrimaryAddress</p>
                                    }
                                </div>
                                <div class="col-xs-6 col-sm-6 nopadding margin-bottom">
                                    <h5>@Resources.ZnodeResource.SubTitlePrimaryBilling</h5>
                                    @if (Model.BillingAddress != null)
                                    {
                                        @Html.Partial("_DisplayAddress", Model.BillingAddress ?? new AddressViewModel())
                                    }
                                    else
                                    {
                                        <p>@Resources.ZnodeResource.ErrorNoPrimaryAddress</p>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 margin-top nopadding">
                                <div class="pull-right">
                                    <a href="/Account/AddressBook" class="btn-text red">@Resources.ZnodeResource.LinkTextViewAddressBook</a>
                                    <a href="/Account/Address" class="btn-text red">Add New Address</a>
                                </div>
                            </div>
                        </div>
                        if (Equals(Model.ReferralStatus, MvcDemoConstants.ApprovedReviewStatus))
                        {
                            <div class="col-xs-12 nopadding margin-bottom dashboard-content">
                                <h3 class="section-header">@Resources.ZnodeResource.TitleAffiliateTracking</h3>
                                <div class="col-xs-12 nopadding">
                                    @Html.Label("", @Resources.ZnodeResource.TextReferralCommission)
                                    <span>@HelperMethods.FormatPrice(@Model.ReferralCommission)</span>
                                    <div>
                                        @Html.Label("", @Resources.ZnodeResource.TextTaxID)
                                        <span> @Model.TaxId </span>
                                    </div>
                                    <div>
                                        @Html.Label("", @Resources.ZnodeResource.TextReferralCommissionType)
                                        <span> @Model.ReferralCommissionType</span>
                                    </div>
                                    <div>
                                        @Html.Label("", @Resources.ZnodeResource.TextTrackingLink)
                                        <span> <a href="@Model.TrackingLink?affiliate_id=@Model.AccountId">@Model.TrackingLink?affiliate_id=@Model.AccountId</a></span>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="col-xs-12 nopadding margin-bottom dashboard-content">
                            <h3 class="section-header">@Resources.ZnodeResource.SubTextYourReviews</h3>
                            <p>@string.Format(Resources.ZnodeResource.SubTextReviewItems, Model.ReviewCount)</p>
                            <div class="col-xs-12 nopadding">
                                <a href="/Account/Reviews" class="btn-text red pull-right">@Resources.ZnodeResource.LinkTextViewReviews</a>
                            </div>
                        </div>

                        <div class="dashboard-content">
                            <h3 class="section-header">@Resources.ZnodeResource.SubTextGiftCardHistory</h3>
                            <p>@string.Format(Resources.ZnodeResource.SubTextGiftCardHistoryItems, Model.GiftCardHistoryCount)</p>
                            <div class="col-xs-12 nopadding">
                                <a href="/Account/GiftCardHistory" class="btn-text red pull-right">@Resources.ZnodeResource.LinkTextViewGiftCardHistory</a>
                            </div>
                        </div>

                        <div class="col-xs-12 nopadding margin-top-bottom dashboard-content">
                            <h3 class="section-header">@Resources.ZnodeResource.TitleAccountProfile</h3>
                            <a href="/Account/EditProfile" class="dashboard-profile">
                                @Model.UserName<br />
                                @Model.EmailAddress
                            </a>
                            <div class="col-xs-12 margin-top nopadding">
                                <div class="pull-right">
                                    <a href="/Account/EditProfile" class="btn-text red">@Resources.ZnodeResource.LinkTextEditYourProfile</a>
                                    <a href="/Account/ChangePassword" class="btn-text red">@Resources.ZnodeResource.LinkTextChangePassword</a>
                                </div>                                
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>