﻿@model Znode.Engine.MvcAdmin.ViewModels.StoreLocatorViewModel
@using Resources;
@using Znode.Engine.MvcAdmin.ViewModels;
@{ViewBag.Title = @ZnodeResources.TitleMarketing + " | " + @ZnodeResources.TitleMultifront;}
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "formCreateEditStoreLocator", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @if (actionName.ToLower() == ZnodeResources.LabelCreate.ToLower())
        {
            <h1>@ZnodeResources.HeaderAddStoreLocation</h1>
        }
        else
        {
            <h1>@ZnodeResources.HeaderEditStoreLocation</h1>
        }
    </div>
    <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { enctype = "multipart/form-data", id = "formCreateEditStoreLocator" }))
        {
            string isActiveStatus = "checked='checked'";
            if (Model != null)
            {
                if (Model.Name != null)
                {
                    isActiveStatus = (!Equals(Model, null) && Model.ActiveInd) ? "checked='checked'" : string.Empty;
                }
            }

            @Html.HiddenFor(model => model.StoreID)


            <h4>@ZnodeResources.LabelGeneralInformation</h4>
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.StoreList)
                </div>
                <div class="col-sm-8">

                    @Html.DropDownListFor(x => x.PortalID, new SelectList(Model.PortalList, MvcAdminConstants.PortalId, MvcAdminConstants.StoreName), new { @id = "ddlPortalId" })
                    @Html.HiddenFor(model => Model.PortalID)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Name, new { @class = "required" })
                    <p class="sub">@ZnodeResources.LabelDescName</p>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Address1)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Address1)
                    @Html.ValidationMessageFor(m => m.Address1)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Address2)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Address2)
                    @Html.ValidationMessageFor(m => m.Address2)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Address3)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Address3)
                    @Html.ValidationMessageFor(m => m.Address3)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.City)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.City)
                    @Html.ValidationMessageFor(m => m.City)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.State)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.State)
                    @Html.ValidationMessageFor(m => m.State)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Zip)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Zip)
                    @Html.ValidationMessageFor(m => m.Zip)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Phone)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Phone)
                    @Html.ValidationMessageFor(m => m.Phone)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.Fax)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Fax)
                    @Html.ValidationMessageFor(m => m.Fax)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.ContactName)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ContactName)
                    @Html.ValidationMessageFor(m => m.ContactName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.DisplayOrder, new { @class = "required" })
                    <p class="sub">@ZnodeResources.LabelDescDisplayOrder</p>
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.DisplayOrder)
                    @Html.ValidationMessageFor(m => m.DisplayOrder)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 nopadding">
                    @Html.LabelFor(model => model.ActiveInd)
                    <p class="sub">@ZnodeResources.LabelDescDisplayStore</p>
                </div>
                <div class="col-sm-8">
                    <label>
                        <input @isActiveStatus id="IsActive" name="ActiveInd" type="checkbox" value="true">
                        <span class="lbl padding-8">@ZnodeResources.DisplayStoreCheckNameText</span>
                        <input name="ActiveInd" type="hidden" value="false">
                    </label>
                </div>
            </div>
            <h4>@ZnodeResources.LabelStoreImage</h4>
            <p>@ZnodeResources.DescStoreImage</p>
            if (Model.IsEditMode)
            {

                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        <img src="@Model.ImageLargePath" id="imgStore" class="img-responsive" />
                    </div>
                    <div class="col-sm-8">
                        <div class="col-sm-12 nopadding">@ZnodeResources.LabelSelectAnOption</div>
                        <div class="col-sm-12 nopadding">
                            <label>
                                <input type="radio" name="imageRadioGroup" id="rdoKeepCurrent" checked="checked" onclick="StoreLocator.KeepCurrentImage()" />
                                <span class="lbl padding-8">@ZnodeResources.TextStoreLocatorRdoKeepImage </span>
                            </label>
                        </div>
                        <div class="col-sm-12 nopadding">
                            <label>
                                <input type="radio" name="imageRadioGroup" id="rdoUploadNew" onclick="StoreLocator.UploadNewImage()" />
                                <span class="lbl padding-8">@ZnodeResources.TextStoreLocatorRdoUploadImage  </span>
                            </label>
                        </div>
                        <div class="col-sm-12 nopadding">
                            <label>
                                <input type="radio" name="imageRadioGroup" id="rdoNoImage" onclick="StoreLocator.NoImage()" />
                                <span class="lbl padding-8">@ZnodeResources.TextHighlightRdoNoImage </span>
                                @Html.HiddenFor(model => model.NoImage, new { @id = "hdnNoImage" })
                            </label>
                        </div>
                        <div id="editImageSettings" class="hidden">
                            <div class="form-group nopadding">
                                <div class="col-sm-12 nopadding">
                                    @Html.EditorFor(model => model.StoreImage)
                                    @Html.HiddenFor(m => m.ImageFile)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {

                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @ZnodeResources.LabelSelectAnOption
                    </div>
                    <div class="col-sm-8">
                        <div class="col-sm-12 nopadding">
                            <label>
                                <input type="radio" name="imageRadioGroup" id="rdoUploadNew" onclick="StoreLocator.UploadNewImage()" checked="checked" />
                                <span class="lbl padding-8">@ZnodeResources.TextStoreLocatorRdoUploadImage </span>
                            </label>
                        </div>
                        <div class="col-sm-12 nopadding">
                            <label>
                                <input type="radio" name="imageRadioGroup" id="rdoNoImageCreate" onclick="StoreLocator.NoImage()" />
                                <span class="lbl padding-8">@ZnodeResources.TextHighlightRdoNoImage </span>
                                @Html.HiddenFor(model => model.NoImage, new { @id = "hdnNoImage" })
                            </label>
                        </div>

                    </div>

                </div>

                <div id="editImageSettings">
                    <div class="form-group">
                        <div class="col-sm-4 nopadding">
                            @Html.LabelFor(model => model.StoreImage)
                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.StoreImage)
                            @Html.HiddenFor(m => m.ImageFile)
                        </div>
                    </div>
                </div>
            }

        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/StoreLocator")
