﻿@using System.Collections.ObjectModel
@using Znode.Engine.MvcDemo.ViewModels
@model SubcategoriesViewModel

<div class="col-xs-12 col-sm-12 product-view nopadding">
    <ul id="view-option-category" class="product-grid-ul grid-view">
        @{
            foreach (var _category in Model.Subcategories)
            {
                <li>
                    <article class="product-item">
                        @Html.Partial("../Category/_CategoryTile", _category)
                    </article>
                </li>
            }
        }

    </ul>
</div>