﻿@model Znode.Engine.MvcDemo.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="main-wrapper">
    <div class="container">
        <div class="row register-container">
            <div class="col-xs-12 nopadding page-title">                
                <h1>@string.Format(Resources.ZnodeResource.TitleSocialLoginConfirmation, ViewBag.ProviderDisplayName) </h1>
            </div>

            @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="col-xs-12 nopadding">                    
                    <p>@string.Format(Resources.ZnodeResource.SubTextSocialLoginConfirmation, ViewBag.ProviderDisplayName)</p>
                </div>
                <div class="col-xs-12 col-sm-6 nopadding">
                    <div class="col-sm-10 nopadding">
                        <form method="POST" class="form">
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <label for="signup_email" class="required">@Resources.ZnodeResource.ColumnEmailAddress</label>
                                </div>
                                <div class="col-xs-12 left-inner-icon nopadding">
                                    <i class="zf-envelope login-icon"></i>
                                    @Html.TextBoxFor(m => m.EmailAddress, new { @id = "signup_email", @class = "form-input-long" })
                                    <p class="error-msg">@Html.ValidationMessageFor(m => m.EmailAddress)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <label for="signup_username" class="required">@Resources.ZnodeResource.ColumnUsername</label>
                                </div>
                                <div class="col-xs-12 left-inner-icon nopadding">
                                    <i class="zf-login-user login-icon"></i>
                                    @Html.TextBoxFor(m => m.UserName, new { @id = "signup_username" })
                                    <p class="error-msg">@Html.ValidationMessageFor(m => m.UserName)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <label for="signup_password">@Resources.ZnodeResource.ColumnCreatePassword</label>
                                    <p class="sub">@Resources.ZnodeResource.ValidPassword</p>
                                </div>
                                <div class="col-xs-12 left-inner-icon nopadding">
                                    <i class="zf-key login-icon"></i>
                                    @Html.PasswordFor(m => m.Password, new { @type = "password", @id = "signup_password", @autocomplete = "off" })
                                    <p class="error-msg">@Html.ValidationMessageFor(m => m.Password)</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 nopadding">
                                    <label for="signup_verify">@Resources.ZnodeResource.ColumnReTypePassword</label>
                                </div>
                                <div class="col-xs-12 left-inner-icon nopadding">
                                    <i class="zf-key-2 login-icon"></i>
                                    @Html.PasswordFor(m => m.ReTypePassword, new { @type = "password", @id = "signup_verify", @autocomplete = "off" })
                                    <p class="error-msg">@Html.ValidationMessageFor(m => m.ReTypePassword)</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12 styled-input nopadding">
                                    <input type="checkbox" id="signup_optin" name="EmailOptIn" value="true" />&nbsp;<label for="signup_optin">@Resources.ZnodeResource.CheckBoxTextNewsLetter</label>
                                </div>
                                <div class="col-xs-12 nopadding margin-top-bottom">
                                    <div class="pull-right">
                                        <button type="submit" class="btn-text red">@Resources.ZnodeResource.ButtonCreateAccount</button>
                                        @Html.ActionLink(@Resources.ZnodeResource.ButtonCancel, "Login", "Account", new { @class = "btn-text grey" })
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.ExternalLoginData)
                        </form>
                    </div>
                </div>
              
            }
        </div>
    </div>
</div>



