﻿@using Znode.Engine.MvcDemo.Helpers
@model Znode.Engine.MvcDemo.ViewModels.ReviewViewModel
<div id="layout-account-reviewhistory" class="main-wrapper">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Resources.ZnodeResource.TitleReviewHistory</h1>
            </div>

            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <a href="./dashboard" class="account-gohome">@Resources.ZnodeResource.LinkTextBackToAccount</a>
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-sm-9 col-lg-10 review-history right-container">

                    <h3 class="section-header">@string.Format(Resources.ZnodeResource.SubTextReviewProducts, (Model.Items != null ? Model.Items.Count() : 0))</h3>

                    @if (Model.Items != null && Model.Items.Any())
                    {
                        <p>
                            @Resources.ZnodeResource.SubTextReviewHistory
                        </p>
                        <ul class="review-item">
                            @foreach (var item in Model.Items)
                            {

                                <li class="review-item-detail">
                                    <a href="@Url.GetProductUrl(item.Product.SeoPageName, item.Product.ProductId.ToString())" class="review-item-title underline">
                                        @WebUtility.HtmlDecode(item.Product.Name)
                                    </a>
                                    @Html.Partial("../Product/_ReviewRow", item)
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <div class="col-xs-12 nopadding">
                            <p class="text-center">@Resources.ZnodeResource.ErrorNoReviewsFound</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>