﻿@model Znode.Engine.MvcAdmin.ViewModels.IssuedGiftCardViewModel


<p>@ZnodeResources.LabelGiftCardIssued: @Model.CardNumber for @MvcAdminUnits.GetCurrencyValue(Model.Amount)</p>
<p>@ZnodeResources.LabelExpirationDate : @Model.ExpirationDate</p>
