﻿@model Znode.Engine.MvcAdmin.ViewModels.RMARequestItemListViewModel
@{
    if (!Equals(Model, null))
    {
        if (Model.flag.Equals("view", StringComparison.CurrentCultureIgnoreCase))
        {
            if (!Equals(Model.RMARequestItems, null))
            {
                <div class="col-sm-12 cost-container nopadding">
                    <div class="col-sm-4 total nopadding">
                        <div><h4>@ZnodeResources.LabelSubTotal</h4></div>
                        <div id="dynamic-sub-total" class="left-sm-shift"> @MvcAdminUnits.GetCurrencyValue(Model.RMARequestItems[0].SubTotal)</div>
                    </div>
                    <div class="col-sm-4 nopadding">
                        <div><h4>@ZnodeResources.LabelTax</h4></div>
                        <div id="dynamic-tax-amount" class="left-sm-shift">@MvcAdminUnits.GetCurrencyValue(Model.RMARequestItems[0].TaxCost)</div>
                    </div>
                    <div class="col-sm-4 nopadding">
                        <div><h4>@ZnodeResources.LabelTotal</h4></div>
                        <div id="dynamic-total" class="left-sm-shift">@MvcAdminUnits.GetCurrencyValue(Model.RMARequestItems[0].Total)</div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-sm-12 cost-container nopadding">
                <div class="col-sm-4 total nopadding">
                    <div><h4>@ZnodeResources.LabelSubTotal</h4></div>
                    <div id="dynamic-sub-total" class="left-sm-shift"> @MvcAdminUnits.GetCurrencyValue(Model.SubTotal)</div>
                </div>
                <div class="col-sm-4 nopadding">
                    <div><h4>@ZnodeResources.LabelTax</h4></div>
                    <div id="dynamic-tax-amount" class="left-sm-shift">@MvcAdminUnits.GetCurrencyValue(Model.Tax)</div>
                </div>
                <div class="col-sm-4 nopadding">
                    <div><h4>@ZnodeResources.LabelTotal</h4></div>
                    <div id="dynamic-total" class="left-sm-shift">@MvcAdminUnits.GetCurrencyValue(Model.Total)</div>
                </div>
            </div>
        }

    }
}