﻿@model Znode.Engine.MvcAdmin.ViewModels.RMARequestItemListViewModel
@using Znode.Engine.Api.Models;

@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@using (Html.BeginForm())
{
    <div id="grid-container">
        <div class="col-md-12 dashboard-page-container">
            @if (!Equals(@TempData["Message"], null))
            {
                <div class='MessageBox alert alert-danger'><p>@TempData["Message"]</p></div>
            }
            <div class="col-sm-12 title-container">
                <h1>@ZnodeResources.LabelRMARequest: @Model.RequestNumber</h1>
                <p>@ZnodeResources.LabelOrderId: @Model.OrderId</p>
                <p>@ZnodeResources.LabelDate: @Model.RequestDate</p>
            </div>


            @{if (actionName.ToLower().Contains("edit"))
            {
                if (Model != null && Model.RMARequestItems != null && Model.RMARequestItems.Count > 0)
                {
                    int rowNum = 0;
                    WebGrid grid = new WebGrid(rowsPerPage: Model.RecordPerPage, ajaxUpdateContainerId: "grid-container");
                    grid.Bind(source: Model.RMARequestItems, rowCount: Model.TotalResults, autoSortAndPage: false);
                    <div class="col-sm-12 list-container">
                        @grid.GetHtml(
                                  htmlAttributes: new { id = "rmagrid", @class = "table table-striped" },
                                headerStyle: "grid-header",
                                columns: grid.Columns(grid.Column(@ZnodeResources.GridHeaderSerialNumber, null, format: item => rowNum = @item.RowCount + 1, style: null, canSort: false),
                                     grid.Column(header: @ZnodeResources.GridHeaderIsValidReturn, format: @<span><label><input @(item.IsReturnable ? "checked='checked'" : "") id="@item.RowCount" name="IsReturnable" type="checkbox" value="true" class="chkboxstyle" onchange="RMAManager.CalculateSubTotal('');" @(item.IsReturnableCheckboxEnabled ? "" : "disabled=disabled")><span class="lbl padding-8"></span></label></span>),
                                     grid.Column(header: @ZnodeResources.GridHeaderLineItemId, format: @<span> <span class="orderLineItem">@item.OrderLineItemID</span></span>),
                                         grid.Column(header: @ZnodeResources.GridHeaderProductName, format: @<span> <span id="spanName_@item.Name">@item.Name</span></span>),
                                        grid.Column(header: @ZnodeResources.GridHeaderDescription, format: @<span> <span id="spanName_@item.Description">@Html.Raw(item.Description)</span></span>),
                                        grid.Column(header: @ZnodeResources.GridHeaderSKU, format: @<span> <span id="spanName_@item.SKU">@item.SKU</span></span>),
                                        grid.Column(header: @ZnodeResources.GridHeaderQuantity, format: @<span>@Html.Partial("_RMAQuantityDropdownView", Model.RMARequestItems[rowNum - 1])</span>),
                                         grid.Column(header: @ZnodeResources.GridHeaderResonForReturn, format: @<span> <span id="spanName_@item.ResonForReturn">@item.ResonForReturn</span></span>),
                                         grid.Column(header: @ZnodeResources.GridHeaderPrice, format: @<span> <span class="price">@item.Price</span></span>),
                                         grid.Column(header: @ZnodeResources.GridHeaderTotal, format: @<span> <span id="spanName_@item.Total" class="total">@item.TotalPriceString</span></span>),
                                          grid.Column(null, null, format: @<input type="hidden" name="tax" class="tax" value="@item.SalesTax" />))
)
                    </div>
                }
                else
                {
                    <div class="col-sm-12 no-record nopadding">
                        <p>@ZnodeResources.LabelNoRecordFound</p>
                    </div>
                }


                <div class="col-sm-12 add-new-container">
                    @Html.Partial("_TotalView", Model)
                    @if (Equals(Model.StatusId, Convert.ToInt32(RequestStatusModel.RequestStatus.Returned_Refundable)))
                    {
                        <h4>@ZnodeResources.HeaderGiftCard</h4>
                        foreach (var giftCardIssued in Model.GiftCardsIssued.IssuedGiftCards)
                        {
                            @Html.Partial("_GiftCardIssuedView", giftCardIssued)
                            <hr />
                        }
                    }
                    <div class="col-sm-12 col-md-7 col-lg-5 left-sm-shift nopadding">
                        <p>@ZnodeResources.LabelComments</p>
                        @Html.TextAreaFor(m => m.Comments)
                    </div>
                    <div class="col-sm-12 top-shift nopadding">
                        <div class="pull-right">
                            @if (!Model.flag.Equals("append", StringComparison.CurrentCultureIgnoreCase))
                            {
                                <button name="command" value="Void" title="Void" class="btn-text red" type="submit">Void</button>
                            }
                            <button name="command" value="GiftCard" title="Issue Gift Card" class="btn-text red" type="button" onclick="RMAManager.IssueGiftCard()">Issue Gift Card</button>
                            @Html.ActionLink(ZnodeResources.ButtonCancel, "rmalist", controllerName, null, new { @class = "btn-text grey" })
                        </div>
                    </div>
                </div>
            }

            else if (actionName.Equals("View", StringComparison.InvariantCultureIgnoreCase))
            {
                if (Model != null && Model.RMARequestItems != null && Model.RMARequestItems.Count > 0)
                {
                    int rowNum = 0;
                    WebGrid grid = new WebGrid(rowsPerPage: Model.RecordPerPage, ajaxUpdateContainerId: "grid-container");
                    grid.Bind(source: Model.RMARequestItems, rowCount: Model.TotalResults, autoSortAndPage: false);
                    <div class="col-sm-12 list-container RmaList">
                        @grid.GetHtml(
                                  htmlAttributes: new { id = "rmagrid", @class = "table table-striped" },
                                headerStyle: "grid-header",
                                 columns: grid.Columns(grid.Column(header: @ZnodeResources.GridHeaderSerialNumber, format: item => rowNum = @item.RowCount + 1, style: null, canSort: false),
                                       grid.Column(header: @ZnodeResources.GridHeaderLineItemId, format: @<span> <span id="spanName_@item.OrderLineItemID">@item.OrderLineItemID</span></span>),
                                              grid.Column(header: @ZnodeResources.GridHeaderProductName, format: @<span> <span id="spanName_@item.Name">@item.Name</span></span>),
                                              grid.Column(header: @ZnodeResources.GridHeaderDescription, format: @<span> <span id="spanName_@item.Description">@Html.Raw(item.Description)</span></span>),
                                              grid.Column(header: @ZnodeResources.GridHeaderSKU, format: @<span> <span id="spanName_@item.SKU">@item.SKU</span></span>),
                                              grid.Column(header: @ZnodeResources.GridHeaderQuantity, format: @<span> <span class="Quantity">@item.RMAMaxQuantity</span></span>),
                                              grid.Column(header: @ZnodeResources.GridHeaderResonForReturn, format: @<span> <span id="spanName_@item.ResonForReturn">@item.ResonForReturn</span></span>),
                                              grid.Column(header: @ZnodeResources.GridHeaderPrice, format: @<span> <span id="spanName_@item.Price" class="price">@item.Price</span></span>),
                                              grid.Column(header: @ZnodeResources.GridHeaderTotal, format: @<span> <span id="spanName_@item.Total" class="total">@item.TotalString</span></span>),
                                              grid.Column(null, null, format: @<input type="hidden" name="tax" class="tax" value="@item.SalesTax" />))
)

                    </div>
                }
                else
                {
                    <div class="col-sm-12 no-record nopadding">
                        <p>@ZnodeResources.LabelNoRecordFound</p>
                    </div>
                }

                <div class="col-sm-12 add-new-container">
                    @Html.Partial("_TotalView", Model)
                    @if (Equals(Model.StatusId, Convert.ToInt32(RequestStatusModel.RequestStatus.Returned_Refundable)))
                    {
                        <h4>@ZnodeResources.HeaderGiftCard</h4>
                        foreach (var giftCardIssued in Model.GiftCardsIssued.IssuedGiftCards)
                        {
                            @Html.Partial("_GiftCardIssuedView", giftCardIssued)
                            <hr />
                        }
                    }
                    <div class="col-sm-12 col-md-7 col-lg-5 nopadding">
                        <p>@ZnodeResources.LabelComments</p>
                        @Html.TextAreaFor(m => m.Comments, new { @disabled = "disabled" })
                    </div>
                    <div class="col-sm-12 nopadding top-shift">
                        <div class="pull-right">
                            @Html.ActionLink(@ZnodeResources.ButtonOk, "rmalist", controllerName, null, new { @class = "btn-text red", @title = "OK" })
                            @if (!Model.StatusId.Equals(4))
                            {
                                <button class="btn-text red" type="button" onclick="RMAManager.PrintContent()" title="Print">Print</button>
                            }
                        </div>
                    </div>
                </div>
            }
            else if (actionName.Equals("createrma", StringComparison.InvariantCultureIgnoreCase))
            {
                if (Model != null && Model.RMARequestItems != null && Model.RMARequestItems.Count > 0)
                {
                    int rowNum = 0;
                    WebGrid grid = new WebGrid(rowsPerPage: Model.RecordPerPage, ajaxUpdateContainerId: "grid-container");
                    grid.Bind(source: Model.RMARequestItems, rowCount: Model.TotalResults, autoSortAndPage: false);
                    <div class="col-sm-12 list-container">
                        @grid.GetHtml(
                                     htmlAttributes: new { id = "rmagrid", @class = "table table-striped" },
                                    headerStyle: "grid-header",
                                               columns: grid.Columns(grid.Column(header: @ZnodeResources.GridHeaderSerialNumber, format: item => rowNum = @item.RowCount + 1, style: null, canSort: false),
                                             grid.Column(header: "", format: @<span><label><input @(item.IsReturnable ? "checked='checked'" : "") id="@item.RowCount" name="IsReturnable" type="checkbox" value="true" class="chkboxstyle" onchange="RMAManager.CalculateSubTotal('');"><span class="lbl padding-8"></span></label></span>),
                                             grid.Column(header: @ZnodeResources.GridHeaderLineItemId, format: @<span> <span class="orderLineItem">@item.OrderLineItemID</span></span>),
                                             grid.Column(header: @ZnodeResources.GridHeaderProductName, format: @<span> <span id="spanName_@item.Name">@item.Name</span></span>),
                                             grid.Column(header: @ZnodeResources.GridHeaderDescription, format: @<span> <span id="spanName_@item.Description">@Html.Raw(item.Description)</span></span>),
                                             grid.Column(header: @ZnodeResources.GridHeaderSKU, format: @<span> <span id="spanName_@item.SKU">@item.SKU</span></span>),
                                             grid.Column(header: @ZnodeResources.GridHeaderQuantity, format: @<span>@Html.Partial("_RMAQuantityDropdownView", Model.RMARequestItems[rowNum - 1])</span>),
                                             grid.Column(header: @ZnodeResources.GridHeaderResonForReturn, format: @<span>@Html.Partial("_RMAResonForReturnView", Model.ReasonForReturnItems)</span>),
                                             grid.Column(header: @ZnodeResources.GridHeaderPrice, format: @<span> <span class="price">@item.Price</span></span>),
                                             grid.Column(header: @ZnodeResources.GridHeaderTotal, format: @<span> <span id="spanName_@item.Total" class="total">@item.TotalPriceString</span></span>),
                                             grid.Column(null, null, format: @<input type="hidden" name="tax" class="tax" value="@item.SalesTax" />)))
                    </div>
                }
                else
                {
                    <div class="col-sm-12 no-record nopadding">
                        <p>@ZnodeResources.LabelNoRecordFound</p>
                    </div>
                }
                <div class="col-sm-12 add-new-container">
                    @Html.Partial("_TotalView", Model)
                    <div class="col-sm-12 cost-container nopadding">
                        <div class="col-sm-4 total nopadding">
                            @Html.LabelFor(m => m.Comments)
                            @Html.TextAreaFor(m => m.Comments)
                        </div>
                    </div>
                    <div class="col-sm-12 cost-container nopadding">
                        <div class="col-sm-4 col-md-3 col-lg-2 nopadding">
                            <label>
                                <input id="emailRMA" name="emailRMA" type="checkbox" value="true" class="css-checkbox chkboxstyle">
                                <span class="lbl padding-8">@ZnodeResources.CheckBoxEMailRMAReport</span>
                            </label>
                        </div>
                        <div class="col-sm-4 col-md-3 col-lg-2 nopadding">
                            <label>
                                <input id="printRMA" name="printRMA" type="checkbox" value="true" class="css-checkbox chkboxstyle">
                                <span class="lbl padding-8">@ZnodeResources.CheckBoxPrintRMAReport</span>
                            </label>
                        </div>
                    </div>

                    <div class="pull-right">
                        <button id-="btnSubmitRMA" type="button" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest" onclick="RMAManager.CreateRMARequest();"> @ZnodeResources.ButtonSubmitRequest</button>
                        @Html.ActionLink(ZnodeResources.ButtonCancel, "List", "Orders", null, new { @class = "btn-text grey" })
                    </div>
                </div>
            }

            }

        </div>
    </div>
    @Html.HiddenFor(m => m.OrderId)
    @Html.HiddenFor(m => m.RMARequestId)
    @Html.HiddenFor(m => m.flag)
    @Html.Hidden("requestNumber", Model.RequestNumber)
    @Html.Hidden("hdnSubtotal", Model.SubTotal)
    @Html.Hidden("hdnTax", Model.Tax)
    @Html.HiddenFor(m => m.StoreName)
    @Html.HiddenFor(m => m.SalesPhoneNumber)
}

<div id="rmalist" style="display:none">
    <div class="col-sm-12 top-shift">
        <div class="col-sm-12">
            <button class="btn-text red pull-right" type="button" onclick="window.print()" title="Print" id="printbtn">Print</button>
        </div>
        <div class="col-sm-12 top-shift">
            <div class="label-background">
                <h3 class="left">@Model.StoreName</h3>
                <h3 class="right">@Model.SalesPhoneNumber</h3>
            </div>
        </div>
        <div class="col-sm-12 title-container top-shift">
            <h1>@ZnodeResources.LabelRMA</h1>
            <p>@Model.RequestNumber</p>
        </div>
        <div class="col-sm-12">
            <h3>@ZnodeResources.LabelDear @Model.CustomerName,</h3>
            <p> @string.Format(ZnodeResources.PrintRMAContent, @Model.RequestNumber, @Model.OrderId)</p>
        </div>

        <div id="RMAItems">

            @{WebGrid webgrid = new WebGrid(rowsPerPage: Model.RecordPerPage, ajaxUpdateContainerId: "grid-container");
            webgrid.Bind(source: Model.RMARequestItems, rowCount: Model.TotalResults, autoSortAndPage: false);
            <div class="col-sm-12 list-container RmaList">
                @webgrid.GetHtml(
                                          htmlAttributes: new { id = "print-rmagrid", @class = "table table-striped print-table" },
                                          headerStyle: "grid-header",
                                          columns: webgrid.Columns(webgrid.Column(header: "ID", format: @<span> <span id="spanName_@item.OrderLineItemID">@item.OrderLineItemID</span></span>),
                                          webgrid.Column(header: @ZnodeResources.GridHeaderIsValidReturn, format: @<span> <span id="spanName_@item.Name">@item.Name</span></span>),
                                          webgrid.Column(header: @ZnodeResources.GridHeaderDescription, format: @<span> <span id="spanName_@item.Description">@Html.Raw(item.Description)</span></span>),
                                          webgrid.Column(header: @ZnodeResources.GridHeaderSKU, format: @<span> <span id="spanName_@item.SKU">@item.SKU</span></span>),
                                          webgrid.Column(header: @ZnodeResources.GridHeaderQuantity, format: @<span> <span class="Quantity">@item.RMAQuantity</span></span>),
                                          webgrid.Column(header: @ZnodeResources.GridHeaderResonForReturn, format: @<span> <span id="spanName_@item.ResonForReturn">@item.ResonForReturn</span></span>),
                                          webgrid.Column(header: @ZnodeResources.GridHeaderPrice, format: @<span> <span id="spanName_@item.Price" class="price">@item.Price</span></span>),
                                          webgrid.Column(header: @ZnodeResources.GridHeaderTotal, format: @<span> <span id="spanName_@item.Total" class="total">@item.TotalString</span></span>))
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     )

            </div>
            }
            <div class="col-sm-12 add-new-container">
                @Html.Partial("_TotalView", Model)
            </div>
        </div>
        <div class="col-sm-12 top-shift">
            <h3>@ZnodeResources.LabelRegards</h3>
            <p>@Model.StoreName</p>
        </div>

    </div>
</div>
@Scripts.Render("~/bundles/RMAManager")

<script type="text/javascript">
    var errorRMAItem = '@ZnodeResources.ErrorSelectRMAItem';
    $(document).ready(function () {
        RMAManager.Load('@actionName.ToLower()');
    });

</script>
