﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleOrders + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        @if (!Equals(@TempData["Message"], null))
        {
            <div class='MessageBox alert alert-info'><p>@TempData["Message"]</p></div>
        }
        <div class="col-sm-12 title-container">
            <h1 class="left">
                @ZnodeResources.HeaderRMAManager
            </h1>
        </div>
        <div class="col-sm-12 search-container">
            <p class="left"> Manage pending return requests in your store.</p>
        </div>
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("RMAList", "RMAManager", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.FilterColumn)
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-12 list-container">
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
            </div>
        </div>

    </div>
</div>
@Scripts.Render("~/bundles/RMAManager")
<script>
    $(document).on("click", "#btnsearch", function () {
        return CommonHelper.GridSearchDateValidation();
    });
    $(document).ready(function () {
        RMAManager.ShowHideGridLinks();
    })
</script>
