﻿@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources
@model ThemeViewModel

@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmManageTheme", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel, CancelUrl = "/ManageTheme/list" };
    ViewBag.Title = @ZnodeResources.TitleSetup + " | " + @ZnodeResources.TitleMultifront;
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @if (Equals(actionName.ToLower(), "create"))
        {
            <h1>@ZnodeResources.HeaderAddNewTheme</h1>
        }
        else
        {
            <h1>@ZnodeResources.HeaderEditTheme - @Model.Name</h1>
        }
    </div>
    <div class="col-sm-12 nopadding add-new-item">
        <div class="col-sm-12 col-md-7 col-lg-5 add-new-container">
            <h4>@ZnodeResources.LabelGeneralInformation</h4>
            @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @id = "frmManageTheme" }))
            {
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.Name, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>

                </div>
                @Html.HiddenFor(model => model.ThemeId)
            }
            <div class="col-sm-12 nopadding">
                <div class="pull-right">
                    @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
                </div>
            </div>
        </div>
    </div>
</div>
