﻿@model Znode.Engine.MvcAdmin.ViewModels.LuceneIndexServerListViewModel
@using System.Data;
@using System.Dynamic;
@{
    WebGrid grid = new WebGrid(Model.IndexServerStatusList, canPage: false, canSort: false);
}

@if (!Equals(Model, null) && Model.IndexServerStatusList.Count > 0)
{
    <div class="table-responsive col-sm-12 nopadding scroll-default">
        @grid.GetHtml(
             htmlAttributes: new { id = "IndexServerStatus", @class = "table table-striped" },
             headerStyle: "grid-header",
                 columns: grid.Columns(
                 grid.Column("ServerName", @ZnodeResources.ServerName),
                     grid.Column("Status", @ZnodeResources.Status),
                    grid.Column("StartTime", @ZnodeResources.StartTime),
                    grid.Column("EndTime", @ZnodeResources.EndTime)
         ))
    </div>
}
else
{
    <div>
        <h3> @ZnodeResources.SearchIndexNotFound</h3>
    </div>
}