﻿@model Znode.Engine.MvcAdmin.ViewModels.LuceneIndexListViewModel
@using Resources
@{
    ViewBag.Title = @ZnodeResources.TitleAdvanced + " | " + @ZnodeResources.TitleMultifront;
}
<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1>@ZnodeResources.LabelManageSearchIndex</h1>
        </div>
        <div class="col-sm-12 search-container">
            <p>@ZnodeResources.ManageSearchIndexDescription</p>
        </div>
        <div class="col-sm-12 add-new-container">
            <h4>@ZnodeResources.TitleCreateSearchIndex</h4>
            <p class="left left-sm-shift">@ZnodeResources.CreateSearchIndexDescription</p>
            @using (Html.BeginForm("CreateIndex", "ManageSearchIndex"))
            {
                <button type="submit" class="btn-text red pull-right" title="@ZnodeResources.ButtonCreateIndex">@ZnodeResources.ButtonCreateIndex</button>
            }

            <h4>@ZnodeResources.LabelEnableDisableTriggers</h4>
            <p class="left left-sm-shift">@ZnodeResources.EnableDisableTriggersDescription</p>
            @using (Html.BeginForm("DisableTriggers", "ManageSearchIndex"))
            {

                @Html.HiddenFor(m => Model.TriggerFlag);
                                                       if (Model.TriggerFlag.Equals(0))
                                                       {
                                                        <button type="submit" class="btn-text red pull-right" title="@ZnodeResources.ButtonDisableTriggers">@ZnodeResources.ButtonDisableTriggers</button>
                                                       }
                                                       else
                                                       {
                                                        <button type="submit" class="btn-text red pull-right" title="@ZnodeResources.ButtonEnableTriggers">@ZnodeResources.ButtonEnableTriggers</button>
                                                       }

            }
            <h4>Enable/Disable Winservice</h4>
            @using (Html.BeginForm("DisableWinservice", "ManageSearchIndex"))
            {
                @Html.HiddenFor(m => Model.ServiceFlag);
                <p class="left left-sm-shift">Enable or disable the service that picks up trigger updates and then sends the updates to the index file.</p>
                if (Model.ServiceFlag.Equals(0))
                {
                    <button type="submit" class="btn-text red  pull-right" title="@ZnodeResources.ButtonDisableWinService">@ZnodeResources.ButtonDisableWinService</button>
                }
                else
                {
                    <button type="submit" class="btn-text red  pull-right" title="@ZnodeResources.ButtonEnableWinService">@ZnodeResources.ButtonEnableWinService</button>
                }
            }

        </div>

        <div class="col-sm-12 list-container">
            <div class="col-sm-12 nopadding">
                @{
                    if (!Equals(Model, null) && !Equals(Model.ReportModel, null))
                    {
                        Model.ReportModel.IsAdvanceSearchHide = true;
                    }
                }
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model.ReportModel)
            </div>
        </div>
        <div class="pull-right left-shift">
            <button type="submit" class="btn-text red" onclick="javascript: WebgridPagerHelper.UrlHandler();" title="Refresh">Refresh</button>
        </div>
    </div>
</div>
<div id="search-index-status-container"></div>
<script src="~/Scripts/CustomScripts/manageSearchIndex.js"></script>
<script>
    $(document).ready(function () {
        $("#grid-container #grid tbody tr td .z-view").click(function (e) {
            e.preventDefault();
            var IdArr = $(this).attr("href").split('/');
            var IndexId = IdArr[(IdArr.length - 1)];
            SearchIndex.ViewIndexStatus(IndexId);
        });
    });
</script>