﻿@model Znode.Engine.MvcAdmin.ViewModels.HighlightViewModel
@using Znode.Engine.MvcAdmin.Helpers
@using Znode.Engine.MvcAdmin.ViewModels;
@using Resources

@{
    ViewBag.Title = @ZnodeResources.LabelInventory + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

    string descCSSClass = string.Empty;
    string descRadioChecked = string.Empty;
    string hyperCssClass = string.Empty;
    string hyperRadioChecked = string.Empty;
}
@if (Model.IsEditMode && !string.IsNullOrEmpty(Model.Hyperlink))
{
    descCSSClass = "hidden";
    hyperRadioChecked = "checked='checked";
}
else
{
    hyperCssClass = "hidden";
    descRadioChecked = "checked='checked";
}

@{
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmhighlight", SaveHeader = ZnodeResources.ButtonSubmitRequest, CancelHeader = ZnodeResources.ButtonCancel };
}

<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @if (Equals(actionName.ToLower(), "Create".ToLower()))
        {
            <h1 class="left">@ZnodeResources.HeaderCreateHighlight</h1>
        }
        else
        {
            <h1 class="left">@ZnodeResources.HeaderEditHighlight @Model.Name</h1>
        }
        <div class="pull-right">
            @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
        </div>
    </div>
    <div class="col-sm-12 add-new-item">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { enctype = "multipart/form-data", id = "frmhighlight" }))
        {
            string isActiveStatus = (!Equals(Model, null) && Model.IsActive) ? "checked='checked'" : string.Empty;
            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-12 col-md-11 col-lg-11 nopadding">
                    @Html.HiddenFor(model => model.HighlightId)
                    @Html.HiddenFor(model => model.LocaleId)

                    <div id="generalSettings">
                        <h4>@ZnodeResources.SubHeaderHighlightGeneralSettings</h4>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.Name, new { @class = "required" })
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.TypeId)
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.TypeId, new SelectList(Model.HighlightTypeList, "HighlightTypeId", "Name"), new { @id = "ddlHighlightList" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.DisplayOrder, new { @class = "required" })
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.DisplayOrder, new { @maxlength = "9" })
                                @Html.ValidationMessageFor(model => model.DisplayOrder)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-4">
                                <label>
                                    <input @isActiveStatus id="IsActive" name="IsActive" type="checkbox" value="true">
                                    <span class="lbl padding-8">@ZnodeResources.LabelEnableHighlight</span>
                                    <input name="IsActive" type="hidden" value="false">
                                </label>
                            </div>
                        </div>
                    </div>

                    <div id="highlightImage">
                        <h4>@ZnodeResources.HeaderHighlightImage</h4>
                        <p class="sub left-sm-shift">@ZnodeResources.DescriptionHighlightImage</p>

                        @if (Model.IsEditMode)
                        {
                            <div>
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        <img src=@Model.ImageMediumPath id="imgHighlight" class="img-responsive" />
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="col-sm-12 nopadding">
                                            <label>
                                                <input type="radio" name="imageRadioGroup" id="rdoKeepCurrent" checked="checked" onclick="Highlight.KeepCurrentImage()" />
                                                <span class="lbl padding-8">@ZnodeResources.TextKeepImage </span>
                                            </label>
                                        </div>
                                        <div class="col-sm-12 nopadding">
                                            <label>
                                                <input type="radio" name="imageRadioGroup" id="rdoUploadNew" onclick="Highlight.UploadNewImage()" />
                                                <span class="lbl padding-8">@ZnodeResources.TextUploadImage</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-12 nopadding">
                                            <label>
                                                <input type="radio" name="imageRadioGroup" id="rdoNoImage" onclick="Highlight.NoImage()" />
                                                <span class="lbl padding-8">@ZnodeResources.TextHighlightRdoNoImage </span>
                                                @Html.HiddenFor(model => model.NoImage, new { @id = "hdnNoImage" })
                                            </label>
                                        </div>
                                        <div id="editImageSettings" class="hidden">
                                            <div class="form-group">
                                                <div class="col-sm-4 nopadding">
                                                    @Html.LabelFor(model => model.HighlightImage)
                                                </div>
                                                <div class="col-sm-8">
                                                    @{Html.EnableClientValidation(false);}
                                                    @Html.EditorFor(model => model.HighlightImage, new { Id = "HighlightImage" })
                                                    @{Html.EnableClientValidation(true);}
                                                    @Html.HiddenFor(m => m.ImageFile)
                                                </div>
                                                <div class="col-sm-12 nopadding">
                                                    <div id="ImageNameSetting" class="col-sm-12 nopadding">
                                                        <label class="add-on-lable">
                                                            <input type="radio" name="IsNewImageFileName" id=@Model.IsNewImageFileName onclick="Highlight.OverWriteFileName()" value="0" />
                                                            <span class="lbl padding-8">@ZnodeResources.LabelOverwriteExistingFile</span>
                                                        </label>
                                                        <label class="add-on-lable">
                                                            <input type="radio" name="IsNewImageFileName" id=@Model.IsNewImageFileName onclick="Highlight.UseFileName()" value="1" checked="checked" />
                                                            <span class="lbl padding-8">@ZnodeResources.LabelUseFileName</span>
                                                        </label>
                                                        @Html.TextBoxFor(model => model.NewImageFileName)
                                                        @Html.ValidationMessageFor(model => model.NewImageFileName)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div id="editImageSettings">
                                <div class="form-group">
                                    <div class="col-sm-4 nopadding">
                                        @Html.LabelFor(model => model.HighlightImage)
                                    </div>
                                    <div class="col-sm-8">
                                        @Html.EditorFor(model => model.HighlightImage)
                                        @Html.HiddenFor(m => m.ImageFile)
                                    </div>
                                    <div id="ImageNameSetting" class="form-group">
                                        <div class="col-sm-8 col-sm-offset-4">
                                            <label class="add-on-lable">
                                                <input type="radio" name="IsNewImageFileName" id=@Model.IsNewImageFileName onclick="Highlight.OverWriteFileName()" value="0" />
                                                <span class="lbl padding-8">@ZnodeResources.LabelOverwriteExistingFile</span>
                                            </label>
                                            <label class="add-on-lable">
                                                <input type="radio" name="IsNewImageFileName" id=@Model.IsNewImageFileName onclick="Highlight.UseFileName()" value="1" checked="checked" />
                                                <span class="lbl padding-8">@ZnodeResources.LabelUseFileName</span>
                                            </label>
                                            @Html.TextBoxFor(model => model.NewImageFileName)
                                            @Html.ValidationMessageFor(model => model.NewImageFileName)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @Html.LabelFor(model => model.ImageAltTag)
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.ImageAltTag)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 item-group">
                <div class="col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    <div id="highlightClickSettings">
                        <h4>@ZnodeResources.SubHeaderHighlightClickSettings</h4>


                        <div class="form-group">
                            <div class="col-sm-4 nopadding">
                                @ZnodeResources.DescriptionHighlightOnClickBehaviour
                            </div>
                            <div class="col-sm-8">
                                <label>
                                    <input @descRadioChecked type="radio" name="onClickBehavior" id="displayText" onclick="Highlight.DisplayText()" />
                                    <span class="lbl padding-8">@ZnodeResources.TextHighlightRdoDisplayText</span>
                                </label><br />
                                <label>
                                    <input @hyperRadioChecked type="radio" name="onClickBehavior" id="hyperlink" onclick="Highlight.Hyperlink()" />
                                    <span class="lbl padding-8">@ZnodeResources.TextHighlightRdoHyperlink</span>
                                </label>

                                @if (descRadioChecked == "checked='checked")
                                {
                                    @Html.Hidden("ShowPopupFlag", 1)
                                }
                                else
                                {
                                    @Html.Hidden("ShowPopupFlag", 0)
                                }

                            </div>
                        </div>

                        <div id="divDisplayText" class="@descCSSClass">
                            <div class="form-group">
                                <div class="col-sm-12 nopadding">
                                    @Html.LabelFor(model => model.Description)
                                </div>
                                <div class="col-sm-12 nopadding">
                                    @Html.EditorFor(model => model.Description)
                                    <span class="sub">@ZnodeResources.DescriptionHighlightDisplayText</span>
                                </div>
                            </div>
                        </div>

                        <div id="divHyperlink" class="@hyperCssClass">
                            <div class="form-group">
                                <div class="col-sm-4 nopadding">
                                    @Html.LabelFor(model => model.Hyperlink)
                                    <span class="sub">@ZnodeResources.DescriptionHighlightHyperlink</span>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Hyperlink)
                                    @Html.ValidationMessageFor(model => model.Hyperlink)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-sm-12 nopadding">
            <div class="pull-right">
                @Html.Partial("~/Views/Shared/_SaveCancelButton.cshtml", actionModel)
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/Highlight")
</div>