﻿@using Znode.Engine.MvcDemo.Helpers

@*@{Html.RenderAction("GetMessage", "MessageConfig", new { key = MvcDemoConstants.MVCDemoSplash });}*@  

<div id="layout-home">
    <div class="container-fluid">
        <div class="row">           
            <div id="top-slider" class="carousel slide" data-ride="carousel" data-interval="3000"> 
                <ol class="carousel-indicators">
                    <li data-target="#top-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#top-slider" data-slide-to="1"></li>
                    <li data-target="#top-slider" data-slide-to="2"></li>
                </ol>                              
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Images/slider-1.png" />
                        <div class="carousel-caption slide-one">
                            @{Html.RenderAction("GetMessage", "MessageConfig", new { key = MvcDemoConstants.MVCDemoSplash });}
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Images/slider-2.png" />
                        <div class="carousel-caption slide-one">
                            @{Html.RenderAction("GetMessage", "MessageConfig", new { key = MvcDemoConstants.MVCDemoSplash2 });}
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Images/slider-3.png" />
                        <div class="carousel-caption slide-one">
                            @{Html.RenderAction("GetMessage", "MessageConfig", new { key = MvcDemoConstants.MVCDemoSplash3 });}
                        </div>
                    </div>
                </div>                
            </div> 
        </div>
    </div>


    <div class="container product-slider">
        <div class="row">
            <h3>@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = MvcDemoConstants.StoreSpecialsTitle }); }</h3>
            <div id="promo-product-slider" class="owl-carousel">
                <div class="item"><img src="~/Images/product-slide-1.png" alt="Owl Image" class="img-responsive"></div>
                <div class="item"><img src="~/Images/product-slide-2.png" alt="Owl Image" class="img-responsive"></div>
                <div class="item"><img src="~/Images/product-slide-3.png" alt="Owl Image" class="img-responsive"></div>
                <div class="item"><img src="~/Images/product-slide-1.png" alt="Owl Image" class="img-responsive"></div>
                <div class="item"><img src="~/Images/product-slide-2.png" alt="Owl Image" class="img-responsive"></div>
                <div class="item"><img src="~/Images/product-slide-3.png" alt="Owl Image" class="img-responsive"></div>
                <div class="item"><img src="~/Images/product-slide-1.png" alt="Owl Image" class="img-responsive"></div>
                <div class="item"><img src="~/Images/product-slide-2.png" alt="Owl Image" class="img-responsive"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="home-wide-promo">
                <a href="/Home/contentPage?contentPageName=@Resources.ZnodeResource.PromotionalMessageContentPage">
                    <h5 class="home-promo-title">@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = MvcDemoConstants.StoreSpecials }); }</h5>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="home-product-view">
                <h3>@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = MvcDemoConstants.NewArrival }); }</h3>
                <div id="new-product-item-slider" class="owl-carousel">
                    @{ Html.RenderAction("GetHomePageSpecialsNewTheme", "Product", new { isNewProduct = true }); }
                </div>
            </div>

            <div class="home-product-view">
                <h3>@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "BestSellersTitle" }); }</h3>
                <div id="best-product-item-slider" class="owl-carousel">
                    @{ Html.RenderAction("GetHomePageSpecialsNewTheme", "Product", new { isNewProduct = false }); }
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    /*---Multiple Image Sider---*/
    $(document).ready(function () {
        $("#promo-product-slider").owlCarousel({
            autoPlay: 3000,
            items: 3,
            itemsCustom: [
              [0, 1],
              [320, 1],
              [600, 2],
              [768, 2],
              [992, 3],
              [1200, 3]
            ]
        });
        $("#new-product-item-slider, #best-product-item-slider").owlCarousel({
            autoPlay: false,
            navigation: true,
            items: 4,
            itemsCustom: [
              [0, 1],
              [320, 1],
              [480, 2],
              [600, 2],
              [768, 2],
              [992, 3],
              [1200, 4]
            ],
            navigationText: [
              "<i class='glyphicon glyphicon-chevron-left'></i>",
              "<i class='glyphicon glyphicon-chevron-right'></i>"
            ]
        });
        $("#brand-list-slider").owlCarousel({
            autoPlay: false,
            navigation: true,
            items: 6,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [979, 3],
            navigationText: [
              "<i class='glyphicon glyphicon-chevron-left'></i>",
              "<i class='glyphicon glyphicon-chevron-right'></i>"
            ]
        });
        $('.carousel').carousel({
            interval: 3000
        })

        if ($.trim($("#new-product-item-slider").html()) === "") {
            $("#new-product-item-slider").prev("h3").hide();
        }

    });
</script>