﻿@model Znode.Engine.MvcAdmin.ViewModels.EmailTemplateViewModel
@using Resources

@{
    ViewBag.Title = @ZnodeResources.HeaderMarketing + " | " + @ZnodeResources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue(MvcAdminConstants.Action).RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values[MvcAdminConstants.Controller].ToString();
}
<div class="col-sm-12 dashboard-page-container">
    <div class="col-sm-12 title-container">
        @{
            if (actionName.ToLower().Equals("create"))
            {
                <h1 class="left">@ZnodeResources.HeaderAddEmailTemplate</h1>
            }
            else
            {
                <h1 class="left">@string.Format(ZnodeResources.HeaderEmailTemplate, Model.TemplateName)</h1>
            }
        }
    </div>

    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
    {

        <div class="col-sm-12 col-md-7 col-lg-5 add-new-container email-template-create">
            @Html.ValidationSummary(true)
            <h4>@ZnodeResources.LabelTemplateDetails</h4>
            @if (Model.IsEditMode)
            {
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.TemplateName, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(model => model.TemplateName, new { @readonly = "readonly", @class = "readonly" })
                        @Html.ValidationMessageFor(model => model.TemplateName)
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <div class="col-sm-4 nopadding">
                        @Html.LabelFor(model => model.TemplateName, new { @class = "required" })
                    </div>
                    <div class="col-sm-8">
                        @if (!(Equals(Model, null)) && !(Equals(Model.DeletedTemplateNames, null)) && Model.DeletedTemplateNames.Count > 0 && @Model.IsNewAdd == false)
                        {

                            @Html.DropDownListFor(m => m.Key, Model.DeletedTemplateNames, new { @id = "ddlDeleteTemplateKeys", @Onclick = "EmailTemplate.DisplayDeletedTemplateKeyTextBox(); return false;" })
                            @Html.TextBoxFor(model => model.TemplateName, new { @id = "txtTemplateName", @style = "display:None;" })
                            <div class="pull-right">
                                <button type="button" id="btnDeleteTemplateKey" class="btn-text grey top-margin" style="display:none;" onclick="EmailTemplate.ClearSelection(); return false;">@ZnodeResources.ButtonCancel</button>
                            </div>

                            @Html.HiddenFor(model => model.TemplateName)
                        }
                        else if (!(Equals(Model.DeletedTemplateNames, null)) && Model.DeletedTemplateNames.Count > 0 && @Model.IsNewAdd)
                        {

                            @Html.DropDownListFor(m => m.Key, Model.DeletedTemplateNames, new { @id = "ddlDeleteTemplateKeys", @style = "display:None;", @Onclick = "EmailTemplate.DisplayDeletedTemplateKeyTextBox(); return false;" })
                            @Html.TextBoxFor(model => model.TemplateName, new { @id = "txtTemplateName" })
                            <div class="pull-right">
                                <button type="button" id="btnDeleteTemplateKey" class="btn-text grey top-margin" onclick="EmailTemplate.ClearSelection(); return false;">@ZnodeResources.ButtonCancel</button>
                            </div>
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.TemplateName, new { @id = "txtTemplateName" })

                        }
                        @Html.ValidationMessageFor(m => m.TemplateName)
                        <span id="valTemplateName" class="red-color"></span>
                    </div>
                </div>
            }
            <div class="form-group">
                <div>
                    <div id="pageContent">
                        <h4>@ZnodeResources.SubheaderPageContent</h4>
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                @Html.EditorFor(model => model.Html, new { id = "txtRich" })
                                <span id="valTemplateContent" class="red-color"></span>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>

                </div>
            </div>
            @Html.HiddenFor(model => model.Extension)
            @Html.HiddenFor(model => model.IsNewAdd)
            @Html.HiddenFor(model => model.HtmlStringForm)
            <div class="pull-right">
                <button type="submit" id="btnsubmit" class="btn-text red" title="@ZnodeResources.ButtonSubmitRequest "> @ZnodeResources.ButtonSubmitRequest</button>
                <button type="button" class="btn-text grey" title="@ZnodeResources.ButtonCancel" onclick="javascript: location.href = '/EmailTemplate/List';">@ZnodeResources.ButtonCancel</button>
            </div>
        </div>
    }
</div>

@Scripts.Render("~/bundles/EmailTemplate")
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(testTimeout, 500);
    });

    function testTimeout() {
        EmailTemplate.Load();
    }
</script>
