﻿@model Znode.Engine.MvcAdmin.Models.ReportModel
@using Resources
@{
    ViewBag.Title = @ZnodeResources.HeaderMarketing + " | " + @ZnodeResources.TitleMultifront;
}

<div id="grid-container">
    <div class="col-sm-12 dashboard-page-container">
        <div class="col-sm-12 title-container">
            <h1 class="left">
                @ZnodeResources.HeaderEmailTemplate
            </h1>
            <button class="btn-text-icon red pull-right" title="@ZnodeResources.ButtonAdd" onclick="javascript:location.href='@Url.Content("Create")'"><i class="glyphicon glyphicon-plus"></i>@ZnodeResources.ButtonAdd</button>
        </div>
        <div class="col-sm-12 search-container">
            <p class="left">@ZnodeResources.SubHeadingEmailTemplate</p>
        </div>
        <div class="col-sm-12 product-search">
            <h3 data-toggle="collapse" href="#collapseOne" class="accordion-toggle">@ZnodeResources.TitleSearch</h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                @using (Ajax.BeginForm("List", "EmailTemplate", new AjaxOptions() { UpdateTargetId = "grid-container", OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
                {
                    <div id="filterComponent" class="panel-body">
                        @Html.Partial("~/Views/Filter/_FilterComponent.cshtml", Model.FilterColumn)
                    </div>
                }
            </div>

        </div>
        <div class="col-sm-12 list-container email-template">
            <div class="col-sm-12 nopadding">
                @Html.Partial("~/Views/Filter/_DynamicGrid.cshtml", Model)
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/EmailTemplate")
<script>
    $(document).ready(function () {
        EmailTemplate.Load();
        toggleMessage ="@Html.Raw(ZnodeResources.DeleteConfirmationEmailTemplateMessage)";
        toggleTitle = "@ZnodeResources.HeaderPleaseConfirm";
        $(".z-view").attr('title', 'Preview')
    });
</script>