﻿@using Znode.Engine.MvcDemo.ViewModels
@using Znode.Engine.MvcDemo.Helpers
@using Resources
@model ProductViewModel

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="col-xs-12 nopadding product-item">
    <a href="#" class="remove-compare float-right" title="@ZnodeResource.LinkTextRemove" data-productid="@Model.ProductId"><i class="zf-close"></i></a>

    @if (Model.IsCallForPricing)
    {
        <div class="col-xs-12 nopadding price margin-bottom">@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "ProductCallForPricing" }); }</div>
    }
    else if (!Model.ShowAddToCart)
    {
        <div class="col-xs-12 nopadding status-outofstock margin-bottom">@Model.InventoryMessage</div>
    }
    else
    {
        <form id="addtocart-form" method="post" action="/Product/AddToCart">
            <input type="hidden" id="dynamic-productId" name="ProductId" value="@Model.ProductId" />
            <input type="hidden" id="dynamic-productName" name="ProductName" value="@Model.Name" />
            <input type="hidden" id="dynamic-sku" name="sku" value="@Model.Sku" />
            <input type="hidden" id="dynamic-price" value="@Model.Price" />
            <input type="hidden" id="dynamic-bundleItemsIds" name="bundleItemsIds" value="@Model.BundleItemsIds" />
            <input type="hidden" id="dynamic-seoPageName" name="SeoPageName" value="@Model.SeoPageName" />
            <input type="hidden" id="dynamic-quantity" name="Quantity" value="1" />
            @if (!Equals(Model.AddOns, null) && Model.AddOns.Any())
            {
                <input type="hidden" id="dynamic-addonvalueid" name="AddOnValueIds" value="@string.Join(",", Model.AddOns.Where(x => x.SelectedAddOnValue != null).SelectMany(x => x.SelectedAddOnValue))" />
            }

            <button type="submit" class="btn-text-full red pull-right margin-bottom" id="button-addtocart" @(!Model.ShowAddToCart ? "disabled=disabled" : "")><i class="zf-cart"></i> @Resources.ZnodeResource.ButtonAddToCart</button>
        </form>
    }

    <div class="col-xs-12 nopadding">
        <img src="@Model.ImageSmallPath" alt="@Model.ImageAltTag" class="img-responsive" />
    </div>
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            @Html.Label(@ZnodeResource.LabelProductName)
        </div>

        <div class="col-xs-12 nopadding">
            @if (Equals(Model.Name, null) || Equals(Model.Name, ""))
            {
                @Html.Label("-")
            }
            else
            {
                @WebUtility.HtmlDecode(Model.Name)
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 nopadding">
            @Html.Label(@ZnodeResource.ColumnTitlePrice)
        </div>
        <div class="col-xs-12 nopadding">
            @if (Model.IsCallForPricing)
            {
                <div class="price">@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = "ProductCallForPricing" }); }</div>
            }
            else
            {
                <div class="price">
                    @HelperMethods.FormatPriceWithCurrency(Model.ProductPrice)
                </div>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 nopadding">
            @Html.Label(@ZnodeResource.TextCustomerReviews)
        </div>
        <div class="col-xs-12 nopadding product-rating">
            @Html.Partial("_StarRating", Model.Rating)
            @{
                int totalreviews = 0;

                if (Model.ProductReviews != null && Model.ProductReviews.Items.Any())
                {
                    totalreviews = Model.ProductReviews.Items.Count();
                }
            }
            (@totalreviews) <a href="@Url.GetProductUrl(Model.SeoPageName, Model.ProductId.ToString())#scrollReview" id="jumpto-readreviews-productTile">@Resources.ZnodeResource.LinkTextReadReviews</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            @Html.Label(@ZnodeResource.LabelBrandName)
        </div>
        <div class="col-xs-12 nopadding">
            @if (Equals(Model.Manufacturer, null) || Equals(Model.Manufacturer, ""))
            {
                @Html.Label("-")
            }
            else
            {
                @Model.Manufacturer
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            @Html.Label(@ZnodeResource.LabelWeight)
        </div>
        <div class="col-xs-12 nopadding">
            @if (Equals(Model.Weight, null) || Equals(Model.Weight, 0))
            {
                @Html.Label("-")
            }
            else
            {
                <span>@Model.Weight</span>
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            @Html.Label(@ZnodeResource.LabelLength)
        </div>
        <div class="col-xs-12 nopadding">
            @if (Equals(Model.Length, null) || Equals(Model.Length, 0))
            {
                @Html.Label("-")
            }
            else
            {
                <span>@Model.Length</span>
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            @Html.Label(@ZnodeResource.LabelWidth)
        </div>
        <div class="col-xs-12 nopadding">
            @if (Equals(Model.Width, null) || Equals(Model.Width, 0))
            {
                @Html.Label("-")
            }
            else
            {
                <span>@Model.Width</span>
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 nopadding">
            @Html.Label(@ZnodeResource.LabelDescription)
        </div>
        <div class="col-xs-12 nopadding">
            @if (Equals(Model.Description, null) || Equals(Model.Description, ""))
            {
                @Html.Label("-")
            }
            else
            {
                @Html.Raw(@Model.Description)
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 nopadding">
            @Html.Label(@ZnodeResource.LabelFeatureDescription)
        </div>
        <div class="col-xs-12 nopadding">
            @if (Equals(Model.FeaturesDescription, null) || Equals(Model.FeaturesDescription, ""))
            {
                @Html.Label("-")
            }
            else
            {
                @Html.Raw(@Model.FeaturesDescription)
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 nopadding">
            @Html.Label(@ZnodeResource.LabelProductSpecification)
        </div>
        <div class="col-xs-12 nopadding">
            @if (Equals(Model.ProductSpecification, null) || Equals(Model.ProductSpecification, ""))
            {
                @Html.Label("-")
            }
            else
            {
                @Html.Raw(@Model.ProductSpecification)
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12 nopadding">
            @Html.Label(@ZnodeResource.LabelMaxQuantity)
        </div>
        <div class="col-xs-12 nopadding">
            @if (Equals(Model.MaxQuantity, null) || Equals(Model.MaxQuantity, 0))
            {
                @Html.Label("-")
            }
            else
            {
                @Model.MaxQuantity.ToString();
            }
        </div>
    </div>

    <div class="col-xs-12 nopadding">
        @foreach (var attribute in Model.ProductAttributes.Attributes)
        {
            <div class="col-xs-12 nopadding">
                @Html.Label(attribute.Name)
            </div>
            <div class="col-xs-12 nopadding">
                @foreach (var dropdownAttribute in attribute.DropdownAttributes)
                {
                    <p>@dropdownAttribute.Text</p>
                }
            </div>
        }
    </div>    
</div>
