﻿@using System.Web.UI.WebControls
@using Znode.Engine.MvcDemo.Helpers
@using Znode.Engine.MvcDemo.ViewModels
@model ProductViewModel

@{
    ViewBag.Description = Model.SeoDescription;
    ViewBag.Keywords = Model.SeoKeywords;
}

<div id="layout-product" class="product-meta" data-id="@Model.ProductId">    
        <div class="row product-view-details">
            <div class="col-xs-12 col-lg-5 product-images">
                <div class="col-sm-12 nopadding image-view text-center">
                    @if (Model.IsNewProduct)
                    {
                        <img src="~/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag" />
                    }
                    <img id="product-image" src="@Model.ImageMediumPath" data-src="@Model.ImageMediumPath" alt="@Model.ImageAltTag" class="img-responsive quick-product-img" />                   
                </div>

                @if (!Equals(Model.Images, null) && Model.Images.Any())
                {

                    <div class="col-sm-12 nopadding product-altimages">
                        <div id="alt-images" class="owl-carousel alternate-img">
                            @foreach (var image in Model.Images)
                            {
                                <div class="item">
                                    <a href="@image.ImageLargePath" data-lightbox="enlarge" title="@image.Name">
                                        <img src="@image.ImageSmallPath" class="img-responsive" data-src="@image.ImageSmallPath" alt="@image.ImageAltTag" />
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }

            </div>
            <div class="col-xs-12 col-lg-7 product-overview">
                <h1 class="product-name">@WebUtility.HtmlDecode(Model.Name)</h1>
                <div class="col-xs-12 product-price nopadding">
                    @if (!Model.IsCallForPricing)
                    {
                        <h2>
                            @HelperMethods.FormatPriceWithCurrency(Model.ProductPrice)
                            @if (!Equals(Model.Price, @Model.ProductPrice))
                            {
                                <span class="cut-price">@HelperMethods.FormatPriceWithCurrency(Model.Price)</span>
                            }
                        </h2>
                    }
                </div>

                <div class="col-xs-12 col-sm-12 product-variations nopadding">
                    <form id="addtocart-form" method="post" action="/Product/AddToCart">
                        <input type="hidden" id="dynamic-productId" name="productId" value="@Model.ProductId" />
                        <input type="hidden" id="dynamic-productName" name="ProductName" value="@Model.Name" />
                        <input type="hidden" id="dynamic-sku" name="sku" value="@Model.Sku" />
                        <input type="hidden" id="dynamic-price" value="@Model.Price" />
                        <input type="hidden" id="dynamic-bundleItemsIds" name="bundleItemsIds" value="@Model.BundleItemsIds" />
                        <input type="hidden" id="dynamic-seoPageName" name="SeoPageName" value="@Model.SeoPageName" />
                        @if (!Equals(Model.AddOns, null) && Model.AddOns.Any())
                        {
                            <input type="hidden" id="dynamic-addons" name="AddOnValueIds" value="@string.Join(",", Model.AddOns.Where(x => x.SelectedAddOnValue != null).SelectMany(x => x.SelectedAddOnValue))" />
                            <input type="hidden" id="dynamic-addonvaluecustomtext" name="AddOnValuesCustomText" />
                        }
                        <div class="col-xs-12 nopadding your-pricing">
                            <div class="col-sm-8 nopadding">
                                @if (!Model.IsCallForPricing)
                                {
                                <div class="price">
                                    <span>@Resources.ZnodeResource.ColumnYourPrice</span>
                                    @if (Model.Price == Model.OriginalPrice)
                                        {
                                        <h3 class="dynamic-product-price">@HelperMethods.FormatPriceWithCurrency(Model.ProductPrice)</h3>
                                        }
                                        else
                                        {
                                        <h3 class="dynamic-product-price">@HelperMethods.FormatPriceWithCurrency(Model.OriginalPrice)</h3>
                                        }
                                </div>
                                }
                            </div>
                            <div class="col-sm-4 nopadding">
                                <button type="submit" class="btn-card red" id="button-addtocart" @(!Model.ShowAddToCart ? "disabled=disabled" : "")> <i class="f-size zf-cart header-toolbar-cart"></i> @Resources.ZnodeResource.ButtonAddToCart</button>
                            </div>
                        </div>

                        <div class="col-xs-12 product-customize nopadding">
                            @if (!Equals(Model.SwatchImages, null) && Model.SwatchImages.Any())
                            {
                                <div class="col-sm-12 swatch-img-container">
                                    <label>@Resources.ZnodeResource.TextSwatchOnDetailPage</label>
                                    <ul class="swatch-img">
                                        @foreach (var image in Model.SwatchImages)
                                        {
                                            <li>
                                                <img src="@image.ImageSmallThumbnailPath" class="SwatchImage img-responsive" alt="@image.ImageAltTag" title="@image.ImageAltTag" data-largesrc="@image.ImageLargePath" data-mediumsrc="@image.ImageMediumPath" />
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }

                            <div class="col-sm-12 addrons-attributs">
                                <div class="col-sm-12 nopadding" id="dynamic-product-variations">
                                    @{ Html.RenderPartial("_attributes"); }
                                </div>
                                <div class="col-sm-12 nopadding" id="dynamic-product-addons">
                                    @Html.Partial("_Addons")
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 product-wishlist nopadding">
                            <div class="col-xs-12 nopadding">
                                <button type="button" data-id="@Model.ProductId" class="btn-wishlist button-wishlist"><i class="zf-heart"></i>@Resources.ZnodeResource.ButtonAddToWishlist</button>
                                <a href="/search?category=@WebUtility.UrlEncode(Model.CategoryName)" class="btn-wishlist"><i class="zf-small-arrow"></i>@Resources.ZnodeResource.LinkSeeMore @Model.CategoryName</a>
                            </div>                           
                        </div>
                    </form>
                </div>


            </div>
            @Html.HiddenFor(model => model.IsQuickView, new { @id="hdnQuickView"})
        </div>    
</div>

<script id="tmpl-wishliststatus" type="text/template">
    <div class="col-xs-12 nopadding wishlist-status {{style}}"><a href="{{link}}" class="success-msg">{{message}}</a></div>
</script>
