﻿@using Znode.Engine.MvcDemo.ViewModels
@using Znode.Engine.MvcDemo.Helpers
@model ReviewItemViewModel

<div id="layout-writereview" class="main-wrapper">
    <div class="container">
        <div class="row write-review">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">@Resources.ZnodeResource.TitleProductReview</h1>
            </div>
            <div class="col-xs-12 col-sm-7 col-lg-6 nopadding">
                <form method="POST" action="/Product/Writereview/@Model.ProductId" class="form">
                    @Html.ValidationSummary(true)
                    <div class="col-xs-12 nopadding">
                        <div class="form-group">
                            <div class="col-xs-12 nopadding"><label>@Resources.ZnodeResource.ColumnReviewFor</label></div>
                            <div class="col-xs-12 nopadding">@Model.Product.Name</div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 nopadding"><label>@Resources.ZnodeResource.ColumnRating</label></div>
                            <div class="col-xs-12 nopadding star-rating setrating">
                                <label for="set-rating1" class="glyphicon glyphicon-star star1 full" data-stars="1"></label>
                                <label for="set-rating2" class="glyphicon glyphicon-star star2 @(Model.Rating >= 2 ? "full" : "empty")" data-stars="2"></label>
                                <label for="set-rating3" class="glyphicon glyphicon-star star3 @(Model.Rating >= 3 ? "full" : "empty")" data-stars="3"></label>
                                <label for="set-rating4" class="glyphicon glyphicon-star star4 @(Model.Rating >= 4 ? "full" : "empty")" data-stars="4"></label>
                                <label for="set-rating5" class="glyphicon glyphicon-star star5 @(Model.Rating >= 5 ? "full" : "empty")" data-stars="5"></label>
                                @{
                                    for (int i = 1; i <= 5; i++)
                                    {
                                        <input type="radio" name="Rating" id="@("set-rating"+i)" value="@i" @(Model.Rating >= i ? "checked" : "") />
                                    }
                                }
                                <p class="error-msg">@Html.ValidationMessageFor(m => m.Rating)</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 nopadding">
                                <label for="review_subject" class="required">@Resources.ZnodeResource.ColumnReviewHeadline</label>
                            </div>
                            <div class="col-xs-12 nopadding">
                                @Html.TextBoxFor(m => m.Subject, new { @id = "review_subject", @class = "form-input-long" })
                                <p class="error-msg">@Html.ValidationMessageFor(m => m.Subject)</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 nopadding">
                                <label for="review_text" class="required">@Resources.ZnodeResource.ColumnReview</label>
                            </div>
                            <div class="col-xs-12 nopadding">
                                @Html.TextAreaFor(m => m.Comments, new { @id = "review_text", rows = "8", cols = "45" })
                                <p class="error-msg">@Html.ValidationMessageFor(m => m.Comments)</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 nopadding">
                                <label for="review_name" class="required">@Resources.ZnodeResource.ColumnReviewName</label>
                            </div>
                            <div class="col-xs-12 nopadding">
                                @Html.TextBoxFor(m => m.CreateUser, new { @id = "review_name" })
                                <p class="form-error">@Html.ValidationMessageFor(m => m.CreateUser)</p>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-xs-12 nopadding">
                                <label for="review_location" class="required">@Resources.ZnodeResource.ColumnReviewLocation</label>
                            </div>
                            <div class="col-xs-12 nopadding">
                                @Html.TextBoxFor(m => m.UserLocation, new { @id = "review_location" })
                                <p class="error-msg">@Html.ValidationMessageFor(m => m.UserLocation)</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 nopadding">
                        <p class="sub">@Resources.ZnodeResource.TextReviews</p>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <div class="pull-right margin-top-bottom">
                            <button type="submit" class="btn-text red">@Resources.ZnodeResource.ButtonSubmitReview</button>
                            <a href="@Url.GetProductUrl(Model.Product.SeoPageName, Convert.ToString(Model.ProductId))" class="btn-text grey">@Resources.ZnodeResource.ButtonCancel</a>
                        </div>
                    </div>
                    <input type="hidden" name="name" id="name" value="@Model.Product.Name" />
                </form>
            </div>
        </div>
    </div>
</div>

