﻿@using Znode.Engine.MvcDemo.ViewModels
@using Znode.Engine.MvcDemo.Helpers
@model CartViewModel

<div class="col-xs-12 nopadding cart-total">
    <div class="form-group">
        <div class="col-xs-6 nopadding">
            <p>@Resources.ZnodeResource.ColumnSubTotal</p>
        </div>
        <div class="col-xs-6 nopadding" id="dynamic-order-subtotal">
            <p>@HelperMethods.FormatPriceWithCurrency(Model.SubTotal)</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6 nopadding">
            <p>@Resources.ZnodeResource.ColumnDiscounts</p>
        </div>
        <div class="col-xs-6 nopadding" id="dynamic-discount-amount">
            <p>@HelperMethods.FormatPriceWithCurrency(0 - Model.Discount)</p>
        </div>
    </div>
    @if (Model.TaxCost > 0)
    {
        <div class="form-group">
            <div class="col-xs-6 nopadding">
                <p>@Resources.ZnodeResource.ColumnTax</p>
            </div>
            <div class="col-xs-6 nopadding" id="dynamic-tax-amount">
                <p>@HelperMethods.FormatPriceWithCurrency(Model.TaxCost)</p>
            </div>
        </div>
    }

    @if (Model.ShippingCost > 0)
    {
        <div class="form-group">
            <div class="col-xs-6 nopadding">
                <p>@Resources.ZnodeResource.ColumnShipping</p>
            </div>
            <div class="col-xs-6 nopadding">
                <p>@HelperMethods.FormatPriceWithCurrency(Model.ShippingCost)</p>
            </div>
        </div>
    }

    <div class="form-group total">
        <div class="col-xs-6 nopadding">
            <h2>@Resources.ZnodeResource.ColumnOrderTotal</h2>
        </div>
        <div class="col-xs-6 nopadding" id="dynamic-order-total">
            <h2>@HelperMethods.FormatPriceWithCurrency(Model.Total)</h2>
        </div>
    </div>


</div>
