﻿@using Znode.Engine.MvcDemo.ViewModels
@using Znode.Engine.MvcDemo.Helpers
@model CartViewModel

<div id="layout-cart">
    <div class="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 nopadding shopping-cart">
                    <div class="col-xs-12 nopadding">
                        <h1 class="page-title">Shopping Cart</h1>
                    </div>
                    <div class="col-xs-12 cart-total-title nopadding">
                        <h2>@Resources.ZnodeResource.TextYourTotal <strong id="dynamic-cart-order-total">@HelperMethods.FormatPriceWithCurrency(Model.Total)</strong> <span>@Resources.ZnodeResource.ColumnFor @Model.Count items</span></h2>
                    </div>
                    @if (Model.Items.Any())
                {
                        <div class="col-xs-12 table-responsive cart-products nopadding">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Item(s)</th>
                                        <th>@Resources.ZnodeResource.ColumnTitleItemPrice</th>
                                        <th>@Resources.ZnodeResource.ColumnTitleQuantity</th>
                                        <th>@Resources.ZnodeResource.ColumnTitleTotal</th>
                                    </tr>
                                </thead>
                                @foreach (var cartItem in Model.Items)
                            {
                                    @Html.Partial("_CartRow", cartItem)
                            }
                            </table>
                        </div>

                        <div class="col-xs-12 cart-summary nopadding">

                            <div class="col-xs-12 col-sm-6 nopadding">
                                <div class="col-xs-12 nopadding">
                                    @using (Html.BeginForm("RemoveAllCartItems", "Cart", FormMethod.Post))
                                {
                                        <a href="#" class="cart-item-remove-all" style="width:200px;"><i class="zf-close"></i> @Resources.ZnodeResource.TextRemoveAllCartItems</a>
                                }
                                </div>

                                <div class="col-sm-6 nopadding cart-promocode">
                                    <form id="cart-promocode-container">
                                        <div class="form-group">
                                            <div class="col-xs-12 nopadding">
                                                <p>@Resources.ZnodeResource.TextPromoCode</p>
                                            </div>
                                            <div class="col-xs-12 nopadding">
                                                <div class="input-group" id="cart-apply-promocode">
                                                    <input type="text" id="promocode" name="Coupon" class="form-input" size="40" />
                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn-text red">@Resources.ZnodeResource.ButtonApply</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        @Html.Partial("_PromoCodes", Model)
                                    </form>
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-6 nopadding">
                                @Html.Partial("_TotalTable", Model)
                                <div class="cart-total-footnote pull-right">@{ Html.RenderAction("GetMessage", "MessageConfig", new { key = MvcDemoConstants.ShoppingCartFooterText }); }</div>
                            </div>
                        </div>

                        <div class="col-xs-12 cart-btn nopadding">
                            <div class="pull-right margin-top-bottom">
                                <a href="/" class="btn-text-icon grey"><i class="zf-checkout"></i> @Resources.ZnodeResource.ButtonContinueShopping</a>
                                <a href="/Checkout" class="btn-text-icon red"><i class="zf-checkout"></i> @Resources.ZnodeResource.ButtonCheckout</a>
                            </div>
                        </div>

                }
                else
                {
                        <div class="col-xs-12 nopadding cart-summary">
                            <p class="text-center">@Resources.ZnodeResource.ErrorNoCartItemsFound</p>
                        </div>

                }
                </div>
            </div>
        </div>
    </div>
</div>
